:markdown
	XSEDE is led by the University of Illinois' National Center for Supercomputing Applications. 

	## XSEDE Partners

<table>
<tbody>
<tr>
<td> <a href="http://www.cac.cornell.edu" target="_blank">Center for Advanced Computing</a></td>
<td> <a href="http://www.cornell.edu" target="_blank">Cornell University</a></td>
</tr>
<tr>
<td> <a href="https://www.ceismc.gatech.edu" target="_blank">Center for Education Integrating Science, Mathematics, and Computing</a></td>
<td> <a href="http://www.gatech.edu" target="_blank">Georgia Institute of Technology</a></td>
</tr>
<tr>
<td> <a href="http://pti.iu.edu" target="_blank">Pervasive Technology Institute</a></td>
<td> <a href="https://www.iu.edu" target="_blank">Indiana University</a></td>
</tr>
<tr>
<td> <a href="http://ncar.ucar.edu" target="_blank">National Center for Atmospheric Research</a></td>
</tr>
<tr>
<td> <a href="http://www.ncsa.illinois.edu" target="_blank">National Center for Supercomputing Applications</a></td>
<td> <a href="http://illinois.edu" target="_blank">University of Illinois at Urbana-Champaign</a></td>
</tr>
<tr>
<td> <a href="https://www.nics.tennessee.edu" target="_blank">National Institute for Computational Sciences</a></td>
<td> <a href="http://www.utk.edu" target="_blank">University of Tennessee, Knoxville</a></td>
</tr>
<tr>
<td> <a href="http://hpc.it.okstate.edu" target="_blank">High Performance Computing Center</a></td>
<td> <a href="http://go.okstate.edu" target="_blank">Oklahoma State University</a></td>
</tr>
<tr>
<td> <a href="https://www.osc.edu" target="_blank">Ohio Supercomputer Center</a></td>
</tr>
<tr>
<td> <a href="http://www.oscer.ou.edu" target="_blank">Supercomputing Center for Education &amp; Research</a></td>
<td> <a href="http://www.ou.edu" target="_blank">Oklahoma University</a></td>
</tr>
<tr>
<td> <a href="http://www.psc.edu" target="_blank">Pittsburgh Supercomputing Center</a></td>
</tr>
<tr>
<td> <a href="https://www.rcac.purdue.edu" target="_blank">Rosen Center for Advanced Computing</a></td>
<td> <a href="http://purdue.edu" target="_blank">Purdue University</a></td>
</tr>
<tr>
<td> <a href="http://www.sdsc.edu" target="_blank">San Diego Supercomputer Center</a></td>
<td> <a href="https://ucsd.edu" target="_blank">University of California San Diego</a></td>
</tr>
<tr>
<td> <a href="http://shodor.org" target="_blank">Shodor</a></td>
</tr>
<tr>
<td> <a href="http://www6.sura.org" target="_blank">Southeastern Universities Research Association</a></td>
</tr>
<tr>
<td> <a href="https://www.tacc.utexas.edu" target="_blank">Texas Advanced Computing Center</a></td>
<td> <a href="http://www.utexas.edu" target="_blank">University of Texas at Austin</a></td>
</tr>
<tr>
<td> <a href="http://hpc.uark.edu" target="_blank">Arkansas High Performance Computing Center</a></td>
<td> <a href="http://www.uark.edu" target="_blank">University of Arkansas</a></td>
</tr>
<tr>
<td> <a href="http://www.anl.gov">Argonne National Laboratory</a></td>
</tr>
<tr>
<td> <a href="http://www.terry.uga.edu" target="_blank">Terry College of Business</a></td>
<td> <a href="http://uga.edu" target="_blank">University of Georgia</a></td>
</tr>
<tr>
<td> <a href="http://www.isi.edu/home" target="_blank">Information Sciences Institute</a></td>
<td> <a href="http://www.usc.edu" target="_blank">University of Southern California</a></td>
</tr>
</tbody>
</table>

:markdown

	* <a href="https://www.xsede.org/web/sp-forum">Service Providers Forum</a>
	* <a href="https://www.xsede.org/xsede-advisory-board">XSEDE Advisory Board</a>
	* <a href="https://www.xsede.org/user-advisory-committee">XSEDE User Advisory Committee</a>

	The partnership's leadership team includes:

%table(border="1" cellspacing="3")
	%tr
		%td John Towns<br>National Center for Supercomputing Applications<br>University of Illinois at Urbana-Champaign<br><a href="mailto:jtowns@ncsa.illinois.edu">jtowns@ncsa.illinois.edu</a>
	%tr
		%td Kelly Gaither<br>Texas Advanced Computing Center<br>University of Texas at Austin<br><a href="mailto:kelly@tacc.utexas.edu">kelly@tacc.utexas.edu</a>

	%tr
		%td Nancy Wilkins-Diehr<br>San Diego Supercomputer Center<br>University of California, San Diego<br><a href="mailto:wilkinsn@sdsc.edu">wilkinsn@sdsc.edu</a>

	%tr
		%td Ralph Roskies<br>Pittsburgh Supercomputing Center<br>Carnegie Mellon University/University of Pittsburgh<br><a href="mailto:roskies@psc.edu">roskies@psc.edu</a>

:markdown
	Questions from the public and the media about the XSEDE project should be directed to:

	Kristin Williamson
	NATIONAL CENTER FOR SUPERCOMPUTING APPLICATIONS
	University of Illinois at Urbana-Champaign
	<a href="mailto:kwillia8@illinois.edu">kwillia8@illinois.edu</a> / 217-343-1594

