:markdown
	The national cyberinfrastructure ecosystem is powered by a broad set of Service Providers (SP). The XSEDE Federation primarily consists of SPs that are autonomous entities that agree to coordinate with XSEDE and each other to varying degrees. The XSEDE Federation may also include other non-service provider organizations.

	Service Providers are projects or organizations that provide cyberinfrastructure (CI) services to the science and engineering community. In the US academic community, there is a rich diversity of SPs, spanning centers that are funded by NSF to operate large-scale resources for the national research community to universities that provide resources and services to their local researchers. The Service Provider Forum is intended to facilitate this ecosystem of SPs, thereby advancing the science and engineering researchers that rely on these cyberinfrastructure services. The SP Forum provides:

	* An open forum for discussion of topics of interest to the SP community.
	* A formal communication channel between the SP Forum members and the XSEDE project.

	SPs are classified as being at a specific level by meeting a minimum set of conditions.They may meet additional conditions at their option, but classification at a specific level will be based on the stated required minimum conditions.

	Briefly, Level 1 SPs meet all the XSEDE integration requirements and will explicitly share digital services with the broader community. Level 2 SPs make some digital services accessible via XSEDE. And Level 3 SPs are the most loosely coupled; they will share the characteristics of their services via XSEDE, but need not make those services available beyond their local community. For more detailed descriptions, see the documents linked below.

:markdown
	## Leadership

	SP Forum Elected Officers (as of January 1, 2016):

	* Chair: Dan Stanzione 
	* Vice Chair: J. Ray Scott 
	* SPF Reps to the XAB: Craig Stewart, Shawn Strande 
	* Level 2 Chair: Mike Showerman 
	* Level 3 Chair: Dana Brunson 

<h2> Charter</h2>
<a href="https://www.xsede.org/documents/10157/281380/SPF_Definition_v10.2_130716.pdf/3d16bfb5-a742-4cea-ada2-0c0ddb06e1ac">XD Service Providers Forum: Charter, Membership, and Governance</a>

<h2> Application</h2>
<a href="https://www.xsede.org/web/sp-forum/spf-membership/" rel="noreferrer" target="_blank">Forum Membership Application</a>
<h2> Membership</h2>
The current accepted XSEDE Federation Service Providers are:

<table border="1" cellspacing="3" cellpadding="3">
<tr> 
<th> SERVICE PROVIDER </th>
<th> SP LEVEL </th>
<th> REPRESENTATIVE </th>
<th> INSTITUTION </th>
</tr>
<tr>
<td> Stampede </td>
<td> Level 1 </td>
<td> Dan Stanzione </td>
<td> Univ of Texas at Austin </td>
</tr>
<tr>
<td> Maverick </td>
<td> Level 1 </td>
<td> Kelly Gaither </td>
<td> Univ of Texas at Austin </td>
</tr>
<tr>
<td> Comet </td>
<td> Level 1 </td>
<td> Mike Norman; Bob Sinkovitz &amp; Shawn Strande </td>
<td> San Diego Supercomputer Center </td>
</tr>
<tr>
<td> Wrangler </td>
<td> Level 1 </td>
<td> Dan Stanzione </td>
<td> Texas Advanced Computing Center </td>
</tr>
<tr>
<td> Jetstream </td>
<td> Level 1 </td>
<td> Craig Stewart </td>
<td> Indiana University </td>
</tr>
<tr>
<td> Bridges</td>
<td> Level 1</td>
<td> Nicholas A. Nystrom</td>
<td> Pittsburgh Supercomputing Center (PSC)</td>
</tr>
<tr>
<td> NCAR </td>
<td> Level 2 </td>
<td> Irfan Elahi &amp; Eric Newhouse </td>
<td> NCAR </td>
</tr>
<tr>
<td> Indiana University </td>
<td> Level 2 </td>
<td> Craig Stewart </td>
<td> Indiana University </td>
</tr>
<tr>
<td> OSG </td>
<td> Level 2 </td>
<td> Miron Livny </td>
<td> Univ of Wisconsin </td>
</tr>
<tr>
<td> Blue Waters </td>
<td> Level 2 </td>
<td> Bill Kramer </td>
<td> NCSA/Univ of Illinois </td>
</tr>
<tr>
<td> SuperMIC </td>
<td> Level 2 </td>
<td> Seung-Jong (Jay) Park and Steve Brandt </td>
<td> Louisiana State University </td>
</tr>
<tr>
<td> Rosen Center</td>
<td> Level 2</td>
<td> Carol Song</td>
<td> Purdue University</td>
</tr>
<tr>
<td> Stanford Research Computing Center</td>
<td> Level 2</td>
<td> Ruth Marinshaw</td>
<td> Stanford University</td>
</tr>
<tr>
<td> Beacon</td>
<td> Level 2</td>
<td> Gregory D. Peterson</td>
<td> UTK/NICS</td>
</tr>
<tr>
<td> Science Gateways Community Institute</td>
<td> Level 2</td>
<td> Nancy Wilkins-Diehr</td>
<td> Science Gateways Community Institute</td>
</tr>
<tr>
<td> Rutgers Discovery Informatics Institute (RDI2) </td>
<td> Level 3 </td>
<td> Manish Parashar </td>
<td> Rutgers University </td>
</tr>
<tr>
<td> Minnesota Supercomputing Institute (MSI) </td>
<td> Level 3 </td>
<td> Jeff McDonald </td>
<td> Minnesota Supercomputing Institute </td>
</tr>
<tr>
<td> Oklahoma State University High Performance Computing Center (OSUHPCC) </td>
<td> Level 3 </td>
<td> Dana Brunson </td>
<td> Oklahoma State University </td>
</tr>
<tr>
<td> Institute for Cyber-­Enabled Research (iCER) </td>
<td> Level 3 </td>
<td> Andy Keen </td>
<td> Michigan State University </td>
</tr>
<tr>
<td> Oklahoma University Supercomputing Center for Education &amp; Research (OSCER) </td>
<td> Level 3 </td>
<td> Henry Neeman </td>
<td> The University of Oklahoma </td>
</tr>
<tr>
<td> USDA-PBARC (Moana) </td>
<td> Level 3 </td>
<td> Brian Hall, Scott Geib </td>
<td> University of Hawaii </td>
</tr>
<tr>
<td> Arkansas High Performance Computing Center (AHPCC) </td>
<td> Level 3 </td>
<td> Jeff Pummill </td>
<td> University of Arkansas </td>
</tr>
<tr>
<td> DataONE </td>
<td> Level 3 </td>
<td> Bruce Wilson </td>
<td> University of New Mexico </td>
</tr>
<tr>
<td> Institute for Computational Research in Engineering and Science (ICRES) </td>
<td> Level 3 </td>
<td> Daniel Andresen </td>
<td> Kansas State University </td>
</tr>
<tr>
<td> Research Technology (RT) </td>
<td> Level 3 </td>
<td> Shawn Doughty </td>
<td> Tufts University </td>
</tr>
<tr>
<td> ORION computational resources </td>
<td> Level 3 </td>
<td> Suranga Edirisinghe </td>
<td> Georgia State University (GSU) </td>
</tr>
<tr>
<td> Advanced Research Computing – Technology Services (ARC-TS) </td>
<td> Level 3 </td>
<td> Brock Palen </td>
<td> University of Michigan </td>
</tr>
<tr>
<td> Palmetto </td>
<td> Level 3 </td>
<td> Jim Bottom </td>
<td> Clemson University </td>
</tr>
<tr>
<td> Langston University Computing Center for Research and Education (LUCCRE) </td>
<td> Level 3 </td>
<td> Franklin Fondjo-Fotou </td>
<td> Langston University </td>
</tr>
<tr>
<td> Holland Computing Center (HCC) </td>
<td> Level 3 </td>
<td> David Swanson </td>
<td> University of Nebraska </td>
</tr>
<tr>
<td> University of Wyoming </td>
<td> Level 3 </td>
<td> Tim Brewer </td>
<td> University of Wyoming </td>
</tr>
<tr>
<td> West Virginia University Research Computing Group </td>
<td> Level 3 </td>
<td> Nathan Gregg </td>
<td> West Virginia University </td>
</tr>
<tr>
<td> ROGER </td>
<td> Level 3 </td>
<td> Shaowen Wang and Anand Padmanabhan </td>
<td> NCSA </td>
</tr>
<tr>
<td> NCGAS </td>
<td> Level 3 </td>
<td> Thomas Doak and Robert Henschel </td>
<td> Indiana University </td>
</tr>
<tr>
<td> Research Computing Group at USD</td>
<td> Level 3</td>
<td> Douglas M. Jennewein</td>
<td> University of South Dakota</td>
</tr>
<tr>
<td> University of Colorado-Boulder's Research Computing Group</td>
<td> Level 3</td>
<td> Thomas Hauser</td>
<td> University of Colorado-Boulder</td>
</tr>
</tbody>
</table>
    
<h2>Former XSEDE Federation Service Providers</h2>

<table cellspacing="3" border="1">
<tbody>
<tr>
<th> SERVICE PROVIDER</th>
<th> SP LEVEL</th>
<th> REPRESENTATIVE</th>
<th> INSTITUTION</th>
<th> LETTER OF INTENT</th>
<th> ACCEPTANCE DATE</th>
<th> EXIT DATE</th>
</tr>
<tr>
<td> Gordon</td>
<td> Level 1</td>
<td> Mike Norman</td>
<td> UCSD/SDSC</td>
<td> <a href="https://uofi.app.box.com/file/112150995312">Gordon LOI</a></td>
<td> 17 September 2012 <a href="https://uofi.app.box.com/file/112150390686">Acceptance Letter</a></td>
<td> Spring 2017</td>
</tr>
<tr>
<td> FutureGrid</td>
<td> Level 1</td>
<td> Geoffrey Fox</td>
<td> Indiana University</td>
<td> <a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=FutureGrid+XSEDE+SP+LOI+rev+7.23.12.PDF">FutureGrid LoI</a></td>
<td> 17 September 2012<a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=XSEDE_Response_Letter_FutureGrid-Level-1.pdf">Acceptance Letter</a></td>
<td> Fall 2014</td>
</tr>
<tr>
<td> Longhorn</td>
<td> Level 1</td>
<td> Kelly Giather</td>
<td> UT-Austin/TACC</td>
<td> <a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FSP+LOI+Longhorn.pdf">Longhorn LoI</a></td>
<td> 11 October 2012<a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FXSEDE_Response_Letter_Longhorn-Level-1.pdf">Acceptance Letter</a></td>
<td> February 2014 (Longhorn retired)</td>
</tr>
<tr>
<td> Steele/Wispy</td>
<td> Level 1</td>
<td> Carol Song</td>
<td> Purdue</td>
<td> <a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FSteele+SP+LoI+updated+Aug+31.pdf">Steele LoI</a></td>
<td> 17 September 2012<a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FXSEDE_Response_Letter_Purdue-Level-1.pdf">Acceptance Letter</a></td>
<td> July 2013 Steele/Wispy discontinued as XSEDE resource)</td>
</tr>
<tr>
<td> Ranger</td>
<td> Level 1</td>
<td> Dan Stanzione</td>
<td> UT-Austin/TACC</td>
<td> <a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FSP+LOI+Ranger.pdf">Ranger LoI</a></td>
<td> 11 October 2012<a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FXSEDE_Response_Letter_Ranger-Level-1.pdf">Acceptance Letter</a></td>
<td> February 2013 (Ranger retired)</td>
</tr>
<tr>
<td> MSS</td>
<td> Level 2</td>
<td> John Towns</td>
<td> NCSA/Univ of Illinois</td>
<td> <a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FMSS+LoI.pdf">MSS LoI</a></td>
<td> 17 September 2012<a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FXSEDE_Response_Letter_MSS-Level-2.pdf">Acceptance Letter</a></td>
<td> 30 September 2013 (MSS decommissioned)</td>
</tr>
<tr>
<td> Kraken</td>
<td> Level 1</td>
<td> Mark Fahey</td>
<td> UTK/NICS</td>
<td> <a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=Kraken-LOI.pdf">Kraken LoI</a></td>
<td> 17 May 2012<a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=XSEDE_Response_Letter_Kraken-Level-1.pdf">Acceptance Letter</a></td>
<td> 30 April 2014 (Kraken Decommissioned)</td>
</tr>
<tr>
<td> Lonestar</td>
<td> Level 1</td>
<td> Dan Stanzione</td>
<td> UT-Austin/TACC</td>
<td> <a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=SP+LOI+Lonestar.pdf">Lonestar LoI</a></td>
<td> 11 October 2012<a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=XSEDE_Response_Letter_Lonestar-Level-1.pdf">Acceptance Letter</a></td>
<td> 31 December 2014 (Lonestar Decommissioned)</td>
</tr>
<tr>
<td> Keeneland</td>
<td> Level 1</td>
<td> Jeffery Vetter</td>
<td> GaTech</td>
<td> <a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=2013-03-07+-+Keeneland+SP+Letter+of+Intent+2013+-+signed.pdf">Keeneland LoI (updated 3/7/13)</a></td>
<td> 27 March 2013<a href="https://www.xsede.org/web/staff/staff-wiki?p_p_id=36&amp;p_p_lifecycle=1&amp;p_p_state=exclusive&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;_36_struts_action=%2Fwiki%2Fget_page_attachment&amp;p_r_p_185834411_nodeId=51230&amp;p_r_p_185834411_title=XSEDE+Federation&amp;_36_fileName=XSEDE_Response_Letter_Keeneland-Level-1.pdf">Acceptance Letter</a></td>
<td> 31 December 2014 (Keeneland Decommissioned)</td>
</tr>
<tr>
<td> Trestles</td>
<td> Level 1</td>
<td> Richard Moore</td>
<td> UCSD/SDSC</td>
<td> <a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FTrestles+LoI.pdf">Trestles LoI</a></td>
<td> 17 May 2012<a href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FXSEDE_Response_Letter_Trestles-Level-1.pdf">Acceptance Letter</a></td>
<td> May 2015 (Trestles Decommissioned)</td>
</tr>
<tr>
<td> Darter/Nautilus</td>
<td> Level 1</td>
<td> Sean Ahern</td>
<td> UTK/NICS</td>
<td> <a data-vivaldi-spatnav-clickable="1" href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FRDAV+XSEDE+LOI.pdf">RDAV LoI</a></td>
<td> 17 September 2012<a data-vivaldi-spatnav-clickable="1" href="https://www.xsede.org/c/wiki/get_page_attachment?p_l_id=57086&amp;nodeId=51230&amp;title=XSEDE+Federation&amp;fileName=XSEDE+Federation%2FXSEDE_Response_Letter_Nautilus-Level-1.pdf">Acceptance Letter</a></td>
<td>
</td>
</tr>
</tbody>
</table>

:markdown
	XSEDE also needs to interact with other XSEDE-like organizations as peers. There are already such examples both within the United States and internationally.

	Current international interactions include:

	* PRACE Call for Expressions of Interest (EoIs)
	* EGI Call for Collaborative Use Examples (CUEs)


