:markdown
	The User Advisory Committee (UAC) represents the "user's voice" to XSEDE management, presenting recommendations regarding emerging needs and services and act as a sounding board for plans and suggested developments. It meets 2-3 times a year by conference call. The term of office is 2 years.

	The UAC makes suggestions to improve XSEDE operations, and helps identify areas where more support expertise is required. It reviews findings of XSEDE's Performance Evaluation Plan and Self Assessment, and its User Survey. Subsets of the UAC advise ECSS management on where to dedicate support effort on community codes. One member of the UAC serves on the User Requirements Evaluation and Prioritization Working Group (UREP). The chair of the UAC (elected by its members) participates in regular XSEDE bi-weekly senior management meetings.

	## Current User Advisory Committee Members

%table(cellpadding="3" cellspacing="3")
	%tr
		%th Name
		%th School
		%th Email
	%tr
		%td Rommie Amaro
		%td UCSD
		%td <a href="mailto:ramaru@ucsd.edu">ramaru@ucsd.edu</a>
	%tr
		%td Jacobo Bielak
		%td CMU
		%td <a href="mailto:jbielak@cmu.edu">jbielak@cmu.edu</a>
	%tr
		%td <strong>Emre Brookes</strong>
		%td <strong>UT San Antonio</strong>
		%td <a href="mailto:emre@biochem.uthscsa.edu">emre@biochem.uthscsa.edu</a>
	%tr
		%td William Cohen
		%td CMU
		%td <a href="mailto:wcohen@cmu.edu">wcohen@cmu.edu</a>
	%tr
		%td Diego Donzis
		%td Texas A&amp;M
		%td <a href="mailto:donzis@tamu.edu">donzis@tamu.edu</a>
	%tr
		%td Johannes Feist
		%td Harvard
		%td <a href="mailto:jfeist@cfa.harvard.edu">jfeist@cfa.harvard.edu</a>
	%tr
		%td Balint Joo
		%td Jefferson Labs
		%td <a href="mailto:bjoo@jlab.org">bjoo@jlab.org</a>
	%tr
		%td Mark Miller
		%td UCSD
		%td <a href="mailto:mmiller@sdsc.edu">mmiller@sdsc.edu</a>
	%tr
		%td Jeff Pummill
		%td U of Arkansas
		%td <a href="mailto:jpummil@uark.edu">jpummil@uark.edu</a>
	%tr
		%td Benoit Roux
		%td Chicago
		%td <a href="mailto:roux@uchicago.edu">roux@uchicago.edu</a>
	%tr
		%td James Taylor
		%td Emory
		%td <a href="mailto:james.taylor@emory.edu">james.taylor@emory.edu</a>
	%tr
		%td Frank Wuerthwein
		%td UCSD
		%td <a href="mailto:fkw@ucsd.edu">fkw@ucsd.edu</a>


:markdown
	For more information, please contact Emre Brookes, UAC chairperson, at <a href="mailto:emre@biochem.uthscsa.edu">emre@biochem.uthscsa.edu</a>, or <a href="mailto:help@xsede.org">help@xsede.org</a>.

