<p><span style="font-size:225%; font-weight:bold;">Kentucky KyRIC User Guide</span><br>
<em>Last update: January 7, 2021</em>


#notices
	:markdown
		# [Status Updates and Notices](#notices)

		**Pre-production**: 03/01/2021-03/31/2021  
		**Production**: 04/01/2021   

#intro
	:markdown
		# [Introduction](#intro)

		Scientific discovery today is being enabled through computational and data intensive research that exploit enormous amounts of available data. 

		The KyRIC cluster will advance several exciting research programs across many disciplines, such as Bioinformatics and System Biology Algorithms, Large Graph and Evolutionary Network Analysis, Image Processing, and Computational Modeling and Simulation.

		The system is well suited for running computations in high-throughput genome sequencing, natural language processing of large datasets, and data scientists working on massive data graphs and big data analytics.

		The KyRIC cluster has a hybrid architecture. It has large memory nodes that are increasingly needed by a wide range of XSEDE researchers, particularly researchers working with big data. Each of the KyRIC nodes in the cluster also has large 6TB SSD drives that are suitable to perform analytics on big data along with a traditional NFS mounted scratch.

		**Innovative Components**: Large memory nodes with local SSD drives and NFS-mounted scratch.  
		**Award Number**: NSF MRI infrastructure award (ACI-1626364)  
		**XSEDE hostname**: `kxc.ccs.uky.edu`  


		Figure 1. LCC-KyRIC System  
		<img alt="Kentucky KyRIC Cluster" src="/documents/10308/900501/kyric.png/6f64a6b2-81c5-47ba-b370-fa3c3cf0d5f4?t=1610064038546" style="width: 600px; height: 338px; border-width: 1px; border-style: solid;" /><br />




#allocations
	:markdown
		# [Allocation Information](#allocations)

		As an XSEDE computing resource, KyRIC is accessible to XSEDE users who are given time on the system. To obtain an account, users may submit a proposal through the <a href="https://portal.xsede.org/allocations">XSEDE Allocation Request System</a> (XRAS) or request a <a href="https://portal.xsede.org/allocations/startup">Trial Account</a>. Interested parties may contact [XSEDE User Support](https://portal.xsede.org/group/xup/help-desk) for help with a KyRIC proposal.

#architecture	
	:markdown
		# [System Architecture](#architecture)
		
		The KyRIC hybrid cluster consists of two subsystems: a 5 nodes cluster, each with 4 10-core processors, 3TB RAM, and a 6TB SSD array;  Each of these nodes have 40 cores (Broadwell class and lntel(R) Xeon(R) CPU E7-4820 v4 @ 2.00GHz with 4 sockets, 10 cores/socket). These 5 dedicated XSEDE nodes will have exclusive access to approximately 300 TB of network attached disk storage. All these compute nodes are interconnected through a 100 Gigabit Ethernet (l00GbE) backbone, and the cluster login and data transfer nodes will be connected through a 100Gb uplink to internet2 for external connections. Due to the use of the 100GbE network, this cluster is for single node jobs only and is not recommended for multi-node jobs, such as those using MPI.

#architecture-compute
	:markdown
		## [Compute Nodes](#architecture-compute)

		These nodes are where jobs are actually executed after being submitted via the user-facing login nodes.

#table1
	:markdown
		[Table 1. Compute Node Specifications](#table1)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%th(align="right") Model
		%td PowerEdge R930<br>Intel(R) Xeon(R) CPU E7-4820 v4 @ 2.00GHz
	%tr
		%th(align="right") Number of nodes
		%td 5
	%tr
		%th(align="right") Total cores per node
		%td 40 cores<br>4 sockets; 10 cores/socket
	%tr
		%th(align="right") Threads per core
		%td 2
	%tr
		%th(align="right") Threads per node
		%td 80
	%tr
		%th(align="right") Clock rate 
		%td 2.00
	%tr
		%th(align="right") RAM
		%td 3TB
	%tr
		%th(align="right") Local storage
		%td 6TB (SSD)
	%tr
		%th(align="right") Extended storage
		%td 300 TB (NFS-mounted)
		 


#architecture-login
	:markdown
		## [Login Nodes](#architecture-login)
		
		The login node is what users will directly access in order to submit jobs that will get forwarded to and executed in the compute nodes.

#table2
	:markdown
		[Table 2. Login Node Specifications](#table2)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%th(align="right") Model
		%td Virtual Machines hosted in bare metal server<br>PowerEdge R930<br>Intel(R) Xeon(R) CPU E7-4820 v4 @ 2.00GHz
	%tr
		%th(align="right") Number of nodes
		%td 2
	%tr
		%th(align="right") Total cores per node
		%td 4
	%tr
		%th(align="right") Threads per core
		%td 2
	%tr
		%th(align="right") Threads per node
		%td 8
	%tr
		%th(align="right") Clock rate
		%td 2.00
	%tr
		%th(align="right") RAM
		%td 16GB
	%tr
		%th(align="right") Extended storage
		%td 300 TB (NFS-mounted)


#architecture-data
	:markdown
		## [Data Transfer Node](#architecture-data)

		This node facilitates the transfer of data in and out of the KyRIC system. Users will log in to this node with the same credentials as for the login nodes. Also, Globus endpoints are available only on this node for parallel transfers.

#table3
	:markdown
		[Table 3. Data Node Specification](#table3)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%th(align="right") Model
		%td Virtual Machines hosted in bare metal server<br>PowerEdge R930<br>Intel(R) Xeon(R) CPU E7-4820 v4 @ 2.00GHz
	%tr
		%th(align="right") Number of nodes
		%td 1
	%tr
		%th(align="right") Total cores per node
		%td 8
	%tr
		%th(align="right") Threads per core
		%td 2
	%tr
		%th(align="right") Threads per node
		%td 16
	%tr
		%th(align="right") Clock rate
		%td 2.00
	%tr
		%th(align="right") RAM
		%td 32GB
	%tr
		%th(align="right") Extended storage
		%td 300 TB (NFS-mounted)

#architecture-network
	:markdown
		## [Network](#architecture-network)
		
		All nodes are interconnected through a 100 Gigabit Ethernet (l00GbE) backbone, and the cluster login and data transfer nodes will be connected through a 100Gb uplink to internet2 for external connections


#architecture-filesystems

#table4
	:markdown
		[Table 4. File Systems](#table4)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%th File System
		%th Quota
		%th File Retention
	%tr
		%td <code>$HOME</code>
		%td 10GB
		%td No file deletion policy applied on this partition
	%tr
		%td <code>$PROJECT</code>
		%td 500GB
		%td No file deletion policy applied on this partition
	%tr
		%td <code>$SCRATCH</code>
		%td 10TB
		%td 30-day file deletion policy

#access
	:markdown
		# [Accessing the System](#access)
		
		The login node for the cluster is `kxc.ccs.uky.edu`, which supports the GSISSH protocol on port 2222 and the standard SSH protocol on port 22. All users must first authenticate to the system using the XSEDE Single Sign-On Hub, as mentioned in the next section. Users may then (optionally) generate and install their own SSH keys if they wish to access the system outside of XSEDE. Local password authentication is not supported.

		When you log in to kxc.ccs.uky.edu, you will be assigned one of the two login nodes: `kxc-login[1-2].ccs.uky.edu`. These nodes are identical in both architecture and software environment. Users should normally log in through `kxc.ccs.uky.edu` but may specify one of the two nodes directly if they see poor performance. 

		Do **not** use the login nodes for computationally intensive processes. These nodes are meant for compilation, file editing, simple data analysis, and other tasks that use minimal compute resources. All computationally demanding jobs should be submitted and run through the batch queuing system.


#access-sso
	:markdown
		## [XSEDE Single Sign-On Hub](#access-sso)

		
		<a href="http://www.xsede.org/">XSEDE</a> users can access KyRIC via the<a href="https://portal.xsede.org/single-sign-on-hub"> </a><a href="https://portal.xsede.org/single-sign-on-hub">XSEDE Single Sign-On Hub</a>.

		Command to connect to the system from the Single Sign-On hub:

		<pre class="cmd-line">login$ <b>gsissh kyric</b></pre>

		When reporting a login problem to the help desk, please execute the `gsissh` command with the "`-vvv`" option and include the verbose output in your problem description.

#compenv
	:markdown
		# [Computing Environment](#compenv)
		
#compenv-modules
	:markdown
		## [Modules](#compenv-modules)

		 The Environment Modules package provides for dynamic modification of your shell environment. "`module`" commands set, change, or delete environment variables, typically in support of an application. They also let the user choose between different versions of the same software or different combinations of related codes. Several modules that determine the default KyRIC environment are loaded at login time.

#compenv-citizenship
	:markdown
		## [Citizenship](#compenv-citizenship)

		You share KyRIC with other users, and what you do on the system affects others. Exercise good citizenship to ensure that your activity does not adversely impact the system and the research community with whom you share it. Here are some rules of thumb:

		* Don't run jobs on the login nodes.
		* Don't stress the filesystem.
		* Do use the debug partition to test out your job submission script.
		* Do submit an informative help-desk ticket.
		 

#files
	:markdown
		# [Managing Files](#files)
		
		<p class="portlet-msg-alert">No user data is backed up. Users are responsible for their own backups.</p>

		Each project and user is given a scratch space and home space. A good practice is to write your job's output into your scratch space. All compute nodes also have a local 5 TB SSD disk attached to it, but this local temporary space is shared among all jobs running on a single node and will be cleaned up (deleted) upon job completion.


#files-transferring
	:markdown
		## [Transferring your Files](#files-transferring)
		
		KyRIC nodes support the following file transfer protocols.

		* `scp` ( if you have your SSH keys setup)
		* `rsync` (if you have your SSH keys setup)
		* [Globus](https://portal.xsede.org/data-management#globus) (only through DTN node)

		Users are encouraged to transfer data using `rclone`, `scp`, `globus`, etc. through the high-speed data transfer node (DTN) and not through the login nodes.


#building
	:markdown
		# [Building Software](#building)
		
		Singularity containers are supported. Building a Singularity container requires root access outside of the cluster. If you have a Singularity container ready, you can copy it into the cluster and run your jobs. Most of the software will be provided through singularity containers. Standard GNU and Intel compilers will be provided.

#software
	:markdown
		# [Software](#software)
		
		Discover installed software by running "`module avail`".

#running
	:markdown
		# [Running Jobs](#running)
		
		## [Job Accounting]()
		
		KyRIC allocations are made in core-hours. The recommended method for estimating your resource needs for an allocation request is to perform benchmark runs. The core-hours used for a job are calculated by multiplying the number of processor cores used by the wall-clock duration in hours. KyRIC core-hour calculations should assume that all jobs will run in the regular queue and that they are charged for use of all 40 cores on each node.

		The Slurm scheduler tracks and charges for usage to a granularity of a few seconds of wall clock time. **The system charges only for the resources you use, not those you request**. If your job finishes early and exits properly, Slurm will release the node back into the pool of available nodes. Your job will only be charged for as long as you are using the node.

		## [Job Scheduler]()
		
		KyRIC uses the Simple Linux Utility for Resource Management (SLURM) batch environment. When you run in batch mode, you submit jobs to be run on the compute nodes using the "`sbatch`" command as described below. Remember that computationally intensive jobs should be run only on the compute nodes and not the login nodes.

		The user must create a Slurm submission job script ("`jobscript`") and the job can be executed by submitting a job to the queues:

		<pre class="job-script">login$ <b>sbatch jobscript</b></pre>

#table5
	:markdown
		[Table 5. Common Slurm Commands](#table5)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%td Command
		%td Description
	%tr
		%td(nowrap) <code>sbatch script_file</code>
		%td Submit SLURM job script
	%tr
		%td(nowrap) <code>scancel job_id</code>
		%td Cancel job that has job_id
	%tr
		%td(nowrap) <code>squeue -u user_id</code>
		%td Show jobs that are on queue for user_id
	%tr
		%td(nowrap) <code>sinfo</code>
		%td Show partitions/queues, their time limits, number of nodes, and which compute nodes are running jobs or idle.

#table6
	:markdown
		[Table 6. `sbatch` Options](#table6)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%th Property &amp; Description
		%th Syntax
		%th Example Use
	%tr
		%td Job name<br>custom-label (in addition to an integer id for the job automatically given by the program)
		%td(nowrap) <code>#SBATCH &ndash;J jobname</code>
		%td(nowrap) <code>#SBATCH --job-name=my_first_job</code>
	%tr
		%td Partition/queue<br>specify where (queue) job is to run
		%td(nowrap) <code>#SBATCH -p partition_id</code>
		%td(nowrap) <code>#SBATCH -partition=normal<br>#SBATCH -partition=debug</code>
	%tr
		%td Time limit<br>job will be killed if it reaches time_limit specified.
		%td(nowrap) <code>#SBATCH -t time_limit</code>
		%td <code>#SBATCH --time=01:00:00  # one-hour limit<br>#SBATCH --time=2-00:00:00  # 2-day limit</code>
	%tr
		%td Memory (RAM)<br>The job will use up to the specified memory_amount.
		%td 
		%td <code>#SBATCH --mem=32g  # request 32 GB ram</code>
	%tr
		%td Project account<br>Run the job under this project account.
		%td(nowrap) <code>#SBATCH -A account</code>
		%td <code>#SBATCH --account=sampe_proj_acct</code>
	%tr
		%td Standard output filename <br>specify stdout filename
		%td <code>#SBATCH -o filename</code>
		%td(nowrap) <code>#SBATCH --output=slurm%A_@a.out<br>#SBATCH --output=prog_output.log</code>
	%tr
		%td Number of nodes and cores <br>Always the number of nodes is 1 and cores can be upto 40
		%td <code>#SBATCH --nodes=1<br>#SBATCH -n X</code>
		%td(nowrap) <code>#SBATCH --nodes=1<br>#SBATCH -n 8</code>

//	%tr
//		%td Standard error filename<br>specify stderr output filename
//		%td <code>#SBATCH -e filename</code>
//		%td(nowrap) <code>#SBATCH --error=slurm%A_@a.err # special variables used; will be substituted with job array number and job id number<br></code>#SBATCH --error=prog_error.log</code>

#queues
	:markdown
		## [Partitions (Queues)](#queues)

		
#table7
	:markdown
		[Table 7. KyRIC Production Queues](#table7)

%table(border="1" cellpadding="3" cellspacing="5")
	%tr
		%th Queue Name
		%th Node Type
		%th Max Nodes per Job<br>(assoc&#39;d cores)*
		%th Max Duration
		%th Max Jobs in Queue*
		%th Charge Rate<br>(per core-hour)
	%tr
		%td normal
		%td compute
		%td 1 node<br>(40 cores)
		%td 72 hrs.
		%td 5*
		%td 1 SU


#interactive
	:markdown
		## [Interactive Sessions](#intereactive)

		You can also login to the compute node and run the jobs interactively if only the node is allocated to you.

#jobscript
	:markdown
		# [Sample Job Script](#jobscript)

		<pre class="job-script">
		#!/bin/bash
		#SBATCH --time=00:15:00                  # Max run time
		#SBATCH --job-name=my_test_job           # Job name
		#SBATCH --ntasks=1                       # Number of cores for the job. Same as SBATCH -n 1
		#SBATCH --partition=normal               # Specify partition/queue
		#SBATCH -e slurm-%j.err                  # Error file for this job.
		#SBATCH -o slurm-%j.out                  # Output file for this job.
		#SBATCH -A &lt;your project account&gt;  # Project allocation account name (REQUIRED)

		./myprogram   # This is the program that will be executed on the compute node. You will substitute this with your scientific application.
		</pre>

#help
	:markdown
		# [Help](#help)

		Please [submit tickets](https://portal.xsede.org/group/xup/help-desk) through the XSEDE portal with information detailing your problems.


#refs
	:markdown
		# [References](#refs)

		* [Slurm scheduler](http://slurm.schedmd.com/documentation.html)
		* [Kentucky documentation](https://docs.ccs.uky.edu)
