<div class="user-guide-container">
	<div class="user-guide-sidebar">
		<ul class="user-guide-nav nav nav-list" id="user-guide-nav">
  			<li><a href="#home">XRAS Review Home</a></h2>
  			<li><a href="#assignments">Review Assignments</a></h2>
  			<li><a href="#meetings">Upcoming XRAC Meetings</a></h2>
  			<li><a href="#opportunities">Opportunities</a></h2>
  			<li><a href="#raterequests">Rate Current Allocation Requests</a></h2>
		</ul>
	</div>
	<!-- user guide begins here -->
	<div class="user-guide">
