<div class="user-guide-container">
	<div class="user-guide-sidebar">
		<ul class="user-guide-nav nav nav-list" id="user-guide-nav">
  			<li><a href="#home">XRAS Submit Home</a>
  			<li><a href="#submitedit">Submit and Edit Allocation Requests</a>
  			<li><a href="#guidedsubmission">XRAS Guided Submission</a>
			<li><a href="#transfers">Supplemental and Transfer Requests</a>
			<li><a href="#refs">References</a>
  			<li><a href="#appendix">Appendix</a>
		</ul>
	</div>
	<!-- user guide begins here -->
	<div class="user-guide">
