:markdown
	## [XRAS - Review Allocation Requests](#intro)

%section#home
	:markdown
	
		The XSEDE Resource Allocation System (XRAS) provides the review interface for easy evaluation of assigned allocation requests, a schedule of upcoming XSEDE Research Allocation Committee (XRAC) meetings, and the ability to rate interest in all current allocation request submissions.

		Log in to [XRAS Review](https://xras-review-test.xsede.org/) with your [XSEDE User Portal](http://portal.xsede.org) (XUP) username and password.  Once logged in, the reviewer may evaluate their [assigned allocation requests](#assignments), learn about upcoming XRAC [meetings](#meetings), view all requests associated with a particular [opportunity](#opportunities), and indicate their [level-of-interest](#raterequests) in reviewing a particular allocation request.  


		<u>SCREENSHOT: XRAS Review - Home Page Navigation</u>

		<p><img alt="review home page top navigation" src="/image/image_gallery?uuid=2975984e-399d-440b-947c-f0c1de376f5e&amp;groupId=10746&amp;t=1408300215559" style="width: 600px; height: 74px; border-width: 1px; border-style: solid;" /></p>

		* [Review and evaluate assigned allocation requests](#assignments)
		* [Learn about upcoming XRAC meetings](#meetings)
		* [Opportunities](#opportunities)
		* [Rate incoming allocation requests according to your interests](#raterequests)

%section#assignments
	:markdown
		## [Review Assignments](#assignments)
		Allocation requests are assigned to individual reviewers by the XSEDE Allocations Coordinator at quarterly intervals.  A reviewer's level of interest, and qualifications as well as any potential conflicts of interest are taken into account when assigning allocation requests to reviewers.  Click on "Assignments" to see a list of your assigned requests.  Users who are not assigned to an XSEDE allocation review panel will not see assignments.

		<u>SCREENSHOT: List of Current Assignments</u>

		<p><img alt="list of current assignments" src="/image/image_gallery?uuid=5d7b9b7e-fcd8-4d6a-9caa-7b8ad6260274&amp;groupId=10746&amp;t=1408300215558" style="width: 700px; height: 103px; border-width: 1px; border-style: solid;" /></p>

		Reviewers may navigate the request per section similar to the XRAS Submit system.  Click to navigate between each section:

		<u>SCREENSHOT: Navigate Assigned Allocation Request</u>

		<p><img alt="assignments top nav" src="/image/image_gallery?uuid=065ce7ef-5357-4117-be9b-ee0bef71e603&amp;groupId=10746&amp;t=1408132473047" style="width: 700px; border-width: 1px; border-style: solid;" /><br></p>

		* [Summary &amp; My Review](#assignments-summary)
		* [Documents](#assignments-documents)
		* [Reviews](#assignments-reviews)
		* [Request History](#assignments-history)
		* [Related Allocations](#assignments-relatedallocations)
		* [Publications](#assignments-publications)
		* [SU Converter](#assignments-suconverter)


%section#assignments-summary
	:markdown
		### [Summary &amp; My Review](#assignments-summary)

		<u>SCREENSHOT: Sample Allocation Request Summary</u>
	
		<img alt="sample request summary" src="/image/image_gallery?uuid=6196fefa-138a-47fd-9a49-a0d389884936&amp;groupId=10746&amp;t=1408372507673" style="width: 700px; height: 384px; border-width: 1px; border-style: solid;" />

		<u>SCREENSHOT: Evaluate Assigned Request</u>

		<img alt="Evaluate Assigned Request" src="/image/image_gallery?uuid=98b09b43-2da0-44b3-9d5d-3b513a7fa2c1&amp;groupId=10746&amp;t=1408372507673" style="width: 600px; height: 382px; border-width: 1px; border-style: solid;" />

		While a request's status remains "Under Review" reviewer may continue to edit. Once the XSEDE Allocations Coordinator approves or rejects a request, the reviewer will no longer be visible in their list of assignments.  

		**Edits are saved automatically.  You may exit the XRAS application at any time, returning later to finish any reviews.**

%section#assignments-documents
	:markdown
		### [Documents](#assignments-documents)

		Reviewers may now download all documents attached to the request individually, or consolidate one or more associated documents into a single PDF for download and easy review.

		<u>SCREENSHOT: Document Download Options</u><br>

		<p><img alt="assignments document download dropdown" src="/image/image_gallery?uuid=9fcdadf9-dba6-4fc4-8b72-44b67780d8ad&amp;groupId=10746&amp;t=1408132473043" style="height: 212px; width: 350px; border-width: 1px; border-style: solid;" /></p>

		
%section#assignments-reviews
	:markdown
		### [Reviews](#assignments-reviews)

		Reviewers from the same opportunity panel will be able to see those reviews for the opportunity provided there are no conflicts of interest.  Panel members are selected based on preferences to review certain proposals as well as if their fields of science areas match that of the proposal.  Reviews from other panel members will ONLY be viewable once the reviewer has submitted their own for that request.


%section#assignments-history
	:markdown
		### [Request History](#assignments-history)

		All past requests and actions (New, Advance, Supplement) associated with this request number are displayed here.  Information includes the allocation action type (Supplement, Advance, Extension etc.), allocation dates and usage. 

%section#assignments-relatedallocations
	:markdown
		### [Related Allocations](#assignments-relatedallocations)

		A list of submitted allocation requests with personnel in common with the current request: PIs and coPIs.  Clicking on a name will reveal all related allocations and past resource usage. 


%section#assignments-publications
	:markdown
		### [Publications](#assignments-publications)

		<img alt="Request Publications" src="/image/image_gallery?uuid=8c822adb-bbed-46e5-aa4d-a555d2c0feb5&amp;groupId=10746&amp;t=1408477477489" style="width: 700px; height: 95px; border-width: 1px; border-style: solid;" />
	

%section#assignments-suconverter
	:markdown
		### [SU Converter](#assignments-suconverter)

		Reviewers may choose to employ the SU Converter when making recommendations of moving awards from one resource to another or determining SU equivalencies across XSEDE resources.

		<img alt="XSEDE SU Converter" src="/image/image_gallery?uuid=1f7e0670-c168-4755-b26e-9a47981f914e&amp;groupId=10746&amp;t=1408477707556" style="width: 600px; height: 262px; border-width: 1px; border-style: solid;" />

%section#meetings
	:markdown
		## [Upcoming XRAC Meetings](#meetings)

		Upcoming XRAC meeting dates, where Research allocation requests are evaluated, are displayed along with pertinent meeting information.

		<u>SCREENSHOT: Upcoming XRAC Meeting Information</u>

		<p><img alt="XRAC meetings" src="/image/image_gallery?uuid=523e3b1a-00b6-4648-a3b6-ed8ecf88fbe5&amp;groupId=10746&amp;t=1408136181354" style="width: 600px; height: 100px; border-width: 1px; border-style: solid;" /></p>

		Please see [Table 1. Research Allocation Submission Schedule](https://portal.xsede.org/allocations/xras-submit#table1) on the [XRAS - Submit Allocation Request](https://portal.xsede.org/allocations/xras-submit) documentation for the upcoming schedule.

%section#opportunities
	:markdown
		## [Opportunities](#opportunities)

		Reviewers may view submitted allocation requests filtered by opportunity, provided there are no conflicts.  Reviewers will only see requests for opportunities on which they serve as a panel member.  For example XRAC panel members may view all allocation requests, whether assigned to that particular request or not, submitted for the respective upcoming XRAC meeting. Conflicts of interest may occur for any of the following reasons:

		* PI or co-PI of a pending request in this opportunity, be from the same institution as the PI(s) or co-PI(s) of a pending request in this opportunity.  
		* Another COI can be that a PI is a competitor of a reviewer and the reviewer may prefer to not be a reviewer or be present during the presentation of the request.  
		* Lastly, a reviewer may feel there is a COI when it is a past advisor, collaborator, team member from prior institution.
	
%section#raterequests
	:markdown
		## [Rate Current Allocation Requests](#raterequests)

		Reviewers may scan a list of all current allocation requests indicating interest (or not) in reviewing a particular request.  Certain information, such as Principal Investigators and other identifying information on the request, is redacted from each entry to ensure reviewer objectivity and avoid conflicts.  

		<u>SCREENSHOT: Rate Requests According to your Interest</u>

		<p><img alt="rate requests" src="/image/image_gallery?uuid=dd1873d9-4407-47c1-a7d8-861f09b76cae&amp;groupId=10746&amp;t=1408298167662" style="width: 600px; height: 216px; border-width: 1px; border-style: solid;" /></p>

		Click on the dropdown in the left side of each row to indicate your interest in reviewing that request.  Then submit your choices using the buttons at the top or bottom of the page.


		*Last update: August 20, 2014 10:10am*
