<div class="page-title">
<h1>
<code><b>xdinfo</b></code> - XSEDE Information Service Discovery</h1>
</div>

#top
	:markdown

		The "`xdinfo`" tool provides command-line search and display of XSEDE's Information Service content including:

		* Sites and resources/systems
		* Software and services
		* Outages

		`xdinfo` runs on any computer that can communicate via the internet with <http://info.xsede.org/>, and is designed to run on any Unix, Mac, or Windows computer with a basic Perl installation.

#install
	:markdown
		## [Installation](#install)

		The `xdinfo` tool is already installed in the default user environment on most XSEDE resources.

		To use `xdinfo` everywhere else, such as your laptop, desktop, or on any computer where you have shell access, download it from here: <http://software.xsede.org/production/xdinfo/latest/>.

#command
	:markdown
		## [Command Syntax & Examples](#command)

		The basic `xdinfo` command syntax is:

		<pre>xdinfo <i>information_type</i> [<i>match_string</i>] [options]</pre>
		Use "`xdinfo help`" to see some "`information_type`" and "`match_string`" examples. Various options follow.

#selectresources
	:markdown
		### [Selecting resources](#selectresources)

		The "<code>on <i>match_string</i></code>" command line option filters information by resource:

		<pre>
		$ <b>xdinfo gridftp on stampede</b>
		$ <b>xdinfo gridftp on gordon</b></pre>

		The "<code>at <i>match_string</i></code>" command-line option limits information discovery by site (SDSC in this example):

		<pre>$ <b>xdinfo gridftp at sdsc</b></pre>

		The "`local`" command-line option limits information by local resource (determined by `xdresourceid` tool).

		<pre>$ <b>xdinfo local gridftp</b></pre>

		The "`global`" command line option displays information about all resources.

		<pre>$ <b>xdinfo global</b></pre>

		*This documentation augments information displayed via the "`xdinfo help`" command and was last revised for Version 1.2 Release 1.*

		*Last update: October 3, 2017*  
