<p class="portlet-msg-alert">The <code>xdusage</code> command-line tool will only report XSEDE usage through mid-August, 2022.  ACCESS will introduce a new accessusage command in the coming weeks that reports all XSEDE and ACCESS usage moving forward.</p>

%section(class="user-guide")
	:markdown
		The `xdusage` command-line tool reports the status of all your XSEDE allocations. `xdusage` displays your total SU award, SUs used and SUs remaining for each of your allocations. Note that you only have visibility into your own and your project coworkers' status.

		If the xdusage command is not already in your environment (determined using the `which xdusage` command), load the module using the `module load xdusage` command.

		<pre>
		login1$ <b>xdusage</b>
		Project: TG-ASC150024/comet-gpu.sdsc.xsede
		PI: Smith, Veronica
		Allocation: 2018-04-01/2019-03-31
		Total=2,500 Remaining=2,272 Usage=228 Jobs=72
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-ASC150024/oasis.sdsc.xsede
		PI: Smith, Veronica
		Allocation: 2018-04-01/2019-03-31
		Total=500 Remaining=500 Usage=0 Jobs=0
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-ASC150027/comet-gpu.sdsc.xsede
		PI: Smith, Robert J.
		Allocation: 2017-04-05/2018-10-04
		Total=2,500 Remaining=2,219 Usage=281 Jobs=133
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-ASC150027/comet.sdsc.xsede
		PI: Smith, Veronica
		PI: Norman, Michael L.
		Allocation: 2017-04-05/2018-10-04
		Total=65,000 Remaining=22,194 Usage=42,806 Jobs=2005
			Smith, Veronica portal=vsmith usage=2 jobs=1

		Project: TG-STA160003/bridges-large.psc.xsede
		PI: Smith, Veronica
		Allocation: 2017-08-04/2018-08-03
		Total=1,000 Remaining=1,000 Usage=0 Jobs=0
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-STA160003/bridges.psc.xsede
		PI: Smith, Veronica
		Allocation: 2017-08-04/2018-08-03
		Total=50,000 Remaining=50,000 Usage=0 Jobs=0
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-STA160003/bridges-pylon.psc.xsede
		PI: Smith, Veronica
		Allocation: 2017-08-04/2018-08-03
		Total=500 Remaining=500 Usage=0 Jobs=0
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-STA160003/comet-gpu.sdsc.xsede
		PI: Smith, Veronica
		Allocation: 2017-08-04/2018-08-03
		Total=2,500 Remaining=2,490 Usage=10 Jobs=10
			Smith, Veronica portal=vsmith usage=0 jobs=0

		Project: TG-STA160003/maverick.tacc.xsede status=inactive
		PI: Smith, Veronica
		Allocation: 2017-08-04/2018-08-03
		Total=3,000 Remaining=3,000 Usage=0 Jobs=0
			Smith, Veronica portal=vsmith status=inactive usage=0 jobs=0
		</pre>

		In the above example, user Veronica Smith has both active and inactive allocations on several different XSEDE resources under multiple PIs. You may query your allocation status on four criteria. Examples below show syntax and a sample command:

		* by project

			<pre>xdusage -p <i>projectnumber</i></pre>
			<pre>login1$ <b>xdusage -p TG-STA060001N</b>

		* by user with XSEDE User Portal username
			<pre>xdusage -up <i>xupusername</i></pre>
			<pre>login1$ <b>xdusage -u vsmith</b>
		* by resource
			<pre>xdusage -r <i>resource</i></pre>
			<pre>login1$ <b>xdusage -r stampede2</b>
		* by time period
			<pre>xdusage -s <i>startdate</i> -e <i>enddate</i></pre>
			<pre>
			login1$ <b>xdusage -s 7/1/2014 -e 12/31/2014</b>
			login1$ <b>xdusage -s 7/2014 -e 12/2014</b></pre>
		* or with a combination of available options
			<pre>login1$ <b>xdusage -s stampede2 -ip</b>

		Common `xdusage` options are detailed in [Table 1](#table1) below. Consult the full `xdusage` [man page](https://www.xsede.org/documents/10746/0/xdusage.manpage.txt) or by issuing the standard "`man`" command:

		<pre>login1$ <b>man xdusage</b></pre>

%section#table1
	:markdown
		[Table 1. Common `xdusage` options](#table1)

	%table(border="1" cellpadding="3")
		%tr 
			%th Option
			%th Description
		%tr 
			%td <code>-p <i>project</i>
			%td specify XSEDE project #
		%tr 
			%td <code>-r <i>resource</i></code>
			%td specify XSEDE resource e.g., <code>bridges</code>, <code>comet</code>
		%tr 
			%td <code>-u <i>username</i> | <i>Last name</i></code>
			%td specify user with your local resource username
		%tr 
			%td <code>-up <i>portal-username</i></code>
			%td specify user with your XSEDE User Portal username
		%tr 
			%td <code>-a</code>
			%td show all accounts -- ignored with <code>-u</code>
		%tr 
			%td <code>-j</code>
			%td show jobs, refunds, etc
		%tr 
			%td <code>-ip</code>
			%td suppress inactive projects
		%tr 
			%td <code>-ia</code>
			%td suppress inactive accounts
		%tr 
			%td <code>-zp</code>
			%td suppress projects with zero usage
		%tr 
			%td <code>-za</code>
			%td suppress accounts with zero usage
		%tr 
			%td <code>-s <i>startdate</i> -e <i>enddate</i></code>
			%td display usage for period between <code>startdate</code> and <code>enddate</code>
		%tr 
			%td <code>-h</code>
			%td print help

	:markdown
		*Last modified: August 14, 2022*

