:markdown
	Following is additional documentation on several of the services and community codes available on [XSEDE resources](/resource-monitor).

	Don't see the software you need in the [Software Search](https://portal.xsede.org/software#/)? Request a common location to install executable, scripts and libraries that will be shared by your community of users. No need to use home directories to share software. XSEDE staff will back up this area. For more information please contact the [XSEDE Help Desk](https://portal.xsede.org/help-desk).

#utilities
	:markdown
		## [XSEDE Information Service Utilities](#utilities)
		
		* **[<code>xdinfo</code>](/software/xdinfo)**: Query XSEDE Information Services for resource information
		* **[<code>xdusage</code>](/software/xdusage)**: Monitor your XSEDE allocation with this command-line tool. 

#services
	:markdown
		## [XSEDE Services](#services)

		<!-- * **[GenesisII GFFS](http://portal.xsede.org/software/gffs)**: The Global Federated File System allows users access to data and storage space along with the ability to manipulate and share that data with other researchers, and run jobs on XSEDE resources. -->
		* **[Globus](http://portal.xsede.org/software/globus)**: Introduction to Globus Online on XSEDE, a fast, secure file transfer service.
		<!-- * **[Job Management with GRAM5](http://portal.xsede.org/software/gram)**: An introduction to GRAM5, command-line utilities for managing multiple jobs across all XSEDE resources. -->
		<!-- * **[UNICORE](http://portal.xsede.org/software/unicore)**: The user-friendly UNICORE client is a grid interface providing seamless access to remote and distributed computing resources. -->

#communitycodes
	:markdown
		*Last update: June 16, 2020*

//		## [Community Codes](#communitycodes)
		
//		**[P3DFFT at XSEDE](http://portal.xsede.org/software/p3dfft)**: Parallel Three-Dimensional Fast Fourier Transforms 

