%section#ref
	:markdown
		### [Related Links](#ref)
		
		* [Globus Toolkit](http://www.globus.org/toolkit/)
		* NICS provides an excellent [site-specific guide](http://www.nics.tennessee.edu/computing-resources/grid_services) to getting started with NICS Grid Services. 	

		*Last updated: May 22, 2013*

