#faq
	:markdown
		# [Bridges FAQ](#faq)

	#faq:apply
		:markdown
			## [Applying for a Bridges account](#faq:apply)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How to prepare a request, what to request, when requests can be submitted, examples of successful requests</a>

		#faq-apply(style="display:none")
			:markdown

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Is Bridges a good fit for my research?</a>

			#faq-apply-goodfit(style="display:none")
				:markdown

					Bridges was built to facilitate research ranging from traditional HPC areas like astronomy and physics through emerging fields like genomics to decision science, natural language processing and digital humanities. Bridges could be a good fit for you if:

					You want to __scale your research beyond the limits of your laptop__, using familiar software and user environments.

					You want to __collaborate with other researchers__ with complementary expertise.

					Your research can __take advantage__ of any of the following:

					* _Rich data collections_ &ndash; Rapid access to data collections will support their use by individuals, collaborations and communities.
					* Cross-domain analyses_ &ndash; Concurrent access to datasets from different sources, along with tools for their integration and fusion, will enable new kinds of questions.
					* Gateways and workflows_ &ndash; Web portals will provide intuitive access to complex workflows that run "behind the scenes".
					* Large coherent memory_ &ndash; Bridges' 3TB and 12TB nodes will be ideal for memory-intensive applications, such as genomics and machine learning.
					* In-memory databases_ &ndash; Bridges' large-memory nodes will be valuable for in-memory databases, which are important due to their performance advantages.
					* Graph analytics_ &ndash; Bridges' hardware-enabled shared memory nodes will execute algorithms for large, nonpartitionable graphs and complex data very efficiently.
					* Optimization and parameter sweeps_ &ndash; Bridges is designed to run large numbers of small to moderate jobs extremely well, making it ideal for large-scale optimization problems.
					* Rich software environments_ &ndash; Robust collections of applications and tools, for example in statistics, machine learning and natural language processing, will allow researchers to focus on analysis rather than coding.
					* Data-intensive workflows_ &ndash; Bridges' filesystems and high bandwidth will provide strong support for applications that are typically I/O bandwidth-bound. One example is an analysis that runs best with steps expressed in different programming models, such as data cleaning and summarization with Hadoop-based tools, followed by graph algorithms that run more efficiently with shared memory.
					* Contemporary applications_ &ndash; Applications written in Java, Python, R, MATLAB, SQL, C++, C, Fortran, MPI, OpenACC, CUDA and other popular languages will run naturally on Bridges.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What is Bridges' hardware configuration?</a>

			#faq-apply-hardware(style="display:none")
				:markdown

					The Bridges virtual tour depicts Bridges architecture and illustrates features which could be used in various research models.

					[View the Bridges virtual tour](https://psc.edu/index.php/bridges-virtual-tour)

					Bridges comprises 5 classes of compute nodes with additional dedicated nodes for databases, webservers and data transfer. Several types of filesystems with different functions are available. Bridges components are interconnected by the Intel Omni-Path Fabric.

					Bridges has 5 classes of __compute nodes__:

					* 752 Regular Shared Memory (RSM) nodes, each with 2 Intel Xeon EP-series CPUs and 128GB of RAM
					* 48 "RSM-GPU" nodes: 16 nodes with 2 NVIDIA Tesla K80 GPUs, 2 Intel Xeon EP-series CPUs, and 128GB of RAM each, and 32 nodes with 2 NVIDIA Tesla P100 GPUs, 2 Intel Xeon EP-series CPUs, and 128GB of RAM each
					* 10 "GPU-AI" nodes: 9 nodes with 8 Volta V100 GPUs each, 16GB of GPU memory per GPU and 192 GB of RAM per node, and a DGX-2, with 16 Volta V100 GPUs, 32GB of GPU memory per GPU and 1.5TB of RAM
					* 42 Large Shared Memory (LSM) nodes, HP DL580 servers with 4 Intel Xeon EX-series CPUs and 3TB of RAM
					* 4 Extreme Shared Memory (ESM) nodes, HP Integrity Superdome X servers with 16 Intel Xeon EX-series CPUs and 12TB of RAM

					Bridges' __database nodes__ are dual-socket Xeon servers with 128GB of RAM. Some contain solid-state disks to deliver high IOPs for latency-sensitive workloads and others contain banks of hard disk drives for capacity-oriented workloads.

					Bridges' __webserver nodes__ are dual-socket Xeon servers with 128GB of RAM and are connected to PSC's wide-area network, including XSEDE and commodity Internet. They are implemented in virtual machines to provide security, allow maximum use of Bridges' resources and grant project-specific customization of the web server configuration.

					Bridges' __data transfer nodes__ are dual-socket Xeon servers with 128Gb of RAM and 10 GigE connections to PSC's wide-area network, enabling high-performance data transfers between Bridges and XSEDE, campuses, instruments and other advanced cyberinfrastructure.

					Bridges supports a shared parallel filesystem for persistent storage, node-local filesystems and memory filesystems.

					The __shared parallel filesystem__, named Pylon, is a high-bandwidth, high-capacity centralized, parallel system cross-mounted across Bridges' nodes. Pylon is modeled on other PSC production filesystems, including the one on the Data Exacell. It is entirely disk-based with high-level RAID providing data safety. Pylon will have approximately 10PB of storage and bandwidth to the system of approximately 180GB/s.

					__Node-local filesystems__ are available on each compute node. They provide natural support for Hadoop and software layers that need it, applications, frameworks, etc. that distribute data or are written to shard, and applications that benefit from local "scratch" storage. Node-local filesystems also improve bandwidth and performance consistency to Pylon.

					__Memory filesystems__ are supported on Bridges' compute nodes, especially the ESM and LSM nodes. They provide maximum IOPs and bandwidth to improve the performance of applications such as pipelined workflows, genome sequence assembly and in-memory instantiations of otherwise disk-based databases.

					Bridges' components are __interconnected by the Intel Omni-Path Fabric__, which delivers 100Gbps line speed, low latency, excellent scalability and improved tolerance to data errors. A unique two-level "island" topology, designed by PSC, maximizes performance for the intended workloads. __Compute islands__ provide full bi-section bandwidth communication performance to applications spanning up to 42 nodes. __Storage islands__ take advantage of the Intel Omni-Path Fabric to implement mutiple paths and provide optimal bandwidth to the Pylon filesystem. Storage switches are cross-linked to all other storage switches and connect management nodes, database nodes, web server nodes and data transfer nodes.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Who is eligible to apply for an allocation on Bridges?</a>

			#faq-apply-eligible(style="display:none")
				:markdown

					Allocations for Bridges are open to faculty members, postdocs, and researchers at a U.S.-based institution. Eligible institutions include federal research labs or commercial organizations; however, special rules may apply if your institution is not a university or a two- or four-year college.

					The Principal Investigator (PI) for an allocation may not be a high school or undergraduate student; a qualified advisor, e.g., a high school teacher or faculty member, must serve in this capacity. In most cases, a graduate student may not be a PI. A post-doctoral researcher is eligible to be a PI.

					Note that a streamlined application process exists for faculty, staff, and postdocs at Carnegie Mellon University and the University of Pittsburgh. See the Pittsburgh Research Computing Inititative for details.

					For all others, full details on eligibility are available here:

						https://portal.xsede.org/allocations/policies#22
						https://portal.xsede.org/allocations/policies#80

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What types of allocations are available on Bridges?</a>

			#faq-apply-allocations(style="display:none")
				:markdown

					Four types of allocations for non-proprietary research are available on Bridges. We recommend all new investigators first get a startup allocation before submitting a full research proposal.

					* __Startup__ grants are appropriate for groups that are just getting familiarized with XSEDE resources. They are used to prepare a group to submit a full research proposal.
					* __Research__ grants are for full production research on Bridges.
					* __Educational__ allocations are to be used by students in classroom settings.
					* __Campus Champion__ allocations are for dedicated personnel who assist researchers at their campus to utilize XSEDE's HPC resources for their respective research. Read [more information on the Campus Champions program](https://www.xsede.org/community-engagement/campus-champions).

					Allocations for propietary research are available through the <a target="_blank" href="https://psc.edu/services/corporate-programs">PSC Corporate Affiliates Program</a>.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How can I apply for a Bridges account?</a>

			#faq-apply-account(style="display:none")
				:markdown

					If you are:

					* __Faculty at Carnegie Mellon University or the University of Pittsburgh__, you can get access to Bridges through the Pittsburgh Research Computing Initiative.
					* __A researcher or educator at a US academic or non-profit research institution__, you can apply for Bridges access through the NSF's [XSEDE program](https://www.xsede.org). To apply through XSEDE, request an allocation on Bridges through the [XSEDE User Portal(XUP](https://portal.xsede.org). You will need to create an XSEDE portal account before you can apply if you don't already have one.
						* Navigate to <https://portal.xsede.org>
						* Click on the "Sign In" button on the top-right of the screen
						* At the next screen, you will see a link under the sign in button to "Create Account"
						* Once you have created the account, login
						* Navigate to the "Allocations" tab
						* Click on "Submit/Review Request"
						* On the next page, you will see the option to begin a submission. We recommend all new investigators first get a startup allocation before submitting a full research proposal
					* Doing proprietary research, you can get access to Bridges through the <a target="_blank" href="https://psc.edu/services/corporate-programs">PSC Corporate Affiliates Program</a>.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>When can I apply?</a>

			#faq-apply-when-apply(style="display:none")
				:markdown

					Four types of applications are accepted at any time:

					* __Pittsburgh Research Computing Initiative__ accounts, for faculty at Carnegie Mellon University and the University of Pittsburgh
					* __Startup XSEDE allocations__, the easiest way to get started with XSEDE resources and recommended for all new XSEDE users. See https://portal.xsede.org/allocations/startup for more information.
					* __Campus Champion__ accounts
					* __Corporate Affiliate__ accounts

					Requests for __Research XSEDE allocations__ are accepted four times a year:

					* Mar 15 - Apr 15

					* Jun 15 - Jul 15

					* Sep 15 - Oct 15

					* Dec 15 - Jan 15

					See <https://portal.xsede.org/allocations/research> for more information.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I prepare an XSEDE allocation request?</a>

			#faq-apply-request(style="display:none")
				:markdown

					There are detailed instructions on the [XSEDE User Portal(XUP)](https://portal.xsede.org/allocation-request-steps) explaining how to prepare an allocation request. These resources may be helpful:

					<a href="https://portal.xsede.org/allocations/research#webinar)" target="_blank">A video on how to write and submit a successful XSEDE allocation proposal</a>

					[A sample resource request for Bridges](https://psc.edu/images/Bridges/Bridges_XRAC_Transcriptome_Assembly.PDF)

					Detailed instructions and examples of requests for:

					* [A Startup grant](https://portal.xsede.org/allocations/startup)
					* [A Research grant](https://portal.xsede.org/allocations/research)
					* [An Education grant](https://portal.xsede.org/allocations/education)

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What do I ask for in a Bridges allocation request?</a>

			#faq-apply-request-what(style="display:none")
				:markdown

					At a minimum, you will request computing time and a storage allocation on Pylon, Bridges' persistent storage system. If you want to use GPU nodes, you must request a GPU allocation.

					See an example of an [XSEDE resource request for Bridges](https://psc.edu/images/Bridges/Bridges_XRAC_Transcriptome_Assembly.PDF). The "Resource Justification" section may be particularly helpful in quantifying your request.

					__Computing time					__: You will request computing time on "Bridges" for Regular memory nodes, "Bridges GPU" nodes, Bridges "AI-GPU" nodes, "Bridges Large" nodes (3TB - 12TB RAM), or any combination, depending on what your application needs.

					Bridges "Regular memory" nodes are appropriate for applications needing up to 128GB of cache-coherent shared memory. Bridges "GPU" nodes are for applications which want to take advantage of GPU processors, and the "GPU-AI" nodes can support highly complex deep learning models with extremely large data sets. "Large memory" nodes can accommodate applications requiring up to 12TB of cache-coherent shared memory.

					Computing time allocations are given in terms of Service Units (SU).

					For Bridges' "Regular Memory" nodes, SUs are defined in terms of core-hours:

						The use of one core for 1 hour = 1 SU

					For "Bridges GPU" nodes, SUs are defined in terms of GPU-hours. Because of the difference in the performance between the K80 and P100 nodes, the charges are different for the two types of nodes.

						For Bridges' K80 GPU nodes, the use of 1 GPU for 1 hour = 1 SU

						For Bridges' P100 GPU nodes, the use of 1 GPU for 1 hour = 2.5 SUs

					For Bridges' "GPU-AI" nodes, SUs are defined in terms of GPU-hours:

						The use of one GPU for 1 hour = 1 SU

					For "Bridges' Large" nodes, SUs are defined in terms of memory-hours:

						The use of 1TB of memory for 1 hour = 1 SU

					For more information on accounting for Bridges' use and examples of calculating SUs, see the [Account Administration section](#account).

					__Storage allocation__: You must also request a storage allocation on Pylon, a parallel filesystem shared across all of Bridges' nodes. The default Pylon allocation is 512GB. If you need more than that, you should justify it in your allocation request.

					__Other__: You must also note in your request if you need big data frameworks like Hadoop, or virtual machines (if your research requires persistent databases or webservers, e.g., for gateways or community datasets).



			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How should I estimate the resources I will need for an XSEDE allocation request?</a>

			#faq-apply-estimate(style="display:none")
				:markdown

					If you need experience with large memory HPC to help you estimate the resources your research requires, you can request a Start-up allocation on Bridges for benchmarking. You can also ask for help from XSEDE's [Extended Collaborative Support Services](https://www.xsede.org/ecss).

					If you have questions about resources for persistent databases, gateways or other types of distributed applications, please contact <a href="https://psc.edu/resources/consulting" target="_blank">PSC User Services</a>.

					See an example of an [XSEDE resource request for Bridges](https://psc.edu/images/Bridges/Bridges_XRAC_Transcriptome_Assembly.PDF). The "Resource Justification" section may be particularly helpful in quantifying your request.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Do I need to make any special requests in addition to computing time on Bridges?</a>

			#faq-apply-special(style="display:none")
				:markdown

					If your research requires any of the following, be sure to specifically ask for (and justify) them in your allocation request:

					* Big data frameworks like Spark and Hadoop
					* Virtual machines
					* More than 512GB of storage

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Can I see some examples of successful proposals?</a>

			#faq-apply-examples(style="display:none")
				:markdown

					Example proposals can be found here:

					* For research example proposals, see <https://portal.xsede.org/allocations/research#examples>
					* For startup example proposals, see <https://portal.xsede.org/allocations/startup#examples>
					* For educational example proposals, see <https://portal.xsede.org/allocations/education#examples>

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What's the maximum allocation I can request?</a>

			#faq-apply-max-request(style="display:none")
				:markdown

					For startup allocations, the limits are:

					* Bridges Regular Memory: 50,000 core-hours
					* Bridges GPU: 2,500 GPU-hours
					* Bridges GPU-AI: 1,500 GPU-hours
					* Bridges Large Memory: 1,000 TB-hours

					For research allocations, there are no limits for the size of the request. Note, however, that all requests must be extremely detailed and justified.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How long does it take for a proposal to be reviewed?</a>

			#faq-apply-review(style="display:none")
				:markdown

					Startups and educational proposals take about 2 weeks to be reviewed and processed, depending on the size of the request.

					Research allocation proposals are reviewed quarterly. They must be submitted about 3 months prior to the start date. See "When can I apply?" for the submission deadlines. Decisions are announced a few weeks before the start date. For example, if a proposal is submitted by January 1 for a start date of April 1, a notification regarding the outcome will be sent around the week of March 15.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Where can I get more information?</a>

			#faq-apply-moreinfo(style="display:none")
				:markdown

					If you would like to hear more about Bridges' capabilities or discuss how you can take advantage of Bridges in your research, call us at 412-268-4960 or email <mailto:bridges@psc.edu>.

	#faq:admin
		:markdown
			## [Account administration](#faq:admin)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Handling multiple grants, tracking usage, adding/removing users from a grant, renewing or extending grants</a>

		#faq-admin(style="display:none")
			:markdown

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How can I add (or remove) users to my grant?</a>

			#faq-admin-adduser(style="display:none")
				:markdown

					Adding or removing users from an XSEDE grant is done through the XSEDE User Portal. For instructions, see <https://portal.xsede.org/allocations/managing>.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I designate an allocation manager for my project?</a>

			#faq-admin-manager(style="display:none")
				:markdown

					Currently there are two ways to add an allocation manager, and also two separate "definitions" of an allocation manager.

					The first allocation manager is designated when the proposal is submitted. This allocation manager will have the same permissions as the PI/co-PI: they can submit supplements, transfers, extensions, renewals, etc. and also add or remove users on the allocation.

					The second type of allocation manager can be designated at any time. 

					1. Log in to the [XSEDE User Portal](https://portal.xsede.org)
					1. Choose "Allocations/Usage" from the top menu, then the "Manage Users" button. 

					This allocation manager will only be able to add or remove users. They will not have the permissions to make actions (supplements, transfers, extensions, etc.) on the allocation.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I reset my (PSC or XSEDE) password?</a>

			#faq-admin-pwreset(style="display:none")
				:markdown

					__To reset your PSC password:__

					1. Navigate to <https://apr.psc.edu>.
					1. Enter your PSC username, and the email linked to your PSC account into the form.
						1. A security code will be sent to the associated email address.
					1. Once you receive the code, copy and paste the code into the web form.
					1. Reset your password on the next screen.

					You have 15 minutes to complete the process or you will have to start over.

					__To reset your XSEDE password:__

					1. Navigate to the [XSEDE User Portal](https://portal.xsede.org).
					1. Click the "Sign In" button on the top-right of the screen.
					1. Enter your XSEDE username and the email you have linked with your XSEDE account into the form.
						1. A security code will be sent to the associated email address.
					1. Once you receive the code, copy and paste the code into the web form.
					1. Reset your password on the next screen.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I find my allocation/proposal number?</a>

			#faq-admin-propnum(style="display:none")
				:markdown

					Your proposal number can be found on the confirmation email you received after you submitted a proposal. If you cannot locate this email, you can login to the [XSEDE User Portal](https://portal.xsede.org) and click on "Allocations/Usage" under the "My XSEDE" tab. The proposal number will be listed next to the title of the allocation. Please note that if your allocation is still under review, you will not be able to find this information here.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How can I check the balance on my allocation?</a>

			#faq-admin-balance(style="display:none")
				:markdown

					To check the balance of your allocation, login to the [XSEDE User Portal](https://portal.xsede.org) and click on "Allocations/Usage" under the "My XSEDE" tab. The next screen will display the allocations you have access to, along with current usage and end dates.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What happens to my files when my grant expires?</a>

			#faq-admin-expires(style="display:none")
				:markdown

					Your files are retained for 3 months after your grant expires. Once the 3 month grace period is over, they are deleted.

					You will be able to log in during the grace period so that you can transfer your files elsewhere, but you will not be able to submit jobs or create new files.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I request additional SUs for my project?</a>

			#faq-admin-reqsus(style="display:none")
				:markdown

					If you would like more SUs to complete your project, you can request a supplement.

					To submit a supplement request to your startup, research, or educational allocation,:

					1. Login to the [XSEDE User Portal](https://portal.xsede.org).
					1. Click on "Submit/Review Request" under the "Allocations" tab. The next screen will display your approved allocation.
					1. Choose the "Supplement" action.

					Please note that the option for submitting a supplement will not be available if less than 30 days remain on the allocation.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I request a calendar extension for my allocation?</a>

			#faq-admin-extension(style="display:none")
				:markdown

					If you need more time to complete your project, you can request a calendar extension.

					To submit an extension request to your startup, research, or educational allocation:

					1. Login to the [XSEDE User Portal](https://portal.xsede.org).
					1. Click on "Submit/Review Request" under the "Allocations" tab. The next screen will display your approved allocation.
					1. Choose the "Extension" action.

					Please note this option is only available when 90 days or less remains on the allocation. You will have the option to submit an extension of 3 or 6 months.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I renew my Bridges allocation?</a>

			#faq-admin-renew(style="display:none")
				:markdown

					To submit a renewal for a Bridges startup allocation:

					1. Login to the [XSEDE User Portal](https://portal.xsede.org).
					1. Click on "Submit/Review Request" under the Allocations tab.
					1. On the next screen, use the link on the left side of the page to begin your renewal request.

					Please note the option for startup renewal will not be available until 30 days or less remains on the allocation. A progress report will be required, in addition to the other mandatory documents.

					Renewal proposals for research allocations are only accepted during quarterly submission windows ([see the submission schedule](https://portal.xsede.org/allocations/research#schedule)). Your renewal proposal is due during the same window in which you submitted in the previous year. 

					To start the renewal submission:

					1. Login to the [XSEDE User Portal](https://portal.xsede.org).
					1. Click on "Submit/Review Request" under the "Allocations" tab.
					1. On the next screen use the link on the left side of the page to begin your renewal request.

					Please note that a progress report will be required, in addition to the other mandatory documents. You must also attach at least one publication to the submission.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I transfer my allocation to another resource?</a>

			#faq-admin-transfer(style="display:none")
				:markdown

					To submit a transfer request:

					1. Login to the [XSEDE User Portal](https://portal.xsede.org).
					1. Click on "Submit/Review Request" under the "Allocations" tab. The next screen will display your approved allocation.
					1. Choose the "Transfer" action.
						1. Be sure to use the [XSEDE SU Converter](https://portal.xsede.org/su-converter) when preparing your transfer request since all resources are not equal.
						1. Also be sure to enter a positive number for the resource(s) you would like to transfer to and a negative number for the resource(s) you would like to transfer from.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>I have multiple grants. How do I charge the correct one for a job?</a>

			#faq-admin-multgrant(style="display:none")
				:markdown

					There are two parameters to consider: the SLURM account id, which determines which grant the SUs used by a job are deducted from, and the Unix group, which determines which group owns any files created by the job.

					See [Managing multiple grants](#account:multiple) in the Account Admininstration section of the Bridges User Guide for information on determing your default SLURM account id and Unix group, and changing them either permanently or temporarily, for one job or login session.

	#faq:connecting
		:markdown
			## [Connecting to Bridges](#faq:connecting)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Connection problems</a>

		#faq-connect(style="display:none")
			:markdown

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Why can't I connect?</a>

			#faq-connect-problems(style="display:none")
				:markdown

					1. If you are receiving a "Permission denied" error message, you might need to reset your password. You can do that through the <a href="https://apr.psc.edu" target="_blank">form at PSC</a>.
					1. If your password reset fails, you may be using a different userid or the email address than what we have for you in our user database. To check, contact <mailto:bridges@psc.edu> for verification.
					1. If you think your password is correct, your account may have expired more than 3 months ago. Contact <mailto:bridges@psc.edu> to check on the status of your account.
					1. Another possibility is that your IP address may have been been banned from connecting because you typed your password incorrectly several times or some network anomaly occurred when you tried to connect. To check if your IP address was banned send email to <mailto:bridges@psc.edu> with your public IP address. You can determine the latter at <a href="https://www.whatismyip.org" target="_blank">WhatIsMyIp.Org</a>.

	#faq:containers
		:markdown
			## [Containers](#faq:containers)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Using Singularity containers on Bridges</a>

		#faq-contain(style="display:none")
			:markdown

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Do I need a container?</a>

			#faq-contain-doineed(style="display:none")
				:markdown

					Containers are stand-alone packages holding the the software needed to create a very specific computing environment.

					If you need a very specialized computing environment, you can create a container as your work space on Bridges. Currently, Singularity is the only type of container supported on Bridges. Docker is not supported.

					However, in most cases, Bridges has all the software you will need. Before creating a container for your work, check the extensive list of software that has been installed on Bridges. While logged in to Bridges, you can also get a list of installed packages by typing

						module avail

					If you need a package that is not available on Bridges, you can request that it be installed by emailing <mailto:bridges@psc.edu>. You can also install software packages in your own file spaces and, in some cases, we can provide assistance if you encounter difficulties.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Can I use a Docker container on Bridges?</a>

			#faq-contain-docker(style="display:none")
				:markdown

					No. Singularity is the only container environment supported on Bridges.

					See the <a href="https://psc.edu/user-resources/software/singularity" target="_blank">PSC documentation on Singularity</a>.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Are there containers installed on Bridges that I can use?</a>

			#faq-container-installed(style="display:none")
				:markdown

					Yes.

					We have installed many containers from the NVIDIA GPU Cloud for use on the V100 and P100 GPUs. These containers have been optimized for these architectures and provide GPU-accelerated software for AI, machine learning and HPC.

					See the <a href="#containers:singularity">Singularity images installed on Bridges</a>.

					See the <a href="https://psc.edu/user-resources/software/singularity" target="_blank">PSC documentation on Singularity</a>.

	#faq:filesystems
		:markdown
			## [Filesystems](#faq:filesystems)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Quotas, what happens when a grant expires, common errors</a>

		#faq-files(style="display:none")
			:markdown

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>I just got an account but I don't have a pylon5 directory. Why not?</a>

			#faq-files-pylon(style="display:none")
				:markdown

					You probably don't have a pylon allocation.

					Access to pylon storage is not automatically given with allocations. Typically this occurs when you have been added to an existing allocation. The PI must specifically request that additional users being added to a grant also get a pylon allocation.

					Ask your PI to double check that a pylon allocation was requested for you.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What happens to my files when my grant expires?</a>

			#faq-files-expire(style="display:none")
				:markdown

					Three months after your grant expires all of your Bridges files associated with that grant will be deleted, no matter which file space they are in. You will be able to login during this 3-month period to transfer files, but you will not be able to run jobs or create new files.

	#faq:jobs
		:markdown
			## [Running jobs](#faq:jobs)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Common error messages, why isn't my job running</a>

		#faq-jobs(style="display:none")
			:markdown

				<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>My job failed with "Invalid qos specification". What does that mean?</a>

			#faq-jobs-qos(style="display:none")
				:markdown

					"Invalid qos specification" means that you asked for a resource that you do not have access to. For example:

					* submitting a job to one of the GPU partitions when you don't have a Bridges_GPU allocation
					* submitting a job to one of the LM partitions when you don't have a Bridges_Large allocation

					Please check your grants to see what you have been allocated. The `projects` command will list your grants and the resources allocated to each one.

					This error can also occur when you have more than one active grant. It's important to run jobs under the correct SLURM account id. Your jobs will run under your default SLURM account id unless you specify a different account id to use for a job. If the default grant does not have access to the resources you are requesting, you will get this error.

					Use the `projects` command to find which grant is your default if you have more than one.

					See

					The [Account administration](#account) section of the Bridges user Guide for information on finding your SLURM account ids, setting a nondefault account id for a specific job, and changing your default account id permanently.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>When will my job run?</a>

			#faq-jobs-whenrun(style="display:none")
				:markdown

					The scheduler on Bridges is largely FIFO. The `squeue` command lists the running and queued jobs on Bridges in FIFO order. However, jobs can move up in the queue if a slot becomes available on the machine and the job will fit in the open slot without disrupting the FIFO ordering of the other jobs in the queue. In addition, jobs can finish before their requested walltime for a variety of reasons. It is not possible to predict with any accuracy when your job will run.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Why won't my tensorflow program run?</a>

			#faq-jobs-tensor(style="display:none")
				:markdown

					For help running Tensorflow on Bridges:

					* See the tensorflow page for detailed information
					* Check the example batch scripts on Bridges in the directory /opt/packages/examples/tensorflow. For more information and instructions, see the README file in the appropriate subdirectory.

					In general, you must load a tensorflow module and then activate your Python virtual environment.

					To see all the available tensorflow modules, type

						module avail tensorflow

					Load the appropriate module with 

						module load tensorflow/<version>

					After the module is loaded, activate the Python virtual environment. Typically this is done with the `source activate` command.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I improve my turnaround?</a>

			#faq-jobs-turn(style="display:none")
				:markdown

					There are several techniques you can use to try to improve your turnaround, although, since the scheduler is basically FIFO with backfill, you may just have to wait your turn.

					1. Estimate your walltime as closely as possible without underestimating.
					1. Use flexible walltime by using the --time-min option to the `sbatch` command. The use of this option is described in the Bridges User Guide.
					1. Since only the first N jobs in the queue---and N varies based on the load on the system---are considered for scheduling, use job packing to combine your jobs. The use of job packing is described in the Bridges User Guide.
					1. If you can conveniently complete a computing task on your local system, you can run the task there.
					1. Since Bridges runs a fairshare scheduler, if you have run a lot of jobs recently the priority of your current jobs in the queue will be reduced slightly until they have accumulated some waiting time in the queue. This fact may influence how you spread out running your jobs.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Can I reserve Bridges nodes for my exclusive use?</a>

			#faq-jobs-excluse(style="display:none")
				:markdown

					Reservations on Bridges are set-asides for a specific grant of a specific set of nodes for a specific time period. They may be granted under special circumstances, typically for jobs that require real-time or interactive processing (e.g. of streaming external data, student exercises etc.).

					If you feel that you have such a use case, you may apply for a reservation using the <a target="_blank" href="https://psc.edu/reservation-request?view=form">Reservation Request form</a> at least 48 hours before the proposed start time. A user consultant will contact you about your request. 

					Note that it may not be possible to honor all reservation requests. In addition, modifications to your request may be necessary, depending on the overall processing demands on the system.

					If your reservation is accepted, __your Bridges grant will be charged for all specified nodes for the entire specified time period__, regardless of the actual usage your jobs incur.

					*Example: A reservation for 1024 RM cores that starts Monday 8:00 am EST and ends Wednesday 8:00 am EST will be charged 1024*48 SUs even if you run no jobs on Tuesday.*

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Why hasn't my job run yet?</a>

			#faq-jobs-runyet(style="display:none")
				:markdown

					There can be many reasons that a job is waiting in the queue.

					* There are jobs in front of you in the queue. If the status field in the output from the command `squeue -l` has 'Priority' in the status field, this is the case.
					* There is a maximum amount of nodes your RM jobs can cummulatively request. The maximum limit varies based on the load on the system. If the status field in the `squeue -l` output says 'QOSMaxCPUPerUserLimit', this is the case.
					* There is a maximum amount of cores your RM-shared jobs can cummulatively request. This maximum limit varies based on the load on the system. If the status field in the `squeue -l` output says 'QOSMaxCPUPerUserLimit', this is the case.
					* There is a maximum number of GPU nodes your GPU jobs can simultaneously use. This limit applies to the p100 and k80 nodes combined. If the status field in the `squeue -l` output says 'QOSMaxGRESPerUser', this is the case.
					* The partition you want to use is down. If the status field in the `squeue -l` output says 'PartitionDown', this is the case.
					* There are currently no nodes available to run your job. This can be because
						* They are already running jobs
						* There are a lot of reserved nodes. The `sinfo` command shows reserved nodes.
						* There are a lot of down nodes. The `sinfo` command shows down nodes.
						* They are being reserved for a job with a reservation that is about to start
						* They are being reserved for a job at which a system drain is targeted. If the status field in the `squeue -l` output says 'ReqNodeNotAvailable', this is the case. The output is somewhat misleading because it will list all nodes on the machine which are unavailable to run jobs, even nodes on which your job could not run because they are in a different partition.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How do I set an environment variable?</a>

			#faq-jobs-setenv(style="display:none")
				:markdown

					Many applications require environment variables to be set before they will run as you intend, or even at all. The PSC-supplied modules set many of the necessary environment variables for a package, but in some cases you need to set additional environment variables. The command to use depends on the shell type you are using.

					If you are using a shell in the bash family of shells, set an an environment variable with a command similar to

						export VAR1 = value1

					If you are using a shell in the C-shell family of shells, set an environment variable with a command similar to

						setenv VAR1 value1

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>I have multiple grants. How do I charge the correct one for a job?</a>

			#faq-jobs-multgrant(style="display:none")
				:markdown

					There are two parameters to consider: the SLURM account id, which determines which grant the SUs used by a job are deducted from, and the Unix group, which determines which group owns any files created by the job.

					See [Managing multiple grants](#account:multiple) in the Account Admininstration section for information on determing your default SLURM account id and Unix group, and changing them either permanently or temporarily, for one job or login session.

	#faq:software
		:markdown
			## [Software](#faq:software)

		<a class="faq-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What software is available on Bridges; common errors with a given package</a>

		#faq-soft(style="display:none")
			:markdown

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>Why can't I run Gaussian?</a>

			#faq-soft-gaussian(style="display:none")
				:markdown

					You must get permission before you can use Gaussian on PSC systems.

					Complete the <a href="https://www.psc.edu/user-resources/software/gaussian/permission-form?view=form" target="_blank">PSC Gaussian permission form</a>.

					We will notify you when you have been granted access to Gaussian.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>What software is installed on Bridges?</a>

			#faq-soft-installed(style="display:none")
				:markdown

					Check the <a target="_blank" href="https://www.psc.edu/resources/software">PSC software page</a>for the list of software installed on Bridges.

			<br /><a class="faq-sub-link" onclick="javascript:showhidefaq(this)"><img src="/documents/10308/0/small-right-arrow.png/a9ed7d76-796c-4b08-b7bd-a59452bf0da1?t=1480702749000"/>How many CPU tasks should I request for a Gromacs job that uses both CPUs and GPUs?</a>

			#faq-soft-gromacs(style="display:none")
				:markdown

					To run Gromacs on both GPUs and CPUs, use the same number of CPU tasks as GPUs. Thus, no matter how many nodes you use, set the value of the `SBATCH` option `ntasks-per-node` to 4 if you are using the K80 GPU nodes and to 2 if you are using the P100 GPU nodes.

					You must also use the correct Gromacs module to insure that your compilation will work.

					To use GPUs and CPUs, load a gromacs module with "gpu" in its name, similar to

						module load gromacs/2018_gpu

					To use just CPUs, load a gromacs module with "cpu" in its name, similar to

						module load gromacs/2018_cpu

					There are complete sample scripts for both cases in directory `/opt/packages/examples/gromacs` on Bridges.
