<table border="1" cellpadding="3" cellspacing="1">
<tr valign="top">
<td><a href="javascript:showhideopenmp()"><img src=SMALLRIGHTARROW id="img-openmp">Sample script for OpenMP</a><br>
#openmp(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -N 1
		#SBATCH -p RM
		#SBATCH --ntasks-per-node 28
		#SBATCH -t 5:00:00
		# echo commands to stdout 
		set -x

		# move to your appropriate pylon5 directory
		# this job assumes:
		#  - all input data is stored in this directory
		#  - all output should be stored in this directory
		cd /pylon5/groupname/username/path-to-directory

		# run OpenMP program
		export OMP_NUM_THREADS=28
		./myopenmp
		</pre>
		**Notes:**

		The "`--ntasks-per-node`" option indicates that you will use all 28 cores.

		For *groupname*, *username*, and *path-to-directory* you must substitute your Unix group, username, and appropriate directory path.</td>
<tr>
<td valign="top"><a href="javascript:showhidempi()"><img src=SMALLRIGHTARROW id="img-mpi">Sample script for MPI</a><br>
#mpi(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -p RM
		#SBATCH -t 5:00:00
		#SBATCH -N 2
		#SBATCH --ntasks-per-node 28
		#echo commands to stdout
		set -x

		#move to your appropriate pylon5 directory
		cd /pylon5/<em>groupname/username/path-to-directory</em>
		<br>#set variable so that task placement works as expected<br>export  I_MPI_JOB_RESPECT_PROCESS_PLACEMENT=0<br><br>#copy input files to `$LOCAL` file storage
		srun -N $SLURM_JOB_NUM_NODES --ntasks-per-node=1 \<br>  sh -c 'cp <em>path-to-directory</em>/input.${SLURM_PROCID} $LOCAL'
		<br>#run MPI program
		mpirun -np $SLURM_NTASKS ./mympi
		<br># Copy output files to pylon5
		srun -N $SLURM_JOB_NUM_NODES --ntasks-per-node=1 \ <br>  sh -c 'cp $LOCAL/output.* /pylon5/<em>groupname/username/path-to-directory</em>'
		</pre>

		**Notes:**

		The variable `$SLURM_NTASKS` gives the total number of cores requested in a job. In this example `$SLURM_NTASKS` will be 56 because the "`-N`" option requested 2 nodes and the "`--ntasks-per-node`" option requested all 28 cores on each node.

		The export command sets "`I_MPI_JOB_RESPECT_PROCESS_PLACEMENT`" so that your task placement settings are effective. Otherwise, the SLURM defaults are in effect.

		The `srun` commands are used to copy files between pylon5 and the `$LOCAL` file systems on each of your nodes.

		The first `srun` command assumes you have two files named input.0 and input.1 in your pylon5 file space. It will copy input.0 and input.1 to, respectively, the `$LOCAL` file systems on the first and second nodes allocated to your job.

		The second `srun` command will copy files named "`output.*`" back from your `$LOCAL` file systems to your pylon5 file space before your job ends. In this command '*' functions as the usual Unix wildcard.

		For *groupname*, *username*, and *path-to-directory* you must substitute your Unix group, username, and appropriate directory path.</td>
</tr>
<tr>
<td valign="top"><a href="javascript:showhidehybrid()"><img src=SMALLRIGHTARROW id="img-hybrid">Sample script for hybrid OpenMP-MPI</a>
#hybrid(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH --nodes=2
		#SBATCH --ntasks=4
		#SBATCH --cpus-per-task=14
		#SBATCH --time=00:10:00
		#SBATCH --job-name=hybrid
		cd $SLURM_SUBMIT_DIR
		
		mpiifort -xHOST -O3 -qopenmp -mt_mpi hello_hybrid.f90 -o hello_hybrid.exe
	
		# set variable so task placement works as expected
		export I_MPI_JOB_RESPECT_PROCESS_PLACEMENT=0

		mpirun -print-rank-map -n $SLURM_NTASKS -genv \<br> OMP_NUM_THREADS=$SLURM_CPUS_PER_TASK -genv I_MPI_PIN_DOMAIN=omp \<br> ./hello_hybrid.exe</pre>

		**Notes:**

		This example asks for 2 nodes, 4 MPI tasks and 14 OpenMP threads per MPI task.

		The export command sets `I_MPI_JOB_RESPECT_PROCESS_PLACEMENT` so that your task placement settings are effective. Otherwise, the SLURM defaults are in effect. </td>
</tr>
<tr>
<td valign="top"><a href="javascript:showhidejobarray()"><img src=SMALLRIGHTARROW id="img-jobarray">Sample script for Job Array</a>
#jobarray(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -t 05:00:00
		#SBATCH -p RM-shared
		#SBATCH -N 1
		#SBATCH --ntasks-per-node 5
		#SBATCH --array=1-5

		set -x

		./myexecutable $SLURM_ARRAY_TASK_ID
		</pre>

		**Notes:**

		This script will generate five jobs that will each run on a separate core on the same node. The value of the variable `SLURM_ARRAY_TASK_ID` is the core number, which, in this example, will range from 1 to 5. Good candidates for job array jobs are jobs that can use only this core index to determine the different processing path for each job. For more information about job array jobs see the `sbatch` man page and the <a href="https://slurm.schedmd.com/job_array.html">online</a> SLURM documentation.
</td>
</tr><tr valign="top">
<td><a href="javascript:showhidebundlesinglecore()"><img src=SMALLRIGHTARROW id="img-bundlesinglecore">Sample script for bundling single-core jobs</a>
#bundlesinglecore(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -N 1
		#SBATCH -p RM-shared
		#SBATCH -t 05:00:00
		#SBATCH --ntasks-per-node 14
		 
		echo SLURM NTASKS: $SLURM_NTASK<br>i=0<br>while [ $i -lt $SLURM_NTASKS ]<br>do<br>     numactl -C +$i ./run.sh &amp;<br>     let i=i+1<br>done<br>
		wait # IMPORTANT: wait for all to finish or get killed</pre>

		**Notes:**

		Bundling or packing multiple jobs in a single job can improve your turnaround and improve the performance of the SLURM scheduler.</td></tr>

<tr><td valign="top"><a href="javascript:showhidebundlemulticore()"><img src=SMALLRIGHTARROW id="img-bundlemulticore">Sample script for bundling multi-core jobs</a>
#bundlemulticore(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -N 1
		#SBATCH -p RM-shared
		#SBATCH -t 05:00:00
		#SBATCH --ntasks-per-node 14
		#SBATCH --cpus-per-task 2<br><br>echo SLURM NTASKS: $SLURM_NTASKS<br>i=0<br>while [ $i -lt $SLURM_NTASKS ]<br>do<br>     numactl -C +$i ./run.sh &amp;<br>     let i=i+1<br>done
		wait # IMPORTANT: wait for all to finish or get killed</pre>

		**Notes:**

		Bundling or packing multiple jobs in a single job can improve your turnaround and improve the performance of the SLURM scheduler.</td>
</tr>
<tr valign="top">
<td><a href="javascript:showhidegpuscript()"><img src=SMALLRIGHTARROW id="img-gpuscript">Sample script for GPU</a><br>
#gpuscript(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -N 2
		#SBATCH -p GPU
		#SBATCH --ntasks-per-node 28
		#SBATCH -t 5:00:00
		#SBATCH --gres=gpu:p100:2

		# echo commands to stdout
		set -x

		# move to working directory
		# this job assumes:
		# - all input data is stored in this directory
		# - all output should be stored in this directory
		cd /pylon5/groupname/username/path-to-directory

		# run GPU program
		./mygpu
		</pre>

		**Notes:**

		The option `--gres-gpu` indicates the number and type of GPUs you want.

		For *groupname*, *username*, and *path-to-directory* you must substitute your Unix group, username, and appropriate directory path.</td>
</tr>
<tr valign="top">
<td><a href="javascript:showhidegpushared()"><img src=SMALLRIGHTARROW id="img-gpushared">Sample script for GPU-shared partition</a><br>
#gpushared(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH -N 1
		#SBATCH -p GPU-shared
		#SBATCH --ntasks-per-node 7
		#SBATCH --gres=gpu:p100:1
		#SBATCH -t 5:00:00

		# echo commands to stdout
		set -x

		# move to working directory
		# this job assumes:
		# - all input data is stored in this directory
		# - all output should be stored in this directory
		cd /pylon5/groupname/username/path-to-directory

		# run GPU program
		./mygpu
		</pre>

		**Notes:**

		The option `--gres-gpu` indicates the number and type of GPUs you want.

		For *groupname*, *username*, and *path-to-directory* you must substitute your Unix group, username, and appropriate directory path.</td>
</tr>
<tr valign="top">
<td><a href="javascript:showhidegpuai()"><img src=SMALLRIGHTARROW id="img-gpuai">Sample script for the GPU-AI partition</a><br>
#gpuai(style="display:none")
	:markdown
		<pre>
		#!/bin/bash
		#SBATCH --partition=GPU-AI
		#SBATCH --nodes=1
		#SBATCH --gres=gpu:volta16:8
		#SBATCH --time=1:00:00

		source /etc/profile.d/modules.sh

		cd $SCRATCH/ngc
		module load singularity
		singularity exec --nv \<br>  /pylon5/containers/ngc/directory-name/tensorflow-image.simg \<br>  /pylon5/groupname/username/path-to-executable
		</pre>

		**Notes:**

		The bash shell is used and the `source` command loads the module command.

		The `--nv` switch to the `singularity exec` command is necessary to include CUDA support.

		For *directory-name* and *tensorflow-image*, substitute the appropriate directory and image names.

		For *groupname*, *username*, and *path-to-executable* you must substitute your Unix group, username, and appropriate executable path.</td>
</tr>
</table>
