#running
	:markdown
		# [Running Jobs](#running)

		All production computing must be done on Bridges' compute nodes, NOT on Bridges' login nodes. The SLURM scheduler (Simple Linux Utility for Resource Management) manages and allocates all of Bridges' compute nodes. Several <em>partitions, </em>or job queues, have been set up in SLURM to allocate resources efficiently.

		To run a job on Bridges, you need to decide <em>how</em> you want to run: interactively, in batch, or through OnDemand; and <em>where</em> to run - that is, which partitions you are allowed to use.

		<strong>What are the different ways to run a job?</strong>

		 You can run jobs in Bridges in several ways:

		* <em>interactive</em> mode - where you type commands and receive output back to your screen as the commands complete
		* <em>batch</em> mode - where you first create a batch (or job) script which contains the commands to be run, then submit the job to be run as soon as resources are available
		* through <em>OnDemand</em> - a browser interface that allows you to run interactively, or create, edit and submit batch jobs and also provides a graphical interface to tools like RStudio, Jupyter notebooks, and IJulia. See the [OnDemand](#ondemand) section for more information.

		Regardless of which way you choose to run your jobs, you will always need to choose a partition to run them in.

		<strong>Which partitions can I use?</strong>

		Different partitions control different types of Bridges' resources; they are configured by the type of node they control along with other job requirements like how many nodes or how much time or memory is needed. Your access to the partitions is based on the type of Bridges allocation that you have ("Bridges regular memory", "Bridges large memory", "Bridges GPU", or "Bridges-AI"). You may have more than one type of allocation; in that case, you will have access to more than one set of partitions.

		You can see which Bridges resources you have been allocated with the `projects` command. See [The projects command](#account:projects) in the [Account Administration](#account) section of this guide for more information.

	#running:interactive
		:markdown
			## [Interactive sessions](#running:interactive)

			You can do your production work interactively on Bridges, typing commands on the command line, and getting responses back in real time. But you must be allocated the use of one or more Bridges' compute nodes by SLURM to work interactively on Bridges. You cannot use the Bridges login nodes for your work.

			You can run an interactive session in any of the SLURM partitions. You will need to specify which partition you want, so that the proper resources are allocated for your use.
		
			If all of the resources set aside for interactive use are in use, your request will wait until the resources you need are available. Using a shared partition (RM-shared, GPU-shared) will probably allow your job to start sooner.

		#running:interactive-interact
			:markdown
				### [The `interact` command](#running:interactive-interact)

				To start an interactive session, use the command `interact`. The format is:

				<pre>interact <em>-options</em></pre>
		
				The simplest `interact` command is:

				<pre class="cmd-line">$ <strong>interact</strong></pre>

				This command will start an interactive job using the defaults for `interact`, which are: <p style="padding-left: 30px;"><strong>Partition:</strong> RM-small<br><strong>Cores:</strong> 1<br><strong>Time limit:</strong> 60 minutes

				Once the <code>interact</code> command returns with a command prompt you can enter your commands. The shell will be your default shell. When you are finished with your job, type `CTRL-D`.
	
				<pre class="cmd-line">
				[bridgesuser@br006 ~]$ <strong>interact</strong></pre>

				A command prompt will appear when your session begins
				"Ctrl+d" or "exit" will end your session

				<pre class="cmd-line">
				[bridgesuser@r004 ~]$</pre>

				<strong>Notes:</strong>

				* _Be sure to use the correct account id for your job_ if you have more than one grant. See [Charging with multiple grants](#running:grants).
				* _Service Units (SUs) accrue for your resource usage from the time the prompt appears until you type CTRL-D_, so be sure to type CTRL-D as soon as you are done.
				* _The maximum time you can request is 8 hours_. Inactive `interact` jobs are logged out after 30 minutes of idle time.
				* _By default, `interact` uses the RM-small partition_. Use the [`-p`](#running:interactive-interact-options) option for `interact` to use a different partition.

		#running:interactive-interact-options
			:markdown
				### [Options for `interact`](#running:interactive-interact-options)

				If you want to run in a different partition, use more than one core or set a different time limit, you will need to use options to the `interact` command. Available options are given below.


		#table1
			:markdown
				[Table 1. Options to the `interact` command](#table1) 

		<table border="1" cellpadding="3">
		<thead>
		<tr><th>Option</th><th>Description</th><th>Default value</th></tr>
		</thead>
		<tbody>
		<tr>
		<td><code>-p <em>partition</em></code></td>
		<td>Partition requested</td>
		<td nowrap>RM-small</td>
		</tr>
		<tr>
		<td><code>-t <em>HH:MM:SS</em></code></td>
		<td> Walltime requested <br>The maximum time you can request is 8 hours.
		</td>
		<td>60:00<br>(1 hour)</td>
		</tr>
		<tr>
		<td><code>-N<em> n</em></td>
		<td>Number of nodes requested</td>
		<td>1</td>
		</tr>
		<tr>
		<td><code>--egress<p><span style="font-size: smaller;">Note the "--" for this option</span></code></td>
		<td>Allows your compute nodes to communicate with sites external to Bridges.</td>
		<td>N/A</td>
		</tr>
		<tr>
		<td><code>-A <em>account id</em></code></td>
		<td> SLURM account id the job to<br><a href="#account:multiple-default">Find or change your default account id</a>
		<p style="font-size: smaller;">Note: Files created during a job will be owned by the Unix group in effect when the job is submitted. This may be different than the account id for the job. See the discussion of the <a href="#running:grants-temp"><code>newgrp</code> command in the Account Administration</a> section to see how to change the Unix group currently in effect.
		</td>
		<td>Your default account id</td>
		</tr>
		<tr>
		<td><code>-R <em>reservation-name</em></code></td>
		<td>Reservation name, if you have one<p><span style="font-size: smaller;">Use of -R does not automatically set any other interact options. You still need to specify the other options (partition, walltime, number of nodes) to override the defaults for the interact command. If your reservation is not assigned to your default account, then you will need to use the "<code>-A</code>" option when you issue your interact command.</span></td>
		<td>No default</td>
		</tr>
		<tr>
		<td><code>--mem=<em>n</em>GB<p><span style="font-size: smaller;">Note the "--" for this option</span></code></td>
		<td> Amount of memory requested in GB. This option should only be used for the LM partition.
		</td>
		<td>No default</td>
		</tr>
		<tr>
		<td><code>--gres=gpu:<em>type:n</em>
		<p><span style="font-size: smaller;">Note the "--" for this option</span></code></td>
		<td>Specifies the type and number of GPUs requested.<br />'type' is one of: volta32, volta16, p100 or k80.<br />For the GPU-shared and GPU-small partitions, type is either k80 or p100. The default is k80.<br />For the GPU-AI partition, type is either volta16 or volta32.<br><em>'n'</em> is the number of GPUs. Valid choices are:
		<ul>
		<li>1-4, when type=k80
		<li>1-2, when type=p100
		<li>1-8, when type=volta16
		<li>1-16, when type=volta32
		</ul>
		</td>
		<td>No default</td>
		</tr>
		<tr>
		<td><code>-gpu</code></td>
		<td>Runs your job on one P100 GPU in the GPU-small partition</td>
		<td>N/A</td>
		</tr>
		<tr>
		<td nowrap><code>--ntasks-per-node=<em>n</em><br><span style="font-size: smaller;">Note the "--" for this option</span></code></td>
		<td>Number of cores to allocate per node</td>
		<td>1</td>
		</tr>
		<tr>
		<td><code>-h</code></td>
		<td>Help, lists all the available command options</td>
		<td> N/A</td>
		</tr>
		</tbody>
		</table>

		:markdown
			**See also:**

			* [Bridges partitions](#running:partitions)
			* [How to determine your valid SLURM account ids and Unix groups and change your default](#account:multiple-default) in the Account adminstration section
			* [Charging with multiple grants](#running:grants)
			* <a href="http://slurm.schedmd.com/srun.html" target="_blank" rel="noopener noreferrer">The `srun` command</a>, for more complex control over your interactive job


	#running:batch
		:markdown
			## [Batch jobs](#running:batch)
		
			To run a batch job, you must first create a batch (or job) script, and then submit the script using the <code>sbatch</code> command.
		
			A batch script is a file that consists of `SBATCH` directives, executable commands, and comments.
		
			`SBATCH` directives specify your resource requests and other job options in your batch script. You can also specify resource requests and options on the <code>sbatch</code> command line. Any options on the command line take precedence over those given in the batch script. The `SBATCH` directives must start with "`#SBATCH`" as the first text on a line, with no leading spaces.
		
			Comments begin with a '`#`' character.
		
			The first line of any batch script must indicate the shell to use for your batch job.

		#running:batch-scripts
			:markdown
				### [Sample Batch Scripts](#running:batch-scripts)

				Both sample batch scripts for some popular software packages and sample batch scripts for general use on Bridges are available.

				#### Sample batch scripts for popular software packages

				Sample scripts for some popular software packages are available on Bridges in the directory `/opt/packages/examples`. There is a subdirectory for each package, which includes the script along with input data that is required and typical output.

				See the documentation for a particular package for more information on using it and how to test any sample scripts that may be available. 

				#### Sample batch scripts for common types of jobs

				Sample Bridges batch scripts for common job types are given in this document.

				**Note that in each sample script:**

				* the bash shell is used, indicated by the first line "`!#/bin/bash`". If you use a different shell, some Unix commands will be different.
				* For <em>username</em> and <em>groupname</em> you must substitute your username and your appropriate Unix group.

		/ slurp in job scripts
		=File.read("jobscripts.html")

	#running:batch-sbatch
		:markdown
			## [The `sbatch` command](#running:batch-sbatch)
		
			To submit a batch job, use the <code>sbatch</code> command. The format is

			<pre>sbatch -options <em>batch-script</em></pre>
		
			The options to <code>sbatch</code> can either be in your batch script or on the `sbatch` command line. Options in the command line override those in the batch script.
		
			<strong>Note:</strong>

			* <em>Be sure to use the correct account id for your job</em> if you have more than one grant. See the [`-A` option for `sbatch`](#table2) to change the SLURM account id for a job. Information on how to determine your valid account ids and change your default account id is in the [Account adminstration](#account) section.
			* In some cases, the options for `sbatch` differ from the options for `interact` or `srun`.
			* By default, `sbatch` submits jobs to the RM partition. Use the [`-p` option for `sbatch`](#table2) to direct your job to a different partition.

		#running:batch-sbatch-options
			:markdown
				### [Options to the `sbatch` command](#running:batch-sbatch-options)

				For more information about these options and other useful `sbatch` options see the <a href="http://slurm.schedmd.com/sbatch.html" target="_blank">`sbatch` man page</a>. 

		#table2
			:markdown
				[Table 2. Options to the `sbatch` command](#table2)

				<table border="1" cellpadding="3">
				<thead>
				<tr><th>Option</th><th>Description</th><th>Default</th></tr>
				</thead>
				<tbody>
				<tr>
				<td valign="top">-p <em>partition</em></td>
				<td>Partition requested</td>
				<td>RM</td>
				</tr>
				<tr>
				<td valign="top">-t <em>HH:MM:SS</em></td>
				<td>Walltime requested in HH:MM:SS</td>
				<td nowrap>30 minutes</td>
				</tr>
				<tr>
				<td>-N <em>n</em></td>
				<td>Number of nodes requested.</td>
				<td>1</td>
				</tr>
				<tr>
				<td valign="top">-A <em>groupname</em></td>
				<td> Group to charge the job to. If not specified, your default group is charged. <a href="#">Find your default group</a><p>Note: Files created during a job will be owned by the group in effect when the job is submitted. This may be different than the group the job is charged to. See the discussion of the <a href="#running:grants-temp"><code>newgrp</code> command in the Account Administration</a> section to see how to change the group currently in effect.
				</td>
				<td>Your default group</td>
				</tr>
				<tr>
				<td valign="top"> --res <em>reservation-name</em><br><span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td>Use the reservation that has been set up for you. <em>Use of "<code>--res</code>" does not automatically set any other options</em>. You still need to specify the other options (partition, walltime, number of nodes) that you would in any <code>sbatch</code> command. If your reservation is not assigned to your default account then you will need to use the "<code>-A</code>" option to <code>sbatch</code> to specify the account.</td>
				<td>NA</td>
				</tr>
				<tr>
				<td valign="top"> --mem=<em>n</em>GB<br><span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td>Memory in GB. This option is only valid for the LM partition.</td>
				<td>None</td>
				</tr>
				<tr>
				<td valign="top">-C <em>constraints</em></td>
				<td>Specifies constraints which the nodes allocated to this job must satisfy.<p>An <code>sbatch</code> command can have only one "<code>-C</code>" option. Multiple constraints can be specified with "&amp;". For example, <code>-C LM&amp;PH2</code> constrains the nodes to 3TB nodes with 20 cores and 38.5GB/core. If mutilple -C commands are given, (e.g., <code>sbatch ..... -C LM -C EGRESS</code>) only the last applies. The <code>-C LM</code> option will be ignored in this example.<p>Some valid constraints are:
				<dl><dt>EGRESS</dt><dd>Allows your compute nodes to communicate with sites external to Bridges</dd><dt>LM</dt><dd>Ensures that a job in the LM partition uses only the 3TB nodes. This option is required for any jobs in the LM partition which use /pylon5.</dd><dt>PH1</dt><dd>Ensures that the job will run on LM nodes which have 16 cores and 48GB/core</dd><dt>PH2</dt><dd>Ensures that the job will run on LM nodes which have 20 cores and 38.5GB/core</dd><dt>PERF</dt><dd>Turns on performance profiling. For use with performance profiling software like VTune, TAU</dd></dl><p>See the discussion of the -C option in the <a href="https://slurm.schedmd.com/sbatch.html" target="_blank" rel="noopener noreferrer"><code>sbatch</code> man page</a> for more information.
				</td>
				<td>None</td>
				</tr>
				<tr>
				<td>--gres=gpu:<em>type:n</em><br><span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td>Specifies the type and number of GPUs requested. <em>'type</em>' is either p100 or k80. The default is k80.<br> <em> 'n'</em> is the number of requested GPUs. Valid choices are 1-4, when <em>type</em> is<em> </em>k80 and 1-2 when <em>type</em> is p100.
				</td>
				<td>None</td>
				</tr>
				<tr>
				<td valign="top">--ntasks-per-node=<em>n</em><br> <span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td>Request <em>n</em> cores be allocated per node. </td>
				<td>1</td>
				</tr>
				<tr>
				<td valign="top"> --mail-type=<em>type</em><br> <span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td>Send email when job events occur, where <em>type</em> can be BEGIN, END, FAIL or ALL.</td>
				<td>None</td>
				</tr>
				<tr>
				<td valign="top">--mail-user=<em>user</em> <br> <span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td>User to send email to as specified by -mail-type. Default is the user who submits the job. </td>
				<td>None</td>
				</tr>
				<tr>
				<td valign="top">-d=<em>dependency-list</em></td>
				<td>Set up dependencies between jobs, where <em>dependency-list</em> can be:<dl><dt><strong>after:job_id[:jobid...]</strong></dt><dd>This job can begin execution after the specified jobs have begun execution.</dd><dt><strong>afterany:job_id[:jobid...]</strong></dt><dd>This job can begin execution after the specified jobs have terminated.</dd><dt><strong>aftercorr:job_id[:jobid...]</strong></dt><dd>A task of this job array can begin execution after the corresponding task ID in the specified job has completed successfully (ran to completion with an exit code of zero).</dd><dt><strong>afternotok:job_id[:jobid...]</strong></dt><dd>This job can begin execution after the specified jobs have terminated in some failed state (non-zero exit code, node failure, timed out, etc).</dd><dt><strong>afterok:job_id[:jobid...]</strong></dt><dd>This job can begin execution after the specified jobs have successfully executed (ran to completion with an exit code of zero).</dd><dt><strong>singleton</strong></dt><dd>This job can begin execution after any previously launched jobs sharing the same job name and user have terminated.</dd></dl></td>
				<td>None</td>
				</tr>
				<tr>
				<td valign="top">--no-requeue<br> <span style="font-size: smaller;">Note the "--" for this option</span></td>
				<td>Specifies that your job will be not be requeued under any circumstances. If your job is running on a node that fails it will not be restarted. Note the "--" for this option.</td>
				<td>NA</td>
				</tr>
				<tr>
				<td valign="top"> --time-min=<em>HH:MM:SS</em><br> <span style="font-size: smaller;">Note the "--" for this option.</span>
				</td>
				<td> Specifies a minimum walltime for your job in HH:MM:SS format.<p>SLURM considers the walltime requested when deciding which job to start next. Free slots on the machine are defined by the number of nodes and how long those nodes are free until they will be needed by another job. By specifying a minimum walltime you allow the scheduler to reduce your walltime request to your specified minimum time when deciding whether to schedule your job. This could allow your job to start sooner.<p>If you use this option your actual walltime assignment can vary between your minimum time and the time you specified with the "<code>-t</code>" option. If your job hits its actual walltime limit, it will be killed. When you use this option you should checkpoint your job frequently to save the results obtained to that point.
				</td>
				<td>None</td>
				</tr>
				<tr>
				<td valign="top">--switches=1<br><span style="white-space: pre;">--switches=1@<em>HH:MM:SS</em></span><br> <span style="font-size: smaller;">Note the "--" for this option</span>
				</td>
				<td> Requests that the nodes your job runs on all be on one <em>switch</em>, which is a hardware grouping of 42 nodes.<p>If you are asking for more than 1 and fewer than 42 nodes, your job will run more efficiently if it runs on one switch. Normally switches are shared across jobs, so using the switches option means your job may wait longer in the queue before it starts.<p>The optional time parameter gives a maximum time that your job will wait for a switch to be available. If it has waited this maximum time, the request for your job to be run on a switch will be cancelled.
				</td>
				<td>NA</td>
				</tr>
				<tr>
				<td>-h</td>
				<td>Help, lists all the available command options</td>
				<td> </td>
				</tr>
				</tbody>
				</table>

			:markdown
				**See also:**

				* [Bridges partitions](#running:partitions)
				* [How to determine your valid groups and change your default group](#account:multiple-default) in the Account adminstration section
				* [Charging with multiple grants](#running:grants) below

	#running:grants
		:markdown
			## [Charging with multiple grants](#running:grants)

			If you have more than one grant, be sure to use the correct SLURM account id and Unix group when running jobs.

			See [Managing multiple grants](#account:multiple) in the Account Administration section to see how to find your account ids and Unix groups and determine or change your defaults.

	#running:grants-perm
		:markdown
			### [Permanently change your default SLURM account id and Unix group](#running:grants-perm)

			See the `change_primary_group` command in the [Account Administration](#account:multiple-change-permanent) section to permanently change your default SLURM account id and Unix group.

	#running:grants-temp
		:markdown
			### [Temporarily change your SLURM account id or Unix group](#running:grants-temp)

			See the `-A` option to the `sbatch` or `interact` commands to set the SLURM account id for a specific job.

			The `newgrp` command will change your Unix group for that login session only. Note that any files created by a job are owned by the Unix group in effect **when the job is submitted**, _which is not necessarily the same as the account id used for the job_. See the `newgrp` command in the [Account Administration section](#account:multiple-change-session) to see how to change the Unix group currently in effect.

	#running:partitions
		:markdown
			## [Bridges partitions](#running:partitions)
		
			Each SLURM partition manages a subset of Bridges' resources. Each partition allocates resources to interactive sessions, batch jobs, and OnDemand sessions that request resources from it.

			**Know which partitions are open to you**: Your Bridges allocations determine which partitions you can submit jobs to.

			* A **"Bridges regular memory"** allocation allows you to use Bridges' RSM (128GB) nodes. Partitions available to "Bridges regular memory" allocations are<br>
				* **RM**, for jobs that will run on Bridges' RSM (128GB) nodes, and use one or more full nodes
				* **RM-shared**, for jobs that will run on Bridges' RSM (128GB) nodes, but share a node with other jobs
				* **RM-small**, for short jobs needing 2 full nodes or less, that will run on Bridges RSM (128GB) nodes

			* A **"Bridges large memory"** allocation allows you to use Bridges LSM and ESM (3TB and 12TB) nodes. There is one partition available to "Bridges large memory" allocations:
				* **LM**, for jobs that will run on Bridges' LSM and ESM (3TB and 12TB) nodes
		
			* A **"Bridges GPU"** allocation allows you to use Bridges' GPU nodes. Partitions available to "Bridges GPU" allocations are:
				* **GPU**, for jobs that will run on Bridges' GPU nodes, and use one or more full nodes
				* **GPU-shared**, for jobs that will run on Bridges' GPU nodes, but share a node with other jobs
				* **GPU-small**, for jobs that will use only one of Bridges' GPU nodes and 8 hours or less of wall time.

			* A **"Bridges-AI"** allocation allows you to you Bridges' Volta GPU nodes. There is one partition available to "Bridges-AI" allocations:
				* **GPU-AI**, for jobs that will run on Bridges' Volta 16 nodes or the DGX-2.

			All the partitions use FIFO scheduling. If the top job in the partition will not fit, SLURM will try to schedule the next job in the partition. The scheduler follows policies to ensure that one user does not dominate the machine. There are also limits to the number of nodes and cores a user can simultaneously use. Scheduling policies are always under review to ensure best turnaround for users.

	#running:part-rm
		:markdown
			## [Partitions for "Bridges regular memory" allocations](#running:part-rm)

			There are three partitions available for "Bridges regular memory allocations": RM, RM-shared and RM-small.

			**Use your allocation wisely:** To make the most of your allocation, use the shared partitions whenever possible. Jobs in the RM partition are charged for the use of all cores on a node, and incur Service Units (SU) for all 28 cores. Jobs in the RM-shared partition share nodes, and SUs accrue only for the number of cores they are allocated. The RM partition is the default for the `sbatch` command, while RM-small is the default for the `interact` command. See the discussion of the `interact` and `sbatch` commands in this document for more information.
		
			**Use the appropriate account id for your jobs:** If you have more than one Bridges grant, be sure to use the correct SLURM account id for each job. See [Charging with multiple grants](#running:grants).
		
			For information on requesting resources and submitting jobs see the discussion of the [`interact`](#running:interactive-interact) and [`sbatch`](#running:batch-sbatch) commands.

		#running:part-rm-base
			:markdown
				### [RM partition](#running:part-rm-base)

				Jobs in the RM partition run on Bridges' RSM (128GB) nodes. Jobs do not share nodes, and are allocated all 28 of the cores on each of the nodes assigned to them. A job in the RM partition incurs SUs for all 28 cores per node on its assigned nodes. 
			
				RM jobs can use more than one node. However, the memory space of all the nodes is not integrated. The cores within a node access a shared memory space, but cores in different nodes do not.
		
				The internode communication performance for jobs in the RM partition is best when using 42 or fewer nodes. 
		
				When submitting a job to the RM partition, you can request:

				* the number of nodes
				* the walltime limit 

				If you do not specify the number of nodes or time limit, you will get the defaults. See the [summary table](#running:part-rm-summary) for Bridges' regular memory nodes below for the defaults.

				You **cannot specify**:

				* a specific memory allocation

				Asking explicitly for memory for a job in the RM partition will cause the job to fail.

				<strong>Sample `interact` command for the RM partition</strong>

				An example of an <code>interact</code> command for the RM partition, requesting the use of 2 nodes for 30 minutes is

				<pre class="cmd-line">interact -p RM -N 2 -t 30:00</pre>
				where:

				* `-p` indicates the intended partition
				* `-N` is the number of nodes requested
				* `-t` is the walltime requested in the format HH:MM:SS

				<strong>Sample `sbatch` command for RM partition</strong>

				An example of a <code>sbatch</code> command to submit a job to the RM partition, requesting one node for 5 hours is

				<pre class="cmd-line">sbatch -p RM -t 5:00:00 -N 1 myscript.job</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`-N`" is the number of nodes requested
				* "`myscript.job`" is the name of your batch script

		#running:part-rm-shared
			:markdown
				### [RM-shared partition](#running:part-rm-shared)
		
				Jobs in the RM-shared partition run on (part of) a Bridges' RSM (128GB) node. Jobs will share a node with other jobs, but will not share cores. A job in the RM-shared partition will accrue SUs only for the cores allocated to it, so it will use fewer SUs than a RM job. It could also start running sooner.
		
				RM-shared jobs are assigned memory in proportion to the number of requested cores. They get the fraction of the node's total memory in proportion to the number of cores requested. If the job exceeds this amount of memory it will be killed.
		
				When submitting a job to the RM-shared partition, you should specify:

				* the number of cores
				* the walltime limit

				If you do not specify the number of nodes or time limit, you will get the defaults. See the [summary table](#running:part-rm-summary) for Bridges' regular memory nodes below for the defaults.

				You **cannot specify**:

				* a specific memory allocation

				Asking explicitly for memory for a job in the RM-shared partition will cause the job to fail.

				<strong>Sample `interact` command for the RM-shared partition</strong>

				Run in the RM-shared partition using 4 cores and 1 hour of walltime. 

				<pre class="cmd-line">interact -p RM-shared --ntasks-per-node=4 -t 1:00:00</pre>
				where:

				* "`-p`" indicates the intended partition
				* "`--ntasks-per-node`" requests the use of 4 cores
				* "`-t`" is the walltime requested in the format HH:MM:SS

				<strong>Sample `sbatch` command for the RM-shared partition</strong>

				Submit a job to RM-shared asking for 2 cores and 5 hours of walltime.

				<pre class="cmd-line">sbatch -p RM-shared --ntasks-per-node 2 -t 5:00:00 myscript.job</pre>
				where:

				* "`-p`" indicates the intended partition
				* "`--ntasks-per-node`" requests the use of 2 cores
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`myscript.job`" is the name of your batch script

				<strong>Sample `batch` script for RM-shared partition</strong>

				<pre class="job-script">
				#!/bin/bash
				#SBATCH -N 1
				#SBATCH -p RM-shared
				#SBATCH -t 5:00:00
				#SBATCH --ntasks-per-node 2
			
				#echo commands to stdout
				set -x
			
				# move to working directory
				# this job assumes:
				# - all input data is stored in this directory 
				# - all output should be stored in this directory
			
				cd /pylon5/<em>groupname/username/path-to-directory</em>
		
				#run OpenMP program
				export OMP_NUM_THREADS 2
				./myopenmp
				</pre>

				**Notes:** For <em>groupname, <em>username, </em></em>and<em> path-to-directory</em> substitute your Unix group, username, and directory path.

		#running:part-rm-small
			:markdown
				### [RM-small](#running:part-rm-small)
		
				Jobs in the RM-small partition run on Bridges' RSM (128GB) nodes, but are limited to at most 2 full nodes and 8 hours. Jobs can share nodes. Note that the memory space of all the nodes is not integrated. The cores within a node access a shared memory space, but cores in different nodes do not.When submitting a job to the RM-small partition, you should specify:

				* the number of nodes
				* the number of cores
				* the walltime limit

				If you do not specify the number of nodes or time limit, you will get the defaults. See the [summary table](#running:part-rm-summary) for Bridges' regular memory nodes below for the defaults.

				You **cannot specify**:

				* a specific memory allocation

				Asking explicitly for memory for a job in the RM-small partition will cause the job to fail.

				<strong>Sample `interact` command for the RM-small partition</strong>

				Run in the RM-small partition using one node, 8 cores and 45 minutes of walltime. 

				<pre class="cmd-line">interact -p RM-small -N 1 --ntasks-per-node=8 -t 45:00</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`-N`" requests one node
				* "`--ntasks-per-node`" requests the use of 8 cores
				* "`-t`" is the walltime requested in the format HH:MM:SS

				<strong>Sample `sbatch` command for the RM-small partition</strong>

				Submit a job to RM-small asking for 2 nodes and 6 hours of walltime.

				<pre class="cmd-line">sbatch -p RM-small -N 2 -t 6:00:00 myscript.job</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`-N`" requests the use of 2 nodes
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`myscript.job`" is the name of your batch script

		#running:part-rm-summary
			:markdown
				### [Summary of partitions for Bridges regular memory nodes](#running:part-rm-summary)


				<table border="1" cellpadding="3">
				<thead>
				<tr><th>Partition name</th><th>RM</th><th>RM-shared</th><th>RM-small</th></tr>
				</thead>
				<tbody>
				<tr>
				<td><strong>Node type</strong></td>
				<td>128GB<br>28 cores<br>8TB on-node storage</td>
				<td>128GB<br>28 cores<br>8TB on-node storage</td>
				<td>128GB<br>28 cores<br>8TB on-node storage</td>
				</tr>
				<tr>
				<td><strong>Nodes shared?</strong></td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
				</tr>
				<tr>
				<td><strong>Node default</strong></td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				</tr>
				<tr>
				<td><strong>Node max</strong></td>
				<td>168<br><span class="small" style="text-align: left;">If you need more than 168, contact <a href="mailto:bridges@psc.edu">bridges@psc.edu</a> to make special arrangements.</span></td>
				<td>1</td>
				<td>2</td>
				</tr>
				<tr>
				<td><strong>Core default</strong></td>
				<td>28/node</td>
				<td>1</td>
				<td>1</td>
				</tr>
				<tr>
				<td><strong>Core max</strong></td>
				<td>28/node</td>
				<td>28</td>
				<td>28/node</td>
				</tr>
				<tr>
				<td><strong>Walltime default</strong></td>
				<td>30 mins</td>
				<td>30 mins</td>
				<td>30 mins</td>
				</tr>
				<tr>
				<td><strong>Walltime max</strong></td>
				<td>48 hrs</td>
				<td>48 hrs</td>
				<td>8 hrs</td>
				</tr>
				<tr>
				<td><strong>Memory</strong></td>
				<td>128GB/node</td>
				<td>4.5GB/core</td>
				<td>4.5GB/core</td>
				</tr>
				</tbody>
				</table>

			:markdown
				**See also:**

				* [The interact command](#running:interactive-interact)
				* [Batch scripts](#running:batch)
				* [The sbatch command](#running:batch-sbatch)
				* [OnDemand](#ondemand)

	#running:part-lm
		:markdown
			## [Partitions for "Bridges large memory" allocations](#running:part-lm)
		
			There is one partition available for Bridges large memory allocations: LM.
		
			**Charge your jobs to the correct group**: If you have more than one Bridges grant, be sure to charge your usage to the correct one. See [Charging with multiple grants](#running:grants).

			For information on requesting resources and submitting jobs see the [`interact`](#account:interactive-interact) or [`sbatch`](#account:batch-sbatch) commands.

		#running:part-lm
			:markdown
				### [LM partition](#running:part-lm)

				Jobs in the LM partition share nodes. Your memory space for an LM job is an integrated, shared memory space.

				When submitting a job to the LM partition, you __must__:

				* __use the --mem option__ to request the amount of memory you need, in GB. Any value up to 12000GB can be requested There is no default memory value.  Each core on the 3TB and 12TB nodes is associated with a fixed amount of memory, so the amount of memory you request determines the number of cores assigned to your job.
				* specify the walltime limit

				You __cannot__:

				* specifically request a number of cores

				SLURM will place jobs on either a 3TB or a 12TB node based on the memory request. Jobs asking for 3000GB or less will run on a 3TB node. If no 3TB nodes are available but a 12TB node is available, those jobs will run on a 12TB node.

				Once your job is running, the environment variable SLURM_NTASKS_PER_NODE tells you the number of cores assigned to your job.

				<strong>Sample `interact` command for LM</strong>

				Run in the LM partition and request 2TB of memory. Use the wall time default of 30 minutes.

				<pre class="cmd-line">interact -p LM --mem=2000GB</pre>

				where:

				* "`-p`" indicates the intended partition (LM)
				* "`--mem`" is the amount of memory requested

				<strong>Sample <code>sbatch</code> command for the LM partition</strong>

				A sample sbatch command for the LM partition requesting 10 hours of wall time and 6TB of memory is: 

				<pre class="cmd-line">sbatch -p LM - t 10:00:00 --mem 6000GB myscript.job</pre>

				where:

				* "`-p`" indicates the intended partition (LM)
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`--mem`" is the amount of memory requested
				* "`myscript.job`" is the name of your batch script

		#running:part-lm
			:markdown
				### [Summary of partitions for Bridges large memory nodes]()

				<table border="1" cellpadding="3">
				<thead>
				<tr><th><strong>Partition name</strong></th><th colspan="2">LM</th></tr>
				<tr><th> </th><th>LSM nodes</th><th>ESM nodes</th></tr>
				</thead>
				<tbody>
				<tr>
				<td><strong>Node type</strong></td>
				<td>3TB RAM<br>16TB on-node storage</td>
				<td>12TB RAM<br>64TB on-node storage</td>
				</tr>
				<tr>
				<td><strong>Nodes shared?</strong></td>
				<td>Yes</td>
				<td>Yes</td>
				</tr>
				<tr>
				<td><strong>Node default</strong></td>
				<td>1</td>
				<td>1</td>
				</tr>
				<tr>
				<td><strong>Node max</strong></td>
				<td>8</td>
				<td>4</td>
				</tr>
				<tr>
				<td><strong>Cores</strong></td>
				<td>Jobs are allocated 1 core/48GB of memory requested.</td>
				<td>Jobs are allocated 1 core/48GB of memory requested.</td>
				</tr>
				<tr>
				<td><strong>Walltime default</strong></td>
				<td>30 mins</td>
				<td>30 mins</td>
				</tr>
				<tr>
				<td><strong>Walltime max</strong></td>
				<td>14 days</td>
				<td>14 days</td>
				</tr>
				<tr>
				<td><strong>Memory</strong></td>
				<td>Up to 3000GB</td>
				<td>Up to 12,000GB</td>
				</tr>
				</tbody>
				</table>

			:markdown
				**See also:**
				
				* [The interact command](#running:interactive-interact)
				* [Batch scripts](#running:batch)
				* [The sbatch command](#running:batch-sbatch)
				* [OnDemand](#ondemand)

	#running:part-gpu
		:markdown
			## [Partitions for "Bridges GPU" allocations](#running:part-gpu)
		
			There are three partitions available for "Bridges GPU" allocations: GPU, GPU-shared and GPU-small.

			**Use your allocation wisely:** To make the most of your allocation, use the shared partitions whenever possible. Jobs in the GPU partition use of all cores on a node, and accrue SU costs for every core. Jobs in the GPU-shared partition share nodes, and are only charged for the cores they are allocated.
		
			**Charge your jobs to the correct group:** If you have more than one Bridges grant, be sure to charge your usage to the correct one. See [Charging for multiple grants](#running:grants)
		
			For information on requesting resources and submitting jobs see the [`interact`](#account:interactive-interact) or [`sbatch`](#account:batch-sbatch) commands.

		#running:part-gpu-base
			:markdown
				### [GPU partition](#running:part-gpu-base)
		
				Jobs in the GPU partition use Bridges' GPU nodes. Note that Bridges has 2 types of GPU nodes: K80s and P100s. See the [System Configuration](#sysconfig) section of this User Guide for the details of each type.
		
				Jobs in the GPU partition do not share nodes, so jobs are allocated all the cores and all of the GPUs associated with the nodes assigned to them . Your job will be charged for all the cores associated with your assigned nodes.
		
				However, the memory space across nodes is not integrated. The cores within a node access a shared memory space, but cores in different nodes do not.
		
				When submitting a job to the GPU partition, you <strong>must use the `--gres=type` option</strong> to specify:

				* the type of node you want, K80 or P100. K80 is the default if no type is specified.
				* the number of GPUs you want
		
				See the [`sbatch` command options](#running:batch-sbatch) for more details on the `--gres=type` option.

				You should also specify:

				* the number of nodes
				* the walltime limit 

				<strong>Sample `interact` command for GPU</strong>

				An interact command to start a GPU job on 4 P100 nodes for 30 minutes is
	
				<pre class="cmd-line"> interact -p GPU --gres=gpu:p100:2 -N 4 -t 30:00</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`--gres=gpu:p100:2`" requests the use of 2 P100 GPUs
				* "`-N`" requests 4 nodes
				* "`-t`" is the walltime requested in the format HH:MM:SS

				<strong>Sample `sbatch` command for GPU</strong>

				This command requests the use of one K80 GPU node for 45 minutes;

				<pre class="cmd-line">sbatch -p GPU --gres=gpu:k80:4 -N 1 -t 45:00 myscript.job</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`--gres=gpu:k80:4`" requests the use of 4 K80 GPUs
				* "`-N`" requests one node
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`myscript.job`" is the name of your batch script

				<strong>Sample batch script for GPU partition</strong>

				<pre class="job-script">
				#!/bin/bash
				#SBATCH -N 2
				#SBATCH -p GPU
				#SBATCH --ntasks-per-node 28
				#SBATCH -t 5:00:00
				#SBATCH --gres=gpu:p100:2
	
				#echo commands to stdout
				set -x
				<br>#move to working directory<br># this job assumes:<br># - all input data is stored in this directory <br># - all output should be stored in this directory 
				cd /pylon5/<em>groupname/username/path-to-directory</em><br><em>
				</em><br>#run GPU program
				./mygpu
				</pre>

				<strong>Notes:</strong> The value of the --gres-gpu option indicates the type and number of GPUs you want.For <em></em><em>groupname, username</em> and<em> path-to-directory</em> you must substitute your group, username and appropriate directory path.

		#running:part-gpu-shared
			:markdown
				### [GPU-shared partition](#running:part-gpu-shared)
		
				Jobs in the GPU-shared partition run on Bridges's GPU nodes. Note that Bridges has 2 types of GPU nodes: K80s and P100s. See the [System Configuration](#) section of this User Guide for the details of each type.
		
				Jobs in the GPU-shared partition share nodes, but not cores. By sharing nodes your job will be charged less. It could also start running sooner.
		
				You will always run on (part of) one node in the GPU-shared partition.Your jobs will be allocated memory in proportion to the number of requested GPUs. You get the fraction of the node's total memory in proportion to the fraction of GPUs you requested. If your job exceeds this amount of memory it will be killed.

				When submitting a job to the GPU-shared partition, you <strong>must</strong> specify the number of GPUs. You should also specify:

				* the type of GPU node you want, K80or P100, with the <code>--gres=<em>type</em></code> option to the <code>interact</code> or <code>sbatch</code> commands. K80 is the default if no type is specified. See the [sbatch command options](#) for more details.
				* the walltime limit

				<strong>Sample `interact` command for GPU-shared</strong>

				Run in the GPU-shared partition and ask for 4 K80 GPUs and 8 hours of wall time.

				<pre class="cmd-line">interact -p GPU-shared --gres=gpu:k80:4 -t 8:00:00</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`--gres=gpu:k80:4`" requests the use of 4 K80 GPUs
				* "`-t`" is the walltime requested in the format HH:MM:SS

				<strong>Sample `sbatch` command for GPU-shared</strong>

				Submit a job to the GPU-shared partition requesting 2 P100 GPUs and 1 hour of wall time.

				<pre class="cmd-line">sbatch -p GPU-shared --gres=gpu:p100:2 -t 1:00:00 myscript.job</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`--gres=gpu:p100:2`" requests the use of 2 P100 GPUs
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`myscript.job`" is the name of your batch script

				<strong>Sample batch script for GPU-shared partition</strong>

				<pre class="job-script">#!/bin/bash
				#SBATCH -N 1
				#SBATCH -p GPU-shared<br>#SBATCH --ntasks-per-node 7
				#SBATCH --gres=gpu:p100:1
				#SBATCH -t 5:00:00
				<br>#echo commands to stdout
				set -x
				<br>#move to working directory
				# this job assumes:<br># - all input data is stored in this directory <br># - all output should be stored in this directory <br>cd /pylon5/<em>groupname/username/path-to-directory</em><br><br>#run GPU program
				./mygpu
				<br>
				</pre>

				<strong>Notes:</strong> The option "`--gres-gpu`" indicates the number and type of GPUs you want.For <em>groupname, <em>username</em></em> and<em> path-to-directory</em> you must substitute your group, username, and appropriate directory path.

		#running:part-gpu-small
			:markdown
				### [GPU-small](#running:part-gpu-small)
		
				Jobs in the GPU-small partition run on one of Bridges' P100 GPU nodes. Your jobs will be allocated memory in proportion to the number of requested GPUs. You get the fraction of the node's total memory in proportion to the fraction of GPUs you requested. If your job exceeds this amount of memory it will be killed.
		
				When submitting a job to the GPU-small partition, you <strong>must</strong> specify the number of GPUs with the<code> --gres=gpu:p100:<em>n</em></code> option to the <code>interact</code> or <code>sbatch</code> command. In this partition, <em>n</em> can be 1 or 2. You should also specify the walltime limit.

				<strong>Sample `interact` command for GPU-small</strong>

				Run in the GPU-small partition and ask for 2 P100 GPUs and 2 hours of wall time.

				<pre class="cmd-line">interact -p GPU-small --gres=gpu:p100:2 -t 2:00:00</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`--gres=gpu:p100:2`" requests the use of 2 P100 GPUs
				* "`-t`" is the walltime requested in the format HH:MM:SS

				<strong>Sample `sbatch` command for GPU-small</strong>

				Submit a job to the GPU-small partition using 2 P100 GPUs and 1 hour of wall time.

				<pre class="cmd-line">sbatch -p GPU-small --gres=gpu:p100:2 -t 1:00:00 myscript.job</pre>

				where:

				* "`-p`" indicates the intended partition
				* "`--gres=gpu:p100:2`" requests the use of 2 P100 GPUs
				* "`-t`" is the walltime requested in the format HH:MM:SS
				* "`myscript.job`" is the name of your batch script

		#running:part-gpu-summary
			:markdown
				### [Summary of partitions for Bridges GPU nodes](#running:part-gpu-summary)

				<table border="1" cellpadding="3">
				<thead>
				<tr><th>Partition name</th><th colspan="2">GPU</th><th colspan="2">GPU-shared</th><th>GPU-small</th></tr>
				<tr><th> </th><th><strong>P100 nodes</strong></th><th><strong>K80 nodes</strong></th><th><strong>P100 nodes</strong></th><th><strong>K80 nodes</strong></th><th><strong>P100 nodes</strong></th></tr>
				</thead>
				<tbody>
				<tr>
				<td><strong>Node type</strong></td>
				<td>2 GPUs<br>2 16-core CPUs<br>8TB on-node storage</td>
				<td>4 GPUs<br>2 14-core CPUS<br>8TB on-node storage</td>
				<td>2 GPUs<br>2 16-core CPUs<br>8TB on-node storage</td>
				<td>4 GPUs<br>2 14-core CPUs<br>8TB on-node storage</td>
				<td>2 GPUs<br>2 16-core CPUs<br>8TB on-node storage</td>
				</tr>
				<tr>
				<td><strong>Nodes shared?</strong></td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>No</td>
				</tr>
				<tr>
				<td><strong>Node default</strong></td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				</tr>
				<tr>
				<td><strong>Node max</strong></td>
				<td>4<br>Limit of 8 GPUs/job.<br><span class="small">Because there are 2 GPUs on each P100 node, you can request at most 4 nodes.</span></td>
				<td>2<br>Limit of 8 GPUs/job.<br><span class="small">Because there are 4 GPUs on each K80 node, you can request at most 2 nodes.</span></td>
				<td>1</td>
				<td>1</td>
				<td>1<span class="small"><br></span></td>
				</tr>
				<tr>
				<td><strong>Core default</strong></td>
				<td>32/node</td>
				<td>28/node</td>
				<td>16/GPU</td>
				<td>7/GPU</td>
				<td>32/node</td>
				</tr>
				<tr>
				<td><strong>Core max</strong></td>
				<td>32/node</td>
				<td>28/node</td>
				<td>16/GPU</td>
				<td>7/GPU</td>
				<td>32/node</td>
				</tr>
				<tr>
				<td><strong>GPU default</strong></td>
				<td>2/node</td>
				<td>4/node</td>
				<td>No default</td>
				<td>No default</td>
				<td>No default</td>
				</tr>
				<tr>
				<td><strong>GPU max</strong></td>
				<td>2/node</td>
				<td>4/node</td>
				<td>2</td>
				<td>4</td>
				<td>2</td>
				</tr>
				<tr>
				<td><strong>Walltime default</strong></td>
				<td>30 mins</td>
				<td>30 mins</td>
				<td>30 mins</td>
				<td>30 mins</td>
				<td>30 mins</td>
				</tr>
				<tr>
				<td><strong>Walltime max</strong></td>
				<td>48 hrs</td>
				<td>48 hrs</td>
				<td>48 hrs</td>
				<td>48 hrs</td>
				<td>8 hrs</td>
				</tr>
				<tr>
				<td><strong>Memory</strong></td>
				<td>128GB/node</td>
				<td>128GB/node</td>
				<td>7GB/GPU</td>
				<td>7GB/GPU</td>
				<td>128GB/node</td>
				</tr>
				</tbody>
				</table>

			:markdown
				**See also:**

				* [The interact command](#running:interactive-interact)
				* [Batch scripts](#running:batch)
				* [The sbatch command](#running:batch-sbatch)
				* [OnDemand](#ondemand)


	#running:part-ai-gpu
		:markdown
			## [Partition for "Bridges-AI" allocations](#running:part-ai-gpu)

			There is one partition available for "Bridges-AI" allocations: GPU-AI. There are two node types available: 

			<ul>
			<li>"Volta 16" - nine <a href="https://www.hpe.com/us/en/product-catalog/servers/proliant-servers/pip.hpe-apollo-6500-gen10-system.1010742495.html" target="_blank">HPE Apollo 6500</a> servers, each with 8 NVIDIA Tesla V100 GPUs with 16 GB of GPU memory each, connected by NVLink 2.0</li>
			<li>"Volta 32" - <a href="https://www.nvidia.com/en-us/data-center/dgx-2" target="_blank">NVIDIA DGX-2</a> enterprise research AI system tightly coupling 16 NVIDIA Tesla V100 (Volta) GPUs with 32 GB of GPU memory each, connected by NVLink and NVSwitch</li>
			</ul>

		:markdown
			We strongly recommend the use of Singularity containers on the AI nodes, especially on the DGX-2. We have installed containers for many popular AI packages on Bridges for you to use, but you can create your own if you like.

			For more information on Singularity and the containers available on Bridges:

			<ul><li>The <a href="https://psc.edu/user-resources/software/singularity" target="_blank">PSC documentation on Singularity</a></li>
			<li>The <a href="#containers">Containers</a> section of this guide</li>
			</ul>

		:markdown
			**Use the appropriate account id for your jobs**: If you have more than one Bridges grant, be sure to use the correct SLURM account id for each job. See [Charging with multiple grants](#running:grants).

			For information on requesting resources and submitting jobs see the [interact](#running:interactive-interact) or [sbatch](#running:batch-sbatch) commands.
 
	#running:part-ai-gpu-env
		:markdown
			### [Using module files on Bridges-AI](#running:part-ai-gpu-env)

			The Module package provides for the dynamic modification of a users's environment via module files. Module files manage necessary changes to the environment, such as adding to the default path or defining environment variables, so that you do not have to manage those definitions and paths manually. Before you can use module files in a batch job on Bridges-AI, you must issue the following command:

			If you are using the bash or ksh:

			<pre class="cmd-line">source /etc/profile.d/modules.sh</pre>

			If you are using csh or tcsh:

			<pre class="cmd-line">source /etc/profile.d/modules.csh</pre>

			See the <a href="https://www.psc.edu/user-resources/software/module" target="_blank">PSC Module documentation</a> for information on the module command.

	#running:part-ai-gpu-part
		:markdown
			### [GPU-AI partition](#running:part-ai-gpu-part)

			When submitting a job to the GPU-AI partition, you __must use the --gres=gpu:type:n__ parameter to specify the type and number of Volta GPUs you will use. Valid options are

			* For the Volta 16 nodes, with 16GB of GPU memory, type is volta16; n can be 1-8. 
			* For the DGX-2, with 32GB of GPU memory, type is volta32; n can be 1-16.

			See the [sbatch command](#running:batch-sbatch) for an explanation of the `--gres` option.

			**Sample interact command for GPU-AI**

			To run in an interactive session on Bridges-AI, use the `interact` command and specify the GPU-AI partition. An example `interact` command to request 1 GPU on a Volta 16 node is:

			<pre class="cmd-line">interact -p GPU-AI --gres=gpu:volta16:1</pre>

			Where:

			* `-p` indicates the intended partition

			* `--gres=gpu:volta16:1` requests the use of 1 V100 GPU on an Apollo node

			**Sample sbatch command for the GPU-AI partition**

			A sample `sbatch` command to submit a job to run on one of the Volta 16 nodes and use all eight GPUs would be

			<pre class="cmd-line">sbatch -p GPU-AI -N 1 --gres=gpu:volta16:8 -t 1:00:00 myscript.job</pre>

			where 

			* `-p` GPU-AI requests the GPU-AI partition

			* `-N 1` requests one node

			* `--gres=gpu:volta16:8` requests an Apollo server with Volta 100 GPUs , and specifies you will use all 8 GPUs on that node

			* `-t 1:00:00` requests one hour of running time

			_myscript.job_ is your batch script.

	#running:part-ai-gpu-summary
		:markdown
			### [Summary of the partition for Bridges' "AI" GPU nodes](#running:part-ai-gpu-summary)

			<table>
			<thead><tr><th>Partition name</th><th colspan="2">GPU-AI</th></tr>
			</thead>
			<tbody>

			<tr>
			<td rowspan="2"><strong>Node type</strong></td>
			<td>Volta 16</td>
			<td>DGX-2</td>
			</tr>
			<tr>
			<td>8 Tesla V100 (Volta) GPUs<br><span class="small">with 16 GB of GPU memory each 2 20-core CPUs</span></td>
			<td>16 Tesla V100 GPUs<br><span class="small">with 32 GB of GPU memory each 2 24-core CPUs</span></td>
			</tr>

			<tr>
			<td><strong>Node default</strong></td>
			<td>1</td>
			<td>1</td>
			</tr>

			<tr>
			<td><strong>Node max</strong></td>
			<td>4</td>
			<td>1</td>
			</tr>

			<tr>
			<td><strong>Min GPUs per job</strong></td>
			<td>1</td>
			<td>1</td>
			</tr>

			<tr>
			<td><strong>Max GPUs per job</strong></td>
			<td>32</td>
			<td>16</td>
			</tr>

			<tr>
			<td><strong>Max GPUs in use per user</strong></td>
			<td>32</td>
			<td>16</td>
			</tr>

			<tr>
			<td><strong>Walltime default</strong></td>
			<td>1 hour</td>
			<td>1 hour</td>
			</tr>

			<tr>
			<td><strong>Walltime max</strong></td>
			<td>48 hours</td>
			<td>48 hours</td>
			</tr>

			</tbody>
			</table>

		:markdown
			**See also:**

			* [The interact command](#running:interactive-interact)
			* [Batch scripts](#running:batch)
			* [The sbatch command](#running:batch-sbatch)
			* [OnDemand](#ondemand)

	#running:status-info
		:markdown
			## [Node, partition, and job status information](#running:status-info)

		#running:status-sinfo
			:markdown
				### [sinfo](#running:status-sinfo)

				The <code>sinfo</code> command displays information about the state of Bridges's nodes. The nodes can have several states:

				<table border="1" cellpadding="3">
				<tbody>
				<tr>
				<td>alloc</td>
				<td>Allocated to a job</td>
				</tr>
				<tr>
				<td>down</td>
				<td>Down</td>
				</tr>
				<tr>
				<td>drain</td>
				<td>Not available for scheduling</td>
				</tr>
				<tr>
				<td>idle</td>
				<td>Free</td>
				</tr>
				<tr>
				<td>resv</td>
				<td>Reserved</td>
				</tr>
				</tbody>
				</table>

			:markdown
				**See also:** <a href="https://slurm.schedmd.com/sinfo.html" target="_blank">sinfo man page</a> 

		#running:status-squeue
			:markdown
				### [squeue](#running:status-squeue)

				The <code>squeue</code> command displays information about the jobs in the partitions. Some useful options are:

				<table border="1" cellpadding="3">
				<tbody>
				<tr>
				<td>-j <em>jobid</em></td>
				<td>Displays the information for the specified jobid</td>
				</tr>
				<tr>
				<td nowrap>-u <em>username</em></td>
				<td>Restricts information to jobs belonging to the specified username</td>
				</tr>
				<tr>
				<td>-p <em>partition</em></td>
				<td>Restricts information to the specified partition</td>
				</tr>
				<tr>
				<td>-l</td>
				<td>(long) Displays information including: time requested, time used, number of requested nodes, the nodes on which a job is running, job state and the reason why a job is waiting to run.</td>
				</tr>
				</tbody>
				</table>

			:markdown
				**See also:** <a href="http://slurm.schedmd.com/squeue.html" target="_blank" rel="noopener noreferrer">squeue man page</a> for a discussion of the codes for job state, for why a job is waiting to run, and more options.


	#running:interactive-scancel
		:markdown
			### [scancel](#running:interactive-scancel)

			The <code>scancel</code> command is used to kill a job in a partition, whether it is running or still waiting to run. Specify the jobid for the job you want to kill. For example,

			<pre class="cmd-line">scancel 12345</pre>

			kills job # 12345.

			**See also:** <a href="https://slurm.schedmd.com/scancel.html" target="_blank">scancel man page</a>

	#running:interactive-sacct
		:markdown
			### [sacct](#running:interactive-sacct)

			The <code>sacct</code> command can be used to display detailed information about jobs. It is especially useful in investigating why one of your jobs failed. The general format of the command is

				sacct -X -j nnnnnn -S MMDDYY --format parameter1,parameter2, ...

			* For '<em>nnnnnn</em>' substitute the jobid of the job you are investigating.
			* The date given for the -S option is the date at which <code>sacct</code> begins searching for information about your job. 
			* The commas between the parameters in the --format option cannot be followed by spaces.

			The --format option determines what information to display about a job. Useful parameters are

			* JobID
			* Partition
			* Account - the account charged
			* ExitCode - useful in determining why a job failed
			* State - useful in determining why a job failed
			* Start, End, Elapsed - start, end and elapsed time of the job
			* NodeList - list of nodes used in the job
			* NNodes - how many nodes the job was allocated
			* MaxRSS - how much memory the job used
			* AllocCPUs - how many cores the job was allocated
	
			 **See also:** <a href="https://slurm.schedmd.com/sacct.html" target="_blank">sacct man page</a> 

	#running:interactive-memory
		:markdown
			### [Monitoring memory usage](#running:interactive-memory)
		
			It can be useful to find the memory usage of your jobs. For example, you may want to find out if memory usage was a reason a job failed.
		
			You can determine a job's memory usage whether it is still running or has finished. To determine if your job is still running, use the <code>squeue</code> command.
		
			<pre class="cmd-line">squeue -j <em>nnnnnn</em> -O state</pre>
		
			where <em>nnnnnn</em> is the jobid.
		
			<strong>For running jobs: `srun` and `top` or `sstat`</strong>
		
			You can use the <code>srun</code> and <code>top</code> commands to determine the amount of memory being used.

			<pre class="cmd-line">srun --jobid=<em>nnnnnn</em> top -b -n 1 | grep <em>userid</em></pre>

				
		
			For <em>nnnnnn</em> substitute the jobid of your job. For '<em>userid</em>' substitute your userid. The RES field in the output from <code>top</code> shows the actual amount of memory used by a process. The <code>top</code> man page can be used to identify the fields in the output of the<code> top</code> command.

		
			* See the man pages for <a href="https://slurm.schedmd.com/srun.html">`srun`</a> and <a href="http://man7.org/linux/man-pages/man1/top.1.html">top</a> for more information.

			You can also use the <code>sstat</code> command to determine the amount of memory being used in a running job 
		
			<pre class="cmd-line">sstat -j <em>nnnnnn</em>.batch --format=JobID,MaxRss</pre>
		
			where <em>nnnnnn </em>is your jobid.
		
			* See the <a href="https://slurm.schedmd.com/sstat.html">man page for sstat</a> for more information.
		
			<strong>For jobs that are finished: sacct or job_info</strong>
		
			If you are checking within a day or two after your job has finished you can issue the command
		
			<pre class="cmd-line">sacct -j <em>nnnnnn</em> --format=JobID,MaxRss</pre>
		
			If this command no longer shows a value for MaxRss, use the <code>job_info</code> command
		
			<pre class="cmd-line">job_info <em>nnnnnn</em> | grep max_rss</pre>
		
			Substitute your jobid for <em>nnnnnn</em> in both of these commands.

		
			* See the <a href="https://slurm.schedmd.com/sacct.html" target="_blank">man page for sacct</a> for more information.

		
			**See also:** <a href="http://www.schedmd.com/slurmdocs/documentation.html" target="_blank" rel="noopener noreferrer">documentation for SLURM</a>, including man pages for all the SLURM commands

