<p>
	<span style="font-size:225%; font-weight:bold;">Expanse User Guide</span><br />
	<em>Last update: August 1, 2022</em></p>
<div class="section">
	<!-- Guide Section Begin -->
	<h1>
		Technical Summary</h1>
	<p>
		<img alt="" class="logo-left" data-float="left" margin-right="1.8rem" src="/documents/10308/2578178/Expanse_inner_1200-sm.jpg/56523be6-c991-4c86-a4b5-2ebdf3ddc53c?t=1602454080000" style="margin-right: 0.9rem; float: left; width: 300px; height: 200px;" /></p>

<!-- boilerplate above, Cascade content below -->
