<!-- XSEDE User Guide content begins here -->
<p><em>Expanse</em> is a dedicated eXtreme Science and Engineering Discovery Environment (<a href="https://www.xsede.org" rel="noopener" target="_blank">XSEDE</a>) cluster designed by Dell and SDSC delivering 5.16 peak petaflops, and will offer Composable Systems and Cloud Bursting.</p>
<p><em>Expanse</em>'s standard compute nodes are each powered by two 64-core AMD EPYC 7742 processors and contain 256 GB of DDR4 memory, while each GPU node contains four NVIDIA V100s (32 GB SMX2) connected via NVLINK and dual 20-core Intel Xeon 6248 CPUs. <em>Expanse</em> also has four 2 TB large memory nodes.</p>
<p><em>Expanse</em> is organized into 13 SDSC Scalable Compute Units (SSCUs), comprising 728 standard nodes, 54 GPU nodes and 4 large-memory nodes. Every <em>Expanse</em> node has access to a 12 PB Lustre parallel file system (provided by Aeon Computing) and a 7 PB Ceph Object Store system. <em>Expanse</em> uses the Bright Computing HPC Cluster management system and the SLURM workload manager for job scheduling.</p>
<p style="border: 1px solid blue; border-radius: 0.2rem; background-color: #ffc; width: 30%; margin: 0.5rem 25%; padding: 1rem 0 1rem 8%;"><a href="https://portal.expanse.sdsc.edu" rel="noopener" target="_blank"><strong>Expanse Portal Login</strong></a></p>
<p><em>Expanse</em> supports the <a href="https://www.xsede.org/software" rel="noopener" target="_blank">XSEDE core software stack</a>, which includes remote login, remote computation, data movement, science workflow support, and science gateway support toolkits.</p>
<p><em>Expanse</em> is an NSF-funded system operated by the <a href="https://www.sdsc.edu" rel="noopener" target="_blank">San Diego Supercomputer Center</a> at <a href="https://www.ucsd.edu" rel="noopener" target="_blank">UC San Diego</a>, and is available through the XSEDE program.</p>
<h3>Resource Allocation Policies</h3>
<ul>
<li>The maximum allocation for a Principle Investigator on <em>Expanse</em> is 15M core-hours and 75K GPU hours. Limiting the allocation size means that <em>Expanse</em> can support more projects, since the average size of each is smaller.</li>
<li>Access via Science Gateways can request up to 30M core-hours.</li>
<!--
<li>Expanse provides <a href="https://portal.xsede.org/allocations/startup#trial">Rapid Access Trial Accounts</a> that give users 1000 CPU core-hours and/or 100 GPU hours for 6 months within 24 hours of requesting them.</li>
</ul>
</li>
</ul>
<p><a data-button="2" href="https://portal.xsede.org/allocations/startup#trial-comet#types-trial" rel="noopener" target="_blank">Request Trial Account</a></p>
--></ul>
<h3>Job Scheduling Policies</h3>
<ul>
<li>The maximum allowable job size on <em>Expanse</em> is 4,096 cores &#8211; a limit that helps shorten wait times since there are fewer nodes in idle state waiting for large number of nodes to become free.</li>
<li><em>Expanse</em> supports long-running jobs - run times can be extended to one week. Users&#160;requests will be evaluated based on number of jobs and job size.&#160;</li>
<li><em>Expanse</em> supports shared-node jobs (more than one job on a single node). Many applications are serial or can only scale to a few cores. Allowing shared nodes improves job throughput, provides higher overall system utilization, and allows more users to run on <em>Expanse</em>.</li>
</ul>
<h3>Technical Details</h3>
<table class="tbl-user-guide">
<thead>
<tr>
<th>System Component</th>
<th>Configuration</th>
</tr>
</thead>
<tbody>
<tr>
<td colspan="2" align="center"><em>Compute Nodes</em></td>
</tr>
<tr>
<td>CPU Type</td>
<td><em>AMD EPYC 7742<br /></em></td>
</tr>
<tr>
<td>Nodes</td>
<td>728</td>
</tr>
<tr>
<td>Sockets</td>
<td>2</td>
</tr>
<tr>
<td>Cores/socket</td>
<td>64</td>
</tr>
<tr>
<td>Clock speed</td>
<td>2.25 GHz</td>
</tr>
<tr>
<td>Flop speed</td>
<td>4608 GFlop/s</td>
</tr>
<tr>
<td>Memory capacity</td>
<td>
<p>* 256 GB DDR4 DRAM</p>
</td>
</tr>
<tr>
<td>Local Storage</td>
<td>
<p>1TB Intel P4510 NVMe PCIe SSD</p>
</td>
</tr>
<tr>
<td>Max CPU Memory bandwidth</td>
<td>409.5 GB/s</td>
</tr>
<tr>
<td colspan="2" align="center"><em>GPU Nodes</em></td>
</tr>
<tr>
<td>GPU Type</td>
<td>NVIDIA V100 SMX2</td>
</tr>
<tr>
<td>Nodes</td>
<td>52</td>
</tr>
<tr>
<td>GPUs/node</td>
<td>4</td>
</tr>
<tr>
<td>CPU Type</td>
<td>Xeon Gold 6248</td>
</tr>
<tr>
<td>Cores/socket</td>
<td>20</td>
</tr>
<tr>
<td>Sockets</td>
<td>2</td>
</tr>
<tr>
<td>Clock speed</td>
<td>2.5 GHz</td>
</tr>
<tr>
<td>Flop speed</td>
<td>34.4 TFlop/s</td>
</tr>
<tr>
<td>Memory capacity</td>
<td>*384 GB DDR4 DRAM</td>
</tr>
<tr>
<td>Local Storage</td>
<td>
<p>1.6TB Samsung PM1745b NVMe PCIe SSD</p>
</td>
</tr>
<tr>
<td>Max CPU Memory bandwidth</td>
<td>281.6 GB/s</td>
</tr>
<tr>
<td colspan="2" align="center"><em>Large-Memory <br /></em></td>
</tr>
<tr>
<td>CPU Type</td>
<td><em>AMD EPYC 7742</em></td>
</tr>
<tr>
<td>Nodes</td>
<td>4</td>
</tr>
<tr>
<td>Sockets</td>
<td>2</td>
</tr>
<tr>
<td>Cores/socket</td>
<td>64</td>
</tr>
<tr>
<td>Clock speed</td>
<td>2.25 GHz</td>
</tr>
<tr>
<td>Flop speed</td>
<td>4608 GFlop/s</td>
</tr>
<tr>
<td>Memory capacity</td>
<td>2 TB</td>
</tr>
<tr>
<td>Local Storage</td>
<td>
<p>3.2 TB&#160; (2 X 1.6 TB Samsung PM1745b NVMe PCIe SSD)</p>
</td>
</tr>
<tr>
<td>STREAM Triad bandwidth</td>
<td>&#126;310 GB/sec</td>
</tr>
<tr>
<td colspan="2" align="center"><em>Full System</em></td>
</tr>
<tr>
<td>Total compute nodes</td>
<td>728</td>
</tr>
<tr>
<td>Total compute cores</td>
<td>93,184</td>
</tr>
<tr>
<td>Total GPU nodes</td>
<td>52</td>
</tr>
<tr>
<td>Total V100 GPUs</td>
<td>208</td>
</tr>
<tr>
<td>Peak performance</td>
<td>5.16 PFlop/s</td>
</tr>
<tr>
<td>Total memory</td>
<td>247 TB</td>
</tr>
<tr>
<td>Total memory bandwidth</td>
<td>215 TB/s</td>
</tr>
<tr>
<td>Total flash memory</td>
<td>824 TB</td>
</tr>
<tr>
<td colspan="2" align="center"><em>HDR InfiniBand Interconnect</em></td>
</tr>
<tr>
<td>Topology</td>
<td>Hybrid Fat-Tree</td>
</tr>
<tr>
<td>Link bandwidth</td>
<td>56 Gb/s (bidirectional)</td>
</tr>
<tr>
<td>Peak bisection bandwidth</td>
<td><!--252 Gb/s (bidirectional)-->8.5 TB/s</td>
</tr>
<tr>
<td>MPI latency</td>
<td>1.17-1.69 &#181;s</td>
</tr>
<tr>
<td colspan="2" align="center"><em>DISK I/O Subsystem</em></td>
</tr>
<tr>
<td>File Systems</td>
<td>NFS, Ceph</td>
</tr>
<tr>
<td>Lustre Storage(performance)</td>
<td>12 PB</td>
</tr>
<tr>
<td>Ceph Storage</td>
<td>7 PB</td>
</tr>
<tr>
<td>I/O bandwidth (performance disk)</td>
<td>140 GB/s, 200K IOPs</td>
</tr>
</tbody>
</table>
<p>&#160;</p>
<h3>Systems Software Environment</h3>
<table class="tbl-user-guide">
<thead>
<tr>
<th>Software Function</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Cluster Management</td>
<td>Bright Cluster Manager</td>
</tr>
<tr>
<td>Operating System</td>
<td>Rocky Linux</td>
</tr>
<tr>
<td>File Systems</td>
<td>Lustre, Ceph</td>
</tr>
<tr>
<td>Scheduler and Resource Manager</td>
<td>SLURM</td>
</tr>
<tr>
<td>XSEDE Software</td>
<td>CTSS</td>
</tr>
<tr>
<td>User Environment</td>
<td>Lmod</td>
</tr>
<tr>
<td>Compilers</td>
<td>AOCC, GCC, Intel, PGI</td>
</tr>
<tr>
<td>Message Passing</td>
<td>Intel MPI, MVAPICH, Open MPI</td>
</tr>
</tbody>
</table>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --><a class="anchor" id="access" toc_level="1" toc_name="System Access"></a>
<h2>System Access</h2>
<p>As an XSEDE computing resource, <em>Expanse</em> is accessible to XSEDE users who are given time on the system. To obtain an account, users may submit a proposal through the <a href="https://portal.xsede.org/allocations-overview" rel="noopener" target="_blank">XSEDE Allocation Request System</a>&#160;or request a <a href="https://portal.xsede.org/allocations/startup#rapidaccess-trial" rel="noopener" target="_blank">Trial Account</a>.</p>
<p>Interested parties may contact the <a href="/assets/mailto/mailto_xsede_help">XSEDE Help Desk</a><a href="/assets/mailto/mailto_xsede_help"></a> for help with an <em>Expanse</em> proposal (see sidebar for contact information).</p>
<h3>Logging in to Expanse</h3>
<p><em>Expanse</em> supports Single Sign-On through the <a href="https://portal.xsede.org" rel="noopener" target="_blank">XSEDE User Portal</a>, from the command line using an XSEDE-wide password, and web-based access via the <!--<strong><a href="https://portal.expanse.sdsc.edu&quot;">Expanse User Portal</a></strong>.&#160;--><a href="https://portal.expanse.sdsc.edu" rel="noopener" target="_blank"> Expanse User Portal</a>. While CPU and GPU resources are allocated separately, the login nodes are the same. To log in to <em>Expanse</em> from the command line, use the hostname:</p>
<pre>login.expanse.sdsc.edu
</pre>
<br />
<p>The following are examples of Secure Shell (ssh) commands that may be used to log in to <em>Expanse</em>:</p>
<pre>ssh &lt;your_username&gt;@login.expanse.sdsc.edu
ssh -l &lt;your_username&gt; login.expanse.sdsc.edu
</pre>
<br />
<h4>Notes and hints</h4>
<ul>
<li>When you log in to expanse.sdsc.edu, you will be assigned one of the two login nodes login0[1-2]-expanse.sdsc.edu. These nodes are identical in both architecture and software environment. Users should normally log in through login.expanse.sdsc.edu, but may specify one of the two nodes directly if they see poor performance.</li>
<li>Please feel free to append your public key to your &#126;/.ssh/authorized_keys file to enable access from authorized hosts without having to enter your password. We accept RSA, ECDSA and ed25519 keys. Make sure you have a strong passphrase on the private key on your local machine.
<ul>
<li>You can use ssh-agent or keychain to avoid repeatedly typing the private key password.</li>
<li>Hosts which connect to SSH more frequently than ten times per minute may get blocked for a short period of time</li>
</ul>
</li>
<li>Do not use the login nodes for computationally intensive processes, as hosts for running workflow management tools, as primary data transfer nodes for large or numerous data transfers or as servers providing other services accessible to the Internet. The login nodes are meant for file editing, simple data analysis, and other tasks that use minimal compute resources. All computationally demanding jobs should be submitted and run through the batch queuing system.</li>
<li>Login nodes are not the same as the batch nodes, Users should request an interactive sessions to compile programs.</li>
</ul>
<h3>2FA with Google Authenticator (Optional)</h3>
<p><em>Expanse</em> allows user to use two-factor authentication (2FA) when using&#160;a password to log in.&#160; 2FA adds a layer of security to your authentication process.&#160; <em>Expanse</em> uses Google Authenticator, which is a standards-based implementation.Install Authenticator App</p>
Users will first need to Install an authenticator app on their smartphone or other device. Users can use any app&#160;that supports importing TOTP 2FA codes with a QR code. (Google Authenticator, DUO Mobile App, LastPass Authenticator App, etc)&#160; We suggest using&#160;the Google Authenticator app if you do not an athenticator application already istalled on your mobile device.&#160; <br />
<p><a href="https://apps.apple.com/us/app/google-authenticator/id388497605">Google Authenticator for Apple IOS</a></p>
<p><a href="https://authenticator.en.uptodown.com/android">Google Authenticator for Android</a> Once the authenticator app has been installed, users will need to enroll and pair the 2FA device with their <em>Expanse</em> Account.</p>
<h4>To enroll:</h4>
<p>1) Log in to login.expanse.sdsc.edu</p>
<p>2) On the command line load the sdsc module:</p>
<pre>&gt;module load sdsc<br />
</pre>
<p>3) Resize your terminal window and/or font size so it can display at&#160;least 82 columns by 40 lines</p>
<p>4) On the command line run&#160; to command:</p>
<pre>&gt;otp-enroll<br />
</pre>
<p>5) Using your smart phone, scan the QR code with your OTP/2FA application</p>
<p>6) Confirm the scan by entering the 6-digit code from the OTP/2FA application</p>
<p>7) Save your emergency scratch codes, in case you need to log in and don't have access to your mobile.&#160; (You can always log in with SSH keys&#160;instead of using an emergency code)</p>
<p>8) Answer 'y' to the prompt asking if you want to update your&#160;.google_authenticator file.</p>
<p>At this time 2FA is optional, users may un-enroll at any time.</p>
<p><strong>To un-enroll:</strong></p>
<p>1) Log in to login.expanse.sdsc.edu.</p>
<p>2) Remove the file &#126;/.google_authenticator</p>
<p>3) Once you have removed the .google_authenticaor file from the server side, you can remove the entry on your smart phone or other device</p>
<a class="anchor" id="user_portal" toc_level="2" toc_name="Expanse User Portal"></a>
<h3>Expanse User Portal</h3>
<p><span style="color: blue;"></span>The <a href="https://portal.expanse.sdsc.edu" rel="noopener" target="_blank"><strong>Expanse User Portal</strong></a> provides a quick and easy way for <em>Expanse</em> users to log in, transfer and edit files, and submit and monitor jobs. The Portal provides a gateway for launching interactive applications such as MATLAB, RStudio, and an integrated web-based environment for file management and job submission. All XSEDE users with a valid <em>Expanse</em> allocation have access via their XSEDE-based credentials.</p>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --><a class="anchor" id="modules" toc_level="1" toc_name="Modules"></a>
<h2>Modules</h2>
<p>Environment Modules provide for dynamic modification of your shell environment. Module commands set, change, or delete environment variables, typically in support of a particular application. They also let the user choose between different versions of the same software or different combinations of related codes.</p>
<p><em>Expanse</em> uses Lmod, a Lua-based module system. Users will now need to setup their own environment by loading available modules into the shell environment, including compilers and libraries and the batch scheduler.</p>
<p>Users will not see all the available modules when they run the <code>module available</code> command without loading a compiler. Users should use the command <code>module spider</code> to see if a particular package exists and can be loaded on the system. For additional details, and to identify dependents modules, use the command:</p>
<pre>module spider &lt;application_name&gt;
</pre>
<br />
<p>The module paths are different for the CPU and GPU nodes. Users can enable the paths by loading the following modules:</p>
<pre>module load cpu (for cpu nodes)
</pre>
<br />
<pre>module load gpu (for gpu nodes)
</pre>
<br />
<p>Users are requested to ensure that both sets are not loaded at the same time in their build/run environment (use the <code>module list</code> command to check in an interactive session).</p>
<p>On the GPU nodes, the gnu compiler used for building packages is the default version 8.3.1 from the OS. Hence, no additional <code>module load</code> command is required to use them. For example, if one needs OpenMPI built with gnu compilers, the following is sufficient:</p>
<pre>module load openmpi
</pre>
<br />
<h3>Useful Modules Commands</h3>
<p>Here are some common module commands and their descriptions:</p>
<table class="tbl-user-guide">
<thead>
<tr>
<th>Command</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>module list</code></td>
<td>
<p>List the modules that are currently loaded</p>
</td>
</tr>
<tr>
<td><code>module avail</code></td>
<td>
<p>List the modules that are available in&#160;environment</p>
</td>
</tr>
<tr>
<td><code>module spider</code></td>
<td>
<p>List of the modules and extensions currently available</p>
</td>
</tr>
<tr>
<td><code>module display &lt;module_name&gt;</code></td>
<td>
<p>Show the environment variables used by &lt;module name&gt; and how they are affected</p>
</td>
</tr>
<tr>
<td><code>module unload &lt;module name&gt;</code></td>
<td>
<p>Remove &lt;module name&gt; from the environment</p>
</td>
</tr>
<tr>
<td><code>module load &lt;module name&gt;</code></td>
<td>
<p>Load &lt;module name&gt; into the environment</p>
</td>
</tr>
<tr>
<td><code>module swap &lt;module one&gt; &lt;module two&gt;</code></td>
<td>
<p>Replace &lt;module one&gt; with &lt;module two&gt; in the environment</p>
</td>
</tr>
</tbody>
</table>
<h3>Loading and unloading modules</h3>
<p>Some modules depend on others, so they may be loaded or unloaded as a consequence of another module command. If a model has dependencies, the command <code>module spider &lt;module_name&gt;</code> will provide additional details.</p>
<p><strong>Module: command not found</strong></p>
<p>The error message <em>module: command not found</em> is sometimes encountered when switching from one shell to another or attempting to run the module command from within a shell script or batch job. The reason the <code>module</code> command may not be inherited as expected is that it is defined as a function for your login shell. If you encounter this error, execute the following from the command line (interactive shells) or add to your shell script (including SLURM batch scripts):</p>
<pre>source /etc/profile.d/modules.sh</pre>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><a class="anchor" id="managing" toc_level="1" toc_name="Account Management"></a>
<h2>Managing Your User Account</h2>
<p>The <code>expanse-client</code> script provides additional details regarding project availability and usage.&#160; The script is located at:</p>
<pre>/cm/shared/apps/sdsc/current/bin/expanse-client</pre>
<br />
<p>To use the script you will need to load the 'sdsc' module.</p>
<pre>[user@login01 &#126;]$ module load sdsc<br />&#160;</pre>
To review your available projects on Expanse resource use the 'user' parameter and '-r' to desginate a resource.&#160; If no resouce is designated expanse data will be shown by default.</div>
<div class="section"><br /><code>user@login01 &#126;]$ expanse-client user -r expanse</code><br /><br /><code> Resource expanse</code><br /><br /><code>&#9581;&#9472;&#9472;&#9472;&#9516;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9516;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9516;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9516;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9516;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9516;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9582;</code><br /><code>&#9474;&#160;&#160; &#9474; NAME&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#9474; PROJECT &#9474; TG PROJECT &#9474; USED &#9474; AVAILABLE &#9474; USED BY PROJECT &#9474;</code><br /><code>&#9500;&#9472;&#9472;&#9472;&#9532;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9532;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9532;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9532;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9532;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9532;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9508;</code><br /><code>&#9474; 1 &#9474; user&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#9474; ddp386&#160; &#9474; &#160; &#160; &#160; &#160; &#160;&#160; &#9474; 0&#160;&#160;&#160; &#9474; 110000&#160;&#160;&#160; &#9474; 8318&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#9474;</code><br /><code>&#9584;&#9472;&#9472;&#9472;&#9524;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9524;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9524;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9524;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9524;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9524;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9583;</code></div>
<div class="section"><br />
<p>To see full list of available resources, use the 'resource' command:</p>
<pre>[user@login02 &#126;]$ expanse-client resource<br />Available resources:<br />expanse<br />expanse_gpu<br />expanse_industry<br />expanse_industry_gpu<br /><br /></pre>
<p>To review project details, use the 'project' parameter followed by an eligible project. (use -p option to report with out formatting):<br /><code></code></p>
</div>
<div class="section"><code></code></div>
<div class="section"><code>user@login01 &#126;]$ expanse-client project ddp386 -p</code><br /><br /><code> Resource expanse</code><br /><code> Project ddp386</code><br /><code> TG Project</code><br /><code> Total allocation 110000</code><br /><code> Total spent 8318</code><br /><code> Expiration November 16, 2022</code><br /><br /><code> NAME USED AVAILABLE USED BY PROJECT</code><br /><code>-------------------------------------------------</code><br /><code> user 0 110000 8318</code><br /><code> user1 0 110000 8318</code><br /><code> user2 18 110000 8318</code><br /><code> user3 7825 110000 8318</code><br /><code> user4 0 110000 8318</code><br /><code> user5 152 110000 8318</code><br /><br /><br />For additional help using the expanse-client tool: <br /><br /><code>[user@login01 &#126;]$ expanse-client -h</code><br /><br /><code>Usage:</code><br /><code> expanse-client [command][flags]</code><br /><br /><code>Available Commands:</code><br /><code> help Help about any command</code><br /><code> project Get 'project' information</code><br /><code> resource Get resources</code><br /><code> user Get 'user' information</code><br /><br /><code>Flags:</code><br /><code> -a, --auth authenticate the request </code><br /><code> -h, --help help for user</code><br /><code> -p, --plain plain no graphics output</code><br /><code> -v, --verbose verbose output</code><br /><code> -r, --resource string Resource to query (default: "expanse")</code><br /><br /><code>Global Flags:</code><br /><code> -a, --auth authenticate the request</code><br /><code> -p, --plain plain no graphics output</code><br /><code> -v, --verbose verbose output</code><br /><br />
<p>Many users will have access to multiple projects (e.g. an allocation for a research project and a separate allocation for classroom or educational use). Users should verify that the correct project is designated for all batch jobs. Awards are granted for a specific purposes and should not be used for other projects. Designate a project by replacing&#160; <code>&lt;&lt; project &gt;&gt;</code> with a project listed in the SBATCH directive in your job script:</p>
<pre>  #SBATCH -A &lt;&lt; project &gt;&gt;
</pre>
<br />
<h3>Adding Users to a Project</h3>
<p>Project PIs and co-PIs can add/remove users(accounts) to/from a project. To do this, log in to your XSEDE portal account and go to the <a href="https://www.xsede.org/group/xup/add-remove-user" rel="noopener" target="_blank">Add User</a> page.</p>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --><a class="anchor" id="charging" toc_level="1" toc_name="Job Charging"></a>
<h2>Job Charging</h2>
<p>The charge unit for all SDSC machines, including <em>Expanse</em>, is the Service Unit (SU). This corresponds to the equivalent use of one compute core utilizing less than or equal to 2G of data for one hour, or 1 GPU using less than 92G of data for 1 hour. Keep in mind that your charges are based on the resources that are tied up by your job and don't necessarily reflect how the resources are used. Charges on jobs submitted to the 'shared' partitions (shared,gpu-shared,debug,gpu-debug,large-shared) are based on either the number of cores or the fraction of the memory requested, whichever is larger. Jobs submitted to the node-exclusive partitions (compute, gpu) will be charged for the all 128 cores, whether the resources are used or not.&#160; The minimum charge for any job is 1 SU.</p>
<h3>Job Charge Considerations</h3>
<div>
<ul>
<li>A node-exclusive job that runs on a compute node for one hour will be charged 128 SUs (128 cores x 1 hour)</li>
<li>A node-exclusive job that runs on a GPU node for one hour will be charge 4GPU hours (4 GPU x 1 hour)</li>
<li>A node-exclusive job that runs on a Large memory node for one hour will be charged 1024 SUs (2TB memory X 1 hour)</li>
<li>A serial job in the shared queue that uses less than 2 GB memory and runs for one hour will be charged 1 SU (1 core x 1 hour)</li>
<li>Each standard compute node has &#126;256 GB of memory and 128 cores
<ul>
<li>Each standard node core will be allocated 1 GB of memory, users should explicitly&#160;include the <code>--mem</code> directive to request additional memory</li>
<li>Max. available memory per compute node <code>--mem = 249325M</code></li>
</ul>
</li>
<li>Each GPU node has 4 GPUs,&#160; &#126;384GB of memory and 40 cores
<ul>
<li>Default&#160;resource allocation for 1 GPU =&#160; 1 GPU, 1 CPU, and 1G of memory,&#160; users will need to explicitly ask for additional&#160;resources in their job script.</li>
<li>For max memory on a GPU node, users should request <code>--mem = 377393M</code></li>
<li>A GPU SU is equivalent to 1GPU, &lt;10CPUs, and &lt;92G of memory.</li>
</ul>
</li>
<li>Multicore jobs will scale according to resource utilization</li>
<li>Each large memory node has &#126;2 TB of memory and 128 cores
<ul>
<li>By default&#160;the system&#160;will only allocate 1 GB of memory per core,&#160;&#160;explicitly use the <code>--mem</code> directive to request additional memory</li>
<li>Max. memory per large memory node <code>--mem = 2055652M</code></li>
</ul>
</li>
</ul>
</div>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="compiling" toc_level="1" toc_name="Compiling"></a>
<h2>Compiling Codes</h2>
<p><em>Expanse</em> CPU nodes have GNU, Intel, and AOCC (AMD) compilers available along with multiple MPI implementations (OpenMPI, MVAPICH2, and IntelMPI). The majority of the applications on <em>Expanse</em> have been built using gcc/10.2.0 which features AMD Rome specific optimization flags (-march=znver2). Users should evaluate their application for best compiler and library selection. GNU, Intel, and AOCC compilers all have flags to support Advanced Vector Extensions 2 (AVX2). Using AVX2, up to eight floating point operations can be executed per cycle per core, potentially doubling the performance relative to non-AVX2 processors running at the same clock speed. Note that AVX2 support is not enabled by default and compiler flags must be set as described below.</p>
<p><em>Expanse</em> GPU nodes have GNU, Intel, and PGI compilers available along with multiple MPI implementations (OpenMPI, IntelMPI, and MVAPICH2). The gcc/10.2.0, Intel, and PGI compilers have specific flags for the Cascade Lake architecture. Users should evaluate their application for best compiler and library selections.</p>
<p>Note that the login nodes are not the same as the GPU nodes, therefore all GPU codes must be compiled by requesting an interactive session on the GPU nodes.</p>
<h3>Using AMD Compilers</h3>
<p>The AMD Optimizing C/C++ Compiler (AOCC) is only available on CPU nodes. AMD compilers can be loaded by executing the following commands at the Linux prompt:</p>
<pre>module load aocc
</pre>
<br />
<p>For more information on the AMD compilers: [flang | clang ] -help</p>
<table class="tbl-user-guide">
<thead>
<tr>
<th colspan="2">Serial</th>
<th>MPI</th>
<th>OpenMP</th>
<th>MPI+OpenMP</th>
</tr>
</thead>
<tbody>
<tr>
<td valign="top">
<p>Fortran</p>
</td>
<td valign="top">
<p>flang</p>
</td>
<td valign="top">
<p>mpif90</p>
</td>
<td valign="top">
<p>ifort -mp</p>
</td>
<td valign="top">
<p>mpif90 -fopenmp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C</p>
</td>
<td valign="top">
<p>clang</p>
</td>
<td valign="top">
<p>mpiclang</p>
</td>
<td valign="top">
<p>icc -lomp</p>
</td>
<td valign="top">
<p>mpicc -fopenmp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C++</p>
</td>
<td valign="top">
<p>clang++</p>
</td>
<td valign="top">
<p>mpiclang</p>
</td>
<td valign="top">
<p>icpc -lomp</p>
</td>
<td valign="top">
<p>mpicxx -fopenmp</p>
</td>
</tr>
</tbody>
</table>
<h3>Using the Intel Compilers</h3>
<p>The Intel compilers and the MVAPICH2 MPI compiler wrappers can be loaded by executing the following commands at the Linux prompt:</p>
<pre>module load intel mvapich2
</pre>
<br />
<p>For AVX2 support, compile with the <code>-march=core-avx2</code> option. Note that this flag alone does not enable aggressive optimization, so compilation with <code>-O3</code> is also suggested.</p>
<p>Intel MKL libraries are available as part of the "intel" modules on <em>Expanse</em>. Once this module is loaded, the environment variable INTEL_MKLHOME points to the location of the mkl libraries. The <a href="https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor" rel="noopener" target="_blank">MKL link advisor</a> can be used to ascertain the link line (change the INTEL_MKLHOME aspect appropriately).</p>
<p>For example to compile a C program statically linking 64 bit scalapack libraries on <em>Expanse</em>:</p>
<pre>mpicc -o pdpttr.exe pdpttr.c \
    -I$INTEL_MKLHOME/mkl/include \
    ${INTEL_MKLHOME}/mkl/lib/intel64/libmkl_scalapack_lp64.a \
    -Wl,--start-group ${INTEL_MKLHOME}/mkl/lib/intel64/libmkl_intel_lp64.a \
    ${INTEL_MKLHOME}/mkl/lib/intel64/libmkl_core.a \
    ${INTEL_MKLHOME}/mkl/lib/intel64/libmkl_sequential.a \
    -Wl,--end-group ${INTEL_MKLHOME}/mkl/lib/intel64/libmkl_blacs_intelmpi_lp64.a \
    -lpthread -lm
</pre>
<br />
<p>For more information on the Intel compilers: [ifort | icc | icpc] -help</p>
<table class="tbl-user-guide">
<tbody>
<tr>
<td valign="top"></td>
<td valign="top">
<p>Serial</p>
</td>
<td valign="top">
<p>MPI</p>
</td>
<td valign="top">
<p>OpenMP</p>
</td>
<td valign="top">
<p>MPI+OpenMP</p>
</td>
</tr>
<tr>
<td valign="top">
<p>Fortran</p>
</td>
<td valign="top">
<p>ifort</p>
</td>
<td valign="top">
<p>mpif90</p>
</td>
<td valign="top">
<p>ifort -qopenmp</p>
</td>
<td valign="top">
<p>mpif90 -qopenmp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C</p>
</td>
<td valign="top">
<p>icc</p>
</td>
<td valign="top">
<p>mpicc</p>
</td>
<td valign="top">
<p>icc -qopenmp</p>
</td>
<td valign="top">
<p>mpicc -qopenmp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C++</p>
</td>
<td valign="top">
<p>icpc</p>
</td>
<td valign="top">
<p>mpicxx</p>
</td>
<td valign="top">
<p>icpc -qopenmp</p>
</td>
<td valign="top">
<p>mpicxx -qopenmp</p>
</td>
</tr>
</tbody>
</table>
<h3>Using the PGI Compilers</h3>
<p>The PGI compilers are only available on the GPU nodes, and can be loaded by executing the following commands at the Linux prompt</p>
<pre>module load pgi
</pre>
<br />
<p>Note that the openmpi build is integrated into the PGI install so the above module load provides both PGI and openmpi.</p>
<p>For AVX support, compile with <code>-fast</code>.</p>
<p>For more information on the PGI compilers: man [pgf90 | pgcc | pgCC]</p>
<table class="tbl-user-guide">
<tbody>
<tr>
<td valign="top"></td>
<td valign="top">
<p>Serial</p>
</td>
<td valign="top">
<p>MPI</p>
</td>
<td valign="top">
<p>OpenMP</p>
</td>
<td valign="top">
<p>MPI+OpenMP</p>
</td>
</tr>
<tr>
<td valign="top">
<p>Fortran</p>
</td>
<td valign="top">
<p>pgf90</p>
</td>
<td valign="top">
<p>mpif90</p>
</td>
<td valign="top">
<p>pgf90 -mp</p>
</td>
<td valign="top">
<p>mpif90 -mp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C</p>
</td>
<td valign="top">
<p>pgcc</p>
</td>
<td valign="top">
<p>mpicc</p>
</td>
<td valign="top">
<p>pgcc -mp</p>
</td>
<td valign="top">
<p>mpicc -mp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C++</p>
</td>
<td valign="top">
<p>pgCC</p>
</td>
<td valign="top">
<p>mpicxx</p>
</td>
<td valign="top">
<p>pgCC -mp</p>
</td>
<td valign="top">
<p>mpicxx -mp</p>
</td>
</tr>
</tbody>
</table>
<h3>Using the GNU Compilers</h3>
<p>The GNU compilers can be loaded by executing the following commands at the Linux prompt:</p>
<pre>module load gcc openmpi
</pre>
<br />
<p>For AVX support, compile with -march=core-avx2. Note that AVX support is only available in version 4.7 or later, so it is necessary to explicitly load the gnu/4.9.2 module until such time that it becomes the default.</p>
<p>For more information on the GNU compilers: <code>man [gfortran | gcc | g++]</code></p>
<table class="tbl-user-guide">
<tbody>
<tr>
<td valign="top"></td>
<td valign="top">
<p>Serial</p>
</td>
<td valign="top">
<p>MPI</p>
</td>
<td valign="top">
<p>OpenMP</p>
</td>
<td valign="top">
<p>MPI+OpenMP</p>
</td>
</tr>
<tr>
<td valign="top">
<p>Fortran</p>
</td>
<td valign="top">
<p>gfortran</p>
</td>
<td valign="top">
<p>mpif90</p>
</td>
<td valign="top">
<p>gfortran -fopenmp</p>
</td>
<td valign="top">
<p>mpif90 -fopenmp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C</p>
</td>
<td valign="top">
<p>gcc</p>
</td>
<td valign="top">
<p>mpicc</p>
</td>
<td valign="top">
<p>gcc -fopenmp</p>
</td>
<td valign="top">
<p>mpicc -fopenmp</p>
</td>
</tr>
<tr>
<td valign="top">
<p>C++</p>
</td>
<td valign="top">
<p>g++</p>
</td>
<td valign="top">
<p>mpicxx</p>
</td>
<td valign="top">
<p>g++ -fopenmp</p>
</td>
<td valign="top">
<p>mpicxx -fopenmp</p>
</td>
</tr>
</tbody>
</table>
<!--
<h4>MVAPICH2-GDR on Comet GPU Nodes</h4>
<p>The GPU nodes on Comet have MVAPICH2-GDR available. MVAPICH2-GDR is based on the standard <a href="http://mvapich.cse.ohio-state.edu" rel="noopener" target="_blank">MVAPICH2</a> software stack, incorporates designs that take advantage of the new GPUDirect RDMA technology for inter-node data movement on NVIDIA GPUs clusters with Mellanox InfiniBand interconnect. The mvapich2-gdr modules are also available on the login nodes for compiling purposes. An example compile and run script is provided in /share/apps/examples/mvapich2gdr.</p>
-->
<h3>Notes and Hints</h3>
<ul>
<li>The mpif90, mpicc, and mpicxx commands are actually wrappers that call the appropriate serial compilers and load the correct MPI libraries. While the same names are used for the Intel, PGI and GNU compilers, keep in mind that these are completely independent scripts.</li>
<li>If you use the PGI or GNU compilers or switch between compilers for different applications, make sure that you load the appropriate modules before running your executables.</li>
<li>When building OpenMP applications and moving between different compilers, one of the most common errors is to use the wrong flag to enable handling of OpenMP directives. Note that Intel, PGI, and GNU compilers use the -qopenmp, -mp, and -fopenmp flags, respectively.</li>
<li>Explicitly set the optimization level in your makefiles or compilation scripts. Most well written codes can safely use the highest optimization level (-O3), but many compilers set lower default levels (e.g. GNU compilers use the default -O0, which turns off all optimizations).</li>
<li>Turn off debugging, profiling, and bounds checking when building executables intended for production runs as these can seriously impact performance. These options are all disabled by default. The flag used for bounds checking is compiler dependent, but the debugging (-g) and profiling (-pg) flags tend to be the same for all major compilers.</li>
</ul>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="running" toc_level="1" toc_name="Running Jobs"></a>
<h2>Running Jobs on Expanse</h2>
<p><em>Expanse</em> uses the <strong>Simple Linux Utility for Resource Management (SLURM)</strong> batch environment. When you run in the batch mode, you submit jobs to be run on the compute nodes using the <span class="code" data-mce-mark="1">sbatch</span> command as described below. <em>Remember that computationally intensive jobs should be run only on the compute nodes and not the login nodes.</em></p>
<p><em>Expanse</em> places limits on the number of jobs queued and running on a per group (allocation) and partition basis. Please note that submitting a large number of jobs (especially very short ones) can impact the overall&#160; scheduler response for all users. <strong> <i>If you are anticipating submitting a lot of jobs, please contact the SDSC consulting staff before you submit them. We can work to check if there are bundling options that make your workflow more efficient and reduce the impact on the scheduler.</i> </strong></p>
<p>The limits for each partition are noted in the table below. <em>Partition limits are subject to change based on Early User Period evaluation.</em></p>
<table class="tbl-user-guide">
<thead>
<tr>
<th>Partition Name</th>
<th>Max<br />Walltime</th>
<th>Max<br />Nodes/Job</th>
<th>Max<br />Running<br />Jobs</th>
<th>Max Running<br />+ Queued Jobs</th>
<th>Charge<br />Factor</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>compute</td>
<td>48 hrs</td>
<td>32</td>
<td>32</td>
<td>64</td>
<td>1</td>
<td>Exclusive access to regular compute nodes; <em>limit applies per group</em></td>
</tr>
<tr>
<td>ind-compute</td>
<td>48 hrs</td>
<td>32</td>
<td>32</td>
<td>64</td>
<td>1</td>
<td>Exclusive access to Industry compute nodes; <em>limit applies per group</em></td>
</tr>
<tr>
<td>shared</td>
<td>48 hrs</td>
<td>1</td>
<td>4096</td>
<td>4096</td>
<td>1</td>
<td>Single-node jobs using fewer than 128 cores</td>
</tr>
<tr>
<td>ind-shared</td>
<td>48 hrs</td>
<td>1</td>
<td>32</td>
<td>64</td>
<td>1</td>
<td>Single-node Industry jobs using fewer than 128 cores</td>
</tr>
<tr>
<td>gpu</td>
<td>48 hrs</td>
<td>4</td>
<td>4</td>
<td>8 (32 Tres GPU)</td>
<td>1</td>
<td>Used for exclusive access to the GPU nodes</td>
</tr>
<tr>
<td>ind-gpu</td>
<td>48 hrs</td>
<td>4</td>
<td>4</td>
<td>8 (32 Tres GPU)</td>
<td>1</td>
<td>Exclusive access to the Industry GPU nodes</td>
</tr>
<tr>
<td>gpu-shared</td>
<td>48 hrs</td>
<td>1</td>
<td>24</td>
<td>24 (24 Tres GPU)</td>
<td>1</td>
<td>Single-node job using fewer than 4 GPUs</td>
</tr>
<tr>
<td>ind-gpu-shared</td>
<td>48 hrs</td>
<td>1</td>
<td>24</td>
<td>24 (24 Tres GPU)</td>
<td>1</td>
<td>Single-node job using fewer than 4 Industry GPUs</td>
</tr>
<tr>
<td>large-shared</td>
<td>48 hrs</td>
<td>1</td>
<td>1</td>
<td>4</td>
<td>1</td>
<td>Single-node jobs using large memory up to 2 TB (minimum memory required 256G)</td>
</tr>
<tr>
<td>debug</td>
<td>30 min</td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>Priority access to shared nodes set aside for testing of jobs with short walltime and limited resources</td>
</tr>
<tr>
<td>gpu-debug</td>
<td>30 min</td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>Priority access to gpu-shared nodes set aside for testing of jobs with short walltime and limited resources; <em>max two gpus per job</em></td>
</tr>
<tr>
<td>preempt</td>
<td>7 days</td>
<td>32</td>
<td></td>
<td>128</td>
<td>.8</td>
<td>Non-refundable discounted jobs to run on free nodes that can be pre-empted by jobs submitted to any other queue</td>
</tr>
<tr>
<td>gpu-preempt</td>
<td>7 days</td>
<td>1</td>
<td></td>
<td>24 (24 Tres GPU)</td>
<td>.8</td>
<td>Non-refundable discounted jobs to run on unallocated nodes that can be pre-empted by higher priority queues</td>
</tr>
</tbody>
</table>
<!--
<div style="margin-top: 1rem; font-size: 95%; line-height: 0.8;">
<p>1. <code>compute</code> Used for exclusive access to regular compute nodes; <em>limit applies per group</em></p>
<p>2. <code>shared</code> Single-node jobs using fewer than 128 cores</p>
<p>3. <code>gpu</code> Used for exclusive access to the GPU nodes</p>
<p>4. <code>gpu-shared</code> Single-node job using fewer than 4 GPUs</p>
<p>5. <code>large-shared</code> Single-node jobs using large memory up to 2 TB (minimum memory required 256G)</p>
<p>6. <code>debug</code> Priority access to shared nodes set aside for testing of jobs with short walltime and limited resources</p>
<p>7. <code>gpu-debug</code> Priority access to gpu-shared nodes set aside for testing of jobs with short walltime and limited resources; <em>max two gpus per job</em></p>
<p>8. <code>preempt</code> Non-refundable discounted jobs to run on free nodes that can be pre-empted by jobs submitted to any other queue</p>
<p>9. <code>gpu-preempt</code> Non-refundable discounted jobs to run on unallocated nodes that can be pre-empted by higher priority queues</p>
</div>
-->
<h3>Requesting interactive resources using srun</h3>
<p>You can request an interactive session using the <span class="code" data-mce-mark="1">srun</span> command. The following example will request one regular compute node, 4 cores,&#160; in the debug partition for 30 minutes.</p>
<pre>srun --partition=debug  --pty --account=&lt;&lt;project&gt;&gt; --nodes=1 --ntasks-per-node=4 \
    --mem=8G -t 00:30:00 --wait=0 --export=ALL /bin/bash
</pre>
<br />
<p>The following example will request a GPU node, 10 cores, 1 GPU and 96G&#160; in the debug partition for 30 minutes.&#160; To ensure the GPU environment is properly loaded, please be sure run both the <code>module purge</code> and <code>module restore</code> commands.</p>
<pre>login01$ srun --partition=gpu-debug --pty --account=&lt;&lt;project&gt;&gt; --ntasks-per-node=10 \
    --nodes=1 --mem=96G --gpus=1 -t 00:30:00 --wait=0 --export=ALL /bin/bash</pre>
<pre>srun: job 1336890 queued and waiting for resources
srun: job 1336890 has been allocated resources
exp-7-59$ module purge
exp-7-59$ module restore</pre>
<pre>Resetting modules to system default. Resetting $MODULEPATH back to system default.
    All extra directories will be removed from $MODULEPATH.</pre>
<br />
<h3>Submitting Jobs Using sbatch</h3>
<p>Jobs can be submitted to the sbatch partitions using the <span class="code" data-mce-mark="1">sbatch</span> command as follows:</p>
<pre> sbatch jobscriptfile
</pre>
<br />
<p>where <code>jobscriptfile</code> is the name of a UNIX format file containing special statements (corresponding to sbatch options), resource specifications and shell commands. Several example SLURM scripts are given below:</p>
<h4>Basic MPI Job</h4>
<pre>#!/bin/bash
#SBATCH --job-name="hellompi"
#SBATCH --output="hellompi.%j.%N.out"
#SBATCH --partition=compute<br />#SBATCH --nodes=2
#SBATCH --ntasks-per-node=128<br />#SBATCH --mem=249325M <br />#SBATCH --account=<em>&lt;&lt;project*&gt;&gt;</em><br />#SBATCH --export=ALL
#SBATCH -t 01:30:00

#This job runs with 2 nodes, 128 cores per node for a total of 256 tasks.<br /><br />module purge<br />module load cpu<br />#Load module file(s) into the shell environment<br />module load gcc<br />module load mvapich2<br />module load slurm<br /><br />srun --mpi=pmi2 -n 256 ../hello_mpi
</pre>
<br />
<p style="font-size: 8pt;"><em>* Expanse requires users to enter a valid project name; users can list valid project by running the <code>expanse-client</code> script.</em></p>
<h3>Basic OpenMP Job</h3>
<pre>#!/bin/bash
#SBATCH --job-name="hello_openmp"
#SBATCH --output="hello_openmp.%j.%N.out"
#SBATCH --partition=compute<br />#SBATCH --nodes=1<br />#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task=24<br />#SBATCH --mem=249325M<br />#SBATCH --account=<em>&lt;&lt;project*&gt;&gt;</em>
#SBATCH --export=ALL
#SBATCH -t 01:30:00<br /><br />module purge <br />module load cpu<br />module load slurm<br />module load gcc<br />module load openmpi

#SET the number of openmp threads
export OMP_NUM_THREADS=24

#Run the job
./hello_openmp
</pre>
<br />
<p style="font-size: 8pt;"><em>* Expanse requires users to enter a valid project name; users can list valid project by running the <code>expanse-client</code> script.</em></p>
<h4>Hybrid MPI-OpenMP Job</h4>
<pre>#!/bin/bash
#SBATCH --job-name="hellohybrid"
#SBATCH --output="hellohybrid.%j.%N.out"
#SBATCH --partition=compute<br />#SBATCH --nodes=1
#SBATCH --ntasks-per-node=8<br />#SBATCH --cpus-per-task=16<br />#SBATCH --mem=249325M<br />#SBATCH --account=<em>&lt;&lt;project*&gt;&gt;</em>
#SBATCH --export=ALL
#SBATCH -t 01:30:00

#This job runs with 2 nodes, 24 cores per node for a total of 48 cores.
# We use 8 MPI tasks and 6 OpenMP threads per MPI task<br /><br />module purge <br />module load cpu<br />module load slurm
module load intel<br />module load intel-mpi<br />
export OMP_NUM_THREADS=16
mpirun -genv I_MPI_PIN_DOMAIN=omp:compact ./hello_hybrid
</pre>
</div>
<div class="section">
<p style="font-size: 8pt;"><em>* Expanse require users to enter a valid project name; users can list valid project by running the <code>expanse-client</code> script.</em></p>
<h4>Using the Shared Partition</h4>
<pre>#!/bin/bash
#SBATCH -p shared<br />#SBATCH --nodes=1
#SBATCH --ntasks-per-node=8
#SBATCH --mem=40G
#SBATCH -t 01:00:00
#SBATCH -J job.8<br />#SBATCH -A <em>&lt;&lt;project*&gt;&gt;</em>
#SBATCH -o job.8.%j.%N.out
#SBATCH -e job.8.%j.%N.err
#SBATCH --export=ALL<br /><br />export SLURM_EXPORT_ENV=ALL<br /><br />module purge<br />module load cpu<br />module load gcc<br />module load mvapich2<br />module load slurm<br /><br />srun -n 8 ../hello_mpi
</pre>
<br />
<p style="font-size: 8pt;"><em>* Expanse requires users to enter a valid project name; users can list valid project by running the <code>expanse-client</code> script.</em></p>
<p>The above script will run using 8 cores and 40 GB of memory. Please note that the performance in the shared partition may vary depending on how sensitive your application is to memory locality and the cores you are assigned by the scheduler. It is possible the 8 cores will span two sockets for example.</p>
<h3>Using Large Memory Nodes</h3>
<p>The large memory nodes can be accessed via the "large-shared" partition. Charges are based on either the number of cores or the fraction of the memory requested, whichever is larger. By default&#160;the system&#160;will only allocate 1 GB of memory per core. If additional memory is required,&#160;users should&#160;explicitly use the <code>--mem</code> directive.&#160;&#160;&#160;</p>
<p>For example, on the "large-shared" partition, the following job requesting 128 cores and 2000 GB of memory (about 100% of 2TB of one node's available memory) for 1 hour will be charged 1024 SUs:</p>
<p>200/1455(memory) * 64(cores) * 1(duration) &#126;= 1024</p>
<pre>#SBATCH --partition=large-shared<br />#SBATCH --nodes=1<br />#SBATCH --ntasks-per-node=128<br />#SBATCH --cpus-per-task=1<br />#SBATCH --mem=2055652M<br /><br />export OMP_PROC_BIND='true'
</pre>
<br />
<p>While there is not a separate 'large' partition, a job can still explicitly request all of the resources on a large memory node. Please note that there is no premium for using <em>Expanse</em>'s large memory nodes. Users are advised to request the large nodes only if they need the extra memory.</p>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="gpu_nodes" toc_level="1" toc_name="GPU Nodes"></a>
<h2>Using GPU Nodes</h2>
<p>GPU nodes are allocated as a separate resource. The GPU nodes can be accessed via either the "gpu" or the "gpu-shared" partitions.</p>
<pre>#SBATCH -p gpu
</pre>
<br />
<p>or</p>
<pre>#SBATCH -p gpu-shared
</pre>
<br />
<p>When users request 1 GPU, in gpu-shared partition, by default they will also receive, 1 CPU, and 1G memory.&#160; Here is an example AMBER script using the gpu-shared queue.</p>
<h4>GPU job</h4>
<pre>#!/bin/bash
#SBATCH --job-name="ambergpu"
#SBATCH --output="ambergpu.%j.%N.out"
#SBATCH --partition=gpu<br />#SBATCH --nodes=1
#SBATCH --gpus=4<br />#SBATCH --mem=377393M<br />#SBATCH --account=<em>&lt;&lt;project*&gt;&gt;</em>
#SBATCH --no-requeue
#SBATCH -t 01:00:00

module purge
module load gpu
module load slurm
module load openmpi			
module load amber
pmemd.cuda -O -i mdin.GPU -o mdout.GPU.$SLURM_JOBID -x mdcrd.$SLURM_JOBID \
    -nf mdinfo.$SLURM_JOBID -1 mdlog.$SLURM_JOBID -p prmtop -c inpcrd
</pre>
<br />
<p style="font-size: 8pt;"><em>* Expanse&#160; requires users to enter a valid project name; users can list valid project by running the <code>expanse-client</code> script.</em></p>
<h4>GPU-shared job</h4>
<pre>#!/bin/bash
#SBATCH --job-name="ambergpushared"
#SBATCH --output="ambergpu.%j.%N.out"
#SBATCH --partition=gpu<br />#SBATCH --nodes=1
#SBATCH --gpus=2<br />#SBATCH --cpus-per-task=1<br />#SBATCH --mem=93G<br />#SBATCH --account=<em>&lt;&lt;project*&gt;&gt;</em>
#SBATCH --no-requeue
#SBATCH -t 01:00:00

module purge
module load gpu
module load slurm
module load openmpi			
module load amber
pmemd.cuda -O -i mdin.GPU -o mdout-OneGPU.$SLURM_JOBID -p prmtop -c inpcrd
</pre>
<p>&#160;</p>
<p style="font-size: 8pt;"><em>* Expanse&#160; requires users to enter a valid project name; users can list valid project by running the <code>expanse-client</code> script.</em></p>
<p>&#160;</p>
<p>Users can find application specific example job script on the system in directory <code>/cm/shared/examples/sdsc/</code>.</p>
<p>GPU modes can be controlled for jobs in the "gpu" partition.&#160; By default, the GPUs are in non-exclusive mode and the persistence mode is 'on'.&#160; If a particular "gpu"&#160; partition job needs exclusive access the&#160;following options should be set in your batch script:</p>
<pre>#SBATCH --constraint=exclusive
</pre>
<br />
<p>To turn persistence off add the following line to your batch script:</p>
<pre>#SBATCH --constraint=persistenceoff
</pre>
<br />
<p>The charging equation will be:</p>
<p>GPU&#160;SUs = (Number of GPUs)&#160;x (wallclock time)</p>
<h4>SLURM No-Requeue Option</h4>
<p>SLURM will requeue jobs if there is a node failure. However, in some cases this might be detrimental if files get overwritten. If users wish to avoid automatic requeue, the following line should be added to their script:</p>
<p class="code">#SBATCH --no-requeue</p>
<p>The 'requeue' count limit is currently set to 5. The job will be requeued 5 times after which the job will be placed in the REQUEUE_HOLD state and the job must be&#160;canceled and resubmitted.</p>
<h4>Example Scripts for Applications</h4>
<p>SDSC User Services staff have developed sample run scripts for common applications. They are available in the <code>/cm/shared/examples</code> directory on <em>Expanse</em>.</p>
<h3>Job Dependencies</h3>
<p>There are several scenarios (e.g. splitting long running jobs, workflows) where users may require jobs with dependencies on successful completions of other jobs. In such cases, SLURM's <span class="code" data-mce-mark="1">--dependency</span> option can be used. The syntax is as follows:</p>
<pre>[user@login01-expanse &#126;]$ sbatch --dependency=afterok:jobid jobscriptfile
</pre>
<br />
<h3>Job Monitoring and Management</h3>
<p>Users can monitor jobs using the <span class="code" data-mce-mark="1">squeue</span> command.</p>
<pre>[user@expanse &#126;]$ squeue -u user1

             JOBID PARTITION     NAME     USER ST       TIME  NODES NODELIST(REASON)
            256556   compute raxml_na user1     R    2:03:57      4 expanse-14-[11-14]
            256555   compute raxml_na user1     R    2:14:44      4 expanse-02-[06-09]
</pre>
<br />
<p>In this example, the output lists two jobs that are running in the "compute" partition. The jobID, partition name, job names, user names, status, time, number of nodes, and the node list are provided for each job. Some common <span class="code" data-mce-mark="1">squeue</span> options include:</p>
<table class="tbl-user-guide">
<tbody>
<tr>
<th>Option</th>
<th>Result</th>
</tr>
<tr>
<td><span class="code" data-mce-mark="1">-i &lt;interval&gt;</span></td>
<td>Repeatedly report at intervals (in seconds)</td>
</tr>
<tr>
<td><span class="code" data-mce-mark="1">-ij&lt;job_list&gt;</span></td>
<td>Displays information for specified job(s)</td>
</tr>
<tr>
<td><span class="code" data-mce-mark="1">-p &lt;part_list&gt;</span></td>
<td>Displays information for specified partitions (queues)</td>
</tr>
<tr>
<td><span class="code" data-mce-mark="1">-t &lt;state_list&gt;</span></td>
<td>Shows jobs in the specified state(s)</td>
</tr>
</tbody>
</table>
<p>Users can cancel their own jobs using the <span class="code" data-mce-mark="1">scancel</span> command as follows:</p>
<pre>[user@expanse &#126;]$ scancel &lt;jobid&gt;
</pre>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="data_movement" toc_level="1" toc_name="Data Movement"></a>
<h2>Globus Endpoints, Data Movers and Mount Points</h2>
<p>All of <em>Expanse</em>'s NFS and Lustre filesystems are&#160;accessible via the Globus endpoint <code>xsede#expanse</code>. The following table shows the mount points on the data mover nodes (that are the backend for <code>xsede#expanse</code>).</p>
<table class="tbl-user-guide">
<tbody>
<tr>
<th>Machine</th>
<th>Location on machine</th>
<th>Location on Globus/Data Movers</th>
</tr>
<tr>
<td>Expanse</td>
<td><code>/home/$USER</code></td>
<td><code>/expanse/home/$USER</code></td>
</tr>
<tr>
<td>Expanse</td>
<td><code>/expanse/lustre/projects</code></td>
<td><code>/expanse/lustre/projects/</code></td>
</tr>
<tr>
<td>Expanse</td>
<td><code>/expanse/lustre/scratch</code></td>
<td><code>/expanse/lustre/scratch/...</code></td>
</tr>
</tbody>
</table>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="storage" toc_level="1" toc_name="Storage"></a>
<h2>Storage Overview</h2>
<p style="margin: 0.5rem 10%; padding: 0.5rem 1.5rem; border-radius: 0.2rem; border: 1px solid blue; background-color: #ffffcc;">Users are responsible for backing up all important data in case of unexpected data loss at SDSC</p>
<p>The SDSC Expanse Lustre file system (including <code>/expanse/lustre/scratch</code> and <code>/expanse/lustre/project</code>) <strong>IS NOT</strong> an archival file system. The SDSC Expanse Lustre file system <strong>IS NOT</strong> backed up. SDSC will enforce a strict purge policy on the Expanse Lustre filesystem. <strong>Project space will be purged 90 days after allocation expires. Scratch files will be purged 90 days from creation date.</strong></p>
<h3>Local Scratch Disk</h3>
<p>The compute nodes on <em>Expanse</em> have access to fast flash storage. There is 1TB of SSD space available for use on each compute node. The latency to the SSDs is several orders of magnitude lower than that for spinning disk (&lt;100 microseconds vs. milliseconds) making them ideal for user-level check pointing and applications that need fast random I/O to large scratch files. Users can access the SSDs only during job execution under the following directories local to each compute node:</p>
<code>/scratch/$USER/job_$SLURM_JOB_ID</code> <br />
<table class="tbl-user-guide">
<thead>
<tr>
<th>Partition</th>
<th>Space Available</th>
</tr>
</thead>
<tbody>
<tr>
<td>compute,shared</td>
<td>1 TB</td>
</tr>
<tr>
<td>gpu, gpu-shared</td>
<td>1.6TB</td>
</tr>
<tr>
<td>large-shared</td>
<td>3.2 TB</td>
</tr>
</tbody>
</table>
<br />
<h3>Parallel Lustre Filesystems</h3>
<p>In addition to the local scratch storage, users will have access to global parallel filesystems on <em>Expanse</em>. Every <em>Expanse</em> node has access to a 12 PB Lustre parallel file system (provided by Aeon Computing) and a 7 PB Ceph Object Store system, 140 GB/second performance storage. SDSC limits the number of files that can be stored in the <code>/lustre/scratch</code> filesystem to 2 million files per user. Users should contact support for assistance at the <a href="mailto:help@xsede.org">XSEDE Help Desk</a> if their workflow requires extensive small I/O, to avoid causing system issues assosiated with load on the metadata server.</p>
<p>The two Lustre filesystems available on <em>Expanse</em> are:</p>
<ul>
<li>Lustre <em>Expanse</em> scratch filesystem: <code>/expanse/lustre/scratch/$USER/temp_project</code></li>
<li>Lustre NSF projects filesystem: <code>/expanse/lustre/projects/</code></li>
</ul>
<h4>Submitting Jobs Using Lustre</h4>
<p>Jobs that need to use the Lustre filesystem should explicitly reqeust the feature by including the following line&#160; to their script:</p>
<p class="code">#SBATCH --constraint="lustre"</p>
<p>This constraint can be used in combination with any other constraints you are already using. For example:<br /><br />#SBATCH --contraint="lustre&amp;persistenceoff&amp;exclusive"<br /><br />&#160;Jobs submitted without --constraint="lustre" that need the Lustre filesystem will be scheduled on nodes without Lustre and will FAIL.</p>
<h3>Home File System</h3>
<p>After logging in, users are placed in their home directory, /home, also referenced by the environment variable <code>$HOME</code>. The home directory is limited in space and should be used only for source code storage. User will have access to 100GB in <code>/home</code>. Jobs should&#160; <strong>never</strong>&#160;be run from the home file system, as it is not set up for high performance throughput. Users should keep usage on <code>$HOME</code> under 100GB. Backups are currently being stored on a rolling 8-week period. In case of file corruption/data loss, please contact us at <a href="mailto:help@xsede.org">XSEDE Help Desk</a>&#160;to retrieve the requested files.</p>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="clusters" toc_level="1" toc_name="Composable Systems"></a>
<h2>Composable Systems</h2>
<p><em>Expanse</em> also supports Composable Systems, allowing reserachers to create a virtual 'tool set' of resources, such as Kubernetes resources, for a specific project and then re-compose it as needed. <em>Expanse</em> will also feature direct scheduler integration with the major cloud providers, leveraging high-speed networks to ease data movement to and from the cloud.</p>
<p>All Composable System requests must include a brief justification, specifically describing why a Composable System is required for the project.</p>
</div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="software" toc_level="1" toc_name="Software Packages"></a>
<h2>Software</h2>
<p><em>Expanse</em> supports a broad application base with&#160;installs and&#160;modules for commonly used packages in&#160;bioinformatics, molecular&#160;dynamics, machine learning,&#160;quantum chemistry, structural&#160;mechanics, and&#160;visualization, and will continue to support Singularity-based containerization in <em>Expanse</em>. Users can search for available software on XSEDE resources with the <a href="https://portal.xsede.org/software#/" rel="noopener" target="_blank">XSEDE software search tool</a>.</p>
<!--
<h3>Supported Application Software</h3>
<h4>by Domain of Science</h4>
<table class="tbl-user-guide">
<tbody>
<tr class="tbl-alternating">
<th valign="top">Domain</th>
<th valign="top">Software</th>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Biochemistry</p>
</td>
<td valign="top">
<p align="center">APBS</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Bioinformatics</p>
</td>
<td valign="top">
<p align="center">BamTools, BEAGLE, BEAST, BEAST 2, bedtools, Bismark, BLAST, BLAT, Bowtie, Bowtie 2, BWA, Cufflinks, DPPDiv, Edena, FastQC, FastTree, FASTX-Toolkit, FSA, GARLI, GATK, GMAP-GSNAP, IDBA-UD, MAFFT, MrBayes, PhyloBayes, Picard, PLINK, QIIME, RAxML, SAMtools, SOAPdenovo2, SOAPsnp, SPAdes, TopHat, Trimmomatic, Trinity, Velvet</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Compilers</p>
</td>
<td valign="top">
<p align="center">AOCC, GNU, Intel, PGI</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>File format libraries</p>
</td>
<td valign="top">
<p align="center">HDF4, HDF5, NetCDF</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Interpreted languages</p>
</td>
<td valign="top">
<p align="center">MATLAB, Octave, R</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Large-scale data-analysis frameworks</p>
</td>
<td valign="top">
<p align="center">Hadoop 1, Hadoop 2 (with YARN), Spark, RDMA-Spark</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Molecular dynamics</p>
</td>
<td valign="top">
<p align="center">Amber, Gromacs, LAMMPS, NAMD</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>MPI libraries</p>
</td>
<td valign="top">
<p align="center">MPICH2, MVAPICH2, Open MPI</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Numerical libraries</p>
</td>
<td valign="top">
<p align="center">ATLAS, FFTW, GSL, LAPACK, MKL, ParMETIS, PETSc, ScaLAPACK, SPRNG, Sundials, SuperLU, Trilinios</p>
</td>
</tr>
<tr class="alternating">
<td valign="top">
<p>Predictive analytics</p>
</td>
<td valign="top">
<p align="center">KNIME, Mahout, Weka</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Profiling and debugging</p>
</td>
<td valign="top">
<p align="center">DDT, IDB, IPM, mpiP, PAPI, TAU, Valgrind</p>
</td>
</tr>
<tr class="alternating">
<td valign="top">
<p>Quantum chemistry</p>
</td>
<td valign="top">
<p align="center">CPMD, CP2K, GAMESS, Gaussian, MOPAC, NWChem, Q-Chem, VASP</p>
</td>
</tr>
<tr class="tbl-alternating">
<td valign="top">
<p>Structural mechanics</p>
</td>
<td valign="top">
<p align="center">Abaqus</p>
</td>
</tr>
<tr class="alternating">
<td valign="top">
<p>Visualization</p>
</td>
<td valign="top">
<p align="center">IDL, VisIt</p>
</td>
</tr>
</tbody>
</table>
--></div>
<p class="back-top-link"><a href="#top">Back to top</a></p>
<!-- Guide Section End -->
<div class="section"><!-- Guide Section Begin --> <a class="anchor" id="publications" toc_level="1" toc_name="Publications"></a>
<h2>Publications</h2>
</div>
<!-- Guide Section End -->
