<span style="font-size:225%; font-weight:bold;">PSC Bridges-2 User Guide<br></span>
<i>Last update: March 30, 2021</i></p>

#intro
	:markdown
		# [Introduction](#intro)

		<p class="portlet-msg-alert">If you are migrating from Bridges, please see the <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/bridges-2/migration-guide">Bridges to Brides-2 Migration Guide</a> for tips on moving your work to Bridges-2.</p>

		<p class="portlet-msg-info">We take security very seriously. Please take a minute now to read PSC policies on <a href="#password">passwords</a> and <a href="#policies">security guidelines, resource use, and privacy</a>. You are expected to comply with these policies at all times when using PSC systems. If you have questions at any time, you can send email to <help@psc.edu>.</p>

	#intro-hpc
		:markdown
			## [Are You New to HPC?](#intro-hpc)

			If you are new to high performance computing, please read <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/bridges-2/getting-started-with-hpc/">Getting Started with HPC</a> before you begin your research on Bridges-2. It explains HPC concepts which may be unfamiliar. You can also check the <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/introduction-to-unix/">Introduction to Unix</a> or the <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/glossary/">Glossary </a>for quick definitions of terms that may be new to you.

			We hope that that information along with the Bridges-2 User Guide will have you diving into your work on Bridges-2. But if you have any questions, don't hesitate to email us for help at <help@psc.edu>.

	#intro-questions
		:markdown
			## [Questions?](#intro-questions)

			PSC User Services is here to help you get your research started and keep it on track. If you have questions at any time, you can send email to <help@psc.edu>.

#password
	:markdown
		# [Set your PSC Password](#password)

		Before you can connect to Bridges-2, you must have a PSC password.

	#password-active
		:markdown
			## [With an Active PSC Account](#password-active)

			**If you have an active account on any other PSC system**:  PSC usernames and passwords are the same across all PSC systems. You will use the same username and password on Bridges-2 as for your other PSC account.


	#password-noactive
		:markdown
			## [Without an Active PSC Account](#password-noactive)

			**If you do not have an active account on any other PSC system**: You must create a PSC password. Go to the <a nohref="https://apr.psc.edu/">web-based PSC password change utility</a> to set your PSC password.

	#password-policies
		:markdown
			## [PSC Password Policies](#password-policies)

			Computer security depends heavily on maintaining secrecy of passwords.

			PSC uses Kerberos authentication on all its production systems, and your PSC password (also known as your *Kerberos password*) is the same on all PSC machines.

	#password-set
		:markdown
			## [Set your Initial PSC Password](#password-set)
		
			When you receive a PSC account, go to the web-based <a target="_blank" rel="noopener" href="https://apr.psc.edu/">PSC password change utility</a> to set your password. For security, you should use a unique password for your PSC account, not one that you use for other sites.

	#password-change
		:markdown
			## [Change your PSC Password](#password-change)
		
			Changing your password changes it on all PSC systems. To change your Kerberos password, use the web-based <a target="_blank" rel="noopener" href="https://apr.psc.edu/">PSC password change utility</a> .

			<strong>Please note</strong> that changing your password on the XSEDE Portal <strong>does not</strong> change it on PSC systems and <strong>will not</strong> prevent your PSC password from expiring.

	#password-reqs
		:markdown
			## [PSC Password Requirements](#password-reqs)

			Your password must:

			* be at least eight characters long
			* contain characters from at least three of the following groups:
				* lower-case letters
				* upper-case letters
				* digits
				* special characters, excluding apostrophes (') and quotes (")
			* be different from the last three PSC passwords you have used
			* be changed at least once per year

	#password-safety
		:markdown
			## [Password Safety](#password-safety)

			<strong>Under NO circumstances</strong> does PSC reveal any passwords over the telephone, FAX them to any location, send them through email, set them to a requested string, or perform any other action that could reveal a password.
		
			If someone claiming to represent PSC contacts you and requests information that in any manner would reveal a password, be assured that the request is invalid and <strong>do NOT</strong> comply.


#system
	:markdown
		# [System Configuration](#system)

		Bridges-2 is designed for converged HPC + AI + Data. Its custom topology is optimized for data-centric HPC, AI, and HPDA (High Performance Data Analytics). An extremely flexible software environment along with community data collections and BDaaS (Big Data as a Service) provide the tools necessary for modern pioneering research. The data management system, Ocean, consists of two-tiers, disk and tape, transparently managed as a single, highly usable namespace.

	#system-compute
		:markdown
			## [Compute Nodes](#system-compute)

			Bridges-2 has three types of compute nodes: "Regular Memory", "Extreme Memory", and GPU.

		#system-compute-rm
			:markdown
				### [Regular Memory Nodes](#system-compute-rm)

				Regular Memory (RM) nodes provide extremely powerful general-purpose computing, pre- and post-processing, AI inferencing, and machine learning and data analytics. Most RM nodes contain 256GB of RAM, but 16 of them have 512GB.

			%table(border="1" cellpadding="3")
				%tr
				<th colspan="3" id="rm">RM nodes</th>
				%tr
					%td Number
					%td 488
					%td 16
				%tr
					%td CPU
					<td colspan="2">2 AMD EPYC 7742 CPUs<br />64 cores per CPU, 128 cores per node<br />2.25-3.40 GHz</td>
				%tr
					%td RAM
					%td 256GB
					%td 512GB
				%tr
					%td Cache
					%td 256MB L3, 8 memory channels
					%td 256MB L3, 8 memory channels
				%tr
					%td Node-local storage
					%td 3.84TB NVMe SSD
					%td 3.84TB NVMe SSD
				%tr
					%td Network
					%td Mellanox ConnectX-6-HDR Infiniband 200Gb/s Adapter
					%td Mellanox ConnectX-6-HDR Infiniband 200Gb/s Adapter

		#system-compute-em
			:markdown
				### [Extreme Memory Nodes](#system-compute-em)

				Extreme Memory (EM) nodes provide 4TB of shared memory for statistics, graph analytics, genome sequence assembly, and other applications requiring a large amount of memory for which distributed-memory implementations are not available.

			%table(border="1" cellpadding="2")
				%tr
				<th colspan="3" id="rm">EM nodes</th>
				%tr
					%td CPU
					%td 4 Intel Xeon Platinum 8260M "Cascade lake" CPUs<br />24 cores per CPU, 96 cores per node<br />2.40-3.90 GHz
				%tr
					%td RAM
					%td 4TB, DDR4-2933
				%tr
					%td Cache
					%td 37.75MB LLC, 6 memory channels
				%tr
					%td Node-local storage
					%td 7.68TB NVMe SSD
				%tr
					%td Network
					%td Mellanox ConnectX-6-HDR Infiniband 200Gb/s Adapter
	
		#system-compute-gpu
			:markdown
				### [GPU Nodes](#system-compute-gpu)

				Bridges-2's GPU nodes provide exceptional performance and scalability for deep learning and accelerated computing, with a total of 40, 960 CUDA cores and 5,120 tensor cores. Note that soon after Bridges is decommissioned, its GPU-AI resources will be migrated to Bridges-2. Watch for an announcement.

			%table(border="1" cellpadding="3")
				%tr
				<th colspan="2" id="rm">GPU nodes</th>
				%tr
					%td Number
					%td 24
				%tr
					%td GPUs per node
					%td 8 NVIDIA Tesla V100-32GB SXM2
				%tr
					%td GPU performance
					%td 1 Pf/s tensor
				%tr
					%td CPUs
					%td 2 Intel Xeon Gold 6248 "Cascade Lake" CPUs<br />20 cores per CPU, 40 cores per node<br />2.50-3.90 GHz
				%tr
					%td RAM
					%td 512GB, DDR4-2933
				%tr
					%td Cache
					%td 27.5MB LLC, 6 memory channels
				%tr
					%td Node-local storage
					%td 7.68TB NVMe SSD
				%tr
					%td Network
					%td 2 Mellanox ConnectX-6 HDR Infiniband 200 Gbs/s Adapters

	#system-datamgmt
		:markdown
			## [Data Management](#system-datamgmt)

			Data management on Bridges-2 is accomplished through a unified, high-performance filesystem for active project data, archive, and resilience, named Ocean.
			Ocean consists of two tiers, disk and tape, transparently managed as a single, highly usable namespace.
		
			<strong>Ocean's disk subsystem</strong>, for active project data, is a high-performance, internally resilient Lustre parallel filesystem with 15PB of usable capacity, configured to deliver up to 129GB/s and 142GB/s of read and write bandwidth, respectively.
			<strong>Ocean's tape subsystem</strong>, for archive and additional resilience, is a high-performance tape library with 7.2PB of uncompressed capacity, configured to deliver 50TB/hour. Data compression occurs in hardware, transparently, with no performance overhead.


#connecting
	:markdown
		# [Connecting to Bridges-2](#connecting)

		* [ssh](#ssh), using either XSEDE or PSC credentials. If you are registered with XSEDE for DUO Multi-Factor Authentication (MFA), you can use this security feature in connecting to Bridges-2. See the <a target="_blank" rel="noopener" href="https://portal.xsede.org/mfa/">XSEDE instructions to set up DUO for MFA</a>.
		* [XSEDE Single Sign On](#connecting-sso), including using Multi-Factor authentication if you are an XSEDE user

	#connecting-ssh
		:markdown
			## [SSH](#connecting-ssh)

			You can use an ssh client from your local machine to connect to Bridges-2 using either your PSC or XSEDE credentials.

			SSH is a program that enables secure logins over an unsecure network. It encrypts the data passing both ways so that if it is intercepted it cannot be read.

			SSH is client-server software, which means that both the user's local computer and the remote computer must have it installed. SSH server software is installed on all the PSC machines. You must install SSH client software on your local machine.

			Free ssh clients for Macs, Windows machines and many versions of Unix are available. Popular ssh clients (GUI) include <a target="_blank" rel="noopener" href="https://www.putty.org/">PuTTY</a> for Windows and <a target="_blank" rel="noopener" href="https://cyberduck.en.softonic.com/mac">Cyberduck</a> for Macs. A command line version of ssh is installed on Macs by default; if you prefer that, you can use it in the Terminal application. You can also check with your university to see if there is an ssh client that they recommend.
	
			Once you have an ssh client installed, you can use either your PSC credentials or XSEDE credentials (optionally with DUO MFA) to connect to Bridges-2. Note that you must have [created your PSC password](#password-noactive) before you can use ssh to connect to Bridges-2.

		#connecting-xsedecreds
			:markdown
				### [With XSEDE Credentials and DUO MFA](#connecting-xsedecreds)
	
				Use ssh to connect to Bridges-2 using XSEDE credentials and (optionally) DUO MFA:

				1. Using your ssh client, use your XSEDE credentials and connect to hostname bridges2.psc.edu using port 2222.<br>`ssh -p 2222 *xsede-username*@bridges2.psc.edu`
				1. Enter your XSEDE password when prompted.
				1. (Optional) If you are registered with XSEDE DUO, you will receive a prompt on your device. Once you have approved it, you will be logged in.

		#connecting-psccreds
			:markdown
				### [With PSC Credentials:](#connecting-psccreds)

				Use ssh to connect to Bridges-2 using PSC credentials:

				1. Using your ssh client, connect to hostname bridges2.psc.xsede.org or bridges2.psc.edu using the default port (22).<br>Either hostname will connect you to Bridges-2. You do not have to specify the port.
				1. Enter your PSC username and password when prompted.

				<a target="_blank" rel="noopener" href="https://www.psc.edu/about-using-ssh/">Read more about using SSH to connect to PSC systems</a>.

		#connecting-privatekey
			:markdown
				### [Public-Private Keys](#connecting-privatekey)

				You can also use public-private key pairs to connect to Bridges-2. To do so, you must first <a target="_blank" rel="noopener" href="http://grants.psc.edu/cgi-bin/ssh/listKeys.pl">fill out this form</a> to register your keys with PSC.

		#connecting-sso
			:markdown
				### [XSEDE Single Sign On](#connecting-sso)

			XSEDE users can use their XSEDE usernames and passwords in the <a target="_blank" rel="noopener" href="https://portal.xsede.org/single-sign-on-hub"> XSEDE User Portal Single Sign On Login Hub</a> (SSO Hub) to access bridges2.psc.xsede.org or bridges2.psc.edu.

			You must use DUO Multi-Factor Authentication in the SSO Hub. See the <a target="_blank" rel="noopener" href="https://portal.xsede.org/mfa/">XSEDE instructions to set up DUO for Multi-Factor Authentication</a>.


#accounts
	:markdown
		# [Account Administration](#accounts)

	#accounts-changepw
		:markdown
			## [Changing your PSC Password](#accounts-changepw)

			There are two ways to change or reset your PSC password:

			* Use the <a target="_blank" rel="noopener" href="https://apr.psc.edu/">web-based PSC password change utility</a>.
			* Use the kpasswd command when logged into a PSC system. Do not use the passwd command.

			When you change your PSC password, whether you do it via the online utility or via the kpasswd command on one PSC system, you change it on all PSC systems.

			See <a href="#policies">PSC password policies</a>.

			Remember that your PSC password is separate from your XSEDE Portal password. Resetting one password does not change the other password.

	#accounts-monitor
		:markdown
			## [The `projects` Command](#accounts-monitor)

			The projects command will help you monitor your allocation on Bridges-2. You can determine what Bridges-2 resources you have been allocated, your remaining balance, your account id (used to track usage), and more. The output below shows that this user has an allocation on Bridges-2 Regular Memory and Bridges-2 GPU resources for computing and Bridges-2 Ocean for file storage.

				[userid@login018 ~]$ projects
				Your default charging project charge id is abcd1234. If you would like to change the default charging project use the command change_primary_group ~charge_id~. Use the charge id listed below for the project you would like to make the default in place of ~charge_id~

				Project: ABCD1234
				     PI: Cy Entist
				  Title: World Renowned Research

				      Resource: Bridges 2 GPU 
				    Allocation: 10000.00
				       Balance: 8872.00
				      End Date: 2021-07-15
				  Award Active: Yes
				   User Active: Yes
				     Charge ID: abcd1234
				   Directories:
				       HOME /jet/home/userid 
				      Resource: Bridges 2 Regular Memory
				    Allocation: 23000.00
				       Balance: 197450.00
				      End Date: 2021-07-15
				  Award Active: Yes
				   User Active: Yes
				     Charge ID: abcd1234
				   Directories:
				       HOME /jet/home/userid

				      Resource: Bridges 2 Ocean Storage
				    Allocation: 200000.00
				       Balance: 90735.36
				      End Date: 2021-07-15
				  Award Active: Yes
				   User Active: Yes
				     Charge ID: abcd1234
				   Directories:
				       HOME /jet/home/userid
				       STORAGE /ocean/projects/abcd1234
				       STORAGE /ocean/projects/abcd1234/userid
				       STORAGE /ocean/projects/abcd1234/shared

	#accounts-usage
		:markdown
			## [Accounting for Bridges-2 Use](#accounts-usage)

			Accounting for Bridges-2 use varies with the type of node used, which is determined by the type of allocation you have: "Bridges-2 Regular Memory", for Bridges-2's RSM (256 and 512GB) nodes); "Bridges-2 Extreme Memory", for Bridges-2 4TB nodes; and "Bridges-2 GPU" and "Bridges-2 GPU-AI", for Bridges-2's V100 GPU nodes.

			For all allocations and all node types, usage is defined in terms of "Service Units" or SUs. The definition of an SU varies with the type of node being used.

		#accounts-usage-rm
			:markdown
				### [Bridges-2 Regular Memory](#accounts-usage-rm)

				The RM nodes are allocated as "Bridges-2 Regular Memory". This does not include Bridges-2's GPU nodes. Each RM node has 128 cores, each of which can be allocated separately. Service Units (SUs) are defined in terms of "core-hours": the use of one core for 1 hour.
					1 core-hour = 1 SU

				Because the RM nodes each hold 128 cores, if you use one entire RM node for one hour, 128 SUs will be deducted from your allocation.
					128 cores x 1 hour =128 core-hours = 128 SUs

				If you use 2 cores on a node for 30 minutes, 1 SU will be deducted from your allocation.

					2 cores x 0.5 hours = 1 core-hour = 1 SU

		#accounts-usage-em
			:markdown
				### [Bridges-2 Extreme Memory](#accounts-usage-em)

				The 4TB nodes on Bridges-2 are allocated as "Bridges-2 Extreme Memory". Accounting is done by the cores requested for the job. Service Units (SUs) are defined in terms of "core-hours": the use of 1 core for one hour.

					1 core-hour = 1 SU

				If your job requests one node (96 cores) and runs for 1 hour, 96 SUs will be deducted from your allocation.

					1 node x 96 cores/node x 1 hour = 96 core-hours = 96 SUs

				If your job requests 3 nodes and runs for 6 hours, 1728 SUs will be deducted from your allocation.

					3 nodes x 96 cores/node x 6 hours = 1728 core-hours = 1728 SUs

		#accounts-usage-gpu
			:markdown
				### [Bridges-2 GPU](#accounts-usage-gpu)

				Bridges-2 Service Units (SUs) for GPU nodes are defined in terms of "gpu-hours": the use of one GPU Unit for one hour.

				These nodes hold 8 GPU units each, each of which can be allocated separately. Service Units (SUs) are defined in terms of GPU-hours.
					1 GPU-hour = 1 SU

				If you use an entire V100 GPU node for one hour, 8 SUs will be deducted from your allocation.

					8 GPU units/node x 1 node x 1 hour = 8 gpu-hours = 8 SUs

				If you use 4 GPU units for 48 hours, 196 SUs will be deducted from your allocation.

					4 GPU units x 48 hours = 196 gpu-hours = 196 SUs

	#accounts-filespace
		:markdown
			## [Accounting for File Space](#accounts-filespace)

			Every Bridges-2 grant has a storage allocation associated with it on the Bridges-2 file system, Ocean. There are no SUs deducted from your allocation for the space you use, but if you exceed your storage quota, you will not be able to submit jobs to Bridges-2.

			Each grant has a Unix group associated with it. Every file is "owned" by a Unix group, and that file ownership determines which grant is charged for the file space. See [Managing multiple grants](#accounts-multiple") for a further explanation of Unix groups, and how to manage file ownership if you have more than one grant.

			You can check your Ocean usage with the `projects` command.

				[userid@bridges2-login ~]$ projects
				....
				      Resource: Bridges 2 Ocean Storage
				    Allocation: 30000.00
				       Balance: 18945.36
				      End Date: 2021-07-15
				  Award Active: Yes
				   User Active: Yes
				     Charge ID: abcd1234
				   Directories:
				       HOME /jet/home/userid
				       STORAGE /ocean/projects/instalrs
				       STORAGE /ocean/projects/instalrs/userid
				       STORAGE /ocean/projects/instalrs/shared
				....

	#accounts-multiple
		:markdown
			## [Managing Multiple Grants](#accounts-multiple)

			If you have multiple grants on Bridges-2, you should ensure that the work you do for each grant is assigned correctly to that grant. The files created under or associated with that grant should belong to it, to make them easier to find and use by others on the same grant.

			There are two ids associated with each grant for these purposes: a SLURM account id and a Unix group id.

			SLURM account ids determine which grant your Bridges-2 (computational) use is deducted from.

			Unix group ids determine which Ocean allocation the storage space for files is deducted from, and who owns and can access files or directories.

			For a given grant, the SLURM account id and the Unix group id are identical strings.

			One of your grants has been designated as your default grant, and the account id and Unix group id associated with that grant are your default account id and default Unix group id.

			When a Bridges-2 job runs, any SUs it uses are deducted from the default grant. Any files created by that job are owned by the default Unix group.

		#accounts-default
			:markdown
				### [Find your Default Account ID and Unix Group](#accounts-default)

				To find your SLURM account ids, use the <code>projects</code> command. It will display all the grants you belong to. It will also list your default SLURM account id (called charge id in the projects output) at the top. Your default Unix group id is an identical string.

				In this example, the user has two grants with SLURM account ids account-1 and account-2. The default account id is account-2.

				<pre class="cmd-line">
				[userid@bridges2-login ~]$ <b>projects </b>
				Your default charging project charge id is account-2. If you would like to change the default charging project use the command change_primary_group ~charge_id~. Use the charge id listed below for the project you would like to make the default in place of ~charge_id~ 

				Project: AAA000000A      
				     PI: My Principal Investigator
				  Title: Important Research
				
				       Resource: BRIDGES GPU
				     Allocation: 37,830.00
				        Balance: 17,457.19
				       End Date: 2030-07-15
				   Award Active: Yes
				    User Active: Yes
				      Charge ID: account-1
				    Directories:
				        HOME  /jet/home/userid
				. . .
				
				 Project: AAA111111A
				      PI: My Other PI
				   Title: Another Important Research Project 
				       Resource: BRIDGES REGULAR MEMORY
				     Allocation: 57,500.00 
				        Balance: 12,474.99
				       End Date: 2019-06-15
				   Award Active: Yes
				    User Active: Yes 
				      Charge ID: account-2
				    *** Default charging project ***
				    Directories:
				        HOME /jet/home/userid
				........</pre>

		#accounts-nondefault
			:markdown
				### [Use a Secondary (Non-Default) Grant](#accounts-nondefault)

				To use a grant other than your default grant on Bridges-2, you must specify the appropriate account id with the -A option to the SLURM `sbatch` command. See the [Running Jobs](#running) section of this Guide for more information on batch jobs, interactive sessions and SLURM.

				<strong>NOTE that using the -A option does not change your default Unix group.</strong> Any files created during a job are owned by your default Unix group, no matter which account id is used for the job, and the space they use will be deducted from the Ocean allocation for the default Unix group.

		#accounts-changegroup
			:markdown
				### [Change your Unix Group for a Login Session](#accounts-changegroup)

				To temporarily change your Unix group, use the <code>newgrp</code> command. Any files created subsequently during this login session will be owned by the new group you have specified. Their storage will be deducted from the Ocean allocation of the new group. After logging out of the session, your default Unix group will be in effect again.

					newgrp unix-group
		
				**NOTE that the `newgrp` command has no effect on the account id in effect.**

				Any Bridges-2 usage will be deducted from the default account id or the one specified with the -A option to `sbatch`.

		#accounts-changedefault
			:markdown
				### [Change your Default Account ID and Unix Group Permanently](#accounts-changedefault)

				You can permanently change your default account id and your default Unix group id with the <code>change_primary_group</code> command. Type:

					change_primary_group -l
		
				to see all your groups. Then type

					change_primary_group account-id
		
				to set account-id as your default.

				Your default account id changes immediately. Bridges-2 use by any batch jobs or interactive sessions following this command are deducted from the new account by default.

				Your default Unix group does not change immediately. It takes about an hour for the change to take effect. You must log out and log back in after that window for the new Unix group to be the default.

	#accounts-tracking
		:markdown
			## [Tracking Your Usage](#accounts-tracking)

			There are several ways to track your Bridges-2 usage: the `xdusage` command, the `projects` command, and the Grant Management System. The xdusage command displays project and user account usage information for XSEDE projects. Type man xdusage on Bridges-2 for information. The projects command shows information on all Bridges-2 grants, including usage and the Ocean directories associated with the grant.

			For more detailed accounting data you can use the <a href="https://grants.psc.edu/cgi-bin/arms/authenticate/GMS_grant.pl">Grant Management System</a>. You can also track your usage through the SEDE User Portal. The `xdusage` and `projects` commands and the XSEDE Portal accurately reflect the impact of a Grant Renewal but the Grant Management System currently does not.

		#accounts-managealloc
			:markdown
				### [Managing your XSEDE Allocation](#accounts-managealloc)

				Most account management functions for your XSEDE grant are handled through the XSEDE User Portal. You can search the XSEDE user portal to get help. Some common questions:

				* <a href="https://portal.xsede.org/allocations/managing">How do I add a user to my grant?</a>
				* <a href="https://portal.xsede.org/allocations/managing">How can I transfer SUs from Bridges-2 Extreme Memory to Bridges-2 Regular Memory (or vice versa)?</a>
				* <a href="https://portal.xsede.org/allocations/managing">How can I request more SUs or storage space on Bridges-2?</a>

	#accounts-changeshell
		:markdown
			## [Changing your Default Shell](#accounts-changeshell)

			The change_shell command allows you to change your default shell. This command is only available on the login nodes. To see which shells are available, type
		
				change_shell -l

			To change your default shell, type

				change_shell newshell
		
			where *newshell* is one of the choices output by the `change_shell -l` command. You must log out and back in again for the new shell to take effect.

	#accounts-policies
		:markdown
			## [PSC Account Policies](#accounts-policies)

			The policies documented here are evaluated regularly to assure adequate and responsible administration of PSC systems for users. As such, they are subject to change at any time.

		#accounts-policies-fileretention
			:markdown
				### [File Retention](#accounts-policies-fileretention)

				PSC provides storage resources, for long-term storage and file management.

				Files in a PSC storage system are retained for 3 months after the affiliated grant has expired.

		#accounts-policies-refund
			:markdown
				### [Requesting a Refund](#accounts-policies-refund)

				When appropriate, PSC provides refunds for jobs that failed due to circumstances beyond your control.

				To request a refund, contact a <a target="_blank" rel="noopener" href="https://www.psc.edu/consulting/">PSC consultant</a> or email <help@psc.edu>. In the case of batch jobs, we require the standard error and output files produced by the job. These contain information needed in order to refund the job.


#filespaces
	:markdown
		# [File Spaces](#filespaces)

		There are several distinct file spaces available on Bridges-2, each serving a different function.

		* [`$HOME`](#filespaces-home), your home directory on Bridges-2
		* [`$PROJECT`](#filespaces-project), persistent file storage on Ocean. `$PROJECT` is a larger space than $HOME.
		* [`$LOCAL`](#filespaces-local), Node-local scratch storage on the node running a job
		* [`$RAMDISK`](#filespaces-ramdisk), Scratch storage in the local memory associated with a running job

	#filespaces-expiration
		:markdown
			## [File expiration](#filespaces-expiration)

			Three months after your grant expires, all of your Bridges-2 files associated with that grant will be deleted no matter which file space they are in. You will be able to login during this 3-month period to transfer files, but you will not be able to run jobs or create new files.

	#filespaces-perms
		:markdown
			## [File permissions](#filespaces-perms)

			Access to files in any Bridges-2 space is governed by Unix file permissions. If your data has additional security or compliance requirements, please contact <compliance@psc.edu>.

		#filespaces-perms-unix
			:markdown
				### [Unix File Permissions](#filespaces-perms-unix)

				For detailed information on Unix file protections, see the man page for the chmod (change mode) command.

				To share files with your group, give the group read and execute access for each directory from your top-level directory down to the directory that contains the files you want to share.
		
					chmod g+rx directory-name

				Then give the group read and execute access to each file you want to share.

					chmod g+rx filename

				To give the group the ability to edit or change a file, add write access to the group:

					chmod g+rwx filename

		#filespaces-perms-acl
			:markdown
				### [Access Control Lists](#filespaces-perms-acl)

				If you want more fine-grained control than Unix file permissions allow&mdash;for example, if you want to give only certain members of a group access to a file, but not all members&mdash;then you need to use Access Control Lists (ACLs). Suppose, for example, that you want to give `janeuser` read access to a file in a directory, but no one else in the group.

				Use the `setfacl` (set file acl) command to give `janeuser` read and execute access on the directory:

					setfacl -m user:janeuser:rx <directory-name>

				for each directory from your top-level directory down to the directory that contains the file you want to share with janeuser. Then give janeuser access to a specific file with

					setfacl -m user:janeuser:r <filename>

				User `janeuser` will now be able to read this file, but no one else in the group will have access to it.

				To see what ACLs are set on a file, use the `getfacl` (get file acl) command.

				There are man pages for `chmod`, `setfacl` and `getfacl`.

	#filespaces-home
		:markdown
			## [$HOME](#filespaces-home)

			This is your Bridges-2 home directory. It is the usual location for your batch scripts, source code and parameter files. Its path is `/jet/home/username`, where _username_ is your PSC username. You can refer to your home directory with the environment variable $HOME. Your home directory is visible to all of Bridges-2's nodes.

			Your home directory is backed up daily, although it is still a good idea to store copies of your important files in another location, such as the Ocean file system or on a local file system at your site. If you need to recover a home directory file from backup send email to <help@psc.edu>. The process of recovery will take 3 to 4 days.

		#filespaces-home-quota
			:markdown
				### [$HOME Quota](#filespaces-home-quota)

				Your home directory has a 25GB quota. You can check your home directory usage using the `my_quotas` command. To improve the access speed to your home directory files you should stay as far below your home directory quota as you can.

		#filespaces-home-expiration
			:markdown
				### [Grant Expiration](#filespaces-home-expiration)

				Three months after a grant expires, the files in your home directory associated with that grant will be deleted.

	#filespaces-project
		:markdown
			## [$PROJECT](#filespaces-project)

			The path of your Ocean home directory is /ocean/projects/groupname/username, where _groupname_ is the Unix group id associated with your grant. Use the `id` command to find your group name.

			The command `id -Gn` will list all the Unix groups you belong to.

			The command `id -gn` will list the Unix group associated with your current session.

			If you have more than one grant, you will have a `$PROJECT` directory for each grant. Be sure to use the appropriate directory when working with multiple grants.

		#filespaces-project-quota
			:markdown
				### [$PROJECT Quota](#filespaces-project-quota)

				Your usage quota for each of your grants is the Ocean storage allocation you received when your proposal was approved. If your total use in Ocean exceeds this quota, you won't be able to run jobs on Bridges-2 until you are under quota again.

				Use the my_quotas or projects command to check your Ocean usage. You can also check your usage on the XSEDE User Portal.
			If you have multiple grants, it is very important that you store your files in the correct `$PROJECT` directory.

		#filespaces-project-expiration
			:markdown
				### [Grant Expiration](#filespaces-project-expiration)

				Three months after a grant expires, the files in any Ocean directories associated with that grant will be deleted.


	#filespaces-local
		:markdown
			## [$LOCAL](#filespaces-local)

			Each of Bridges-2's nodes has a local file system attached to it. This local file system is only visible to the node to which it is attached. The local file system provides fast access to local storage.

			This filespace is available on all nodes as $LOCAL.

			If your application performs a lot of small reads and writes, then you could benefit from using this space.

			Node-local storage is only available when your job is running, and can only be used as working space for a running job. Once your job finishes your local files are inaccessible and deleted. To use local space, copy files to it at the beginning of your job and back out to a persistent filespace before your job ends.

			If a node crashes all the node-local files are lost. You should checkpoint these files by copying them to Ocean during long runs.

		#filespaces-local-size
			:markdown
				### [$LOCAL Size](#filespaces-local-size)

				The maximum amount of local space varies by node type.

				To check on your local file space usage type:

					du -sh .

				No Service Units accrue for the use of `$LOCAL`.

		#filespaces-local-using
			:markdown
				### [Using $LOCAL](#filespaces-local-using)

				To use `$LOCAL` you must first copy your files to `$LOCAL` at the beginning of your script, before your executable runs. The following script is an example of how to do this.

				<pre>
				RC=1
				 n=0
				 while [[ $RC -ne 0 && $n -lt 20 ]]; do
				     rsync -aP $sourcedir $LOCAL/
				     RC=$?
				     let n = n + 1
				     sleep 10
				 done</pre>

				Set `$sourcedir` to point to the directory that contains the files to be copied before you execute your program. This code will try at most 20 times to copy your files. If it succeeds, the loop will exit. If an invocation of `rsync` was unsuccessful, the loop will try again and pick up where it left off.

				At the end of your job you must copy your results back from `$LOCAL` or they will be lost. The following script will do this.

				<pre>
				mkdir $PROJECT/results
				 RC=1
				 n=0
				 while [[ $RC -ne 0 && $n -lt 20 ]]; do
				     rsync -aP $LOCAL/ $PROJECT/results
				     RC=$?
				     let n = n + 1
				     sleep 10
				done</pre>

			This code fragment copies your files to a directory in your Ocean file space named `results`, which you must have created previously with the `mkdir` command. It will loop at most 20 times and stop if it is successful.

	#filespaces-ramdisk
		:markdown
			## [$RAMDISK](#filespaces-ramdisk)

			You can also use the memory allocated for your job for IO rather than using disk space. In a running job, the environment variable `$RAMDISK` will refer to the memory associated with the nodes in use.

			The amount of memory space available to you depends on the size of the memory on the nodes and the number of nodes you are using. You can only perform IO to the memory of nodes assigned to your job.

			If you do not use all of the cores on a node, you are allocated memory in proportion to the number of cores you are using. Note that you cannot use 100% of a node's memory for IO; some is needed for program and data usage.

			This space is only available to you while your job is running, and can only be used as working space for a running job. Once your job ends this space is inaccessible. To use memory files, copy files to it at the beginning of your job and back out to a permanent space before your job ends. If your job terminates abnormally, files in `$RAMDISK` are lost.

			Within your job you can `cd` to `$RAMDISK`, copy files to and from it, and use it to open files. Use the command `du -sh .` to see how much space you are using.

			If you are running a multi-node job the `$RAMDISK` variable points to the memory space on the node that is running your rank 0 process.


#filetransfer
	:markdown
		# [Transferring Files](#filetransfer)

		Several methods are available to transfer files into and from Bridges-2.

	#filetransfer-copybridgesfiles
		:markdown
			## [Copying Bridges Files](#filetransfer-copybridgesfiles)

			You can use any of the methods outlined here to copy files from Bridges to Bridges-2.

			<strong>To copy files from your `/pylon5` space on Bridges</strong> to your `/ocean` space on Bridges-2, consider using filemover, a tool written at PSC to facilitate these transfers. Read the <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/filemover/">filemover documentation</a> for more information.

			To copy files from your home directory on Bridges, a simple rsync command should work well. A sample command to transfer your entire Bridges home directory tree into subdirectory `from-bridges` of your Bridges-2 home directory is given below. Run this command from Bridges-2.

				rsync -zvrh username@data.bridges.psc.edu:/home/username $HOME/from-bridges

	#filetransfer-paths
		:markdown
			## [Paths for Bridges-2 File Spaces](#filetransfer-paths)

			To copy files into any of your Bridges-2 spaces, you need to know the path to that space on Bridges-2. The start of the full paths for your Bridges-2 directories are:

			Home directory `/jet/home/username`

			Ocean directory   `/ocean/projects/groupname/username`

			To find your _groupname_, use the command `id -Gn`. All of your valid groupnames will be listed. You have an Ocean directory for each grant you have.
		 

	#filetransfer-home
		:markdown
			## [Transfers into your Bridges-2 Home Directory](#filetransfer-home)

			Your home directory quota is 25GB. More space is available in your `$PROJECT` file space in Ocean. Exceeding your home directory quota will prevent you from writing more data into your home directory and will adversely impact other operations you might want to perform.

	#filetransfer-commands
		:markdown
			## [Commands to Transfer Files](#filetransfer-commands)

			You can use `rsync`, `scp`, `sftp` or Globus to copy files to and from Bridges-2.

		#filetransfer-commands-rsync
			:markdown
				### [rsync](#filetransfer-commands-rsync)

				You can use the `rsync` command to copy files to and from Bridges-2. A sample `rsync` command to copy to a Bridges-2 directory is

					rsync -rltpDvp -e 'ssh -l username' source_directory data.bridges2.psc.edu:target_directory
		
				Substitute your username for _username_. Make sure you use the correct groupname in your target directory. By default, rsync will not copy older files with the same name in place of newer files in the target directory. It will overwrite older files.

				We recommend the rsync options -rltDvp. See the rsync man page for information on these options and other options you might want to use. We also recommend the option

					-oMACS=umac-64@openssh.com

				If you use this option, your transfer will use a faster data validation algorithm.

				You may want to put your rsync command in a loop to insure that it completes. A sample loop is

				<pre>
				RC=1
				 n=0
				 while [[ $RC -ne 0 && $n -lt 20 ]] do
				     rsync source-file target-file
				     RC = $?
				     let n = n + 1
				     sleep 10
				 done</pre>
		
				This loop will try your `rsync` command 20 times. If it succeeds it will exit. If an `rsync` invocation is unsuccessful the system will try again and pick up where it left off. It will copy only those files that have not already been transferred. You can put this loop, with your rsync command, into a batch script and run it with `sbatch`.

		#filetransfer-commands-scp
			:markdown
				### [scp](#filetransfer-commands-scp)

				To use `scp` for a file transfer you must specify a source and destination for your transfer. The format for either source or destination is

					username@machine-name:path/filename

				For transfers involving Bridges-2, _username_ is your PSC username. The _machine-name_ should be given as `data.bridges2.psc.edu`. This is the name for a high-speed data connector at PSC. We recommend using it for all file transfers using `scp` involving Bridges-2. Using it prevents file transfers from disrupting interactive use on Bridges-2's login nodes.

				File transfers using `scp` must specify full paths for Bridges-2 file systems. See [Paths for Bridges-2 file spaces](#filetransfer-paths) for details.

		#filetransfer-commands-sftp
			:markdown
				### [sftp](#filetransfer-commands-sftp)

				To use sftp, first connect to the remote machine:

					sftp username@machine-name

				When Bridges-2 is the remote machine, use your PSC userid as _username_. The Bridges-2 _machine-name_ should be specified as data.bridges2.psc.edu. This is the name for a high-speed data connector at PSC. We recommend using it for all file transfers using sftp involving Bridges-2. Using it prevents file transfers from disrupting interactive use on Bridges-2's login nodes.

				You will be prompted for your password on the remote machine. If Bridges-2 is the remote machine, enter your PSC password.

				You can then enter `sftp` subcommands, like `put` to copy a file from the local system to the remote system, or `get` to copy a file from the remote system to the local system.

				To copy files into Bridges-2, you must either `cd` to the proper directory or use full pathnames in your file transfer commands. See [Paths for Bridges-2 file spaces](#filetransfer-paths) for details.

		#filetransfer-commands-tfa
			:markdown
				### [Transferring Files Using Two-Factor Authentication](#filetransfer-commands-tfa)

				If you are required to use Two-Factor Authentication (TFA) to access Bridges-2's filesystems, you must enroll in XSEDE DUO. Once that is complete, use `scp` or `sftp` to transfer files to and from Bridges-2.

				TFA users must use port 2222 and XSEDE Portal usernames and passwords, <strong>not</strong> PSC usernames and passwords. The machine name for these transfers is `data.bridges2.psc.edu`.

				In the examples below, _myfile_ is the local filename, _XSEDE-username_ is your XSEDE Portal username and _/path/to/file_ is the full path to the file on a Bridges-2 filesystem. Note that `-P` (capital P) is necessary.


			#filetransfer-commands-tfa-scp
				:markdown
					#### [scp with TFA](#filetransfer-commands-tfa-scp)

					Transfer a file from a local machine to Bridges-2:

						scp -P 2222 myfile XSEDE-username@data.bridges2.psc.edu:/path/to/file

					Transfer a file from Bridges-2 to a local machine:

						scp -P 2222 XSEDE-username@data.bridges2.psc.edu:/path/to/file myfile

			#filetransfer-commands-tfa-sftp
				:markdown
					#### [Interactive sftp with TFA](#filetransfer-commands-tfa-sftp)

						sftp -P 2222 XSEDE-username@data.bridges2.psc.edu

					Then use the `put` command to copy a file from the local machine to Bridges-2, or the `get` command to transfer a file from Bridges-2 to the local machine.

		#filetransfer-commands-graphicalssh
			:markdown
				### [Graphical SSH client](#filetransfer-commands-graphicalssh)

				If you are using a graphical SSH client, configure it to connect to `data.bridges2.psc.edu` on port 2222/TCP. Login using your XSEDE Portal username and password.

		#filetransfer-commands-globus
			:markdown
				### [Globus](#filetransfer-commands-globus)

				Globus can be used for any file transfer to Bridges-2. It tracks the progress of the transfer and retries when there is a failure; this makes it especially useful for transfers involving large files or many files.
		
				To use Globus to transfer files you must authenticate either via a Globus account or with <a target="_blank" rel="noopener" href="https://incommon.org/">InCommon credentials.</a>

				_To use a Globus account for file transfer_, set up a Globus account at the <a target="_blank" rel="noopener" href="https://www.globus.org/">Globus site</a>.

				_To use InCommon credentials to transfer files_ to/from Bridges-2, you must first provide your CILogin Certificate Subject information to PSC. Follow these steps:

				1. Find your Certificate Subject string.
					1. Navigate your web browser to <a target="_blank" rel="noopener" href="https://cilogon.org/">https://cilogon.org/</a>.
					1. Select your institution from the 'Select an Identity Provider' list.
					1. Click the 'Log On' button. You will be taken to the web login page for your institution.
					1. Login with your username and password for your institution.
						1. If your institution has an additional login requirement (e.g., Duo), authenticate to that as well.
					1. After successfully authenticating to your institution's web login interface, you will be returned to the CILogon webpage.
					1. Click on the Certificate Information drop down link to find the 'Certificate Subject'.
				1. Send your Certificate Subject string to PSC.
					1. In the CILogon webpage, select and copy the Certificate Subject text. Take care to get the entire text string if it is broken up onto multiple lines.
					1. Send email to <support@psc.edu>. Paste your Certificate Subject field into the message, asking that it be mapped to your PSC username.
	
				Your CILogin Certificate Subject information will be added within one business day, and you will be able to begin transferring files to and from Bridges-2.

			#filetransfer-commands-globus-endp
				:markdown
					#### [Globus Endpoints](#filetransfer-commands-globus-endp)

					Once you have the proper authentication you can initiate file transfers <a target="_blank" rel="noopener" href="https://www.globus.org/">from the Globus site</a>. A Globus transfer requires a Globus endpoint, a file path and a file name for both the source and destination. The endpoints for Bridges-2 are:

					* `psc#bridges2-xsede` if you are using an XSEDE User Portal account for authentication
					* `psc#bridges2-cilogon` if you are using InCommon for authentication

					These endpoints are owned by `psc@globusid.org`. If you use DUO MFA for your XSEDE authentication, you do not need to because you cannot use it with Globus. You must always specify a full path for the Bridges-2 file systems. See [Paths for Bridges-2 file spaces](#filetransfer-paths) for details.


#programming
	:markdown
		# [Programming Environment](#programming)

		Bridges-2 provides a rich programming environment for the development of applications.

	#programming-ccf
		:markdown
			## [C, C++ and Fortran](#programming-ccf)

			AMD (AOCC), Intel, Gnu and NVIDIA compilers for C, C++ and Fortan are available on Bridges-2. Be sure to load the module for the compiler set that you want to use. Once the module is loaded, you will have access to the compiler commands described below.

		%table(border="1" cellpadding="3")
			%tr
			<th colspan="2" id="">&nbsp;</th>
			<th colspan="3" id="">Compiler Command for</th>
			%tr
				%td
				%td Module name
			%tr
				%td AMD
				%td aocc
				%td clang
				%td clang
				%td flang
			%tr
				%td Intel
				%td intel
				%td icc
				%td icpc
				%td ifort
			%tr
				%td Gnu
				%td gcc
				%td gcc
				%td g++
				%td gfortran
			%tr
				%td NVIDIA
				%td nvhpc
				%td nvcc
				%td nvcc++
				%td nvfortran
		 
		:markdown
			There are man pages for each of the compilers.

			See also:

			* <a target="_blank" rel="noopener" href="https://developer.amd.com/amd-aocc/">AMD Optimizing C/C++ Compiler (AOCC)</a>
			* <a target="_blank" rel="noopener" href="https://www.pgroup.com/index.htm">PGI web site</a>
			* <a target="_blank" rel="noopener" href="https://www.gnu.org/software/gcc/">GNU compilers web site</a>
			* <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/software/module">Module documentation</a> for information on what modules are available and how to use them.

	#programming-openmp
		:markdown
			## [OpenMP Programming](#programming-openmp)

			To compile OpenMP programs you must add an option to your compile command.

			Intel option:

				-qopenmp

			Intel example:

				icc -qopenmp myprog.c

			Gnu option:

				-fopenmp

			Gnu example:

				gcc -fopenmp myprog.c

			NVIDIA option:

				-mp

			NVIDIA example:

				nvcc -mp myprog.c

			See also:

			* <a target="_blank" rel="noopener" href="https://www.openmp.org">OpenMP web site</a>

	#programming-mpi
		:markdown
			## [MPI Programming](#programming-mpi)

			Three types of MPI are supported on Bridges-2: MVAPICH2, OpenMPI and Intel MPI. The three MPI types may perform differently on different problems or in different programming environments. If you are having trouble with one type of MPI, please try using another type. Contact <help@psc.edu> for more help.

			To compile an MPI program, you must:

			* load the module for the compiler that you want
			* load the module for the MPI type you want to use &ndash; be sure to choose one that uses the compiler that you are using. The module name will distinguish between compilers.
			* issue the appropriate MPI wrapper command to compile your program

			To run your previously compiled MPI program, you must load the same MPI module that was used in compiling.
		
			To see what MPI versions are available, type `module avail mpi` or `module avail mvapich2`. Note that the module names include the MPI family and version ("openmpi/4.0.2"), followed by the associated compiler and version ("intel20.4"). (Modules for other software installed with MPI are also shown.)

		#programming-mpi-wrapper
			:markdown
				### [Wrapper Commands](#programming-mpi-wrapper)

			%table(border="1" cellpadding="3")
				%tr
				<th rowspan="2">To use the Intel compilers with</th>
				<th rowspan="2">Load an intel module plus</th>
				<th colspan="3">Compile with this wrapper command</th>
				%tr
					%th C
					%th C C++
					%th C Fortran
				%tr
					%td Intel MPI
					%td mpi-intel
					%td mpiicc<br />note the "ii"
					%td mpiicpc<br />note the "ii"
					%td mpiifort<br />note the "ii"
				%tr
					%td OpenMPI
					%td openmpi/<i>version</i><br />-intel<i>version</i>
					%td mpicc
					%td mpicxx
					%td mpifort
				%tr
					%td MVAPICH2
					%td mvapich2/<i>version</i><br />-intel<i>version</i>
					%td mpicc code.c -lifcore
					%td mpicxx code.cpp -lifcore
					%td mpifort code.f90 -lifcore
	
			%table(border="1" cellpadding="3")
				%tr
				<th rowspan="2">To use the Gnu compilers with</th>
				<th rowspan="2">Load a gcc module plus</th>
				<th colspan="3">Compile with this command</th>
				%tr
					%th C
					%th C++
					%th Fortran
				%tr
					%td OpenMPI
					%td openmpi/<i>version</i><br />-gcc<i>version</i>
					%td mpicc
					%td mpicxx
					%td mpifort
				%tr
					%td MVAPICH2
					%td mvapich2/<i>version</i><br />-gcc<i>version</i>
					%td mpicc
					%td mpicxx
					%td mpifort
	
			%table(border="1" cellpadding="3")
				%tr
				<th rowspan="2">To use the NVIDIA compilers with</th>
				<th rowspan="2">Load a nvhpc module plus</th>
				<th colspan="3">Compile with this command</th>
				%tr
					%th C
					%th C++
					%th Fortran
				%tr
					%td OpenMPI
					%td openmpi/<i>version</i><br />-nvhpc<i>version</i>
					%td mpicc
					%td mpicxx
					%td mpifort
				%tr
					%td MVAPICH2
					<td colspan="4">Not available</td>
	
		#programming-mpi-custom
			:markdown
				### [Custom Task Placement with Intel MPI](#programming-mpi-custom)

				If you wish to specify custom task placement with Intel MPI (this is not recommended), you must set the environment variable `I_MPI_JOB_RESPECT_PROCESS_PLACEMENT` to 0. Otherwise the `mpirun` task placement settings you give will be ignored. The command to do this is:

				For the BASH shell:

					export I_MPI_JOB_RESPECT_PROCESS_PLACEMENT=0

				For the CSH shell:

					setenv I_MPI_JOB_RESPECT_PROCESS_PLACEMENT 0

				See also:

				* <a target="_blank" rel="noopener" href="https://software.intel.com/content/www/us/en/develop/tools/mpi-library.html">Intel MPI web site</a>
				* <a target="_blank" rel="noopener" href="http://mvapich.cse.ohio-state.edu/">MVAPICH2 web site</a>
				* <a target="_blank" rel="noopener" href="https://www.open-mpi.org/">OpenMPI web site</a>
				* <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/software/module/">Module documentation</a> for information on what modules are available and how to use them.

	#programming-langs
		:markdown
			## [Other Languages](#programming-langs)

			Other languages, including Java, Python, <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/software/r/">R</a>, and <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/software/matlab/">MATLAB</a>, are available. See the software page for information.

	#programming-debug
		:markdown
			## [Debugging and Performance Analysis](#programming-debug)

			DDT is a debugging tool for C, C++ and Fortran 90 threaded and parallel codes. It is client-server software. Install the client on your local machine and then you can access the GUI on Bridges-2 to debug your code.

			See the <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/software/ddt/">DDT page</a> for more information.


#software
	:markdown
		# [Software](#software)

		Bridges-2 has a broad collection of applications installed. See the <a target="_blank" rel="noopener" href="https://www.psc.edu/resources/bridges-2/software/">list of software installed on Bridges-2</a>.

		Additional software may be installed by request. Request that additional applications be installed by using the 
		<a target="_blank" rel="noopener" href="https://www.psc.edu/resources/bridges-2/software-request-form/">Software Request form</a>.
