#running
	:markdown
		# [Running Jobs](#running)

		All production computing must be done on Bridges-2's compute nodes, NOT on Bridges-2's login nodes. The Slurm scheduler (Simple Linux Utility for Resource Management) manages and allocates all of Bridges-2's compute nodes. Several partitions, or job queues, have been set up in Slurm to allocate resources efficiently.
		
		To run a job on Bridges-2, you need to decide <i>how</i> you want to run: interactively, in batch, or through OnDemand; and <i>where</i> to run - that is, which partitions you are allowed to use.

		<b>What are the different ways to run a job?</b>

		You can run jobs in Bridges-2 in several ways:

		* [interactive sessions](#running-interactive) - where you type commands and receive output back to your screen as the commands complete
		* [batch mode](#running-batch) - where you first create a batch (or job) script which contains the commands to be run, then submit the job to be run as soon as resources are available
		* through OnDemand - a browser interface that allows you to run interactively, or create, edit and submit batch jobs and also provides a graphical interface to tools like RStudio, Jupyter notebooks, and IJulia. More information about OnDemand is in the [OnDemand section](#ondemand).

		Regardless of which way you choose to run your jobs, you will always need to choose a partition to run them in.

		<b>Which partitions can I use?</b>

		Different partitions control different types of Bridges-2's resources; they are configured by the type of node they control, along with other job requirements like how many nodes or how much time or memory is needed. Your access to the partitions is based on the type of Bridges-2 allocation that you have: "Bridges-2 Regular Memory", "Bridges-2 Extreme Memory", "Bridges-2 GPU", or "Bridges-2 GPU-AI". You may have more than one type of allocation; in that case, you will have access to more than one partition.

		You can see which of Bridges-2's resources that you have been allocated with the `projects` command. See [The `projects` command](#accounts) section for more information.

	#running-interactive
		:markdown
			## [Interactive Sessions](#running-interactive)

			You can do your production work interactively on Bridges-2, typing commands on the command line, and getting responses back in real time. But you must be allocated the use of one or more Bridges-2's compute nodes by Slurm to work interactively on Bridges-2. You cannot use Bridges-2's login nodes for your work.

			You can run an interactive session in any of the RM or GPU partitions. You will need to specify which partition you want, so that the proper resources are allocated for your use. You cannot run an interactive session in the EM partition. 

			If all of the resources set aside for interactive use are in use, your request will wait until the resources you need are available. Using a shared partition (RM-shared, GPU-shared) will probably allow your job to start sooner.

		#running-interactive-interact
			:markdown
				### [The `interact` Command](#running-interactive-interact)
		
				To start an interactive session, use the command `interact`. The format is:

				<pre class="cmd-line">interact <i>-options</i></pre>

				The simplest `interact` command is

				<pre class="cmd-line">interact</pre>
		
				This command will start an interactive job using the defaults for `interact`, which are

				<b>Partition:</b> RM-shared
				<b>Cores:</b> 1
				<b>Time limit:</b> 60 minutes
		
				Once the `interact` command returns with a command prompt you can enter your commands. The shell will be your default shell. When you are finished with your job, type CTRL-D.

				<pre class="cmd-line">[user@bridges2-loginr01 ~]$ <b>interact</b>
				A command prompt will appear when your session begins
				&quot;Ctrl+d&quot; or &quot;exit&quot; will end your session
				[user@r004 ~]</pre>

				**Notes:**

				* *Be sure to use the correct account id for your job* if you have more than one grant. See [Managing multiple grants](#accounts-multiple).
				* *Service Units (SU) accrue for your resource usage from the time the prompt appears until you type CTRL-D*, so be sure to type CTRL-D as soon as you are done.
				* *The maximum time you can request is 8 hours*. Inactive `interact` jobs are logged out after 30 minutes of idle time.
				* *By default, `interact` uses the RM-shared partition*. Use the `-p` [option for interact](#running-interactive-interact-options) to use a different partition.

			#running-interactive-interact-options
				:markdown
					#### [Options for `interact`](#running-interactive-interact-options)

					If you want to run in a different partition, use more than one core or set a different time limit, you will need to use options to the `interact` command. Available options are given below.

				%table(border="1" cellpadding="3")
					%tr
						%th Option
						%th Description
						%th Default value
					%tr
						%td <code>-p</code> partition
						%td Partition requested
						%td RM-small
					%tr
						%td <code>-t <i>HH:MM:SS</i></code>
						%td Walltime requested<br>The maximum time you can request is 8 hours.
						%td(nowrap) 60:00 (1 hour)
					%tr
						%td <code>-N<i> n</i></code>
						%td Number of nodes requested
						%td 1
					%tr
						%td(nowrap) <code>--ntasks-per-node=<i>n</i></code><br>Note the &quot;--&quot; for this option
						%td Number of cores to allocate per node
						%td 1
					%tr
						%td <code>-n <i>NTasks</i>
						%td Number of tasks spread over all nodes
						%td N/A
					%tr
						%td <code>--gres=gpu:<i>n</i><code><br>Note the &quot;--&quot; for this option
						%td Specifies the number of GPUs requested. <p>Valid choices for <i>'n'</i> are 1-8
						%td N/A
					%tr
						%td <code>--mem=<i>n</i> GB</code><br>Note the &quot;--&quot; for this option
						%td Amount of memory requested in GB. Use this to request the 512GB nodes in the RM or RM-shared partitions. Request between 129 and 500 GB.
						%td N/A
					%tr
						%td <code>-A <i>account id</i></code>
						%td Slurm account id for the job.<br><a href="#accounts-default">Find or change your default account id</a> <p> Note: Files created during a job will be owned by the Unix group in effect when the job is submitted. This may be different than the account id for the job. See the discussion of the <code>newgrp</code> command in the [Account Administration](#accounts-changegroup) section to see how to change the Unix group currently in effect.
						%td Your default account id
					%tr
						%td <code>-R <i>reservation-name</i></code>
						%td Reservation name, if you have one <p>Use of <code>-R</code> does not automatically set any other <code>interact</code> options. You still need to specify the other options (partition, walltime, number of nodes) to override the defaults for the <code>interact</code> command. If your reservation is not assigned to your default account, then you will need to use the -A option when you issue your <code>interact</code> command.
						%td N/A
					%tr
						%td <code>-h</code>
						%td Help, lists all the available command options
						%td N/A

				:markdown
					**See also**
						
					* [Bridges-2 partitions](#queues)
					* [Find your default account id and Unix group](#accounts-default)
					* [Managing multiple grants](#accounts-multiple)
					* <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/srun.html">The `srun` command</a>, for more complex control over your interactive job
	

	#running-batch
		:markdown
			## [Batch Jobs](#running-batch)

			Instead of working interactively on Bridges-2, you can instead run in batch. This means you will:

			* create a file called a batch or job script
			* submit that script to a partition (queue) using the `sbatch` command
			* wait for the job's turn in the queue
			* if you like, check on the job's progress as it waits in the partition and as it is running
			* check the output file for results or any errors when it finishes

		#running-batch-example
			:markdown
				### [A Simple Example](#running-batch-example)
		
				This section outlines an example which submits a simple batch job. More detail on batch scripts, the `sbatch` command and its options follow.

			#running-batch-example-create
				:markdown
					#### [Create a Batch Script](#running-batch-example-create)

					Use any editor you like to create your batch scripts. A simple batch script named "hello.job" which runs a &quot;hello world&quot; command is given here. Comments, which begin with '#', explain what each line does.

					The first line of any batch script must indicate the shell to use for your batch job.

					<pre class="job-script">
					#!/bin/bash
					# use the bash shell
					set -x 
					# echo each command to standard out before running it
					date
					# run the Unix 'date' command
					echo &quot;Hello world, from Bridges-2!&quot;
					# run the Unix 'echo' command</pre>
		 
			#running-batch-example-submit
				:markdown
					#### [Submit the Batch Script to a Partition](#running-batch-example-submit)

					Use the `sbatch` command to submit the "hello.job" script.

					<pre class="cmd-line">[joeuser@login005 ~]$ <b>sbatch hello.job</b>
					Submitted batch job 7408623</pre>

					Note the jobid that is echoed back to you when the job is submitted.
					Here it is 7408623.

			#running-batch-example-progress
				:markdown
					#### [Check on the Job Progress](#running-batch-example-progress)

					You can check on the job's progress in the partition by using the `squeue` command. By default you will get a list of all running and queued jobs. Use the `-u` option with your username to see only your jobs. See the [`squeue`](#jobinfo-squeue) command section below for details.

					<pre class="cmd-line">
					[joeuser@login005 ~]$ <b>squeue -u joeuser</b>
					JOBID   PARTITION NAME     USER    ST TIME NODES NODELIST(REASON)
					7408623 RM        hello.jo joeuser PD 0:08 1     r7320:00</pre>
		
					The status &quot;PD&quot; (pending) in the output here shows that job 7408623 is waiting in the queue. See more about the [`squeue` command](#jobinfo-squeue) below</a>.

					When the job is done, `squeue` will no longer show it:

					<pre class="cmd-line">[joeuser@login005 ~]$ <b>squeue -u joeuser</b>
					JOBID PARTITION NAME USER ST TIME NODES NODELIST(REASON)</pre>
		 
			#running-batch-example-output
				:markdown
					#### [Check the Output File When the Job is Done](#running-batch-example-output)

					By default, the standard output and error from a job are saved in a file with the name `slurm-<i>jobid</i>.out`, in the directory that the job was submitted from.

					<pre class="cmd-line">[joeuser@login005 ~]$ <b>more slurm-7408623.out</b>
					+ date
					Sun Jan 19 10:27:06 EST 2020
					+ echo 'Hello world, from Bridges-2!'
					Hello world, from Bridges-2!
					[joeuser@login005 ~]$</pre>
		 

	#running-sbatch
		:markdown
			## [The `sbatch` Command](#running-sbatch)

			To submit a batch job, use the `sbatch` command. The format is

			<pre class="cmd-line">sbatch -options batch-script</pre>

			The options to `sbatch` can either be in your batch script or on the `sbatch` command line. Options in the command line override those in the batch script.

			**Notes:**

			* Be sure to use the correct account id if you have more than one grant. Please see the `-A` option for [`sbatch`](#running-sbatch-options) to change the Slurm account id for a job. Information on how to determine your valid account ids and change your default account id is in the [Account Adminstration](#accounts) section.
			* In some cases, the options for `sbatch` differ from the options for `interact` or `srun`.
			* By default, `sbatch` submits jobs to the RM partition. Use the `-p` option for [`sbatch`](#running-sbatch-options) to direct your job to a different partition.


		#running-sbatch-options
			:markdown
				### [Options to the `sbatch` command](#running-sbatch-options)

				For more information about these options and other useful `sbatch` options see the <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/sbatch.html">sbatch man page</a>.

			%table(border="1" cellpadding="3")
				%tr
					%th Option
					%th Description
					%th Default
				%tr
					%td <code>-p <i>partition</i></code>
					%td Partition requested
					%td RM
				%tr
					%td <code>-t <i>HH:MM:SS</i></code>
					%td Walltime requested in HH:MM:SS
					%td 30 minutes
				%tr
					%td <code>-N <i>n</i></code>
					%td Number of nodes requested.
					%td 1
				%tr
					%td <code>-n <i>n</i></code>
					%td Number of cores requested in total.
					%td None
				%tr
					%td <code>--ntasks-per-node=<i>n</i><code><br>Note the &quot;--&quot; for this option
					%td Request n cores be allocated per node.
					%td 1
				%tr
					%td <code>-o <i>filename</i></code>
					%td Save standard out and error in <i>filename</i>. This file will be written to the directory that the job was submitted from.
					%td slurm-<i>jobid</i>.out
				%tr
					%td <code>--gres=gpu:<i>n</i></code><br>Note the &quot;--&quot; for this option
					%td Specifies the number of GPUs requested.<p>'n' is the number of GPUs.<br>Valid choices are 1-8.
					%td N/A
				%tr
					%td <code>--mem=<i>n</i>GB</code><br>Note the &quot;--&quot; for this option
					%td Amount of memory requested in GB. Use this to request the 512GB nodes in the RM or RM-shared partitions. /Request between 129 and 500 GB.
					%td N/A
				%tr
					%td <code>-A <i>account id</i></code>
					%td Slurm account id for the job. If not specified, your default account id is used. <a href="#accounts">Find your default Slurm account id.</a> <p>Note: Files created during a job will be owned by the Unix group in effect when the job is submitted. This may be different than the account id used by the job. See the discussion of the <code>newgrp</code> command in the <a href="#accounts">Account Administration</a> section to see how to change the Unix group currently in effect.
					%td Your default account id
				%tr
					%td <code>-C constraints</code>
					%td Specifies constraints which the nodes allocated to this job must satisfy. Valid constraints are:<dl><dt>PERF</dt><dd>Turns on performance profiling.</dd></dl> For use with performance profiling software like VTune, TAU <p>See the discussion of the <code>-C</code> option in the <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/sbatch.html">sbatch man page</a> for more information.
					%td N/A
				%tr
					%td(nowrap) <code>--res reservation-name</code><br>Note the &quot;--&quot; for this option
					%td Use the reservation that has been set up for you. Use of <code>--res</code> does not automatically set any other options. You still need to specify the other options (partition, walltime, number of nodes) that you would in any <code>sbatch</code> command. If your reservation is not assigned to your default account then you will need to use the <code>-A</code> option to <code>sbatch</code> to specify the account.
					%td N/A
				%tr
					%td <code>--mail-type=<i>type</i></code><br>Note the &quot;--&quot; for this option
					%td Send email when job events occur, where <i>type</i> can be BEGIN, END, FAIL or ALL.
					%td N/A
				%tr
					%td <code>--mail-user=<i>username</i></code><br>Note the &quot;--&quot; for this option
					%td User to send email to as specified by <code>--mail-type</code>. Default is the user who submits the job.
					%td N/A
				%tr
					%td <code>-d=dependency-list</code>
					%td Set up dependencies between jobs, where dependency-list can be:<p><dl><dt><b>after:job_id[:jobid...]</b></dt><dd>This job can begin execution after the specified jobs have begun execution.</dd><dt><b>afterany:job_id[:jobid...]</b></dt><dd>This job can begin execution after the specified jobs have terminated.</dd><dt><b>aftercorr:job_id[:jobid...]</b></dt><dd>A task of this job array can begin execution after the corresponding task ID in the specified job has completed successfully (ran to completion with an exit code of zero).</dd><dt><b>afternotok:job_id[:jobid...]</b></dt><dd>This job can begin execution after the specified jobs have terminated in some failed state (non-zero exit code, node failure, timed out, etc).</dd><dt><b>afterok:job_id[:jobid...]</b></dt><dd>This job can begin execution after the specified jobs have successfully executed (ran to completion with an exit code of zero).</dd><dt><b>singleton</b></dt><dd>This job can begin execution after any previously launched jobs sharing the same job name and user have terminated.</dd></dl>
					%td N/A
				%tr
					%td <code>--no-requeue</code><br>Note the &quot;--&quot; for this option
					%td Specifies that your job will be not be requeued under any circumstances. If your job is running on a node that fails it will not be restarted. Note the &quot;--&quot; for this option.
					%td N/A
				%tr
					%td <code>--time-min=HH:MM:SS</code><br>Note the &quot;--&quot; for this option.
					%td Specifies a minimum walltime for your job in HH:MM:SS format.<p>Slurm considers the walltime requested when deciding which job to start next. Free slots on the machine are defined by the number of nodes and how long those nodes are free until they will be needed by another job. By specifying a minimum walltime you allow the scheduler to reduce your walltime request to your specified minimum time when deciding whether to schedule your job. This could allow your job to start sooner.<p>If you use this option your actual walltime assignment can vary between your minimum time and the time you specified with the <code>-t</code> option. If your job hits its actual walltime limit, it will be killed. When you use this option you should checkpoint your job frequently to save the results obtained to that point.
					%td N/A
				%tr
					%td <code>-h</code>
					%td Help, lists all the available command options
					%td 
			
		
			:markdown
				**See also**
					
				* [Bridges-2 partitions](#queues)
				* [How to determine your valid account ids and change your defaults](#accounts-default)
				* [Managing multiple grants](#accounts-multiple)
		 

	#running-multipleaccounts
		:markdown
			## [Managing Multiple Grants](#running-multipleaccounts)

			If you have more than one grant, be sure to use the correct Slurm account id and Unix group when running jobs.
		
			See [Managing multiple grants](#accounts-multiple) to see how to find your account ids and Unix groups and determine or change your defaults.

		#running-sbatch
			:markdown
				### [Change your Default Slurm Account ID and Unix Group](#running-sbatch)

				See the `change_primary_group` command in the [Managing multiple grants](#accounts-multiple) to permanently change your default Slurm account id and Unix group.

		#running-multipleaccounts-change
			:markdown
				### [Temporarily change your Slurm account id or Unix group](#running-multipleaccounts-change)

				See the `-A` option to the [`sbatch`](#running-sbatch-options) or [`interact`](#running-interactive-options) commands to set the Slurm account id for a specific job.

				The `newgrp` command will change your Unix group for that login session only. Note that any files created by a job are owned by the Unix group in effect when the job is submitted, which is not necessarily the same as the account id used for the job. See the `newgrp` command in the [Account Administration](#accounts) section to see how to change the Unix group currently in effect.

#queues
	:markdown
		# [Bridges-2 Partitions](#queues)

		Each Slurm partition manages a subset of Bridges-2's resources. Each partition allocates resources to interactive sessions, batch jobs, and OnDemand sessions that request resources from it. 

		Not all partitions may be open to you. Your Bridges-2 allocations determine which partitions you can submit jobs to.
		
		* A &quot;Bridges-2 Regular Memory&quot; allocation allows you to use Bridges-2's RM (256 and 512GB) nodes. The <b>RM,</b> <b>RM-shared</b> and <b>RM-512 </b>partitions handle jobs for these nodes.
		
		* A &quot;Bridges-2 Extreme Memory&quot; allocation allows you to use Bridges-2's 4TB EM nodes. The <b>EM</b> partition handles jobs for these nodes.
		
		* A &quot;Bridges-2 GPU&quot; or &quot;Bridges-2 GPU-AI&quot; allocation allows you to use Bridges-2's GPU nodes. The <b>GPU</b> and <b>GPU-shared</b> partitions handle jobs for these nodes.

		All the partitions use FIFO scheduling. If the top job in the partition will not fit, Slurm will try to schedule the next job in the partition. The scheduler follows policies to ensure that one user does not dominate the machine. There are also limits to the number of nodes and cores a user can simultaneously use. Scheduling policies are always under review to ensure best turnaround for users.

	#queues-rm
		:markdown
			## [RM, RM-shared and RM-512](#queues-rm)

			<b>Use the appropriate account id for your jobs:</b> If you have more than one Bridges-2 grant, be sure to use the correct Slurm account id for each job. See [Managing multiple grants](#accounts-multiple).
		
			For information on requesting resources and submitting jobs see the discussion of the [`interact`](#running-interactive) or [`sbatch`](#running-sbatch) commands.

			Jobs in the RM and RM-shared partitions run on Bridges-2's 256GB RM nodes. Jobs in the RM-512 partition run on Bridges-2'a 512GB RM nodes.
		
			* Jobs in the RM partition use <b>one or more full nodes</b>. However, the memory space of all the nodes is not integrated. The cores within a node access a shared memory space, but cores in different nodes do not.
			* Jobs in the RM-shared partition use <b>only part of one node</b>. Because SUs are calculated using how many cores are used, using only part of a node will result in a smaller SU charge.
			* Jobs in the RM-512 partition can use <b>one or more full 512GB nodes</b>. These nodes cannot be shared.

		#queues-rm-rm
			:markdown
				### [RM partition](#queues-rm-rm)

				When submitting a job to the RM partition, you can request:

				* the number of nodes
				* the walltime limit

				If you do not specify the number of nodes or time limit, you will get the defaults. See the summary table for the RM partition below for the defaults.

			#queues-rm-rm-interact
				:markdown
					#### [Sample `interact` command for the RM partition](#queues-rm-rm-interact)

					An example of an `interact` command for the RM partition, requesting the use of 2 nodes for 30 minutes is
					<pre class="cmd-line">interact -p RM -N 2 -t 30:00</pre>
					where:
		
					 `-p` indicates the intended partition
					 `-N` is the number of nodes requested
					 `-t` is the walltime requested in the format HH:MM:SS

			#queues-rm-rm-sbatch
				:markdown
					#### [Sample `sbatch` command for the RM partition](#queues-rm-rm-sbatch)

					An example of a `sbatch` command to submit a job to the RM partition, requesting one node for 5 hours is

					<pre class="cmd-line">sbatch -p RM -t 5:00:00 -N 1 myscript.job</pre>
					where:
		
					* `-p` indicates the intended partition
					* `-N` is the number of nodes requested
					* `-t` is the walltime requested in the format HH:MM:SS
		
					myscript.job is the name of your batch script

			#queues-rm-rm-jobscript
				:markdown
					#### [Sample job script for the RM partition](#queues-rm-rm-jobscript)

					<pre class="job-script">
					#!/bin/bash
					#SBATCH -N 1
					#SBATCH -p RM
					#SBATCH -t 5:00:00
					#SBATCH --ntasks-per-node=128
		
					# type 'man sbatch' for more information and options
					# this job will ask for 1 full RM node (128 cores) for 5 hours
					# this job would potentially charge 640 RM SUs
		
					#echo commands to stdout
					set -x
		
					# move to working directory
					# this job assumes:
					# - all input data is stored in this directory
					# - all output should be stored in this directory
					# - please note that <i>groupname</i> should be replaced by your groupname
					# - <i>username</i> should be replaced by your username
					# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
					cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
					# run a pre-compiled program which is already in your project space
		
					./a.out</pre>
		
		#queues-rm-shared
			:markdown
				### [RM-shared partition](#queues-rm-shared)

				When submitting a job to the RM-shared partition, you can request:

				* the number of cores
				* the walltime limit

				If you do not specify the number of cores or time limit, you will get the defaults. See the summary table for the RM-shared partition below for the defaults.
		 

			#queues-rm-shared-interact
				:markdown
					#### [Sample `interact` command for the RM-shared partition](#queues-rm-shared-interact)

					An example of an `interact` command for the RM-shared partition, requesting the use of 64 cores for 30 minutes is
					<pre class="cmd-line">interact -p RM-shared --ntasks-per-node=64 -t 30:00</pre>
					where:
		
					* `-p` indicates the intended partition
					* `-N` is the number of nodes requested
					* `-t` is the walltime requested in the format HH:MM:SS

			#queues-rm-shared-sbatch
				:markdown
					#### [Sample `sbatch` command for the RM-shared partition](#queues-rm-shared-sbatch)

					An example of a `sbatch` command to submit a job to the RM-shared partition, requesting 32 cores for 5 hours is
					<pre class="cmd-line">sbatch -p RM-shared -t 5:00:00 --ntasks-per-node=32 myscript.job</pre>
					where:
		
					 `-p` indicates the intended partition
					 `-t` is the walltime requested in the format HH:MM:SS
					 `--ntasks-per-node` is the number of cores requested
		
					myscript.job is the name of your batch script

			#queues-rm-rmshared-jobscript
				:markdown
					#### [Sample job script for the RM-shared partition](#queues-rm-rmshared-jobscript)

					<pre class="job-script">
					#!/bin/bash
					#SBATCH -N 1
					#SBATCH -p RM-shared
					#SBATCH -t 5:00:00
					#SBATCH --ntasks-per-node=64
		
					# type 'man sbatch' for more information and options
					# this job will ask for 64 cores in RM-shared and 5 hours of runtime
					# this job would potentially charge 320 RM SUs
		
					#echo commands to stdout
					set -x
		
					# move to working directory
					# this job assumes:
					# - all input data is stored in this directory
					# - all output should be stored in this directory
					# - please note that <i>groupname</i> should be replaced by your groupname
					# - <i>username</i> should be replaced by your username
					# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
					cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
					# run a pre-compiled program which is already in your project space
		
					./a.out</pre>
		
		#queues-rm-512
			:markdown
				### [RM-512 partition](#queues-rm-512)

				When submitting a job to the RM-512 partition, you can request:

				* the number of nodes
				* the walltime limit

				If you do not specify the number of nodes or time limit, you will get the defaults. See the summary table for the RM partitions below for the defaults.

			#queues-rm-512-interact
				:markdown
					#### [Sample `interact` command for the RM-512 partition](#queues-rm-512-interact)

					An example of an `interact` command for the RM-512 partition, requesting the use of 2 nodes for 45 minutes is
					<pre class="cmd-line">interact -p RM-512 -N 2 -t 45:00</pre>
					where:
		
					 `-p` indicates the intended partition
					 `-N` is the number of nodes requested
					 `-t` is the walltime requested in the format HH:MM:SS

			#queues-rm-512-sbatch
				:markdown
					#### [Sample `sbatch` command for the RM-512 partition](#queues-rm-512-sbatch)

					An example of a `sbatch` command to submit a job to the RM-512 partition, requesting one node for 2 1/2 hours is
					<pre class="cmd-line">sbatch -p RM-512 -t 2:30:00 -N 1 myscript.job</pre>
					where:
		
					* `-p` indicates the intended partition
					* `-N` is the number of nodes requested
					* `-t` is the walltime requested in the format HH:MM:SS
		
					myscript.job is the name of your batch script

			#queues-rm-512-jobscript
				:markdown
					#### [Sample job script for the RM-512 partition](#queues-rm-512-jobscript)

					<pre class="job-script">
					#!/bin/bash
					#SBATCH -N 1
					#SBATCH -p RM-512
					#SBATCH -t 5:00:00
					#SBATCH --ntasks-per-node=128
		
					# type 'man sbatch' for more information and options
					# this job will ask for 1 full RM 512GB node (128 cores) for 5 hours
					# this job would potentially charge 640 RM SUs
		
					#echo commands to stdout
					set -x
		
					# move to working directory
					# this job assumes:
					# - all input data is stored in this directory
					# - all output should be stored in this directory
					# - please note that <i>groupname</i> should be replaced by your groupname
					# - <i>username</i> should be replaced by your username
					# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
					cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
					# run a pre-compiled program which is already in your project space
		
					./a.out</pre>

		#queues-rm-summary
			:markdown
				### [RM Partitions Summary](#queues-rm-summary)

			%table(border="1" cellpadding="3")
				%tr
					%td 
					%th RM
					%th RM-shared
					%th RM-512
				%tr
					%td <b>Node RAM</b>
					%td 128GB
					%td 128GB
					%td 512GB
				%tr
					%td <b>Node count default</b>
					%td 1
					%td NA
					%td 1
				%tr
					%td <b>Node count max</b>
					%td 50
					%td NA
					%td 2
				%tr
					%td <b>Core count default</b>
					%td 128
					%td 64
					%td 128
				%tr
					%td <b>Core count max</b>
					%td 6400
					%td 
					%td 256
				%tr
					%td <b>Walltime default</b>
					%td 1 hour
					%td 1 hour
					%td 1 hour
				%tr
					%td <b>Walltime max</b>
					%td 48 hours
					%td 48 hours
					%td 48 hours</tbody>

	#queues-em
		:markdown
			## [Extreme Memory](#queues-em)

			The EM partition should be used for "Bridges-2 Extreme Memory" allocations.

			<b>Use the appropriate account id for your jobs:</b> If you have more than one Bridges-2 grant, be sure to use the correct Slurm account id for each job. See [Managing multiple grants](#accounts-multiple).
		
			For information on requesting resources and submitting jobs see the discussion of the [`interact`](#running-interactive-interact) or [`sbatch`](#running-sbatch) commands.

			Jobs in the EM partition run on Bridges-2's EM nodes, with 4TB of memory.

			Jobs in the EM partition must use at least 24 cores.

			EM jobs can use more than one node. However, the memory space of all the nodes is not integrated. The cores within a node access a shared memory space, but cores in different nodes do not.

			When submitting a job to the EM partition, you can request:

			* the number of cores
			* the walltime limit

			Your job will be allocated memory in proportion to the number of cores you request. Be sure to request enough cores to be allocated the memory that your job needs. Memory is allocated at about 1TB per 24 cores. As an example, if your job needs 2TB of memory, you should request 48 cores.

			If you do not specify the number of cores or time limit, you will get the defaults. See the summary table for the EM partition below for the defaults.

		#queues-em-sbatch
			:markdown
				### [Sample `sbatch` Command](#queues-em-sbatch)

				An example of a `sbatch` command to submit a job to the EM partition, requesting an entire node for 5 hours is

				<pre class="cmd-line">sbatch -p EM -t 5:00:00 --ntasks-per-node=96 myscript.job</pre>

				where:

				* `-p` indicates the intended partition
				* `-t` is the walltime requested in the format HH:MM:SS
				* `--ntasks-per-node` is the number of cores requested per node

				myscript.job is the name of your batch script

		#queues-em-jobscript
			:markdown
				### [Sample Job Script](#queues-em-jobscript)

				<pre class="job-script">
				#!/bin/bash
				#SBATCH -N 1
				#SBATCH -p EM
				#SBATCH -t 5:00:00
				#SBATCH -n 96
		
				# type 'man sbatch' for more information and options
				# this job will ask for 1 full EM node (96 cores) and 5 hours of runtime
				# this job would potentially charge 480 EM SUs
		
				# echo commands to stdout
				set -x
		
				# move to working directory
				# this job assumes:
				# - all input data is stored in this directory
				# - all output should be stored in this directory
				# - please note that <i>groupname</i> should be replaced by your groupname
				# - <i>username</i> should be replaced by your username
				# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
				cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
				#run pre-compiled program which is already in your project space
		
				./a.out</pre>
		

		#queues-em-summary
			:markdown
				### [EM Partition Summary](#queues-em-summary)

			%table(border="1" cellpadding="3")
				%tr
					%th EM partition
				%tr
					%td <b>Node</b>
					%td 96 cores/node 4TB/node
				%tr
					%td <b>Core default</b>
					%td None
				%tr
					%td <b>Core min</b>
					%td 24
				%tr
					%td <b>Core max</b>
					%td 96 (1 node)
				%tr
					%td <b>Walltime default</b>
					%td 1 hour
				%tr
					%td <b>Walltime max</b>
					%td 120 hours (5 days)
				%tr
					%td <b>Memory</b>
					%td 1TB / 24 cores ~40GB per core

	#queues-gpu
		:markdown
			## [GPU and GPU-shared partitions](#queues-gpu)

			Jobs in the GPU and GPU-shared partitions run on the GPU nodes and are available for Bridges-2 GPU and GPU-AI allocations .

			<b>Use the appropriate account id for your jobs:</b>
			If you have more than one Bridges grant, be sure to use the correct Slurm account id for each job. See [Managing multiple grants](#accounts-multiple).

			For information on requesting resources and submitting jobs see the [`interact`](#running-interactive-interact) or [`sbatch`](#running-sbatch) commands.

			Use the appropriate account id for your jobs: If you have more than one Bridges-2 grant, be sure to use the correct Slurm account id for each job. See [Managing multiple grants](#accounts-multiple).

			Jobs in the GPU partition can use more than one node. Jobs in the GPU partition do not share nodes, so jobs are allocated all the cores and all of the GPUs associated with the nodes assigned to them . Your job will incur SU costs for all of the cores on your assigned nodes. The memory space across nodes is not integrated. The cores within a node access a shared memory space, but cores in different nodes do not.

			Jobs in the GPU-shared partition use only part of one node. Because SUs are calculated using how many gpus are used, using only part of a node will result in a smaller SU charge.

		#queues-gpu-gpu
			:markdown
				### [GPU Partition](#queues-gpu-gpu)
		
				The GPU partition is for jobs that will use **one or more entire GPU nodes**.
		
				When submitting a job to the GPU partition, you must use one of these options to specify the total number of GPUs you want, where <i>n</i> is the number of GPUS <i>per node</i> you are requesting:

				* for an interactive session, use --gres=gpu:<i>n</i>
				* for a batch job, use --gpus=<i>n</i>

				You can also request

				* the number of nodes
				* the walltime limit

				See the [`sbatch` command options](#running-sbatch-options) for more details on the `--gpus` option. You should also specify the walltime limit.

			#queues-gpu-interact
				:markdown
					#### [Sample `interact` command for the GPU partition](#queues-gpu-interact)

					An `interact` command to start a GPU job on 2 GPU nodes for 30 minutes is

					<pre class="cmd-line">interact -p GPU --gres=gpu:8 -N 2 -t 30:00</pre>

					where:

					* `-p` indicates the intended partition
					* `--gres=gpu:8` requests the use of 16 GPUs, 8 on each node
					* `-N` 2 requests the use of 2 nodes
					* `-t` is the walltime requested in the format HH:MM:SS
 
			#queues-gpu
				:markdown
					#### [Sample `sbatch` command for the GPU partition](#queues-gpu)

					A sample `sbatch` command to submit a job to the GPU partition to use 1 full GPU node (all 8 gpus) for 5 hours is
					<pre class="cmd-line">sbatch -p GPU -N 1 --gpus=8 -t 5:00:00 <i>jobname</i></pre>
					where:

					* `-p` indicates the intended partition
					* `-N` 1 requests one GPU node
					* `--gpus=8` requests the use of all 8 GPUs on that node
					* `-t` is the walltime requested in the format HH:MM:SS

					<i>jobname</i> is the name of your batch script
 
			#queues-gpu-jobscript
				:markdown
					#### [Sample job script for the GPU partition](#queues-gpu-jobscript)

					<pre class="job-script">
					#!/bin/bash
					#SBATCH -N 1
					#SBATCH -p GPU
					#SBATCH -t 5:00:00
					#SBATCH --gpus=8

					# type 'man sbatch' for more information and options
					# this job will ask for 1 full GPU node(8 V100 GPUs) for 5 hours
					# this job would potentially charge 40 GPU SUs

					# echo commands to stdout
					set -x

					# move to working directory
					# this job assumes:
					# - all input data is stored in this directory
					# - all output should be stored in this directory
					# - please note that <i>groupname</i> should be replaced by your groupname
					# - <i>username</i> should be replaced by your username
					# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is

					cd /ocean/projects/<i>groupname/username/path-to-directory</i>

					# run pre-compiled program which is already in your project space

					./gpua.out</pre>

		#queues-gpu-shared
			:markdown
				### [The GPU-shared partition](#queues-gpu-shared)
		
				The GPU-shared partition is for jobs that will use <b>part of one GPU node</b>. You can request at most 4 GPUs from one node in the GPU-shared partition.
		
				When submitting a job to the GPU-shared partition, you must use one of these options to specify the total number of GPUs you want, where <i>n</i> is the number of GPUS you are requesting:

				* for an interactive session, use --gres=gpu:<i>n</i>
				* for a batch job, use --gpus=<i>n</i>

				You can also request

				* the walltime limit

			#queues-gpu-shared-interact
				:markdown
					#### [Sample `interact` command for the GPU-shared partition](#queues-gpu-shared-interact)

					An `interact` command to start a GPU-shared job using 4 GPUs for 30 minutes is

					<pre class="cmd-line">interact -p GPU-shared --gres=gpu:4 -t 30:00</pre>

					where:
		
					* `-p` indicates the intended partition
					* `--gres=gpu:4` requests the use of 4 GPUs
					* `-t` is the walltime requested in the format HH:MM:SS
		 
			#queues-gpu-shared-sbatch
				:markdown
					#### [Sample `sbatch` command for the GPU-shared partition](#queues-gpu-shared-sbatch)

					A sample `sbatch` command to submit a job to the GPU-shared partition to use 2 GPUs for 2 hours is

					<pre class="cmd-line">sbatch -p GPU-shared --gres=gpu:2 -t 2:00:00</pre>

					where:
		
					* `-p` indicates the intended partition
					* `--gpus=2` requests the use of 2 GPUs
					* `-t` is the walltime requested in the format HH:MM:SS

			#queues-gpu-shared-jobscript
				:markdown
					#### [Sample job script for the GPU-shared partition](#queues-gpu-shared-jobscript)

					<pre class="job-script">
					#!/bin/bash
					#SBATCH -N 1
					#SBATCH -p GPU-shared
					#SBATCH -t 5:00:00
					#SBATCH --gpus=4
		
					# type 'man sbatch' for more information and options
					# this job will ask for 4 V100 GPUs in GPU-shared for 5 hours
					# this job would potentially charge 20 GPU SUs
		
					# echo commands to stdout
					set -x
		
					# move to working directory
					# this job assumes:
					# - all input data is stored in this directory
					# - all output should be stored in this directory
					# - please note that <i>groupname</i> should be replaced by your groupname
					# - <i>username</i> should be replaced by your username
					# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
					cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
					# run pre-compiled program which is already in your project space
		
					./gpua.out</pre>
		

		#queues-gpu-summary
			:markdown
				### [GPU Partitions Summary](#queues-gpu-summary)

			%table(border="1" cellpadding="3")
				%tr
					%th 
					%th GPU
					%th GPU-shared
				%tr
					%td Default number of nodes
					%td 1
					%td NA
				%tr
					%td Max nodes/job
					%td 
					%td NA
				%tr
					%td Default number of GPUs
					%td 8
					%td 1
				%tr
					%td Max GPUs/job
					%td 64
					%td 4
				%tr
					%td Default runtime
					%td 1 hour
					%td 1 hour
				%tr
					%td Max runtime
					%td 48 hours
					%td 48 hours</tbody>

#jobinfo
	:markdown
		# [Job Status Information](#jobinfo)

	#jobinfo-sinfo
		:markdown
			## [The `sinfo` Command](#jobinfo-sinfo)

			The `sinfo` command displays information about the state of Bridges-2's nodes. The nodes can have several states:

		%table(border="1" cellpadding="3")
			%tr
				%td alloc
				%td Allocated to a job
			%tr
				%td down
				%td Down
			%tr
				%td drain
				%td Not available for scheduling
			%tr
				%td idle
				%td Free
			%tr
				%td resv
				%td Reserved</tbody>

		:markdown
			More information: <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/sinfo.html">`sinfo` man page</a>

	#jobinfo-squeue
		:markdown
			## [The `squeue` Command](#jobinfo-squeue)

			The `squeue` command displays information about the jobs in the partitions. Some useful options are:

		%table(border="1" cellpadding="3")
			%tr
				%td -j <i>jobid</i>
				%td Displays the information for the specified jobid
			%tr
				%td -u <i>username</i>
				%td Restricts information to jobs belonging to the specified username
			%tr
				%td -p <i>partition</i>
				%td Restricts information to the specified partition
			%tr
				%td -l
				%td (long) Displays information including: time requested, time used, number of requested nodes, the nodes on which a job is running, job state and the reason why a job is waiting to run.</tbody>

		:markdown
			More information: <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/squeue.html">`squeue` man page</a> for a discussion of the codes for job state, for why a job is waiting to run, and more options.

	#jobinfo-scancel
		:markdown
			## [The `scancel` Command](#jobinfo-scancel)
		
			The `scancel` command is used to kill a job in a partition, whether it is running or still waiting to run. Specify the jobid for the job you want to kill. For example,

			<pre class="cmd-line">scancel 12345</pre>

			kills job # 12345.

		More information: <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/scancel.html">scancel man page</a>

	#jobinfo-sacct
		:markdown
			## [The `sacct` Command](#jobinfo-sacct)
		
			The `sacct` command can be used to display detailed information about jobs. It is especially useful in investigating why one of your jobs failed. The general format of the command is:

				sacct -X -j <i>nnnnnn</i> -S MMDDYY --format parameter1,parameter2, ...

		
			* For '<i>nnnnnn</i>' substitute the jobid of the job you are investigating.
			* The date given for the -S option is the date at which `sacct` begins searching for information about your job.
			* The commas between the parameters in the --format option cannot be followed by spaces.

			The --format option determines what information to display about a job. Useful parameters are
	
			* JobID
			* Partition
			* Account - the account id
			* ExitCode - useful in determining why a job failed
			* State - useful in determining why a job failed
			* Start, End, Elapsed - start, end and elapsed time of the job
			* NodeList - list of nodes used in the job
			* NNodes - how many nodes the job was allocated
			* MaxRSS - how much memory the job used
			* AllocCPUs - how many cores the job was allocated

			More information: <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/sacct.html">`sacct` man page</a>

	#jobinfo-jobinfo
		:markdown
			## [The `job_info` Command](#jobinfo-jobinfo)

			The `job_info` command provides information on completed jobs. It will display cores and memory allocated and SUs charged for the job. Options to job_info can be used to get additional information, like the exit code, number of nodes allocated, and more.
		
			Options for `job_info` are:

			`-slurm`, adds all slurm info for the job level as `sacct` output
			`--steps`, adds all slurm info for the job and all job steps (this can be a LOT of output)

			<pre class="cmd-line">[joeuser@br012 ~]$ <b>/opt/packages/allocations/bin/job_info 5149_24</b>
			CoresAllocated: 96
			EndTime: 2021-01-06T14:32:00.000Z
			GPUsAllocated: 0
			JobId: 5149_24
			MaxTaskMemory_MB: 1552505.0
			MemoryAllocated_MB: 4128000
			Project: abc123
			StartTime: 2021-01-06T13:07:14.000Z
			State: COMPLETED
			SuCharged: 0.0
			SuUsed: 135.627
			Username: joeuser</pre>
		
		
			Using the `-slurm` option will provide this output IN ADDTION:

			<pre class="cmd-line">[joeuser@br012 ~]$ <b>/opt/packages/allocations/bin/job_info --slurm 5149_24</b>
		
			*** Slurm SACCT data ***
			Account: abc123
			AllocCPUS: 96
			AllocNodes: 1
			AllocTRES: billing=96,cpu=96,mem=4128000M,node=1
			AssocID: 234
			CPUTime: 5-15:37:36
			CPUTimeRAW: 488256
			Cluster: bridges2
			DBIndex: 10092
			DerivedExitCode: 0:0
			Elapsed: 01:24:46
			ElapsedRaw: 5086
			Eligible: 2021-01-06T02:27:34
			End: 2021-01-06T14:32:00
			ExitCode: 0:0
			Flags: SchedMain
			GID: 15312
			Group: abc123
			JobID: 5149_24
			JobIDRaw: 5196
			JobName: run_velveth_gcc10.2.0_96threads_ocean.sbatch
			NCPUS: 96
			NNodes: 1
			NodeList: e002
			Partition: EM
			Priority: 4294900776
			QOS: lm
			QOSRAW: 4
			ReqCPUS: 96
			ReqMem: 4128000Mn
			ReqNodes: 1
			ReqTRES: billing=96,cpu=96,node=1
			Reserved: 10:39:40
			ResvCPU: 42-15:28:00
			ResvCPURAW: 3684480
			Start: 2021-01-06T13:07:14
			State: COMPLETED
			Submit: 2021-01-06T02:27:33
			Suspended: 00:00:00
			SystemCPU: 52:13.643
			Timelimit: 06:00:00
			TimelimitRaw: 360
			TotalCPU: 3-15:06:51
			UID: 19178
			User: joeuser
			UserCPU: 3-14:14:37
			WCKeyID: 0
			WorkDir: /ocean/projects/abc123/joeuser/velvet</pre>
		

#memory
	:markdown
		# [Monitoring memory usage](#memory)

		It can be useful to find the memory usage of your jobs. For example, you may want to find out if memory usage was a reason a job failed.
		
		You can determine a job's memory usage whether it is still running or has finished. To determine if your job is still running, use the `squeue` command.

			squeue -j <i>nnnnnn</i> -O state
		
		where <i>nnnnnn</i> is the jobid.

	#memory-srun
		:markdown
			## [For running jobs: `srun` and `top` or `sstat`](#memory-srun)
		
			You can use the `srun` and `top` commands to determine the amount of memory being used.

				srun --jobid=<i>nnnnnn</i> top -b -n 1 | grep userid
		
			For <i>nnnnnn</i> substitute the jobid of your job. For 'userid' substitute your userid. The RES field in the output from top shows the actual amount of memory used by a process. The top man page can be used to identify the fields in the output of the top command.

			* See the man pages for <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/srun.html">`srun`</a> and <a target="_blank" rel="noopener" href="https://man7.org/linux/man-pages/man1/top.1.html">`top`</a> for more information.

			You can also use the sstat command to determine the amount of memory being used in a running job

				sstat -j <i>nnnnnn</i>.batch --format=JobID,MaxRss
		
			where <i>nnnnnn</i> is your jobid.

			More information: See the <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/sstat.html">man page for sstat</a> for more information.

	#memory-sacct
		:markdown
			## [For jobs that are finished: `sacct` or job_info](#memory-sacct)

			If you are checking within a day or two after your job has finished you can issue the command

				sacct -j <i>nnnnnn</i> --format=JobID,MaxRss
		
			If this command no longer shows a value for MaxRss, use the job_info command

				job_info <i>nnnnnn</i> | grep max_rss
		
			Substitute your jobid for <i>nnnnnn</i> in both of these commands.

			* See the <a target="_blank" rel="noopener" href="https://slurm.schedmd.com/sacct.html">`sacct` man page</a> for more information.

			More information: <a target="_blank" rel="noopener" href="https://www.schedmd.com/slurmdocs/documentation.html">Online documentation for Slurm</a>, including man pages for all the Slurm commands

#jobscripts
	:markdown
		# [Sample Batch Scripts](#jobscripts)

		Both sample batch scripts for some popular software packages and sample batch scripts for general use on Bridges-2 are available.
		
		For more information on how to run a job on Bridges-2, what partitions are available, and how to submit a job, see the [Running Jobs](#running) section.

	#jobscript-software
		:markdown
			## [Popular Software Packages](#jobscript-software)

			Sample scripts for some popular software packages are available on Bridges-2 in the directory /opt/packages/examples. There is a subdirectory for each package, which includes the script along with input data that is required and typical output.

			See the documentation for a particular package for more information on using it and how to test any sample scripts that may be available.

	#jobscript-common
		:markdown
			## [Common Job Types](#jobscript-common)

			Sample Bridges-2 batch scripts for common job types are given below.

			<b>Note</b> that in each sample script:

			* The bash shell is used, indicated by the first line '!#/bin/bash'. If you use a different shell some Unix commands will be different.
			* For <i>username</i> and <i>groupname</i> you must substitute your username and your appropriate Unix group.

			Sample scripts are available for:

			* [Jobs for Bridges-2's RM partition](#jobscript-rm)
			* [Jobs for Bridges-2's RM-shared partition](#jobscript-rm-shared)
			* [Jobs for Bridges-2's RM-512 partition](#jobscript-rm-512)
			* [Jobs for Bridges-2's EM partition](#jobscript-em)
			* [Jobs for Bridges-2's GPU partition](#jobscript-gpu)
			* [Jobs for Bridges-2's GPU-shared partition](#jobscript-GPUshared)

	#jobscript-rm
		:markdown
			## [RM Partition](#jobscript-rm)

			<pre class="job-script">
			#!/bin/bash
			#SBATCH -N 1
			#SBATCH -p RM
			#SBATCH -t 5:00:00
			#SBATCH --ntasks-per-node=128
		
			# type 'man sbatch' for more information and options
			# this job will ask for 1 full RM node (128 cores) for 5 hours
			# this job would potentially charge 640 RM SUs
		
			#echo commands to stdout
			set -x
		
			# move to working directory
			# this job assumes:
			# - all input data is stored in this directory
			# - all output should be stored in this directory
			# - please note that <i>groupname</i> should be replaced by your groupname
			# - <i>username</i> should be replaced by your username
			# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
			cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
			# run a pre-compiled program which is already in your project space
		
			./a.out</pre>
		

	#jobscript-rm-shared
		:markdown
			## [RM-Shared Partition](#jobscript-rm-shared)

			<pre class="job-script">
			#!/bin/bash
			#SBATCH -N 1
			#SBATCH -p RM-shared
			#SBATCH -t 5:00:00
			#SBATCH --ntasks-per-node=64
		
			# type 'man sbatch' for more information and options
			# this job will ask for 64 cores in RM-shared and 5 hours of runtime
			# this job would potentially charge 320 RM SUs
		
			#echo commands to stdout
			set -x
		
			# move to working directory
			# this job assumes:
			# - all input data is stored in this directory
			# - all output should be stored in this directory
			# - please note that <i>groupname</i> should be replaced by your groupname
			# - <i>username</i> should be replaced by your username
			# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
			cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
			# run a pre-compiled program which is already in your project space
		
			./a.out</pre>
		

	#jobscript-rm-512
		:markdown
			## [RM-512 Partition](#jobscript-rm-512)

			<pre class="job-script">
			#!/bin/bash
			#SBATCH -N 1
			#SBATCH -p RM-512
			#SBATCH -t 5:00:00
			#SBATCH --ntasks-per-node=128
		
			# type 'man sbatch' for more information and options
			# this job will ask for 1 full RM 512GB node (128 cores) for 5 hours
			# this job would potentially charge 640 RM SUs
		
			#echo commands to stdout
			set -x
		
			# move to working directory
			# this job assumes:
			# - all input data is stored in this directory
			# - all output should be stored in this directory
			# - please note that <i>groupname</i> should be replaced by your groupname
			# - <i>username</i> should be replaced by your username
			# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
			cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
			# run a pre-compiled program which is already in your project space
		
			./a.out</pre>
		

	#jobscript-em
		:markdown
			## [EM Partition](#jobscript-em)

			<pre class="job-script">
			#!/bin/bash
			#SBATCH -N 1
			#SBATCH -p EM
			#SBATCH -t 5:00:00
			#SBATCH -n 96
		
			# type 'man sbatch' for more information and options
			# this job will ask for 1 full EM node (96 cores) and 5 hours of runtime
			# this job would potentially charge 480 EM SUs
		
			# echo commands to stdout
			set -x
		
			# move to working directory
			# this job assumes:
			# - all input data is stored in this directory
			# - all output should be stored in this directory
			# - please note that <i>groupname</i> should be replaced by your groupname
			# - <i>username</i> should be replaced by your username
			# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
			cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
			#run pre-compiled program which is already in your project space
		
			./a.out</pre>
		

	#jobscript-gpu
		:markdown
			## [GPU Partition](#jobscript-gpu)

			<pre class="job-script">
			#!/bin/bash
			#SBATCH -N 1
			#SBATCH -p GPU
			#SBATCH -t 5:00:00
			#SBATCH --gpus=8
		
			#type 'man sbatch' for more information and options
			#this job will ask for 1 full GPU node(8 V100 GPUs) for 5 hours
			#this job would potentially charge 40 GPU SUs
		
			#echo commands to stdout
			set -x
		
			# move to working directory
			# this job assumes:
			# - all input data is stored in this directory
			# - all output should be stored in this directory
			# - please note that <i>groupname</i> should be replaced by your groupname
			# - <i>username</i> should be replaced by your username
			# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
			cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
			#run pre-compiled program which is already in your project space
		
			./gpua.out</pre>
		

	#jobscript-GPUshared
		:markdown
			## [GPU-Shared Partition](#jobscript-GPUshared)

			<pre class="job-script">
			#!/bin/bash
			#SBATCH -N 1
			#SBATCH -p GPU-shared
			#SBATCH -t 5:00:00
			#SBATCH --gpus=4
		
			# type 'man sbatch' for more information and options
			# this job will ask for 4 V100 GPUs in GPU-shared for 5 hours
			# this job would potentially charge 20 GPU SUs
		
			# echo commands to stdout
			set -x
		
			# move to working directory
			# this job assumes:
			# - all input data is stored in this directory
			# - all output should be stored in this directory
			# - please note that <i>groupname</i> should be replaced by your groupname
			# - <i>username</i> should be replaced by your username
			# - <i>path-to-directory</i> should be replaced by the path to your directory where the executable is
		
			cd /ocean/projects/<i>groupname/username/path-to-directory</i>
		
			#run pre-compiled program which is already in your project space
		
			./gpua.out</pre>
		
