#access
	:markdown
		# [System Access](#access)

	#access:guide
		:markdown
			## [Step-by-step guide](#access:guide)

			1.	To start the VM provisioning process, navigate to <https://use.jetstream-cloud.org>.
			1.	Click <span style="color: rgb(153,51,0);">Login</span> in the top right to authenticate using your XSEDE credentials.

				JSACCESS1

				**Figure 1:** The Jetstream Login access for XSEDE credentials

			1.	On the Globus Auth screen click __Continue__.

				JSACC2A

				**Figure 2:** The Globus Auth screen for Jetstream Web App with XSEDE credentials

			1.	Enter your XSEDE credentials. Best results will occur if you treat your username is if it were case-sensitive when using Jetstream.

				JSACC3A

				**Figure 3:** The XSEDE credentials screen

			1.	Authenticate with your multifactor provider. In this example, DUO is shown and will also include a request for a second authorization device, like a smart-phone (not shown):

				JSACC3B

				**Figure 3b:** The DUO Auth Dialog

			1.	After you complete your multifactor authentication, you may be asked to confirm whether you will allow your credentials to be used to access Jetstream. You may wish to review the terms of service and privacy policies linked on that page. Generally, this screen will only be displayed the first time you log into Jetstream, however, changes to Globus Auth might cause this screen to be displayed on a later login to Jetstream. To use Jetstream, click __Allow__.

				JSACCESS4

				**Figure 4:** Allow Jetstream access with XSEDE credentials

			1.	To proceed, click __Allow__ and the web interface to Jetstream will load.

				JSACCESS5

				**Figure 5:** The Jetstream interface loading

			1.	Once authenticated via Globus Auth, the Jetstream Dashboard will be displayed. On this page you will be able to:

				* launch a new instance
				* browse help resources
				* change settings
				* view resources and usage history
				* view a Jetstream Community Activity feed

				JSACCESS6

				**Figure 6:** The Jetstream UI Dashboard

				After provisioning a VM it can be accessed a number of ways, including:

				* [Web Shell](#vmlogin:web)
				* [SSH](#vmlogin:ssh)
				* [VNC](#vmlogin:vnc)

				See [Logging in to your VM](#vmlogin) for more details.

	<div class="portlet-msg-alert"><h4>Find the public IP assigned to your instance from the VM command line</h4> If your VM has a public IP and you need to find that IP (and don't have ready access to the Jetstream interface, use wget or curl from the command line to get your public IP:
	<pre>
	wget http://169.254.169.254/latest/meta-data/public-ipv4 -qO -
	wget http://ipinfo.io/ip -qO -
	curl http://169.254.169.254/latest/meta-data/public-ipv4
	curl http://ipinfo.io/ip
	</pre>
	</div>

	:markdown
		**Note:** The third option may work even in conditions in which external DNS servers are not accessible.

		**Note:** The only way to acquire a static IP address is to use the Jetstream API. See [Using the Jetstream API](#api) for details.

