#adduser
	:markdown
		# [Add user to running instance](#adduser)

		These steps will let the user that you create ssh to a running instance using a password you set. The user can reset the password once they login and/or add their ssh keys.

		## Step-by-step guide
		All steps to be run as root or using sudo.

		1. Run 'adduser username'
		1. Run 'passwd username' and assign a temporary password
		1. Run 'usermod -a -G users username'

		## Notes
		If you have the user's public SSH key, do the following:

		1. Run 'mkdir ~username/.ssh/'
		1. Run 'chmod 700 ~username/.ssh/'
		1. Run 'chown username:username ~username/.ssh/'
		1. Copy the user's public ssh into ~username/.ssh/ or use an editor to create the file authorized_keys in that directory and paste the contents of their public SSH into that file
		1. Run 'chown username:username ~username/.ssh/authorized_keys'

		If you do not have the user's public SSH key, you will also need to do these steps. *It is best, from a security standpoint, to ONLY allow public key access*.

		1. Edit /etc/ssh/sshd_config and add the line `PasswordAuthentication yes` and then save the file
		1. Restart sshd ('service sshd restart' for CentOS 6, 'service ssh restart' for Ubuntu 14.04 systems, -OR- 'systemctl sshd restart' for CentOS 7)

