#api
	:markdown
		# [Using the Jetstream API](#api)

		**To request OpenStack API access**, email <help@xsede.org> with the subject "Requesting Jetstream API access for the _XYZ PROJECT_". In your email, answer as many of the questions listed below as possible.

		* Briefly describe what you want to do and how you plan to do it.
		* What will runtime operations look like?
		* Does this application exist already or is this primarily a development effort? If yes, what parts exist and where can they be referenced?
		* What API are you planning on using, Openstack, RADOS, Atmosphere, EC2, S3, something else?
		* Are any of these gateways? Might it spawn a gateway in the future?
		* What resources could you conceive this project consuming once in production? Please include sustained as well as peak resource demands.
		* Do you anticipate bursting into/out of Jetstream?
		* Jetstream contains more than one OpenStack cloud. Were you aware of this and do you think your implementation will be able to leverage multiple clouds initially? Eventually?
		* Are there long term storage needs, for example for reference data, that need to be accessible from the running instances? If so, how much storage is needed?
		* Are there run-time scratch/transient/workbench storage needs?
		* What is/are the XSEDE project name(s)?
		* Who is working on this project and what are their roles?
		* Is there a group account that development will occur under?
		* Is there one primary developer that will be using this account; or, will a group of individuals be developing code within this account?

	<div class="portlet-msg-info">
	<strong>Important info about the Jetstream API</strong>
	<p>Jetstream's OpenStack API is open to advanced users. Jetstream API users should understand the following:</p>
	<ol>
	<li>You will be expected to have familiarity with being a unix system administrator. These are advanced areas of operation and require a more advanced skill set than using Jetstream via Atmosphere.</li>
	<li>Jetstream Support may not be able to help with issues beyond VM functionality and other OpenStack issues. Software and services such as databases, local or remote applications, or other server-based components are up to the user/developer to install, deploy, and maintain.</li>
	<li>The current API environment is always under development. The base services are available and many features are added and upgraded as Jetstream matures.</li>
	<li>Jetstream staff and systems administrators will prioritize and address issues as they arise.</li>
	<li>Access may be revoked or restricted to insure the effective and efficient delivery of production services.</li>
	<li>This is an OpenStack API not an Atmosphere API. When you open up Atmosphere your OpenStack VMs will not be displayed and vice versa. We discourage manually deploying Atmosphere images in API and vice versa as there are many configurational differences that can lead to deployment problems.</li>
	<li>PIs and developers must be aware of, and conform to, any and all policies required for users of the systems owned and/or operated by the service providers, Indiana University (IU) and Texas Advanced Computing Center (TACC).
	<p>IU</p>
	:markdown
		* IT-12 [Security of Information Technology Resources](http://policies.iu.edu/policies/categories/information-it/it/IT-12.shtml)
		* IT-02 [Misuse and Abuse of Information Technology Resources](http://policies.iu.edu/policies/categories/information-it/it/IT-02.shtml)
	<p>TACC</p>
	:markdown
		* <https://portal.tacc.utexas.edu/tacc-usage-policy>
	</li>
	</ol>
	</div>

	#api:access
		:markdown
			## [After access granted](#api:access)

	<div class="portlet-msg-info">
	<strong>Jetstream API developers</strong>
	:markdown

		For policy details and information on how to request access to the Jetstream API see, [Using the Jetstream API](#api).

		Also note that several Jetstream "Featured" API images are available. They will be named _JS-API-Featured-xxxxxx_

			openstack image list | grep -iE '(JS-API)'

		or

			glance image-list | grep -iE '(JS-API)'

		See [OpenStack command line](#api:commands) for other common commands.
	</div>
	:markdown

		* The project PI should ensure that all accounts have been associated with their XSEDE project(s).
		* Users and group account owners should verify that they can authenticate at the [XSEDE User Portal](https://portal.xsede.org).
		* Users and group account owners should verify their TACC username and password. See the [TACC password reset](https://portal.tacc.utexas.edu/password-reset/-/password/request-reset) page.
		* Once your XSEDE and TACC credentials are in order, confirm that you can authenticate to the OpenStack Horizon portal for each cloud, **in the TACC domain**:
			* [IU cloud](https://iu.jetstream-cloud.org/dashboard)
			* [TACC cloud](https://tacc.jetstream-cloud.org/dashboard)
		* You will likely want to have the OpenStack client tools. A convenient place to host these tools is to Start up a VM instance via Atmosphere and install the OpenStack clients.

		<p>For more information see <a target="_blank" rel="noopener" href="https://cvw.cac.cornell.edu/JetstreamAPI/openstackcliinstall">Using the Jetstream APIs: Installing the client</a>.</p>

	<div class="portlet-msg-info">
	<strong>OpenStack clients for various Operating Systems</strong>
	<p>Using an Atmosphere instance or other local Linux installation (such as CentOS-7), install these packages:</p>
	<ul>
	<li>yum install -y http://rdo.fedorapeople.org/rdo-release.rpm</li>
	<li>yum install -y python-glanceclient python-neutronclient python-novaclient python-openstackclient</li>

	:markdown
		You can also [install the Openstack client on your Mac OSX laptop or desktop](https://wiki.jetstream-cloud.org/Installing+the+Openstack+clients+on+OS+X).

		Instructions for installing command line clients for Windows are [available from an external site](https://github.com/naturalis/openstack-docs/wiki/Howto:-Installing-and-configuring-the-OpenStack-commandline-tools-on-Windows). **Please note that these instructions have not been tested**.
	</div>

	:markdown
		* Set the environment variables in openrc.sh. For instructions, see [Setting up openrc.sh](#api:openrc).
		* After the clients have been installed and the environment variables set, test your configuration with the OpenStack client command: `openstack image list` which should now return useful information.
		* If you have never worked with OpenStack and need help in creating your first running instance, email <help@xsede.org>.

	#api:openrc
		:markdown
			## [Setting up openrc.sh](#api:openrc)

			Jetstream has two clouds: the IU cloud and the TACC cloud; each cloud has one domain, the 'TACC' domain. API users will only be interacting with one cloud at a time. Transferring entities such as images and volumes from one domain to the other requires intervention by systems personnel. To request these services email <help@xsede.org>.

			When using the 'TACC' domain, the username and password in the openrc.sh file are the same login credentials that would be used to access any TACC resource. For assistance with TACC login credentials, visit <https://portal.tacc.utexas.edu/password-reset/-/password/request-reset>.

	<div class="norm">
	:markdown
		#### IU cloud, TACC domain

		**_TACC domain_**

	<p class="norm">export OS_PROJECT_DOMAIN_NAME=<em>tacc</em><br />
	export OS_USER_DOMAIN_NAME=<em>tacc</em><br />
	export OS_PROJECT_NAME=<em>TG_your_xsede_project_name</em><br />
	export OS_USERNAME=<em>your_tacc_username</em><br />
	export OS_PASSWORD=<em>your_tacc_password</em><br />
	<strong>export OS_AUTH_URL= <em>Contact help@xsede.org for the available endpoint URL</em></strong><br />
	export OS_IDENTITY_API_VERSION=3</p>
	</div>

	<div class="norm">
	:markdown
		#### TACC cloud, TACC domain

		**_TACC domain_**

	<p class="norm">export OS_PROJECT_DOMAIN_NAME=<em>tacc</em><br />
	export OS_USER_DOMAIN_NAME=<em>tacc</em><br />
	export OS_PROJECT_NAME=<em>TG_your_xsede_project_name</em><br />
	export OS_USERNAME=<em>your_tacc_username</em><br />
	export OS_PASSWORD=<em>your_tacc_password</em><br />
	<strong>export OS_AUTH_URL= <em>Contact help@xsede.org for the available endpoint URL</em></strong><br />
	export OS_IDENTITY_API_VERSION=3</p>
	</div>

	:markdown
		#### Use the Horizon dashboard to generate openrc.sh
		1. Log in to Horizon:
			1. IU: <https://jblb.jetstream-cloud.org/dashboard>
			1. TACC: <https://tacc.jetstream-cloud.org/dashboard>
			1. Domain: TACC
			1. User Name: _your TACC username_
			1. Password: _your TACC password_
		1. If you are on more than one allocation, select the project (XSEDE allocation) by clicking where it says "tacc . TG-xxxxxxxx . RegionOne" and choose the appropriate allocation.
		1. Click on your username in the upper right hand corner
		1. Click on **Download OpenStack RC File v3**

		The password is not stored in the script. This openrc.sh file will prompt for a password when sourced.

		**Note:** To select an active project _**prior**_ to generating openrc.sh, click on **Identity** (left hand side) to see a list of your projects.

		<div style="text-align: center">
		<img alt="openrc.sh horizon dashboard screenshot" src="/documents/10308/1181156/allocation-selection.png/e7f99039-9703-4098-bafa-8d4c05073547?t=1528151831505" style="width: 600px; height: 195px;" /><br />
		<strong>Figure API-1:</strong> Generate openrc.sh via Horizon Dashboard</div>

	#api:install-osx
		:markdown
			## [Installing the Openstack clients on OS X](#api:install-osx)

			This will help you get the Openstack clients working on Mac OS X 10.11.x. It may work on recent older versions of Mac OS X but it has not been tested. 

			_**Follow the instructions below at your own risk.**_

	<div class="w-60">
	%table
		%thead
			%tr
				%th Task
				%th Command
		%tbody
			%tr
				%td
					%p If necessary, install Xcode from the App Store.	 
				%td
					%p &nbsp;
			%tr
				%td
					%p Add these lines to .bash_profile
				%td
					%p.code # Set architecture flags
					%p.code export ARCHFLAGS="-arch x86_64"
					%p.code # Ensure user-installed binaries take precedence
					%p.code export PATH=/usr/local/bin:$PATH
			%tr
				%td
					%p Run this command
					%td
					%p.code source .bash_profile
			%tr
				%td
					%p Verify that the Xcode required tools are installed and functional (This command may require root access to run.)
				%td
					%p.code xcode-select --install
			%tr
				%td
					%p Set the permissions that Brew expects
				%td
					%p.code sudo chflags norestricted /usr/local &amp;&amp; sudo chown $(whoami):admin /usr/local &amp;&amp; sudo chown -R $(whoami):admin /usr/local
			%tr
				%td
					%p Install Brew if not already installed
				%td
					%p.code /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
			%tr
				%td
					%p If Brew is installed, update as needed.
				%td
					%p.code brew update
			%tr
				%td
					%p If prompted to agree to the Xcode license run:
				%td
					%p.code xcodebuild -license
			%tr
				%td
					%p Check the Brew install with this command. If errors found doctor will provide instructions to fix them.
				%td
					%p.code brew doctor
			%tr
				%td
					%p Verify that Brew is up to date
				%td
					%p.code brew update
			%tr
				%td
					%p Install python
				%td
					%p.code brew install python
			%tr
				%td
					%p Fix the links
				%td
					%p.code brew linkapps python
			%tr
				%th &nbsp;
				%th +Though not strictly necessary, we recommend using virtualenv to increase the stability of the openstack cli tools.
			%tr
				%td
					%p Create a directory for the project (cd to your preferred directory first)+
				%td
					%p mkdir &lt;project_name&gt;
			%tr
				%td
					%p Change to the project directory
				%td
					%p cd &lt;project_name&gt;
			%tr
				%td
					%p Install the VirtualEnvironment packages
				%td
					%p sudo easy_install virtualenv
			%tr
				%td
					%p Start the VirtualEnvironment software
				%td
					%p virtualenv &lt;project_name&gt;
			%tr
				%td
					%p Activate the VirtualEnvironment for the project
				%td
					%p source &lt;project_name&gt;/bin/activate
			%tr
				%th &nbsp;
				%th &nbsp;
			%tr
				%td
					%p Install the OpenStack clients
				%td
					%p.code pip install python-keystoneclient python-novaclient python-heatclient python-swiftclient python-neutronclient python-cinderclient python-glanceclient python-openstackclient
			%tr
				%td
					:markdown
						Set up your OpenStack credentials
						See [Setting up openrc.sh](#api:openrc) for details.
				%td
					%p.code source .openrc
			%tr
				%td
					%p Test an OpenStack command
				%td
					%p.code openstack image list
			%tr
				%td
					%p If you get python errors try these commands:
				%td
					%p.code pip uninstall six
					%p.code pip install six
			%tr
				%td
					%p Following future OpenStack updates, all installed <code>pip</code> modules can be updated with this command:
				%td
					%p.code pip freeze --local | grep -v '^-e' | cut -d = -f 1 | xargs -n1 pip install -U

	</div>

	#api:install-linux
		:markdown
			## [Installing the Openstack clients on Linux](#api:install-linux)

			This will help you get the Openstack clients working on Linux using Python.

			_**Follow the instructions below at your own risk.**_

	<div class="w-60">
	%table
		%thead
			%tr
				%th Task
				%th Command
			%tr
				%th Optional Virtualenv creation
				%th Though not strictly necessary, we recommend using virtualenv to increase the stability of the openstack cli tools.
		%tbody
			%tr
				%td
					%p Create a directory for the project (cd to your preferred directory first)
				%td
					%p.code mkdir &lt;project_name&gt;
			%tr
				%td
					%p Change to the project directory
				%td
					%p.code cd &lt;project_name&gt;
			%tr
				%td
					%p Install the VirtualEnvironment packages
				%td
					%p.code sudo easy_install virtualenv
			%tr
				%td
					%p Start the VirtualEnvironment software
				%td
					%p.code virtualenv &lt;project_name&gt;
			%tr
				%td
					%p Activate the VirtualEnvironment for the project
				%td
					%p.code source &lt;project_name&gt;/bin/activate
			%tr
				%th &nbsp;
				%th &nbsp;
			%tr
				%td
					%p <strong>DEPRECATED</strong> - This step is only necessary for Openstack clients &lt; v4.0. The current production version is 4.x which uses Python 3.
					%p Make sure you have Python 2 installed
				%td
					%p This should already be installed by your operating system. <strong>Openstack CLI clients MUST be installed with Python2's pip!</strong>

					%p Check your default Python version with: <code>python --version</code>
			%tr
				%td
					%p Install the OpenStack clients
				%td
					%p For modern clients:

					%p.code pip3 install python-openstackclient

					%p For Openstack clients &lt; v4.0:
	
					%p.code pip install python-openstackclient

					%p <em><strong>Additional clients that may also be useful depending on your custom needs are:</strong></em>

					%p python-swiftclient, python-heatclient, python-magnumclient, python-manilaclient 

					%p <em><strong>For current users, clients that you likely no longer need to install are:</strong></em>

					%p python-keystoneclient, python-novaclient, python-neutronclient, python-cinderclient, python-glanceclient
			%tr
				%td
					%p Set up your OpenStack credentials<br />See Setting up openrc.sh for details.
				%td
					%p.code source .openrc
			%tr
				%td
					%p Test an Open Stack command
				%td
					%p.code openstack flavors list
			%tr
				%td
					%p Following future OpenStack updates, all installed pip modules can be updated with this command:
				%td
					%p.code pip freeze --local | grep -v '^-e' | cut -d = -f 1 | xargs -n1 pip install -U


	#api:commands
		:markdown
			## [OpenStack command line](#api:commands)

			There are many options and tools for using the OpenStack API from the command line. Follow the instructions in the table below to set up a security policy and network, launch and manage a VM and then remove the entire structure.

			<span style="font-weight: bold; color: red">NOTE:</span> There is also an <a target="_blank" href="https://github.com/jlf599/JetstreamAPITutorial">API tutorial</a> that the Jetstream team uses. This goes into greater detail on some topics and may be of value to those learning the OpenStack CLI.

			Notes:

			* You should be running the latest version of the clients. We recommend using python-openstack >= 4.0 as it uses Python3 and removes the dependencies on the now deprecated Python2.
			* It is possible to create entities with the same name; e.g. you could create two networks with the same name; however, they will have different UUIDs. When this occurs you may get a cryptic error message about that entity may not exist or some other baffling error. In this case, you must address the entity by its UUID.
			* In the examples below we often use ${OS_USERNAME}-api-whatnot to name an entity. We do this so that a first time user could more or less cut and paste the example and create a working instance that is unique to you and to distinguish from other users in your project.
			* It is important to understand that everything is owned by the project. Other users in your project can see and manipulate entities that you have created. Be careful in your naming and pay attention to the things you are manipulating.
			* In older OpenStack documentation you may come across the term _tenant_. The term is interchangeable with the newer term _projects_.

		<div class="portlet-msg-info">Get help from a command line tool (an example): openstack security group create
		<br />
		<pre>usage: openstack security group create &lt;name&gt;</pre>
		Creates a security group.<br /><br />
		Positional arguments:<br />
		<br />
		<pre>&lt;name&gt;&nbsp;&nbsp;&nbsp;Name of security group</pre>
		</div>

		:markdown
			The first thing you'll need to do before being able to do any CLI commands is source the openrc file you created.

				source openrc-file-name

			You can also make the output look nicer in your terminal with the --fit-width option:

				openstack image show JS-API-Featured-Centos7-Latest --fit-width

			You can make that permanent by adding this to your environment:

				export CLIFF_FIT_WIDTH=1

	<div class="w-60">
	%table
		%thead
			%tr
				%th Create a security group - do this once at IU and/or TACC before launching instances.
				%th Comand line
		%tbody
			%tr
				%td
					:markdown
						Create a security group that will enable inbound ping and SSH. For more info see,

						<https://wiki.openstack.org/wiki/Neutron/SecurityGroups>

						**Important note:** On OpenStack, the default is that NO ports are open versus the traditional all ports are open unless specifically closed. For this reason, a security group must be established and the SSH port opened in order to allow login.
				%td
					%p.code openstack security group create --description "ssh & icmp enabled" ${OS_USERNAME}-global-ssh
					%p.code openstack security group rule create --protocol tcp --dst-port 22:22 --remote-ip 0.0.0.0/0 ${OS_USERNAME}-global-ssh
					%p.code openstack security group rule create --protocol icmp ${OS_USERNAME}-global-ssh
			%tr
				%th
					:markdown
						Upload SSH key - do this once	 
				%th
					:markdown
						&nbsp;
			%tr
				%td
					:markdown
						If you have an SSH key upload id_rsa & id_rsa.pub to nova
						_(note: Key filenames may vary)_
				%td
					%p.code cd ~/.ssh
					%p.code openstack keypair create --public-key id_rsa.pub ${OS_USERNAME}-api-key
			%tr
				%td
					:markdown
						If you don't have an SSH key then create a new key and upload to nova.
				%td
					%p.code ssh-keygen -b 2048 -t rsa -f ${OS_USERNAME}-api-key -P ""
					%p.code openstack keypair create --public-key id_rsa.pub ${OS_USERNAME}-api-key
			%tr
				%th
					Setup the network - do this once
				%th
					OpenStack command
			%tr
				%td
					:markdown
						Create a private network
				%td
					%p.code openstack network create ${OS_USERNAME}-api-net
			%tr
				%td
					%p Verify that the private network was created
				%td
					%p.code openstack network list
			%tr
				%td
					%p Create a subnet within the private network space
				%td
					%p.code openstack subnet create --network ${OS_USERNAME}-api-net --subnet-range 10.0.0.0/24 ${OS_USERNAME}-api-subnet1
			%tr
				%td
					%p Verify that subnet was created
				%td
					%p openstack subnet list
			%tr
				%td
					%p Create a router
				%td
					%p.code openstack router create ${OS_USERNAME}-api-router
			%tr
				%td
					%p Connect the newly created subnet to the router (use names instead of UUIDs)
				%td
					%p.code openstack router add subnet ${OS_USERNAME}-api-router ${OS_USERNAME}-api-subnet1
			%tr
				%td
					%p Connect the router to the gateway named "public"
				%td
					%p.code openstack router set --external-gateway public ${OS_USERNAME}-api-router
			%tr
				%td
					%p Verify that the router has been connected to the gateway
				%td
					%p.code openstack router show ${OS_USERNAME}-api-router
			%tr
				%th
					%p Create and launch a VM
				%th
					%p OpenStack commands
			%tr
				%td
					%p See what sizes (flavors) are available
				%td
					%p.code openstack flavor list
			%tr
				%td
					%p See what Images are available for API use 

					%p <span style="color: green">The Jetstream team makes <span style="color: blue">JS-API-Featured</span> images available from which to build.</span> <span style="font-style: italic; color: red">Using images from Atmosphere <strong>WILL LIKELY NOT WORK CORRECTLY</strong></span>.
				%td
					%p.code openstack image list --limit 1000  |  grep JS-API-Featured
			%tr
				%td
					%p Create and boot an instance<br />Notes:
					<ul><li><em>Make sure your SSH keyname matches.</em></li>
					<li><em>${OS_USERNAME}-api-u-1 is the name of the instance; make it something meaningful for you.</em></li>
					</ul>
				%td
					%p.code openstack server create ${OS_USERNAME}-api-U-1 --flavor m1.tiny --image IMAGE-NAME --key-name ${OS_USERNAME}-api-key --security-group ${OS_USERNAME}-global-ssh --nic net-id=${OS_USERNAME}-api-net
			%tr
				%td
					%p Create a public IP address for an instance
				%td
					%p.code openstack floating ip create public
			%tr
				%td
					%p Add that public IP address to that instance
				%td
					%p.code openstack server add floating ip ${OS_USERNAME}-api-U-1 your.ip.number.here
			%tr
				<th colspan="2">Things to do once the instance is running</th>
			%tr
				%td
					%p You're ready to log in to the running instance via ssh to public IP
				%td
					%p.code ssh -i ${)S_USERNAME_-api-key centos@your.ip.number.here<br/>or<br/>ssh -i ${)S_USERNAME_-api-key ubuntu@your.ip.number.here
			%tr
				%td
					%p Reboot, suspend, stop or shelve an instance
				%td
					%p.code openstack server reboot ${OS_USERNAME}-api-U-1
					%p.code openstack server suspend ${OS_USERNAME}-api-U-1
					%p.code openstack server stop ${OS_USERNAME}-api-U-1
					%p.code openstack server shelve ${OS_USERNAME}-api-U-1
			%tr
				%th
					%p Commands to clean up what was created above
				%th
					%p OpenStack commands
			%tr
				%td
					%p Remove the public IP address from the instance
				%td
					%p.code openstack server remove floating ip ${OS_USERNAME}-api-U-1 your.ip.number.here
			%tr
				%td
					%p Delete an instance
				%td
					%p.code openstack server delete ${OS_USERNAME}-api-U-1
			%tr
				%td
					%p Return the public IP address to the pool of IP numbers	
				%td
					%p.code openstack floating ip delete your.ip.number.here
			%tr
				%th
					%p Clean up commands for other entities
				%th
					%p Note that you often want to create infrastructure such as networks, subnets, routers, etc. only once and not delete them. These entities are reusable by all members of your project.
			%tr
				%td
					%p Disconnect the router from the gateway
				%td
					%p.code openstack router unset --external-gateway ${OS_USERNAME}-api-router
			%tr
				%td
					%p Delete the subnet from the router
				%td
					%p.code openstack router remove subnet ${OS_USERNAME}-api-router ${OS_USERNAME}-api-subnet1
			%tr
				%td
					%p Delete the router
				%td
					%p.code openstack router delete ${OS_USERNAME}-api-router
	</div>

	#api:install-troubleshoot
		:markdown
			### [Troubleshooting your API instances from the Openstack Command Line](#api:install-troubleshoot)

			In addition to the common OpenStack CLI commands like `openstack server list`, here are some typical commands to troubleshoot an instance from the command line.

	<div class="w-60">
	%table
		%thead
			%tr
				%th Command
				%th What it does
		%tbody
			%tr
				%td
					%p openstack server show <em><strong>UID</strong></em>
				%td
					%p shows you the state of the instance and any OpenStack errors
			%tr
				%td
					%p openstack console log show <em><strong>UID</strong></em>
				%td
					%p shows you the running console log of the instance (same as doing "dmesg" from the command line of the instance itself)
			%tr
				%td
					%p openstack console url show <em><strong>UID</strong></em>
				%td
					%p yields a URL you can paste into your browser to get a login console for your instance

	</div>

	:markdown
		Usually a combination of these things will let you see what's going on and what to do to fix. You can also do all of these things from Horizon.

	#api:volumes-cmd
		:markdown
			## [Creating and using volumes from the command line](#api:volumes-cmd)

			Assuming you have an allocation for Jetstream storage, you can create and use volumes from the command line.

		%p To view any volumes you might have:
		%pre openstack volume list

		%p To create a 10 GB volume, you can do:
		%pre openstack volume create --size 10 ${OS_USERNAME}-10GVolume

		%p Then you can attach it to an instance for use:
		%pre openstack server add volume vm-uid-number volume-uid-number

		%p From your instance, you can now create a mount point, view the device, and create the filesystem (using ext4 as the filesystem type for this example).
		%pre # mkdir /vol_b
		%pre # fdisk -l /dev/sdb
		%pre # mkfs.ext4 /dev/sdb 
		%p If you get the following warning, it's safe to hit 'y' to proceed:
		%pre /dev/sdb is entire device, not just one partition!
		%pre Proceed anyway? (y,n)
		%pre # mount /dev/sdb /vol_b
		%p Assuming you didn't get any errors, /dev/sdb should now be mounted on /vol_b

		%p <em>Note: Linux has a special mount option for file systems called noatime. If this option is set for a file system in /etc/fstab, then reading accesses will no longer cause the atime information (last access time - don't mix this up with the last modified time - if a file is changed, the modification date will still be set) that is associated with a file to be updated (in reverse this means that if noatime is not set, each read access will also result in a write operation). Therefore, using noatime can lead to significant performance gains.</em>

		%pre # touch /vol_b/foo

		%pre # ls -la /vol_b/

		<pre>
		total 24
		drwxr-xr-x   3 root root  4096 Jul 13 13:37 .
		dr-xr-xr-x. 18 root root  4096 Jul 13 11:50 ..
		\-rw-r--r--   1 root root     0 Jul 13 13:37 foo
		drwx------   2 root root 16384 Jul 13 13:36 lost+found
		</pre>

		%pre # df -h

		<pre>
		Filesystem      Size  Used Avail Use% Mounted on
		\/dev/sda1       8.0G  2.4G  5.7G  30% /
		devtmpfs        902M     0  902M   0% /dev
		tmpfs           920M     0  920M   0% /dev/shm
		tmpfs           920M   17M  904M   2% /run
		tmpfs           920M     0  920M   0% /sys/fs/cgroup
		tmpfs           184M     0  184M   0% /run/user/0
		\/dev/sdb        9.8G   37M  9.2G   1% /vol_b
		</pre>

		%p To make the volume mount persist, you can add an entry to <code>/etc/fstab</code> similar to this:

		%pre /dev/sdb /vol_b ext4 defaults,noatime 0 0

		%p You would need to change as needed for a different device id, mount point, and file system type. We do recommend using the <strong><em>noatime</em></strong> option as shown in the example.

		%p Once you are done with your volume or want to use it with another VM, if you are not shutting down the VM, you'll need to unmount it. 

		%pre umount /vol_b
		%p To detach it from the VM, you'll do:
		%pre openstack server remove volume vm-uid-number volume-uid-number
		%p Doing <code>openstack volume list</code> now should show the volume as available:
		%pre openstack volume list

		%table.plain
			%tbody
				%tr
					%th ID
					%th Display Name
					%th Status
					%th Size
					%th Attached to
				%tr
					%td af59d4fa-ced2-4049-a062-7b2a15807b7f
					%td jlf599-10GVolume
					%td available
					%td 10
					%td &nbsp;

		%p If you want to completely destroy a volume, you can do:
		%pre openstack volume delete volume-uid-number


	#api:horizon
		:markdown
			### [Using the OpenStack Horizon GUI Interface](#api:horizon)
			#### Part 1: Create Private Network

	<p><strong>1. Login to Horizon.</strong></p>
	:markdown

		* IU: <https://jblb.jetstream-cloud.org/dashboard>
		* TACC: <https://tacc.jetstream-cloud.org/dashboard>
		* Domain: TACC
		* User Name: _your TACC username_
		* Password: _your TACC password_

	<div style="margin-left: 26%"><img alt="" src="/documents/10308/1181156/h_api_login.jpg/3344b531-2145-4749-8bbc-60116bfbb329?t=1479583851929" style="width: 250px; height: 342px"><br />
	<strong>Figure H-1:</strong> Horizon login dialog</div>

	<hr style="clear: both" />

	<p><strong>1a: Make sure you're using the correct allocation.</strong></p>

	<p>If you have multiple allocations, you'll want to make sure your usage is being attributed to the correct allocation. You can see which allocation you're using at the top left.</p>

	<p>If you need to change the allocation, click on the area next to the OpenStack logo that says "tacc * TG-xxxxxxxxx" and it will show the allocations you can select. Chose the appropriate allocation from the list.</p>

	<div style="margin-left: 26%"><img alt="" src="/documents/10308/1181156/h_api_login-1a.jpg/8fb9c474-5a2f-4ba6-9a14-3a875cf249cc?t=1586198495610" style="width: 250px; height: 234px;" /><br />
	<strong>Figure H-1a:</strong> Select allocation</div>

	<hr style="clear: both" />

	<p><strong>2. Click on Project &gt; Network &gt; Network Topology &gt; +Create Network.</strong></p>

	<div style="margin-left: 15%"><img alt="create network screenshot" src="/documents/10308/1181156/h_api_net_topo1.jpg/d460e60b-3182-4fca-b467-12b2599a886d?t=1479583879496" style="width: 400px; height: 114px"><br />
	<strong>Figure H-2:</strong> Create Network menu option</div>

	<hr style="clear: both" />

	<p><strong>3. Enter a network name, for example, <em>username_net</em>.</strong></p>
	<p>After giving it a descriptive name, press the blue NEXT button.</p>

	<div style="margin-left: 15%"><img alt="create network screenshot" src="/documents/10308/1181156/h_api_c_net1.jpg/ca8e1a91-25d2-4281-a5f6-2171fda18bd9?t=1479583651487" style="width: 400px; height: 207px"><br />
	<strong>Figure H-3:</strong> Use a Descriptive Network Name</div>

	<hr style="clear: both" />

	<p><strong>4. Enter a subnet name, e.g. <em>username_subnet</em>, a network address, e.g. <em>10.10.10.0/24</em> and a gateway address, e.g. <em>10.1.1.1.</em></strong></p>
	<p>This should be a non-routable subnet. You can use <strong>10.0.0.0 - 10.255.255.255, 172.16.0.0 - 172.31.255.255, 192.168.0.0 - 192.168.255.255</strong>.</p>
	<p>If you're not sure what to choose, you can go with 10.1.1.0/24. This will give you 255 available addresses in the 10.1.1.0 domain.</p>
	<p>If you choose 10.1.1.0/24 you can then set the gateway address to be 10.1.1.1.</p>
	<p>Then press the blue NEXT button.</p>
	<div style="margin-left: 15%"><img alt="create network screenshot 2" src="/documents/10308/1181156/h_api_c_net2.jpg/96c3cadb-ae15-4f61-9813-22ef2a6d356a?t=1479583807395" style="width: 400px; height: 284px"><br />
	<strong>Figure H-4:</strong> Choose Network Addresses</div>

	<hr style="clear: both" />

	<p><strong>5. Click Create to create the new network.</strong></p>
	<p style="color: red"><strong>NOTE:</strong> Do NOT uncheck the "Enable DHCP" box unless you are familiar with setting the advanced features of OpenStack networks, subnets, and routers.</p>
	<div style="margin-left: 15%"><img alt="create network screenshot 3" src="/documents/10308/1181156/h_api_c_net3.jpg/4650ab88-1a91-49f5-96a3-d5f5db252778?t=1479583815386" style="width: 400px; height: 344px"><br />
	<strong>Figure H-5:</strong> Create the Network</div>

	<hr style="clear: both" />

	<p><strong>6. Click on +Create Router.</strong></p>
	<div style="margin-left: 15%"><img alt="network topo 2 screenshot" src="/documents/10308/1181156/h_api_net_topo2.jpg/f19c29e4-6a1d-49dd-9fcb-a7daa7449498?t=1479583894369" style="width: 400px; height: 114px"><br />
	<strong>Figure H-6:</strong> Create a Router</div>

	<hr style="clear: both" />

	<p><strong>7. Enter a router name, e.g. <em>username_router</em>, under the the External Network dropdown, select <em>public</em>, then click Create Router.</strong></p>
	<div style="margin-left: 15%"><img alt="create router screenshot" src="/documents/10308/1181156/h_api_c_route.jpg/e7f213f7-a40e-4774-af57-00ddfa8588c7?t=1479583840375" style="width: 400px; height: 197px"><br />
	<strong>Figure H-7:</strong> Create the Router</div>

	<hr style="clear: both" />

	<p><strong>8. You'll need to connect your private network to the router. Make sure  you're in Graph mode (vs Topology mode). Your screen should look like the image below. If it looks like bars it's in Topology mode, click the Graph tab under the Network Topology page heading to put it into Topology mode.</strong></p>
	<div style="margin-left: 15%"><img alt="verify graph mode" src="/documents/10308/1181156/h_api_c_mode.jpg/7e80bd0f-d8b0-4522-8d67-b2d291f54039?t=1589829542510" style="width: 400px; height: 260px"><br />
	<strong>Figure H-8:</strong> Verify Graph Mode</div>

	<hr style="clear: both" />

	<p><strong>8a. Add the interface for your private network.</strong></p>

	:markdown
		* Click on the router you just created
		* Click on +Add Interface

	<div style="margin-left: 15%"><img alt="connect private screenshot" src="/documents/10308/1181156/h_api_c_priv.jpg/075e3f3b-c7c6-4604-9137-a5ac256cbc37?t=1479583824766" style="width: 400px; height: 150px"><br />
	<strong>Figure H-8a:</strong> Add Interface for Private Network</div>

	<hr style="clear: both" />

	<p><strong>9. Select the subnet you just created from the dropdown list. Click Submit.</strong></p>
	<div style="margin-left: 15%"><img alt="add interface screenshot" src="/documents/10308/1181156/h_api_add_if.jpg/fc329f4a-fece-46f0-8d05-3d2281ee0488?t=1479583641755" style="width: 400px; height: 234px"><br />
	<strong>Figure H-9:</strong> Connect Subnet to the Router</div>

	<hr style="clear: both" />

	<p><strong>10. The network should now be connected to the new router. The end result will look similar to this diagram.</strong></p>
	<div style="margin-left: 15%"><img alt="network diagram screenshot" src="/documents/10308/1181156/h_api_net_diag.jpg/5f006b93-e07f-49d3-9afb-9279a35a90ed?t=1479583867395" style="width: 250px; height: 233px"><br />
	<strong>Figure H-10:</strong> Network Diagram</div>

	<hr style="clear: both" />

	:markdown
		#### Part 2: Create Security Group

		Each project has its own firewall rules. You will need to add at least an ssh rule to allow yourself to ssh into your instances.

		* On the left side bar, click on Network &gt; Security Groups
		* Click **+Create Group** on the right side of the screen and give your new group a descriptive name and optional description.
		* Click the blue **Create Security Group** button

	<div style="text-align: center">
	<img alt="create security group screenshot" src="/documents/10308/1181156/create-sec-group.png/fb6ffdbf-8302-4c7a-a9bc-ee73922d1a9a?t=1528042652000" style="width: 600px; height: 287px;" /><br />
	<strong>Figure H-11:</strong> Create a Security Group</div>

	:markdown
		#### Part 3: Create Security Rules

		* Click the checkbox by the security group you just created and then click Manage Rules
		* Click Add Rule
		* Rule: Choose SSH from the dropdown - you can keep the defaults
		* Click Add

		You should see your new SSH rule in the list.

		You'll also want to add a rule to allow ICMP.

		* Click Add Rule
		* Rule: Choose All ICMP from the dropdown - you can keep the defaults
		* Click Add

	<div style="text-align: center">
	<img alt="create security rules screenshot" src="/documents/10308/1181156/ssh-rule.png/c7c75955-ed9a-4cda-ab1f-112a001abd81?t=1528042610000" style="width: 600px; height: 467px;" /><br />
	<strong>Figure H-12:</strong> Create Security Rules</div>

	:markdown
		#### Part 4: Upload SSH Key

		You will need to upload at least 1 ssh public key in order to access the instances you create. This assumes you already have an SSH key pair that you use. If not, you can create a key pair via this screen.

		%p <em><span style="color: red">Note:</span> Jetstream recommends and <strong>only supports</strong> using RSA-based SSH keys or ed25519-based keys.</em>

		* On the left side bar, click on Compute &gt; Key Pairs
		* Click Import Key Pair
			* Key Pair Name: _username_key_
			* Public Key: _Paste the contents of your public key file here - generally in your ~/.ssh/identity_rsa.pub file_
			* Click Import Key Pair

	<div style="text-align: center">
	<img alt="upload ssh key screenshot" src="/documents/10308/1181156/add-key.png/1b9bddc1-8519-4b7a-ae30-be551fcd5398?t=1528042591000" style="width: 600px; height: 414px;" /><br />
	<strong>Figure H-13:</strong> Upload SSH Key</div>

	#api:launch-instance
		:markdown
			### [Launching an instance](#api:launch-instance)

			With the network, security group and ssh key set up, you should be ready to launch an instance.

			#### [Launching an instance - Step 1](#api:launch-instance:step-1)

			* On the left side bar, click on Project -> Compute ->  Instances
			* Click Launch Instance
			* Give your instance a descriptive name.
			* You can take the defaults for the rest of the items.
			* Click Next.

		<div style="text-align: center">
		<img alt="launch instance step 1 screenshot" src="/documents/10308/1181156/launch-screen-1.png/5752e43b-02ab-4780-881f-d14bc2bbcb9c?t=1528048128868" style="width: 600px; height: 370px;" /><br />
		<strong>Figure H-14:</strong> Launch Instance - Step 1</div>

		:markdown
			#### [Launching an instance - Step 2](#api:launch-instance:step-2)

			* On the Source screen, make sure the "Select Boot Source" option is "Image". - <strong><em>Please note that it may take 30-60 seconds for that option to appear and to fully populate that list as it pulls the entire image catalog listing anew each time!</em></strong>
			* Type <em>JS-API-Featured</em> in the "Available" box to find the Jetstream API Featured images. You can also boot one of the images shown in the list if you'd rather do that, but we only guarantee the featured images will work for anyone. 
			* Find the image you want to use and click the arrow to the right of its name. You'll see it show up under "Allocated" towards the top of the dialog box. Click Next.
				* <span style="color: red"><strong>NOTE:</strong> If deploying a non-public image that has been shared to your project from another project, you will need to choose the correct <strong><em>VISIBILITY</em></strong> filter option in the dropdown menu as the list defaults to only public or your own private images.</span>

		<div style="text-align: center">
		<img alt="launch instance step 2 screenshot" src="/documents/10308/1181156/launch-screen-2.png/f51bbf64-2f91-4aa0-918d-484a4b46d745?t=1528050234044" style="width: 600px; height: 494px;" /><br />
		<strong>Figure H-15:</strong> Launch Instance - Step 2</div>

		:markdown
			#### [Launching an instance - Step 3](#api:launch-instance:step-3)

			* On the Flavor screen, select the size VM you want to use and click the arrow to the right of its description. Like the previous screen, you'll see it move up into the "Allocated" area towards the top of the box.
			* Click Next.

		<div style="text-align: center">
		<img alt="launch instance step 3 screenshot" src="/documents/10308/1181156/launch-screen-3.png/0eae8fa0-8e22-403a-b8a6-e4398d7a0e1e?t=1528050293573" style="width: 600px; height: 489px;" /><br />
		<strong>Figure H-16:</strong> Launch Instance - Step 3</div>

		:markdown
			#### [Launching an instance - Step 4](#api:launch-instance:step-4)

			* On the Networks screen, find the network you created earlier and click the arrow to the right of its description. Like the previous screen, you'll see it move up into the "Allocated" area towards the top of the box.
			* Click Next.
			* Click Next again to skip the Network Ports screen and proceed to Security Groups

		<div style="text-align: center">
		<img alt="launch instance step 4 screenshot" src="/documents/10308/1181156/launch-screen-4.png/ff9207a0-154e-486a-8e6c-4242b9be662f?t=1528050327200" style="width: 600px; height: 369px;" /><br />
		<strong>Figure H-17:</strong> Launch Instance - Step 4</div>

		:markdown
			#### [Launching an instance - Step 5](#api:launch-instance:step-5)

			* On the Security Groups screen, select the security group you created earlier and click the arrow to the right of its description. Like the previous screen, you'll see it move up into the "Allocated" area towards the top of the box.
			* Click Next.

		<div style="text-align: center">
		<img alt="launch instance step 5 screenshot" src="/documents/10308/1181156/launch-screen-4.png/ff9207a0-154e-486a-8e6c-4242b9be662f?t=1528050327200" style="width: 600px; height: 369px;" /><br />
		<strong>Figure H-18:</strong> Launch Instance - Step 5</div>

		:markdown
			#### [Launching an instance - Step 6](#api:launch-instance:step-6)

			* On the Key Pair screen, if the key pair you created earlier is NOT in the "Allocated" section, click the arrow to the right of its description. Like the previous screen, you'll see it move up into the "Allocated" area towards the top of the box.
			* At this point you can click "Launch Instance"

		<div style="text-align: center">
		<img alt="launch instance step 6 screenshot" src="/documents/10308/1181156/launch-screen-6.png/1b29f62f-9441-4370-8353-ef3e85b91fdb?t=1528050384159" style="width: 600px; height: 401px;" /><br />
		<strong>Figure H-19:</strong> Launch Instance - Step 6</div>


	#api:public-ip
		:markdown
			### [Add a Public IP](#api:public-ip)

			#### [Add a public IP (floating IP) - Step 1](#api:public-ip:step-1)

			* Your instance should now show up in your instances list. 
			* Once it has entered the running state, click the dropdown at the far right and select "Associate Floating IP".

		<div style="text-align: center">
		<img alt="add public ip - step 1 screenshot" src="/documents/10308/1181156/associate-ip.png/b3b5e475-0193-4e27-b68a-fc82b854326f?t=1528154466927" style="width: 600px; height: 398px;" /><br />
		<strong>Figure H-20:</strong> Add Public IP - Step 1</div>

		:markdown
			#### [Add a public IP (floating IP) - Step 2](#api:public-ip:step-2)

			* If you have an IP allocated, you'll see it in the IP Address list. If you do not, click the + sign to allocate a new IP address.

		<div style="text-align: center">
		<img alt="add public ip - step 2 screenshot" src="/documents/10308/1181156/manage-ip.png/ab1f6df8-6c0f-4863-a301-45071fe92afe?t=1528154480727" style="width: 600px; height: 242px;" /><br />
		<strong>Figure H-21:</strong> Add Public IP - Step 2</div>

		:markdown
			#### [Add a public IP (floating IP) - Step 3](#api:public-ip:step-3)

			* Make sure "Public" is selected under Pool.
			* Click Allocate IP.

		<div style="text-align: center">
		<img alt="add public ip - step 3 screenshot" src="/documents/10308/1181156/allocate-ip.png/baa95a65-9000-407f-bd18-22dc93521e71?t=1528154490335" style="width: 600px; height: 282px;" /><br />
		<strong>Figure H-22:</strong> Add Public IP - Step 3</div>

		:markdown
			#### [Add a public IP (floating IP) - Step 4](#api:public-ip:step-4)

			* Note your new IP address and make sure it's the one you want to associate with the instance.
			* Note that the correct instance is selected under "Port to be associated".
			* If all is well, click Associate.

		<div style="text-align: center">
		<img alt="add public ip - step 4 screenshot" src="/documents/10308/1181156/manage-association.png/c8243ab1-e304-4387-a693-a3e4bcb4bb08?t=1528154497816" style="width: 600px; height: 240px;" /><br />
		<strong>Figure H-23:</strong> Add Public IP - Step 4</div>

		:markdown
			#### [Test the connection](#api:public-ip:test-connection)

			* Please note that sometimes it takes a few seconds or even a little more for the association to become active.
			* Try pinging your host: ping -c 5 ip_address

		<div style="text-align: center">
		<img alt="test connection screenshot" src="/documents/10308/1181156/ping-test.png/a1369dbb-5dab-41ef-af18-d87f3e575fd3?t=1528154507000" style="width: 600px; height: 186px;" /><br />
		<strong>Figure H-24:</strong> Test Connection to Public IP</div>

		:markdown
			#### [Try ssh to your instance](#api:public-ip:try-ssh)

			* If you chose a CentOS-based instance, your default user is _centos_.
			* If you chose an Ubuntu-based instance, your default user is _ubuntu_.
			* Access your host with SSH. The example from a terminal-based ssh-client as on Linux or a Mac would be _**ssh centos@your_ip_number**_ or _**ssh ubuntu@your_ip_number**_.
			* Note that the first time you connect, you'll get a request to verify that you're getting a new host key and making sure you want to connect.

		<div style="text-align: center">
		<img alt="try ssh screenshot" src="/documents/10308/1181156/ssh-test.png/b19d0f62-77f4-4c23-afd1-f98229b17ab4?t=1528154513000" style="width: 600px; height: 131px;" /><br />
		<strong>Figure H-25:</strong> Connection to Instance with SSH</div>

	#api:snapshots-horizon
		:markdown
			## [Creating a snapshot of an instance in Horizon](#api:snapshots-horizon)

			When you have created a custom workflow or configuration on the API side, you can create a snapshot for your own use. In <strong>OpenStack</strong>, an instance <strong>snapshot</strong> is an image. The only difference between an image that has been uploaded directly to glance and an image you create by snapshot is that an image created by snapshot has additional properties in the glance database and defaults to being private.

			You can create an snapshot from a running server instance, but if you want to preserve data, you must shut down the source VM and verify the instance status is SHUTOFF before creating the snapshot. 

		<p><span style="color: red; font-weight: bold">Before creating the snapshot and/or image, you'll want to make sure that cloud-init is installed on your instance as well as qemu-guest-agent.</span> If your instance was based on one of the JS-Featured-API images, both cloud-init and qemu-guest-agent should be present unless you explicitly removed them.</p>

		<ol>
		<li>Log in to the Horizon dashboard and go to Project &gt; Compute &gt; Instances. Find the instance you want to snapshot and note the Create Snapshot button.</p>

		<div style="text-align: center; margin-bottom: 1rem">
		<img alt="create snapshot" src="/documents/10308/1181156/create-snapshot.jpg/a39530a4-288a-4838-be5e-005203d1b91f?t=1568148433280" style="width: 600px; height: 357px;" />
		<strong>Figure S-1: </strong>Create a Snapshot</div></li>

		<li><p>Click Create Snapshot. In the dialog box that comes up, give it a descriptive name. A best practice is to give is a name that describes the image and has rudimentary version information - e.g. <code>primary-gateway-image-v1</code>. Click Create Snapshot once you've given it a name.</p>

		<div style="text-align: center; margin-bottom: 1rem">
		<img alt="name snapshot" src="/documents/10308/1181156/name-snapshot.jpg/6c74ac51-ccaf-4285-999e-573279fbbddb?t=1568148466000" style="width: 600px; height: 207px;" />
		<strong>Figure S-2: </strong>Name the Snapshot</div></li>

		<li><p>Once you do this, it will take you to the Project &gt; Compute &gt; Images screen. You can find your pending snapshot by using the filter.</p><p>You'll see it in state "Queued". This is normal. <em>Please note that if you refresh this screen or filter/unfilter that it might take 10-15 seconds to refresh the list. It has to pull the entire image list again each time.</em></p>

		<div style="text-align: center; margin-bottom: 1rem">
		<img alt="queue snapshot" src="/documents/10308/1181156/queue-snapshot.jpg/ae1f6e73-819d-4099-9aa5-55da206efa68?t=1568148480000" style="width: 600px; height: 300px;" />
		<strong>Figure S-3: </strong>Queue the Snapshot</div></li>

		<li><p>After a few minutes (or possibly more), depending on system load, you should see it change status to Active. At this point you can click "Launch" and launch a new instance from it using the step by step launch instructions on <a href="#api:horizon">Using the OpenStack Horizon GUI Interface</a>.<p/><p>If you've launched instances previously on the API side with either Horizon or the CLI and left your network, security groups, and keys intact, you can start with the step <a href="#api:launch-instance">Launching an instance - Step 1</a></p>
		<div style="text-align: center; margin-bottom: 1rem">
		<img alt="snapshot ready" src="/documents/10308/1181156/ready-snapshot.jpg/40531a16-76fa-4ba3-98ee-a74a498fa2ef?t=1568148496000" style="width: 600px; height: 296px;" />
		<strong>Figure S-4: </strong>Snapshot Ready</div></li></ol>
		<p>If your snapshot stays in Queued status for more than 45 minutes, there might be an issue with either the snapshot or the Glance image store in OpenStack. In this case, you should contact <a href="mailto:help@jetstream-cloud.org">help@jetstream-cloud.org</a> with your allocation number, the UID of snapshot (which you can get by clicking on it) and the UID of the instance you are trying to snapshot.</p>

	#api:manila
		:markdown
			## [Using Manila - Filesystems-as-a-Service - on Jetstream](#api:manila)

			__BETA!__

			Manila is the file share service project for OpenStack. Manila provides the management of file shares for example, NFS and CIFS, as a core service to OpenStack. Manila works with a variety of proprietary backend storage arrays and appliances, with open source distributed filesystems, as well as with a base Linux NFS or Samba server.

			Prereqs: Make sure you have the nfs client installed on your instance: <code>apt install nfs-common</code> for Ubuntu and <code>yum install nfs-utils</code> for CentOS

			Presently, Manila is in <span style="color: red; font-weight: bold; font-style: italic">BETA</span> mode on Jetstream and is only functional on the IU cloud.

		#api:manila-horizon
			:markdown
				### [To use Manila via Horizon](#api:manila-horizon)

				#### Create the share

				1. Click on: Project -> Share -> Shares -> Create Share
				1. Create the share with the following settings:

				* Protocol - nfs
				*  Share Type - cephnfstype

				#### Add an interface on the Manila network to an instance

				1. Click Compute -> Instances screen
				1. Click Attach Interface (under Create Snapshot tab at far right)
				1. Attach to *manila_testing (10.255.0.0/16)* network
				1. The instance should show the interface

				#### Attaching instance to the Manila network

				1. On a running instance, add an interface on the *manila_testing* network.
					1. Note the interface that gets added: `ip addr show` and note the interface name.
					1. For CentOS:

						<pre><code>cat > /etc/sysconfig/network-scripts/ifcfg-eth1 << EOF
						DEVICE="eth1"
						BOOTPROTO="dhcp"
						ONBOOT="yes"
						TYPE="Ethernet"
						PEERDNS="no"
						IPV6INIT="no"
						PERSISTENT_DHCLIENT="1"
						EOF</code></pre>

					1. For Ubuntu:
						* `sudo apt-get install nfs-common`
						* Create a file `/etc/netplan/10-ens7.yaml` and add the following text. Replace `10.255.0.58/16` with your manila_testing IP address and `fa:16:3e:89:82:b7` with your MAC address.

							<pre><code>network:
							  version: 2
							  renderer: networkd
							  ethernets:
							    ens7:
							      match:
							        macaddress: fa:16:3e:89:82:b7
							      mtu: 1450
							      dhcp4: no
							      addresses: [10.255.0.58/16]</code></pre>

						* To find the MAC address of the ens7 adapter do `ip addr` and look for the link/ether value.
						* `sudo netplan apply`
				1. Bring the interface up
					1. For CentOS:
						* `ifup eth1`
					1. For Ubuntu:
						* `p link set ens7 up`

				#### Exporting the Manila NFS filesystem to your instance

				1. In Horizon go to Project -&gt; Share -&gt; Shares and for your Manila filesystem select <code>Manage Rules</code> under the __Edit Share__ tab (right side)
				1. Add your IP address in the __Access To__ window
				1. Go back to the __Shares__ and click on Manila filesystem name (probably in <span style="color: blue">Blue</span>)
				1. Copy the __Export Locations Path:__ You will need it in step 2 below. It will look something like <code>10.255.0.1:/volumes/_nogroup/02324a83-9501-424a-961b-c052a19f911b</code>

				#### Mounting the Manila NFS filesystem

				1. Make sure you have your mount point created. Our example is `/ManilaShare`
				1. Use the Export Location Path copied above to mount the Manila filesystem; e.g.
					1. <em>mount 10.255.0.1:/volumes/_nogroup/9453a642-6333-4a65-b8ac-37c403b5f0c7 /ManilaShare/</em>

		#api:manila-openstack
			:markdown
				### [To use Manila via OpenStack](#api:manila-openstack)

				This document assumes you have Openstack and Manila clients installed on your machine. See [Installing the OpenStack Clients on Linux](#api:install-linux) for more information.

				#### Manila via OpenStack commands

				1. __Create an instance__
					* Detailed instructions on using the Openstack CLI
						* [OpenStack command line](#api:commands)
						* <a target="_blank" href="https://github.com/sanjanasudarshan/JetstreamAPITutorial_PEARC19">API Tutorial</a>
				1. __Add Manila network__
					* Add the manila_testing network to your running instance

					<pre><code>openstack server add network {server_UUID} manila_testing</code></pre>

					* `openstack server show {server_UUID}` will show the metadata for your server. Make a note of the manila_testing ip address added to the server.
				1. __Create a Manila share__
					* `manila type-list` will list the share types that exist.
						* To create a share with the NFS shared file system protocol, run

						<pre><code>manila create nfs 10 --name Share1 --description "Test Share" --share-type cephfsnfstype</code></pre>

						* The above command creates a 10 GB NFS share named Share1. You can see the metadata for your newly created share with `manila show Share1`.
				1. __Allow access to share__
					* Configure user access to the new share. Add the IP address of the manila_testing network from above and add read-write access.

					<pre><code>manila access-allow Share1 ip 10.255.0.30 --access-level rw</pre></code>

					* `manila access-list Share1` will list the IP addresses that have access to Share1.
					* To determine the path required to mount the NFS share, run
						* `manila share-export-location-list Share1`
				1. __Edit files on the virtual machine__
					* __CentOS__
						* Create a file `/etc/sysconfig/network-scripts/ifcfg-eth1` and add:

						<pre><code>cat > /etc/sysconfig/network-scripts/ifcfg-eth1 << EOF
						DEVICE="eth1"
						BOOTPROTO="dhcp"
						ONBOOT="yes"
						TYPE="Ethernet"
						PEERDNS="no"
						IPV6INIT="no"
						PERSISTENT_DHCLIENT="1"
						EOF</code></pre>

						* Bring the interface up with `sudo ifup eth1`

					* __Ubuntu__

						* Install nfs-common if it isn't installed: `sudo apt-get install nfs-common`
						* Create a file `/etc/netplan/10-ens7.yaml` and add the following text. Replace `10.255.0.51/16` with your manila_testing IP address and  `fa:16:3e:82:ad:ca` with your MAC address.

						<pre><code>network:
						  version: 2
						  renderer: networkd
						  ethernets:
						    ens7:
						      match:
						        macaddress: fa:16:3e:89:82:b7
						      mtu: 1450
						      dhcp4: no
						      addresses: [10.255.0.58/16]</code></pre>

						* To find the MAC address of the ens7 adapter do `ip addr` and look for the link/ether value.
						* Bring the interface up with `sudo ip link set ens7 up`
						* `sudo netplan apply`
				1. __Create a mount point__

					<pre><code>sudo mkdir /ManilaShare</code></pre>

				1. __Mount the share onto a host__

					* Use the path from the `manila share-export-location-list` in step 4.

					<pre><code>sudo mount -v -t nfs 10.255.0.1:/volumes/_nogroup/197cd142-5c34-404e-bbc7-19e5f65f8300 /ManilaShare/</pre></code>

					* If mounted successfully, you should be able to see it with `df -h`
				1. __Permanently mount the filesystem__
					* The nfs filesystem mounted in the previous step will unmount if the instance is rebooted. To ensure your filesystem is mounted when unshelved or rebooted the following line needs to be added to `/etc/fstab`:

					<pre><code>10.255.0.1:/volumes/_nogroup/197cd142-5c34-404e-bbc7-19e5f65f8300 /ManilaShare nfs defaults 0 0</code></pre>

	#api:snapshots-commandline
		:markdown
			## [Creating snapshots and new Glance images from the command line](#api:snapshots-commandline)

			When you have created a custom workflow or configuration on the API side, you can create a snapshot for your own use. In OpenStack, an instance snapshot is an image. The only difference between an image that has been uploaded directly to glance and an image you create by snapshot is that an image created by snapshot has additional properties in the glance database and defaults to being private.

			<strong>Glance</strong> is a central image repository which provides discovering, registering, retrieving for disk and server images.

			You can create a snapshot from a running server instance, but if you want to preserve data, you must shut down the source VM and verify the instance status is SHUTOFF before creating the snapshot.

			<p><span style="color: red; font-weight: bold">Before creating the snapshot and/or image, you'll want to make sure that <code>cloud-init</code> is installed on your instance as well as <code>qemu-guest-agent</code>.</span> If your instance was based on one of the JS-Featured-API images, both should be present unless you explicitly removed them.</p>

			### To create the snapshot from the command line:

				openstack server image create --name snapshot-image-name instance-name

			(e.g. `openstack server image create --name MyCustomCentos7Image-Feb-7-2017 my-CentOS7-instance`)

			Snapshots won't show in Horizon (this has been submitted as a bug and may be fixed real soon now) but for now, to make it visible you'll need to export it and bring it back as a Glance image. If you just plan to use this within your project and from the command line only, the rest of the steps aren't necessary. 

				openstack image save --file whatever_file_name_you_like.raw UID

			(e.g. `openstack image save --file c7custom-image.raw 569677d8-c7b0-4606-86d8-7673a5ecd5cf`)

			### Uploading a snapshot or new image into Glance:

				openstack image-create --public --disk-format raw
				--container-format bare --property skip_atmosphere=yes
				--property hw_disk_bus=scsi --property hw_scsi_model=virtio-scsi
				--property hw_qemu_guest_agent=yes --property os_require_quiesce=yes
				--file c7custom-image.raw My-Custom-Image-Name

		<div class="portlet-msg-info">
		<strong>Note</strong>
		<p>There are a lot of metadata tags there but those are important to ensure that your instances will create properly from the stored image. You definitely want to make sure you get them all.</p>
		<p>You can set the visibility property to community (all can see and boot), shared (only those you specify can see and boot), private (only your allocation can see and boot). See more information on <a target="_blank" href="https://wiki.openstack.org/wiki/Glance-v2-community-image-visibility-design">Glance visibility properties</a>.</p>
		</div>

	:markdown
		**Boot the new image. Test it. Make sure it works.** Do this before deleting. Please. Once it's gone, it's really gone. Be sure.

		**Delete your snapshot if you no longer need it.** For example:

			openstack image-delete 569677d8-c7b0-4606-86d8-7673a5ecd5cf

	#api:snapshots-sharing
		:markdown
			## [Sharing images you've created via the Jetstream/Openstack CLI](#api:snapshots-sharing)

			When you upload an image to Openstack, you set the visibility of your image. Our documentation for uploading an image from the CLI sets visibility to __*community*__. However, if you've set it to shared or private, you will need to change that if you want to share it. 

			If visibility is set to shared or private, visibility will be limited to the project/allocation where you uploaded (e.g. only members of your TG-xxxxxxx project will see it initially). If you need to share it with another allocation but do not want to make it visible to all projects, you will want to verify that the visibility is shared by doing:

				openstack image show <UUID or NAME> -c name -c id -c visibility

			To change the visibility for an image your allocation/project owns, do:

				openstack image set --shared <UUID or NAME>

			Then to share it with a project you do:

				openstack image add project <image UUID or NAME> <project>

			where project is the TG-xxxxxxxxx number of the allocation you want to share it with. Someone from the other project you are sharing it with would then need to do

				openstack image set --accept <image UUID or NAME>

			to accept the image.

			<div class="portlet-msg-info">
			<p>You can set the visibility property to community (all can see and boot), shared (only those you specify can see and boot), private (only your allocation can see and boot). See more information on <a target="_blank" href="https://wiki.openstack.org/wiki/Glance-v2-community-image-visibility-design">Glance visibility properties</a>.</p>
			</div>

	#api:orchestration
		:markdown
			## [Container Orchestration](#api:orchestration)

			<p style="color: red; font-weight: bold">Please note that container orchestration on Jetstream is in early development. We will do our best to help you with issues, but it may be a mutual learning effort.</p>

			This page is a work in progress!

			Basic Docker container support is available in the featured CentOS 7 and Ubuntu 16 images on both Atmosphere and API. Docker and Docker Compose are installed on those two featured images. 

			OpenStack provides a method of container orchestration through Magnum. Magnum is an OpenStack API service developed by the <a href="https://wiki.openstack.org/wiki/Teams/Containers" target="_blank">OpenStack Containers Team</a> making container orchestration engines such as Docker Swarm, Kubernetes, and Apache Mesos available as first class resources in OpenStack. Magnum uses Heat to orchestrate an OS image which contains Docker and Kubernetes and runs that image in either virtual machines or bare metal in a cluster configuration. You can watch a brief <a href="https://wiki.openstack.org/wiki/Magnum" target="_blank">demo of how the Magnum CLI works</a>.

			Another option for using Kubernetes (especially in relation to JupyterHub) is <a href="https://github.com/data-8/kubeadm-bootstrap" target="_blank">Kubeadm Bootstrapper</a>.

			This is not an official Jetstream project, though we are working directly with the developers and testers that have been creating it. This is part of the <a href="https://zero-to-jupyterhub.readthedocs.io/en/latest" target="_blank">Zero to JupyterHub project</a> from UC Berkeley.

			There are also other advanced topics using container orchestration on the [Advanced API Topics](#api:advanced-topics) page.

	#api:orchestration:create
		:markdown
			### [Creating a cluster template from the CLI](#orchestration:create)
			<code>openstack coe cluster template create --coe kubernetes \
			--image Fedora-Atomic-27-20180419 --keypair my_rsa_key --external-network public \
			--fixed-network my_network_name_or_UID --network-driver flannel --flavor vm_size \
			--master-flavor master_vm_size --docker-volume-size size_in_gb \
			--docker-storage-driver devicemapper --floating-ip-enabled My_Template_Name</code>

	#api:orchestration:launch
		:markdown
			### [Launching a cluster using the template from the CLI](#orchestration:launch)
			<code>openstack coe cluster create --cluster-template My_Template_Name \
			--master-count x --node-count y --keypair my_rsa_key \
			--master-flavor master_vm_size --flavor vm_size \
			--docker-volume-size size_in_gb My_Cluster_Name</code>

	#api:orchestration:examples
		:markdown
			### [An example of each](#orchestration:examples)
			<code>openstack coe cluster template create --coe kubernetes \
			--image Fedora-Atomic-29-JS-Latest --keypair myRSA --external-network public \
			--fixed-network test-network --network-driver flannel \
			--flavor m1.medium --master-flavor m1.small --docker-volume-size 100 \
			--docker-storage-driver devicemapper --floating-ip-enabled My-K8s-Test-2</code>

			<code>openstack coe cluster create --cluster-template My-K8s-Test-2 \
			--master-count 1 --node-count 3 --keypair myRSA --master-flavor m1.small \
			--flavor m1.medium --docker-volume-size 100 my-k8s-cluster1</code>

			The images supported for Kubernetes in Magnum are limited. You can ONLY use one of our recommend images and expect it to work.

			<span style="color: red">The only image we guarantee to work on Jetstream presently is</span> **Fedora-Atomic-29-JS-Latest | ae275170-b48c-4104-8af1-4d271f33a43c**.

	#api:orchestration:gui
		:markdown
			## [Container Orchestration Using the OpenStack Horizon GUI Interface](#api:orchestration:gui)

			<span style="color: red; font-weight: bold">Please note that container orchestration on Jetstream is in early development. We will do our best to help you with issues, but it may be a mutual learning effort.</span>

			**This page is a work in progress!**

			This will also focus on Kubernetes, though Docker Swarm and Mesos both work on Jetstream. See the full <a target="_blank" href="https://docs.openstack.org/magnum/latest/user">container orchestration user docs (OpenStack Magnum)</a>. It is assumed that you have created a network, subnet, and router configuration for your project already.

	#api:orchestration:gui:template
		:markdown
			### [Create Orchestration Template](#api:orchestration:gui:template)

			1. **Login to Horizon:**

				[IU](https://jblb.jetstream-cloud.org/dashboard)

				[TACC](https://tacc.jetstream-cloud.org/dashboard)

				Domain: `tacc`

				User Name: _your TACC username_

				Password: _your TACC password_

				<img alt="1" src="/documents/10308/1181156/orch-gui-1.jpg/1bbbc4dd-c38b-479a-9f25-0d2299a44d5f?t=1571268300041" style="width: 200px; height: 274px;" />

			1. **Click on Project -> Container Infra -> Cluster Templates -> +Create Cluster Template**
				<img alt="2" src="/documents/10308/1181156/orch-gui-2.jpg/34cc6640-c609-4bcb-ab6b-de0f870d0ce7?t=1571268340000" style="width: 600px; height: 402px;" />

			1. **Fill in the appropriate information on the _Info_ screen**

				Enter a cluster template name, for example, _sample_cluster_template_

				Then choose the orchestration engine that you'll use;  we're going to select _Kubernetes_ for this example

				After giving it a descriptive name and choosing the orchestration engine, press the NEXT button.

				<img alt="3" src="/documents/10308/1181156/orch-gui-3.jpg/2fde28d5-b6b5-4af1-9f49-370bd06e9ff6?t=1571269894999" style="width: 600px; height: 246px;" />

			1. **Fill in the Node Spec information**

				Per the <a target="_blank" href="https://docs.openstack.org/magnum/latest/user/#clustertemplate">Magnum docs</a> the OS type for Kubernetes is either CoreOS or Fedora, Swarm is Fedora, and Mesos is Ubuntu.

				**Image:** For Kubernetes, you will need to use _**Fedora-Atomic-29**_ - it is a known, working image for K8s. Due to OpenStack Magnum's requirements, only CoreOS and Fedora Atomic images work for Kubernetes on OpenStack.

				<p style="color: red">The only image we guarantee to work on Jetstream presently is _**Fedora-Atomic-29-JS-Latest** (UUID ae275170-b48c-4104-8af1-4d271f33a43c)_.</p>

				**Keypair:** Choose the appropriate SSH keypair from the drop down - these will be all of the keypairs you've uploaded to your account.

				**Flavor (worker flavor):** Choose an appropriate size for your work load. We might suggest starting with an m1.medium as a starting point. You can change this in your template if you find another size is more fitting.

				**Master Flavor:** Again, choose the appropriate size may be something you have to experiment with. We suggest starting with an m1.small, m1.quad, or m1.medium

				**Volume Driver:** Set to _**Cinder**_

				**Docker Storage Driver:** Set to _**Device Mapper**_

				**Docker Volume Size:** Fill in the size volume for each node, if desired. If specified, container images will be stored in a cinder volume of the specified size in GB. Each cluster node will have a volume attached of the above size. If not specified, images will be stored in the compute instance's local disk. For the "devicemapper" storage driver, the minimum value is 3GB.

				Then press the NEXT button.

				<img alt="4" src="/documents/10308/1181156/orch-gui-4.jpg/aec9a138-587c-480f-b17d-a96984b2d919?t=1571269901044" style="width: 600px; height: 314px;" />

			1. **Fill in the Network information**

				**Network Driver:** Set to **Flannel**

				**External Network ID:** Set to Public

				**Fixed Network:** Choose your fixed network that you've created previously. 

				**Fixed Subnet**: Choose your subnet that you've created previously.

				Check the **Floating IP** box to assign a floating IP for your master node. If you do not check this, your cluster will NOT be accessible from the outside. 

				Then press the blue SUBMIT button.

				<img alt="5" src="/documents/10308/1181156/orch-gui-5.jpg/ed8c97f6-50e2-4f00-8d09-76f649cfb54c?t=1571269907711" style="width: 600px; height: 490px;" />

	#api:orchestration:gui:cluster
		:markdown
			### [Create a Cluster Using the Orchestration Template](#api:orchestration:gui:cluster)

			1. **Click on Project -> Container Infra -> Clusters -> +Create Cluster**

				<img alt="6" src="/documents/10308/1181156/orch-gui-6.jpg/f1b1c62e-4e42-4ebb-a2ed-bf4e870f27a4?t=1571337215000" style="width: 600px; height: 402px;" />

			1. **Fill in the appropriate information on the Info screen:**

				Enter a cluster name, for example, _sample_cluster_

				_**Please note that you cannot start the cluster name with anything but a letter.**_

				Then choose the Kubernetes orchestration template that you created 

				You should see the screen change with the template details once you do that. 

				After giving it a descriptive name and choosing the orchestration engine, press the NEXT button.

				<img alt="7" src="/documents/10308/1181156/orch-gui-7.jpg/52efc578-b48f-4d38-a6c5-c6cce3cdac7e?t=1571337220000" style="width: 600px; height: 402px;" />
			1. **Fill in the Size information:**

				**Master Count**: The number of servers that will serve as master for the cluster. The default is 1. Set to more than 1 master to enable High Availability.

				**Node Count**: The number of servers that will serve as node in the cluster. The default is 1.

				**Docker Volume Size**: Fill in the size volume for each node, if desired. If specified, container images will be stored in a cinder volume of the specified size in GB. Each cluster node will have a volume attached of the above size. If not specified, images will be stored in the compute instance's local disk. For the "devicemapper" storage driver, the minimum value is 3GB.

				If nothing is specified for the volume size, the size set in the cluster template will be used.

				Press the NEXT button.

				<img alt="8" src="/documents/10308/1181156/orch-gui-8.jpg/06186f6f-8680-449a-b67c-6dfaf66ddc4e?t=1571337227000" style="width: 600px; height: 402px;" />
			1. **Fill in the Misc information:**

				**Keypair**: Choose the appropriate SSH keypair from the drop down - these will be all of the keypairs you've uploaded to your account.

				**Master Flavor ID**: Again, choose the appropriate size may be something you have to experiment with. We suggest starting with an m1.small, m1.quad, or m1.medium

				**Flavor ID** (worker flavor): Choose an appropriate size for your work load. We might suggest starting with an m1.medium as a starting point. You can change this in your template if you find another size is more fitting.

				Then press the blue SUBMIT button.

				<img alt="9" src="/documents/10308/1181156/orch-gui-9.jpg/187f7940-9616-41cb-bb49-d4ef425d5a4b?t=1571337247000" style="width: 600px; height: 402px;" />

	#api:orchestration:gui:check
		:markdown
			### [Check the Cluster Build](#api:orchestration:gui:check)

			**Click on Project -> Container Infra -> Clusters**

			You should see your cluster building (CREATE_IN_PROGRESS) in the Clusters screen. This can take some time, especially if you've created a large cluster. The containers with all of the software are being downloaded and activated for each master and node. You'll see this change to CREATE_COMPLETE when it's done.

			<img alt="10" src="/documents/10308/1181156/orch-gui-10.jpg/5eefda84-bcef-4842-a584-157eb458bcb2?t=1571337254000" style="width: 600px; height: 402px;" />

			You can use the build in monitoring with Kubernetes by going to:

				http://NODE_IP:4194

			_Note: You'll need to have port 4194 open in your security policies. We suggest, as always, limiting that access to specific hosts or subnets as a best practice._

			<img alt="11" src="/documents/10308/1181156/orch-gui-11.jpg/94648034-59cc-4201-8514-d5eac5d17ff8?t=1571337260000" style="width: 600px; height: 402px;" />

			You can also do this to see the construction and get a visualization of your cluster:

			**Click on Project -> Orchestration -> Stacks**

			and then click on your cluster to look at various views such as the Topology.

			<img alt="12" src="/documents/10308/1181156/orch-gui-12.jpg/5d0dc356-2779-44f7-8542-128f1e4d5d2f?t=1571337268000" style="width: 600px; height: 402px;" />
			<img alt="13" src="/documents/10308/1181156/orch-gui-13.jpg/399b10e7-00ae-4549-829f-61d2b80c2a31?t=1571337275000" style="width: 600px; height: 402px;" />

	#api:orchestration:gui:advanced
		:markdown
			### [Other Advanced Topics](#api:orchestration:gui:advanced)

			Once you've created your Kubernetes cluster, you may wish to explore such advanced topics as <a target="_blank" href="https://docs.openstack.org/magnum/latest/user/#scaling">scaling</a>.

			There are other advanced topics that Andrea Zonca has created linked from the [Advanced API Topics](#api:advanced-topics) page that may be worth exploring, including autoscaling Jupyter deployments using Kubernetes.

	#api:cloud-init
		:markdown
			## [Cloud-init scripts](#api:cloud-init)
			### [Using cloud-init scripts with the Jetstream API](#api:cloud-init)

			<a href="https://launchpad.net/cloud-init" target="_blank">Cloud-init</a> is the package that handles early initialization of a cloud instance. Cloud-init allows you to customize an instance at boot using a *user-data* script. This allows you to override *vendor-data* scripts like the forced update on initial boot, add software, add git repositories, add users, and many other actions.

			To use a cloud-init script on the command line, you add 

				--user-data ~/scriptname

			to the <code>openstack server create</code> command.

			When doing a cloud-init script, it's crucial to start it with __#cloud-config__ so the interpreter knows that it's not just a standard shell script.

			A number of <a href="http://cloudinit.readthedocs.io/en/latest/topics/examples.html" target="_blank">examples of cloud-init scripts</a> are available in the Cloud-init documentation.

		<div class="portlet-msg-info">
		<strong>Note</strong>
		<p>The script below should only be used by advanced users. It prevents the installation of <em>qemu-guest-agent</em> (a package that is REQUIRED for proper operation on Jetstream - please ensure it is installed on your image if you opt to use this script or any script that prevents it being installed by vendor-data). It also prevents the forced update of packages on instantiation. It is a recommended security practice to keep instances up-to-date with the latest operating system updates. However, if you need to ensure consistent, fast boot times, you may wish to use it. </p>
		<p>Please do apply all critical security patches to your instances. Failure to do so may allow your instances to be compromised. If they are compromised, they will be locked and/or deleted by Jetstream staff.</p>
		</div>

		:markdown
				#cloud-config
				packages: []
				package_update: false
				package_upgrade: false
				package_reboot_if_required: false
				final_message: "Boot completed in $UPTIME seconds"


	#api:advanced-topics
		:markdown
			## [Advanced API Topics](#api:advanced-topics)
	#api:advanced-topics:nonnative
		:markdown
			### [Non-Openstack native API topics](#nonnative)

			The Jetstream team is working with ECSS and individual users that are trailblazing use cases of Jetstream's cloud functionality. While we maintain this page, we do not guarantee that the various tutorials or walkthroughs are up to date and functional.

			* <a href="https://zonca.github.io/2017/12/scalable-jupyterhub-kubernetes-jetstream.html" target="_blank">Deploy scalable Jupyterhub with Kubernetes on Jetstream</a>
			* <a href="https://zonca.dev/2020/05/kubernetes-jupyterhub-jetstream-magnum.html" target="_blank">Deploy Kubernetes and JupyterHub on Jetstream with OpenStack Magnum</a>
			* <a href="https://github.com/data-8/kubeadm-bootstrap" target="_blank">Bootstrapping Kubernetes on Jetstream</a>
			* <a href="https://zonca.dev/2019/01/zarr-on-jetstream.html" target="_blank">Using Zarr on Jetstream</a>
			* <a href="https://github.com/ECoulter/Tutorial_practice" target="_blank">How to set up a Slurm cluster on Jetstream with shared mounts</a>
			* <a href="https://zonca.github.io/2018/05/shared-dask-kubernetes-jetstream.html" target="_blank">Launch a shared dask cluster in Kubernetes alongside JupyterHub on Jetstream</a>
			* <a href="https://zonca.github.io/2018/06/private-dask-kubernetes-jetstream.html" target="_blank">Setup private dask clusters in Kubernetes alongside JupyterHub on Jetstream</a>
			* <a href="https://zonca.github.io/2019/04/kubernetes-monitoring-prometheus-grafana.html" target="_blank">Kubernetes monitoring with Prometheus and Grafana</a>

			See a <a href="https://readthedocs.org/projects/zero-to-jupyterhub" target="_blank">tutorial to help install and manage JupyterHub on a cloud with Kubernetes</a> on Read the Docs.

	#api:advanced-topics:pearc18
		:markdown
			### [PEARC18 Tutorial on using Slurm for virtual clusters on Jetstream](#api:advanced-topics:pearc18)

			The first half deals with the OpenStack API and walks you through creating a headnode that you'll use in the second half for making a virtual cluster with Slurm: <a href="https://github.com/jlf599/JetstreamAPITutorial/blob/master/PEARC18.md" target="_blank">Tutorial Part 1</a>.

			The second half is the more complete Slurm portion and covers using cloud-aware compute nodes: <a href="https://github.com/ECoulter/Tutorial_Practice/tree/PEARC2018" target="_blank">Tutorial Part 2</a>.

