#changechg
	:markdown
		# [Change Allocation Charges](#changechg)
		## [Changing the Allocation your instance charges to in Atmosphere](#)

		There are a couple of reasons you might wish to change the allocation an instance is charging to in Atmosphere. You might have received a research allocation and want to move the charge from the startup allocation. You may have accidentally started it and used the wrong allocation. Either way, the process of changing which allocation an instance is charging to is quick and easy.

		1. Log in to Atmosphere by going to <https://use.jetstream-cloud.org> and click the Login link in the upper right hand corner. Follow the normal login procedure using XSEDE or associated Globus credentials.

		1. Go to your projects page and select the project that contains the instance you wish to change and click on the instance.

		1. In the instance information screen, look for the **Allocation Source**.<br />You can click the drop box and see any other current allocations you are on. At this time, only the XSEDE allocation number shows (typically TG-XXXYYYYYY format). We have a feature request in to show "friendly" names here. In the meantime, though, you can see more information about your allocations at the [Allocations Usage](https://portal.xsede.org/allocations/usage) page.

		1. Select the allocation you wish to change it to. Atmosphere will then update the allocation it is charging to in about 15 minutes.
