#sec-faq
	:markdown
		# [Atmosphere Security FAQ](#sec-faq)

		Here are some of the commonly asked questions about security on Atmosphere. It's an ever-evolving list. Please also refer to [Policies and Best Practices](#policies) and [Troubleshooting and FAQ](#trouble) for other security-related topics.

	%table(border="1" cellpadding="3")
		%thead
			%tr
				%th Topic
				%th Answer
		%tbody
			%tr
				%td(style="vertical-align: top; padding-top: 1rem")
					:markdown
						**1. What ports are open by default in Atmosphere?</span>**
				%td
					:markdown
						Atmosphere uses a standard [OpenStack security group](https://docs.openstack.org/nova/rocky/admin/security-groups.html) rule set to govern default Atmosphere access. By default, Atmosphere limits the privileged ports (under port 1024) to:

						* 21 tcp (ftp)
						* 22 tcp (sshd)
						* 53 tcp/udp (nameservices)
						* 80 tcp (http)
						* 389 tcp (ldap)
						* 443 tcp (https)
						* 636 tcp (ldapssl)

						Though these ports are accessible, that doesn't mean anything is running there. On Jetstream Featured images, typically the only listener running is sshd - which is required both for deployment and access to the VM.

						In non-privileged ports (over 1024), there are no restrictions placed by Atmosphere. Typically, the only ports you might find open above 1024 will be the Xvnc ports for the web desktop functionality.

						Some instances like the R and Shiny Server instance will have port 3838 open.

						It is unlikely that other ports under 1024 will be opened upon request.
			%tr
				%td(style="vertical-align: top; padding-top: 1rem")
					:markdown
						**2. How can I see what ports are open on my virtual machine?**
				%td
					:markdown
						From the command line, type:

							netstat -latun|grep LIST|grep -v tcp6|grep -v 127.0.0.1

						This will show you all non-IPv6 listeners on public interfaces.
			%tr
				%td(style="vertical-align: top; padding-top: 1rem")
					:markdown
						**3. Can I have a private network in Atmosphere that is only reachable by another Atmosphere host?**
				%td
					:markdown
						No. All hosts in Atmosphere receive a public IP (also called a floating IP in OpenStack). 
			%tr
				%td(style="vertical-align: top; padding-top: 1rem")
					:markdown
						**4. Can I use a firewall to further secure my Atmosphere-launched instance?**
				%td
					:markdown
						Yes, though with some caveats. Atmosphere instances will not deploy correctly if the Atmosphere deployment server can't reach the instance. The web shell and web desktop will not function if the web shell host can't access the instance. The IPs below need to always be allowed to reach your instance for proper operation.

						**Required IPs**

							149.165.156.57 - use.jetstream-cloud.org
							149.165.156.163 - web shell host
							149.165.157.209 - use-staging.jetstream-cloud.org
							149.165.168.150 - atmo-wf Atmosphere deployment host
			%tr
				%td(style="vertical-align: top; padding-top: 1rem")
					:markdown
						**5. Can I use the sshd_config to limit ssh access to my instance?**
				%td
					:markdown
						We do not recommend altering the sshd_config to limit access as it can also break deployment if not done correctly.
			%tr
				%td(style="vertical-align: top; padding-top: 1rem")
					:markdown
						**6. Do I need to apply security updates to my VM?**
				%td
					:markdown
						It's always a good practice to apply periodic updates. A good recommendation is to check for updates once a week at least.

						From the Jetstream [Policies and Best Practices](#policies:security) page:

						The Ubuntu 18.04, 16.04 and CentOS 7 featured images are piloting unattended security updates. Nodes will not reboot, but they will apply any update marked as a security update. It's still a good idea to update your VM, just in case.

						To apply the updates:

						sudo yum update (CentOS)
						sudo apt-get update then sudo apt-get upgrade (Ubuntu)

						If the kernel or glibc/libc packages are being updated, rebooting is necessary to implement those updates.

						**Always run updates before requesting a new custom image** - an actively updating instance may be slow.

#cli
	:markdown
		# [Atmosphere CLI](#cli)

		"**atmo**", a python-based command line interface for Atmosphere based on "cliff" (the same package underlying the "[openstack](#api:commands)" commands) is available on Jetstream.

	#cli-docs
		:markdown
			## [Documentation and Installation](#cli-docs)

			There is <a href="https://atmosphere-cli.readthedocs.io" target="_blank" rel="noopener">documentation for the package, including installation instructions</a>.

			We encourage users to install **atmo** locally for each user:

				pip install --user atmosphere-cli

	#cli-jetsream
		:markdown
			## [Jetstream Setup](#cli-jetstream)

			Add the following to your `.bashrc` or a file called `.env` in your `$HOME` directory:

				export ATMO_BASE_URL="https://use.jetstream-cloud.org"
				export ATMO_AUTH_TOKEN="fff28djdFAKETOKENfff28djdFAKETOKENfff28djd"

	#cli-token
		:markdown
			## [Token](#cli-token)

			To get a Personal Access Token:

			* Launch a browser and [login to use.jetstream-cloud.org](https://use.jetstream-cloud.org).
			* In the top right, you'll see your username with a drop-down menu.
			* Click on "Settings" .
			* Click on "Show More" under Advanced.
			* Scroll down to "Persona Access Tokens" and Click on the "+" button.
			* Give your token a name and click on "Create Token".
			* Save this Token by clicking on the "Copy" button and pasting it somewhere you can recover it. <span style="color: red">THIS IS YOUR ONLY CHANCE TO SAVE THIS TOKEN. YOU WILL HAVE TO DELETE THE TOKEN AND START OVER IF YOU DO NOT SAVE IT.</span>
			* You will likely wish to save this token into your `.env` in the `ATMO_AUTH_TOKEN` line as above.

	#cli-usage
		:markdown
			## [Atmo Usage](#cli-usage)

				prompt> atmo --help
				usage: atmo [--version] [-v | -q] [--log-file LOG_FILE] [-h] [--debug]
				            [--atmo-base-url <atmosphere-base-url>]
				            [--atmo-auth-token <atmosphere-auth-token>]
				            [--atmo-api-server-timeout <atmosphere-api-server-timeout>]
 
				Atmosphere CLI
 
				optional arguments:
				  --version             show program's version number and exit
				  -v, --verbose         Increase verbosity of output. Can be repeated.
				  -q, --quiet           Suppress output except warnings and errors.
				  --log-file LOG_FILE   Specify a file to log output. Disabled by default.
				  -h, --help            Show help message and exit.
				  --debug               Show tracebacks on errors.
				  --atmo-base-url <atmosphere-base-url>
				                        Base URL for the Atmosphere API (Env: ATMO_BASE_URL)
				  --atmo-auth-token <atmosphere-auth-token>
				                        Token used to authenticate with the Atmosphere API
				                        (Env: ATMO_AUTH_TOKEN)
				  --atmo-api-server-timeout <atmosphere-api-server-timeout>
				                        Server timeout (in seconds) when accessing Atmosphere
				                        API (Env: ATMO_API_SERVER_TIMEOUT)
 
				Commands:
				  allocation source list  List allocation sources for a user.
				  allocation source show  Show details for an allocation source.
				  complete       print bash completion command (cliff)
				  group list     List groups for a user.
				  group show     Show details for a group.
				  help           print detailed help for another command (cliff)
				  identity list  List user identities managed by Atmosphere.
				  identity show  Show details for a user identity.
				  image list     List images for user.
				  image search   Search images for user.
				  image show     Show details for an image.
				  image version list  List image versions for an image.
				  image version show  Show details for an image version.
				  instance actions  Show available actions for an instance.
				  instance attach  Attach a volume to an instance.
				  instance create  Create an instance.
				  instance delete  Delete an instance.
				  instance detach  Detach a volume from an instance.
				  instance history  List history for instance.
				  instance list  List instances for user.
				  instance reboot  Reboot an instance.
				  instance redeploy  Redeploy to an instance.
				  instance resume  Resume an instance.
				  instance shelve  Shelve an instance.
				  instance show  Show details for an instance.
				  instance start  Start an instance.
				  instance stop  Stop an instance.
				  instance suspend  Suspend an instance.
				  instance unshelve  Unshelve an instance.
				  maintenance record list  List maintenance records for Atmosphere.
				  maintenance record show  Show details for a maintenance record.
				  project create  Create a project.
				  project list   List projects for a user.
				  project show   Show details for a project.
				  provider list  List cloud providers managed by Atmosphere.
				  provider show  Show details for a cloud provider.
				  size list      List sizes (instance configurations) for cloud provider.
				  size show      Show details for a size (instance configuration).
				  version        Show Atmosphere API version.
				  volume create  Create a volume.
				  volume delete  Delete a volume.
				  volume list    List volumes for a user.
				  volume show    Show details for a volume.

			For example, to list instances for the current user:

				prompt> atmo provider list
				+----+--------------------------------------+--------------------------------+-----------+----------------+--------+--------+------------+
				| id | uuid                                 | name                           | type      | virtualization | public | active | start_date |
				+----+--------------------------------------+--------------------------------+-----------+----------------+--------+--------+------------+
				|  4 | f906a5ee-34a8-499a-9185-a35feb3d6f01 | Jetstream - Indiana University | OpenStack | KVM            | True   | True   | 2016-01-28 |
				|  5 | 3ff65aa8-505b-48c3-aef1-aa0ada14c756 | Jetstream - TACC               | OpenStack | KVM            | True   | True   | 2016-02-16 |
				+----+--------------------------------------+--------------------------------+-----------+----------------+--------+--------+------------+

	#cli-launch
		:markdown
			## [Launching an instance with ATMO](#cli-launch)

			To launch an instance you'll need to know the UUIDs for:

			* cloud provider (identity)
			* flavor-size
			* image source on that cloud
			* project
			* XSEDE allocation

			If we want to launch an "**m1.small**" of "**Ubuntu 18.04 Devel and Docker**" on the Indiana cloud with "**my-U18-Indiana**" we will need to do the following:

			1. Get UUID of cloud provider (aka IDENTITY UUID)

				<pre><code>prompt> atmo identity list</code></pre>
				<pre><code>+--------------------------------------+--------+--------------------------------+-----------+--------------+---------------+
				| uuid                                 | name   | provider                       | quota_cpu | quota_memory | quota_storage |
				+--------------------------------------+--------+--------------------------------+-----------+--------------+---------------+
				| 88dea875-a8d6-483a-bdb3-4446651e4a71 | beckbw | Jetstream - Indiana University |       132 |          360 |           500 |
				| 08653592-af99-4f47-8c6d-3709a6deaf02 | beckbw | Jetstream - TACC               |       132 |          360 |           500 |
				+--------------------------------------+--------+--------------------------------+-----------+--------------+---------------+</code></pre>
 
				<pre><code>>>>>> REMEMBER IDENTITY-UUID (e.g. 88dea875-a8d6-483a-bdb3-4446651e4a71 for Indiana)</code></pre>

			1. Get UUID and SIZE-ALIAS of flavor on chosen cloud provider

				<pre><code>prompt> atmo size list</code></pre>
				<pre><code>+--------------------------------------+------------+-------+--------------------------------+-----+--------+------+--------+------------+
				| uuid                                 | name       | alias | provider                       | cpu | memory | disk | active | start_date |
				+--------------------------------------+------------+-------+--------------------------------+-----+--------+------+--------+------------+
				...
				| 4912d26c-db76-4095-a007-25bdb8e2def8 | m1.small   | 2     | Jetstream - TACC               |   2 |   4096 |   20 | True   | 2016-03-08 |
				| 4612070a-791b-4874-88bb-e15636805ec7 | m1.small   | 2     | Jetstream - Indiana University |   2 |   4096 |   20 | True   | 2016-01-29 |
				| f663b727-786f-47f5-9122-9b1b1c4f3529 | m1.medium  | 3     | Jetstream - TACC               |   6 |  16384 |   60 | True   | 2016-03-08 |
				| d3aab647-d81a-4842-9cdc-3a9fcbb5c588 | m1.medium  | 3     | Jetstream - Indiana University |   6 |  16384 |   60 | True   | 2016-01-29 |
				...
				+--------------------------------------+------------+-------+--------------------------------+-----+--------+------+--------+------------+</code></pre>
 
				<pre><code>>>>>> REMEMBER SIZE-UUID (e.g. 4612070a-791b-4874-88bb-e15636805ec7 for m1.small on Indiana)</code></pre>
				<pre><code>>>>>> REMEMBER SIZE-ALIAS (e.g. 2 for m1.small on Indiana)</code></pre>

			1. Get UUIDs
				1. Get UUID of image

					<pre><code>prompt> atmo image list --tag-name "Featured"</code></pre>
					<pre><code>+--------------------------------------+----------------------------------------+------------+-----------+------------+
					| uuid                                 | name                                   | created_by | is_public | start_date |
					+--------------------------------------+----------------------------------------+------------+-----------+------------+
					...
					| c45c94f9-64d1-5e49-8942-0440718ef1f2 | Matlab Minimal                         | jfischer   | True      | 2018-10-26 |
					| 4afad299-3b41-5133-8326-10900b7aa6e7 | Ubuntu 18.04 Devel and Docker          | jfischer   | True      | 2018-10-25 |
					| 977e1233-54a4-51f5-97a9-560efd53b975 | Centos 7 (7.5) Development GUI         | jfischer   | True      | 2018-10-25 |
					| c97c4d5e-fe15-5156-b519-0cdb4021492b | Ubuntu 16.04 Devel and Docker          | jfischer   | True      | 2018-10-25 |
					...
					+--------------------------------------+----------------------------------------+------------+-----------+------------+</code></pre>

					<pre><code>>>>>> REMEMBER IMAGE-UUID (e.g. 4afad299-3b41-5133-8326-10900b7aa6e7 for Ubuntu 18.04 Devel and Docker)</code></pre>

				1. Get UUID of the desired VERSION of the image

					<pre><code>prompt> atmo image show 4afad299-3b41-5133-8326-10900b7aa6e7
					(IMAGE-UUID from above)</code></pre>
					<pre><code>+-------------+------------------------------------------------------------------------------------------------+
					| Field       | Value                                                                                          |
					+-------------+------------------------------------------------------------------------------------------------+
					| id          | 717                                                                                            |
					| uuid        | 4afad299-3b41-5133-8326-10900b7aa6e7                                                           |
					| name        | Ubuntu 18.04 Devel and Docker                                                                  |
					| description | Ubuntu 18.04 LTS Development + GUI support + Docker                                            |
					|             |                                                                                                |
					|             | Based on Ubuntu cloud image for 18.04 LTS with basic dev tools, GUI/Xfce added                 |
					|             |                                                                                                |
					|             | Installation size ~ 4.4 GB                                                                     |
					| created_by  | jfischer                                                                                       |
					| versions    | 1.0 (fe8deab2-e72f-40a5-aef4-5b908e3d5a6f)                                                     |
					|             | 1.8 (dfe3c474-0711-4ca6-bef9-5b61c5a7267b)                                                     |
					|             | 1.10 (3edba696-b13b-4661-ab80-3d1a74a2d34e)                                                    |
					|             | 1.11 (309300be-2dc8-45b8-890e-7623b272efec)                                                    |
					|             | 1.12 (9c9e9963-84e7-4340-812c-e91304c2fe41)                                                    |
					|             | 1.13 (1df21c86-c940-41d8-88d6-e231fb0d401f)                                                    |
					| tags        | desktop, base, vnc, development, Ubuntu, Featured, docker, docker-compose                      |
					| url         | https://use.jetstream-cloud.org/api/v2/images/4afad299-3b41-5133-8326-10900b7aa6e7?format=json |
					| is_public   | True                                                                                           |
					| start_date  | 2018-10-25                                                                                     
					| end_date    |                                                                                                |
					+-------------+------------------------------------------------------------------------------------------------+</code></pre>
 
					<pre><code>>>>>> REMEMBER VERSION-UUID (e.g. 1df21c86-c940-41d8-88d6-e231fb0d401f for Ubuntu 18.04 Devel and Docker Version 1.13)</code></pre>

				1. Get UUID of that VERSION specific to the chosen cloud (aka. MACHINE UUID)

					<pre><code>prompt> atmo image version show 1df21c86-c940-41d8-88d6-e231fb0d401f</code></pre>
					<pre><code>+-------------------+--------------------------------------------------------------------------------+
					| Field             | Value                                                                          |
					+-------------------+--------------------------------------------------------------------------------+
					| id                | 1df21c86-c940-41d8-88d6-e231fb0d401f                                           |
					| name              | 1.13                                                                           |
					| image_name        | Ubuntu 18.04 Devel and Docker                                                  |
					| image_description | Ubuntu 18.04 LTS Development + GUI support + Docker                            |
					|                   |                                                                                |
					|                   | Based on Ubuntu cloud image for 18.04 LTS with basic dev tools, GUI/Xfce added |
					|                   |                                                                                |
					|                   | Installation size ~ 4.4 GB                                                     |
					| created_by        | jfischer                                                                       |
					| change_log        | v1.13 - patched up to 10-25-18                                                 |
					| machines          | Jetstream - Indiana University (8567d635-ab74-4013-9a21-30821b9a7301)          |
					|                   | Jetstream - TACC (8567d635-ab74-4013-9a21-30821b9a7301)                        |
					| allow_imaging     | True                                                                           |
					| min_mem           | None                                                                           |
					| min_cpu           | None                                                                           |
					| start_date        | 2018-10-25T14:55:21.136101Z                                                    |
					+-------------------+--------------------------------------------------------------------------------+</code></pre>
 
					<pre><code>>>>>> REMEMBER MACHINE-UUID (e.g. 8567d635-ab74-4013-9a21-30821b9a7301 for Ubuntu 18.04 version 1.13 on Indiana)</code></pre>

			1. Get UUID of the PROJECT to which you will assign the instance

				<pre><code>prompt> atmo project list</code></pre>
				<pre><code>+--------------------------------------+-----------+--------+------------+------------+--------+-----------+---------+-------+
				| uuid                                 | name      | owner  | created_by | start_date | images | instances | volumes | links |
				+--------------------------------------+-----------+--------+------------+------------+--------+-----------+---------+-------+
				...
				| a9d28bb7-44d6-4914-8d1a-64673d12ebf2 | testing   | beckbw | beckbw     | 2016-02-10 |      0 |         7 |       3 |     1 |
				...
				+--------------------------------------+-----------+--------+------------+------------+--------+-----------+---------+-------+</code></pre>
 
				<pre><code>>>>>> REMEMBER PROJECT-UUID (e.g. a9d28bb7-44d6-4914-8d1a-64673d12ebf2 for "testing" project)</code></pre>

			1. Get UUID of the ALLOCATION against which you the instance will charge service units

				<pre><code>prompt> atmo allocation source list</code></pre>
				<pre><code>+--------------------------------------+--------------+-----------------+--------------+------------------+------------+
				| uuid                                 | name         | compute_allowed | compute_used | global_burn_rate | start_date |
				+--------------------------------------+--------------+-----------------+--------------+------------------+------------+
				...
				| fd7de822-6398-4bfb-b6dd-47958b21178d | TG-TRA160003 |         5000000 |  3981007.652 |            47.75 | 2017-06-13 |
				+--------------------------------------+--------------+-----------------+--------------+------------------+------------+</code></pre>
 
				<pre><code>>>>>> REMEMBER ALLOCATION-UUID (e.g. fd7de822-6398-4bfb-b6dd-47958b21178d for "TG-TRA160003" allocation)</code></pre>

			1. CREATE INSTANCE - Now we can combine all those to launch an instance using the following syntax:
				1. CREATE INSTANCE USING MACHINE UUID

					<pre><code>prompt> atmo instance create --identity  <IDENTITY-UUID>  --size-alias <SIZE-ALIAS> --source-alias <MACHINE-UUID> --project <PROJECT-UUID> --allocation-source-id  <ALLOCATION-UUID>  <NAME-OF-INSTANCE></code></pre>

					<pre><code>prompt> atmo instance create --identity 88dea875-a8d6-483a-bdb3-4446651e4a71  --size-alias  2 --source-alias 8567d635-ab74-4013-9a21-30821b9a7301 --project a9d28bb7-44d6-4914-8d1a-64673d12ebf2 --allocation-source-id fd7de822-6398-4bfb-b6dd-47958b21178d "my-U18-Indiana"</code></pre>

				1. Alternative: CREATE INSTANCE USING ONLY IMAGE UUID (merge steps 3a-c) - You can also use the "--image" option to combine the "image list", "image show", "image version show", and "--source-alias" steps into one step that automatically chooses the latest version and machine appropriate to the cloud identity you have specified:

					<pre><code>prompt> atmo instance create --identity  <IDENTITY-UUID>  --size-alias <SIZE-ALIAS> --image <IMAGE-UUID> --project <PROJECT-UUID> --allocation-source-id  <ALLOCATION-UUID>  <NAME-OF-INSTANCE></code></pre>

					<pre><code>prompt> atmo instance create --identity 88dea875-a8d6-483a-bdb3-4446651e4a71  --size-alias  2 --project a9d28bb7-44d6-4914-8d1a-64673d12ebf2 --allocation-source-id fd7de822-6398-4bfb-b6dd-47958b21178d --image 4afad299-3b41-5133-8326-10900b7aa6e7 "my-newVM"</code></pre>

	#cli-autocomplete
		:markdown
			### [Optional command line auto-completion](#cli-autocomplete)

			Auto-completion functions as in bash and supports tab-based auto-completion.

					prompt> atmo complete >> ~/.bash_aliases
					prompt> . ~/.bash_aliases
					prompt> atmo <tab>
					allocation  complete    help        identity    image       instance    project     provider    size        version     volume
					prompt> atmo instance <tab>
					actions   attach    create    delete    detach    history   list      reboot    redeploy  resume    shelve    show      start     stop      suspend   unshelve
					prompt> atmo provider <tab>

	#cli-troubleshoot
		:markdown
			## [Troubleshooting](#cli-troubleshoot)

	%table(border="1" cellpadding="3")
		%thead
			%tr
				%th Error message or problem
				%th Solution
		%tbody
			%tr
				%td <code>prompt> atmo identity list</code><br />ERROR: {'detail': 'Authentication credentials were not provided.'}
				%td You likely have a <span style="color: red">WRONG/INVALID</span> <code>ATMO_AUTH_TOKEN</code> string.<br />Obtain a new Personal Access Token from the Atmosphere GUI as described above and reset your <code>ATMO_AUTH_TOKEN</code> environment variable.
			%tr
				%td I've changed/started/deleted an instance but <code>atmo instance list</code> doesn't reflect the changes.
				%td Go to the GUI and do a force-refresh (cmd/ctrl-R). Refreshing the GUI refreshes the API. Currently there is no force-refresh for the CLI.
			%tr
				%td ERROR: {'detail': '<DATE> - v32 deployment: Atmosphere is down for a Scheduled Maintenance, Today between 9am - 4pm MST.'}
				%td Self-explanatory

	#cli-scripts
		:markdown
			## [Useful atmo-cli based scripts](#cli-scripts)

			These are provided as-is and are not formally supported.
 
			#### [atmo_launch_instance.sh](https://iujetstream.atlassian.net/wiki/download/attachments/641794049/atmo_launch.sh?version=1&modificationDate=1543523262448&cacheVersion=1&api=v2)

			This script uses atmo commands to find all needed UUID to launch an instance.

			<pre><code>prompt> ./atmo_launch_instance.sh -h</code></pre>

			<pre><code>Usage: atmo_launch [+/-d] [ - :DEFAULT, NODEBUG | +:DEBUG]
			                   -c &lt;provider cloud; TACC|Indiana; DEFAULT=Indiana&gt;
			                   -s &lt;flavor;  DEFAULT="m1.small"&gt;
			                   -i &lt;image search string; DEFAULT="Ubuntu 16.04"&gt;
			                   -v &lt;image version string; DEFAULT=&lt;latest&gt; &gt;
			                   -p &lt;project name; DEFAULT="testing"&gt;
			                   -a &lt;allocation; DEFAULT="TG-TRA160003"&gt;
			                   -n &lt;provider cloud; TACC|Indiana; DEFAULT=Indiana&gt;
			                   [-h] [this usage message]</code></pre>
			<pre><code>prompt> ./atmo_launch_instance.sh +d -v 1.13 -c Indiana -n "bootscoot-IU"
			Searching...
			idval 88dea875-a8d6-483a-bdb3-4446651e4a71
			szval 2
			imgval c97c4d5e-fe15-5156-b519-0cdb4021492b
			verval 04f6c686-6b8d-4be9-b277-16bf2a4a16e6
			machstr 7505ea37-2fbb-499f-b150-c18fade5ce26
			machval 7505ea37-2fbb-499f-b150-c18fade5ce26
			srcval 7505ea37-2fbb-499f-b150-c18fade5ce26
			prjval a9d28bb7-44d6-4914-8d1a-64673d12ebf2
			allocval fd7de822-6398-4bfb-b6dd-47958b21178d
			nameval bootscoot-IU
			atmo instance create --identity  88dea875-a8d6-483a-bdb3-4446651e4a71  --size-alias  2      --source-alias 7505ea37-2fbb-499f-b150-c18fade5ce26 --project  a9d28bb7-44d6-4914-8d1a-64673d12ebf2  --allocation-source-id  fd7de822-6398-4bfb-b6dd-47958b21178d  bootscoot-IU
			+-------------------+--------------------------------------+
			| Field             | Value                                |
			+-------------------+--------------------------------------+
			| id                | 22134                                |
			| uuid              | 9c1b79ce-9fcc-443d-978d-2536f8833d94 |
			| name              | bootscoot-IU                         |
			| username          | beckbw                               |
			| allocation_source | TG-TRA160003                         |
			| image_id          | 107                                  |
			| image_version     | 1.13                                 |
			| launched          | 2018-04-18                           |
			| image_size        | m1.small                             |
			| provider          | Jetstream - Indiana University       |
			+-------------------+--------------------------------------+</code></pre>

			#### [instance_select.sh](https://iujetstream.atlassian.net/wiki/download/attachments/641794049/instance_select.sh?version=1&modificationDate=1543523262703&cacheVersion=1&api=v2)

			Select from a menu of your current instances.

			<pre><code>prompt> atmo instance show $(./instance_select.sh |grep ^[0-9]| tail -n 1 | awk '{print $3}')</code></pre>

			<pre><code>1) BECK-C74-IU       4) BECK-C74-TACC     7) beck-C74-IU
			2) BECK-U16-TACC     5) beckbri-U16-TACC  8) Quit
			3) BECK-U16-IU       6) bootscoot-IU
			Select:3
			Select:5
			Select:7
			Select:8</code></pre>
			<code><pre>+-------------------+--------------------------------------+
			| Field             | Value                                |
			+-------------------+--------------------------------------+
			| id                | 22135                                |
			| uuid              | db4a937b-9ef2-47fc-9cce-34f6476087dd |
			| name              | beck-C74-IU                          |
			| username          | beckbw                               |
			| identity          | Username: beckbw, Project:beckbw     |
			| project           | testing                              |
			| allocation_source | TG-TRA160003                         |
			| compute_allowed   | 5000000                              |
			| compute_used      | 1096774.11                           |
			| global_burn_rate  | 24.0                                 |
			| user_compute_used | 2887.29                              |
			| user_burn_rate    | 2.0                                  |
			| image_id          | 241                                  |
			| image_version     | 1.22                                 |
			| image_usage       | 1096774.11                           |
			| launched          | 2018-04-18                           |
			| image_size        | m1.small                             |
			| image_cpu         | 2                                    |
			| image_mem         | 4096                                 |
			| image_disk        | 20                                   |
			| status            | active                               |
			| activity          |                                      |
			| ip_address        | 149.165.157.11                       |
			| provider          | Jetstream - Indiana University       |
			| web_desktop       | True                                 |
			| shell             | False                                |
			| vnc               | True                                 |
			+-------------------+--------------------------------------+
			prompt></code></pre>

