#eztools
	:markdown
		# [Jetstream EZ Tools](#eztools)

		Instances launched using the Atmosphere web user interface are by default installed with the _**EZ command line tools**_, designed to streamline some common tasks and functions.

		There are a number of different `ez` commands, including:

		* [`ez`](#eztools:jupyter-ez) a help menu listing available tools
		* [`ezj`](#eztools:jupyter-ezj) run jupyter-notebook with python detection; [m1.medium or larger](#vmsizes) recommended
		* [`ezjh`](#eztools:jupyter-ezjh) run jupyterhub <span style="color: red">(currently requires <a target="_blank" rel="noopener" href="https://cyverse.org">CyVerse CAS</a> credentials)</span> [m1.medium or larger](#vmsizes) recommended
		* [`ezd`](#eztools:jupyter-ezd) install docker (Only supported on Ubuntu 14+ and CentOS 7)
		* [`ezs`](#eztools:jupyter-ezs) install singularity (Only supported on Ubuntu 14+ and CentOS 6+)
		* [`unban`](#eztools:jupyter-unban) list blocked IP addresses or remove blocks for IP addresses trying to access the instance 
		* [`myip`](#eztools:jupyter-myip) set environment variables `$JETSTREAM_PUBLIC_IP` and `$CYVERSE_PUBLIC_IP` to the public IP Address and display the same to the screen 

	#eztools:jupyter-ez
		:markdown
			#### `ez`: *a help menu listing available tools*

			**Options to pass to `ez`:**

			`update` : perform a full update of the ez facility

				~$ ez update

	#eztools:jupyter-ezj
		:markdown
			#### `ezj`: *Launching Jupyter Notebook within an instance [(detailed description)](#eztools:jupyter)*

			**Options to pass to `ezj`:**

			`-q` : do not attempt to install, just launch jupyter!

			`-R` : install the R kernel (-r also works)

			`-2` : force python 2 kernel (not compatible with -3 option)

			`-3` : force python 3 kernel (not compatible with -2 option)

			`-u` : force update of anaconda (default is no update)

			`-p` : takes a directory as an option; install in a different location other than default (/home)

			**NOTE:** if you set this, you must pass it again for future calls

			*You do not need to run ezj more than once.* You can start/restart a notebook with the commands: 

				~$ ezj -q

			or

				~$ jupyter-notebook

			Example usage:

				~$ ezj -u -R
				~$ ezj -p /opt -u

	#eztools:jupyter-ezjh
		:markdown
			#### `ezjh`: *run jupyterhub with CyVerse CAS integration*

			**Options to pass to `ezjh`:**

			none

			**NOTE:** Only run if you have <a target="_blank" rel="noopener" href="https://cyverse.org">CyVerse</a> access and are familiar with CAS.

			The installation may take up to 10 minutes to complete.

			*You do not need to run `ezjh` more than once.* You can start/restart a hub with the command: 

				~$ jupyterhub

	#eztools:jupyter-ezd
		:markdown
			#### `ezd`: *install docker*

			**Options to pass to `ezd`:**

			`-p` : enable portainer on port 9000

				~$ ezd

	#eztools:jupyter-ezs
		:markdown
			#### `ezs`: *install singularity*

			**Options to pass to `ezs`:**

			none

				~$ ezs

	#eztools:jupyter-unban
		:markdown
			#### `unban`: *list blocked IP addresses or remove blocks for IP addresses trying to access the instance*

			Usage: `unban [-l] [-i ip-address] [-a]`

			`-l` : list currently banned IPs

			`-i` : unban a single IP address

			`-a` : unban all IP addresses

			**NOTE:** use only one of the options at a time

	#eztools:jupyter-myip
		:markdown
			#### `myip` : *set environment variables `$JETSTREAM_PUBLIC_IP` and `$CYVERSE_PUBLIC_IP` to the public IP Address and display the same to the screen*

				~$ myip

				~$ echo $JETSTREAM_PUBLIC_IP

	#eztools:jupyter
		:markdown
			## [Launching Jupyter Notebook within an instance](#eztools:jupyter)

			The following steps will easily install and start a Jupyter notebook on any active instance.

			**NOTE:** The Jupyter install generally requires more disk-space/memory than an m1.tiny or m1.small has, so we recommend m1.medium or larger.

			### Step-by-step guide

			1. Login to the instance using web shell or an ssh client.
			1. Type `ezj`. Jupyter notebook will then be installed and configured within a couple of minutes.

				`~$ ezj`

			1. After the installation is complete, a URL will be shown. You can use any browser to connect to this URL.
				<p class="portlet-msg-info"><strong>CAUTION: Closing your Jupyter notebook</strong><br />If you close your web shell or your ssh session, the Jupyter notebook will shutdown.</p>
			1. To restart your Jupyter notebook without reinstalling:

				`~$ ezj -q`

			If you have Python3 installed, you may select it instead using:

				~$ ezj 3

			If you wish to choose Python2 use:

				~$ ezj 2

			**Other options to pass to 'ezj':**

			-q : do not attempt to install, just launch jupyter!

			-R : install the R kernel (-r also works)

			-2 : force python 2 kernel (not compatible with -3 option)

			-3 : force python 3 kernel (not compatible with -2 option)

			-u : force update of anaconda (default is no update)

			-p : takes a directory as an option; install in a different location other than default (/home)

			**NOTE:** if you set this, you must pass it again for future calls

			Example of options:

				~$ ezj -u -R
				~$ ezj -p /opt -u

			Interested in combining your Jupyter Notebook with R-studio? See this <a rel="noopener" target="_blank" href="https://cyverse-ez-quickstart.readthedocs-hosted.com/en/latest/rstudio.html">EZJ + R-studio installation guide</a> from the CyVerse team.
