#globus
	:markdown
		# [Globus Connect file transfer tools](#globus)

		[Globus Online](https://www.globus.org/) is a fast, reliable, and secure file transfer service for easily moving data to, from, and between digital resources on the Extreme Science and Engineering Discovery Environment (XSEDE).

		Please refer to the <a href="https://docs.globus.org/how-to/globus-connect-personal-linux" class="external-link" rel="nofollow">Globus Connect Personal GUI documentation</a> for detailed instructions on installing and using Globus Connect Personal on your Jetstream VM.

		You will need a Globus account (<a href="https://www.globus.org/app/SignUp" class="external-link" rel="nofollow">sign up at http://www.globus.org/app/signup</a>) and a valid SSH key (<a href="https://docs.globus.org/faq/command-line-interface/#how_do_i_generate_an_ssh_key_to_use_with_the_globus_command_line_interface" class="external-link" rel="nofollow">see instructions here if necessary</a>) prior to the installation of Globus Personal Connect software.

	<div class="portlet-msg-info">
	<p>Please note: You will need Tcl/TK for the GUI Globus tools.</p>
	<p>To install Tcl/Tk you need to execute with root privileges:</p>
	<p>For Ubuntu:</p>
	<pre># apt-get install tk tcllib</pre>
 
	<p>For Fedora, CentOS, RedHat:</p>
	<pre># yum install tk tcllib</pre>
	</div>
