#glossary
	:markdown
		# [Glossary](#glossary)

	#table7
		:markdown
			[Table 7. Glossary](#table7)

%table(border="1" cellpadding="3")
	%tr
		%td <strong>Image</strong>
		%td template of a virtual machine containing an installed operating system, software, and configuration
		%td
	%tr
		%td <strong>Instance</strong>
		%td launched image of a virtual machine
		%td
	%tr
		%td <strong>Information as a Service (IaaS)</strong>
		%td form of cloud computing that provides virtualized computing resources over the Internet.
		%td <a href="http://searchcloudcomputing.techtarget.com/definition/Infrastructure-as-a-Service-IaaS">Read more...</a>
	%tr
		%td <strong>Platform as a Service (PaaS)</strong>
		%td cloud computing model that delivers applications over the Internet.
		%td <a href="http://searchcloudcomputing.techtarget.com/definition/Platform-as-a-Service-PaaS">Read more...</a>
	%tr
		%td <strong>Software as a Service (SaaS)</strong>
		%td software distribution model in which applications are hosted by a vendor or service provider and made available to customers over a network, typically the Internet.
		%td <a href="http://searchcloudcomputing.techtarget.com/definition/Software-as-a-Service">Read more...</a>
	%tr
		%td <strong>Volumes</strong>
		%td small virtual filesystems that may be attached to running instances.
		%td <a href="/jetstream#volumes">Read more...</a>
