#howto
	:markdown
		# [How-to Articles](#howto)
	#table6
		:markdown
			[Table 6. How-to Articles](#table6)
	%table(border="1" cellpadding="3")
		%tr
			%th Title
			%th Creator
			%th Modified
		%tr
			%td
				:markdown
					[How to add users to a running instance](#adduser)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Aug 8, 2019
		%tr
			%td
				:markdown
					[Using Manila (Filesystems-as-a-service) on Jetstream](#api:manila)
			%td
				:markdown
					Jeremy Fischer
			%td
				:markdown
					May 3, 2019
		%tr
			%td
				:markdown
					[System Access](#access)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Feb 17, 2019
		%tr
			%td
				:markdown
					[Adding SSH keys to the Jetstream Atmosphere environment](#sshkeys)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Jan 9, 2019
		%tr
			%td
				:markdown
					[Quick Start Guide](#qsguide)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Nov 9, 2018
		%tr
			%td
				:markdown
					[Launching your VM](#vmlaunch)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Nov 8, 2018
		%tr
			%td
				:markdown
					[Jetstream Trial Access Allocation](#trial-access)
			%td
				:markdown
					Brian Beck
			%td
				:markdown
					Oct 26, 2018
		%tr
			%td
				:markdown
					[Logging in with SSH](#vmlogin:ssh)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Jul 31, 2018
		%tr
			%td
				:markdown
					[Jetstream Atmosphere EZ Tools](#eztools)
			%td
				:markdown
					Brian Beck
			%td
				:markdown
					Jul 26, 2018
		%tr
			%td
				:markdown
					[Launching Jupyter Notebook within an instance](#scientificsoftware:jupyter)
			%td
				:markdown
					Brian Beck
			%td
				:markdown
					Jul 26, 2018
		%tr
			%td
				:markdown
					[Logging in with Old Web Shell (Deprecated)](#table4)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Jan 26, 2018
		%tr
			%td
				:markdown
					[Logging in with VNC desktop](#vmlogin:vnc)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					May 5, 2017
		%tr
			%td
				:markdown
					[Using Jetstream to access Wrangler data collections with iRODS](#wrangler)
			%td
				:markdown
					Peg Lindenlaub
			%td
				:markdown
					Nov 4, 2016

	#fail2ban
		:markdown
			## [Increasing fail2ban retries](#fail2ban)

			<code>fail2ban</code> is installed on every launched instance at boot. The default number of login failures is set to three. If you want to change that, you can:

				cd /etc/fail2ban
				sudo nano jail.local

			and look for this section:

				[ssh-iptables]
				enabled = true
				filter = sshd
				action = iptables[name=SSH, port=22, protocol=tcp]
				sendmail-whois[name=SSH, dest=root@localhost, sender=Fail2Ban, sendername="Fail2Ban"]
				logpath = /var/log/secure
				maxretry = 3

			Change the maxretry value and save the file:

				sudo systemctl restart fail2ban

			to restart the service with the new config.

			To remove any banned IPs you can do:

				sudo iptables -L -n

			Look for your IP number in that output, if it's there, proceed with:

				sudo fail2ban-client status

			Should show you fail2ban is working and your jail name(s):

				[js-157-95] root ~-->fail2ban-client status
				Status
				|- Number of jail: 1
				`- Jail list: ssh-iptables

				sudo fail2ban-client set ssh-iptables unbanip YOUR_IP_NUMBER

#tutorials
	:markdown
		# [Tutorials](#tutorials)
		In addition to our "How-to" articles, a number of tutorials have been developed by both staff and external users. We list some of these below:

		* Globus
			* [File transfer using Globus on Your Home Computer, Clusters, and Jetstream (NCGAS)](http://ncgas.org/Blog_Posts/Getting%20Started%20with%20Globus.php)
		* CyVerse tutorials
			* [WQ-MAKER](https://wiki.cyverse.org/wiki/display/TUT/MAKER+2.31.8+with+CCTOOLS+Jetstream+Tutorial)
			* [Pegasus-GEM Workflow](https://wiki.cyverse.org/wiki/display/TUT/Pegasus-GEM+Jetstream+Workflow+Tutorial)
		* Cornell University
			* [Getting a Jetstream Research Allocation](https://cvw.cac.cornell.edu/JetstreamReq)
			* [Introduction to Jetstream](https://cvw.cac.cornell.edu/jetstream)
		* Indiana University
			* [How to set up a slurm cluster on Jetstream with shared mounts](https://github.com/ECoulter/Tutorial_practice)
			* [Getting Started on Jetstream (NCGAS)](http://ncgas.org/Blog_Posts/Getting%20Started%20on%20Jetstream.php)
