#images
	:markdown
		# [Image Specific Documentation](#images)

		__Featured Images__

		__Featured__ images are installed, verified, and maintained by Jetstream staff and are the recommend starting points for your use or development efforts.

		View the list of <a href="https://use.jetstream-cloud.org/application/images/search?q=Featured" target="_blank">Featured images</a>.

		__Custom Images__

		Some of the more commonly used custom images include:

		<ul>
		<li><a href="#images:galaxy">Galaxy Standalone image information</a>
		<ul>
		<li><a href="https://wiki.galaxyproject.org/Cloud/Jetstream" target="_blank">Galaxy on Jetstream</a></li>
		</ul>
		</li>
		<li>(UNDER REVIEW) <a href="https://wiki.cyverse.org/wiki/display/TUT/MAKER+2.31.8+with+CCTOOLS+Jetstream+Tutorial" target="_blank">MAKER Genome Annotation using cc-tools and Jetstream (WQ-MAKER)</a></li>
		<li><a href="https://ncgas.org/training/welcome-basket-pop-up-browser.html" target="_blank">Pop Up Genome Browser Virtual Machine</a></li>
		<li><a href="#images:rstudio">Rstudio Desktop and Shiny Server (Ubuntu 20-based)</a> - A minimum 2-core (m1.small) instance with R 4.x, Rstudio Desktop, and ShinyServer installed</li>
		<li><a href="#images:matlab-2021a">MATLAB</a> - A minimum 6-core image with all the toolsets Jetstream is licensed to have. <a href="https://use.jetstream-cloud.org/application/images/1058" target="_blank">(MATLAB image)</a></li>
		<li><a href="https://use.jetstream-cloud.org/application/images/791" target="_blank">MATLAB Minimal</a> - A smaller, minimum 2-core image with a subset of MATLAB toolsets (recommended for JTA allocations). Though able to fit into 2-cores instances, a 2-core system will naturally perform more slowly than larger flavor sizes.</li>
		<li><a href="https://use.jetstream-cloud.org/application/images/1032" target="_blank">WQ-MAKER with Genemark and BLAT</a> - A minimum 6-core image created by CyVerse for Work-Queue MAKER.
		<ul>
		<li><a href="https://cyverse-wq-maker-tutorial.readthedocs-hosted.com/en/latest/index.html" target="_blank">CyVerse Tutorial</a> on Read the Docs</li>
		</ul>
		</li>
		</ul>

	:markdown
		__NCGAS Images__

		While not officially Featured images, our colleagues at the <a target="_blank" href="https://ncgas.org">National Center for Genomics Analyais (NCGAS)</a> have created and maintain a number of images targeted at genomics and biology. We encourage you to peruse the <a href="https://ncgas.org/services/software/index.html" target="_blank">catalog</a> that they have created concerning biology and bioinformatics software on Jetstream.

		<p class="portlet-msg-alert"><strong>WARNING: Atmosphere vs. API</strong><br /><em>We cannot recommend strongly enough not using Atmosphere images on the API side of Jetstream or vice-versa.<br />The Atmosphere user interface is designed to be extremely easy to use, particularly for beginning users but the trade-off is that Atmosphere enforces certain practices behind the scenes.<br />The API user interface is close to raw openstack, makes almost no assumptions, requires advanced knowledge of Openstack and Linux, but is therefore much more flexible.<br />API and Atmosphere base images provided by Jetstream staff require SUBSTANTIAL work to make them CLEANLY work in the other environment.</em></p>

	#images:galaxy
		:markdown
			## [Galaxy standalone image information](#images:galaxy)

			<a target="_blank" href="https://galaxyproject.org/cloud/jetstream">Documentation from Galaxy with Jetstream</a> is available.

			The standalone Galaxy server comes preconfigured with hundreds of tools and commonly used reference datasets. It only takes a couple of minutes to start one. Once running, you can use it or change it up any way you like.

			Please note that, due to some Jetstream restrictions, this is a standalone Galaxy server in the cloud - it is not a scalable virtual cluster managed by CloudMan.

			This image is based on the Ubuntu featured image for 18.04 LTS with basic dev tools, GUI/Xfce added.

		<div class="portlet-msg-info">
		<p>Galaxy Standalone runs on port 8080 by default -- this is on purpose in the case that you need to also run a standard web server on your instance.</p>

		<p>If your IP number assigned is 1.2.3.4, you would access your standalone Galaxy as http://1.2.3.4:8080</p>
		</div>

		:markdown
			Installation size ~ 9.8 GB Requires an m1.medium or larger to run.

			<a target="_blank" href="https://galaxyproject.org/admin)">[Information on administering Galaxy</a>

			<a target="_blank" href="https://help.galaxyproject.org)">Access Galaxy help</a>

			__Galaxy dir is `/opt/galaxy/galaxy`__

	#images:intel
		:markdown
			## [Images and the Intel compiler](#images:intel)

			The environment variables for using the Intel compiler are set for users in `/etc/skel/.bash_profile`. If you want to set them manually and/or use it for the root user, you can copy the variables below. 

			Please note that while we don't anticipate there being issues for the root user to have these in the default root user environment, there may be unintended consequences. 

				# Intel environment variables
				# environment variables for Intel parallel_studio_xe_2016_updater3
				export INTEL_LICENSE_FILE=/opt/intel/licenses/
				export PATH=/opt/intel/compilers_and_libraries/linux/bin/intel64:/opt/intel/compilers_and_libraries/linux/mpi/intel64/bin:/opt/intel/debugger_2016/gdb/intel64_mic/bin:$PATH
				export MANPATH=/opt/intel/man/common:/opt/intel/compilers_and_libraries/linux/mpi/man:/opt/intel/compilers_and_libraries/linux/man/en_US:/opt/intel/documentation_2016/en/debugger/gdb-ia/man/:/opt/intel/documentation_2016/en/debugger/gdb-mic/man/:/opt/intel/documentation_2016/en/debugger/gdb-igfx/man/:$MANPATH
				export LIBRARY_PATH=/opt/intel/compilers_and_libraries/linux/ipp/lib/intel64:/opt/intel/compilers_and_libraries/linux/compiler/lib/intel64:/opt/intel/compilers_and_libraries/linux/mkl/lib/intel64:/opt/intel/compilers_and_libraries/linux/tbb/lib/intel64/gcc4.4:/opt/intel/compilers_and_libraries/linux/daal/lib/intel64_lin:/opt/intel/compilers_and_libraries/linux/daal/../tbb/lib/intel64_lin/gcc4.4:/opt/intel/compilers_and_libraries/linux/daal/../compiler/lib/intel64_lin:$LIBRARY_PATH
				export LD_LIBRARY_PATH=/opt/intel/compilers_and_libraries/linux/compiler/lib/intel64:/opt/intel/compilers_and_libraries/linux/mpi/intel64/lib:/opt/intel/compilers_and_libraries/linux/mpi/mic/lib:/opt/intel/compilers_and_libraries/linux/ipp/lib/intel64:/opt/intel/compilers_and_libraries/linux/compiler/lib/intel64:/opt/intel/compilers_and_libraries/linux/mkl/lib/intel64:/opt/intel/compilers_and_libraries/linux/tbb/lib/intel64/gcc4.4:/opt/intel/debugger_2016/libipt/intel64/lib:/opt/intel/compilers_and_libraries/linux/daal/lib/intel64_lin:/opt/intel/compilers_and_libraries/linux/daal/../tbb/lib/intel64_lin/gcc4.4:/opt/intel/compilers_and_libraries/linux/daal/../compiler/lib/intel64_lin:$LD_LIBRARY_PATH
				export CPATH=/opt/intel/compilers_and_libraries/linux/ipp/include:/opt/intel/compilers_and_libraries/linux/mkl/include:/opt/intel/compilers_and_libraries/linux/tbb/include:/opt/intel/compilers_and_libraries/linux/daal/include:$CPATH
				export NLSPATH=/opt/intel/compilers_and_libraries/linux/compiler/lib/intel64/locale/en_US:/opt/intel/compilers_and_libraries/linux/mkl/lib/intel64/locale/en_US:/opt/intel/debugger_2016/gdb/intel64_mic/share/locale/en_US:/opt/intel/debugger_2016/gdb/intel64/share/locale/en_US:$NLSPATH
				export INFOPATH=/opt/intel/documentation_2016/en/debugger/gdb-ia/info/:/opt/intel/documentation_2016/en/debugger/gdb-mic/info/:/opt/intel/documentation_2016/en/debugger/gdb-igfx/info/:INFOPATH
				export CLASSPATH=/opt/intel/compilers_and_libraries/linux/daal/lib/daal.jar:$CLASSPATH
				export IPPROOT=/opt/intel/compilers_and_libraries/linux/ipp
				export MKLROOT=/opt/intel/compilers_and_libraries/linux/mkl/
				export TBBROOT=/opt/intel/compilers_and_libraries/linux/tbb
				export DAALROOT=/opt/intel/compilers_and_libraries/linux/daal
				export I_MPI_ROOT=/opt/intel/compilers_and_libraries/linux/mpi
				export INTEL_PYTHONHOME=/opt/intel/debugger_2016/python/intel64/
				export GDBSERVER_MIC=/opt/intel/debugger_2016/gdb/targets/mic/bin/gdbserver
				export GDB_CROSS=/opt/intel/debugger_2016/gdb/intel64_mic/bin/gdb-mic
				export MPM_LAUNCHER=/opt/intel/debugger_2016/mpm/mic/bin/start_mpm.sh

	#images:genomics-toolkit
		:markdown
			## [Genomics Toolkit image](#images:genomics-toolkit)

			__Tools included with this image__

			* abyss
			* bamtools
			* bbmap
			* bcftools
			* bedtools
			* blast
			* bowtie
			* bowtie2
			* bwa
			* cufflinks
			* cutadapt
			* edge-pro
			* fasta3
			* fastqc
			* gatk4
			* hisat2
			* htseq
			* igv
			* jbrowse
			* manta
			* mrbayes
			* multiqc
			* picard
			* raxml
			* samtools
			* spades
			* star
			* stringtie
			* tabix
			* tcoffee
			* tophat
			* trimmomatic
			* vcftools

			__R packages included with this image__

			* ballgown
			* bioconductor
			* deseq2
			* edgeR

	#images:rstudio
		:markdown
			## [Rstudio Desktop and Shiny Server (Ubuntu 20-based)](#images:rstudio)

			There are two older RStudio images - one with Intel compilers and one with gcc and ShinyServer installed. Both are CentOS 7 based images. <a target="_blank" href="https://use.jetstream-cloud.org/application/images/1041">This documentation</a> is for the newer, Ubuntu 20.04 LTS based version.

			As of February 12, 2021, this was the current information for that image:

		<div class="portlet-msg-info">
		<p>RStudio Desktop 1.3.1073 and R 4.0.3 and Shiny Server v1.5.16.958</p>
		<p>built on Ubuntu 20.04 LTS Development + GUI support + Docker</p>
		<p>Based on Ubuntu cloud image for 20.04 LTS with basic dev tools, GUI/Xfce added</p>
		<p>Shiny port is 3838 - /srv/shiny-server is the data directory</p>
		<p>/opt/r-packages is R package repository</p>
		<p>Installation size ~ 6.4 GB -- imaged on an m1.small</p>
		</div>

		<p>Access the Shiny server web interface by opening a browser to <code>http://your_ip_number:3838</code>.</p>

	#images:matlab
		:markdown
			## [Matlab](#images:matlab)

			The Matlab image on Jetstream is based on Ubuntu 20 and has Matlab 2020a Patch 6 installed with the following licensed toolkits:

			* MATLAB
			* Simulink
			* 5G Toolbox
			* AUTOSAR Blockset
			* Aerospace Blockset
			* Aerospace Toolbox
			* Antenna Toolbox
			* Audio Toolbox
			* Automated Driving Toolbox
			* Bioinformatics Toolbox
			* Communications Toolbox
			* Computer Vision Toolbox
			* Control System Toolbox
			* Curve Fitting Toolbox
			* DSP System Toolbox
			* Database Toolbox
			* Datafeed Toolbox
			* Deep Learning Toolbox
			* Econometrics Toolbox
			* Embedded Coder
			* Filter Design HDL Coder
			* Financial Instruments Toolb
			* Financial Toolbox
			* Fixed-Point Designer
			* Logic Toolbox
			* GPU Coder
			* Global Optimization Toolbox
			* HDL Coder
			* HDL Verifier
			* Image Acquisition Toolbox
			* Image Processing Toolbox
			* Instrument Control Toolbox
			* LTE Toolbox
			* MATLAB Coder
			* MATLAB Compiler
			* MATLAB Compiler SDK
			* MATLAB Report Generator
			* Mapping Toolbox
			* Mixed-Signal Blockset
			* Model Predictive Control To
			* Motor Control Blockset
			* Navigation Toolbox
			* Optimization Toolbox
			* Parallel Computing Toolbox
			* Partial Differential Equati
			* Phased Array System Toolbox
			* Powertrain Blockset
			* Predictive Maintenance Tool
			* RF Blockset
			* RF Toolbox
			* ROS Toolbox
			* Reinforcement Learning Tool
			* Risk Management Toolbox
			* Robotics System Toolbox
			* Robust Control Toolbox
			* Sensor Fusion and Tracking
			* SerDes Toolbox
			* Signal Processing Toolbox
			* SimBiology
			* SimEvents
			* Simscape
			* Simscape Driveline
			* Simscape Electrical
			* Simscape Fluids
			* Simscape Multibody
			* Simulink 3D Animation
			* Simulink Check
			* Simulink Code Inspector
			* Simulink Coder
			* Simulink Compiler
			* Simulink Control Design
			* Simulink Coverage
			* Simulink Design Optimizatio
			* Simulink Design Verifier
			* Simulink PLC Coder
			* Simulink Report Generator
			* Simulink Requirements
			* Simulink Test
			* SoC Blockset
			* Stateflow
			* Statistics and Machine Lear
			* Symbolic Math Toolbox
			* System Composer
			* System Identification Toolb
			* Text Analytics Toolbox
			* Trading Toolbox
			* Vehicle Dynamics Blockset
			* Vehicle Network Toolbox
			* Vision HDL Toolbox
			* WLAN Toolbox
			* Wavelet Toolbox
			* Wireless HDL Toolbox

	#images:x2go
		:markdown
			## [BioLinux 8](#images:x2go)
			### [[DEPRECATED] Using x2go with the BioLinux 8 image](#images:x2go)

			The BioLinux 8 image comes bundled by default with x2go. While x2go is not the preferred desktop sharing method for Jetstream, it is very functional and does work well. At this time, VNC is not functioning properly on the BioLinux 8 image. 

			To get started, download the x2go client. The client for Windows, OSX, and multiple versions of Linux is available from the [x2go site](http://wiki.x2go.org/doku.php/download:start), includes [installation instructions](http://wiki.x2go.org/doku.php/doc:installation:x2goclient) (all platforms).

			After installation, launch the client and set up a new connection:

			* Session name: _enter a descriptive name for the connection_
			* Host: _Your_VM_IP_address_ (or DNS name)
			* Login: _Your_XSEDE_username_
			* To login via SSH enter your Jetstream SSH key.
				* Optional: check **Try auto login (via SSH agent or default SSH key)**
			* Session Type: Choose _"Custom Desktop"_ and Command: _"MATE"_
				* or Session Type _"MATE"_ and Command : _""_ (leave blank)
			* Click **OK** to save the connection.

			Once saved, click on the connection to bring up the virtual machine GUI desktop. _**Note:** it may take 1-2 minutes for the connection to come up_.

		<div class="portlet-msg-info">
		<p>To use password authentication rather than SSH, set the password on your VM.<p/>
		<ol>
		<li>Once the instance comes up, login via ssh.</li>
		<li>Type 'sudo passwd your_username'.</li></ol>
		</div>

		<p class="portlet-msg-alert"><strong>TROUBLESHOOTING: x2go keyboard map wrong</strong><br />If your x2go session starts with a keyboard map that doesn't match your device, use your <em>x2goclient</em> program on your <strong>remote host</strong> to <em>suspend</em>, then <em>resume</em> your x2go session.</p>

	#images:matlab-2021a
		:markdown
			## [Matlab 2021a on Ubuntu 20.04](#images:matlab-2021a)

			Matlab R2021a install - requires an __m1.medium__ or larger

			Based on Ubuntu 20.04 LTS Development + GUI support + Docker Installation size ~ 31GB

			Licensed for: Standard Suite (MATLAB and Simulink)

			Below is a listing of all the toolkits available on the current Matlab image on Jetstream:

			* MATLAB                                                Version 9.10        (R2021a)

			* Simulink                                              Version 10.3        (R2021a)

			* 5G Toolbox                                            Version 2.2         (R2021a)

			* AUTOSAR Blockset                                      Version 2.4         (R2021a)

			* Aerospace Blockset                                    Version 5.0         (R2021a)

			* Aerospace Toolbox                                     Version 4.0         (R2021a)

			* Antenna Toolbox                                       Version 5.0         (R2021a)

			* Audio Toolbox                                         Version 3.0         (R2021a)

			* Automated Driving Toolbox                             Version 3.3         (R2021a)

			* Bioinformatics Toolbox                                Version 4.15.1      (R2021a)

			* Communications Toolbox                                Version 7.5         (R2021a)

			* Computer Vision Toolbox                               Version 10.0        (R2021a)

			* Control System Toolbox                                Version 10.10       (R2021a)

			* Curve Fitting Toolbox                                 Version 3.5.13      (R2021a)

			* DDS Blockset                                          Version 1.0         (R2021a)

			* DSP System Toolbox                                    Version 9.12        (R2021a)

			* Database Toolbox                                      Version 10.1        (R2021a)

			* Datafeed Toolbox                                      Version 6.0         (R2021a)

			* Deep Learning HDL Toolbox                             Version 1.1         (R2021a)

			* Deep Learning Toolbox                                 Version 14.2        (R2021a)

			* Econometrics Toolbox                                  Version 5.6         (R2021a)

			* Embedded Coder                                        Version 7.6         (R2021a)

			* Filter Design HDL Coder                               Version 3.1.9       (R2021a)

			* Financial Instruments Toolbox                         Version 3.2         (R2021a)

			* Financial Toolbox                                     Version 6.1         (R2021a)

			* Fixed-Point Designer                                  Version 7.2         (R2021a)

			* Fuzzy Logic Toolbox                                   Version 2.8.1       (R2021a)

			* GPU Coder                                             Version 2.1         (R2021a)

			* Global Optimization Toolbox                           Version 4.5         (R2021a)

			* HDL Coder                                             Version 3.18        (R2021a)

			* HDL Verifier                                          Version 6.3         (R2021a)

			* Image Acquisition Toolbox                             Version 6.4         (R2021a)

			* Image Processing Toolbox                              Version 11.3        (R2021a)

			* Instrument Control Toolbox                            Version 4.4         (R2021a)

			* LTE Toolbox                                           Version 3.5         (R2021a)

			* Lidar Toolbox                                         Version 1.1         (R2021a)

			* MATLAB Coder                                          Version 5.2         (R2021a)

			* MATLAB Compiler                                       Version 8.2         (R2021a)

			* MATLAB Compiler SDK                                   Version 6.10        (R2021a)

			* MATLAB Report Generator                               Version 5.10        (R2021a)

			* Mapping Toolbox                                       Version 5.1         (R2021a)

			* Mixed-Signal Blockset                                 Version 2.0         (R2021a)

			* Model Predictive Control Toolbox                      Version 7.1         (R2021a)

			* Motor Control Blockset                                Version 1.2         (R2021a)

			* Navigation Toolbox                                    Version 2.0         (R2021a)

			* Optimization Toolbox                                  Version 9.1         (R2021a)

			* Parallel Computing Toolbox                            Version 7.4         (R2021a)

			* Partial Differential Equation Toolbox                 Version 3.6         (R2021a)

			* Phased Array System Toolbox                           Version 4.5         (R2021a)

			* Powertrain Blockset                                   Version 1.9         (R2021a)

			* Predictive Maintenance Toolbox                        Version 2.3         (R2021a)

			* RF Blockset                                           Version 8.1         (R2021a)

			* RF Toolbox                                            Version 4.1         (R2021a)

			* ROS Toolbox                                           Version 1.3         (R2021a)

			* Radar Toolbox                                         Version 1.0         (R2021a)

			* Reinforcement Learning Toolbox                        Version 2.0         (R2021a)

			* Risk Management Toolbox                               Version 1.9         (R2021a)

			* Robotics System Toolbox                               Version 3.3         (R2021a)

			* Robust Control Toolbox                                Version 6.10        (R2021a)

			* Satellite Communications Toolbox                      Version 1.0         (R2021a)

			* Sensor Fusion and Tracking Toolbox                    Version 2.1         (R2021a)

			* SerDes Toolbox                                        Version 2.1         (R2021a)

			* Signal Processing Toolbox                             Version 8.6         (R2021a)

			* SimBiology                                            Version 6.1         (R2021a)

			* SimEvents                                             Version 5.10        (R2021a)

			* Simscape                                              Version 5.1         (R2021a)

			* Simscape Driveline                                    Version 3.3         (R2021a)

			* Simscape Electrical                                   Version 7.5         (R2021a)

			* Simscape Fluids                                       Version 3.2         (R2021a)

			* Simscape Multibody                                    Version 7.3         (R2021a)

			* Simulink 3D Animation                                 Version 9.2         (R2021a)

			* Simulink Check                                        Version 5.1         (R2021a)

			* Simulink Code Inspector                               Version 3.8         (R2021a)

			* Simulink Coder                                        Version 9.5         (R2021a)

			* Simulink Compiler                                     Version 1.2         (R2021a)

			* Simulink Control Design                               Version 5.7         (R2021a)

			* Simulink Coverage                                     Version 5.2         (R2021a)

			* Simulink Design Optimization                          Version 3.9.1       (R2021a)

			* Simulink Design Verifier                              Version 4.5         (R2021a)

			* Simulink PLC Coder                                    Version 3.4         (R2021a)

			* Simulink Report Generator                             Version 5.10        (R2021a)

			* Simulink Requirements                                 Version 1.7         (R2021a)

			* Simulink Test                                         Version 3.4         (R2021a)

			* SoC Blockset                                          Version 1.4         (R2021a)

			* Stateflow                                             Version 10.4        (R2021a)

			* Statistics and Machine Learning Toolbox               Version 12.1        (R2021a)

			* Symbolic Math Toolbox                                 Version 8.7         (R2021a)

			* System Composer                                       Version 2.0         (R2021a)

			* System Identification Toolbox                         Version 9.14        (R2021a)

			* Text Analytics Toolbox                                Version 1.7         (R2021a)

			* UAV Toolbox                                           Version 1.1         (R2021a)

			* Vehicle Dynamics Blockset                             Version 1.6         (R2021a)

			* Vehicle Network Toolbox                               Version 5.0         (R2021a)

			* Vision HDL Toolbox                                    Version 2.3         (R2021a)

			* WLAN Toolbox                                          Version 3.2         (R2021a)

			* Wavelet Toolbox                                       Version 5.6         (R2021a)

			* Wireless HDL Toolbox                                  Version 2.2         (R2021a)

