#issues
	:markdown
		# [Known Issues](#issues)

	#issues:table2
		:markdown
			[Table 2. Known issues](#issues:table2)

	%table(border="1" cellpadding="3")
		%tbody
			%tr
				%th Number
				%th Issue
				%th Date Reported
				%th Date Resolved
				%th Mitigation
			%tr
				%td &nbsp;
				%td Active Issues
				%td &nbsp;
				%td &nbsp;
				%td &nbsp;
			%tr
				%td
					:markdown
						3
				%td
					:markdown
						Some Jetstream virtual machines remain stuck in the Networking stage when they launch. This prevents users from logging into or using the virtual machine.
				%td
					:markdown
						8/30/2016	
				%td
					&nbsp;
				%td
					:markdown
						Try redeploying the virtual machine as described here, Instance management actions.
			%tr
				%td
					:markdown
						4
				%td
					:markdown
						X2GO on the Biolinux8 image is currently experiencing keyboard mapping issues on first login.
				%td
					:markdown
						9/28/2016
				%td
					&nbsp;
				%td
					:markdown
						Using the x2goclient software on your remote machine
					%ul
						%li suspend the x2go session
						%li restore the x2go session by re-authenticating
					:markdown
						This restored session will have the correct keyboard map.
			%tr
				%td
					:markdown
						7
				%td
					:markdown
						Laptops with touchscreens are unable to use the mouse in the web desktop.
						There is a bug in the web browser code in both Chrome and Firefox for using a touchscreen PC with the web desktop of Jetstream. This is not a bug we can easily work around since it's in the browser code itself.
				%td
					:markdown
						4/17/2017
				%td
					&nbsp;
				%td
					:markdown
						While we generally don't recommend using Internet Explorer, we've found it does not have the same issue.
						Using a VNC viewer also is a workaround.
			%tr
				%td
					:markdown
						8
				%td
					:markdown
						Cannot login with external ssh-client using DSA ssh-keys in my settings.
				%td
					:markdown
						5/12/2017
				%td
					:markdown
						Never
				%td
					:markdown
						DSA keys should not be used with Jetstream. Please use another protocol like RSA
			%tr
				%td
					:markdown
						9
				%td
					:markdown
						Users with a brace " { " in their passwords may experience errors with openstack command line commands.
				%td
					:markdown
						5/23/2017
				%td
					&nbsp;
				%td
					:markdown
						Use a password that does not contain a brace.
						Also may try enclosing passwords in single quote mark (e.g.
						export OS_PASSWORD='password{with-brace}'
						in your openrc file
			%tr
				%td &nbsp;
				%td Resolved Issues
				%td &nbsp;
				%td &nbsp;
				%td &nbsp;
			%tr
				%td
					:markdown
						1
				%td
					:markdown
						Jetstream is not currently recognizing all XSEDE staff allocations, such as TG-STA060015, as being valid for some users. This is in part because these allocations are roaming allocations.
						XSEDE users whose only Jetstream allocation is one of these staff allocations may not be able to log into the system or manage VMs.
				%td
					:markdown
						8/30/2016
				%td
					:markdown
						9/12/2016
				%td
					:markdown
						XSEDE users can resolve this by requesting a non-roaming or startup allocation on Jetstream. See Jetstream Allocations for details or email help@xsede.org.
			%tr
				%td
					:markdown
						2
				%td
					:markdown
						Jetstream may not recognize XSEDE-associated usernames that differ from TACC usernames due to unresolved issues with identity mapping. This primarily affects long-time users of XSEDE or Teragrid.
				%td
					:markdown
						8/30/2016
				%td
					:markdown
						3/1/2017
				%td
					:markdown
						This can be mitigated by filing a ticket at help@xsede.org requesting that your TACC and XSEDE usernames be brought into alignment. 
			%tr
				%td
					:markdown
						5
				%td
					:markdown
						If there is a dot/period within the last three characters of the instance name, that instance will fail to launch. This is not considered a bug by the OpenStack community but rather a feature that ties into a dynamic DNS feature.
				%td
					:markdown
						9/30/2016
				%td
					:markdown
						7/11/2017
				%td
					:markdown
						Code now changes all dots to underscores to prevent this
			%tr
				%td
					:markdown
						6
				%td
					:markdown
						A power issue resulted in some issue being inaccessible. Staff are restoring these instances.
				%td
					:markdown
						4/12/2017
				%td
					:markdown
						4/17/2017
				%td
					:markdown
						Retry your instance. Contact help@xsede.org if it continues to not respond.
