#qsguide
	:markdown
		# [Quick Start Guide](#qsguide)

	#qsguide:access
		:markdown
			## [Accessing Jetstream](#qsguide:access)


			### Accessing Jetstream

			Jetstream is accessible through a <a href="https://use.jetstream-cloud.org">web interface</a> using <a href="http://www.xsede.org">XSEDE</a> credentials via <a href="https://www.globus.org/tags/globus-auth">Globus Auth</a>. Jetstream is <strong>not</strong> accessible via the <a href="https://portal.xsede.org/single-sign-on-hub">XSEDE Single Sign-On Login Hub</a>. Newly created XSEDE accounts must be added to a specific allocation by the PI or Resource manager in order to access Jetstream.

			Jetstream allocations are awarded exclusively through the [eXtreme Science and Engineering Discovery Environment (XSEDE)](https://www.xsede.org/overview). XSEDE provides [XSEDE User Portal (XUP)](https://portal.xsede.org) accounts free of charge.

			To get a Jetstream Trial Access account, please see [Get a Jetstream Trial Access account](#trial-access). These accounts have limited resources available but allow you to try Jetstream.

			To get a more full-featured account, you'll request a startup allocation, please see [Jetstream Allocations](#allocations) for step-by-step instructions.

			<p class="portlet-msg-info">For complete details and screenshots, see the <a href="#access">System Access</a> section of this guide.</p>

	#qsguide:get-started
		:markdown
			## [Getting started](#qsguide:get-started)

			1. To start the VM provisioning process, navigate to <https://use.jetstream-cloud.org>.

			1. Click <span style="color: rgb(153,51,0);">Login</span> in the top right to authenticate using your XSEDE credentials.
			1. On the Globus Auth screen, click <span style="color: rgb(153,51,0);">Continue</span>.
			1. Enter your XSEDE credentials; confirm whether you will allow your credentials to be used to access Jetstream. Best results will occur if you treat your username as if it were case-sensitive when using Jetstream.
			1. Complete your multifactor authorization with your provider and separate device (like a smart phone).
			1. To proceed, you may be requested to click <span style="color: rgb(153,51,0);">Allow</span> for Jetstream webapps, and the web interface to Jetstream will load.
			1. Once you are authenticated via Globus Auth, you will end up on the Jetstream landing page, also called the Dashboard. On this page you will be able to:
				1. launch a new instance
				1. browse help resources
				1. change your settings
				1. see your resources and usage history
				1. view a Jetstream Community Activity feed
			1. As [SSH](#vmlogin:ssh) is a primary method to access Jetstream resources, we recommend you [add SSH keys](#sshkeys) for each host machine from which you will connect to Jestream.

	#qsguide:launch
		:markdown
			## [Launch an instance](#qsguide:launch)

			To launch an instance, you will need to:

			1. open up the Jetstream Atmosphere page, <https://use.jetstream-cloud.org>
			1. follow the instructions below

			<p class="portlet-msg-info">PLEASE NOTE: It can take 5-10 minutes for an instance to fully deploy, so you may wish to plan accordingly.</p>

			1. Click <span style="color: rgb(153,51,0);">Launch New Instance</span> from the Dashboard screen
			1. On the Featured Images screen, search for the image you would like to use or to scroll through the images that you have permission to use
			1. Click on the image you would like to use then click <span style="color: rgb(153,51,0);">Launch</span> to begin the process of creating an instance
			1. On the 'Launch an Instance / Basic Options' page:
				1. Give your instance a name
				1. Select the version if there are multiple versions available
				1. Select a project for your instance or create a new project
				1. Select the allocation source
				1. Choose which provider you want to run on, Indiana or TACC
				1. Select the instance size
				1. Click <span style="color: rgb(153,51,0);">Continue</span>
			1. Review the information entered for provisioning your instance
				1. If everything is OK click <span style="color: rgb(153,51,0);">Launch instance</span> to start the build process
				1. To make changes, click <span style="color: rgb(153,51,0);">Back</span> to return to previous screens
				1. To add or create a deployment script, click <span style="color: rgb(153,51,0);">Advanced Configuration</span>
			1. When the status shows as <span style="color: rgb(153,51,0);">Active</span>, click on the name of the instance to display the instance details
			1. To log in to the instance, click on <span style="color: rgb(153,51,0);">Open Web Shell</span>, located on the lower right hand side of the screen under **Links**. If this is unavailable, try refreshing your window. If the link is still not enabled, log in to your instance via [SSH](#vmlogin:ssh) for your operating system
			1. If you are using <span style="color: rgb(153,51,0);">Open Web Shell</span> and you did not [install your SSH key](#sshkeys) before provisioning and launching the instance, you will be prompted to enter your XSEDE username and password

