#refs
	:markdown
		# [Linux Resources](#refs)

	#table5
		:markdown
			[Table 5. Linux Resources](#table5)

%table(border="1" cellpadding="3")
	%tr
		%td <a href="https://cvw.cac.cornell.edu/Linux">An Introduction to Linux</a>
		%td Cornell Virtual Workshop (full access to the training materials requires logging in with XSEDE credentials)
	%tr
		%td <a href="https://www.linux.com/learn/training">Learn Linux</a>
		%td section from Linux.com website
	%tr
		%td <a href="https://www.howtoforge.com/">HowtoForge</a>
		%td user-friendly Linux tutorials
	%tr
		%td <a href="http://www.linux-tutorial.info/">Linux Knowledge Base</a>
		%td tutorials, forums, and how-tos for Linux
	%tr
		%td <a href="http://linuxcommand.org/lc3_learning_the_shell.php">Learning the Shell</a>
		%td learn the Linux command line
	%tr
		%td <a href="http://rik.smith-unna.com/command_line_bootcamp/">Command-line bootcamp</a>
		%td learn all the basic skills needed to start being productive in the UNIX terminal
