#scientificsoftware
	:markdown
		# [Getting Scientific Software](#scientificsoftware)

	#scientificsoftware:jupyter
		:markdown
			## [Jupyter Notebooks](#scientificsoftware:jupyter)

			All Jetstream instances can now [launch Jupyter notebooks](#eztools:jupyter) from the command line.

	#scientificsoftware:prepackaged
		:markdown
			## [Pre-packaged software](#scientificsoftware:prepackaged)

			* If you are using a CentOS/rpm based VM, you can utilize software packaged by the [XSEDE Campus Bridging](https://www.xsede.org/campus-bridging) team for the [XSEDE National Integration Toolkit (XNIT)](https://kb.iu.edu/d/bdwx).

				* The XNIT, formerly known as the XSEDE Yum Repository, is a collection of [Red Hat Package Manager (RPM)](http://rpm.org/) packages assembled to simplify the process of converting a "bare-bones" Linux cluster into a high-performance, parallel computing system that can be used to support scientific discovery. The packages included in the repository are specific versions and builds of scientific, mathematical, and visualization applications recommended by the Extreme Science and Engineering Discovery Environment (XSEDE) for optimal compatibility with XSEDE digital services.

				* Please see the [Knowledge Base entry about XNIT](https://kb.iu.edu/d/bdwx) for details on what software is available and how to set up the XNIT repository on your VM.

			* If you are using a Debian based system such as Ubuntu, you can use the Alien package to convert RPMs to DEB packages for installation. <span style="color: red">This is not supported</span> and may not perform exactly as expected. For more information on Alien, see [Converting .rpm Packages To Debian/Ubuntu .deb Format With Alien](https://www.howtoforge.com/converting_rpm_to_deb_with_alien).
