#sshkeys
	:markdown
		# [SSH keys](#sshkeys)
		## [Adding SSH keys to the Jetstream Atmosphere environment](#sshkeys)

		Jetstream provides a [web-based terminal](https://iujetstream.atlassian.net/wiki/spaces/JWT/pages/17465492) for accessing your VM at the command line level once it has been deployed. However, you might find that you wish to access your VM via SSH if you've provisioned it with a routable IP number.

		For SSH access, you can create (or copy) SSH public-keys for your non-Jetstream computer that will allow it to access Jetstream then deposit those keys in your Atmosphere settings.

		**NOTE:** _DSS keys were deprecated in [OpenSSH release 7.0](http://www.openssh.com/txt/release-7.0) in late 2015. Jetstream recommends **and only supports** using RSA-based SSH keys or ed25519-based keys._

		### Assistance creating SSH keys

		* Walkthrough: "[How do I set up SSH public-key authentication to connect to a remote system?](https://kb.iu.edu/d/aews)"
			* [Linux or Mac](https://kb.iu.edu/d/aews#linux)
			* [Windows](https://kb.iu.edu/d/aews#putty)
		* Note that these articles describe placing your new keys on a remote system **HOWEVER** on Jetstream, you will add your new SSH public keys to your Atmosphere settings as shown below.

		<p class="portlet-message-info">
			<ul>
				<li>You must <span style="color: red">redeploy</span> or <span style="color: red">reboot</span> an instance _**AFTER**_ adding or updating your SSH public-keys in order to have those keys added to the instance.</li>
				<li>DSA/DSS keys are deprecated for Ubuntu 16.04 and newer instances. Please use RSA keys.</li>
				<li>Atmosphere deployment will add a key to your authorized_keys file for Apache Guacamole (the web shell) - the comment will just have your XSEDE username. We are working on updating that to indicate that it is the web shell key.</li>
			</ul>
		</p>

	#sshkeys:guide
		:markdown
			## [Step-by-step guide](#sshkeys:guide)

			1.	To add your ssh key(s) to Jetstream, click on your <span style="color: rgb(153,51,0);">username</span> in the upper right hand corner and then click <span style="color: rgb(153,51,0);">Settings</span>.

				JSSSH1

				**Figure 1:** The Jetstream dashboard, showing how to access user settings

			1.	On the Settings screen, under Advanced, click <span style="color: rgb(153,51,0);">Show More</span>, to expand the section for adding your SSH key. Check the box that says "Enable ssh access into launched instances" and then click the <span style="color: rgb(153,51,0);">green plus sign</span> to actually add your key.

				JSSSH2

				**Figure 2:** Accessing SSH Key advanced settings in the Jetstream dashboard

			1.	On the next screen give the key a descriptive name and then paste the contents of your PUBLIC ssh key into the dialog box.

				JSSSH3

				**Figure 3:** The public SSH key dialog in the Jetstream UI dashboard

			1. After you have pasted in your SSH key, click <span style="color: rgb(153,51,0);">Confirm</span>. You will then be back at the Settings screen with your key shown in the SSH Configuration section.

			1. You must <span style="color: rgb(153,51,0)">redeploy</span> or <span style="color: rgb(153,51,0)">reboot</span> an instance **AFTER** adding or updating your SSH public-keys in order to have those keys added to the instance.
