#trial-access
	:markdown
		# [Trial Access Allocation](#trial-access)

		Jetstream is an NSF/XSEDE resource designed to promote and provide configurable cyberinfrastructure in the form of cloud computing to both novice and experienced users.

		XSEDE offers <a href="https://portal.xsede.org/group/xup/jetstream-trial-access">Jetstream Trial Allocations (JTA)</a> to Jetstream. JTAs are designed to allow potential users to sample limited access to Jetstream.

		Since there is no formal allocation proposal request, within one business day users will be able to access and evaluate Jetstream prior to requesting a more involved larger startup or research allocation.

		JTAs are limited to:

		* 1000 Service Units (per cloud provider)
		* 2 m1.tiny (1-core) or 1 m1.small (2-core) Virtual Machine (VM) instance per cloud at a time
		* 1 VM backup snapshot per instance
		* 1 small 10 GB disk external storage volume

		This is enough power to give new users an experience with virtual computing and try some "cloud-native" work without substantial impact on the system.

		* **For example**: The minimum 6-core MATLAB image WILL NOT be usable with this trial allocation.
		There is a smaller, very limited, MATLAB Minimal image that will work with the JTA, though 2-core will run more slowly.

		<p style="color: red">The JTA is for exploratory purposes only and currently the limits are hard-wired into the allocation. The additional limits placed on JTA accounts are not present for Startup and Full allocations.</p>

		XSEDE currently has quite a rapid turn around on Startup allocations, often less than a week (excluding holidays).

		You can read more details about <a href="https://wiki.jetstream-cloud.org/Jetstream+Allocations" target="_blank">Jetstream Allocations</a> on the Jetstream Wiki.

	#trial-access:request
		:markdown
			## [Request a Trial Access allocation](#trial-access:request)

			To enroll in the Jetstream Trial Allocation:

			1. Browse to the [XSEDE User Portal](https://portal.xsede.org).
			1. Click "Create Account" on the left side of your screen. 
			1. Fill out the form and click Submit. 
			1. Upon receipt of the email notification click the link in the email to verify your account and set your username and password. If the link doesn't work, go to the [XSEDE User Portal](https://portal.xsede.org), click "Sign In" and then select "Verify Account" under the "Other Sign In Options".
			1. Following account verification, if not already logged in, go to the [XSEDE User Portal](https://portal.xsede.org), click "Sign In" and sign in with the username and password set in the verification step.
			1. You will be asked to read and accept the User Responsibilities form. This outlines acceptable use to protect shared resources and intellectual property.
			1. Now logged in to the portal, click on "MyXSEDE" tab.
			1. In the lower left bar, Click "Enroll".
			1. This will take you to a page describing Trial Access and allowing you to Enroll or Unenroll.
			1. Click the "Enroll Trial Access" button.
			1. A Successful Enrollment will show a message like "Your request is being processed. You will receive an immediate ticket message from our helpdesk system confirming your request. Please expect a follow-up email in 24 hours confirming your request was completed.
			1. Wait approximately 4 hours for your allocation to propagate through the authentication system.
			1. Continue with the [Quick Start Guide instructions](https://wiki.jetstream-cloud.org/Quick+Start+Guide).
				1. Please note that the Trial Access allocation has ID **ASC160018**.
			1. You may unenroll at any time on the same page by clicking the "Unenroll Trial Access" button.

		<div class="portlet-msg-info">
		<p><strong>Account Conflicts</strong></p>
		:markdown
			If you have a <span style="color: red">Deactivated</span>, <span style="color: red">PendingMigration</span>, or otherwise disabled account with the Texas Advanced Computing Center (TACC), you will need to reactivate that account by <a href="https://portal.tacc.utexas.edu/password-reset" target="_blank">changing your password</a> before your Trial allocation can be finalized.
		</div>

	#trial-access:account
		:markdown
			## [Get a Jetstream Trial Access account](#trial-access:account)

		<div class="portlet-msg-alert">
		<p><strong>NOTE!!</strong></p>
		:markdown
			This is a limited trial only and not a full standard account.

			If you are trying to get access to an existing allocation, please see [Jetstream Allocations](#allocations).
		</div>

		<p style="color: red">The Jetstream Trial Access (JTA) account is for exploratory purposes only and there are limits hard-wired into the allocation. Those limits are noted <a href="#trial-access">above</a>.</p>

		<p style="color: red">The additional limits placed on JTA accounts are not present for Startup and Full allocations.</p>

		:markdown
			More details about startup and other allocations are provided in [Allocations](#allocations).

			**1) Do you have an XSEDE User Portal (XUP) account?**

			<span style="color: red; font-weight: 700">NO</span>: If you don't have an XSEDE User Portal (XUP) account, you'll need to create one:

			[Create an XSEDE User Portal Account](https://portal.xsede.org/web/xup/my-xsede?p_p_id=58&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&saveLastPath=0&_58_struts_action=%2Flogin%2Fcreate_account)

			<span style="color: green; font-weight: 700">YES</span>: If you already have an XSEDE User Portal Account, sign into the Portal:

			[Sign in](https://portal.xsede.org/c/portal/login) if you already have an XSEDE User Portal Account

			<img alt="" src="/documents/10308/1181156/trial-access1.jpg/90006554-c62e-421a-ac18-723a3a288038?t=1570749904024" style="width: 600px; height: 317px;" />

			**2) Enroll in Jetstream Trial Access**

			Once you have your Portal account and have logged in, look towards the bottom left for the Jetstream Trial Allocation section. Click the **Enroll** button to get your Jetstream Trial Access account.

			[Login to your XSEDE User Portal account and create your Jetstream Trial Access](https://portal.xsede.org/group/xup/jetstream-rapid-access).

			<img alt="" src="/documents/10308/1181156/trial-access2.jpg/27069c4f-a609-40b5-a333-cb404a979470?t=1570749913238" style="width: 600px; height: 683px;" />

			**3) Get more information about allocations**

			See more <a target="_blank" href="https://wiki.jetstream-cloud.org/Jetstream+Trial+Access+Allocation/Jetstream+Trial+Access+Allocation">information on Trial Access Allocations</a>.

			See more <a target="_blank" href="https://wiki.jetstream-cloud.org/Jetstream+Allocations)">information on other types of Jetstream allocations</a>.

			<img alt="" src="/documents/10308/1181156/trial-access3.jpg/b13001ca-a79a-477e-9bf7-ea29297cb1d6?t=1570749919705" style="width: 600px; height: 463px;" />

