#trouble
	:markdown
		# [Troubleshooting and FAQ](#trouble)

	#trouble:solutions
		:markdown
			## [Problems and Solutions](#trouble:solutions)

	#trouble:table4
		:markdown
			[Table 4. Troubleshooting](#trouble:table4)

	%table(border="1" cellpadding="3")
		%thead
			%tr
				%th Issue
				%th Problem/Question
				%th Possible Solution/Answer
		%tbody
			%tr
				%td 1
				%td
					:markdown
						**My XSEDE account and password formerly worked to login to <a target="_blank" href="https://use.jetstream-cloud.org">Jetstream</a>, and it still works at [XSEDE User Portal](https://portal.xsede.org) but now I get a banner saying that my account does not have access.**
				%td
					:markdown
						1. **Is your XSEDE account still a member of a project that includes a Jetstream allocation?**
							1. Check [XSEDE Allocations Usage](https://portal.xsede.org/group/xup/allocations/usage) to see if you are still a member.
							1. If you are no longer a member, check with the Project PI about regaining access.
						1. **Did your XSEDE project recently expire but you need to restore access?**
							1. If you are the PI, see Requesting additional SUs or storage for Jetstream -- Supplemental Allocations.
						1. **Did your project recently renew or get a supplement?**
							1. Occasionally, accounts fail to be transferred from the previous version of the Project's allocation to the new version of the allocation. In this case, email <help@jetstream-cloud.org> to create a support ticket. Be sure and include the Project code (example: TG-AAA000000) and your XSEDE account name to facilitate manually re-activating your account.
						1. **Have you in the past used compute resources at the Texas Advanced Computing Center (TACC) but haven't used them in more than 6 months?**
							1. If you have a **Deactivated**, **PendingMigration**, or otherwise *disabled* account with the Texas Advanced Computing Center (TACC), you will need to reactivate that account by <a target="_blank" href="https://portal.tacc.utexas.edu/password-reset">changing your password</a>.
			%tr
				%td 2
				%td
					:markdown
						**My XSEDE password doesn't work for logging into my Atmosphere-launched VM**
				%td
					:markdown
						This is not a problem; it is by design.

						Please read [My XSEDE password doesn't work for logging in to my Atmosphere-launched VM](#trouble:xsede-passwords) to resolve the issue.

						If you get a connection refused after multiple failed login attempts, you may need to use the _unban_ utility mentioned in the FAQ Answer below titled **You get an ssh "connection refused" message using a terminal-based shell client or Putty**.
			%tr
				%td 3
				%td
					:markdown
						**VM gets stuck** trying to provision the network or in deploying

						or

						**Previously behaving** and **unmodified VM develops problems.**
				%td
					:markdown
						Try these in this order:

						1. **Refresh:** Refresh your browser and confirm that the Atmosphere interface has synchronized with the latest Jetstream information.
						1. **Wait:** Please be aware that while provisioning is generally rapid, it can sometimes take several minutes during times of heavy activity. (wait 5-10 minutes)
						1. **Redeploy/Reboot:** Click `Projects` (on the top menu) and select the Project with the instance that is stuck.
							1. Then click on the **instance** name that's stuck.

							From the **Actions** menu on the right, try

							* **Redeploy** first (waiting about 5-10 minutes before going to the next step),

							* **Reboot** if that fails (waiting about 5-10 minutes before going to the next step), and

							* **Hard Reboot** if the first two actions fail (waiting about 5-10 minutes).

						1. If everything otherwise seems in order deploying but the instance seems to be delayed in getting an IP address or in showing the **WebShell** buttons, the instance may be updating system packages. You will have to wait until this finalizes, then redeploy. Jetstream staff regularly update **FEATURED IMAGES** to address this. For images not maintained by Jetstream you will need to contact the owner.

						If none of these _Actions_ work, **<span style="color: red">DO NOT DELETE THE INSTANCE</span>**. Make note of the Alias (UID) and IP Address of the Instance, and email that information to <help@jetstream-cloud.org> or click the **Feedback &amp; Support** button.

						__Required IPs__

						149.165.156.57 - use.jetstream-cloud.org

						149.165.157.209 - use-staging.jetstream-cloud.org

						149.165.238.143 - web shell host

			%tr
				%td 4
				%td
					:markdown
						**Do I need to apply security updates to my VM?**
				%td
					:markdown
						It's always a good practice to apply periodic updates. A good recommendation is to check for updates once a week at least.
						See the Jetstream [Policies and Best Practices](#policies) page for details.
			%tr
				%td 5
				%td
					:markdown
						**Hostname mismatch**
				%td
					:markdown
						If you are having hostname mismatch issues with some software, try the following:

						1. Type `su`
						1. Type `crontab -e`
						1. Insert this line:
							`@reboot /bin/hostname | awk -F'.' '{print $1}' > /etc/hostname`
						1. Save and Exit
			%tr
				%td 6
				%td
					:markdown
						**Volume fails to detach**
				%td
					:markdown
						1. make sure the instance to which the volume is attached is actively running
						1. make sure no jobs or process running on the instance are using the volume
						The command 

							`fuser -vm /vol_b`

						will show all processes using the volume named `vol_b`

						* Kill those jobs (**after** verifying the don't need to be running):
							`fuser -km /vol_b`
			%tr
				%td 7
				%td
					:markdown
						**Volume fails to attach**
				%td
					:markdown
						1. make sure the instance to which the volume should be attached is actively running 
			%tr
				%td 8
				%td
					:markdown
						**My instance has been locked by an administrator**
				%td
					:markdown
						1. Are you running an insecure web-service like Apache or MongoDB **with no security features enabled**?
							1. MongoDB: <https://docs.mongodb.com/manual/administration/security-checklist>
							1. Apache: <https://httpd.apache.org/docs/2.4/misc/security_tips.html>
						1. Have you recently requested help with the instance? If so the administrator is likely working on solving your problem.
			%tr
				%td 9
				%td
					:markdown
						**Web Desktop does not launch**
				%td
					:markdown
						Web Desktop should work for any Jetstream Atmosphere Featured Image. If it does not, you might try doing a redeploy on the instance.

						If it's not a featured image, you might wish to try using the instructions for an [external VNC viewer](#vmlogin:vnc).
			%tr
				%td 10
				%td
					:markdown
						**API command line access** to TACC **fails** with "requires authentication" error
				%td
					:markdown
						Add the following two lines to the `openrc.sh` script if they are not there:

						**missing TACC openrc.sh env variables**

						`export OS_USER_DOMAIN_NAME=tacc`

						`export OS_IDENTITY_API_VERSION=3`
			%tr
				%td 11
				%td
					:markdown
						**btrfs** in conjunction with OpenStack's **ceph** has known kernel bug
				%td
					:markdown
						please use a different file system. e.g XFS, EXT4
			%tr
				%td 12
				%td
					:markdown
						**Mouse does not work in web desktop**
				%td
					:markdown
						Laptops with touchscreens are unable to use the mouse in the web desktop using Chrome and Firefox on Windows 10.

						There is a bug in the web browser code in both Chrome and Firefox for using a touchscreen PC with the web desktop of Jetstream. This is not a bug we can easily work around since it's in the browser code itself.

						While we do not recommend using Internet Explorer, it does not have the issue. Using a VNC Viewer also is a viable workaround.
			%tr
				%td 13
				%td
					:markdown
						**web-shell** works for my Ubuntu 16.04 version or newer instance, but I cannot **ssh** to it directly from an external ssh client
				%td
					:markdown
						* Have you [added keys to your Atmosphere settings](#sshkeys)?
						* Are you using DSA keys? DSA keys are deprecated for Ubuntu 16.04 and newer instances. Please use RSA keys.
						* Are you being asked for a password? Since password authentication is turned off by default, you may have a problem with your keys.
			%tr
				%td 14
				%td
					:markdown
						Users with a **brace** " { " or **parenthesis** "(" in their **passwords** may experience errors with OpenStack command line commands.
				%td
					:markdown
						* There is a known issue with braces in openstack passwords when using the OpenStack command line client. At this time, do not use a brace in your password.
						* A potential work around is to enclose your password in single quotes in your `.openrc`
			%tr
				%td 15
				%td
					:markdown
						**You get an ssh "connection refused" message using a terminal-based shell client or Putty**

						**Probable cause: fail2ban has locked you out from vnc or terminal-based shell sessions**
				%td
					:markdown
						You can use the unban utility that is part of the Jetstream Atmosphere EZ-tools.
						Use the web shell and do the following:

						**_unban -l_**

						will show you all currently banned IPs. Find your IP in the list and do:

						**_unban -i your_ip_address_**

						OLD Method:

						* `sudo iptables -L -n`
							* Look for your IP number in that output, if it's there, proceed
						* `sudo fail2ban-client status`

						Should show you fail2ban is working and your jail name(s):

						`[js-157-95] root ~-->fail2ban-client status`

						`Status`

						`|- Number of jail: 1`

						``- Jail list: ssh-iptables`

						* `sudo fail2ban-client set ssh-iptables unbanip YOUR_IP_NUMBER`
			%tr
				%td 16
				%td
					:markdown
						**Jetstream can't be accessed from certain countries**
				%td
					:markdown
						Certain organizations and individuals are subject to trade sanctions, embargoes, and other restrictions under US law or by individual cloud provider policy. These restrictions apply to both domestic and foreign transactions.

						See [Table 4-1](#table4-1) for the list of Embargoed Countries and links to US government ITAR information.
						**This list is subject to change based on US policy.**
			%tr
				%td 17
				%td
					:markdown
						**You get a "403 Forbidden" screen trying to access the web shell or web desktop.**
				%td
					:markdown
						Your Globus credentials have become stale. Log out of Atmosphere by clicking on your username in the upper right hand corner of the Atmosphere interface and select "Sign Out" from the menu. Then log in again and try using the web shell or desktop.
			%tr
				%td 18
				%td
					:markdown
						**I have an Ubuntu18-based instance that has been stuck deploying for quite some time.**
				%td
					:markdown
						Click on your instance and check the version:

						* Based on **Ubuntu 18.04 Devel and Docker v1.12**

						If the version is &lt; 1.8, you will have a known bug that introduces a configuration conflict that prevents rebooting/redeployment.

						Ubuntu versions 1.8+ have been patched to fix this networking bug.

						If possible, please rebuild your instance with a more recent version, otherwise, please contact <help@jetstream-cloud.org> for assistance in applying the fix.
			%tr
				%td 19
				%td
					:markdown
						**When I try to login after having selected XSEDE as my authorization provider, I get a page with the error message:**

						"Unknown user or wrong password"
				%td
					:markdown
						* Try logging into [XSEDE User Portal](https://portal.xsede.org)

						If you can, then it's likely that your username and password combination are correct.

						* **_Are you treating your username and password as if they were case-sensitive?_**

						Best results will occur if you treat your credentials as if they were case-sensitive when using Jetstream, Globus, or XSEDE.

			%tr
				%td 20
				%td
					:markdown
						**My CentOS based instance shows active but isn't reachable via ping or SSH or my CentOS based instance is hung up at "Active Networking" in the booting phase.**
				%td
					:markdown
						Following an upgrade rebuilding virtual networks is now taking multiple hours. In the best case scenario, the failover happens successfully and no VMs are affected. If a networking node is rebooted before all of the rebuild has completed, there may be a gap where dhcp requests are not being answered. Red Hat based OSes like CentOS stop attempting to get a dhcp address after a certain period.

						Rebooting the instance should bring the instance back online.

			%tr
				%td 21
				%td
					:markdown
						**I want to use MS Windows on Jetstream**
				%td
					:markdown
						Jetstream presently does not support Microsoft Windows at all. It will likely not be integrated into Atmosphere during the life of this project. If you wish to explore it with the understanding that we cannot provide support beyond normal VM operations, you can refer to [Microsoft Windows on Jetstream](#windows-jetstream).

			%tr
				%td 22
				%td
					:markdown
						**I have created a custom image in the Atmosphere interface but it isn't deploying properly in the API interface. (or vice versa)**
				%td
					:markdown
						We cannot recommend strongly enough not using Atmosphere images on the API side of Jetstream or vice-versa.

						The Atmosphere user interface is designed to be extremely easy to use, particularly for beginning users but the trade-off is that Atmosphere enforces certain practices behind the scenes.

						The API user interface is close to raw Openstack, makes almost no assumptions, requires advanced knowledge of Openstack and Linux, but is therefore much more flexible.

						API and Atmosphere base images provided by Jetstream staff require SUBSTANTIAL work to make them CLEANLY work in the other environment.

			%tr
				%td 23
				%td
					:markdown
						**My Debian/Ubuntu instance complains about:**

						/etc/profile.d/cyverse10-utils.sh: Syntax error: "(" unexpected (expecting "}")

						**when I update packages.**
				%td
					:markdown
						A package you are installing is forcing the `dpkg` package manager to use `sh` instead of `bash`. This potentially conflicts with various Jetstream configuration scripts. You will need to use :

						**sudo dpkg-reconfigure dash**

						and answer "no". This will avoid the conflict.

			%tr
				%td 24
				%td
					:markdown
						I have a period "." in my instance name
				%td
					:markdown
						Currently, we advise users to avoid placing periods "." anywhere in the names of their instances as this appears to be triggering Dynamic DNS features that then prevent a successful deployment.

			%tr
				%td 25
				%td
					:markdown
						Can I transfer ownership of a VM to another user?
				%td
					:markdown
						The short answer is no. However, there are some methods for handling this. Please review [Can I transfer/change ownership on a running VM to another user?](#trouble:vm-change-owner)

			%tr
				%td 26
				%td
					:markdown
						I'm unable to unshelve my m1.xxlarge or s1.xxlarge instance - it begins the process and reverts to shelved_offloaded.

						I'm unable to launch an m1.xxlarge or s1.xxlarge instance - it goes to an error status very shortly after launch. 

						*Please note that new s1.\* instances are no longer supported. Please use m1.\* instances with attached volumes instead.*
				%td
					:markdown
						While there are a number of reasons this may happen, the primary reason is usually that there are no hypervisors available for this size instance. Xxlarge instances require an almost entirely empty node to run on. If there is more than a pair of m1.tiny instance or m1.small instances, there won't be enough room to spawn an xxlarge instance on that node. 

						Because Jetstream has become a popular resource, it's become likely, especially on the IU cloud, that there is contention for getting entire nodes available for XXLarge instance usage. 

						The only options when this happens is to launch a smaller instance size, launch an xxlarge on the other cloud, wait, or keep trying. You can contact support via help@xsede.org if you want to verify that this is the issue. 

						You may want to benchmark your workflows and see if your code/workflow scales to need 44 cores and how efficiently it uses them. If you could use 24 cores, you'll generally have fewer issues shelving and unshelving. If you truly need 44 cores, you may encounter this from time to time - it's an unfortunate side effect of Jetstream's popularity.

			%tr
				%td 27
				%td
					:markdown
						My instance reverts to a shelved state without me shelving it.
				%td
					:markdown
						1. Is the instance attached to a valid ACTIVE XSEDE allocation with service units still available?
							1. If the allocation is expired or out of services units, the instance will auto-shelve.
						1. Was the allocation recently renewed, converted from STARTUP to RESEARCH, or otherwise updated at XSEDE?
							1. Instances can remain attached to the older, invalid incarnation of the allocation.<br />In these cases you often see a "BLANK" allocation source drop-down menu.<br />Try selecting a valid allocation from the drop-down menu, even if it means re-selecting the one you had before.

			%tr
				%th &nbsp;
				%th Obsolete Issues
				%th &nbsp;
			%tr
				%td 28
				%td
					:markdown
						**Old Web-Shell** (Gate-One) **does not connect** (via ssh)
				%td
					:markdown
						**First, try the new Guacamole-based Web-Shell** "Open Web Shell".
						If your Old Web-Shell / Gate-One "Open Old Web Shell" stalls at a prompt like:
						`Host/IP or ssh:// URL [localhost]:`

						1. **Close the session** by clicking on the "X" in the top-right menu bar
						1. **Close** the browser **window/tab**
						1. Go back to your Jetstream Atmosphere window and re-click on the "Open Old Web Shell" link

	#trouble:embargo-countries
		:markdown
			## Jetstream resources [may not be available](#trouble:embargo-countries) from these countries

			<p class="portlet-msg-warn">NOTE: This document has been superseded by [Acceptable Use Policies and Research and Export Control Guidance](#policies:acceptable-use-guidance).</p>

			Because of restrictions placed at the federal level, access to Jetstream may be limited from the following countries below.

			More information is available from the following US Government websites:

			[DDTC](https://www.pmddtc.state.gov/embargoed_countries)

			[ITAR](http://www.pmddtc.state.gov/regulations_laws/documents/official_itar/ITAR_Part_126.pdf)

	#trouble:table4-1
		:markdown
			[Table 4-1. Embargoed Countries](#trouble:table4-1)

	%table(border="1" cellpadding="3")
		%thead
			%tr
				%th Country
				%th Top-level Domain
		%tbody
			%tr
				%td Afghanistan
				%td .af
			%tr
				%td Belarus
				%td .by
			%tr
				%td Central African Republic
				%td .cf
			%tr
				%td China
				%td .cn
			%tr
				%td Congo
				%td .cg
			%tr
				%td Cuba
				%td .cu
			%tr
				%td Cyprus
				%td .cy
			%tr
				%td Eritrea
				%td .er
			%tr
				%td Haiti
				%td .ht
			%tr
				%td Iran
				%td .ir
			%tr
				%td Iraq
				%td .iq
			%tr
				%td Lebanon
				%td .lb
			%tr
				%td Libya
				%td .ly
			%tr
				%td Myanmar/Burma
				%td .mm
			%tr
				%td North Korea
				%td .kp
			%tr
				%td Somalia
				%td .so
			%tr
				%td Sudan
				%td .sd
			%tr
				%td South Sudan
				%td .ss
			%tr
				%td Syria
				%td .sy
			%tr
				%td Venezuela
				%td .ve
			%tr
				%td Zimbabwe
				%td .zw

	#trouble:former-restrict
		:markdown
			### Countries restricted in the past [may still have problems](#trouble:former-restrict)

			These countries may experience legacy issues. Please contact <help@jetstream-cloud.org> for assistance if you encounter legacy restrictions.

	#trouble:table4-2
		:markdown
			[Table 4-2. Countries with possible legacy issues](#trouble:table4-2)

	%table(border="1" cellpadding="3")
		%thead
			%tr
				%th Country
				%th Top-level Domain
		%tbody
			%tr
				%td Cote D'Ivoire
				%td .ci
			%tr
				%td Fiji
				%td .fj
			%tr
				%td Kyrgyzstan
				%td .kg
			%tr
				%td Liberia
				%td .lr
			%tr
				%td Rwanda
				%td .rw
			%tr
				%td Sri Lanka
				%td .lk
			%tr
				%td Vietnam
				%td .vn

	#trouble:vm-change-owner
		:markdown
			## Can I [transfer/change ownership](#trouble:vm-change-owner) on a running VM to another user?

			There is no direct method to change ownership of a VM. Due to the way Atmosphere is architected, each user stands alone, siloed from other users. Openstack, the underlying cloud operating system for Jetstream, allows all users on an allocation to manage VMs but that doesn't guarantee all team members would have access. Below we will drill down a bit and give more information/details on making a VM available to others.

	#trouble:atmosphere
		:markdown
			### [Atmosphere](#trouble:atmosphere)

			You cannot change ownership at all. The way Atmosphere is architected fairly well prevents this from working.

			What you can do is have the owner of an instance create a custom image (unless it's an s1.* image, in which case there is absolutely no path to this end) and then share it with the selected members. Suggested reading includes [Customizing and saving a VM](#vmcust).

			It is also suggested that once a new owner launches that image that they then create their own instance, verify everything works, and then create their own custom image so that they then become the owner of the image. According to [Jetstream policy](#policies), all items (including images) that belong to a user that hasn't been on an allocation in 6 months may be deleted.

	#trouble:api
		:markdown
			### [API](#trouble:api)

			There's really no need to change ownership as the user doesn't really matter with the API. All members of the allocation can control the VM. That said, you'll want to make sure that the centos or ubuntu (depending on flavor) user has the appropriate keys in their .ssh/authorized_keys file and that the users that need to can log in before you remove someone from your allocation.

			We still encourage making a snapshot ([command line](#api:snapshots-commandline)) and ([Horizon GUI](#api:snapshots-horizon)) just in case.

			As a best practice, if someone is leaving your research or education group, you'll want to make sure that they no longer have access to your VMs (disable their accounts and/or remove their SSH keys from the default centos or ubuntu user. You'll also want to remove their XSEDE username from your allocation if you're the PI, co-PI, or allocation manager. See <a href="https://portal.xsede.org/allocations/managing">Manage Allocations</a> for instructions.

	#trouble:xsede-passwords
		:markdown
			## My XSEDE password [doesn't work](#trouble:xsede-passwords) for logging into my Atmosphere-launched VM

			This is not a problem; it is by design.

			You use your XSEDE username for Atmosphere-launched VMs but there is NO password set - you cannot use a password to login initially. You have to deploy using an ssh key to login remotely using a terminal-based SSH client or Putty unless you have explicitly set a password via the web shell or web desktop. For details, we recommend starting with [Logging in to your VM](#vmlogin).

			which specifically says this in the center box:

			<span style="color: red; font-sytle: italic">Please note that your XSEDE Portal password is not used for logging into VMs. If you wish to use password authentication to ssh into a VM (not recommended!) you will need to set up a password (refer to <a href="#vmlogin:ssh">Logging in with SSH</a> for information).</span> That page references [Adding SSH keys](#sshkeys) in case you need to create and add a key to Atmosphere. 

			Please note Step 5 which says:

			_You must <span style="color: red; font-sytle: italic; font-weight: bold">redeploy</span> or <span style="color: red; font-sytle: italic; font-weight: bold">reboot</span> an instance **AFTER** adding or updating your SSH public-keys in order to have those keys added to the instance._

