#vmlaunch
	:markdown
		# [Launching your VM](#vmlaunch)

		1. To get started using a Jetstream virtual machine, click <span style="color: rgb(153,51,0);">Launch New Instance</span> from the Dashboard screen. On the list of images page, scroll through the the list of images or enter an image name, tag or description in the search box. For instance, to locate images named or tagged with "Ubuntu", enter that text in the search bar. The search is not case sensitive.

			JSLAUNCHVM01U

			**Figure 1:** The Jetstream List of Images page, showing Images available for launch

		1. After selecting an image, details about that image will be displayed. From here, add the selected image to a project, star it as a favorite, or edit image information. Click Edit details to:

			* Update the name of the image
			* Set a date to hide the image from public view
			* Modify the description
			* Add or delete tags
			* Click __Save__
			* Click __Launch__
			<br/>

			JSLAUNCHVM02U

			**Figure 2:** The Instance Details screen

		1. On the <strong>Launch an Instance / Basic Options</strong> screen:

			* Enter a name for the instance
			* Select the image version if there are multiple versions available
			* Select or create a project to hold this instance. If you have any existing projects, they will be shown here and you can select one. If you don't have any existing projects, click __Create New Project__ and fill in Project Name and Description. A detailed description is optional, but it is recommended to include any grant names or other easily identifying details so others working with you may easily find it. Click __Create__ to create the new project.
			* If you want to launch more than one of this size of instance simultaneously, change the value in __Instance Count__. Keep in mind that you will not be able to exceed your cores/ram quota and the launch will fail if the total number of instances will do so.
			* Indicate the allocation source
			* Choose the provider to run on, Indiana or TACC
			* Choose the instance size. This indicates the vCPUs, memory, and disk size for the VM. See the [Virtual Machine Sizes](#vmsizes) table to show the available options and the SUs consumed per hour. Check projected resource usage: **Allocation Used** and **Resources Instance will Use**.
			* Click __Launch Instance__ to start the initialization and build of the instance.
			<br/>

			JSLAUNCHVM03U

			**Figure 3:** The Launch Instance Options screen

		1. Below are several screens that typically display during the provisioning process.

			JSLAUNCHVM09

			**Figure 4a:** Instance creation process: Build - networking

			JSLAUNCHVM10

			**Figure 4b:** Instance creation process: Active - initializing

			JSLAUNCHVM11

			**Figure 4c:** Instance creation process: Active - deploying

		1. The instance will be ready for use when you see a <span style="color: rgb(0,128,0);">green dot</span> and "Active" in the Status column.

			JSLAUNCHVM12

			**Figure 5:** Instance ready for use: Green Dot means Active

		_**Please note that it may take some time for instances to become active, 5-10 minutes on average. The start up time also depends on how busy the system is and on the size of the VM you requested.**_

		Once Active, [Instance Management Actions](#vmlaunch:actions), may be performed on the instance.

	<div class="portlet-msg-alert"><h4>Find the public IP assigned to your instance from the VM command line</h4> If your VM has a public IP and you need to find that IP (and don't have ready access to the Jetstream interface, use wget or curl from the command line to get your public IP:
	<pre>
	wget http://169.254.169.254/latest/meta-data/public-ipv4 -qO -
	wget http://ipinfo.io/ip -qO -
	curl http://169.254.169.254/latest/meta-data/public-ipv4
	curl http://ipinfo.io/ip
	</pre>
	</div>

	:markdown
		**Note:** The third option may work even in conditions in which external DNS servers are not accessible.

		**Note:** The only way to acquire a static IP address is to use the Jetstream API. See [Using the Jetstream API](#api) for details.

