#vmsizes
	:markdown
		# [VM Sizes and Configurations](#vmsizes)

		Jetstream can be used in several different virtual machine (VM) sizes which are charged in service units (SUs) based on how much of the total system resource is used. The table below outlines the VM sizes created for Jetstream.

		*Please note that s1.\* flavors are still listed but are no longer available for new instances. Existing instances are not affected.*

	#vmsizes:table3
		:markdown
			[Table 3. VM Sizes](#vmsizes:table3) 

%table(border="1" cellpadding="3")
	%tr
		%th VM Size
		%th vCPUs
		%th RAM (GB)
		%th Local Storage (GB)
		%th SU cost per hour
		%th Can be saved as an <em>image</em>?
	%tr
		%td m1.tiny
		%td 1
		%td 2
		%td 8
		%td 1
		%td yes
	%tr
		%td m1.small
		%td 2
		%td 4
		%td 20
		%td 2
		%td yes
	%tr
		%td m1.quad
		%td 4
		%td 10
		%td 20
		%td 4
		%td yes
	%tr
		%td m1.medium
		%td 6
		%td 16
		%td 60
		%td 6
		%td yes
	%tr
		%td m1.large
		%td 10
		%td 30
		%td 60
		%td 10
		%td yes
	%tr
		%td m1.xlarge
		%td 24
		%td 60
		%td 60
		%td 24
		%td yes
	%tr
		%td m1.xxlarge
		%td 44
		%td 120
		%td 60
		%td 44
		%td yes
	%tr
		%td s1.large
		%td 10
		%td 30
		%td 120
		%td 10
		%td no
	%tr
		%td s1.xlarge
		%td 24
		%td 60
		%td 240
		%td 24
		%td no
	%tr
		%td s1.xxlarge
		%td 44
		%td 120
		%td 480
		%td 44
		%td no

:markdown

	**This allocation information may be subject to changes in the future.**

	<p style="color: red; font-weight: 700; font-style: italic">Please note that s1.* based customized instances will NOT be able to be used to create images in Atmosphere.</p>

	If your work requires 24 GB of RAM and 60 GB of local storage, then you would request 10 SUs per hour to cover a single Large VM instance.

	If your work requires 10 GB of local storage in 1 thread using 3 GB of RAM, then you would request 2 SUs per hour for a Small VM instance. 
	You would then multiply by the number of hours you will use that size VM in the next year and multiply by the number of VMs you will need.

	To calculate the number of SUs you will need in the next year, first estimate the number of hours you expect to work on a particular project. For example, if you typically work 40 hours per week and expect to spend 25% of your time on this project that would be 10 hours per week. Next, calculate the total number of hours per year for this project:

		Total hours = 10 hours per week * 52 weeks per year 
		Total hours = 520

	Finally, calculate the total SUs for the year for a single instance medium VM: 

		Total SUs = 520 hours per year * vCPUs
		Total SUs = 520 hours per year * 6vCPUs Total SUs = 3120

	If project requires more than 1 medium size VM multiply total SUs by the number of VMs that you will need: 

		Total SUs needed for 3 medium size VMs = 3 * 3120
		Total SUs = 9360

	<p class="portlet-msg-alert"><strong>Shutdown your VM properly</strong><br />The calculations above assume that your VM is shutdown properly. For instructions see <a href="#vmshut">Shutting down, suspending, stopping instances</a>.</p>

	For information on submitting a Research Allocation Request, please see <https://portal.xsede.org/allocations/research#examples>. Note that all allocations above the startup level require a strong justification for the time being requested.

