#windows
	:markdown
		# [MS Windows on Jetstream](#windows)

		We presently do not support Windows on Jetstream. It can be installed via the API side but we are unable to provide any sort of support for it at all.

		If you wish to explore installing Windows on Jetstream, first get a [Startup Allocation](#allocations:apply) if you do not have one.

		Once you have the allocation you'll need to get API access. Follow these [instructions to get API access](#api).

		Once you have API access, you'll want to install the command line clients for later. Instructions for that are available for <a href="https://github.com/naturalis/openstack-docs/wiki/Howto:-Installing-and-configuring-the-OpenStack-commandline-tools-on-Windows" target="_blank">Windows</a> and for [Linux](#api:install-linux) and [OSX](#api:install-osx).

		Then you can follow these <a href="https://superuser.openstack.org/articles/how-to-deploy-windows-on-openstack" target="_blank">deploy instructions</a> or this <a href="https://docs.openstack.org/image-guide/windows-image.html" target="_blank">image guide</a> to get Windows onto Jetstream via the OpenStack API.

		One key difference is you'll need to make sure the image is in RAW format to upload. There are instructions on uploading images; especially make sure you specify the right options under [Uploading a snapshot or new image into Glance](#api:snapshots).

		## Update

		There are Windows Server 2016 and 2019 images available on Jetstream. While these were created by one of the Jetstream parters in conjunction with Jetstream staff, they are <span style="color: red">NOT</span> supported nor guaranteed to work. __It is unlikely that the Jetstream staff will be able to do more than general VM troubleshooting as we do not have Windows expertise on staff.__ It has no license installed so you will need to bring your own license. It was also patched up to 9-23-19 so you will need to run Windows Update immediately. This will likely never, ever work on the Atmosphere side - just FYI. 

	%table.plain
		%thead
			%tr
				%th Image Name
				%th Image UUID
				%th Image size
				%th Minimum VM size required
				%th Active/Archived
		%tbody
			%tr
				%td
					%p JS-API-Beta-Windows2016Server-Latest
				%td
					%p f2b89249-4d77-41c5-a74b-363c8ac39f2c
				%td
					%p 54GB
				%td
					%p m1.medium
				%td
					%p Active
			%tr
				%td
					%p JS-API-Beta-Windows2019Server-Latest
				%td
					%p e2f8c126-9ca7-4bf2-820c-c5acc97b6a3a
				%td
					%p 54GB
				%td
					%p m1.medium
				%td
					%p In Development

	<p style="color: red"><strong>Note:</strong> We recommend that you run Windows Update immediately for ANY of these images. They are patched up to the time they were imaged but may need immediate patching for any security issues that have cropped up since.</p>

	:markdown
		__It is recommended that you have security rules allowing:__

		* Inbound icmp from anywhere
		* Inbound ssh (tcp port 22) from either anywhere or from wherever you will likely be accessing your instance from
		* Inbound rdp (tcp port 3389) from wherever you will likely be accessing your instance from - best security practice would definitely say to limit this as much as possible. You might consider multiple rules with single or small IP ranges to cover secure networks you'll be working from

		You will need to retrieve the Admin password after boot. This can be done from Horizon IF and ONLY IF your ssh key isn't password protected...which is not a recommended practice. For that reason, we will recommend that you also install the __python-novaclient__ package in addition to the __python-openstackclient__ so you can retrieve the Admin password by doing:

			nova get-password INSTANCE_UUID path_to_ssh_private_key

		You'll get back a long, random string that you can use to RDP to your instance. The username will be __Admin__. It will be a different password for every instance. You should be able to change it as you see fit, though you can always retrieve the password again with that nova command. You may get a certificate error trying to RDP in - that's not unexpected and can generally just be cleared.

		In general, depending on the application you are wanting to use, you might see if there is a Linux version available. It would definitely be easier to install a Linux-based software package rather than install and support your own Windows installation on Jetstream.
