
<font color="red">
:markdown
	**NOTICE: The XSEDE-Wide File System will be retired on June 30 2016, and will not be replaced or upgraded. If you have data on the file system, we encourage you to make copies of this data on another available storage system.** 

	While there are currently no plans to provide future storage systems with multi-site capabilities in the manner of the XWFS, there are many other storage systems available through XSEDE. TACC's [Wrangler](/tacc-wrangler) and [Ranch](/tacc-ranch) systems both provide long-term storage facilities, as do the SDSC [Data Oasis](/sdsc-dataoasis) and PSC's [Data Supercell](/psc-data-supercell), as well as disk-based storage resources associated with many compute resources. You may need to [request an allocation](/allocations-overview) on one or more [XSEDE resources](/resources) so users are encouraged to investigate options as soon as possible.

</font>


%section#overview
	:markdown
		## [System Overview](#overview)
		The XSEDE-Wide File System (XWFS) is a wide-area file system based on IBM's General Parallel File System (GPFS) technology and will be mounted on all major XSEDE computational resources. The XWFS includes storage hardware physically located at [XSEDE partner institutions](https://www.xsede.org/leaders) but presents a single file system view of data that may be stored at one or more of these sites, transparently utilizing the XSEDE network backbone to manage movement of data from server nodes to client nodes. 

		The goal of the XWFS is to facilitate sharing and use of data on multiple XSEDE resources by one or more project groups; as such, it is available only via allocation requests through XRAS and allocations decisions will be based largely on the intent and ability of the requestor to make use of a distributed file system. The XWFS is unlike most local cluster file systems in that it is explicitly intended for use with persistent data, and that is available across all of the XSEDE sites; it is also unlike the archive systems at many XSEDE sites in that it is intended to provide fast, online access to data. 

		Initially, the XWFS will be available on login and data movement nodes for allocated XSEDE compute and visualization resources, and will be accessed and used in the same way as a local file system. Future expansion of the XWFS may make it available on compute nodes within systems, however, it is not recommended that the XWFS be used as a replacement for local scratch file systems, which are designed to provide optimal read/write performance for computational tasks running in a cluster.

		<p class="portlet-msg-info">The XSEDE-Wide File System is not backed up or replicated, and by default your data will be stored with one copy. This is similar to most scratch and other file systems in XSEDE. Users with high-value data are encouraged to store it in more than one system to ensure protection against technical failure or human error.</p>

%section#overview-config
	:markdown
		### [System Configuration](#overview-config)
		The XWFS includes components at NICS, TACC, PSC, NCSA, and SDSC, and has an allocatable capacity of 600TB. A total of 14 file system servers running IBM's General Parallel File System are distributed across XSEDE, and each server is connected to the XSEDE network at a speed of 10Gbps. The purpose of the XWFS is not to be associated with any single site or resource, but rather to provide a uniform namespace and access mechanism for users across XSEDE resources, enabling distributed data management and sharing of data. The XWFS is currently mounted on the login nodes of [Lonestar](http://www.xsede.org/tacc-lonestar), [Stampede](http://www.xsede.org/tacc-stampede),  [Gordon](http://www.xsede.org/sdsc-gordon), and [Blacklight](http://www.xsede.org/psc-blacklight). Due to the distributed nature of the XWFS, performance may vary depending on network congestion, access patterns, and local client load. 

%section#overview-filesystems
	:markdown
		The XWFS is currently accessible via a single mount-point, &quot;`/xwfs`&quot;, on the above listed XSEDE resources.  Any XSEDE resources that mount the XWFS will provide access via this mount point. Access to the XWFS is by allocation only (see [below](#access-allocations)). Upon receiving an allocation on the XWFS you will be given a project directory path, and your data should be accessible at that location on any XSEDE resource which mounts the file system. Since the XWFS is a wide-area file system, its performance characteristics are not appropriate for direct use within compute jobs, and it is not mounted on compute nodes of XSEDE clusters.

%section#access
	:markdown
		## [System Access](#access)
		XWFS availability has two components: the base file system availability, and availability on specific resources, which may be dependent on site-specific policies, system compatibility, and deployment schedules.  The XWFS File System is currently in production.  Mount status of associated XSEDE resources is listed below:
