<span style="font-size:235%; font-weight:bold;">XSEDE MFA with Duo</span><br />
<p><span style="font-size:95%;"><i>Last update: April 27, 2021</i></span></p>

<p>Multi-Factor Authentication (MFA) adds a layer of security to your authentication process. In addition to your account password, you can add another factor to your login process such as a telephone number, smartphone, physical token, or other device that is similarly unique to you. With a such a device paired to your XSEDE account using MFA, it becomes much more difficult for another person to gain access to your account, files and data than is the case with Single-Factor Authentication.  Other XSEDE service providers (e.g. TACC, SDSC, PSC) have or will implement MFA on their resources. To provide this service, XSEDE has chosen <a href="https://duo.com" target="_blank">Duo Security</a> as its MFA partner.</p>

<p class="portlet-msg-alert">XSEDE users are now required to set up MFA on their account in order to access the <a href="https://portal.xsede.org/single-sign-on-hub">XSEDE Single-Sign-On Hub</a>, the <a href="https://www.xsede.org/ecosystem/services/sso">XSEDE Web SSO (Single Sign-On) Service</a>, and the <a href="https://www.xsede.org/security/incommon">InCommon Identity Provider</a></p>



#setup
	:markdown
		# [Setup Duo with your XUP Account](#setup)

		Follow these steps to begin using MFA with the XUP Single-Sign-On Hub.

		1. [Install the Duo app on your smartphone or other device](#install)
		1. [Enroll your XSEDE Portal account in Duo](#enroll)
		1. [Pair your Duo-enabled device with your XUP account](#pair)


	#install
		:markdown
			## [Step 1. Install Duo app](#install) 

			Download and install the Duo App on your iPhone or Android device. Search for "Duo Mobile" from your mobile device. You can identify the Duo Mobile app by its green logo. Do not confuse this with Google Duo, which has a blue logo.

		.row
			.col-1-2
				%figure
					<a class="btn btn-info" href="https://itunes.apple.com/us/app/duo-mobile/id422663827?mt=8" target="_blank"><i class="icon icon-apple"></i>Download Apple iOS app</a>
					%p
					%br
					<a class="btn btn-info" href="https://play.google.com/store/apps/details?id=com.duosecurity.duomobile" target="_blank"><i class="icon icon-android"></i>Download Android app</a>
					%figcaption

			.col-1-2
				%figure
					<img alt="Duo Mobile logo" src="/documents/10308/1207783/duo-logo.png/2687d004-8edd-497e-8d5b-4f53adf009d5?t=1475516898429" style="width: 100px; height: 32px;" />
					%figcaption
						Duo app


	#enroll
		:markdown
			## [Step 2. Enroll your XUP account](#enroll)

			* Login to the [XSEDE User Portal](https://portal.xsede.org) (XUP) and visit your [XSEDE Profile](/profile) page (`MyXSEDE->Profile`). Click on "Enroll in Duo" in the upper right corner of your profile page.

		%figure
			<img class="" alt="Enroll in Duo screen on XUP" src="/documents/10308/1207783/My+Profile+-+duo+enroll/5e4615c6-0434-49e2-9ae1-fd1392fca451?t=1465318475612" style="width: 600px; border-style: solid; border-width: 1px; height: 196px;" /></p>
			%figcaption
				Enroll in Duo from XSEDE Profile page

		:markdown
			* The "Duo Enrollment Details" form will pop up. If you do not see this form, please ensure your browser settings will allow pop-ups from `xsede.org`. Read the "Duo Enrollment Details" form and click on "Enroll" to continue.  Enter your XUP password and you will be taken to the "Protect Your XSEDE Account" screen

		%figure
			<img alt="Start Setup screen on XUP" src="/documents/10308/1207783/Duo+start+setup/31d55b58-6dbe-4be3-90ad-563e5e20d42a?t=1465576078567" style="width: 600px; height: 392px; border-width: 1px; border-style: solid;" /></p>
			%figcaption
				Start Setup screen on XUP

		:markdown
			From this screen, do the following:

			* Click on the "Start Setup" button
			* Enter your phone number
			* Click the checkbox to confirm
			* Click "Continue"

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE06.png/74d3dcc5-4be3-4e68-bcaa-a0425d69c146?t=1461858092749" style="width: 600px; height: 395px; border-width: 1px; border-style: solid;" />
			%figcaption


	#pair
		:markdown
			## [Step 3. Pair your Device with Duo](#pair)

			Make sure the Duo App is installed on your Android or iOS device. If not, go back to <a href="#setup">Step 1</a> and install the app before proceeding.  At this point, you should see the "Add a new device" screen in your XUP session.

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE07.png/fd5eda31-53bd-42d4-8482-9411048eefd4?t=1461858091688" style="width: 600px; height: 350px; border-width: 1px; border-style: solid;" />
			%figcaption

		:markdown
			* Select your device type and click "Continue". You will then see the confirmation page where you must indicate that you have Duo Mobile installed on this device.

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE08.png/aa1fa4a6-34f2-446d-9f47-fadb098071a4?t=1461858090390" style="width: 600px; height: 401px; border-width: 1px; border-style: solid;" />
			%figcaption
			

		:markdown
			* Click "I have Duo Mobile installed".

			On the next screen, point your device camera at the barcode on your web browser. If your device doesn't have a camera, press the "No barcode" button and click "Skip this step" in the portal session.

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE12.png/27fca9a2-98af-4760-8fba-17244f9687e8?t=1461858084665" style="width: 600px; height: 312px; border-width: 1px; border-style: solid;" />
			%figcaption
			

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE13.png/bb62830d-3bf7-4361-b7a9-3b5c8ce04f13?t=1461858083432" style="width: 600px; height: 368px; border-width: 1px; border-style: solid;" />
			%figcaption
			

		:markdown
			If you have not opened the app immediately after installing it, you may be presented with a License Agreement on your device. Tap "Accept" on your device to continue and then tap "Continue".

			* Open the Duo app on your device.

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE15.png/c08b1f17-87b5-45a9-ace1-abbf6e1ce5b0?t=1461858080341" style="width: 600px; height: 375px; border-width: 1px; border-style: solid;" />
			%figcaption
			

		:markdown
			* In your XUP session, click "Continue to login". When this is done, you should see a message in the upper right corner of the XSEDE Portal saying "Duo Enrollment" Successful.

		%figure
			<img alt="" src="/documents/10308/1207783/IMAGE16.png/290a6bb1-5994-4995-9a74-96b04e44d749?t=1461858078446" style="width: 600px; height: 375px; border-width: 1px; border-style: solid;" />
			%figcaption
			
		:markdown
			* Click "Send me a Push"

		%figure
			<img alt="" src="/documents/10308/1207783/ios-4.gif/02b7da18-473d-4e6e-bf92-fb297438cec8?t=1474496709000" style="width: 160px; height: 284px; border-width: 1px; border-style: solid;" />
			&nbsp;&nbsp;&nbsp;
			<img alt="" src="/documents/10308/1207783/ios-5.gif/e8b036f4-aa1d-40fa-9658-23dd5ee4274c?t=1474496693000" style="width: 160px; height: 284px; border-width: 1px; border-style: solid;" />
			%figcaption
			

		:markdown
			* Tap the green bar at the top named "Request waiting: Tap to respond". You should now be enrolled.

#new-device
	:markdown
		# [Reregister or Pair a New Device](#new-device)

		<p style="font-size: larger"><strong>Reconnect your XSEDE login with a previously established Duo account</strong></p>

		<p class="portlet-msg-info"><strong>Note: </strong>Use this procedure if the originally registered device has been replaced. You may also need to reactivate if Duo has been uninstalled from a previously paired device. Use this same procedure in either case.</p>

		1. Login to the [XUP](https://portal.xsede.org)
		1. Visit your [XSEDE Profile](/profile) page (`MyXSEDE->Profile`)
		1. Click on &quot;Manage DUO&quot; in the right sidebar.

		This will open an interactive session with your existing XSEDE Duo account. In the session, click &quot;My Settings &amp; Devices&quot; and follow the steps to pair the new device with your previously established XSEDE account.

#duo-connect
	:markdown
		# [Connecting to XSEDE resources](#duo-connect)

		To use Duo to connect to the XSEDE SSO Hub, start an SSH session to `login.xsede.org` as you would normally. After entering your password, you'll be prompted to select an authentication method. Choose "Duo Push" by entering the corresponding number on your keyboard.

		<pre>
		susanunit [501]~> <b>ssh -l slindsey login.xsede.org</b>
		Please login to this system using your XSEDE username and password:
		password: <b>********</b>
		Duo two-factor login for slindsey

		Enter a passcode or select one of the following options:

		1. Duo Push to XXX-XXX-8004
		2. Phone call to XXX-XXX-8004

		Passcode or option (1-2): <b>1</b>
		Success. Logging you in...</pre>

	:markdown
		You should receive an update via your app saying "Request waiting: Tap to respond." Tap this, then tap the "Approve" prompt on the next screen.

	%figure
		<img alt="" src="/documents/10308/1207783/ios-4.gif/02b7da18-473d-4e6e-bf92-fb297438cec8?t=1474496709000" style="width: 160px; height: 284px; border-width: 1px; border-style: solid;" />
		&nbsp;&nbsp;&nbsp;
		<img alt="" src="/documents/10308/1207783/ios-5.gif/e8b036f4-aa1d-40fa-9658-23dd5ee4274c?t=1474496693000" style="width: 160px; height: 284px; border-width: 1px; border-style: solid;" />
		%figcaption
			

	:markdown
		You should now be logged into the XSEDE SSO hub.  From here you can open a `gsissh` session to any of your allocated resources. 

		<pre>
		[slindsey@ssohub ~]$ <b>gsissh stampede</b>
		------------------------------------------------------------------------------
		                  Welcome to the Stampede Supercomputer

		...do work on Stampede...
		
		login4.stampede(1)$ <b>exit</b>
		logout
		Connection to stampede.tacc.xsede.org closed.
		
		[slindsey@ssohub ~]$ <b>gsissh bridges</b>
		You have connected to br006.pvt.bridges.psc.edu 

		...do work on Bridges...

		[lindsey@br006 ~]$ <b>exit</b>
		logout
		Connection to bridges.psc.edu closed.
		[slindsey@ssohub ~]$ <b>exit</b>
		logout
		Connection to login.xsede.org closed.
		susanunit [502]~></pre>

