:markdown
	<font color="red"><b>NOTICE: As of September 30, 2014, the Futuregrid project has ended. If you have questions about the end of the FutureGrid project, or need help identifying opportunities for continuing your work, [submit a FutureGrid support ticket](https://portal.futuregrid.org/help).</b></font>

%section#overview
	:markdown
		## [Overview](#overview)
		FutureGrid is an NSF-funded test-bed that contains geographically distributed resources and services. While other XSEDE systems support production computational science, FutureGrid supports experimental computer science research, software evaluation and testing, education and training, as well as the development of computational science applications.

		National and international scientists and engineers with problems that fall within the scope of FutureGrid as described above are welcome to apply to user FutureGrid. FutureGrid currently supports more than 260 projects and over 1400 registered users. 

		FutureGrid provides a variety of hardware and software platforms to users. The hardware consists of a set of clusters that contain compute and storage resources as described below.

	%section#table-clusters
		%p
			%a(href="#table-clusters")Table 1. FutureGrid Clusters 
		%table(border="1" cellpadding="3")
			%tr 
				%th Resource
				%th Location
				%th System Type
				%th Cores
				%th TFLOPS
				%th Total RAM (GB)
				%th Secondary Storage (TB)
			%tr 
				%td Alamo
				%td Texas Advanced Computing Center
				%td Dell PowerEdge
				%td 768
				%td 8
				%td 1152
				%td 30
			%tr 
				%td Bravo
				%td Indiana University
				%td HP ProLiant
				%td 128
				%td 1
				%td 3072
				%td 30*
			%tr 
				%td Delta
				%td Indiana University
				%td Supermicro X8DTG-QF
				%td 192
				%td 2
				%td 3072
				%td 30*
			%tr 
				%td Foxtrot
				%td University of Florida
				%td IBM iDataPlex
				%td 256
				%td 3
				%td 768
				%td 
			%tr 
				%td Hotel
				%td University of Chicago
				%td IBM iDataPlex
				%td 672
				%td 7
				%td 1344
				%td 120
			%tr 
				%td India
				%td Indiana University
				%td IBM iDataPlex
				%td 1024
				%td 11
				%td 2048
				%td 335*
			%tr 
				%td Sierra
				%td San Diego Supercomputing Center
				%td IBM iDataPlex
				%td 672
				%td 7
				%td 2688
				%td 72
			%tr 
				%td Xray
				%td Indiana University
				%td Cray XT5m
				%td 672
				%td 6
				%td 1344
				%td 335*
			%tr 
				%td 
				%td 
				%th Total
				%th 4384
				%th 45
				%th 15488
				%td 
		%p *Shared storage system 

	%p These clusters are subdivided into several partitions. High Performance Computing (HPC) partitions support the batch execution of serial or parallel jobs (managed by Torque/Moab) and are similar to the large XSEDE resources that support computational science. Infrastructure as a Service (IaaS) partitions allow users to create and manage virtual machines. These virtual machines have hardware (cores, memory, disk) and software (operating system, software packages) characteristics that are specified by the user. FutureGrid provides partitions managed by several different IaaS packages (Nimbus, OpenStack, or Eucalyptus) so that users can become familiar with them. Finally, FutureGrid dedicates partitions of the clusters to specific projects that need custom non-virtualized software and hardware configurations for their work.

	%p The available partitions and the size of these partitions change over time. Currently, the clusters and the number of cores in each partition are:

	%section#table-partitions
		%p
			%a(href="#table-partitions")Table 2. FutureGrid Partitions
		%table(border="1" cellpadding="3")
			%tr 
				%th Resource 
				%th Location 
				%th Torque/ Moab 
				%th Nimbus 
				%th OpenStack 
				%th Eucalyptus 
				%th Dedicated 
			%tr 
				%td Alamo 
				%td Texas Advanced Computing Center 
				%td 552 
				%td 96 
				%td 96 
				%td 
				%td 24 
			%tr 
				%td Bravo 
				%td Indiana University 
				%td 128 
				%td 
				%td 
				%td 
				%td 
			%tr 
				%td Delta 
				%td Indiana University 
				%td 192 
				%td 
				%td 
				%td 
				%td 
			%tr 
				%td Foxtrot 
				%td University of Florida 
				%td 
				%td 184 
				%td 
				%td 
				%td 
			%tr 
				%td Hotel 
				%td University of Chicago 
				%td 312 
				%td 328 
				%td 
				%td 
				%td 
			%tr 
				%td India 
				%td Indiana University 
				%td 440 
				%td 
				%td 224 
				%td 240 
				%td 
			%tr 
				%td Sierra 
				%td San Diego Supercomputing Center 
				%td 208 
				%td 144 
				%td 96 
				%td 
				%td 
			%tr 
				%td Xray 
				%td University of Illinois 
				%td 664 
				%td 
				%td 
				%td 
				%td 

	%p On top of these partitions, FutureGrid provides platforms, services, and tools. An important category of Platform as a Service (PaaS) provided by FutureGrid is data analysis platforms - FutureGrid provides several platforms inspired by MapReduce and Hadoop to users. FutureGrid also provides Grid services from Genesis II, Globus, and Unicore.
	%p Finally, FutureGrid provides a number of tools to help users run experiments. These tools include ones that monitor the performance of the infrastructure and user applications and ones that help users run large distributed experiments.

	%p Additional information about FutureGrid is available from the <a href="https://portal.futuregrid.org">FutureGrid portal</a>. 



%section#access
	:markdown 
		## [System Access](#access)
		FutureGrid is in the process of integrating with XSEDE mechanisms for accounts and allocations. Until this integration is complete, users can already create accounts and request access via the <a href="https://portal.futuregrid.org/gettingstarted">FutureGrid portal</a>.

%section#nimbus
	:markdown
		## [Using Nimbus](#nimbus)
		Nimbus is an open source Infrastructure as a Service package that allows users to run virtual machines (VMs) on FutureGrid hardware. You can easily upload your own VM images or you can customize images provided by FutureGrid. When you boot a VM, it is assigned a public IP address (and/or an optional private address) and you are authorized to log in as root via `ssh`. You can then run services, perform computations, and configure the system as desired. After using and configuring the VM, you can save the modified VM image back to the Nimbus image repository.

	%section#nimbus-partitions
		:markdown
			### [Nimbus Partitions](#nimbus-partitions)
			Currently Nimbus is installed on four FutureGrid clusters:

			* Hotel (University of Chicago)
			* Foxtrot (University of Florida)
			* Sierra (San Diego Supercomputer Center)
			* Alamo (Texas Advanced Computing Center)

	Please note that the number of VMs and the machines on which Nimbus is installed may change.
	Nimbus on Hotel, Foxtrot, and Sierra is installed atop the <a href="http://xen.org">Xen</a> hypervisor, while Nimbus on Alamo is deployed atop the <a href="http://www.linux-kvm.org">KVM</a> virtualization infrastructure. One result of this is that VMs on Alamo use a different virtual machine image format and images cannot be moved between Alamo and the other clusters.
	All FutureGrid users are allowed access to Nimbus on all sites.

	%section#nimbus-stepbystep
		:markdown
			### [Using Nimbus - step by step guide](#nimbus-stepbystep)
			Nimbus provides services that can be controlled remotely using a variety of clients. In this tutorial, we will use a simple command line tool called the Cloud Client. If you'd rather have programmatic control, the Amazon EC2 protocols <a href="http://www.nimbusproject.org/docs/current/elclients.html">are supported</a>, which have a variety of excellent clients available for many languages.

			1. <b>Download and Install the Cloud Client</b> from the <a href="http://www.nimbusproject.org/downloads/">Nimbus website</a>. 
				<pre>$ <b>wget http://www.nimbusproject.org/downloads/nimbus-cloud-client-021.tar.gz</b></pre>
				Unpack the archive onto your system or into your home directory on one of the FutureGrid login nodes.
				<pre>
				$ <b>tar xzf nimbus-cloud-client-021.tar.gz </b>
				$ <b>ls nimbus-cloud-client-021/ </b>
				CHANGES.txt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;README.txt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;conf&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; lib 
				LICENSE.txt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; history&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;samples</pre>
			2. <b>Obtain Credentials and Configuration Files</b>: In your home directory on hotel you'll find the file <code>nimbus\_creds.tar.gz</code>
				<pre>
				username@hotel $ <b>ls ~/nimbus\_creds.tar.gz</b>
				nimbus\_creds.tar.gz</pre>
				If your credentials are not present on Hotel, contact <a href="https://portal.futuregrid.org/help">https://portal.futuregrid.org/help</a>.
				Back on your system, download and unpack these files into your Cloud Client's &quot;`conf/`&quot; directory:
				<pre>
				$ <b>cd nimbus-cloud-client-021/conf/</b>
				$ <b>scp hotel.futuregrid.org:nimbus\_creds.tar.gz .</b>
				$ <b>tar xvzf ~/nimbus\_creds.tar.gz </b>
				usercert.pem 
				userkey.pem 
				cloud.properties 
				hotel.conf 
				sierra.conf 
				foxtrot.conf 
				alamo.conf</pre>

				Now you should have a functional cloud client. To begin, check out the help text and `README.txt` file included in the Nimbus cloud client distribution.
				<pre>
				$ <b>cd ../</b>
				$ <b>bin/cloud-client.sh --help</b></pre> 

			3. <b>Prepare an SSH Key</b>: In order to use Nimbus clouds effectively, you need to have an SSH public key in a known place so that it can be injected into your VM, and thus allow you (and only you) root access to your VM.  By default,  Nimbus expects this key to be in `~/.ssh/id_rsa.pub` on the system where you installed the Cloud Client. If your public key is in a different location (e.g., `~/.ssh/id_dsa.pub`), you can edit the `nimbus-cloud-client-021/conf/*.conf` configuration files to specify this location.
				Cloud Client has an option to help you check that the security environment is properly configured.  Run the following command to display some information about your security environment:
				<pre>
				$ <b>bin/cloud-client.sh --security</b></pre>

			4. <b>Launch the Cloud Client</b>:  When the credentials file was untarred in step 2., a configuration file for each of the four FutureGrid clouds was created in your `$HOME/conf/` directory.  Now let us take a look at accessing each of those clouds and seeing what virtual machines are available for use.  This will require two options to cloud client.  The first is &quot;`--conf`&quot;, which is used to select the cloud you wish to use.  Simply provide a path to the cloud configuration file.  This &quot;`--conf`&quot; switch will be used in all commands to direct Cloud Client to the cloud of interest.
				The second &quot;`&quot;--list` option will simply provide a listing of all the available virtual machines.
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --list</b>
				[Image] 'hello-cloud' Read only 
				Modified: Jan 13 2011 @ 14:15 Size: 576716800 bytes (~550 MB)</pre>
	
				This command lists the available images on the system.  Notice the `hello-cloud` virtual machine.  This is the test image we will use.
	
			5. <b>Run a Virtual Machine</b>: Next, boot a virtual machine:
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --run --name hello-cloud --hours 2 </b>
				Launching workspace.
				Workspace Factory Service: https://svc.uc.futuregrid.org:8443/wsrf/services/WorkspaceFactoryService
				Creating workspace &quot;vm-001&quot;... done.
				IP address: 149.165.148.253 
				Hostname: vm-253.uc.futuregrid.org 
				Start time: Wed Jul 25 15:44:33 CDT 2012 
				Shutdown time: Wed Jul 25 17:44:33 CDT 2012 
				Termination time: Wed Jul 25 17:46:33 CDT 2012
				Waiting for updates.
				&quot;vm-001&quot; reached target state: Running</pre>

				Once the image is running, you should be able to log into it via `ssh`. Note that you may need to wait 
				another minute or so before you can actually log in, as the system needs time to boot and start services. 
				Log in as the root user, and connect to the host printed out by the run command.  Note that you <b>must</b> 
				run this command in a location that has access to your private key.  This means it must be in the `~/.ssh/` 
				directory on the file system from where you launch this command, or you have to have used the `-A` option to 
				`ssh` when logging into hotel (as shown above).
				<pre>$ <b>ssh <a href="mailto:root@vm-253.uc.futuregrid.org">root@vm-253.uc.futuregrid.org</a></b></pre>

			1. <b>Create a New VM Image</b>: Once you have a root shell on your VM you may modify it as though it were a 
				real machine.  Here we encourage you to make some changes.  Create a new user, install some additional 
				software, or simply create a text file in the root user's account.
				<pre>
				&#35; <b>touch /root/CHANGE</b> 
				&#35; <b>exit</b></pre>

			1. <b>Save the Changes to a New VM</b>: Now that you have modified the VM, you can save it back into your 
				personal repository.  To do this, you will use the &quot;`--save`&quot; and &quot;`--newname`&quot; options.  
				You will also need the VM handle as it was displayed in the output from the run command.  If you have 
				forgotten what this was, you can use the &quot;`--status`&quot;option to find it:
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --status</b>
				Querying for ALL instances. 
				[\*] - Workspace #32292. 149.165.148.253 [ vm-253.uc.futuregrid.org ]
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State: Running
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration: 120 minutes.
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start time: Wed Jul 25 15:44:33 CDT 2012
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shutdown time: Wed Jul 25 17:44:33 CDT 2012
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Termination time: Wed Jul 25 17:46:33 CDT 2012
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Handle: vm-001
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image: hello-cloud</pre>
				Note the handle &quot;`vm-001`&quot;.  To save this VM for future use, run the following command:
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --save --newname myvm --handle vm-001 </b>
				Saving workspace.
				&mdash; Workspace handle (EPR): '/N/u/bresnaha/nimbus-cloud-client-021/history/vm-001/vw-epr.xml'
				&mdash; New name: 'myvm'
				Waiting for updates. 
				The image has successfully been transferred to your repository directory. 
				Finalizing the deployment now (terminating the resource lease).</pre>
				Do another listing of that cloud and you will see your VM is now available for launch:
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --list </b>
				[Image] 'myvm' Read/write 
				Modified: Jul 25 2012 @ 20:49 Size: 576716800 bytes (~550 MB)
				&mdash;--- 
				[Image] 'hello-cloud' Read only Modified: Apr 8 2011 @ 13:56 Size: 576716800 bytes (~550 MB)</pre>
		
			5. <b>Launch Your New VM</b>: You can now launch your new VM just like you did the `hello-cloud` VM above; simply change the name from &quot;`hello-cloud`&quot; to &quot;`myvm`&quot;.
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --run --name myvm --hours 2 </b>
				Launching workspace. 
				Workspace Factory Service: <a href="https://svc.uc.futuregrid.org:8443/wsrf/services/WorkspaceFactoryService">https://svc.uc.futuregrid.org:8443/wsrf/services/WorkspaceFactoryService</a>
				Creating workspace &quot;vm-002&quot;... done.
				IP address: 149.165.148.151
				Hostname: vm-151.uc.futuregrid.org
				Start time: Wed Jul 25 15:58:31 CDT 2012
				Shutdown time: Wed Jul 25 17:58:31 CDT 2012
				Termination time: Wed Jul 25 18:08:31 CDT 2012 
				Waiting for updates. &quot;vm-002&quot; reached target state: Running 
				Running: 'vm-002'</pre>
				Then `ssh` into the machine and verify that your changes persisted.

			6. <b>Terminate the VM</b>: Your VM will terminate after its allocated time expires.  In our examples here, that is after 2 hours.  However,  you may wish to terminate it earlier.  You can do so by again using the &quot;`--handle`&quot; option as you did in the save a new VM step and the &quot;`--terminate`&quot; option:
				<pre>
				$ <b>bin/cloud-client.sh --conf conf/hotel.conf --terminate --handle vm-002 </b>
				Terminating workspace.
				&mdash; Workspace handle (EPR): '/N/u/bresnaha/nimbus-cloud-client-021/history/vm-002/vw-epr.xml' 
				Destroying vm-002... destroyed.</pre>

	%section#nimbus-virtualclusters
		:markdown
			### [Virtual Clusters](#nimbus-virtualclusters)
		An important feature of Nimbus is the ability to easily create clusters consisting of virtual machines with different purposes (e.g. compute nodes, an administrative node, and a login node). You can create a virtual cluster using the cloud-client by providing a cluster definition file. An overview of this process is provided at the end of the FutureGrid <a href="https://portal.futuregrid.org/tutorials/nimbus">Nimbus Tutorial</a> and additional information is available in the Nimbus <a href="http://www.nimbusproject.org/docs/current/clouds/clusters2.html">Cluster Guide</a>.

%section#openstack
	:markdown
		## [Using OpenStack](#openstack)
	<a href="http://www.openstack.org">OpenStack</a> is a popular set of open source software for building IaaS clouds. OpenStack includes services for managing virtual machine instances and images, data objects and storage volumes, networking, and for managing identities for users and user groups.
	OpenStack 2012.1 (Essex) is deployed on India and Sierra, and OpenStack 2012.2 (Folsom) will soon be available on Alamo.  OpenStack provides a web interface, an OpenStack-specific REST API, and an Amazon EC2-compatible REST API. The EC2-compatible API can be accessed by many client tools such as <a href="http://www.eucalyptus.com/download/euca2ools">`euca2ools`</a>.
	You can use `euca2ools` by either downloading it from the <a href="http://www.eucalyptus.com/download/euca2ools">Eucalyptus web site</a> and installing it on your system, or you can use the `euca2ools` installation on India by loading the `euca2ools` module. Then you need to obtain your OpenStack credentials as described in the <a href="https://portal.futuregrid.org/tutorials/openstack">FutureGrid Openstack Tutorial</a>. 

	%section#openstack-gettingstarted
		:markdown
			### [Getting Started](#openstack-gettingstarted)
			Use the &quot;`euca-describe-availability-zones`&quot; command to test the setup:
			<pre>
			$ <b>euca-describe-availability-zones</b>
			AVAILABILITYZONE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;india&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;available</pre>
			Following are the current images uploaded in essex:
			<pre>
			$ <b>euca-describe-images |grep common</b>
			IMAGE   ami-000000b4   common/precise-server-cloudimg-amd64.img.manifest.xml   available  \
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;private   x86_64   machine   aki-000000b3   instance-store</pre>
			The following types of VM are available on India:

		%table(border="1" cellpadding="3")
			%tr 
				%td ID 
				%td Name 
				%td Memory (MB) 
				%td Temporary disk (GB) 
				%td Virtual CPUs 
			%tr 
				%td 1 
				%td m1.tiny 
				%td 512 
				%td 0 
				%td 1 
			%tr 
				%td 2 
				%td m1.small 
				%td 2048 
				%td 20 
				%td 1 
			%tr 
				%td 3 
				%td m1.medium 
				%td 4096 
				%td 40 
				%td 2 
			%tr 
				%td 4 
				%td m1.large 
				%td 8192 
				%td 80 
				%td 4 
			%tr 
				%td 5 
				%td m1.xlarge 
				%td 16384 
				%td 160 
				%td 8

		:markdown
			Before you instantiate a VM, you need to register at least one key pair. This key pair will be injected into the VM, allowing you to `ssh` into the instance. This is done using the euca-add-keypair command:
			<pre>$ <b>euca-add-keypair key1 &gt; key1.pem</b></pre>
			Fix the permissions on the generated private key:
			<pre>$ <b>chmod 0600 key1.pem</b></pre>
			Note: Instead of creating a new keypair, you can import a public key created with a third-party tool using euca-import-keypair. For instance, if you have your ssh public key in india, you can do the following:
			<pre>$ <b>euca-import-keypair -f .ssh/id_rsa.pub key2</b></pre>
			You can add multiple keys, and here's the command to check the list of your keys:
			<pre>
			$ <b>chmod 0600 keyname.pem euca-describe-keypairs</b>
			KEYPAIR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key1 &nbsp; &nbsp;53:e3:01:c1:70:df:94:ef:59:93:1a:3f:c0:10:a5:34 
			KEYPAIR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key2 &nbsp; &nbsp;07:a5:da:30:b4:55:16:eb:35:54:a2:5a:56:68:f6:cb</pre>


	%section#openstack-instances
		:markdown
			### [Managing Instances](#openstack-instances)
			At this point, you can start a VM using one of the pre-existing images. You need the identifier referred to as the &ldquo;ami-id&rdquo; of the image you want to start. This identifier was listed in the output of the euca-describe-images command you saw earlier. Use the euca-run-instances command to start the VM (use the key name you specified before).
			<pre>
			$ <b>euca-run-instances -k key -n 1 ami-000000b4</b>
			RESERVATION r-gbs9hpmm 461884eef90047fbb4eb9ec92f22a1e3 default INSTANCE i-
			00000a27 ami-000000b4 server-2599 server-2599 pending key 0 m1.small 2012-07-
			31T14:54:40.000Z unknown zone</pre>

			The output shows the id of your VM, which in this case is i-00000a27. This id will be useful to do 
			operations with your VM. You can also see the status of your VM, which is pending now. You need to 
			wait until the VM is in running status to be able to log into the VM.

			You can monitor the status of the instances by using the `euca-describe-instances` command. The public 
			IP is highlighted in yellow; each VM should have one:
			<pre>
			$ <b>euca-describe-instances</b>
			RESERVATION r-xfj0nag8 461884eef90047fbb4eb9ec92f22a1e3 default INSTANCE i-
			0000090e ami-00000016 <span style="background-color: #ffff00">149.165.158.157</span> server-2318 running clegoues 0
			m1.medium 2012-07-24T19:39:21.000Z india aki-00000014 ari-00000015 
			&nbsp;
			RESERVATION r-8mwsq0n0 461884eef90047fbb4eb9ec92f22a1e3 default INSTANCE i-
			000008f2 ami-000000b4 149.165.158.130 server-2290 running clegoues 0 
			m1.medium 2012-07-24T02:19:38.000Z india aki-00000014 ari-00000015 INSTANCE 
			i-000008f3 ami-000000b4 149.165.158.149 server-2291 running clegoues 1
			m1.medium 2012-07-24T02:19:38.000Z india aki-00000014 ari-00000015 INSTANCE
			i-000008f4 ami-000000b4 149.165.158.156 server-2292 running clegoues 2 
			m1.medium 2012-07-24T02:19:39.000Z india aki-00000014 ari-00000015 
			&nbsp;
			RESERVATION r-p90m3pno 461884eef90047fbb4eb9ec92f22a1e3 default INSTANCE i-
			000007e2 ami-000000b4 149.165.158.158 server-2018 running jiaazeng 0 
			m1.medium 2012-07-15T20:56:16.000Z india aki-00000026 INSTANCE i-000007e3 
			ami-000000b4 149.165.158.159 server-2019 running jiaazeng 1 m1.medium 2012-
			07-15T20:56:17.000Z india aki-00000026 
			&#46;...</pre>

			You can monitor or restrict the output simply by checking the status of your VM:
			<pre>
			$ <b>euca-describe-instances i-00000a27</b>
			RESERVATION r-zvtbbj8j default INSTANCE i-00000a27 ami-000000b4 server-1854 
			server-1854 pending key 0 m1.small 2012-07-09T15:49:46.000Z unknown zone aki-
			0000000e ari-0000000f</pre>

			This VM does not have a public IP yet. Getting the public IP may take some time, but it is needed to be able to connect to the VM:
			<pre>
			$ <b>euca-describe-instances i-00000a27</b>
			RESERVATION r-zvtbbj8j default INSTANCE i-00000a27 ami-000000b4 
			149.165.158.175 server-1854 running key 0 m1.small 2012-07-09T15:49:46.000Z  
			unknown zone aki-0000000e ari-0000000f</pre>

			The ssh private key that was generated earlier can now be used to log in to the VM. You also need to indicate the public IP associated with your VM (use the key name you have specified before).
			<pre>
			$ <b>ssh -i key.pem ubuntu@149.165.158.175</b>
			$ <b>ssh ubuntu@149.165.158.175 (for imported keys)</b></pre>

			Note: For some ubuntu images, log in with the user ubuntu, then sudo.
			Exit from the VM to continue with the tutorial.
			<pre>&#35; <b>exit</b></pre>

			Once you are done using your image, you can terminate it by:
			<pre>$ <b>euca-terminate-instances i-00000a27</b></pre>

	%section#openstack-images
		:markdown
			### [Managing Images](#openstack-images)
			We will use a CentOS 5 image to test the image registration:
			<pre>$ <b>wget i120/test-image/centos5.tgz</b></pre>

			Uncompress and untar the archive:
			<pre>$ <b>tar xvfz centos5.tgz</b></pre>

			Bundle the image with a kernel and a ramdisk using the `euca-bundle-image` command. In this example, we will use the xen kernel already registered. `euca-describe-images` returns the kernel and ramdisk IDs that we need.
			<pre>
			$ <b>euca-bundle-image -i centos5.img --kernel aki-0000000e --ramdisk ari-0000000f</b>
			Checking image 
			Encrypting image 
			Splitting image... 
			Part: centos5.img.part.00 
			&#46;... 
			Part: centos5.img.part.35 
			Generating manifest /tmp/centos5.img.manifest.xml</pre>

			Use the generated manifest file to upload the image. You need to specify a bucket name; it can be anything you want:
			<pre>
			$ <b>euca-upload-bundle -b -bucket -m /tmp/centos5.img.manifest.xml</b>
			Checking bucket: -bucket 
			Creating bucket: -bucket 
			Uploading manifest file 
			Uploading part: centos5.img.part.00 
			&#46;... 
			Uploading part: centos5.img.part.35 
			Uploaded image as -bucket/centos5.img.manifest.xml</pre>

			Register the upload image:
			<pre>
			$ <b>euca-register -bucket/centos5.img.manifest.xml IMAGE ami-00000033</b></pre>

			The returned image ID can now be used to start instances with `euca-run-instances` as described earlier. However, you cannot run instances until the image is in available status. You can check the status using `euca-describe-images`:
			<pre>
			$ <b>euca-describe-instances ami00000033 IMAGE ami-00000033</b>
			bucket/centos5.img.manifest.xml available private x86_64 machine aki-0000000e 
			ari-0000000f instance-store</b></pre>

			If you ever wish to delete an image, simply deregister it:
			<pre>$ <b>euca-deregister ami-00000033</b></pre>


%section#eucalyptus
	:markdown
		## [Using Eucalyptus](#eucalyptus)
		<a href="http://www.eucalyptus.com">Eucalyptus</a> is a software platform that implements <a href="http://en.wikipedia.org/wiki/Cloud_computing#Infrastructure_as_a_Service_.28IaaS.29">IaaS-style</a> cloud computing. Eucalyptus provides an Amazon Web Services (<a href="http://aws.amazon.com/">AWS</a>) compliant EC2 web service interface and can be used with a variety of client tools, such as <a href="http://www.eucalyptus.com/download/euca2ools">`euca2ools`</a> described above, that support this interface. 

		Eucalyptus 3 is installed on the India and Sierra clusters and the <a href="https://portal.futuregrid.org/tutorials/eucalyptus3">FutureGrid Eucalyptus Tutorial</a> provides more detail on how to use Eucalyptus on FutureGrid.

%section#mapreduce
	:markdown
		## [Running MapReduce](#mapreduce)
		MapReduce is a programming model that originated with Google for processing large data sets. A user provides a map function that transforms a key/value pair into a set of intermediate key/value pairs and a reduce function that combines intermediate values that have the same key. A MapReduce framework typically includes software to perform these operations and to manage large data sets.

		[Hadoop](http://hadoop.apache.org/) is an open source MapReduce framework that is managed by the Apache foundation. Hadoop typically requires a dedicated cluster, but Hadoop and the work at Google have inspired a number of projects to produce MapReduce software that does not require dedicated clusters. FutureGrid supports several of these frameworks.

		FutureGrid supports <a href="https://portal.futuregrid.org/tutorials/running-hadoop-batch-job-using-myhadoop">myHadoop</a>, <a href="https://portal.futuregrid.org/salsahadoop-futuregrid-hpc">SalsaHadoop</a>, and <a href="https://portal.futuregrid.org/twister-futuregrid-hpc">Twister</a> on the HPC partitions and also supports <a href="https://portal.futuregrid.org/salsahadoop-futuregrid-cloud-eucalyptus">SalsaHadoop</a> and <a href="https://portal.futuregrid.org/tutorials/eucalyptus-and-twister-futuregrid">Twister</a> on the Eucalyptus partitions.

%section#hpc
	:markdown
		## [Using HPC Partitions](#hpc)
		Several of the clusters that are part of FutureGrid have partitions that operate as High Performance Computing (HPC) systems. To use these partitions you `ssh` to a login node and submit jobs to a batch scheduling system for execution on compute nodes. The compute nodes are not virtualized, have fixed operating systems, and are suitable for running parallel applications. FutureGrid currently provides HPC partitions on Alamo, Hotel, India, Sierra, and Xray.

	%section#hpc-access
		:markdown
			### [Accessing HPC Partitions With SSH](#hpc-access)
			To access the FutureGrid HPC partitions, you need a FutureGrid account and an SSH public key uploaded to FutureGrid. You can then simply `ssh` to the login node of the FutureGrid system you would like to use. These login nodes are named using the `.futuregrid.org` convention, specifically:

			* alamo.futuregrid.org
			* hotel.futuregrid.org
			* india.futuregrid.org
			* sierra.futuregrid.org
			* xray.futuregrid.org

			If your FutureGrid username is different from your username on your system, you will need to include it in your `ssh` command:
			<pre>$ <b>ssh <i>futuregrid_username</i>@<i>system</i>.futuregrid.org</b></pre>

			Your username on FutureGrid systems is the same as your username on the FutureGrid portal.

	%section#hpc-filesystems
		:markdown
			### [File Systems](#hpc-filesystems)

			* <b>Home (`$HOME`):</b> Home directories are located at `/N/u/<i>username</i>, with automated nightly backups. This is where you are encouraged to keep source files, configuration files, and executables. $HOME directory space is limited so you should stage large data sets to your $SCRATCH directory from external storage systems when you need them.  Note: This is an NFS file system and may result in slower access for some applications.
			* <b>Scratch:</b> Scratch directories are located in &quot;`/N/work`&quot; or &quot;`/N/work/$USER`&quot;, depending on the system. This file system is mounted to all compute nodes and is an appropriate place for you to stage large input and output files. This file system is not backed up and your data may be automatically deleted if the file system becomes full. You should therefore ensure that any data that you wish to permanently store is stored on an external file system.

	%section#hpc-compenv
		:markdown
			### [Computing Environment](#hpc-compenv)
			FutureGrid HPC partitions use the Modules package to let you dynamically control your environment. Modules allows you to load and unload packages, and ensure a coherent working environment.
			It is important to make sure the proper modules are loaded in your environment before you try to use FutureGrid HPC partitions. This ensures that your `$PATH`, `$LD_LIBRARY_PATH`, `$LD_PRELOAD`, and other environment variables are properly set, and that you can access the programs and libraries you need. For additional information about the Modules package, see the Modules manual page (&quot;`man module`&quot;) on any FutureGrid login node.

		%table(border="1" cellpadding="3")
			%tr 
				%th COMMAND 
				%th ACTION 
			%tr 
				%td
					%code $ <b>module avail</b>
				%td List all software packages available on the system.  
			%tr 
				%td
					%code $ <b>module avail package</b>
				%td List all versions of package available on the system, for example: 
			%tr 
				%td
					%code $ <b>module list</b>
				%td List all packages currently loaded in your environment.  
			%tr 
				%td
					%code $ <b>module load package/version</b>
				%td Add the specified version of the package to your environment, for example: 
			%tr 
				%td
					%code $ <b>module unload package</b>
				%td Remove the specified package from your environment.  
			%tr 
				%td
					%code $ <b>module swap package_A package_B</b>
				%td Swap the loaded package (package_A) with another package (package_B).  
			%tr 
				%td
					%code $ <b>module show package</b>
				%td Shows what changes will be made to your environment (e.g., paths to libraries and executables) by loading the specified package.

	%section#hpc-appdev
		:markdown
			### [Application Development](#hpc-appdev)

		%section#hpc-appdev-mpi
			:markdown
				#### [Message Passing Interface (MPI)](#hpc-appdev-mpi)
				The Message Passing Interface Standard (MPI) is a message passing library standard based on the consensus of the MPI Forum, which has dozens of participating organizations, including vendors, researchers, software library developers, and users. The goal of the Message Passing Interface is to establish a portable, efficient, and flexible standard for message passing that will be widely used for writing message passing programs. MPI is the <i>de facto</i> standard communication library for almost all HPC systems, and is available in a variety of implementations.
				For more information, please visit:

				* <a href="http://www.mpi-forum.org/">http://www.mpi-forum.org/</a>
				* <a href="http://www.mcs.anl.gov/research/projects/mpi/tutorial/">http://www.mcs.anl.gov/research/projects/mpi/tutorial/</a>


		%section#hpc-appdev-mpilibraries
			:markdown
				#### [MPI Libraries on FutureGrid](#hpc-appdev-mpilibraries)
				The FutureGrid systems supporting HPC-style usage each have an MPI implementation installed. In most cases, it is OpenMPI-1.4.x compiled with Intel 11.1 compilers, but other MPI versions compiled with different compilers are available on some systems.
				<pre>
				$ <b>module load openmpi </b>
				Intel compiler suite version 11.1/072 loaded 
				OpenMPI version 1.4.3 loaded</pre>
				Loading the OpenMPI module adds the MPI compilers to your `$PATH` environment variable and the OpenMPI shared library directory to your `$LD_LIBRARY_PATH`. This is an important step to ensure MPI applications will compile and run successfully. Loading the torque module allows you to submit jobs to the scheduler.

				For more information on OpenMPI, the default MPI distribution on FutureGrid, please visit: <a href="http://www.open-mpi.org/">http://www.open-mpi.org/</a>

		%section#hpc-appdev-compiling
			:markdown
				#### [Compiling MPI Applications](#hpc-appdev-compiling)
				To compile MPI applications, users have two options:

				1. Use the MPI compilers instead of regular Intel/GNU compilers
				2. Use the regular compilers (Intel/GNU) with MPI compilation flags

				We recommend using the MPI compilers to avoid compilation issues. This is accomplished by making the following replacements:

				* CC/icc/gcc with mpicc
				* CXX/icpc/g++ with mpicxx
				* F90/F77/FC/ifort/gfortran with mpif90

				Alternatively, for some codes that require intricate compilation flags and complicated make systems, 
				and where changing compilers is not an option, you can edit the compilation/linking options for your codes. 
				These options are machine, compiler, and language dependent. To view the options required for C, C++ 
				and Fortran on any machine, you can issue the commands mpicc-show, mpicxx-show, and mpif90-show. Extra 
				care must be taken when using these flags, as dependencies govern the order in which they appear in the link 
				line. Should you run into compilation errors or problems, please submit a consulting ticket.

				Assuming you have loaded the openmpi module into your environment, you can compile a 
				<a href="https://portal.futuregrid.org/tutorials/hpc/ring">simple MPI application</a> as easily as executing:
				<pre>$ <b>mpicc -o ring ring.c</b></pre>

	%section#hpc-running
		:markdown
			### [Running Jobs](#hpc-running)

		%section#hpc-running-torque
			:markdown
				#### [Using TORQUE to Manage Jobs](#hpc-running-torque)
				To run single-core, OpenMP, or MPI jobs on resources within FutureGrid HPC partitions, you must use the job scheduler (TORQUE, a variant of PBS) and a job submission script. Do not run jobs on the login or head nodes.  To add TORQUE to your environment, load the TORQUE module:
				<pre>$ <b>module load torque</b></pre>
				To run a serial job, begin by creating a job submission script. Following is a sample job script for running the `/bin/hostname` utility on India, Sierra, or Alamo:
				<pre>
				&#35;!/bin/bash
				&#35;PBS -N hostname_test
				&#35;PBS -o hostname.out
				&#35;PBS -e hostname.err
				&#35;PBS -q short
				&#35;PBS -l nodes=1
				&#35;PBS -l walltime=00:20:00
				&#47;bin/hostname</pre>

				Options are passed to TORQUE on lines that begin with &quot;`#PBS`&quot;. In the above sample, the options are:

			%table(border="1" cellpadding="3")
				%tr 
					%th OPTION 
					%th DESCRIPTION 
				%tr 
					%td <code>-N</code>
					%td An optional job name 
				%tr 
					%td <code>-o</code>
					%td Filename for writing standard output 
				%tr 
					%td <code>-e</code>
					%td Filename for writing standard error 
				%tr 
					%td <code>-q</code>
					%td Specifies the queue to which the job will be submitted 
				%tr 
					%td <code>-l</code>
					%td Specifies resources needed by the job (in this sample, one node for 20 minutes)

			%p For additional information about available job script options, see the <code>qsub</code> manual page.
			<pre>$ <b>man qsub</b></pre>

			%p Queues available for each FutureGrid system:
			%section#table7
				%table(border="1" cellpadding="3")
					%tr 
						%th SYSTEM 
						%th QUEUES 
					%tr 
						%td Alamo 
						%td short, long, default 
					%tr 
						%td Hotel 
						%td extended, batch, long, route 
					%tr 
						%td India 
						%td scalemp, batch, long, b534 
					%tr 
						%td Sierra 
						%td batch, long 
					%tr 
						%td Xray 
						%td batch
		
			:markdown
				For information (such as limits) to help determine which queue you should use, from the system's login node, run:
				<pre>$ <b>qstat -q</b></pre>
				Once you've created a submission script, you can use the TORQUE `qsub` command to submit your job for execution on the compute nodes:
				<pre>
				$ <b>qsub job.script</b>
				19095.master1.cm.cluster</pre>
				The `qsub` command will output either a job identifier or an error message describing why TORQUE won't accept your job.

				If your job is submitted successfully, you can track its execution using the `qstat` command:
				<pre>
				$ <b>qstat</b>
				Job id &nbsp; &nbsp; &nbsp; &nbsp;Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;User &nbsp; &nbsp; Time Use S Queue
				19095.master1 hostname_test user &nbsp; &nbsp; 00:00:00 R short
				&#46;...</pre>
				If the system is busy, the state (S) of your job will initially be Q (for &quot;queued&quot;). When the proper 
				resources become available and your job runs, its state will change to R (for &quot;running&quot;). When 
				your job is complete, it will no longer appear in the `qstat` output. For the full set of TORQUE job states, 
				see the `qstat` manual page (man qstat). You'll find the standard output and standard error from your job 
				in the files you specified in your submission script.

				If you need to delete a job, use the `qdel` command. If the job hasn't started, it will be deleted from the 
				queue. If the job has started, it will be killed on the nodes on which it's running and deleted from the queue.
				For a list of all available TORQUE commands, see the TORQUE manual page.

		%section#hpc-running-parallel
			:markdown
				#### [Running Parallel Applications](#hpc-running-parallel)
				Once your MPI application is compiled, you run it on the compute nodes of a cluster via the Torque job manager. An example of an MPI parallel job script for India, Sierra, and Alamo that runs the ring application is:
				<pre>
				&#35;!/bin/bash 
				&#35;PBS -N ring_test 
				&#35;PBS -o ring_$PBS_JOBID.out 
				&#35;PBS -e ring_$PBS_JOBID.err 
				&#35;PBS -q short #PBS -l nodes=4:ppn=8 
				&#35;PBS -l walltime=00:20:00 
	
				&#35; make sure MPI is in the environment 
				module load openmpi 
	
				&#35; launch the parallel application with the correct number of processes 
				&#35; Typical usage: mpirun -np &lt;number of processes&gt; &lt;executable&gt; &lt;arguments&gt; 
				mpirun -np 32 ring -t 1000</pre>

				There are two important differences between this script and the submit script shown previously. The first is that :ppn=8 is added to the request for four nodes. What this does is indicate that your application wants to allocate eight virtual processors per node. A virtual processor corresponds to a processing core. Alamo, Hotel, India, and Sierra all have eight cores per node, so the script above asks for exclusive access to four nodes with a total of 32 cores. The second important difference from the previous submit script is that it executes mpirun with arguments that describe your MPI application. Note that the number of processes specified to mpirun is 32&mdash;matching the 32 cores allocated by Torque.

				A minor difference between this script and the previous one is that the environment variable `$PBS_JOBID` is used when creating the stdin and stdout files. Torque sets a number of environment variables that you can use in your submit script, starting with "`PBS_`" .

%section#grid
	:markdown
		## [Grid Services](#grid)
		FutureGrid has deployed several grid middleware systems for general use.
	
		* <a href="http://www.genesis2.virginia.edu/wiki">Genesis II</a> is a grid middleware system that supports remote job execution and file transfer, provides a distributed file system, and provides a file system abstraction to access services and information. Genesis II is available on several of the FutureGrid HPC partitions. More information is available in the <a href="https://portal.futuregrid.org/genesisii">Genesis II on FutureGrid User Guide</a>, including how to obtain access to the Genesis II services on FutureGrid.
		* <a href="http://www.globus.org">Globus</a> is another grid middleware system that supports remote job execution, file transfer, and other tasks. The GRAM5 job management service and GridFTP are available on the HPC partitions of Alamo and Hotel. To obtain access, please submit a ticket to the <a href="https://portal.futuregrid.org/help">FutureGrid ticketing system</a>.
		* <a href="http://www.unicore.eu/">Unicore</a> is the third grid middleware system deployed on FutureGrid and also supports remote job execution and file transfer. Unicore is currently deployed on the HPC partitions of India and Sierra. More information on how to access and use Unicore is available in the <a href="https://portal.futuregrid.org/manual/unicore">Unicore on FutureGrid User Guide</a>.

%section#tools
	:markdown
		## [Tools](#tools)
	FutureGrid provides a number of tools to help users perform experiments. In addition to the tools for provisioning and configuring resources described above, FutureGrid provides tools for performance measurement and experiment management.

	%section#tools-performance
		:markdown
			### [Performance Measurement](#tools-performance)
			Performance measurement tools allow users to observe the correctness and performance of their experiments at different levels of abstraction.

			* <a href="http://inca.sdsc.edu">Inca</a> is a tool that monitors the user-level functionality and performance of cyberinfrastructure systems. It automates the installation, execution and maintenance of a large variety and number of reporters (monitoring scripts) consistently across resources. Monitoring results are collected, archived, and then displayed through <a href="http://inca.futuregrid.org/">web status pages</a>. There are many Inca reporters available on FutureGrid to monitor the status of systems, services, and software and determine if FutureGrid is operating correctly.  
			* <a href="http://ganglia.sourceforge.net">Ganglia</a> is a distributed monitoring system that FutureGrid uses to periodically gather detailed performance information about nodes. Information such as CPU load, memory usage, disk traffic, and network traffic is gathered about each node several times a minute and made available to users via the <a href="http://ganglia.futuregrid.org">FutureGrid Ganglia web interface</a>. This information allows users to observe the effects of their experiments on the FutureGrid infrastructure.
			* <a href="http://www.perfsonar.net">perfSONAR</a> is a network measurement framework used to evaluate the network performance between FutureGrid sites.  It uses the <a href="http://www.internet2.edu/performance/bwctl/">BWCTL</a> measurement tool to collect all-to-all Iperf measurements every 2 hours and the results are available through the <a href="http://noc.futuregrid.org/futuregrid/live-network-status/maps-graphs/bwctl.html">FutureGrid perfSONAR status pages</a>.
			* <a href="http://www.vampir.eu/">Vampir</a> is a tool to gather and visualize performance information about parallel applications. FutureGrid provides Vampir on HPC partitions to users that are examining the performance of their parallel programs.
			* <a href="http://netlogger.lbl.gov/">NetLogger</a> is a logging framework that is supported by FutureGrid. This framework allows users to instrument their applications, store trace data generated while the applications execute, and analyze this trace data. FutureGrid users can use NetLogger to instrument their applications and record the performance of these applications during experiments run on FutureGrid.
			* FutureGrid provides the Performance Application Programming Interface (<a href="http://icl.cs.utk.edu/papi/index.html">PAPI</a>) so that users can access performance counters on HPC partitions. These performance counters are useful when performing very detailed performance analysis of serial and parallel applications.

	%section#tools-experiment
		:markdown
			### [Experiment Management](#tools-experiment)

			Experiment management tools help users coordinate experiments that use resources that are physically distributed or that are provided by different provisioning tools (e.g. Torque or Nimbus). FutureGrid provides tools to execute experiments interactively or via workflows.

			* For users that that wish to perform interactive experiments from the command line, FutureGrid provides a host list manager and TakTuk as described in the <a href="https://portal.futuregrid.org/tutorials/interactive-experiment-management">Interactive Experiment Management Tutorial</a>. The host list manager queries FutureGrid HPC and Nimbus partitions to determine what systems are available to you (e.g. running batch jobs and virtual machines) and then lets you organize these systems. Each system is associated with multiple tags and the systems with the same tag form a group. These groups of systems are provided to TakTuk. TakTuk is a command line tool that allows you to run commands on multiple remote systems (e.g. the systems in a group from the host list manager) and to display the results of those commands to your terminal. TakTuk also supports pushing and pulling files to remote systems.
			* For users that wish to perform experiments in a batch or workflow style, you can use the Pegasus workflow tool as described in the <a href="https://portal.futuregrid.org/tutorials/workflow-experiment-management">Workflow Experiment Management Tutorial</a>. In this approach, you define your experiment as a Pegasus workflow, provision FutureGrid resources for the workflow, and then execute the experimental workflow.

%section#refs
	:markdown
		## [Reference](#refs)

		* [FutureGrid user manual](https://portal.futuregrid.org/manual)
		* [FutureGrid tutorials](https://portal.futuregrid.org/tutorials)
		* [Getting started with FutureGrid](https://portal.futuregrid.org/gettingstarted)

%section#policies
	:markdown
		## [Policies](#policies)
		FutureGrid user agreement: <a href="https://portal.futuregrid.org/user-agreement">https://portal.futuregrid.org/user-agreement</a>

