<div class="user-guide-container">
	<div class="user-guide-sidebar">
		<ul class="user-guide-nav nav nav-list" id="user-guide-nav">
			<li><a href="#overview">System Overview</a>
			<li><a href="#access">System Access</a>
			<li><a href="#nimbus">Using Nimbus</a>
			<li><a href="#openstack">Using OpenStack</a>
			<li><a href="#eucalyptus">Using Eucalyptus</a>
			<li><a href="#mapreduce">Running MapReduce</a>
			<li><a href="#hpc">Using HPC Partitions</a>
			<li><a href="#grid">Grid Services</a>
			<li><a href="#tools">Tools</a>
			<li><a href="#refs">References</a>
			<li><a href="#policies">Policies</a>
		</ul>
	</div>
	<!-- user guide begins here -->
	<div class="user-guide">
