#access
	:markdown
		#[Accessing the System](#access)

	#access-direct
		:markdown
			## [Direct Access](#access-direct)

			Direct access to the Delta login nodes is via ssh using your NCSA username, password and NCS Duo MFA. Please see <a target="_blank" rel="noopener noreferrer" href="https://wiki.ncsa.illinois.edu/display/USSPPRT/User+Services+NCSA+Allocation+and+Account+Management">User Services NCSA Allocation and Account Management</a> page for links to NCSA Identity and NCSA Duo services. The login nodes provide access to the CPU and GPU resources on Delta.

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th login node hostname
					%th example usage with ssh
				%tr
					%td dt-login01.delta.ncsa.illinois.edu	
					%td ssh -Y username@dt-login01.delta.ncsa.illinois.edu<br />(-Y allows X11 forwarding from linux hosts)
				%tr
					%td dt-login02.delta.ncsa.illinois.edu
					%td ssh -l username dt-login02.delta.ncsa.illinois.edu<br />(-l username alt. syntax for user@host)
				%tr
					%td login.delta.ncsa.illinois.edu<br />(round robin DNS name for the set of login nodes)
					%td ssh username@login.delta.ncsa.illinois.edu

		:markdown
			If needed, XSEDE users can [lookup their local username](/group/xup/accounts). If you need to set an NCSA password for direct access, please contact help@ncsa.illinois.edu for assistance.

			Use of ssh-key pairs is disabled for general use. Please contact NCSA Help at help@ncsa.illinois.edu for key-pair use by Gateway allocations.

			<p class="portlet-msg-info">maintaining persistent sessions: tmux<br />`tmux` is available on the login nodes to maintain persistent sessions. See the tmux man page for more information. Use the targeted login hostnames (dt-login01 or dt-login02) to attach to the login node where you started tmux after making note of the hostname. Avoid the round-robin hostname when using tmux.</p>

	#access-sso
		:markdown
			##[XSEDE Single Sign-On Hub](#access:sso)

			XSEDE users can also access Delta via the XSEDE [Single Sign-On Hub](/single-sign-on-hub).

			When reporting a problem to the help desk, please execute the `gsissh` command with the `-vvv` option and include the verbose output in your problem description.

				$ gsissh delta

			or

				$ gsissh -p 222 delta.ncsa.xsede.org

			The XSEDE SSO with `gsi-ssh` uses your XSEDE username for login. If that processes is not working, please try using your NCSA username which can be [looked up](/group/xup/accounts) (requires XSEDE login).
