#accounts
	:markdown
		#[Account Administration](#accounts)

		* For XSEDE projects please use the [XSEDE user portal](/) for project and account management.
		* Non-XSEDE Account and Project administration is handled by NCSA Identity and NCSA group management tools. For more information please see the <a target="_blank" rel="noopener noreferrer" href="https://wiki.ncsa.illinois.edu/display/USSPPRT/User+Services+NCSA+Allocation+and+Account+Management">NCSA Allocation and Account Management</a> documentation page.

	#accounts:configure
		:markdown
			##[Configuring Your Account](#accounts:configure)

			* Bash is the default shell; submit a support request to change your default shell
			* Environment variables: XSEDE CUE, [SLURM batch](#jobs)
			* Using [Modules](#software:modules)


