#acknowledge
	:markdown
		#[Acknowledge](#acknowledge)

		To acknowledge the NCSA Delta system in particular, please include the following:

		This research is part of the Delta research computing project, which is supported by the National Science Foundation (award OCI 2005572) and the State of Illinois. Delta is a joint effort of the University of Illinois at Urbana-Champaign and its National Center for Supercomputing Applications.

		To include acknowledgement of XSEDE contributions to a publication or presentation please see:

		* [How to Acknowledge XSEDE](/acknowledge)
		* [Acknowledgement for XSEDE Users](https://www.xsede.org/for-users/acknowledgement)

