<span style="font-size:225%; font-weight:bold;">NCSA Delta User Guide</span><br />
<em>Last update: July 29, 2022</em>

<p><img alt="" class="logo-left" data-float="left" margin-right="1.8rem" src="/documents/10308/3028413/JD-Delta.jpg/cabef142-c1b9-4beb-98f1-9a3c7da1926a?t=1657652418639" style="margin-right: 0.9rem; float: left; width: 300px; height: 201px;" /></p>
<!-- boilerplate above, NCSA content below -->
