#building
	:markdown
		#[Building Software](#building)

		The Delta programming environment supports the GNU, AMD (AOCC), Intel and NVIDIA HPC compilers. Support for the HPE/Cray Programming environment is forthcoming. (docs pending)

		Modules provide access to the compiler + MPI environment.

		The default environment includes the GCC 11.2.0 compiler + OpenMPI with support for cuda and gdrcopy. nvcc is in the cuda module and is loaded by default.

		AMD recommended compiler flags for GNU, AOCC, and Intel compilers for Milan processors can be found in the <a target="_blank" rel="noopener noreferrer" href="https://developer.amd.com/wp-content/resources/Compiler%20Options%20Quick%20Ref%20Guide%20for%20AMD%20EPYC%207xx3%20Series%20Processors.pdf">AMD Compiler Options Quick Reference Guide for Epyc 7xx3 processors</a> [PDF].

	#building:serial
		:markdown
			##[Serial](#building:serial)

			To build (compile and link) a serial program in Fortran, C, and C++:

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th gcc
					%th aocc
					%th nvhpc
			%tbody
				%tr
					%td gfortran <em>myprog.f</em>
					%td flang <em>myprog.f</em>
					%td nvfortran <em>myprog.f</em>
				%tr
					%td gcc <em>myprog.c</em>
					%td clang <em>myprog.c</em>
					%td nvc <em>myprog.c</em>
				%tr
					%td g++ <em>myprog.cc</em>
					%td clang <em>myprog.cc</em>
					%td nvc++ <em>myprog.cc</em>

		:markdown
			Table 4. Compile Commands for Serial Codes

	#building:mpi
		:markdown
			##[MPI](#building:mpi)

			To build (compile and link) a MPI program in Fortran, C, and C++:

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th MPI Implementation
					%th modulefile for MPI/Compiler
					%th Build Commands
			%tbody
				%tr
					%td OpenMPI<br /><a target="_blank" rel="noopener noreferrer" href="http://www.open-mpi.org">Home Page</a> | <a target="_blank" rel="noopener noreferrer" href="http://www.open-mpi.org/doc">Documentation</a>
					%td aocc/3.2.0 openmpi<br />gcc/11.2.0 openmpi<br />nvhpc/22.2 openmpi
					%td Fortran 77: mpif77 myprog.f<br />Fortran 90: mpif90 myprog.f90<br />C: mpicc myprog.c<br />C++:	mpic++ myprog.cc

		:markdown
			Table 5. Compile Commands for MPI Codes

	#building:openmp
		:markdown
			##[OpenMP](#building:openmp)

			To build an OpenMP program, use the `-fopenmp` / `-mp` option:

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th gcc
					%th aocc
					%th nvhpc
			%tbody
				%tr
					%td gfortran -fopenmp <em>myprog.f</em>
					%td flang -fopenmp <em>myprog.f</em>
					%td nvfortran -mp <em>myprog.f</em>
				%tr
					%td gcc -fopenmp <em>myprog.c</em>
					%td clang -fopenmp <em>myprog.c</em>
					%td nvc -mp <em>myprog.c</em>
				%tr
					%td g++ -fopenmp <em>myprog.cc</em>
					%td clang -fopenmp <em>myprog.cc</em>
					%td nvc++ -mp <em>myprog.cc</em>

		:markdown
			Table 6. Compile Commands for OpenMP Codes

	#building:hybrid
		:markdown
			##[Hybrid MPI/OpenMP](#building:hybrid)

			To build an MPI/OpenMP hybrid program, use the `-fopenmp` / `-mp` option with the MPI compiling commands:

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th GCC
					%th PGI/NVHPC
			%tbody
				%tr
					%td mpif77 -fopenmp <em>myprog.f</em>
					%td mpif77 -mp <em>myprog.f</em>
				%tr
					%td mpif90 -fopenmp <em>myprog.f90</em>
					%td mpif90 -mp <em>myprog.f90</em>
				%tr
					%td mpicc -fopenmp <em>myprog.c</em>
					%td mpicc -mp <em>myprog.c</em>
				%tr
					%td mpic++ -fopenmp <em>myprog.cc</em>
					%td mpic++ -mp <em>myprog.cc</em>

		:markdown
			Table 7. Compile Commands for Hybrid MPI/OpenMP Codes

			#### Cray xthi.c sample code

			Document - <a target="_blank" rel="noopener noreferrer" href="https://support.hpe.com/hpesc/public/docDisplay?docId=a00114008en_us&page=Run_an_OpenMP_Application.html">XC Series User Application Placement Guide CLE6..0UP01 S-2496 | HPE Support</a>

			This code can be compiled using the methods show above. The code appears in some of the batch script examples below to demonstrate core placement options.

			#### xthi.c source

			<pre>#define _GNU_SOURCE
 
			#include <stdio.h>
			#include <unistd.h>
			#include <string.h>
			#include <sched.h>
			#include <mpi.h>
			#include <omp.h>
			 
			/* Borrowed from util-linux-2.13-pre7/schedutils/taskset.c */
			static char *cpuset_to_cstr(cpu_set_t *mask, char *str)
			{
			  char *ptr = str;
			  int i, j, entry_made = 0;
			  for (i = 0; i < CPU_SETSIZE; i++) {
			    if (CPU_ISSET(i, mask)) {
			      int run = 0;
			      entry_made = 1;
			      for (j = i + 1; j < CPU_SETSIZE; j++) {
			        if (CPU_ISSET(j, mask)) run++;
			        else break;
			      }
			      if (!run)
			        sprintf(ptr, "%d,", i);
			      else if (run == 1) {
			        sprintf(ptr, "%d,%d,", i, i + 1);
			        i++;
			      } else {
			        sprintf(ptr, "%d-%d,", i, i + run);
			        i += run;
			      }
			      while (*ptr != 0) ptr++;
			    }
			  }
			  ptr -= entry_made;
			  *ptr = 0;
			  return(str);
			}
			 
			int main(int argc, char *argv[])
			{
			  int rank, thread;
			  cpu_set_t coremask;
			  char clbuf[7 * CPU_SETSIZE], hnbuf[64];
			 
			  MPI_Init(&argc, &argv);
			  MPI_Comm_rank(MPI_COMM_WORLD, &rank);
			  memset(clbuf, 0, sizeof(clbuf));
			  memset(hnbuf, 0, sizeof(hnbuf));
			  (void)gethostname(hnbuf, sizeof(hnbuf));
			  #pragma omp parallel private(thread, coremask, clbuf)
			  {
			    thread = omp_get_thread_num();
			    (void)sched_getaffinity(0, sizeof(coremask), &coremask);
			    cpuset_to_cstr(&coremask, clbuf);
			    #pragma omp barrier
			    printf("Hello from rank %d, thread %d, on %s. (core affinity = %s)\n",
			            rank, thread, hnbuf, clbuf);
			  }
			  MPI_Finalize();
			  return(0);
			}</pre>

			A version of xthi is also available from ORNL.

				% git clone https://github.com/olcf/XC30-Training/blob/master/affinity/Xthi.c

	#building:openacc
		:markdown
			##[OpenACC](#building:openacc)

			To build an OpenACC program, use the `-acc` option and the `-mp` option for multi-threaded:

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th NON-MULTITHREADED
					%th MULTITHREADED
			%tbody
				%tr
					%td nvfortran -acc <em>myprog.f</em>
					%td nvfortran -acc -mp <em>myprog.f</em>
				%tr
					%td nvc -acc <em>myprog.c</em>
					%td nvc -acc -mp <em>myprog.c</em>
				%tr
					%td nvc++ -acc <em>myprog.cc</em>
					%td nvc++ -acc -mp <em>myprog.cc</em>

		:markdown
			Table 8. Compile Commands for OpenACC Codes

	#building:cuda
		:markdown
			##[CUDA](#building:cuda)

			Cuda compilers (nvcc) are included in the cuda module which is loaded by default under modtree/gpu. For the cuda fortran compiler and other Nvidia development tools, load the "nvhpc" module.

			#### nv* commands when nvhpc is loaded:

			<pre>[arnoldg@dt-login03 namd]$ nv
			nvaccelerror             nvidia-bug-report.sh     nvlink
			nvaccelinfo              nvidia-cuda-mps-control  nv-nsight-cu
			nvc                      nvidia-cuda-mps-server   nv-nsight-cu-cli
			nvc++                    nvidia-debugdump         nvprepro
			nvcc                     nvidia-modprobe          nvprof
			nvcpuid                  nvidia-persistenced      nvprune
			nvcudainit               nvidia-powerd            nvsize
			nvdecode                 nvidia-settings          nvunzip
			nvdisasm                 nvidia-sleep.sh          nvvp
			nvextract                nvidia-smi               nvzip
			nvfortran                nvidia-xconfig</pre>

			See also: <a target="_blank" rel="noopener noreferrer" href="https://developer.nvidia.com/hpc-sdk">NVIDIA HPC SDK</a>

	#building:hip
		:markdown
			##[HIP / ROCM (AMD MI100)](#building:hip)

			To access the development environment for the gpuMI100x8 partition, load the pytorch container from AMD's Infinity HUB. The paths to compilers will then be set for you (works from a login node for compiling, use the partition and srun to run/test):

			#### AMD HIP development environment (container):

			<pre>[arnoldg@dt-login03 vectorAdd]$ apptainer run /sw/external/MI100/pytorch_rocm5.0_ubuntu18.04_py3.7_pytorch_1.10.0.sif
			Singularity> hipcc vectoradd_hip.cpp
			Singularity> which hipcc
			/opt/rocm/hip/bin/hipcc
			Singularity></pre>

			See also: 

			* <a target="_blank" rel="noopener noreferrer" href="https://developer.amd.com/resources/rocm-learning-center/fundamentals-of-hip-programming">Fundamentals of HIP Programming</a>
			* <a target="_blank" rel="noopener noreferrer" href="https://rocmdocs.amd.com/en/latest">AMD ROCm Platform</a>


