#citizenship
	:markdown
		#[Citizenship](#citizenship)

		__You share Delta with thousands of other users__, and what you do on the system affects others. Exercise good citizenship to ensure that your activity does not adversely impact the system and the research community with whom you share it. Here are some rules of thumb:

		* Don't run production jobs on the login nodes (very short time debug tests are fine)
		* Don't stress filesystems with known-harmful access patterns (many thousands of small files in a single directory)
		* Submit an informative help-desk ticket including loaded modules (`module list`) and `stdout`/`stderr` messages

