#containers
	:markdown
		#[Containers](#containers)

	#containers:apptainer
		:markdown
			## [Apptainer (formerly Singularity)](#containers:apptainer)

			Container support on Delta is provided by Apptainer/Singularity. 

			Docker images can be converted to Singularity sif format via the `singularity pull` command. Commands can be run from within a container using `singularity run` command (or `apptainer run`).

			If you encounter quota issues with Apptainer/Singularity caching in `~/.singularity` , the environment variable `SINGULARITY_CACHEDIR` can be set to use a different location such as a scratch space. 

			Your `$HOME` is automatically available from containers run via Apptainer/Singularity. You can run `pip3 install --user` against a container's python, setup virtualenv's or similar while useing a containerized application. Just run the container's `/bin/bash` to get a Singularity prompt. Here's an `srun` example of that with tensorflow:

	#containers:apptainer-srun
		:markdown
			### [srun the bash from a container to interact with programs inside it](#containers:apptainer-srun)

			<pre>$ srun \
			 --mem=32g \
			 --nodes=1 \
			 --ntasks-per-node=1 \
			 --cpus-per-task=1 \
			 --partition=gpuA100x4-interactive \
			 --account=bbka-delta-gpu \
			 --gpus-per-node=1 \
			 --gpus-per-task=1 \
			 --gpu-bind=verbose,per_task:1 \
			 --pty \
			 apptainer run --nv \
			 /sw/external/NGC/tensorflow:22.06-tf2-py3 /bin/bash
			# job starts ...
			Singularity> hostname
			gpua068.delta.internal.ncsa.edu
			Singularity> which python  # the python in the container
			/usr/bin/python
			Singularity> python --version
			Python 3.8.10
			Singularity></pre>

	#containers:nvidia
		:markdown
			## [NVIDIA NGC Containers](#containers:nvidia)

			Delta provides NVIDIA NGC Docker containers that we have pre-built with Singularity.  Look for the latest binary containers in `/sw/external/NGC`. The containers are used as shown in the sample scripts below:
	#containers:nvidia-pytorch
		:markdown
			### [PyTorch example script](#containers:nvidia-pytorch)

			<pre>#!/bin/bash
			#SBATCH --mem=64g
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=1
			#SBATCH --cpus-per-task=64     # match to OMP_NUM_THREADS, 64 requests whole node
			#SBATCH --partition=gpuA100x4 # one of: gpuA100x4 gpuA40x4 gpuA100x8 gpuMI100x8
			#SBATCH --account=bbka-delta-gpu
			#SBATCH --job-name=pytorchNGC
			### GPU options ###
			#SBATCH --gpus-per-node=1
			#SBATCH --gpus-per-task=1
			#SBATCH --gpu-bind=verbose,per_task:1
			  
			module reset # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			             # $WORK and $SCRATCH are now set
			module list  # job documentation and metadata
			 
			echo "job is starting on `hostname`"
			 
			# run the container binary with arguments: python3 program.py
			apptainer run --nv \
			 /sw/external/NGC/pytorch:22.02-py3 python3 tensor_gpu.py</pre>

	#containers:nvidia-tensorflow
		:markdown
			### [Tensorflow example script](#containers:nvidia-pytorch)

			<pre>#!/bin/bash
			#SBATCH --mem=64g
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=1
			#SBATCH --cpus-per-task=64     # match to OMP_NUM_THREADS
			#SBATCH --partition=gpuA100x4 # one of: gpuA100x4 gpuA40x4 gpuA100x8 gpuMI100x8
			#SBATCH --account=bbka-delta-gpu
			#SBATCH --job-name=tfNGC
			### GPU options ###
			#SBATCH --gpus-per-node=1
			#SBATCH --gpus-per-task=1
			#SBATCH --gpu-bind=verbose,per_task:1
			  
			module reset # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			             # $WORK and $SCRATCH are now set
			module list  # job documentation and metadata
			 
			echo "job is starting on `hostname`"
			 
			# run the container binary with arguments: python3 program.py
			singularity run --nv \
			 /sw/external/NGC/tensorflow:22.06-tf2-py3 python3 \
			 tf_matmul.py</pre>

	#containers:list
		:markdown
			## [Container list (as of March 2022)](#containers:list)

	#containers:list-catalog
		:markdown
			### [catalog.txt](#containers:list-catalog)

			<pre>caffe:20.03-py3
			caffe2:18.08-py3
			cntk:18.08-py3 , Microsoft Cognitive Toolkit
			digits:21.09-tensorflow-py3
			lammps:patch_4May2022
			matlab:r2021b
			mxnet:21.09-py3
			namd_3.0-alpha11.sif
			paraview_egl-py3-5.9.0.sif # /opt/paraview/*
			pytorch:22.02-py3
			tensorflow:22.06-tf1-py3
			tensorflow:22.06-tf2-py3
			tensorrt:22.02-py3
			theano:18.08
			torch:18.08-py2</pre>

	#containers:mi100
		:markdown
			## [AMD Infinity Hub containers for MI100](#containers:mi100)

			The AMD node in partition gpuMI100x8 (-interactive) will run containers from the <a target="_blank" rel="noopener noreferrer" href="https://www.amd.com/en/technologies/infinity-hub">AMD Infinity Hub</a>. The Delta team has pre-loaded the following containers in `/sw/external/MI100` and will retrieve others upon request.

	#containers:mi100-containers
		:markdown
			### [AMD MI100 containers in /sw/external/MI100](#containers:mi100-containers)

			<pre>cp2k_8.2.sif
			gromacs_2021.1.sif
			lammps_2021.5.14_121.sif
			milc_c30ed15e1-20210420.sif
			namd_2.15a2-20211101.sif
			namd3_3.0a9.sif
			openmm_7.7.0_49.sif
			pytorch_rocm5.0_ubuntu18.04_py3.7_pytorch_1.10.0.sif
			tensorflow_rocm5.0-tf2.7-dev.sif</pre>

	#containers:mi100-pytorch
		:markdown
			### [MI100 sample pytorch script](#containers:mi100-pytorch)

			A sample batch script for pytorch resembles:

			<pre>#!/bin/bash
			#SBATCH --mem=64g
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=1
			#SBATCH --cpus-per-task=1
			#SBATCH --partition=gpuMI100x8
			#SBATCH --account=bbka-delta-gpu
			#SBATCH --job-name=tfAMD
			#SBATCH --reservation=amd
			#SBATCH --time=00:15:00
			### GPU options ###
			#SBATCH --gpus-per-node=1
			##SBATCH --gpus-per-task=1
			##SBATCH --gpu-bind=none     # or closest
 			 
			module purge # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			 
			module list  # job documentation and metadata
			 
			echo "job is starting on `hostname`"
			 
			# https://apptainer.org/docs/user/1.0/gpu.html#amd-gpus-rocm
			# https://pytorch.org/docs/stable/notes/hip.html
			time \
			apptainer run --rocm \
			 ~arnoldg/delta/AMD/pytorch_rocm5.0_ubuntu18.04_py3.7_pytorch_1.10.0.sif \
			 python3 tensor_gpu.py
			 
			exit</pre>

	#containers:other
		:markdown
			## [Other Containers](#containers:other)

	#containers:other-es4
		:markdown
			### [Extreme-scale Scientific Software Stack (E4S)](#containers:other-es4)

			The E4S container with GPU (cuda and rocm) support is provided for users of specific ECP packages made available by the <a target="_blank" rel="noopener noreferrer" href="https://e4s-project.github.io">E4S project</a>. The singularity image is available as:

				/sw/external/E4S/e4s-gpu-x86_64.sif

			To use E4S with NVIDIA GPUs:

			<pre>$ srun --account=account_name --partition=gpuA100-interactive \
			  --nodes=1 --gpus-per-node=1 --tasks=1 --tasks-per-node=1 \
			  --cpus-per-task=1 --mem=20g \
			  --pty bash
			$ singularity exec --cleanenv /sw/external/E4S/e4s-gpu-x86_64.sif \
			  /bin/bash --rcfile /etc/bash.bashrc</pre>


			The spack package inside of the image will interact with a local spack installation. If  ~/.spack directory exists, it might need to be renamed. 

			More information can be found at <a target="_blank" rel="noopener noreferrer" href="https://e4s-project.github.io/download.html">Acquiring E4S Containers</a>.

