#files
	:markdown
		#[Managing and Transferring Files](#files)

	#files:systems
		:markdown
			##[File Systems](#files:systems)

			Each user has a home directory, `$HOME`, located at `/u/$USER`.

			For example, a user (with username `auser`) who has an allocated project with a local project serial code `abcd` will see the following entries in their `$HOME` and in the project and scratch file systems. To determine the mapping of XSEDE project to local project please use the `accounts` command or the `userinfo` command.

			Directory access changes can be made using the <a target="_blank" rel="noopener noreferrer" href="https://linux.die.net/man/1/setfacl">`facl`</a> command. Contact <help@ncsa.illinois.edu> if you need assistance with enabling access to specific users and projects.

			<pre>$ ls -ld /u/$USER
			drwxrwx---+ 12 root root 12345 Feb 21 11:54 /u/$USER
			 
			$ ls -ld /projects/abcd
			drwxrws---+  45 root   delta_abcd      4096 Feb 21 11:54 /projects/abcd
			 
			$ ls -l /projects/abcd
			total 0
			drwxrws---+ 2 auser delta_abcd 6 Feb 21 11:54 auser
			drwxrws---+ 2 buser delta_abcd 6 Feb 21 11:54 buser
			...
			 
			$ ls -ld /scratch/abcd
			drwxrws---+  45 root   delta_abcd      4096 Feb 21 11:54 /scratch/abcd
			 
			$ ls -l /scratch/abcd
			total 0
			drwxrws---+ 2 auser delta_abcd 6 Feb 21 11:54 auser
			drwxrws---+ 2 buser delta_abcd 6 Feb 21 11:54 buser
			...</pre>

			To avoid issues when file systems become unstable or non-responsive, we recommend not putting symbolic links from $HOME to the project and scratch spaces.

			<p class="portlet-msg-info">`/tmp` on compute nodes (job duration)<br />The high performance ssd storage (740GB cpu, 1.5TB gpu) is available in `/tmp` (unique to each node and job - not a shared filesystem) and may contain less than the expected free space if the node(s) are running multiple jobs. Codes that need to perform I/O to many small files should target `/tmp` on each node of the job and save results to other filesystems before the job ends.</p>

	#files:transfer
		:markdown
			##[Transferring your Files](#files:transfer)

			To transfer files to and from the Delta system:

			* scp - to be used for small to modest transfers to avoid impacting the usability of the Delta login node (*login.delta.ncsa.illinois.edu*).
			* rsync - to be used for small to modest transfers to avoid impacting the usability of the Delta login node.
				* <a target="_blank" rel="noopener noreferrer" href="https://campuscluster.illinois.edu/resources/docs/storage-and-data-guide">Illinois Campus Cluster</a> (scp, sftp, rsync)
			* Globus - to be used for large data transfers.
				* Use the Delta collection "__NCSA Delta__".
				* <img alt="" src="/documents/10308/3028413/app-globus.jpg/5799ba1d-295f-450d-9350-bc13f64c1cba?t=1659118608348" style="width: 600px; height: 298px;" />
				* Please see the following documentation on using Globus Online
					* <a target="_blank" rel="noopener noreferrer" href="https://docs.globus.org/how-to/get-started">How To Log In and Transfer Files with Globus</a>
					* [Globus Setup](/data-management#globus-setup)

	#files:sharing
		:markdown
			##[Sharing Files with Collaborators](#files:sharing)

			docs pending

