#jobmgmt
	:markdown
		#[Job Management](#jobmgmt)

		Batch jobs are submitted through a *job script* using the `sbatch` command. Job scripts generally start with a series of SLURM *directives* that describe requirements of the job such as number of nodes and wall time required to the batch system/scheduler (SLURM directives can also be specified as options on the `sbatch` command line; command line options take precedence over those in the script). The rest of the batch script consists of user commands.

		The syntax for `sbatch` is:

		`sbatch` [options] *&lt;script_name&gt;*

		Refer to the man page for options.

	#jobmgmt:sbatch
		:markdown
			## [squeue/scontrol/sinfo](#jobmgmt:sbatch)

			Commands that display batch job and partition information.

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th Slurm Example Command
					%th Description
			%tbody
				%tr
					%td squeue -a
					%td List the status of all jobs on the system.
				%tr
					%td squeue -u $USER
					%td List the status of all your jobs in the batch system.
				%tr
					%td squeue -j jobID
					%td List nodes allocated to a running job in addition to basic information.
				%tr
					%td scontrol show job jobID
					%td List detailed information on a particular job.
				%tr
					%td sinfo -a
					%td List summary information on all the partition.

	#jobmgmt:jobstatus
		:markdown
			## [Job Status](#jobmgmt:jobstatus)

			NODELIST(REASON)

			MaxGRESPerAccount - a user has exceeded the number of cores or gpus allotted per user or project for a given partition.

			Useful Batch Job Environment Variables

		%table(border="1" cellpadding="3")
			%thead
				%tr
					%th Description
					%th Slurm Environment Variable
					%th Detail Description
			%tbody
				%tr
					%td JobID
					%td $SLURM_JOB_ID
					%td Job identifier assigned to the job
				%tr
					%td Job Submission Directory
					%td $SLURM_SUBMIT_DIR
					%td By default, jobs start in the directory that the job was submitted from. So the "cd $SLURM_SUBMIT_DIR" command is not needed.
				%tr
					%td Machine(node) list
					%td $SLURM_NODELIST
					%td variable name that contains the list of nodes assigned to the batch job
				%tr
					%td Array JobID
					%td $SLURM_ARRAY_JOB_ID<br />$SLURM_ARRAY_TASK_ID
					%td each member of a job array is assigned a unique identifier

			See the sbatch man page for additional environment variables available.

	#jobmgmt:srun
		:markdown
			## [srun](#jobmgmt:srun)

			The srun command initiates an interactive job on the compute nodes.

			For example, the following command:

				srun -A account_name --time=00:30:00 --nodes=1 --ntasks-per-node=64 --mem=16g --pty /bin/bash

			will run an interactive job in the default queue with a wall clock limit of 30 minutes, using one node and 16 cores per node. You can also use other sbatch options such as those documented above.

			After you enter the command, you will have to wait for SLURM to start the job. As with any job, your interactive job will wait in the queue until the specified number of nodes is available. If you specify a small number of nodes for smaller amounts of time, the wait should be shorter because your job will backfill among larger jobs. You will see something like this:

				srun: job 123456 queued and waiting for resources

			Once the job starts, you will see:

				srun: job 123456 has been allocated resources

			and will be presented with an interactive shell prompt on the launch node. At this point, you can use the appropriate command to start your program.

			When you are done with your work, you can use the exit command to end the job.

	#jobmgmt:scancel
		:markdown
			## [scancel](#jobmgmt:scancel)

			The scancel command deletes a queued job or terminates a running job.

			* scancel JobID deletes/terminates a job.
