#launching
	:markdown
		#[Launching Applications (docs pending)](#launching)

		* Launching One Serial Application
		* Launching One Multi-Threaded Application
		* Launching One MPI Application
		* Launching One Hybrid (MPI+Threads) Application
		* More Than One Serial Application in the Same Job
		* MPI Applications One at a Time
		* More than One MPI Application Running Concurrently
		* More than One OpenMP Application Running Concurrently

