:markdown
	Delta is supported by the National Science Foundation under Grant No. OAC-2005572.

	Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.

	<p>Delta is now accepting proposals.</p>

	<h2 style="clear: both; padding-top: 1.3rem">Status Updates and Notices</h2>

	<p class="portlet-msg-info">Delta is tentatively scheduled to enter production in Q3 2022.<br />A preliminary version of the <a target="_blank" href="https://wiki.ncsa.illinois.edu/display/DSC/Delta+User+Guide">Delta User Guide</a> is available.</p>

#introduction
	:markdown
		#[Introduction](#introduction)

		Delta is a dedicated, <a target="_blank" href="https://www.xsede.org">XSEDE</a>-allocated resource designed by HPE and NCSA, delivering a highly capable GPU-focused compute environment for GPU and CPU workloads. Besides offering a mix of standard and reduced-precision GPU resources, Delta offers GPU-dense nodes with both NVIDIA and AMD GPUs, with high-performance node-local SSD scratch filesystems and both standard Lustre and relaxed-POSIX parallel filesystems (docs pending) spanning the entire resource.

		Delta's standard CPU nodes are each powered by two 64-core AMD EPYC 7763 ("Milan") processors, with 256 GB of DDR4 memory. The Delta GPU resource has four node types: one with 4 NVIDIA A100 GPUs (40 GB HBM2 RAM each) connected via NVLINK and 1 64-core AMD EPYC 7763 ("Milan") processor, the second with 4 NVIDIA A40 GPUs (48 GB GDDR6 RAM) connected via PCIe 4.0 and 1 64-core AMD EPYC 7763 ("Milan") processor, the third with 8 NVIDIA A100 GPUs in a dual socket AMD EPYC 7763 ("Milan") (128-cores per node) node with 2 TB of DDR4 RAM and NVLINK, and the fourth with 8 AMD MI100 GPUs (32GB HBM2 RAM each) in a dual socket AMD EPYC 7763 ("Milan") (128-cores per node) node with 2 TB of DDR4 RAM and PCIe 4.0. 

		Delta has 124 standard CPU nodes, 100 4-way A100-based GPU nodes, 100 4-way A40-based GPU nodes, 5 8-way A100-based GPU nodes, and 1 8-way MI100-based GPU node. Every Delta node has high-performance node-local SSD storage (740 GB for CPU nodes, 1.5 TB for GPU nodes), and is connected to the 7 PB Lustre parallel filesystem via the high-speed interconnect. The Delta resource uses the SLURM workload manager for job scheduling.

		Delta supports the [XSEDE core software stack](/software), including remote login, remote computation, data movement, science workflow support, and science gateway support toolkits.

