#refs
	:markdown
		#[References](#refs)

		Supporting documentation resources:

		<a target="_blank" rel="noopener noreferrer" href="https://www.rcac.purdue.edu/knowledge/anvil">Purdue Anvil User Guide</a>

		<a target="_blank" rel="noopener noreferrer" href="https://nero-docs.stanford.edu/jupyter-slurm.html">Stanford SLURM Guide</a>




