#refunds
	:markdown
		# [Refunds](#refunds)

		Refunds are considered, when appropriate, for jobs that failed due to circumstances beyond user control.

		XSEDE users and project that wish to request a refund should see the [Refund Policy section](/su-converter#:~:text=RESET-,XSEDE Refund Policy,-(v1.2)).

		Other allocated users and projects wishing to request a refund should email  help@ncsa.illinois.edu. Please include the batch job ids and the standard error and output files produced by the job(s).
