#samples
	:markdown
		#[Sample Job Scripts](#samples)

	#samples:serial
		:markdown
			##[Serial Example Script](#samples:serial)

			<pre>$ cat job.slurm
			#!/bin/bash
			#SBATCH --mem=16g
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=1
			#SBATCH --cpus-per-task=1    # match to OMP_NUM_THREADS
			#SBATCH --partition=cpu      # or one of: gpuA100x4 gpuA40x4 gpuA100x8 gpuMI100x8
			#SBATCH --account=account_name
			#SBATCH --job-name=myjobtest
			#SBATCH --time=00:10:00      # hh:mm:ss for the job
			### GPU options ###
			##SBATCH --gpus-per-node=2
			##SBATCH --gpu-bind=none     # or closest
			##SBATCH --mail-user=you@yourinstitution.edu
			##SBATCH --mail-type="BEGIN,END" See sbatch or srun man pages for more email options 
			 
			module reset # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			             # $WORK and $SCRATCH are now set
			module load python  # ... or any appropriate modules
			module list  # job documentation and metadata
			echo "job is starting on `hostname`"
			srun python3 myprog.py</pre>

	#samples:mpi
		:markdown
			##[MPI Example Script](#samples:mpi)

			<pre>#!/bin/bash
			#SBATCH --mem=16g
			#SBATCH --nodes=2
			#SBATCH --ntasks-per-node=32
			#SBATCH --cpus-per-task=1    # match to OMP_NUM_THREADS
			#SBATCH --partition=cpu      # or one of: gpuA100x4 gpuA40x4 gpuA100x8 gpuMI100x8
			#SBATCH --account=account_name
			#SBATCH --job-name=mympi
			#SBATCH --time=00:10:00      # hh:mm:ss for the job
			### GPU options ###
			##SBATCH --gpus-per-node=2
			##SBATCH --gpu-bind=none     # or closest ##SBATCH --mail-user=you@yourinstitution.edu
			##SBATCH --mail-type="BEGIN,END" See sbatch or srun man pages for more email options 
			 
			module reset # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			             # $WORK and $SCRATCH are now set
			module load gcc/11.2.0 openmpi  # ... or any appropriate modules
			module list  # job documentation and metadata
			echo "job is starting on `hostname`"
			srun osu_reduce</pre>

	#samples:openmp
		:markdown
			##[OpenMP Example Script](#samples:openmp)

			<pre>#!/bin/bash
			#SBATCH --mem=16g
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=1
			#SBATCH --cpus-per-task=32   # <- match to OMP_NUM_THREADS
			#SBATCH --partition=cpu      # <- or one of: gpuA100x4 gpuA40x4 gpuA100x8 gpuMI100x8
			#SBATCH --account=account_name
			#SBATCH --job-name=myopenmp
			#SBATCH --time=00:10:00      # hh:mm:ss for the job
			### GPU options ###
			##SBATCH --gpus-per-node=2
			##SBATCH --gpu-bind=none     # <- or closest
			##SBATCH --mail-user=you@yourinstitution.edu
			##SBATCH --mail-type="BEGIN,END" See sbatch or srun man pages for more email options 
			 
			module reset # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			             # $WORK and $SCRATCH are now set
			module load gcc/11.2.0  # ... or any appropriate modules
			module list  # job documentation and metadata
			echo "job is starting on `hostname`"
			export OMP_NUM_THREADS=32
			srun stream_gcc</pre>

	#samples:hybrid
		:markdown
			##[Hybrid (MPI + OpenMP) Example Script](#samples:hybrid)

			<pre>#!/bin/bash
			#SBATCH --mem=16g
			#SBATCH --nodes=2
			#SBATCH --ntasks-per-node=4
			#SBATCH --cpus-per-task=4    # <- match to OMP_NUM_THREADS
			#SBATCH --partition=cpu      # <- or one of: gpuA100x4 gpuA40x4 gpuA100x8 gpuMI100x8
			#SBATCH --account=account_name
			#SBATCH --job-name=mympi+x
			#SBATCH --time=00:10:00      # hh:mm:ss for the job
			### GPU options ###
			##SBATCH --gpus-per-node=2
			##SBATCH --gpu-bind=none     # <- or closest
			##SBATCH --mail-user=you@yourinstitution.edu
			##SBATCH --mail-type="BEGIN,END" See sbatch or srun man pages for more email options 
			 
			module reset # drop modules and explicitly load the ones needed
			             # (good job metadata and reproducibility)
			             # $WORK and $SCRATCH are now set
			module load gcc/11.2.0 openmpi # ... or any appropriate modules
			module list  # job documentation and metadata
			echo "job is starting on `hostname`"
			export OMP_NUM_THREADS=4
			srun xthi</pre>

	#samples:parametric
		:markdown
			##[Parametric / Array / HTC jobs Example Script (docs pending)](#samples:parametric)

