#sgon
	:markdown
		#[Science Gateway and Open OnDemand](#sgon)

	#sgon:ondemand
		:markdown
			##[Open OnDemand](#sgon:ondemand)

			The Delta Open OnDemand portal is now available for use. Current supported Interactive apps: Jupyter notebooks.

			To connect to the Open OnDemand portal, access <a target="_blank" rel="noopener noreferrer" href="https://openondemand.delta.ncsa.illinois.edu">NCSA OnDemand</a> with your NCSA username and password with NCSA Duo with the CILogin page.

	#sgon:sg
		:markdown
			##[Science Gateways](#sgon:sg)

			docs pending
