<span style="font-size:225%; font-weight:bold">Comet User Guide</span><br>
<em>Last update: July 22, 2021</em></p> 

<p><span style="font-size:125%; color:red; font-weight:bold;">Comet is no longer available for allocations and was retired from XSEDE service on July 15, 2021. Future allocations are available on <a href="/sdsc-expanse">SDSC's Expanse</a>.</span>
<hr>
#overview
	:markdown
		# [System Overview](#overview)

	#technical-summary
		:markdown
			## [Comet Technical Summary](#technical-summary)
			Comet is a dedicated XSEDE cluster designed by Dell and SDSC delivering ~2.0 petaflops, featuring Intel next-gen processors with AVX2, Mellanox FDR InfiniBand interconnects and Aeon storage.

			The standard compute nodes consist of Intel Xeon E5-2680v3 (formerly codenamed Haswell) processors, 128 GB DDR4 DRAM (64 GB per socket), and 320 GB of SSD local scratch memory. The GPU nodes contain four NVIDIA GPUs each. The large memory nodes contain 1.5 TB of DRAM and four Haswell processors each. The network topology is 56 Gbps FDR InfiniBand with rack-level full bisection bandwidth and 4:1 oversubscription cross-rack bandwidth. Comet has 7 petabytes of 200 GB/second performance storage and 6 petabytes of 100 GB/second durable storage. It also has dedicated gateway hosting nodes and a Virtual Machine repository. External connectivity to Internet2 and ESNet is 100 Gbps.

			<div class="portlet-msg-info"><span style="color:red; font-weight:bold">Comet Retired from XSEDE service on 7/15/2021!</span> SDSC Comet supercomputer was retired from XSEDE service on July 15, 2021. Users will have access to the Comet filesystems via the datamover nodes via <a target="_blank" href="https://www.globus.org">Globus</a> and the endpoint <code>xsede#comet</code> or interactive access at <code>oasis-dm-interactive.sdsc.edu</code>.</div>

	#overview:long-tail
		:markdown
			## [Serving the Long Tail](#overview:long-tail)
			Comet was designed and is operated on the principle that the majority of computational research is performed at modest scale. Comet also supports science gateways, which are web-based applications that simplify access to HPC resources on behalf of a diverse range of research communities and domains, typically with hundreds to thousands of users. Comet is an NSF-funded system operated by the [San Diego Supercomputer Center](http://www.sdsc.edu) at [UC San Diego](http://www.ucsd.edu). Comet is available through the [Extreme Science and Discovery Environment (XSEDE)](http://www.xsede.org) program.

	<div style="float: right;">
	<table class="tbl-user-guide"><caption><em><strong>Comet System Configuration</strong></em></caption>
	<tbody>
	<tr><th>System Component</th><th>Configuration</th></tr>
	<tr>
	<td align="center" colspan="2"><em>Intel Haswell Standard Compute Nodes</em></td>
	</tr>
	<tr>
	<td>Node count</td>
	<td>1,944</td>
	</tr>
	<tr>
	<td>Clock speed</td>
	<td>2.5 GHz</td>
	</tr>
	<tr>
	<td>Cores/node</td>
	<td>24</td>
	</tr>
	<tr>
	<td>DRAM/node</td>
	<td>128 GB</td>
	</tr>
	<tr>
	<td>SSD memory/node</td>
	<td>320 GB</td>
	</tr>
	<tr>
	<td align="center" colspan="2"><em>NVIDIA Kepler K80 GPU Nodes</em></td>
	</tr>
	<tr>
	<td>Node count</td>
	<td>36</td>
	</tr>
	<tr>
	<td>CPU cores:GPUs/node</td>
	<td>24:4</td>
	</tr>
	<tr>
	<td>CPU:GPU DRAM/node</td>
	<td>128 GB:40 GB</td>
	</tr>
	<tr>
	<td align="center" colspan="2"><em>NVIDIA Pascal P100 GPU Nodes</em></td>
	</tr>
	<tr>
	<td>Node count</td>
	<td>36</td>
	</tr>
	<tr>
	<td>CPU cores:GPUs/node</td>
	<td>28:4</td>
	</tr>
	<tr>
	<td>CPU:GPU DRAM/node</td>
	<td>128 GB:40 GB</td>
	</tr>
	<tr>
	<td align="center" colspan="2"><em>Large-memory Haswell Nodes</em></td>
	</tr>
	<tr>
	<td>Node count</td>
	<td>4</td>
	</tr>
	<tr>
	<td>Clock speed</td>
	<td>2.2 GHz</td>
	</tr>
	<tr>
	<td>Cores/node</td>
	<td>64</td>
	</tr>
	<tr>
	<td>DRAM/node</td>
	<td>1.5 TB</td>
	</tr>
	<tr>
	<td>SSD memory/node</td>
	<td>400 GB</td>
	</tr>
	<tr>
	<td align="center" colspan="2"><em>Storage Systems</em></td>
	</tr>
	<tr>
	<td>File systems</td>
	<td>Lustre, NFS</td>
	</tr>
	<tr>
	<td>Performance Storage</td>
	<td>7 PB</td>
	</tr>
	<tr>
	<td>Home file system</td>
	<td>280 TB</td>
	</tr>
	</tbody>
	</table>
	</div>

:markdown
	### Resource allocation policies are designed to serve more users than traditional HPC systems

	* The maximum allocation for a Principle Investigator is 10M core-hours. Limiting the allocation size means that Comet can support more projects, even if the size of an individual project is smaller.
	* Access via Science Gateways, which generally serve hundreds to thousands of users, can request more that the 10M SU cap.
	* Comet provides [Rapid Access Trial Accounts](/allocations/startup#trial) that give users 1000 SUs within 24 hours of requesting them.

	### Job scheduling policies are designed for user productivity

	* The maximum allowable job size on Comet is 1,728 cores; a limit that helps shorten wait times since there are fewer nodes in idle state waiting for large number of nodes to become free. In practice, the average job size, weighted by core-hours, is about 400 cores (20 when not weighted, which reflects the large fraction of single node jobs).
	* Comet supports long-running jobs - up to as much as one week by special request.
	* Comet supports shared-node jobs (more than one job on a single node). Many applications are serial or can only scale to a few cores. Allowing shared nodes improves job throughput, provides higher overall system utilization, and allows more users to run on Comet.

	### Comet's system architecture is designed for user productivity

	* Each rack of Comet standard compute nodes provides 1,728 cores in a fully non-blocking fat tree FDR networking. Jobs can be run within a single rack to minimize latency or allowed to span racks to minimize wait time. This ensures maximum interconnect performance when it is critical to application performance without penalizing throughput when that is the most important factor.
	* Each Comet compute node features 128 GB of DDR4 memory. This is important for both shared node jobs, and for those users with serial and threaded applications.
	* Each compute node features up to 400 GB of SSD memory, which can be used to accelerate I/O performance for some applications.
	* Comet features 36 K80 and 36 P100 GPU nodes, supporting many community developed applications. These versions typically run much faster on GPUs than CPUs.
	* Comet's 4 large memory nodes are well suited applications such as those in genomics
	* Comet's storage system, Data Oasis, provides high performance and high capacity, with added levels of protection via ZFS and a Durable Storage partition for periodic replication of critical project data.

#overview:technical-details
	:markdown
		### [Comet Technical Details](#overview:technical-details)

	%table(border="1" cellpadding="3")
		%caption(style="caption-side: bottom; margin-top: 0.6rem")
			%strong Table 1. Comet Technical Summary
		%tr
			%th System Component
			%th Configuration
		%tr
			%th(align="center" colspan="2") 1944 Standard Compute Nodes
		%tr
			%td Processor Type
			%td Intel Xeon E5-2680v3
		%tr
			%td Sockets
			%td 2
		%tr
			%td Cores/socket
			%td 12
		%tr
			%td Clock speed
			%td 2.5 GHz
		%tr
			%td Flop speed
			%td 960 GFlop/s
		%tr
			%td Memory capacity
			%td 128 GB DDR4 DRAM
		%tr
			%td Flash memory
			%td 320 GB SSD
		%tr
			%td Memory bandwidth
			%td 120 GB/s
		%tr
			%td STREAM Triad bandwidth
			%td 104 GB/s
		%tr
			%th(align="center" colspan="2") 36 K80 GPU Nodes
		%tr
			%td GPUs
			%td 4 NVIDIA
		%tr
			%td Cores/socket
			%td 12
		%tr
			%td Sockets
			%td 2
		%tr
			%td Clock speed
			%td 2.5 GHz
		%tr
			%td Memory capacity
			%td 128 GB DDR4 DRAM
		%tr
			%td Flash memory
			%td 400 GB SSD
		%tr
			%td Memory bandwidth
			%td 120 GB/s
		%tr
			%td STREAM Triad bandwidth
			%td 104 GB/s
		%tr
			%th(align="center" colspan="2") 36 P100 GPU Nodes
		%tr
			%td GPUs
			%td 4 NVIDIA
		%tr
			%td Cores/socket
			%td 14
		%tr
			%td Sockets
			%td 2
		%tr
			%td Clock speed
			%td 2.4 GHz
		%tr
			%td Memory capacity
			%td 128 GB DDR4 DRAM
		%tr
			%td Flash memory
			%td 400 GB SSD
		%tr
			%td Memory bandwidth
			%td 150 GB/s
		%tr
			%td STREAM Triad bandwidth
			%td 116 GB/s
		%tr
			%th(align="center" colspan="2") 4 Large Memory Nodes
		%tr
			%td Sockets
			%td 4
		%tr
			%td Cores/socket
			%td 16
		%tr
			%td Clock speed
			%td 2.2 GHz
		%tr
			%td Memory capacity
			%td 1.5 TB
		%tr
			%td Flash memory
			%td 400 GB
		%tr
			%td Stream Triad bandwidth
			%td 142 GB/s
		%tr
			%th(align="center" colspan="2") Full System
		%tr
			%td Total compute nodes
			%td 1984
		%tr
			%td Total compute cores
			%td 47,776
		%tr
			%td Peak performance
			%td ~2.0 PFlop/s
		%tr
			%td Total memory
			%td 247 TB
		%tr
			%td Total memory bandwidth
			%td 228 TB/s
		%tr
			%td Total flash memory
			%td 634 TB
		%tr
			%th(align="center" colspan="2") FDR InfiniBand Interconnect
		%tr
			%td Topology
			%td Hybrid Fat-Tree
		%tr
			%td Link bandwidth
			%td 56 Gb/s (bidirectional)
		%tr
			%td Peak bisection bandwidth
			%td TBD Gb/s (bidirectional)
		%tr
			%td MPI latency
			%td 1.03 - 1.97 &#181;s
		%tr
			%th(align="center" colspan="2") DISK I/O Subsystem
		%tr
			%td File Systems
			%td NFS, Lustre
		%tr
			%td Storage capacity (durable)
			%td 6 PB
		%tr
			%td Storage capacity (performance)
			%td 7 PB
		%tr
			%td I/O bandwidth (performance disk)
			%td 200 GB/s

	:markdown
		Comet supports the [XSEDE core software stack](https://www.xsede.org/software), which includes remote login, remote computation, data movement, science workflow support, and science gateway support toolkits.

#overview:software-env
	:markdown
		### [Systems Software Environment](#overview:software-env)

	%table(border="1" cellpadding="3")
		%caption(style="caption-side: bottom; margin-top: 0.6rem")
			%strong Table 2. Systems Software Environment
		%tr
			%th Software Function
			%th Description
		%tr
			%td Cluster Management
			%td Rocks
		%tr
			%td Operating System
			%td CentOS
		%tr
			%td File Systems
			%td NFS, Lustre
		%tr
			%td Scheduler and Resource Manager
			%td SLURM
		%tr
			%td XSEDE Software
			%td CTSS
		%tr
			%td User Environment
			%td Modules
		%tr
			%td Compilers
			%td Intel and PGI Fortran, C, C++
		%tr
			%td Message Passing
			%td Intel MPI, MVAPICH, Open MPI
		%tr
			%td Debugger
			%td DDT
		%tr
			%td Performance
			%td IPM, mpiP, PAPI, TAU

#overview:software-apps
	:markdown
		### [Supported Application Software](#overview:software-apps)
		#### by Domain of Science

	%table(border="1" cellpadding="3")
		%caption(style="caption-side: bottom; margin-top: 0.6rem")
			%strong Table 3. Supported Applications Software
		%tr
			%th Domain
			%th Software
		%tr
			%td Biochemistry
			%td APBS
		%tr
			%td Bioinformatics
			%td BamTools, BEAGLE, BEAST, BEAST 2, bedtools, Bismark, BLAST, BLAT, Bowtie, Bowtie 2, BWA, Cufflinks, DPPDiv, Edena, FastQC, FastTree, FASTX-Toolkit, FSA, GARLI, GATK, GMAP-GSNAP, IDBA-UD, MAFFT, MrBayes, PhyloBayes, Picard, PLINK, QIIME, RAxML, SAMtools, SOAPdenovo2, SOAPsnp, SPAdes, TopHat, Trimmomatic, Trinity, Velvet
		%tr
			%td Compilers
			%td GNU, Intel, Mono, PGI
		%tr
			%td File format libraries
			%td HDF4, HDF5, NetCDF
		%tr
			%td Interpreted languages
			%td MATLAB, Octave, R
		%tr
			%td Large-scale data analysis frameworks
			%td Hadoop 1, Hadoop 2 (with YARN), Spark, RDMA-Spark
		%tr
			%td Molecular dynamics
			%td Amber, Gromacs, LAMMPS, NAMD
		%tr
			%td MPI libraries
			%td MPICH2, MVAPICH2, Open MPI
		%tr
			%td Numerical libraries
			%td ATLAS, FFTW, GSL, LAPACK, MKL, ParMETIS, PETSc, ScaLAPACK, SPRNG, Sundials, SuperLU, Trilinios
		%tr
			%td Predictive analytics
			%td KNIME, Mahout, Weka
		%tr
			%td Profiling and debugging
			%td DDT, IDB, IPM, mpiP, PAPI, TAU, Valgrind
		%tr
			%td Quantum chemistry
			%td CPMD, CP2K, GAMESS, Gaussian, MOPAC, NWChem, Q-Chem, VASP
		%tr
			%td Structural mechanics
			%td Abaqus
		%tr
			%td Visualization
			%td IDL, VisIt


#access
	:markdown
		# [System Access](#access)

		As an XSEDE computing resource, Comet is accessible to XSEDE users who are given time on the system. To obtain an account, users may submit a proposal through the [XSEDE Allocation Request System](/allocations) (XRAS) or request a [Trial Account](/allocations/startup#trial).

		Interested parties may contact [XSEDE User Support](mailto:help@xsede.org) for help with a Comet proposal.

	#access:login
		:markdown
			## [Logging in to Comet](#access:login)

			Comet supports several access methods:

			* [Single Sign On](https://portal.xsede.org/web/xup/single-sign-on-hub) through the XSEDE User Portal
			* Command-line SSH login using SDSC username and XSEDE User Portal Password

			To login to Comet from the command line, use the hostname:

			<pre>comet.sdsc.xsede.org</pre>

			The following are examples of Secure Shell (`ssh`) commands that may be used to log in to Comet:

			<pre>
			ssh <em>sdscusername</em>@comet.sdsc.xsede.org
			ssh -l <em>sdscusername</em> comet.sdsc.xsede.org</pre>

	#access:hints
		:markdown
			## [Notes and hints](#access:hints)

			* When you log in to `comet.sdsc.edu`, you will be assigned one of the four login nodes: `comet-ln[1-4].sdsc.edu`. These nodes are identical in both architecture and software environment. Users should normally log in through `comet.sdsc.xsede.org`, but may specify one of the four nodes directly if they see poor performance.
			* Please feel free to append your public RSA key to your "`~/.ssh/authorized_keys`" file to enable access from authorized hosts without having to enter your password. Make sure you have a password on the private key on your local machine. You can use `ssh-agent` or keychain to avoid repeatedly typing the private key password.

			Do **NOT** use the login nodes for computationally intensive processes. These nodes are meant for compilation, file editing, simple data analysis, and other tasks that use minimal compute resources. All computationally demanding jobs should be submitted and run through the batch queuing system.


#compenv
	:markdown
		# [Computing Environment](#compenv)

		The Environment Modules package provides for dynamic modification of your shell environment. Module commands set, change, or delete environment variables, typically in support of a particular application. They also let the user choose between different versions of the same software or different combinations of related codes.

	#compenv:modules
		:markdown
			## [Modules](#compenv:modules)

			For example, if the Intel module and mvapich2_ib module are loaded and the user compiles with mpif90, the generated code is compiled with the Intel Fortran 90 compiler and linked with the mvapich2_ib MPI libraries.

			Several modules that determine the default Comet environment are loaded at login time. These include the MVAPICH implementation of the MPI library and the Intel compilers. We strongly suggest that you use this combination whenever possible to get the best performance.

	#table3
		:markdown
			[Table 3. Useful Module Commands](#table3)

		%table(border="1" cellpadding="3")
			%tr
				%th Command
				%th Description
			%tr
				%td <code>module list</code>
				%td List the modules that are currently loaded
			%tr
				%td <code>module avail</code>
				%td List the modules that are available
			%tr
				%td <code>module display <em>module name</em></code>
				%td Show the environment variables used by <em>module name</em> and how they are affected
			%tr
				%td <code>module unload <em>module name</em></code>
				%td Remove <em>module name</em> from the environment
			%tr
				%td <code>module load <em>module name</em></code>
				%td Load <em>module name</em> into the environment
			%tr
				%td <code>module swap <em>module one</em> <em>module two</em></code>
				%td Replace <em>module one</em> with <em>module two</em> in the environment

	#compenv:modules-loading
		:markdown
			### [Loading and Unloading Modules](#compenv:modules-loading)
			You must remove some modules before loading others. Some modules depend on others, so they may be loaded or unloaded as a consequence of another module command. For example, if intel and mvapich are both loaded, running the command module unload intel will automatically unload mvapich. Subsequently issuing the module load intel command does not automatically reload mvapich.

			If you find yourself regularly using a set of module commands, you may want to add these to your configuration files ("`.bashrc`" for bash users, "`.cshrc`" for C shell users). Complete documentation is available in the module(1) and modulefile(4) manpages.

		<pre>
		login1$ <strong>man 1 module</strong>
		login1$ <strong>man 4 modulefile</strong></pre>

	#compenv:modules-notfound
		:markdown
			### [module: command not found](#compenv:modules-notfound)
			The error message "module: command not found" is sometimes encountered when switching from one shell to another or attempting to run the module command from within a shell script or batch job. The reason that the module command may not be inherited as expected is that it is defined as a function for your login shell. If you encounter this error execute the following from the command line (interactive shells) or add to your shell script (including Slurm batch scripts)

		<pre>login1$ <strong>source /etc/profile.d/modules.sh</strong></pre>


#acctmgmt
	:markdown
		# [Managing Your Accounts](#acctmgmt)

	#acctmgmt:commands
		:markdown
			## [Useful Commands](#acctmgmt:commands)

			The `show_accounts` command lists the accounts that you are authorized to use, together with a summary of the used and remaining time.

		<pre>
		[user@comet-login1 ~]$ <strong>show_accounts</strong>
		ID name project used available used_by_proj

		<em>user project SUs by user SUs available SUs by proj</em></pre>

		To charge your job to one of these projects, replace "`project`" with one from the list and put this PBS directive in your job script:

		<pre>#SBATCH -A <em>project</em></pre>

		Many users will have access to multiple accounts (e.g. an allocation for a research project and a separate allocation for classroom or educational use). On some systems a default account is assumed, but please get in the habit of explicitly setting an account for all batch jobs. Awards are normally made for a specific purpose and should not be used for other projects.

	#acctmgmt:addusers
		:markdown
			## [Adding Users to an Account](#acctmgmt:addusers)
			Project PIs and co-PIs can add or remove users from an account. To do this, log in to your XSEDE portal account and go to the[ Add User](https://www.xsede.org/group/xup/add-remove-user) page.

	#acctmgmt:charging
		:markdown
			## [Charging](#acctmgmt:charging)

			The charge unit for all SDSC machines, including Comet, is the Service Unit (SU). This corresponds to the use of one compute core for one hour. Keep in mind that your charges are based on the resources that are tied up by your job and don't necessarily reflect how the resources are used. Charges are based on either the number of cores or the fraction of the memory requested, whichever is larger. The minimum charge for any job longer than 10 seconds is 1 SU.

			### Job Charge Considerations

			* A node-exclusive job that runs on a compute node for one hour will be charged 24 SUs (24 cores x 1 hour)
			* A serial job in the shared queue that uses less than 5 GB memory and runs for one hour will be charged 1 SU (1 core x 1 hour)
			* A P100 gpu/gpu-shared job will be charged a premium  of 1.5x; P100 GPUs are substantially faster than the K80, achieving more than twice the performance for some applications. Accordingly, users will incur a 1.5x premium when running on the P100 vs the K80. (Please note that the SUs on the GPU resource are measured in terms of K80 GPU hours).
			* A GPU is equivalent to 1/4th of a node which equals 6 cores on the K80 GPUs and 7 cores on the P100 GPUs
			* Multicore jobs will scale according to resource utilization
			* Each standard compute node has ~128 GB of memory and 24 cores
				* Each standard node core has 5 GB of memory (1/24th of the total memory on a standard compute node)
			* Each large memory node has ~1.5 TB of memory and 64 cores
				* Each large memory core has 24 GB of memory (1/64 of total memory on a large memory node)
 

#appdev
	:markdown
		# [Application Development](#appdev)

	#appdev:compiling
		:markdown
			## [Compiling](#appdev:compiling)

			Comet provides the Intel, Portland Group (PGI), and GNU compilers along with multiple MPI implementations (MVAPICH2, MPICH2, OpenMPI). Most applications will achieve the best performance on Comet using the Intel compilers and MVAPICH2 and the majority of libraries installed on Gordon have been built using this combination. Although other compilers and MPI implementations are available, we suggest using these only for compatibility purposes.

			All three compilers now support the Advanced Vector Extensions 2 (AVX2). Using AVX2, up to eight floating point operations can be executed per cycle per core, potentially doubling the performance relative to non-AVX2 processors running at the same clock speed. Note that AVX2 support is not enabled by default and compiler flags must be set as described below.

	#appdev:compiling-intel
		:markdown
			### [Using the Intel Compilers](#appdev:compiling-intel) (Default/Suggested)
			The Intel compilers and the MVAPICH2 MPI implementation will be loaded by default. If you have modified your environment, you can reload by executing the following commands at the Linux prompt or placing in your startup file ("`~/.cshrc`" or "`~/.bashrc`")

		<pre>
		login1$ <strong>module purge</strong>
		login1$ <strong>module load gnutools</strong>
		login1$ <strong>module load intel mvapich2_ib</strong></pre>

		:markdown
			For AVX2 support, compile with the "`-xHOST`" option. Note that the "`-xHOST`" option alone does not enable aggressive optimization, so compilation with "`-O3`" is also suggested. The "`-fast`" flag invokes "`-xHOST`", but should be avoided since it also turns on interprocedural optimization ("`-ipo`"), which may cause problems in some instances.

			Intel MKL libraries are available as part of the "intel" modules on Comet. Once this module is loaded, the environment variable MKL_ROOT points to the location of the mkl libraries. The[ MKL link advisor](https://software.intel.com/en-us/articles/intel-mkl-link-line-advisor) can be used to ascertain the link line (change the MKL_ROOT aspect appropriately).

			For example to compile a C program statically linking 64 bit scalapack libraries on Comet:

		<pre>
		mpicc -o pdpttr.exe pdpttr.c \
		&nbsp;&nbsp;&nbsp;&nbsp;-I$MKL_ROOT/include ${MKL_ROOT}/lib/intel64/libmkl_scalapack_lp64.a \
		&nbsp;&nbsp;&nbsp;&nbsp;-Wl,--start-group ${MKL_ROOT}/lib/intel64/libmkl_intel_lp64.a \
		&nbsp;&nbsp;&nbsp;&nbsp;${MKL_ROOT}/lib/intel64/libmkl_core.a ${MKL_ROOT}/lib/intel64/libmkl_sequential.a \
		&nbsp;&nbsp;&nbsp;&nbsp;-Wl,--end-group ${MKL_ROOT}/lib/intel64/libmkl_blacs_intelmpi_lp64.a -lpthread -lm </pre>

		For more information on the Intel compilers: 

		<pre>
		login1$ <strong>icc -help</strong>
		login1$ <strong>icpc -help</strong>
		login1$ <strong>ifort -help</strong></pre>

	#table4
		:markdown
			[Table 4. Intel Compilers](#table4)

		%table(border="1" cellpadding="3")
			%tr
				%td
				%th Serial
				%th MPI
				%th OpenMP
				%th MPI+OpenMP
			%tr
				%td Fortran
				%td <code>ifort</code>
				%td <code>mpif90</code>
				%td <code>ifort -openmp</code>
				%td <code>mpif90 -openmp</code>
			%tr
				%td C
				%td <code>icc</code>
				%td <code>mpicc</code>
				%td <code>icc -openmp</code>
				%td <code>mpicc -openmp</code>
			%tr
				%td C++
				%td <code>icpc</code>
				%td <code>mpicxx</code>
				%td <code>icpc -openmp</code>
				%td <code>mpicxx -openmp</code>

	:markdown

		Note for C/C++ users: compiler warning - `feupdateenv` is not implemented and will always fail. For most users, this error can safely be ignored. By default, the Intel C/C++ compilers only link against Intel's optimized version of the C standard math library (libmf). The error stems from the fact that several of the newer C99 library functions related to floating point rounding and exception handling have not been implemented.

	#appdev:compiling-pgi
		:markdown
			### [Using the PGI Compilers](#appdev:compiling-pgi)
			The PGI compilers can be loaded by executing the following commands at the Linux prompt or placing in your startup file (~/.cshrc or ~/.bashrc)

		<pre>
		login1$ <strong>module purge</strong>
		login1$ <strong>module load gnutools</strong>
		login1$ <strong>module load pgi mvapich2_ib</strong></pre>

		For AVX support, compile with "`-fast`"

		For more information on the PGI compilers: 

		<pre>
		login1$ <strong>man pgf90 </strong>
		login1$ <strong>man pgcc</strong>
		login1$ <strong>man pgCC</strong>
		</pre>

	#table5
		:markdown
			[Table 5. PGI Compilers](#table5)

		%table(border="1" cellpadding="3")
			%tr
				%td
				%th Serial
				%th MPI
				%th OpenMP
				%th MPI+OpenMP
			%tr
				%td Fortran
				%td <code>pgf90</code>
				%td <code>mpif90</code>
				%td <code>pgf90 -mp</code>
				%td <code>mpif90 -mp</code>
			%tr
				%td C
				%td <code>pgcc</code>
				%td <code>mpicc</code>
				%td <code>pgcc -mp</code>
				%td <code>mpicc -mp</code>
			%tr
				%td C++
				%td <code>pgCC</code>
				%td <code>mpicxx</code>
				%td <code>pgCC -mp</code>
				%td <code>mpicxx -mp</code>
	
	#appdev:compiling-gnu
		:markdown
			### [Using the GNU Compilers](#appdev:compiling-gnu)
			The GNU compilers can be loaded by executing the following commands at the Linux prompt or placing in your startup files (~/.cshrc or ~/.bashrc)

		<pre>
		login1$ <strong>module purge</strong>
		login1$ <strong>module load gnutools</strong>
		login1$ <strong>module load gnu openmpi_ib</strong></pre>

		For AVX support, compile with "`-mavx`". Note that AVX support is only available in version 4.7 or later, so it is necessary to explicitly load the gnu/4.9.2 module until such time that it becomes the default.

		For more information on the GNU compilers: 

		<pre>
		login1$ <strong>man gfortran</strong>
		login1$ <strong>man g++</strong>
		login1$ <strong>man gfortran | gcc | g++</strong></pre>

	#table6
		:markdown
			[Table 6. GNU Compilers](#table6)

		%table(border="1" cellpadding="3")
			%tr
				%td
				%th Serial
				%th MPI
				%th OpenMP
				%th MPI+OpenMP
			%tr
				%td Fortran
				%td <code>gfortran</code>
				%td <code>mpif90</code>
				%td <code>gfortran -fopenmp</code>
				%td <code>mpif90 -fopenmp</code>
			%tr
				%td C
				%td <code>gcc</code>
				%td <code>mpicc</code>
				%td <code>gcc -fopenmp</code>
				%td <code>mpicc -fopenmp</code>
				%tr
				%td C++
				%td <code>g++</code>
				%td <code>mpicxx</code>
				%td <code>g++ -fopenmp</code>
				%td <code>mpicxx -fopenmp</code>

	#appdev:compiling-mvapich2
		:markdown
			### [MVAPICH2-GDR on Comet GPU Nodes](#appdev:compiling-mvapich2)
			The GPU nodes on Comet have MVAPICH2-GDR available. MVAPICH2-GDR is based on the standard MVAPICH2 software stack. It incorporates designs that take advantage of the new GPUDirect RDMA technology for inter-node data movement on NVIDIA GPUs clusters with Mellanox InfiniBand interconnect. The "`mvapich2-gdr`" modules are also available on the login nodes for compiling purposes. An example compile and run script is provided in "`/share/apps/examples/MVAPICH2GDR`".

	#appdev:compiling-hints
		:markdown
			### [Notes and hints](#appdev:compiling-hints)

			* The "`mpif90`", "`mpicc`", and "`mpicxx`" commands are actually wrappers that call the appropriate serial compilers and load the correct MPI libraries. While the same names are used for the Intel, PGI and GNU compilers, keep in mind that these are completely independent scripts.
			* If you use the PGI or GNU compilers or switch between compilers for different applications, make sure that you load the appropriate modules before running your executables.
			* When building OpenMP applications and moving between different compilers, one of the most common errors is to use the wrong flag to enable handling of OpenMP directives. Note that Intel, PGI, and GNU compilers use the "`-openmp`", "`-mp`", and "`-fopenmp`" flags, respectively.
			* Explicitly set the optimization level in your makefiles or compilation scripts. Most well written codes can safely use the highest optimization level ("`-O3`"), but many compilers set lower default levels (e.g. GNU compilers use the default "`-O0`", which turns off all optimizations).
			* Turn off debugging, profiling, and bounds checking when building executables intended for production runs as these can seriously impact performance. These options are all disabled by default. The flag used for bounds checking is compiler dependent, but the debugging ("`-g`") and profiling ("`-pg`") flags tend to be the same for all major compilers.


#running
	:markdown
		# [Running Jobs on Comet](#running)

	#running:regnodes
		:markdown
			## [Running Jobs on Regular Compute Nodes](#running:regnodes)
			Comet uses the **Simple Linux Utility for Resource Management (SLURM)** batch environment. When you run in batch mode, you submit jobs to be run on the compute nodes using the `sbatch` command as described below. _Remember that computationally intensive jobs should be run only on the compute nodes and not the login nodes._

			Comet places limits on the number of jobs queued and running on a per group (allocation) and partition basis. Please note that submitting a large number of jobs (especially very short ones) can impact the overall  scheduler response for all users. **If you are anticipating submitting a lot of jobs, please contact the [XSEDE Help Desk](mailto:help@xsede.org) before you submit them. We can work to check if there are bundling options that make your workflow more efficient and reduce the impact on the scheduler.**

			The limits for each partition are given in the below table:

	#running:queues
		:markdown
			### [Queues on Comet](#running:queues)

	#table7
		:markdown
			[Table 7. Queues on Comet](#table7)

		%table(border="1" cellpadding="3")
			%tr
				%th Queue Name
				%th Max Walltime
				%th Max Nodes
				%th Max Running Jobs
				%th Max Queued+Running Jobs
				%th Comments
			%tr
				%td <code>compute</code>
				%td 48 hrs
				%td 72
				%td 144
				%td 360
				%td Used for exclusive access to regular compute nodes
			%tr
				%td <code>gpu</code>
				%td 48 hrs
				%td 8
				%td 8
				%td 20
				%td Used for exclusive access to the GPU nodes
			%tr
				%td <code>gpu-shared</code>
				%td 48 hrs
				%td 1
				%td 16
				%td 25
				%td Single-node jobs using fewer than 4 GPUs
			%tr
				%td <code>shared</code>
				%td 48 hrs
				%td 1
				%td 1728
				%td 4320
				%td Single-node jobs using fewer than 24 cores
			%tr
				%td <code>large-shared</code>
				%td 48 hrs
				%td 1
				%td &ndash;
				%td 8
				%td Single-node jobs using large memory up to 1.45 TB
			%tr
				%td <code>debug</code>
				%td 30 mins
				%td 2
				%td 8
				%td 8
				%td Used for access to debug nodes

	#running:srun
		:markdown
			## [Requesting interactive resources using <code>srun</code>](#running:srun)
			You can request an interactive session using the `srun` command. The following example will request one node, all 24 cores, in the debug partition for 30 minutes:

		<pre>[user@comet-ln1]$ <strong>srun</strong> --partition=debug --pty --nodes=1 --ntasks-per-node=24 -t 00:30:00 --wait=0 --export=ALL /bin/bash</pre>

	#running:sbatch
		:markdown
			## [Submitting Jobs Using <code>sbatch</code>](#running:sbatch)
			Jobs can be submitted to the SLURM queues using the `sbatch` command as follows:

		<pre>[user@comet-ln1]$ <strong>sbatch <em>jobscriptfile</em></strong></pre>

		where "*`jobscriptfile`*" is the name of a UNIX format file containing special statements (corresponding to "`sbatch`" options), resource specifications and shell commands. Several example SLURM scripts are given below:

	#running:jobscripts
		:markdown
			## [Sample Job Scripts](#running:jobscripts)

	#running:jobscripts-mpi
		:markdown
			### [Basic MPI Job](#running:jobscripts-mpi)

			<pre>
			#!/bin/bash
			#SBATCH --job-name="hellompi"
			#SBATCH --output="hellompi.%j.%N.out"
			#SBATCH --partition=compute
			#SBATCH --nodes=2
			#SBATCH --ntasks-per-node=24
			#SBATCH --export=ALL
			#SBATCH -t 01:30:00

			#This job runs with 2 nodes, 24 cores per node for a total of 48 cores.
			#ibrun in verbose mode will give binding detail

			ibrun -v ../hello_mpi</pre>


	#running:jobscripts-openmp
		:markdown
			### [Basic OpenMP Job](#running:jobscripts-openmp)

			<pre>
			#!/bin/bash
			#SBATCH --job-name="hello_openmp"
			#SBATCH --output="hello_openmp.%j.%N.out"
			#SBATCH --partition=compute
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=24
			#SBATCH --export=ALL
			#SBATCH -t 01:30:00
 		 
			#Set the number of openmp threads
			export OMP_NUM_THREADS=24
 		 
			#Run the job using mpirun_rsh
			hello_openmp</pre>


	#running:jobscripts-hybrid
		:markdown
			### Hybrid MPI-OpenMP Job

			<pre>
			#!/bin/bash
			#SBATCH --job-name="hellohybrid"
			#SBATCH --output="hellohybrid.%j.%N.out"
			#SBATCH --partition=compute
			#SBATCH --nodes=2
			#SBATCH --ntasks-per-node=24
			#SBATCH --export=ALL
			#SBATCH -t 01:30:00

			#This job runs with 2 nodes, 24 cores per node for a total of 48 cores.
			#We use 8 MPI tasks and 6 OpenMP threads per MPI task
			export OMP_NUM_THREADS=6
			ibrun --npernode 4 ./hello_hybrid</pre>


	#running:jobscripts-mpirun_sh
		:markdown
			### Basic `mpirun_rsh` Job

			<pre>
			#!/bin/bash
			#SBATCH --job-name="hellompirunrsh"
			#SBATCH --output="hellompirunrsh.%j.%N.out"
			#SBATCH --partition=compute
			#SBATCH --nodes=2
			#SBATCH --ntasks-per-node=24
			#SBATCH --export=ALL
			#SBATCH -t 01:30:00
 		 
			#Generate a hostfile from the slurm node list
			export SLURM_NODEFILE=`generate_pbs_nodefile`
 		 
			#Run the job using mpirun_rsh
			mpirun_rsh -hostfile $SLURM_NODEFILE -np 48 ../hello_mpi</pre>

	#running:jobscripts-sharedpartition
		:markdown
			### Using the Shared Partition

			<pre>#!/bin/bash
			#SBATCH -p shared
			#SBATCH --nodes=1
			#SBATCH --ntasks-per-node=8
			#SBATCH --mem=40G
			#SBATCH -t 01:00:00
			#SBATCH -J HPL.8
			#SBATCH -o HPL.8.%j.%N.out
			#SBATCH -e HPL.8.%j.%N.err
			#SBATCH --export=ALL

			export MV2_SHOW_CPU_BINDING=1
			ibrun -np 8 ./xhpl.exe</pre>

			The above script will run using 8 cores and 40 GB of memory. Please note that the performance in the shared partition may vary depending on how sensitive your application is to memory locality and the cores you are assigned by the scheduler. It is possible the 8 cores will span two sockets for example.


	#running:jobscripts-requeue
		:markdown
			### SLURM No-Requeue Option

			SLURM will requeue jobs if there is a node failure. However, in some cases this might be detrimental if files get overwritten. If users wish to avoid automatic requeue, the following line should be added to their script:

		<pre>#SBATCH --no-requeue</pre>


	#running:jobscripts-licensescheduling
		:markdown
			### License Scheduling

			MATLAB MDCS, IDL, and Abaqus have restricted licenses with limits on the number of cores used at any given time. Please ensure that you add a license request to your run script so that they are not oversubscribed and cause job failures. For example the following Abaqus job requests 24 licenses:

			<pre>#!/bin/bash
			#SBATCH --job-name="abaqus"
			#SBATCH --output="abaqus.%j.%N.out"
			#SBATCH --partition=compute
			#SBATCH --nodes=1
			#SBATCH --export=ALL
			#SBATCH --ntasks-per-node=24
			#SBATCH -L abaqus:24
			#SBATCH -t 01:00:00
			module load abaqus/6.14-1
			export EXE=`which abq6141`
			$EXE job=s4b input=s4b scratch=/scratch/$USER/$SLURM_JOBID cpus=24 mp_mode=threads memory=120000mb interactive</pre>


	#running:jobscripts-examples
		:markdown
			### [Example Scripts for Applications](#running:jobscripts-examples)

			SDSC User Services staff have developed sample run scripts for common applications. They are available in the `/share/apps/examples` directory on Comet.

	#running:dependencies
		:markdown
			## [Job Dependencies](#running:dependencies)

			There are several scenarios (e.g. splitting long running jobs, workflows) where users may require jobs with dependencies on successful completions of other jobs. In such cases, SLURM's "`--dependency`" option can be used. The syntax is as follows:

		<pre>[user@comet-ln1 ~]$ <strong>sbatch --dependency=afterok:jobid jobscriptfile</strong></pre>


	#running:monitoring
		:markdown
			## [Job Monitoring and Management](#running:monitoring)

			Users can monitor jobs using the `squeue` command.

		<pre>[user@comet-ln1 ~]$ <strong>squeue -u user1</strong>
 
		JOBID PARTITION NAME USER ST TIME NODES NODELIST(REASON)
		256556 compute raxml_na user1 R 2:03:57 4 comet-14-[11-14]
		256555 compute raxml_na user1 R 2:14:44 4 comet-02-[06-09]</pre>

		In this example, the output lists two jobs that are running in the `compute` partition. The jobID, partition name, job names, user names, status, time, number of nodes, and the node list are provided for each job. Some common `squeue` options include:

	#table8
		:markdown

			[Table 8. <code>squeue</code> options](#table8)

		%table(border="1" cellpadding="3")
			%tr
				%th Option
				%th Result
			%tr
				%td <code>-i <em>interval</em></code>
				%td Repeatedly report at intervals (in seconds)
			%tr
				%td <code>-i <em>job_list</em></code>
				%td Displays information for specified job(s)
			%tr
				%td <code>-i <em>part_list</em></code>
				%td Displays information for specified partitions (queues)
			%tr
				%td <code>-i <em>state_list</em></code>
				%td Shows jobs in the specified state(s)
	
	:markdown	
		Users can cancel their own jobs using the "`scancel`" command as follows:

		<pre>[user@comet-ln1 ~]$ <strong>scancel <em>jobid</em></strong></pre>


	#running-ibrun
		:markdown
			## [Help with ibrun](#running-ibrun)
			The options and arguments for ibrun are as follows:

	<pre>
	Usage: ibrun [options] <em>executable</em> [executable args]

	Options:
	&nbsp;&nbsp;-n, -np <em>n</em>
	&nbsp;&nbsp;&nbsp;&nbsp;launch n MPI ranks (default: use all cores provided by resource manager)
	&nbsp;
	&nbsp;&nbsp;-o, --offset <em>n</em>
	&nbsp;&nbsp;&nbsp;&nbsp;assign MPI ranks starting at the nth slot provided by the resource manager (default: 0)
	&nbsp;
	&nbsp;&nbsp;-no <em>n</em>
	&nbsp;&nbsp;&nbsp;&nbsp;assign MPI ranks starting at the nth unique node provided by the resource manager (default: 0)
	&nbsp;
	&nbsp;&nbsp;--npernode <em>n</em>
	&nbsp;&nbsp;&nbsp;&nbsp;only launch n MPI ranks per node (default: ppn from resource manager)
	&nbsp;
	&nbsp;&nbsp;--tpr|--tpp|--threads-per-rank|--threads-per-process <em>n</em>
	&nbsp;&nbsp;&nbsp;&nbsp;how many threads each MPI rank (often referred to as 'MPI process')
	&nbsp;&nbsp;&nbsp;&nbsp;will spawn. (default: $OMP_NUM_THREADS (if defined), <em>ppn</em>/<em>npernode</em>
	&nbsp;&nbsp;&nbsp;&nbsp;if ppn is divisible by npernode, or 1 otherwise)
	&nbsp;
	&nbsp;&nbsp;--switches '<em>implementation-specific</em>'
	&nbsp;&nbsp;&nbsp;&nbsp;Pass additional command-line switches to the underlying implementation's
	&nbsp;&nbsp;&nbsp;&nbsp;MPI launcher. These WILL be overridden by any switches ibrun
	&nbsp;&nbsp;&nbsp;&nbsp;subsequently enables (default: none)
	&nbsp;
	&nbsp;&nbsp;-bp|--binding-policy <em>scatter|compact|none</em>
	&nbsp;&nbsp;&nbsp;&nbsp;Define the CPU affinity's binding policy for each MPI rank. 
	&nbsp;&nbsp;&nbsp;&nbsp;'scatter' distributes ranks across each binding level, 
	&nbsp;&nbsp;&nbsp;&nbsp;'compact' fills up a binding level before allocating another, 
	&nbsp;&nbsp;&nbsp;&nbsp;and 'none' disables all affinity settings (default: optimized for job geometry)
	&nbsp;
	&nbsp;&nbsp;-bl|--binding-level <em>core|socket|numanode|none</em>
	&nbsp;&nbsp;&nbsp;&nbsp;Define the level of granularity for CPU affinity for each MPI rank.
	&nbsp;&nbsp;&nbsp;&nbsp;'core' binds each rank to a single core; 'socket' binds each rank to
	&nbsp;&nbsp;&nbsp;&nbsp;all cores on a single CPU socket (good for multithreaded ranks);
	&nbsp;&nbsp;&nbsp;&nbsp;'numanode' binds each rank to the subset of cores belonging to a numanode; 
	&nbsp;&nbsp;&nbsp;&nbsp;'none' disables all affinity settings. (default: optimized for job geometry)
	&nbsp;
	&nbsp;&nbsp;--dryrun
	&nbsp;&nbsp;&nbsp;&nbsp;Do everything except actually launch the application
	&nbsp;
	&nbsp;&nbsp;-v|--verbose
	&nbsp;&nbsp;&nbsp;&nbsp;Print diagnostic messages
	&nbsp;
	&nbsp;&nbsp;-?
	&nbsp;&nbsp;&nbsp;&nbsp;Print this message
	</pre>


#transferring
	:markdown
		# [Transferring Data](#transferring)

	#transferring:globus
		:markdown
			## [Using Globus Endpoints, Data Movers and Mount Points](#transferring:globus)

			All of Comet's NFS and Lustre filesystems are acccessible via the Globus endpoint "`xsede#comet`". The servers also mount Gordon's filesystems, so the mount points are different for each system. The following table shows the mount points on the data mover nodes (that are the backend for "`xsede#comet`" and "`xsede#gordon`").

	%table(border="1" cellpadding="3")
		%tr
			%th Machine	
			%th Location on machine	
			%th Location on Globus/Data Movers
		%tr
			%td Comet, Gordon	
			%td <code>/home/$USER</code>
			%td <code>/home/$USER</code>
		%tr
			%td Comet, Gordon	
			%td <code>/oasis/projects/nsf	</code>
			%td <code>/oasis/projects/nsf</code>
		%tr
			%td Comet	
			%td <code>/oasis/scratch/comet	</code>
			%td <code>/oasis/scratch-comet</code>
		%tr
			%td Gordon	
			%td <code>/oasis/scratch	</code>
			%td <code>/oasis/scratch</code>


#storage
	:markdown
		# [Storage on Comet](#storage)

	#storage:ssd
		:markdown
			## [SSD Scratch Space](#storage:ssd)

			The compute nodes on Comet have access to fast flash storage. There is 250GB of SSD space available for use on each compute node. The latency to the SSDs is several orders of magnitude lower than that for spinning disk (&gt; 100 microseconds vs. milliseconds) making them ideal for user-level check pointing and applications that need fast random I/O to large scratch files. Users can access the SSDs only during job execution under the following directories local to each compute node:

		<pre>/scratch/$USER/$SLURM_JOB_ID</pre>

	%table(border="1" cellpadding="3")
		%tr
			%th Partition	
			%th Space Available
		%tr
			%td compute, shared
			%td 212 GB
		%tr
			%td gpu, gpu-shared
			%td 286 GB
		%tr
			%td large-shared
			%td 286 GB

	%p A limited number of nodes in the "compute" partition have larger SSDs with a total of 1464 GB available in local scratch. They can be accessed by adding the following to the Slurm script:

	<pre>#SBATCH --constraint="large_scratch"</pre>

	#storage:lustre
		:markdown
			## [Parallel Lustre Filesystems](#storage:lustre)

			In addition to the local scratch storage, users will have access to global parallel filesystems on Comet. Overall, Comet has 7 petabytes of 200 GB/second performance storage and 6 petabytes of 100 GB/second durable storage.

			Users can now access `/oasis/projects` from Comet. The two Lustre filesystems available on Comet are:

			Lustre Comet scratch filesystem: `/oasis/scratch/comet/$USER/temp_project`<br>
			Lustre NSF projects filesystem: `/oasis/projects/nsf`


#vc
	:markdown
		# [Virtual Clusters](#vc)

		VCs are not meant to replace the standard HPC batch queuing system, which is well suited for most scientific and technical workloads. In addition, a VC should not be simply thought of as a VM (virtual machine). Future XSEDE resources, such as Indiana University's Jetstream will address this need. VCs are primarily intended for those users who require both fine-grained control over their software stack and access to multiple nodes. With regards to the software stack, this may include access to operating systems different from the default version of CentOS available on Comet or to low-level libraries that are closely integrated with the Linux distribution. Science Gateways serving large research communities and that require a flexible software environment are encouraged to consider applying for a VC, as are current users of commercial clouds who want to make the transition for performance or cost reasons.

		Maintaining and configuring a virtual cluster requires a certain level of technical expertise. We expect that each project will have at least one person possessing strong systems administration experience with the relevant OS since the owner of the VC will be provided with "bare metal" root level access. SDSC staff will be available primarily to address performance issues that may be related to problems with the Comet hardware and not to help users build their system images.

		All VC requests must include a brief justification that addresses the following:

		* Why is a VC required for this project?
		* What expertise does the PI's team have for building and maintaining the VC?


#gpu
	:markdown
		# [Using GPU nodes](#gpu)

		<div class="portlet-msg-info">Starting in July 1 2017:  Comet provides both NVIDIA K80 and P100 GPU-based resources. These GPU nodes are now allocated as a separate resource and can no longer be accessed using your Comet allocation. Current users will need to request a transfer of time  from Comet CPU to Comet GPU through XRAS.  the conversion rate is 14 Comet Service Units (SUs) to 1 K80 GPU-hour. The P100 GPUs are substantially faster than the K80, achieving more than twice the performance for some applications. Accordingly, users will incur a 1.5x premium when running on the P100 vs the K80.
		</div>

		The GPU nodes can be accessed via either the "gpu" or the "gpu-shared" partitions.

		<pre>#SBATCH -p gpu</pre>

		or

		<pre>#SBATCH -p gpu-shared</pre>

		In addition to the partition name (required), the type of GPU (optional) and the individual GPUs are scheduled as a resource.

		<pre>#SBATCH --gres=gpu[:type]:4</pre>

		GPUs will be allocated on a first-available, first-schedule basis, unless specified with the [type] option, where type can be K80 or P100 (type is case sensitive).

		<pre>
		#SBATCH --gres=gpu:4        #first available gpu node (either type)
		#SBATCH --gres=gpu:k80:4    #only K80 nodes
		#SBATCH --gres=gpu:p100:4   #only P100 nodes</pre>

		For example on the "gpu" partition the following lines are needed to utilize 4 P100 GPUs:

		<pre>#SBATCH -p gpu
		#SBATCH --gres=gpu:p100:4</pre>

		Users should always set `--ntasks-per-node` equal to `6 x [number of GPUs requested]` on all k80  "gpu-shared" jobs, and `7 x [number of GPUs requested]` on all p100 "gpu-shared" jobs, to ensure proper resource distribution by the scheduler. Additionally, when requesting the P100 nodes it is recommended to ask for 25GB per GPU (unless more is needed for the code). The following requests 2 p100 GPUs on a "gpu-shared" partition:

		<pre>
		#SBATCH -p gpu-shared
		#SBATCH --ntasks-per-node=12
		#SBATCH --gres=gpu:p100:2
		#SBATCH --mem-50GB</pre>

		(for a single GPU this would be `--gres=gpu:p100:1, --mem=25G`)

		Here is an example AMBER script using the gpu-shared queue, aimed at a K80 Node.

		### k80 gpu-shared job

		<pre>
		#!/bin/bash
		#SBATCH --job-name="ambergpu-shared"
		#SBATCH --output="ambergpu-shared.%j.%N.out"
		#SBATCH --partition=gpu-shared
		#SBATCH --nodes=1
		#SBATCH --ntasks-per-node=6
		#SBATCH --no-requeue
		#SBATCH --gres=gpu:k80:1
		#SBATCH -t 01:00:00
		module purge
		module load amber/18
		module load cuda/8.0
		pmemd.cuda -O -i mdin.GPU -o mdout.GPU.$SLURM_JOBID \
			-x mdcrd.$SLURM_JOBID -nf mdinfo.$SLURM_JOBID \
			-1 mdlog.$SLURM_JOBID -p prmtop -c inpcrd</pre>

		Please see `/share/apps/examples/GPU` for more examples.

		GPU modes can be controlled for jobs in the "gpu" partition.  By default, the GPUs are in non-exclusive mode and the persistence mode is 'on'.  If a particular "gpu"  partion job needs exclusive access the folowing options should be set in your batch script:

		`#SBATCH --constraint=exclusive`

		To turn persistence off add the following line to your batch script:

		`#SBATCH --constraint=persistenceoff`

		Jobs run in the "gpu-shared" partition are charged differently from other shared partitions on Comet to reflect fractions of a resource used, based on number of GPUs requested and the relative performance of the different GPU types. P100 GPUs are generally substantially faster than K80 nodes, achieving more than twice the performance for some applications. 1 GPU is equivalent to 1/4th of the node or 6 cores on k80 nodes and 7 cores on p100 nodes.

		The charging equation is:

		`GPU SUs = (Number of K80 GPUs) + (Number of P100 GPUS)*1.5) x (wallclock time)`


#large
	:markdown
		# [Using Large Memory Nodes](#large)

		The large memory nodes can be accessed via the "large-shared" partition. Charges are based on either the number of cores or the fraction of the memory requested, whichever is larger.

		For example, on the "large-shared" partition, the following job requesting 16 cores and 445 GB of memory (about 31.3% of 1455 GB of one node's available memory) for 1 hour will be charged 20 SUs:

		455/1455(memory) * 64(cores) * 1(duration) ~= 20

		<pre>#SBATCH --ntasks=16
		#SBATCH --mem=455G
		#SBATCH --partition=large-shared</pre>

		While there is not a separate 'large' partition, a job can still explicitly request all of the resources on a large memory node. Please note that there is no premium for using Comet's large memory nodes, but the processors are slightly slower (2.2 GHz compared to 2.5 GHz on the standard nodes), Users are advised to request the large nodes only if they need the extra memory.


#software
	:markdown
		# [Software on Comet](#software)

	#software:packages
		:markdown
			## [Software Packages](#software:packages)

			Comet supports the [XSEDE](https://www.xsede.org/software) core software stack, which includes remote login, remote computation, data movement, science workflow support, and science gateway support toolkits.

	#table9
		:markdown
			[Table 9. Software on Comet](#table9)

		%table(border="1" cellpadding="3")
			%tr
				%th Software Package
				%th Compiler Suites
				%th Parallel Interface
			%tr
				%td
					%a(href="#amber-desc")AMBER: Assisted Model Building with Energy Refinement
				%td intel
				%td mvapich2_ib
			%tr
				%td
					%a(href="#apbs-desc")APBS: Adaptive Poisson-Boltzmann Solver
				%td intel
				%td mvapich2_ib
			%tr
				%td
					%a(href="#cp2k-desc")Car-Parrinello 2000 (CP2K)
				%td intel
				%td mvapich2_ib
			%tr
				%td
					%a(href="#ddt-desc")DDT
				%td
				%td
			%tr
				%td
					%a(href="#fftw-desc")FFTW: Fastest Fourier Transform in the West
				%td intel, pgi, gnu
				%td mvapich2_ib
			%tr
				%td
					%a(href="#gamess-desc")GAMESS: General Atomic Molecular Electronic Structure System
				%td intel
				%td native: sockets, ip over ib<br>vsmp: scalemp mpich2
			%tr
				%td
					%a(href="#gaussian-desc")GAUSSIAN
				%td pgi
				%td Single node, shared memory
			%tr
				%td
					%a(href="#gromacs-desc")GROMACS: GROningen MAchine for Chemical Simulations
				%td intel
				%td mvapich2_ib
			%tr
				%td
					%a(href="#hdf4-hdf5-desc")HDF4/HDF5: Hierarchical Data Format
				%td intel, pgi, gnu
				%td mvapich2_ib for hdf5
			%tr
				%td
					%a(href="#lammps-desc")LAMMPS:Large-scale Atomic/Molecular Massively Parallel Simulator
				%td intel
				%td mvapich2_ib
			%tr
				%td
					%a(href="#namd-desc")NAMD: NAnoscale Molecular Dynamics
				%td intel
				%td mvapich2_ib
			%tr
				%td
					%a(href="#nco-desc")NCO: NetCDF Operators
				%td intel, pgi, gnu
				%td none
			%tr
				%td
					%a(href="#netcdf-desc")NetCDF: Network Common Data Format
				%td Intel, pgi, gnu
				%td none
			%tr
				%td
					%a(href="#python-modules-desc") Python modules (scipy etc)
				%td gnu:ipython, nose, pytz<br>intel:matplotlib, numpy, scipy, pyfits
				%td None
			%tr
				%td 
					%a(href="#rdma-hadoop-desc")RDMA-Hadoop
				%td None
				%td None
			%tr
				%td 
					%a(href="#rdma-spark-desc")RDMA-Spark
				%td None
				%td None
			%tr
				%td
					%a(href="#singularity-desc")Singularity: User Defined Images
				%td None
				%td None
			%tr
				%td
					%a(href="#visit-desc")VisIt Visualization Package
				%td intel
				%td openmpi

	#sw-package-desc
		:markdown
			## [Software Package Descriptions](#sw-package-desc)

		#amber-desc
			:markdown
				### [AMBER](#amber-desc)
				[AMBER](http://ambermd.org) is package of molecular simulation programs including SANDER (Simulated Annealing with NMR-Derived Energy Restraints) and a modified version of PMEME (Particle Mesh Ewald Molecular Dynamics) that is faster and more scalable.

		#apbs-desc
			:markdown
				### [APBS](#apbs-desc)
				[APBS](http://www.poissonboltzmann.org) evaluates the electrostatic properties of solvated biomolecular systems.
				[View the APBS documentation](http://www.poissonboltzmann.org/docs/home)

		#cp2k-desc
			:markdown
				### [Car-Parrinello 2000](#cp2k-desc)
				[CP2K](https://www.cp2k.org) is a program to perform simulations of molecular systems. It provides a general framework for different methods such as Density Functional Theory (DFT) using a mixed Gaussian and plane waves approach (GPW) and classical pair and many-body potentials.
				[View the CP2K documentation](https://cp2k.org/docs)

		#ddt-desc
			:markdown
				### [DDT](#ddt-desc)
				[DDT](http://www.allinea.com/products/ddt) is a debugging tool for scalar, multithreaded and parallel applications.
				[DDT Debugging Guide from TACC](https://portal.tacc.utexas.edu/user-guides)

		#fftw-desc
			:markdown
				### [FFTW](#fftw-desc)
				[FFTW](http://www.fftw.org) is a library for computing the discrete Fourier transform in one or more dimensions, of arbitrary input size, and of both real and complex data.
				[View the FFTW documentation](http://www.fftw.org/fftw3_doc/)

		#gamess-desc
			:markdown
				### [GAMESS](#gamess-desc)
				[GAMESS](http://www.msg.ameslab.gov/gamess/index.html) is a program for ab initio quantum chemistry. GAMESS can compute SCF wavefunctions, and correlation corrections to these wavefunctions as well as Density Functional Theory.
				[GAMESS documentation, examples, etc.](http://www.msg.ameslab.gov/gamess/documentation.html)

		#gaussian-desc
			:markdown
				### [GAUSSIAN](#gaussian-desc)
				[Gaussian 09](http://www.gaussian.com/g_prod/g09.htm) provides state-of-the-art capabilities for electronic structure modeling.
				[Gaussian 09 User's Reference](http://www.gaussian.com/g_tech/g_ur/g09help.htm)

		#gromacs-desc
			:markdown
				### [GROMACS](#gromacs-desc)
				[GROMACS](http://www.gromacs.org) is a versatile molecular dynamics package, primarily designed for biochemical molecules like proteins, lipids and nucleic acids.
				[GROMACS Online Manual](http://manual.gromacs.org)

		#hdf4-hdf5-desc
			:markdown
				### [HDF4/HDF5](#hdf4-hdf5-desc)
				[HDF](https://support.hdfgroup.org/HDF5/) is a collection of utilities, applications and libraries for manipulating, viewing, and analyzing data in HDF format.
				[HDF 5 Resources](https://support.hdfgroup.org/HDF5/)

		#lammps-desc
			:markdown
				### [LAMMPS](#lammps-desc)
				[LAMMPS](http://lammps.sandia.gov) is a classical molecular dynamics simulation code.
				[LAMMPS User Manual](http://lammps.sandia.gov/doc/Manual.html)

		#namd-desc
			:markdown
				### [NAMD](#namd-desc)
				[NAMD](http://www.ks.uiuc.edu/Research/namd/) is a parallel, object-oriented molecular dynamics code designed for high-performance simulation of large biomolecular systems.
				[NAMD User Guide](http://www.ks.uiuc.edu/Research/namd/2.9b3/ug/)

		#nco-desc
			:markdown
				### [NCO](#nco-desc)
				[NCO](http://nco.sourceforge.net) operates on netCDF input files (e.g. derive new data, average, print, hyperslab, manipulate metadata) and outputs results to screen or text, binary, or netCDF file formats.
				[NCO documentation on SourceForge](http://nco.sourceforge.net/nco.html)

		#netcdf-desc
			:markdown
				### [netCDF](#netcdf-desc)
				[netCDF](http://www.unidata.ucar.edu/software/netcdf/) is a set of libraries that support the creation, access, and sharing of array-oriented scientific data using machine-independent data formats.
				[netCDF documentation on UCAR's Unidata Program Center](http://www.unidata.ucar.edu/software/netcdf/docs/)

		#python-modules-desc
			:markdown
				### [Python modules](#python-modules-desc)
				The Python modules under /opt/scipy consist of: node, numpy, scipy, matplotlib, pyfits, ipython and pytz.
				[Video tutorial from a TACC workshop on Python](https://portal.tacc.utexas.edu/training)

				[Python videos from Khan Academy](https://www.khanacademy.org/#computer-science)

				[The HPC University Python resources](http://hpcuniversity.org/search/?ss=python)

		#rdma-hadoop-desc
			:markdown
				### [RDMA-Hadoop](#rdma-hadoop-desc)
				<a href="http://hibd.cse.ohio-state.edu/#hadoop2" target="_blank">RDMA-based Apache Hadoop 2.x</a> is a high performance derivative of Apache Hadoop developed as part of the High-Performance Big Data (HiBD) project at the Network-Based Computing Lab of The Ohio State University. The installed release on Comet (v0.9.7) is based on Apache Hadoop 2.6.0. The design uses Comet's InfiniBand network at the native level (verbs) for HDFS, MapReduce, and RPC components, and is optimized for use with Lustre.<br />The design features a hybrid RDMA-based HDFS design with in-memory and heterogenous storage including RAM Disk, SSD, HDD, and Lustre. In addition, optimized MapReduce over Lustre (with RDMA-based shuffle) is also available. The implementation is fully integrated with SLURM (and PBS) on Comet with scripts available to dynamically deploy hadoop clusters within the SLURM scheduling framework.<br />Examples for various modes of usage are available in /share/apps/examples/HADOOP/RDMA. Please email <a href="mailto:help@xsede.org">help@xsede.org</a> (reference Comet as the machine, and SDSC as the site) if you have any further questions about usage and configuration. Read more about the <a target="_blank" href="http://hibd.cse.ohio-state.edu">RDMA Hadoop and HiBD project</a>.

		#rdma-spark-desc
			:markdown
				### [RDMA-Spark](#rdma-spark-desc)
				<a href="http://hibd.cse.ohio-state.edu/#spark" target="_blank">RDMA-based Apache Spark</a> is a high performance derivative of Apache Hadoop developed as part of the High-Performance Big Data (HiBD) project at the Network-Based Computing Lab of The Ohio State University. The installed release on Comet (v0.9.1) is based on Apache Spark 1.5.1. The design uses Comet's InfiniBand network at the native level (verbs) for RDMA-based data shuffle, SEDA-based shuffle architecture, efficient connection management, non-blocking and chunk-based data transfer, and off-JVM-heap buffer management.<br />The RDMA-Spark cluster setup and usage is managed via the myHadoop framework. An example script is provided in /share/apps/examples/SPARK/sparkgraphx_rdma. Please email <a href="mailto:help@xsede.org">help@xsede.org</a> (reference Comet as the machine, and SDSC as the site) if you have any further questions about usage and configuration. See <a target="_blank" href="http://hibd.cse.ohio-state.edu">details on RDMA Spark</a>.

		#singularity-desc
			:markdown
				### [Singularity](#singularity-desc)
				<a href="http://singularity.lbl.gov" target="_blank">Singularity</a> is a platform to support users that have different environmental needs than what is provided by the resource or service provider. While the high level perspective of other container solutions seems to fill this niche very well, the current implementations are focused on network service virtualization rather than application level virtualization focused on the HPC space. Because of this, Singularity leverages a workflow and security model that makes it a very reasonable candidate for shared or multi-tenant HPC resources like Comet without requiring any modifications to the scheduler or system architecture. Additionally, all typical HPC functions can be leveraged within a Singularity container (e.g. InfiniBand, high performance file systems, GPUs, etc.). While Singularity supports MPI running in a hybrid model where you invoke MPI outside the container and it runs the MPI programs inside the container, we have not yet tested this.<br />Examples for various modes of usage are available in /share/apps/examples/Singularity. Please email <a href="mailto:help@xsede.org">help@xsede.org</a> (reference Comet as the machine, and SDSC as the site) if you have any further questions about usage and configuration. Read more about <a href="http://singularity.lbl.gov"> Singularity</a>.

		#visit-desc
			:markdown
				### [VisIt Visualization Package](#visit-desc)
				The [VisIt visualization package](https://wci.llnl.gov/simulation/computer-codes/visit) supports remote submission of parallel jobs and includes a Python interface that provides bindings to all of its plots and operators so they may be controlled by scripting.
				Watch the [Getting Started With VisIt tutorial](http://www.sdsc.edu/support/user_guides/tutorials/visit.html)
