<p><i>Last update: March 6, 2013</i></p>
	</div>
</div>
<script>
    (function($) {
        $(document).ready(function() {
            $('body').scrollspy();
            var ugc = $('.user-guide-container'),
                top = ugc.offset().top,
                conth = ugc.height(),
                htmlh = $('html').height();
            $('.user-guide-nav').affix({
                offset: {
                    top: top,
                    bottom: htmlh - conth - top + 20
                }
            });
        });
    })(window.jQuery);
</script>
