<div class="user-guide-container">
	<div class="user-guide-sidebar">
		<ul class="user-guide-nav nav nav-list" id="user-guide-nav">
			<li><a href="#overview">System Overview</a>
			<li><a href="#access">System Access</a>
			<li><a href="#transferring">Transferring Files</a>
			<li><a href="#help">Help</a>
			<li><a href="#refs">References</a>
			<li><a href="#policies">Policies</a>
		</ul>
	</div>
	<!-- user guide begins here -->
	<div class="user-guide">
