<font color="red"><b>NOTICE: As of October 1, 2014 NICS' HPSS is decommissioned from XSEDE.</b></font>
%section#overview
	%h2 
		%a(href="#overview")System Overview
	%p The High Performance Storage System (HPSS) is a mass storage facility at NICS.  The system consists of tape and disk components, Linux servers, and HPSS software. The system is for medium to long-term storage of data produced on NICS resource such as Kraken or Nautilus. 

	%section#overview-config
		%h3 
			%a(href="#overview-config")System Configuration
		%p <img alt="" src="/image/image_gallery?uuid=8b65a8cd-d1f7-4af8-a0b8-b00b40c04b25&amp;groupId=10746&amp;t=1362595599888" style="width: 592px; height: 472px;" />
		%p The center has 5 SL8500 tape libraries, each holding up to 10,000 cartridges. The libraries house a total of twenty-four T10K-A tape drives (500 GB cartridges, uncompressed) and sixty-four T10K-B tape drives (1TB cartridges, uncompressed)
		%p Incoming data is written to disk and later migrated to tape for long term archival. Robotic tape libraries contain the various tape drives.  Each drive has a bandwidth of 120 MB/s.

	%section#overview-filesystems
		%h3 
			%a(href="#overview-filesystems")File Systems
		%p Users can access HPSS from Kraken and Nautilus via the <code>htar</code> and <code>hsi</code> commands. HPSS has a total capacity of approximately 14PB.  As of February 2013, the system has approximately 2PB of free space. Projects have a 50TB quota.  Access to the system is by direct login using the <code>hsi</code> or <code>htar</code> commands.

%section#access
	%h2 
		%a(href="#access")System Access

	%section#access-availability
		%h3 
			%a(href="#access-availability")System Availability
		%p HPSS is in full production.  Space on HPSS is for files that are not immediately needed. HPSS is a large storage system, however, space is not unlimited. Users must not store files unrelated to their NICS projects on HPSS. They must also periodically review their files and remove unneeded ones.

	%section#access-allocations
		%h3 
			%a(href="#access-allocations")Allocations
		%p HPSS is an allocated resource.  Allocations must be requested separately from compute allocation requests and will be reviewed at quarterly XRAC meetings.  

	%section#access-methods
		%h3 
			%a(href="#access-methods")Methods of Access
		%p HPSS is accessed through the <code>hsi</code> or <code>htar</code> commands.  The <code>hsi</code> is similar to FTP and <code>htar</code> is similar to the <code>tar</code> command.  <code>hsi</code> provides an interactive shell and most standard UNIX commands (cp, mv, rm, cd, etc.) work as expected.  To initiate an interactive session enter <code>hsi</code> at the command prompt on Kraken or Nautilus.
		%p NOTE  Access to HPSS is via one-time password (OTP) token.

	%section#access-uage
		%h3 
			%a(href="#access-usage")HPSS Usage Policies
		%ul
			%li <b>User quotas</b>: Projects have a maximum quota of 50TB or the amount of allocation whichever is lower. 
			%li <b>Data retention</b>: Data will be retained for six (6) months after a project has been ended.  After this time, data will be deleted. 
			%li <b>Purge policies </b>: There are no purge policies on HPSS.  NICS does reserve the right to request users to remove unneeded data to ensure adequate storage space to accommodate allocations for all users. 
			%li <b>Passwords</b>: HPSS access is via one-time password (OTP) token.  Passcode-less access can be set up upon request.

%section#transferring
	%h2 
		%a(href="#transferring")Transferring Data to/from HPSS

	%section#transferring-hsi
		%h3
			%a(href="#transferring-hsi")Data Transfer Methods : <code>hsi</code>

		%p The <code>hsi</code> utility allows automatic authentication and provides a user-friendly command line and interactive interface to HPSS. <br>
		%p If you are archiving a large directory, or collection of files, please <code>tar</code> the files before using <code>hsi</code>, or use <a href="https://www.nics.tennessee.edu/computing-resources/hpss/hsi#htar"><code>htar</code></a> which combines <code>tar</code> and <code>hsi</code> functionalities into a single command. <code>hsi</code> and <code>htar</code> are the preferred methods for accessing HPSS. 
		%p Please note: Large long-running data transfers should be submitted to the <a href="https://www.nics.tennessee.edu/computing-resources/hpss/queue">hpss queue</a> rather than running <code>hsi</code> or <code>htar</code> interactively. 
		%p Note: <code>hsi</code> can only be used with the OTP token. <code>hsi</code> can be used in a batch job only if it is submitted to the <a href="https://www.nics.tennessee.edu/computing-resources/hpss/queue">HPSS queue</a> from the OTP login node.

		%section#transferring-hsi-using
			%h4
				%a(href="#transferring-hsi-using")Using <code>hsi</code>
			%p Issuing the command
			%pre $ hsi
			%p will start <code>hsi</code> in interactive mode. Alternatively, you can use
			%pre $ hsi <i>[options] command(s)</i>
		%p to execute a set of <code>hsi</code> commands and then return. Note that you may need to add <code>/opt/public/bin</code> to your <code>$PATH</code> to find the <code>hsi</code> executable.
		%p The two most common <code>hsi</code> options are <code>put</code> and <code>get</code>. <b><code>put</code></b> transfers a file from the local file system to HPSS. <b><code>get</code></b> transfers a file from HPSS to the local file system. However, unlike <code>ftp</code>, the ordering of arguments does not change. The syntax is:
		%pre $ hsi {put | get} local_file:hpss_file
		%p where &quot;<code>local_file</code>&quot; is the location and name of the local file and &quot;<code>hpss_file</code>&quot; is the location and name of the file on HPSS.
		%p Data written to HPSS is automatically stored using a method appropriate to the file size, however, HPSS is not intended for storing many small files. If you want to upload several small files (less than 1 GB per file), you should <code>tar</code> the files before storing them in HPSS, or use <a href="https://www.nics.tennessee.edu/computing-resources/hpss/hsi#htar"><code>htar</code></a>. In general, <code>htar</code> should take about as long as <code>hsi</code> to transfer a given set of files.
		%p Following is an example of storing a group of small files using <code>tar</code> and <code>hsi</code>. <code>hsi</code> can read from standard input and write to standard output.
		%pre $ tar cvf - . | hsi put - : &lt;filename.tar&gt;   
		%pre $ hsi get - : &lt;filename.tar&gt; | tar xvf -
		%p The following command can also be used.
		%pre $ hsi &quot;cd /home/djohn/PATHTEST ; put -R *.tar.gz&quot;   
		%p Users will be prompted for their PASSCODE when running <code>hsi</code>. 
		%p To exit from the <code>hsi</code> interactive environment of HPSS, type exit or quit. See the reference manual for command line options and other startup information.
		%p Please note: 
		%ol
			%li The ideal archive file size range is between 8 GB to 256 GB. Users should refrain from archiving anything over 0.5 to 1.0 TB. Most tapes on HPSS are 6 TB, therefore,it is wise to not to write a very large file just in case it might have information existing on it already as to not have a single file overflow onto another separate tape. Data integrity is compromised by this sort of carry-over. 
			%li Please do not run more than one <code>hsi</code> process simultaneously. Files are initially uploaded to a disk cache before being migrated to tape, this cache may be filled up with too many simultaneous transfers. Also, since transfers compete for bandwidth, additional <code>hsi</code> transfers may not be beneficial.
	%p More information on <code>hsi</code> may be found from the NICS systems through the command
	%pre $ hsi help
	%p Direct Transfers between HPSS and Remote Systems (e.g., User Workstations)
	%p Because <code>hsi</code> is a third-party package, clients may be available for your system. However, the NICS currently supports access to the HPSS only through <code>hsi</code> clients on the HPC systems. To transfer data directly to or from the NICS HPSS, you will need to use a NICS resource as a staging system. For example, to transfer data from your directory on HPSS to a system outside the NICS, you will need to copy the data in reasonable chunks to a NICS system using the <code>hsi</code> utility. Once a portion of the data is on a NICS system, you can use a utility such as <a href="https://www.nics.tennessee.edu/user-support/general-support/data-transfer/bbcp">BBCP</a> or <a href="https://www.nics.tennessee.edu/user-support/general-support/data-transfer/sftp-scp">SFTP/SCP</a> to move the data to the system outside the NICS.

	:markdown
		See also [What is SFTP, and how do I use an SFTP client to transfer files?](What is SFTP, and how do I use an SFTP client to transfer files?) in the XSEDE [Knowledge Base](https://portal.xsede.org/knowledge-base).

	%section#transferring-htar
		%h3 
			%a(href="#transferring-htar")Data transfer methods: <code>htar</code> 
	
		%p The <code>htar</code> command combines <code>tar</code> and <code>hsi</code> functionalities into a single command. It is faster to use <code>htar</code> to create a <code>tar</code> file in HPSS than to either create a local <code>tar</code> file first and then do an &quot;<code>hsi put <i>filename.tar</i></code>&quot; to copy it to HPSS. Using the <code>htar</code> command creates a separate index file, which contains the names and locations of all of the member files in the archive (tar) file.
		%p The syntax is:
		%pre $ htar -cvf filename.tar
		%p The reverse operation is supported which is equivalent to an &quot;<code>hsi get</code>&quot; followed by &quot;<code>tar -xvf</code>&quot;.
		%pre $ htar -xvf filename.tar
		%p Here, filename.tar is the name of the <code>tar</code> file on HPSS.   Any further arguments list files to be extracted from the archive, that is &quot;<code>htar -xvf filename.tar .</code>&quot; will probably not extract anything because there will be no file named &quot;.&quot; in the archive.   Also, it is only possible to extract files with <code>htar</code> that have been created with <code>htar</code> and have an idx file.   This is an index to the <code>tar</code> file, so if the archive itself resides on tape, it is still possible to list contents and extract specific files without migrating the whole archive to disk.
		%p htar limits:
		%ul
			%li Maximum number of files by default: 1,000,000
			%li Maximum number of files with special flags (-M 5000000): 5,000,000
			%li Maximum file size for a component file: 68 GB
			%li Maximum total file size for archive (limited by HPSS, not <code>htar</code>): 2^64 bytes
			%li The <code>htar</code> command does not provide the ability to append, update or remove files.
			%li The <code>htar</code> command does not support the wildcard expansion of pathnames.

%section#help
	%h2 
		%a(href="#help")Help
	%p Please email requests for assistance with HPSS to help@xsede.org or submit a Help Desk ticket.

%section#refs
	%h2 
		%a(href="#refs")References
	%p 
		%a(href="http://www.nics.tennessee.edu/computing-resources/kraken")http://www.nics.tennessee.edu/computing-resources/kraken

%section#policies
	%h2 
		%a(href="#policies")Policies
	%p All HPSS and storage policies can be found here: <a href="http://www.nics.tennessee.edu/policies">http://www.nics.tennessee.edu/policies</a>.
