<span style="font-size:225%; font-weight:bold;">University of Delaware DARWIN User Guide</span><br />
<em>Last update: February 3, 2022</em></p>


:markdown
	### XSEDE Allocations Coming Soon

	University of Delaware's DARWIN will begin supporting XSEDE allocations in 2022.

	View the <a target="_blank" href="https://docs.hpc.udel.edu/abstract/darwin/darwin">Getting Started on DARWIN</a> guide for current information.
