#connecting
	:markdown
		# [Connecting to DARWIN](#connecting)

	#connecting-ssh
		:markdown
			## [Secure Shell program (SSH)](#connecting-ssh)

			Use a secure shell program/client (SSH) to connect to the cluster and a secure file transfer program to move files to and from the cluster.

			There are many suitable secure clients for Windows, Mac OS X, and UNIX/Linux. We recommend PuTTY and Xming for Windows users. Macintosh and UNIX/Linux users can use their pre-installed SSH and X11 software. (Newer versions of Mac OS X may not have a current version of X11 installed. See the Apple web site for <a href="http://support.apple.com/kb/HT5293">X11 installation instructions</a>.)

			<p class="portlet-msg-info">IT strongly recommends that you configure your clients as described in the online X-windows (X11) and SSH documents (<a href="https://www1.udel.edu/it/research/training/config_laptop/puTTY.shtml">Windows</a> / <a href="http://www.udel.edu/it/research/training/config_laptop/linuxAgent.html">Linux/MacOSX</a>). </p>

			<p class="portlet-msg-alert">Your HPC home directory has a <code>.ssh</code> directory. Do not manually erase or modify the files that were initially created by the system. They facilitate communication between the login (head) node and the compute nodes. Only use standard <strong>ssh</strong> commands to add keys to the files in the <code>.ssh</code> directory.</p>

			Please refer to Windows and Mac/Linux related sections for specific details using the command line on your local computer:

			* [Connecting to DARWIN from Windows](https://docs.hpc.udel.edu/abstract/darwin/system_access/windows)
			* [Connecting to DARWIN from Mac/Linux](https://docs.hpc.udel.edu/abstract/darwin/system_access/linux)

	#connecting-loggingon
		:markdown
			## [Logging on to DARWIN](#connecting-loggingon)

			You need a <a href="#xsedeallocs">DARWIN account</a> to access the login node. 

			To learn about launching <abbr title="Graphical User Interface">GUI</abbr> applications on DARWIN, refer to <a href="#scheduling-interactive-x11">Schedule Jobs</a> page.


			XSEDE users with an allocation award on DARWIN should use the <a href="https://portal.xsede.org/single-sign-on-hub">XSEDE Single Sign-On (SSO) Hub</a> to access the system initially.  Once you have logged in to the XSEDE SSO Hub, you can access DARWIN by running:

			<pre class="cmd-line">$ <b>gsissh darwin</b></pre>

			or if you need you to use X-Windows requiring X11 forwarding, then use

			<pre class="cmd-line">$ <b>gsissh -Y darwin</b></pre>

			Password-based authentication is <strong>not</strong> supported for XSEDE users, however, you may set up direct SSH key authentication on DARWIN once you are on the system by adding the desired public key to your <code>authorized_keys</code> file in the <code>.ssh</code> directory inside your home directory.  Once you have an SSH key set up this way, you can access DARWIN directly by running <code>ssh darwin.hpc.udel.edu</code>. You will need to do this if you need to use X11 tunneling and/or forwarding required for such applications like Jupyter Notebook.

			Adding the desired public key will need to be slightly different from most documentation because password-based authentication is not supported and thus you cannot use an SSH forwarding agent like <code>ssh-add -L  .ssh/authorized_keys</code> on DARWIN. Instead, you will need to display your public key generated on your local computer (e.g. Windows PuTTY Key Generator make sure you copy the box at the top labeled <code>Public key for pasting into OpenSSH authorized_keys file:</code> while generating or <strong>Load</strong> an existing private key file to display the public key to copy; Mac look in the <code>.ssh</code> directory and cat <code>id_rsa.pub</code>) and copy it into your clipboard. Once you are logged on to DARWIN using <code>gsissh</code> from the XSEDE SSO hub, then you can open an editor like <code>nano .ssh/authorized_keys</code> and paste the public key you copied from your local computer on a new line at the end of the file and save it.

			Once you are logged into DARWIN, your account is configured as a member of an allocation <a href="#appdev-compenv-workgroup">workgroup</a> which determines access to your HPC resources on DARWIN. Setting your allocation workgroup is required in order to submit jobs to the DARWIN cluster. For example, the <code>bjones</code> account is a member of the <code>it_css</code> workgroup. To start a shell in the <code>it_css</code> workgroup, type:

			<pre class="cmd-line">$ <b>workgroup -g it_css</b></pre>

			Consult the following pages for detailed instructions to connecting to DARWIN. 

