#managing
	:markdown
		# [Managing Jobs on DARWIN](#managing)

		Once a user has been able to submit jobs to the cluster – interactive or batch – the user will from time to time want to know what those jobs are doing.  Is the job waiting in a queue for resources to become available, or is it executing?  How long has the job been executing? How much CPU time or memory has the job consumed?  Users can query Slurm for job information using the <code>squeue</code> command while the job is still active in the Slurm.  The <code>squeue</code> command has a variety of command line options available to customize and filter what information it displays; discussing all of them is beyond the scope of this document.  Use <code>squeue --help</code> or <code>man squeue</code> commands on the login node to view a complete description of available options.

		With no options provided, <code>squeue</code> defaults to displaying a list of all jobs submitted by all the users on the cluster currently active in Slurm.  This includes jobs that are waiting in a queue, jobs that are executing, and jobs that are in an error state.  The list below is presented in a tabular format, with the following columns:

%table(border="1" cellspacing="5" cellpadding="3")
	%tr
		%th Column
		%th Description
	%tr
		%td JOBID
		%td Numerical identifier assigned when the job was submitted
	%tr
		%td PARTITION
		%td The partition to which the job is assigned
	%tr
		%td NAME
		%td The name assigned to the job
	%tr
		%td USER
		%td The owner of the job
	%tr
		%td ST
		%td Current state of the job (see next table)
	%tr
		%td TIME
		%td Either the time the job was submitted or the time the job began execution, depending on its state
	%tr
		%td NODES
		%td The number of nodes assigned to the job
	%tr
		%td NODELIST(Reason)
		%td The list of nodes on which the job is running or the reason for which the job is in its current state(other than running)


:markdown
	The different states in which a job may exist are enumerated by the following codes:

%table(border="1" cellspacing="5" cellpadding="3")
	
	%tr
		%th State Code
		%th Description
	%tr
		%td <code>CA</code>
		%td Job was explicitly cancelled by the user or system administrator. The job may or may not have been initiated
	%tr
		%td <code>CG</code>
		%td Job is in the process of completing. Some processes on some nodes may still be active
	%tr
		%td <code>F</code>
		%td Job terminated with non-zero exit code or other failure condition
	%tr
		%td <code>PD</code>
		%td Job is awaiting resource allocation
	%tr
		%td <code>PR</code>
		%td Job terminated due to preemption
	%tr
		%td <code>R</code>
		%td Job currently has an allocation and is running
	%tr
		%td <code>RD</code>
		%td Job is held
	%tr
		%td <code>RQ</code>
		%td Completing job is being requeued
	%tr
		%td <code>RS</code>
		%td Job is about to change size
	%tr
		%td <code>S</code>
		%td Job has an allocation, but execution has been suspended and CPUs have been released for other jobs
	%tr
		%td <code>TO</code>
		%td Job terminated upon reaching its time limit


:markdown
	There are many other possible <a href="https://slurm.schedmd.com/squeue.html#lbAG">job states codes</a> which can be found in the official Slurm documentation.


	#managing-jobstatus
		:markdown
			## [Checking Job Status](#managing-jobstatus)
	
		#managing-jobstatus-squeue
			:markdown
				### [`squeue`](#managing-jobstatus-squeue)
		
				Use the <code>squeue</code> command to check the status of queued jobs.  Use <code>squeue --help</code> or <code>man squeue</code> commands on the login node to view a complete description of available options.  Some of the most often-used options are summarized here:
		
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th  Option 
				%th  Result 
			%tr
				%td  <code>-j</code> «<em>job_id_list</em>» 
				%td  Displays information for specified job(s) 
			%tr
				%td  <code>-u</code> «<em>user_list</em>» 
				%td  Displays information for jobs associated with the specified user(s) 
			%tr
				%td  <code>--start</code> 
				%td  List estimated start time for queued jobs 
			%tr
				%td  <code>-t</code> 
				%td  Can be used to List the jobs that are in particular state(passed as argument) 
			%tr
				%td  <code>--Format</code> 
				%td  Customize output of squeue 
		
		
		:markdown
			With no options provided, <code>squeue</code> defaults to displaying a list of all jobs submitted by all the users on the cluster currently active in Slurm.  This includes jobs that are waiting in a queue, jobs that are executing, and jobs that are in an error state.
		
			<pre class="cmd-line">login1$ <b>squeue</b>
			JOBID PARTITION     NAME     USER ST       TIME  NODES NODELIST&#40;REASON&#41;
			488072 ccei_biom    P-irc rameswar CG 3-23:26:11      1 r01n41
			496264       clj NOVA_Hcs delgorio PD       0:00      4 &#40;QOSGrpCpuLimit&#41;
			496312       clj NOVA_Hcs delgorio PD       0:00      4 &#40;QOSGrpCpuLimit&#41;
			502942  standard run.a8.p     heil PD       0:00      4 &#40;Resources&#41;
			502954  standard run.s8.p     heil PD       0:00      3 &#40;Priority&#41;
			502970  standard PEG44_EQ  utkarsk PD       0:00      2 &#40;Priority&#41;
			502821  standard R3_FineM   yashar PD       0:00      2 &#40;Priority&#41;
			502822  standard B9_ResCo   yashar PD       0:00      2 &#40;Priority&#41;
			502823  standard R3_ResCo   yashar PD       0:00      2 &#40;Priority&#41;
			502979  standard MOH_2Pro  utkarsk PD       0:00      2 &#40;Priority&#41;
			502967  standard run_442c     heil PD       0:00      1 &#40;Dependency&#41;
			502975  standard run.s10.     heil PD       0:00      1 &#40;Dependency&#41;
			496263       clj NOVA_Hcs delgorio  R    2:33:10      4 r00n&#91;25-26,36-37&#93;
			501784 elliottla fluidvis     safa  R 1-02:51:00      1 r01n53
			498144 kukulka_l ph005crc txthoman  R 2-21:01:27      1 r00n17
			498436 biophysic      CdI     cyxu  R 1-21:29:05      1 r01g04
			&nbsp;
			.
			.
			.</pre>
		
		
			The <code>squeue</code> command can also be used to see the job status information of all the current jobs for a particular user by using <code>-u</code> flag followed by the <code>USER</code>.  For example, 
		
			<pre class="cmd-line">login1$ <b>squeue -u bjones</b>
			JOBID PARTITION     NAME     USER ST       TIME  NODES NODELIST&#40;REASON&#41;
			913  standard     date     bjones PD       0:00      1 &#40;QOSMaxJobsPerUserLimit&#41;
			912  standard openmp_j     bjones  R       0:23      1 r00n45
			911  standard       sh     bjones  R       1:14      1 r00n56
			910  standard       sh     bjones  R       3:30      1 r00n56</pre>
			
		
			shows only the jobs currently in Slurm for user <code>bjones</code>. Jobs 910, 911, and 912 are currently running.  Job 913 is pending due to a “MaxJobsPerUser” limit enforced by the quality-of-service (QOS) level associated with the devel partition (see the section on <a href="#queues">Partitions</a> for discussion of these limits).
		
		
			Notably absent from both the standard and long format for <code>squeue</code> are the resources (CPU cores, memory, GPUs) allocated to the job.  Historically, Slurm was heavily focused on scheduling nodes themselves and not the component resources on those nodes, and this is reflected in the data it tends to display by default.  The <code>--Format</code> flag must be used to augment the displayed information:
		
			<pre class="cmd-line">login1$ <b>squeue --Format=&quot;jobid,name,state,partition,account,username,numnodes,numtasks,numcpus,gres&quot;</b>
			&nbsp;
			JOBID               NAME                STATE               PARTITION           ACCOUNT             USER                NODES               TASKS               CPUS                GRES                
			922                 date                PENDING             devel               it_nss              frey                1                   1                   1                   &#40;null&#41;              
			921                 sh                  RUNNING             devel               it_nss              frey                1                   2                   2                   gpu:p100            
			918                 openmp_job          RUNNING             standard            it_nss              frey                1                   1                   4                   &#40;null&#41;              
			915                 sh                  RUNNING             devel               it_nss              frey                1                   4                   4                   &#40;null&#41;  </pre>
			
				
		
			<p class="portlet-msg-info">When your job status is <code>PD</code> it means your job is queued and waiting to execute.  When you check with <code>squeue</code> you might see something like this
		
			<pre class="cmd-line">login1$ <b>squeue -u bjones</b>
			JOBID PARTITION     NAME     USER ST       TIME  NODES NODELIST(REASON)
			1354  standard A3WF    bjones  PD         0.00      1 (Priority)</pre>
		
			Sometimes your job is stuck and remains in the <code>PD</code> state and never starts running. You can use <code>squeue</code> in combination with <code>-j</code> and <code>--start</code> to see the estimated start time of your pending job.
		
			<pre class="cmd-line">login1$ <b>squeue -j 91487 --start</b>
			JOBID PARTITION     NAME     USER  ST           START_TIME  NODES NODELIST&#40;REASON&#41;
			91487 standard   hello_te     bjones  PD        2018-07-09T13:09:40       2 &#40;Priority&#41;</pre>
		
		
		#managing-jobstatus-sstat
			:markdown
				### [`sstat`](#managing-jobstatus-sstat)
		
				To check the status information of a running job/step, use the <code>sstat</code> command with appropriate options. Some of the useful options are mentioned below, but keep in mind you can only use this command for jobs you own.  A detailed list and explanation of options and column values results are explained in man page,<code>man sstat</code>.
		
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th  Option 
				%th  Result 
			%tr
				%td  <code>-a</code> «<em>job_id_list</em>» 
				%td  Print all steps for the given job(s) when no step is specified 
			%tr
				%td  <code>-u</code> «<em>user_list</em>» 
				%td  Displays information for jobs associated with the specified user(s) 
			%tr
				%td  <code>-i</code> 
				%td  Predefined format to list the pids running for each job step. (JobId,Nodes,Pids) 
			%tr
				%td  <code>-p</code> 
				%td  output will be <code>|</code> delimited with a <code>|</code> at the end 
			%tr
				%td  <code>--format</code> 
				%td  Customize output of sstat 
			
		
				<pre class="code base">login1$ <b>sstat -p --format=AveCPU,AvePages,AveRSS,AveVMSize,JobID -j 1354</b>
				25:02.000|0K|1.37M|5.93M|9.0|</pre>
		
		#managing-jobstatus-scontrol
			:markdown
				### [`scontrol`](#managing-jobstatus-scontrol)
		
				<code>scontrol</code> is used for monitoring and modifying queued jobs, as well as holding and releasing jobs. One of its most powerful options is the <code>scontrol show job</code> option with the <code>JobID</code>.
		
		
				Also, by default the per-job output has been limited to a name, submit/run time, and some state flags.  Slurm maintains a far more extensive set of parameters for each job which can be viewed using the command <code>scontrol</code>. For example,
		
				<pre class="cmd-line">login1$ <b>scontrol show job 1354</b>
				JobId=1354 JobName=A33_6_WF.qs
				   UserId=bjones&#40;1111&#41; GroupId=xxxx&#40;10111&#41; MCS_label=N/A
				   Priority=2181 Nice=0 Account=thsu QOS=normal
				   JobState=RUNNING Reason=None Dependency=&#40;null&#41;
				   Requeue=0 Restarts=0 BatchFlag=1 Reboot=0 ExitCode=0:0
				   RunTime=05:04:27 TimeLimit=1-00:00:00 TimeMin=N/A
				   SubmitTime=2018-08-14T09:56:15 EligibleTime=2018-08-14T09:56:15
				   StartTime=2018-08-14T09:56:16 EndTime=2018-08-15T09:56:16 Deadline=N/A
				   PreemptTime=None SuspendTime=None SecsPreSuspend=0
				   LastSchedEval=2018-08-14T09:56:16
				   Partition=standard AllocNode:Sid=login01:19458
				   ReqNodeList=&#40;null&#41; ExcNodeList=&#40;null&#41;
				   NodeList=r00n16
				   BatchHost=r00n16
				   NumNodes=1 NumCPUs=20 NumTasks=20 CPUs/Task=1 ReqB:S:C:T=0:0:*:*
				   TRES=cpu=20,mem=60G,node=1,billing=49168
				   Socks/Node=* NtasksPerN:B:S:C=0:0:*:* CoreSpec=*
				   MinCPUsNode=1 MinMemoryCPU=3G MinTmpDiskNode=0
				   Features=&#40;null&#41; DelayBoot=00:00:00
				   Gres=&#40;null&#41; Reservation=&#40;null&#41;
				   OverSubscribe=OK Contiguous=0 Licenses=&#40;null&#41; Network=&#40;null&#41;
				   Command=/lustre/scratch/bjones/AAd3F.qs
				   WorkDir=/lustre/scratch/bjones/
				   StdErr=/lustre/scratch/bjones/ler/%x.o1354
				   StdIn=/dev/null
				   StdOut=/lustre/scratch/bjones/ler/%x.o1354
				   Power=</pre>
		
		
		#managing-jobstatus-sacct
			:markdown
				### [`sacct`](#managing-jobstatus-sacct)
		
		
				To check the information about a job from history (i.e. a job that has already completed), <code>sacct</code> can be used to fetch various details as long as you know the <code>JobID</code>. 
				
				<pre class="cmd-line">login1$ <b>sacct -j 10544</b>
				JobID    JobName  Partition    Account  AllocCPUS      State ExitCode
				------------ ---------- ---------- ---------- ---------- ---------- --------
				10544            Mg_FFS   standard  afwallace         10  PREEMPTED      0:0
				10544.batch       batch             afwallace         10  CANCELLED     0:15
				10544.extern     extern             afwallace         10  COMPLETED      0:0</pre>
				
				
				In the above example, it indcates the job was preempted from the standard partition.  Remember jobs in the standard partition are preempted to make way for workgroup specific jobs.  If we want to check how much time a job was given to run, we can use the <code>–format</code> option to display the <code>TimeLimit</code> for the <code>JobID 10544</code>.
				
				<pre class="cmd-line">login1$ <b>sacct -j 10544 --format=TimeLimit</b>
				 Timelimit
				----------
				7-00:00:00</pre>
				
				
				From this we can see this job had 7 days to complete, the maximum time limit on DARWIN, however because the job was running in the standard partition it was preempted after running 21 hours, 5 minutes and 10 seconds. Below is an example requesting additional information such as memory, number of nodes, list of nodes, etc.
		
				<pre class="cmd-line">login1$  <b>sacct -j 10544 --format=user,jobid,jobname,partition,state,time,start,end,elapsed,MaxRss,MaxVMSize,nnodes,ncpus,nodelist</b>
				 abrarq   10544            Mg_FFS   standard  PREEMPTED 7-00:00:00 2018-10-29T19:23:54 2018-10-30T16:29:04   21:05:10                              1         10          r00n25
				          10544.batch       batch             CANCELLED            2018-10-29T19:23:54 2018-10-30T16:29:05   21:05:11    219520K    182124K        1         10          r00n25
				          10544.extern     extern             COMPLETED            2018-10-29T19:23:54 2018-10-30T16:23:50   20:59:56         4K    107904K        1         10          r00n25</pre>
				
				
				Here is another example showing a job exited because enough memory was not specified for the job, so it indicates <code>OUT_OF_ME+</code> which means OUT OF MEMORY.
				
				<pre class="cmd-line">login1$ <b>sacct -j 9176640</b>
				       JobID    JobName  Partition    Account  AllocCPUS      State ExitCode
				------------ ---------- ---------- ---------- ---------- ---------- --------
				9176640             FVM   standard zurakowski          1 OUT_OF_ME+    0:125
				9176640.bat+      batch            zurakowski          1 OUT_OF_ME+    0:125
				9176640.ext+     extern            zurakowski          1  COMPLETED      0:0
				9176640.0          date            zurakowski          1  COMPLETED      0:0</pre>
				
	
	#managing-delete
		:markdown
			## [Deleting a job](#managing-delete)
	
	Use the <strong>scancel</strong>  «<em>job_id</em>» command to remove pending and running jobs from the queue.
	
	For example, to delete job 28000
	
	<pre class="cmd-line">  scancel 28000</pre>
	
	#managing-available
		:markdown
			## [Available Resources](#managing-available)
	
			DARWIN utilizes a fair share policy implemented based on allocations and using the quality-of-service (QOS) concept of Slurm. These allocations are represented per-workgroup/per-partition limits via Slurm QOS facility. Each QOS has its own set of aggregate limits that apply to the workgroup and partition involved with jobs. Each QOS is <strong>usable only on those partitions that explicitly allow it.</strong>
			
			Each allocation group (workgroup) allocation is mapped to the various <a href="#queues">workgroup-partitions</a> based on the the compute node resources requested for an allocation. 
			
			One can determine the nodes available in a particular partition by using the <code>scontrol</code> command. The command to check the nodes for the <code>standard</code> partition would look like this show <code>Nodes=r1n[00-47]]</code> which means nodes <code>r1n00</code>, <code>r1n01</code>, … , <code>r1n47</code> are available in the <code>standard</code> partition.
			
			<pre class="cmd-line">$ scontrol show partition standard
			PartitionName=standard
			   AllowGroups=ALL AllowAccounts=ALL AllowQos=wg-cpu-1001,wg-cpu-1002
			   AllocNodes=ALL Default=YES QoS=part-standard
			   DefaultTime=00:30:00 DisableRootJobs=NO ExclusiveUser=NO GraceTime=0 Hidden=NO
			   MaxNodes=UNLIMITED MaxTime=2-00:00:00 MinNodes=0 LLN=NO MaxCPUsPerNode=UNLIMITED
			   Nodes=r1n&#91;00-47&#93;
			   PriorityJobFactor=32768 PriorityTier=32768 RootOnly=NO ReqResv=NO OverSubscribe=NO
			   OverTimeLimit=NONE PreemptMode=OFF
			   State=UP TotalCPUs=3072 TotalNodes=48 SelectTypeParameters=NONE
			   JobDefaults=&#40;null&#41;
			   DefMemPerNode=UNLIMITED MaxMemPerNode=UNLIMITED
			   TRESBillingWeights=cpu=1.0,mem=0.125G</pre>
			
			Now to check the usable memory on each accessible node of a given <em>investing-entity</em> (workgroup), please use the <a href="#managing-status-qhost">qhost</a> command.
			
	
		#managing-available-sworkgroup
			:markdown
				### [`sworkgroup`](#managing-available-sworkgroup)
		
		
				To get a summary of the partitions and resources that you and your workgroup have access to, one can use <code>sworkgroup</code> (<abbr title="University of Delaware">UD</abbr> IT customized utility) command:
				
				<pre class="cmd-line">login1$ <b>sworkgroup --help</b>
				usage: sworkgroup &#91;-h&#93; &#91;--workgroup group&#93; &#91;--limits&#93; &#91;--noheader&#93;
				                  &#91;--human-readable&#93; &#91;--parseable&#93;
				&nbsp;
				Show Slurm partitions and limits for a workgroup
				&nbsp;
				optional arguments:
				  -h, --help            show this help message and exit
				  --workgroup group, -g group
				                        display partitions available to a specific workgroup
				  --limits, -l          show TRES limits for each partition
				  --noheader, -N        do not display column headers on output
				  --human-readable, -H  show TRES in a more human-readable format
				  --parseable           show as parseable lines rather than a tabular format</pre>
				
				
				TRES stands for Slurm Trackable RESources that are implemented in the scheduler: CPU usage, memory usage, time. This is important as the usage of the cluster factors TRES into the fairshare calculation. Also, TRES allows the scheduler to charge back users for how much they have used of their particular resources available on the cluster.
				
				<pre class="cmd-line">login1$  <b>sworkgroup --workgroup=it_css --limits</b>
				Partition Per user Per job Per workgroup
				---------+--------+-------+-----------------------------
				devel     2 jobs   cpu=4
				it_css                     cpu=72,node=2,gres/gpu:p100=1
				standard  cpu=720  cpu=360</pre>
				
		
		
		#managing-available-sinfo
			:markdown
				### [Host Status, Literally](#managing-available-sinfo)
		
				Slurm also features a <code>sinfo</code> command that can be used to report status of all the nodes of cluster, period:  no job information or information will be displayed:
				
				<pre class="cmd-line">login1$ <b>sinfo --long --Node</b>
				Mon Apr 26 11:38:42 2021
				NODELIST   NODES    PARTITION       STATE CPUS    S:C:T MEMORY TMP_DISK WEIGHT AVAIL_FE REASON
				r1n00          1    standard*        idle 64     2:32:1 499712  1800000      1 standard none
				r1n01          1    standard*        idle 64     2:32:1 499712  1800000      1 standard none
				r1n02          1    standard*        idle 64     2:32:1 499712  1800000      1 standard none
				.
				.
				.
				r1n46          1    standard*        idle 64     2:32:1 499712  1800000      1 standard none
				r1n47          1    standard*        idle 64     2:32:1 499712  1800000      1 standard none
				r1t00          1       gpu-t4        idle 64     2:32:1 491520  1800000   1000 nvidia-g none
				r1t01          1       gpu-t4        idle 64     2:32:1 491520  1800000   1000 nvidia-g none
				r1t02          1       gpu-t4        idle 64     2:32:1 491520  1800000   1000 nvidia-g none
				.
				.
				.
				r1t06          1       gpu-t4        idle 64     2:32:1 491520  1800000   1000 nvidia-g none
				r1t07          1       gpu-t4        idle 64     2:32:1 491520  1800000   1000 nvidia-g none
				r2e00          1 extended-mem        idle 64     2:32:1 999424  1800000 100000 Optane-N none
				r2l00          1    large-mem        idle 64     2:32:1 999424  1800000     10 large-me none
				r2l01          1    large-mem        idle 64     2:32:1 999424  1800000     10 large-me none
				.
				.
				.
				r2l31          1    large-mem        idle 64     2:32:1 999424  1800000     10 large-me none
				r2m00          1     gpu-mi50        idle 64     2:32:1 491520  1800000 100000 amd-gpu, none
				r2t08          1       gpu-t4        idle 64     2:32:1 491520  1800000   1000 nvidia-g none
				r2v00          1     gpu-v100        idle 48     2:24:1 737280  1800000  10000 nvidia-g none
				r2v01          1     gpu-v100        idle 48     2:24:1 737280  1800000  10000 nvidia-g none
				r2v02          1     gpu-v100        idle 48     2:24:1 737280  1800000  10000 nvidia-g none
				r2x00          1   xlarge-mem        idle 64     2:32:1 203161  1800000    100 xlarge-m none
				r2x01          1   xlarge-mem        idle 64     2:32:1 203161  1800000    100 xlarge-m none
				r2x02          1   xlarge-mem        idle 64     2:32:1 203161  1800000    100 xlarge-m none
				.
				.
				.
				r2x09          1   xlarge-mem        idle 64     2:32:1 203161  1800000    100 xlarge-m none
				r2x10          1   xlarge-mem        idle 64     2:32:1 203161  1800000    100 xlarge-m none</pre>
				
				
				The command has other options that will be discussed elsewhere; view the <code>sinfo</code> man page for a description of all options available.
				
				Memory refers to the size of memory for each node in <abbr title="Megabyte">MB</abbr>.The column S:C:T refers to the extended processor information: number of sockets, cores, threads (S:C:T) per node, whereas TMP_DISK refers to the size of temporary disk space per node in megabytes. WEIGHT column refers to scheduling weight of the nodes.
				
				
	#managing-status
		:markdown
			## [UD IT Status Commands](#managing-status)
	
			<abbr title="University of Delaware">UD</abbr> IT has created additional status summary commands that build on the <code>squeue</code> and <code>sacct</code> commands provided by Slurm.  In most cases these commands are conveniences that fill-in some of the options that were summarized above for the user.  All commands display a terse summary of their options if the <code>-h</code> or <code>–help</code> option is provided with the command.
			
			<p class="portlet-msg-info">These commands are not part of the Slurm job scheduling software.  They are made available on clusters maintained by <abbr title="University of Delaware">UD</abbr> IT that use the Slurm job scheduler and are not likely to be available on other clusters to which a user has access.</p>
	
		#managing-status-sjobs
			:markdown
				### [`sjobs`](#managing-status-sjobs)
		
				The <code>sjobs</code> command displays job status in a more compact format:
				
				<pre class="cmd-line">login1$ <b>sjobs -h</b>
				usage: sjobs &#91;-h&#93; &#91;-a&#93; &#91;-G&#93; &#91;-g &lt;workgroup&gt;&#93; &#91;-u &lt;username&gt;&#93; &#91;-t&#93; &#91;-H&#93;
				             &#91;--parseable&#93; &#91;-d &lt;string&gt;&#93;
				&nbsp;
				Display information for running and queued jobs
				&nbsp;
				optional arguments:
				  -h, --help            show this help message and exit
				&nbsp;
				job selection options:
				  -a, --all             show all users &#40;not just yourself&#41;
				  -G, --current-group   show jobs for users in your current workgroup
				  -g &lt;workgroup&gt;, --group &lt;workgroup&gt;
				                        show jobs for users in the given workgroup &#40;can be
				                        used multiple times&#41;
				  -u &lt;username&gt;, --user &lt;username&gt;
				                        show jobs for the given user &#40;can be used multiple
				                        times&#41;
				&nbsp;
				output options:
				  -t, --totals          show total jobs, users, groups, cpus, nodes, and tasks
				  -H, --no-header       do not show column headers
				  --parseable           do not display in a tabular format
				  -d &lt;string&gt;, --delimiter &lt;string&gt;
				                        when --parseable is selected, separate columns with
				                        this string
				&nbsp;
				If no job selection options are provided then jobs for the current user will
				be displayed.</pre>
				<pre class="cmd-line">login1$ <b>sjobs</b>
				JOBID USER      STATE  JOBNAME    GROUP  NCPUS NNODES NTASKS
				----- -------- ------- ---------- ------ ----- ------ ------
				 1904 bjones RUNNING arrayJob   it_css     1      1      1
				 1903 bjones RUNNING openmp_job it_css     8      1      1</pre>
				
		
				By default, only jobs owned by the user issuing the command are displayed.  The <code>-g</code> option followed by the group name displays jobs for users who are members of that specific group:
				
				<pre class="cmd-line">login1$ <b>sjobs -g arce</b>
				    JOBID USER   STATE  JOBNAME    GROUP NCPUS NNODES NTASKS
				--------- ----- ------- ---------- ----- ----- ------ ------
				 771536_6 xmdrm RUNNING STAC_train arce      4      1      1
				 771536_8 xmdrm RUNNING STAC_train arce      4      1      1
				 771536_9 xmdrm RUNNING STAC_train arce      4      1      1
				771536_10 xmdrm RUNNING STAC_train arce      4      1      1</pre>
				
				
				The <code>-a</code> option displays jobs for all cluster users.
				
		
		#managing-status-qhost
			:markdown
				### [`qhost`](#managing-status-qhost)
		
				
				<code>qhost</code> is a wrapper written for DARWIN to consolidate the information collected from Slurm commands and joined together to display the host/node information in a similar fashion to that of <code>qhost</code> on Farber.
				
				<pre class="cmd-line">login1$ <b>qhost --help</b>
				usage: qhost &#91;-help&#93; &#91;-h &lt;hostlist&gt;&#93; &#91;-ncb&#93; &#91;-j&#93; &#91;-u &lt;username&gt;&#93; &#91;--help&#93;
				             &#91;--hosts &lt;hostlist&gt;&##93; &#91;--jobs&#93; &#91;--users &lt;userlist&gt;&#93;
				             &#91;--no-node-sort&#93; &#91;--std-host-topo&#93;
				&nbsp;
				Display host information akin to Grid Engine qhost
				&nbsp;
				original options:
				  options inherited from Grid Engine qhost
				&nbsp;
				  -help                print this help
				  -h &lt;hostlist&gt;        display only selected hosts
				  -ncb                 suppress host topology based information
				  -j                   display jobs running on the host&#40;s&#41;
				  -u &lt;username&gt;        show only jobs for user
				&nbsp;
				extended options:
				  additional options not present in Grid Engine qhost
				&nbsp;
				  --help               alternate to -help
				  --hosts &lt;hostlist&gt;   alternate to -h
				  --jobs               alternate to -j
				  --users &lt;userlist&gt;   alternate to -u
				  --no-node-sort, -S   do not sort the list of nodes by name before displaying
				  --std-host-topo, -T  show host topology as sockets, cores-per-socket, and
				                       threads-per-core
				&nbsp;
				A &lt;hostlist&gt; is one or more node names or name patterns &#40;e.g. r00n&#91;00-24&#93;&#41;
				separated by commas. A &lt;userlist&gt; is one or more user names separated by
				commas</pre>
				
				
				The following example shows the specifications for node <code>r1n03</code> and this is helpful to understand that the actual <strong>usable</strong> memory on <code>r1n03</code> is 480G versus the physical memory which is 488G. This is important when specifying the amount of memory as a option especially when using a workgroup partition.  See details about managing jobs using command options for sbatch: <a href="#scheduling-sbatch-memory"> Memory </a>
				
				<pre class="cmd-line">login1$ <b>qhost -h r1n03</b>
				HOSTNAME                ARCH         NCPU NSOC NCOR NTHR NLOAD  MEMTOT  MEMUSE  SWAPTO  SWAPUS
				----------------------------------------------------------------------------------------------
				r1n03                   standard       64    2   64   64  0.63  488.0G  480.0G     0.0     0.0</pre>
				
				
				Adding option <code>-j</code> will now show the jobs running on node <code>r1n03</code> in this example.
				
				<pre class="cmd-line">login1$ <b>qhost -h r1n03 -j</b>
				HOSTNAME                ARCH         NCPU NSOC NCOR NTHR NLOAD  MEMTOT  MEMUSE  SWAPTO  SWAPUS
				----------------------------------------------------------------------------------------------
				r1n03                   standard       64    2   64   64  0.63  488.0G  480.0G     0.0     0.0
				        job-ID        prior name             user     state submit/start at        queue        master   ja-task-ID
				  -----------------------------------------------------------------------------------------------------------------
				        771529    176093110 conf             msafrono   R   2021-09-28T16:00:57    idle         SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				        771455     17179808 27476_SAPT       allinson   R   2021-09-28T06:52:57    idle         MASTER
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE
				                                                                                                SLAVE</pre>
				
		
		#managing-status-qstatgrp
			:markdown
				### [`qstatgrp`](#managing-status-qstatgrp)
		
		
				<code>qstatgrp</code> makes use of the Slurm commands <code>squeue</code> and <code>sacctmgr</code> to display the current utilization of resources within a workgroup. Using the <code>-h</code> or <code>–help</code> argument will display the list of operations and options that can be used with qstatgrp.
				
				<pre class="cmd-line">login1$ <b>qstatgrp --help</b>
				usage: qstatgrp &#91;-h&#93; &#91;-g &lt;gid&gt;&#93; &#91;-o&#93; &#91;-j&#93;
				&nbsp;
				Display per-workgroup job information akin to Grid Engine qstatgrp
				&nbsp;
				optional arguments:
				  -h, --help            show this help message and exit
				  -g &lt;gid&gt;, --group &lt;gid&gt;
				                        restrict to jobs running under the given workgroup
				                        &#40;can be specified multiple times&#41;
				  -o, --group-only      display for the workgroup partition only
				  -j, --jobs            show all jobs, not an aggregate summary of them</pre>
				
				
				With no options specified <code>qstatgrp</code> will list a summary of current utilization of resources for the current workgroup. To see the current utilization for a particular workgroup use the <code>-g </code> option.
				
				<pre class="cmd-line">login1$ <b>qstatgrp -g jayaraman_lab</b>
				PARTITION                      NODES        CPUS     MAX MEM    MAX CPUS
				------------------------------------------------------------------------
				idle                              20         650
				- TOTAL                           20         650</pre>
				
				And to see the individual jobs and resources being used for the default workgroup, use the <code>-j</code> option or add the workgroup to see for a particular workgroup.
				
				<pre class="cmd-line">login1$ <b>qstatgrp -g jayaraman_lab -j</b>
				PARTITION               JOBID                   OWNER       PRIORITY STATE       NODES        CPUS         MEM                    GRES
				--------------------------------------------------------------------------------------------------------------------------------------
				idle                    771468                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771414                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771412                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771134                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771127                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771123                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771116                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771059                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771051                  heil        64424266    PD           1           1          1G                     N/A
				idle                    770960                  heil        64424266    PD           1           1          1G                     N/A
				idle                    771467                  heil        64424272     R           1          64          3G                     N/A
				idle                    771413                  heil        42949518     R           1          64          3G                     N/A
				idle                    771411                  heil        42949518     R           1          64          3G                     N/A
				idle                    771133                  heil        42949518     R           1          64          3G                     N/A
				idle                    771126                  heil        42949518     R           1          64          3G                     N/A
				idle                    771122                  heil        42949518     R           1          64          3G                     N/A
				idle                    771115                  heil        42949518     R           1          64          3G                     N/A
				idle                    771058                  heil        38654567     R           1          64          3G                     N/A
				idle                    771050                  heil        38654567     R           1          64          3G                     N/A
				idle                    770959                  heil        64424272     R           1          64          3G                     N/A</pre>
				
		#managing-status-spreempted
			:markdown
				### [`spreempted`](#managing-status-spreempted)
		
				Due to a certain level of inconsistency in Slurm&#039;s error logging, preempted jobs are notified as <code>FAILED</code> due to improper handling of SIGCONT/SIGTERM signals which leads to default behavior of SIGTERM that makes jobs to immediately exit rather than waiting for a grace period of 5 minutes (technically should happen when job is preempted). Therefore to really determine if a job has been preempted or not, <abbr title="University of Delaware">UD</abbr> IT has developed a command which tests various conditions and concludes on preemption.
				
				Also please note that, preemption occurs only to the jobs are being submitted to the <code>idle</code> partition.
				
				<pre class="cmd-line">login1$ <b>spreempted -h</b>
				usage: spreempted &#91;-h&#93; &#91;--verbose&#93; &#91;--quiet&#93; &#91;--show-jobid&#93;
				                  &#91;--sort-properties&#93; &#91;--jobid &lt;job-id&gt;&#123;,&lt;job-id&gt;..&#125;&#93;
				&nbsp;
				Determine if jobs were preempted
				&nbsp;
				optional arguments:
				  -h, --help            show this help message and exit
				  --verbose, -v         Emit additional information
				  --quiet, -q           Do not summarize preemptions, just return non-zero
				                        result code if any were preempted
				  --show-jobid, -s      Always prefix output lines with job id
				  --sort-properties     For verbose output, show properties in alphabetized
				                        order
				  --jobid &lt;job-id&gt;&#123;,&lt;job-id&gt;..&#125;, -j &lt;job-id&gt;&#123;,&lt;job-id&gt;..&#125;
				                        Slurm job id to check; can be used multiple times to
				                        check more than one job. For array jobs, use the
				                        syntax #_# for individual array indices</pre>
		
		
				<pre class="cmd-line">login1$ <b>spreempted -j 410289</b>
				preempted, did not reach grace period limit</pre>
				
