#xsedeallocs
	:markdown
		# [XSEDE Allocations](#xsedeallocs)

		For XSEDE allocations on DARWIN, a PI may use the <a href="https://portal.xsede.org/my-xsede">XSEDE user portal</a> to add or remove accounts for an active allocation on DARWIN as long as the person you want to add has a <a href="https://portal.xsede.org/my-xsede">XSEDE user portal</a> account. Please visit the <a href="https://portal.xsede.org/my-xsede">XSEDE user portal</a> and click the “Create Account” button. The person will need to share their XSEDE user portal account with the PI to be added. All logins to DARWIN will be done via <a href="https://portal.xsede.org/single-sign-on-hub">XSEDE Single Sign-on Hub</a>. 

	#xsedeallocs-accounts
		:markdown
			## [Accounts](#xsedeallocs-accounts)

			An XSEDE username will be assigned having the form <b><i>xsedeuuid</i></b>. The <em>uid</em> is based on a unique, 4-digit numerical identifier assigned to you. Password based authentication is not supported for XSEDE users on DARWIN, however you may set up direct SSH key authentication on DARWIN once you have logged on to DARWIN (via <code>gsissh darwin</code>) by adding the desired public key to your <code>authorized_keys</code> file in the <code>.ssh</code> directory inside your home directory.  Once you have a SSH key set up this way, you can access DARWIN directly by running <code>ssh darwin.hpc.udel.edu</code> or use a PuTTY saved session if it is configured with the private key. See <a href="#connecting-loggingon">connecting for XSEDE allocation users</a> for more details.

	%table(border="1" cellspacing="5" cellpadding="3")
		%tr
			%td Command   		
			%td Function 
		%tr
			%td <code>hpc-user-info -a <em>username</em></code>
			%td Display info about a user 
		%tr
			%td <code>hpc-user-info -h</code>            
			%td Display complete syntax 

		For example,

		<pre class="cmd-line">$ <b>hpc-user-info -a xsedeu1201</b>
		full-name = Student Training
		last-name = Student Training
		home-directory = /home/1201
		email-address = bjones@udel.edu
		clusters = DARWIN</pre>

	#xsedeallocs-groups
		:markdown
			## [Groups](#xsedeallocs-groups)

			The allocation groups of which you are a member determine which computing nodes, job queues, and storage resources you may use. Each group has a unique descriptive group name (<em>gname)</em>. There are two categories of group names: <em>class</em> and <em>workgroup</em>.

			<strong><em>The class category</em></strong>: All users belong to the group named <em>everyone</em>.

			<strong><em>The workgroup category</em></strong>: Each workgroup has a unique group name (e.g., <em>xg-tra180011</em>) assigned for each allocation. The PI and users are members of that allocation group (workgroup). To see the usernames of all members of the workgroup, type the <code>hpc-group-info -a <em>allocation_workgroup</em></code> command.

			Use the command <code>groups</code> to see all of your groups. The example below is for user <code>xsedeu1201</code>

			<pre class="cmd-line">$ <b>groups everyone xg-tra180011</b></pre>

			For example, the command below will display the complete information about the workgroup <code>xg-tra180011</code> and its members.

			<pre class="cmd-line">$ <b>hpc-group-info -a xg-tra180011</b>
			name = xg-tra180011
			gid-number = 1120
			description = Student Training
			member = xsedeu1201; Student Training; bjones@udel.edu</pre>
				
			The output of this command represents (<code>description=<em>PI</em></code>), along with every member in the <a href="#appdev-compenv-workgroup">workgroup</a> and their account information (Username, Full Name, Email Address).

