#scheduling
	:markdown
		# [Scheduling Jobs](#scheduling)

		In order to schedule any job (interactively or batch) on a cluster, you <strong>must</strong> set your allocation <strong><a href="#appdev-compenv-workgroup">workgroup</a></strong> to define your allocation group <strong>and</strong> explicitly specify a single partition that corresponds to the compute resources granted for the allocation. For example,
		
		<pre class="cmd-line">&#91;bjones@login00 ~&#93;$ <b>workgroup -g it_css</b>
		&#91;&#40;it_css:bjones&#41;@login00 ~&#93;$</pre>
		
		will set the allocation workgroup to <code>it_css</code> for account <code>bjones</code> which is reflected in the prompt change showing the allocation workgroup.

		<code>[(it_css:bjones)@login00 ~]$</code> 
		
		When you submit a job, you <strong>must</strong> explicitly request a single <a href="#queues">partition</a> that corresponds to the compute resources granted for the allocation. Keep in mind job scheduling is very complex. It doesn&#039;t get considered for execution immediately upon submission. Slurm will analyze and determine on each scheduling cycle, only the next N jobs that are pending will be considered for execution. This means the more jobs submitted by users will likely mean the longer your job may have to wait to be considered. To this point, all users should be good citizens and not over submit, and be patient and do not kill jobs and resubmit to try to increase your priority.
		
		Need help? See <a href="http://www.hpc.udel.edu/presentations/intro_to_slurm/">Introduction to Slurm</a> in <abbr title="University of Delaware">UD</abbr>&#039;s HPC community cluster environment.
		
		<strong>IMPORTANT:</strong> When a job is submitted, the SUs will be calculated and pre-debited based on the resources requested thereby putting a hold on and deducting the SUs from the allocation credit for your project/workgroup. However, once the job completes the amount of SUs debited will be based on the actual time used. Keep in mind that if you request 20 cores and your job really only takes advantage of 10 cores, then the job will still be billed based on the requested 20 cores.  And specifying a time limit of 2 days versus 2 hours may prevent others in your project/workgroup from running jobs as those SUs will be unavailable until the job completes. On the other hand, if you do not request enough resources and your job fails (i.e. did not provide enough time, enough cores, etc.), you will still be billed for those SUs. See <a href="##scheduling-sbatch-options">Scheduling Jobs Command options</a> for help with specifying resources and <a href="#jobaccounting">Job Accounting</a> for details on SU calculations.
		
		<strong>Moral of the story:</strong> Request only the resources needed for your job.  Over or under requesting resources results in wasting your allocation credits for everyone in your project/workgroup.
		
		<p class="portlet-msg-info"><strong>Interactive jobs:</strong> An interactive job is billed the SU associated with the full wall time of its execution, not just for CPU time accrued through its duration.  For example, if you leave an interactive job running for 2 hours and execute code for 2 minutes, your allocation will be billed for 2 hours of time, not 2 minutes.  Please review <a href=#jobaccounting">job accounting</a> to determine the SU associated for each type of resource requested (compute, gpu) and the SUs billed per hour.</p>

	#scheduling-salloc
		:markdown
			## [Interactive Jobs (`salloc`)](#scheduling-salloc)
	
			All interactive jobs should be scheduled to run on the compute nodes, not the login/head node.
			
			An interactive session (job) can often be made non-interactive (batch job) by putting the input in a file, using the redirection symbols <strong>&lt;</strong> and <strong>&gt;</strong>, and making the entire command a line in a job script file:
			
			<pre class="syntax"><em>program_name</em>  &lt; <em>input_command_file</em>  &gt; <em>output_command_file</em></pre>
			
			Then the non-interactive (batch job) job can be scheduled as a batch job.
			
		#scheduling-salloc-start
			:markdown
				### [Starting an Interactive Session](#scheduling-salloc-start)
				
				Remember you must specify your <strong><a href="#appdev-compenv-workgroup">workgroup</a></strong> to define your allocation workgroup for available compute node resources before submitting any job as well as specifying a partition, and this includes starting an interactive session. Now use the Slurm command <strong>salloc</strong> on the login (head) node. Slurm will look for a node with a free <em>scheduling slot</em> (processor core) and a sufficiently light load, and then assign your session to it. If no such node becomes available, your <strong>salloc</strong> request will eventually time out. 
				
				Type:
				
				<pre class="cmd-line">
				$ <b>workgroup -g <em>allocation_group</em></b>
				$ <b>salloc --partition=<em>partition_name</em></b></pre>
				
				to start a remote interactive shell on a node in the standard partition use
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard</b>
				salloc: Granted job allocation 39
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;&#40;it_css:bjones&#41;@r1n00 ~&#93;$</pre>
				
				Type:
				
				<pre class="cmd-line">$ <b>salloc --partition=<em>partition_name</em> --nodes=2 /bin/bash -i</b></pre>
				
				to open a shell on the login node itself and execute a series of `srun` commands against that allocation. For example,
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard --nodes=2 /bin/bash -i</b>
				salloc: Granted job allocation 41
				salloc: Waiting for resource configuration
				salloc: Nodes r1n&#91;00-01&#93; are ready for job
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				sets up the <code>salloc</code> interactive session with 2 nodes on the <code>standard</code> partition. Now each use of <code>srun</code> is run on all compute nodes inside the interactive session and represents a job step.
				
				Type:
				
				<pre class="cmd-line">$ <b>exit</b></pre>
				
				to terminate the interactive shell and release the scheduling slot(s).

				All the above commands work only when the user is already inside the workgroup and had defined a partition. If you do not specify a <strong><a href="#appdev-compenv-workgroup">workgroup</a></strong> or <code>--partition</code>, you will get an error similar to this
				
				<pre class="cmd-line">&#91;bjones@login00.darwin ~&#93;$ <b>salloc</b>
				salloc: error: Please choose a workgroup before submitting a job
				salloc: error: cli_filter plugin terminated with error</pre>
				
				or
				
				<pre class="cmd-line">&#91;&#40;it_css:anita&#41;@login00.darwin ~&#93;$ <b>salloc</b>
				salloc: error: All jobs must explicitly request a partition
				salloc: error: cli_filter plugin terminated with error
				&#91;&#40;it_css:anita&#41;@login00.darwin ~&#93;$</pre>
				
				There is a no way to avoid running the <a href="#appdev-compenv-workgroup">workgroup</a> command and specifying a <a href="#queues">partition</a> before submitting a job or requesting an interactive session.
				
		#scheduling-salloc-nodes
			:markdown
				### [Nodes for Interactive Sessions](#scheduling-salloc-nodes)
		
				You may use the login (head) node for interactive program development including Fortran, C, and C++ program editing and compiling since you won&#039;t be <a href="#jobaccounting">billed</a> for usage on the login node. However you will need to use Slurm (<strong>`salloc`</strong>) to start interactive shells to utilize your allocation compute node resources for testing or running applications.
		
	
	#scheduling-sbatch
		:markdown
			## [Batch Jobs (`sbatch`)](#scheduling-sbatch)
	
			A batch job is a command to be executed now or any time in the future. Batch jobs are encapsulated as a shell script (which will be called a job script). This job script is simply a <code>bash</code> script contains special comment lines that provide flags to Slurm to influence their submission and scheduling. Both the <code>srun</code> and <code>salloc</code> command attempt to execute remote commands immediately; if resources are not available they will not return until resources have become available or the user cancels them (by means of &lt;Ctrl&gt;-C).
			
			Slurm provides the <strong>sbatch</strong> command for scheduling batch jobs:
			
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th  Command 
				%th  Action 
			%tr
				%td  <code>sbatch <em>command_line_options</em> <em>job_script</em></code>
				%td  Submit job with script command in the file <em>job_script</em> 
		

		:markdown
			For example,
			
			<pre class="code">$ <b>sbatch myproject.qs</b></pre>
			
			This file <code>myproject.qs</code> will contain bash shell commands and <strong>SBATCH</strong> statements that include <strong>SBATCH</strong> options and resource specifications. The <strong>SBATCH</strong> statements begin with <code>#</code> and are the special directives that tell Slurm options such as partition, number of cores, how much time, how much memory, etc. to use for your job.
			
			<p class="portlet-msg-alert">We strongly recommend that you use a script file that you pattern after the prototypes in <code>/opt/shared/templates</code> by using one of our <a href="https://docs.hpc.udel.edu/technical/slurm/darwin/templates/start">templates</a> and save your job script files within a <code>$WORKDIR</code> (private work) directory. There are <code>README.md</code> files each subdirectory to explain the use of these templates.</p>
			
			Reusable job scripts help you maintain a consistent batch environment across runs. 
			
		
		#scheduling-sbatch-envvars
			:markdown
				### [Slurm Environment Variables](#scheduling-sbatch-envvars)
		
				In every batch session, Slurm sets environment variables that are useful within job scripts. Here are some common examples. The rest ca be found online in Slurm documentation.<em></em>
		
			%table(border="1" cellspacing="5" cellpadding="3")
				%tr
					%th  Environment variable 
					%th  Contains 
				%tr
					%td  <strong>HOSTNAME</strong> 
					%td  Name of the execution (compute) node 
				%tr
					%td  <strong>SLURM_JOB_ID</strong> 
					%td  Batch job id assigned by Slurm 
				%tr
					%td  <strong>SLURM_JOB_NAME</strong> 
					%td  Name you assigned to the batch job 
				%tr
					%td  <strong>SLURM_JOB_NUM_NODES</strong> 
					%td  Number of <em>nodes</em> allocated to job 
				%tr
					%td  <strong>SLURM_CPUS_PER_TASK</strong> 
					%td  Number of cpus requested per task. Only set if the <code>--cpus-per-task</code> option is specified for a threaded job 
				%tr
					%td  <strong>SLURM_ARRAY_TASK_ID</strong> 
					%td  Task id of an array job sub-task (See <a href="#array-jobs">Array jobs</a>) 
				%tr
					%td  <strong>TMPDIR</strong> 
					%td  Name of directory on the (compute) node scratch filesystem 
		
			:markdown
				When Slurm assigns one of your job&#039;s tasks to a particular node, it creates a temporary work directory on that node&#039;s 2 <abbr title="Terabyte">TB</abbr> local scratch disk. And when the task assigned to that node is finished, Slurm removes the directory and its contents. The form of the directory name is
				
				<pre class="cmd-line">/tmp</pre>
				
				For example, after typing <code>salloc –partition=standard</code> on the head node, an interactive job 46 (<code>$SLURM_JOB_ID</code>) is allocated on node <code>r1n00</code>
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard</b>
				salloc: Granted job allocation 46
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;bjones@r00n45 ~&#93;$ <b>echo $TMPDIR</b>
				/tmp
				&#91;&#40;it_css:bjones&#41;@r1n00 ~&#93;$</pre>
				
				and now we are ready to use our interactive session on node <code>r1n00</code> and the temporary node scratch directory for this interactive job.
				
				See <a href="#filesystems">Filesystems</a> and <a href="#appdev-compenv">Computing environment</a> for more information about the node scratch filesystem and using environment variables.
				
		
		#scheduling-sbatch-options
			:markdown
				### [Command Options](#scheduling-sbatch-options)
		
				The table below lists <strong>sbatch</strong>&#039;s common options.
		
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th Options
				%th Description
			%tr
				%td <code>--job-name=<em>&lt;string&gt;</em></code>
				%td descriptive name for the job
			%tr
				%td <code>--comment=<em>&lt;string&gt;</em></code>
				%td alternate description of the job (more verbose than job name)
			%tr
				%td <code>--partition=<em>&lt;partition-name&gt;</em></code>
				%td execute the command in this partition
			%tr
				%td <code>--nodes=<em>&lt;#&gt;</em></code>
				%td execute the command on this many distinct nodes
			%tr
				%td <code>--ntasks=<em>&lt;#&gt;</em></code>
				%td execute this many copies of the command
			%tr
				%td <code>--ntasks-per-node=<em>&lt;#&gt;</em></code>
				%td execute this many copies of the command on each distinct node
			%tr
				%td <code>--cpus-per-task=<em>&lt;#&gt;</em></code>
				%td each copy of the command should have this many CPU cores allocated to it
			%tr
				%td <code>--mem=<em>&lt;#&gt;</em></code>
				%td total amount of real memory to allocate to the job
			%tr
				%td <code>--mem-per-cpu=<em>&lt;#&gt;</em></code>
				%td amount of memory to allocate to each CPU core allocated to the job
			%tr
				%td <code>--exclusive</code>
				%td node(s) allocated to the job must have no other jobs running on them
			%tr
				%td <code>--exclusive=user</code>
				%td node(s) allocated to the job must have no jobs associated with other users running on them except if jobs submitted by the user
			%tr
				%td <code>--time=<em>&lt;time-<abbr title="specification">spec</abbr>&gt;</em></code>
				%td indicates a maximum wall time limit for the job
	
			:markdown
				Slurm tries to satisfy all of the resource-management options you specify in a job script or as sbatch command-line options. 
		
		#scheduling-sbatch-time
			:markdown
				### [Time](#scheduling-sbatch-time)
		
				If no <code>--time=<em>&lt;time-<abbr title="specification">spec</abbr>&gt;</em></code> option is specified, then the default time allocated is 30 minutes.
				
				The <code><em>&lt;time-<abbr title="specification">spec</abbr>&gt;</em></code> can be of the following formats:
				
				* <code>&lt;#&gt;</code> - minutes
				* <code>&lt;#&gt;:&lt;#&gt;</code> - minutes and seconds
				* <code>&lt;#&gt;:&lt;#&gt;:&lt;#&gt;</code> - hours, minutes, and seconds
				* <code>&lt;#&gt;-&lt;#&gt;</code> - days and hours
				* <code>&lt;#&gt;-&lt;#&gt;:&lt;#&gt;</code> - days, hours, and minutes
				* <code>&lt;#&gt;-&lt;#&gt;:&lt;#&gt;:&lt;#&gt;</code> - days, hours, minutes, and seconds
				
				Thus, specifying <code>--time=4</code> indicates a wall time limit of four minutes and <code>--time=4-0</code> indicates four days.
				
				**IMPORTANT**: Make sure the wall time is mentioned as per the specified format. One of the most frequently seen error is jobs termininating about 1 minute after start (“TIMEOUT” error message).
				
					#SBATCH --time=1 00:00:00
				
				doesn&#039;t look that different from
				
					#SBATCH --time=1-00:00:00
				
				In the above case, the former is interpreted as 1 minute with a trailing second argument of “00:00:00” while the second equals 1 day.  
				
		#scheduling-sbatch-cpu
			:markdown
				### [CPU Cores](#scheduling-sbatch-cpu)
		
				The number of CPU cores associated with a job and the scheme by which they are allocated on nodes can be controlled loosely or strictly by the flags mentioned above. Omitting all such flags implies a default will be set to a single task on a single node meaning 1 CPU core will allocated for your job.
				
				<p class="portlet-msg-alert">Always associate <em>tasks</em> with the number of copies of a program, and <em>cpus-per-task</em> with the number of threads each copy of the program may use.  While tasks can be distributed across multiple nodes, the cores indicated by cpus-per-task must all be present on the same node.  Thus, programs parallelized with OpenMP directives would primarily be submitted using the <code>--cpus-per-task</code> flag, while <abbr title="Message Passing Interface">MPI</abbr> programs would use the <code>--ntasks</code> or <code>--ntasks-per-node</code> flag.  Programs capable of hybrid <abbr title="Message Passing Interface">MPI</abbr> execution would use a combination of the two.</p>
				
				For example, putting the lines 
				
				<pre class="file">
				#SBATCH --time=60
				#SBATCH --ntasks=4</pre>
				
				the job script tells Slurm to set a hard limit of 1 hour on the CPU time resource for the job, and requests 4 tasks to be allocated mapped with single processor to each.
		
		#scheduling-sbatch-memory
			:markdown
				### [Memory](#scheduling-sbatch-memory)
		
				When reserving memory for your job by using <code>--mem</code> or <code>--mem-per-cpu</code> option, it will be considered <abbr title="Megabyte">MB</abbr> if no units are specified, otherwise use the suffix k|M|G|T denoting kibi,mebi,gibi and tebibyte as the units. By default, if no memory specifications are provided, Slurm will allocate 1G per core for your job. For example,
				specifying 
				
				<code>--mem=8G</code>
				
				tells Slurm to reserve 8 gibibyte units of memory for your job. However, specifying the following two options 
				
				<code>--mem-per-cpu=8G --ntasks=4</code>
				
				tells Slurm to allocate 8 gibibyte units of memory per core for a total of 32 gigibyte units of memory for your job.
				
				<p class="portlet-msg-info">kibi, mebi, gibi and tebibyte are terms defined as powers of 1024 where kilo, mega, giga and terabyte are defined as powers of 1000.
				
				Specifying the correct node type and amount of memory is important because your allocation is <a href="#jobaccounting">billed</a> based on the Service Unit (SU) and each SU varies with the type of node and memory being used. If you specify a node type with a larger amount of memory then you are charged accordingly even if you don&#039;t use it.
				
				The table below provides the usable memory values available for each type of node currently available on the DARWIN.
				
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th Node type                  
				%th Slurm selection options                                    
				%th RealMemory/<abbr title="Mebibtye">MiB</abbr>  
				%th RealMemory/<abbr title="Gibibtye">GiB</abbr>
			%tr
				%td Standard/512 <abbr title="Gibibtye">GiB</abbr>           
				%td <code>--partition=standard</code>
				%td 499712
				%td 488
			%tr
				%td Large Memory/1 <abbr title="Tebibtye">TiB</abbr>         
				%td <code>--partition=large-mem</code>
				%td 999424
				%td 976
			%tr
				%td Extra-Large Memory/2 <abbr title="Tebibtye">TiB</abbr>   
				%td <code>--partition=xlarge-mem</code>
				%td 2031616
				%td 1984
			%tr
				%td nVidia-T4/512 <abbr title="Gibibtye">GiB</abbr>          
				%td <code>--partition=gpu-t4</code>
				%td 499712
				%td 488
			%tr
				%td nVidia-V100/768 <abbr title="Gibibtye">GiB</abbr>        
				%td <code>--partition=gpu-v100</code>
				%td 737280
				%td 720
			%tr
				%td amd-MI50/512 <abbr title="Gibibtye">GiB</abbr>           
				%td <code>--partition=gpu-mi50</code>
				%td 499712
				%td 488
			%tr
				%td Extended Memory/3.73 <abbr title="Tebibtye">TiB</abbr>   
				%td <code>--partition=extended-mem --exclusive</code>
				%td 999424
				%td 976
			
			:markdown
				
				The <strong>Extended Memory</strong> is accessible by specifying the partition <code>extended-mem</code> and <code>exclusive</code> options.  This allows only one user on the node at a time thereby making all swap space accessible for multiple jobs running on that node at once, sharing the swap; but no other user can be on it during that time.
				
				<strong>VERY IMPORTANT:</strong> Keep in mind that not all memory can be reserved for a node due to a small amount required for system use.  As a result, the maximum amount of memory that can be specified is based on what Slurm shows as available. For example, the baseline nodes in DARWIN show a memory size of 488 <abbr title="Gibibtye">GiB</abbr> versus the 512 <abbr title="Gibibtye">GiB</abbr> of physical memory present in them. This means if you try to specify the full amount of memory (i.e. 512G) for the <code>standard</code> partition, then the job will be rejected. This will work if you specify a different partition with more memory. For example,
	
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard --mem=512G</b>
				salloc: error: Memory specification can not be satisfied
				salloc: error: Job submit/allocate failed: Requested node configuration is not available
				salloc: Job allocation 51 has been revoked.
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=large-mem --mem=512G</b>
				salloc: Granted job allocation 52
				salloc: Waiting for resource configuration
				salloc: Nodes r2l00 are ready for job
				&#91;&#40;it_css:treine&#41;@r2l00 ~&#93;$</pre>
				
				For <a href="#scheduling-sbatch-gpu">GPU nodes</a>, you must also specify one of the GPU resource option flags, otherwise your job will not be permitted to run in the GPU partitions.
				
		
		#scheduling-sbatch-exclusive
			:markdown
				### [Exclusive Access](#scheduling-sbatch-exclusive)
		
				If a job is submitted with the <code>--exclusive</code> resource, the allocated nodes cannot be shared with other running jobs.
				
				A job running on a node with <code>--exclusive</code> will block any other jobs from making use of resources on that host.
				To make sure your program is using all the cores on a node when specifying the exclusive resource, include inside the jobs scripts the <code>--ntasks</code> option i.e., <code>--ntasks=36</code>
				
				Job script example:
				
				<pre class="cmd-line">#SBATCH nodes=2
				# The exclusive flag asks to run this job only on all nodes required to fulfill requested slots
				#SBATCH --exclusive
				#SBATCH --ntasks=36
				&nbsp;
				&nbsp;
				&nbsp;
				...</pre>
				
				Also, the exclusive resource works in two different ways in Slurm on DARWIN. One is simply specifying <code>--exclusive</code> and the other way is specifying <code>--exclusive=user</code> when submitting a job. In the first method, the job is scaled up with all the resources available on the node irrespective of the requirement. However, the job will only use the number of CPUs specified by the <code>-ntasks</code> option. In the second method, specifying <code>=user</code> means multiple jobs are allowed at the same time on the same node assigned for exclusive access for the user submitting the jobs.
				
		
		#scheduling-sbatch-gpu
			:markdown
				### [GPU Nodes](#scheduling-sbatch-gpu)
		
				Jobs that will run in one of the GPU partitions must request GPU resources using ONE of the following flags:
		
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th Flag
				%th Description
			%tr
				%td <code>--gpus=&lt;count&gt;</code>
				%td &lt;count&gt; GPUs total for the job, regardless of node count
			%tr
				%td <code>--gpus-per-node=&lt;count&gt;</code>
				%td &lt;count&gt; GPUs are required on each node allocated to the job
			%tr
				%td <code>--gpus-per-socket=&lt;count&gt;</code>
				%td &lt;count&gt; GPUs are required on each socket allocated to the job
			%tr
				%td <code>--gpus-per-task=&lt;count&gt;</code>
				%td &lt;count&gt; GPUs are required for each task in the job
			
			:markdown
		
				If you do not specify one of these flags, your job will not be permitted to run in the GPU partitions.
				
				<p class="portlet-msg-alert">On DARWIN the <code>--gres</code> flag should NOT be used to request GPU resources.  The GPU type will be inferred from the partition to which the job is submitted if not specified.</p>
				
				After entering into the workgroup, GPU nodes can be requested through an interactive session using <code>salloc</code> or through batch submission using <code>sbatch</code> with an appropriate <a href="#queues">partition</a> name and one of the above <a href="#scheduling-sbatch-gpu">GPU resources flag option above</a>.
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=gpu-t4 --gpus=1</b>
				salloc: Granted job allocation 55
				salloc: Waiting for resource configuration
				salloc: Nodes r1t00 are ready for job
				&#91;&#40;it_css:bjones&#41;@r1t00 ~&#93;$ <b>nvidia-smi</b>
				Tue Apr 27 11:56:43 2021
				+-----------------------------------------------------------------------------+
				| NVIDIA-SMI 455.32.00    Driver Version: 455.32.00    CUDA Version: 11.1     |
				|-------------------------------+----------------------+----------------------+
				| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
				| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
				|                               |                      |               MIG M. |
				|===============================+======================+======================|
				|   0  Tesla T4            Off  | 00000000:81:00.0 Off |                    0 |
				| N/A   42C    P0    26W /  70W |      0MiB / 15109MiB |      0%      Default |
				|                               |                      |                  N/A |
				+-------------------------------+----------------------+----------------------+
				&nbsp;
				+-----------------------------------------------------------------------------+
				| Processes:                                                                  |
				|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
				|        ID   ID                                                   Usage      |
				|=============================================================================|
				|  No running processes found                                                 |
				+-----------------------------------------------------------------------------+
				&#91;&#40;it_css:bjones&#41;@r1t00 ~&#93;$</pre>
			
	#scheduling-interactive
		:markdown
			## [Interactive Jobs](#scheduling-interactive)
	
			As discussed, an <em>interactive job</em> allows a user to enter a sequence of commands manually.  The following qualify as being interactive jobs:
	
			* A program with a <abbr title="Graphical User Interface">GUI</abbr>:  e.g. creating graphs in Matlab
			* A program that requires manual input:  e.g. a menu-driven post-processing program
			* Any task that is more easily performed manually
	
			As far as the final bullet point goes, suppose a user has a long-running batch job and must later extract results from its output using a single command that will execute for a short time (say five minutes).  While the user could go to the effort of creating a batch job, it may be easier to just run the command interactively and visually note its output.
	
		#scheduling-interactive-start
			:markdown
				### [Submitting an Interactive Job](#scheduling-interactive-start)
		
				In Slurm, interactive jobs are submitted to the job scheduler first by using the <code>salloc</code> command specifying a partition after being in your workgroup:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard</b>
				salloc: Granted job allocation 56
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;&#40;it_css:bjones&#41;@r1n00 ~&#93;$</pre>
				
				Dissecting this text of both, we see that:
				
				1. the job was assigned a numerical <em>job identifier</em> or <em>job id</em> of 56
				1. the job is assigned to the <code>standard</code> partition with job resources tracked and <a href="#jobaccounting">billed</a> against the allocation group (workgroup),  <code>it_css</code>
				1. the job is executing on compute node <code>r1n00</code>
				1. no cores, memory or time are specified so the <a href="#queues-defaults">defaults defined for all partitions</a> is applied: 1 core, 1G and 30 minutes
				1. the final line is a shell prompt, running on <code>r1n00</code> and waiting for commands to be typed
				
				One can specify all the options that are applicable to <code>sbatch</code> in the above-mentioned table while running `salloc` command if appropriate.
				
				Here are more examples to reflect on: 
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard --mem=400G</b>
				salloc: Granted job allocation 58
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;&#40;it_css:bjones&#41;@r1n00 ~&#93;$ <b>exit</b>
				exit
				salloc: Relinquishing job allocation 58
				salloc: Job allocation 58 has been revoked.
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
	
	
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin 1201&#93;$ <b>salloc --partition=large-mem --mem=500G</b>
				salloc: Granted job allocation 59
				salloc: Waiting for resource configuration
				salloc: Nodes r2l00 are ready for job
				&#91;&#40;it_css:bjones&#41;@r2l00 1201&#93;$ <b>exit</b>
				exit
				salloc: Relinquishing job allocation 59
				salloc: Job allocation 59 has been revoked.
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				
				What is not apparent from the text for the two examples:
				
				* the shell prompt on compute node <code>r1n00</code> and <code>r2l00</code> represents different node types due to partition specified, and has as its working directory, the directory in which the <code>salloc</code> command was typed for user <code>bjones</code> in workgroup <code>it_css</code>; first example in the home directory &#039;~&#039; and second in workgroup user directory most likely <code>/lustre/it_css/users/1201</code>
				
				* memory specified as 400G or 500G is the total amount of memory needed for the job which requires specifying the appropriate partition either <code>standard</code> or <code>large-mem</code> due to <a href="#scheduling-sbatch-memory">maximum memory</a> available on a particular node type
				* if resources had not been immediately available to this job, the text would have “hung” at “<code>waiting for interactive job to be scheduled …</code>” and later resumed with the message about its being successfully scheduled
				
				
				By default, <code>salloc</code> will start a remote interactive shell on a node in the cluster.  The alternative use is to open a shell on the login node itself and execute a series of <code>srun</code> commands against that allocation:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard /bin/bash -i</b>
				salloc: Granted job allocation 60
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>srun /bin/hostname                </b>
				r1n00
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				
				The command can have arguments presented to it:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>printf &quot;%s - %s\n&quot; &quot;$(hostname)&quot; &quot;$(date)&quot;</b>
				r0login0.localdomain.hpc.udel.edu - Tue Apr 27 12:57:22 EDT 2021
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>srun /bin/bash -c 'printf &quot;%s - %s\n&quot; &quot;$(hostname)&quot; &quot;$(date)&quot;'</b>
				r1n00 - Tue Apr 27 12:57:57 EDT 2021
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				
				The <code>srun</code> command accepts the same <a href="#scheduling-sbatch-options">commonly-used options above</a> discussed for <code>sbatch</code> and <code>salloc</code>.
				
				By default, <code>salloc</code> will start a remote interactive shell on a node in the cluster.  The alternative use is to open a shell on the login node itself and execute a series of <code>srun</code> commands against that allocation:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard /bin/bash -i</b>
				salloc: Granted job allocation 61
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>srun /bin/hostname</b>
				r1n00
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				The command can have arguments presented to it:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>printf &quot;%s - %s\n&quot; &quot;$(hostname)&quot; &quot;$(date)&quot;</b>
				r0login0.localdomain.hpc.udel.edu - Tue Apr 27 12:57:22 EDT 2021
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>srun /bin/bash -c 'printf &quot;%s - %s\n&quot; &quot;$(hostname)&quot; &quot;$(date)&quot;'</b>
				r1n00 - Tue Apr 27 12:57:57 EDT 2021
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>exit</b>
				exit
				salloc: Relinquishing job allocation 61
				salloc: Job allocation 60 has been revoked.
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				Remember typing <code>exit</code> relinquishing the interactive job and other interactive jobs started within it as well. 
				
				Now another set of examples specifying two nodes and executing a series of <code>srun</code> commands against that allocation:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --partition=standard --nodes=2 /bin/bash -i</b>
				salloc: Granted job allocation 63
				salloc: Waiting for resource configuration
				salloc: Nodes r1n&#91;00-01&#93; are ready for job
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>hostname</b>
				r0login0.localdomain.hpc.udel.edu
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>srun hostname</b>
				r1n01
				r1n00
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>srun date</b>
				Tue Apr 27 13:07:56 EDT 2021
				Tue Apr 27 13:07:56 EDT 2021
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>exit</b>
				exit
				salloc: Relinquishing job allocation 63
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				Each use of <code>srun</code> inside the <code>salloc</code> session represents a <em>job step</em> and is applied to both nodes.  The first use of <code>srun</code> is job step zero (0), the second job step 1, etc.  When referring to a specific job step, the syntax is <code>&lt;job-id&gt;.&lt;job-step&gt;</code>.  The Slurm accounting and <a href="#jobaccounting">billing</a> mechanisms retain usage data for each job step as well as an aggregate for the entire job.
				
				In order to dedicate (reserve) an entire node to run your programs only, one might want to use <code>--exclusive</code> option. For more details, read about <a href="#scheduling-sbatch-exclusive">exclusive access</a>.
		
		#scheduling-interactive-name
			:markdown
				### [Naming your Job](#scheduling-interactive-name)
		
				It can be confusing if a user has many interactive jobs submitted at one time.  Taking a moment to name each interactive job according to its purpose may save the user a lot of effort later:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$ <b>salloc --job-name=test --partition=standard</b>
				salloc: Granted job allocation 67
				salloc: Waiting for resource configuration
				salloc: Nodes r1n00 are ready for job
				&#91;&#40;it_css:bjones&#41;@r1n00 ~&#93;$ <b>echo $SLURM_JOB_NAME</b>
				test
				&#91;&#40;it_css:bjones&#41;@r1n00 ~&#93;$ <b>exit</b>
				exit
				salloc: Relinquishing job allocation 67
				&#91;&#40;it_css:bjones&#41;@login00.darwin ~&#93;$</pre>
				
				The name provided with the <code>--job-name</code> command-line option will be assigned to the interactive session/job that the user started versus the default name <code>interact</code>. See <a href="#managing">Managing Jobs</a> on the sidebar for general information about commands in Slurm to manage all your jobs on DARWIN.
				
		#scheduling-interactive-vnc
			:markdown
				### [Launching GUI Applications (VNC for X11 Applications)](#scheduling-interactive-vnc)
		
				Please review <a href="https://docs.hpc.udel.edu/technical/recipes/vnc-usage"> using VNC for X11 Applications</a> as an alternative to X11 Forwarding.
		
		#scheduling-interactive-x11
			:markdown
				### [Launching GUI Applications (X11 Forwarding)](#scheduling-interactive-x11)
		
				We can launch <abbr title="Graphical User Interface">GUI</abbr> applications on the DARWIN using X-forwarding technique. However, there are some pre-requisites required in order to launch <abbr title="Graphical User Interface">GUI</abbr> applications using X-forwarding.
				
				For Windows <abbr title="Operating System">OS</abbr>, Xming is an X11 display server which must be installed and running on Windows (Windows XP and later) and a PuTTY session must configured with X11 before launching <abbr title="Graphical User Interface">GUI</abbr> applications on DARWIN. For help on configuring a PuTTY session with X11 see  <a href="http://www.udel.edu/it/research/training/config_laptop/puTTY.shtml">X-Windows (X11) and SSH document</a> for Windows desktop use.
				
				For Mac <abbr title="Operating System">OS</abbr>, SSH connection has to be started with -Y argument, <code>ssh -Y darwin.hpc.udel.edu</code> and XQuartz an X11 display server much be installed and running.
				
				Once a SSH connection is established using X11 (and an X11 display server is running, Xming or XQuartz), below are the steps to be followed to test the session.
				
				Type:
				
				<pre class="cmd-line">&#91;bjones@login01.darwin ~&#93;$ <b>workgroup -g it_css</pre></b>
				
				Type:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login01.darwin ~&#93;$ <b>echo $DISPLAY</b>
				localhost:13.0</pre>
				
				Check if the current session is being run with X11 using <code>xdpyinfo | grep display</code> and the name of the display should match the output above.
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login01.darwin ~&#93;$ <b>xdpyinfo | grep display</b>
				name of display:    localhost:13.0</pre>
				<p class="portlet-msg-alert">If the current session is <strong>not</strong> being run with X11 then you will like get an error. Below is an example of an error when Xming was not running for a Windows PuTTY session:<pre class="cmd-line">$ xdpyinfo | grep display
				PuTTY X11 proxy: unable to connect to forwarded X server: Network error: Connection refused
				xdpyinfo:  unable to open display &quot;localhost:10.0&quot;.</pre>
				
				Once we confirm the session is properly configured with X11 forwarding, now we are ready to launch a <abbr title="Graphical User Interface">GUI</abbr> application on the compute node.
				
				Type:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login01.darwin ~&#93;$ <b>salloc --x11 -N1 -n1 --partition=standard</b>
				salloc: Granted job allocation 76
				salloc: Waiting for resource configuration
				salloc: Nodes r1n02 are ready for job
				&#91;&#40;it_css:bjones&#41;@r1n02 ~&#93;$</pre>
				
				This will launch an interactive job on one of the compute nodes in the <code>standard</code> partition, in this case <code>r1n02</code>, with default options of one cpu (core), 1 <abbr title="Gigabyte">GB</abbr> of memory and 30 minutes time.
				
				Now the compute node and environment will be ready to launch any program that has a <abbr title="Graphical User Interface">GUI</abbr> (Graphical User Interface) and be displayed on your local computer display.
				
				<p class="portlet-msg-alert">The X11 protocol was never meant to handle graphically (in terms of bitmaps/textures) intensive operations especially over a wireless network. In general, a significant latency will be noticed while running <abbr title="Graphical User Interface">GUI</abbr> applications using X11 on Linux/Unix systems and basically unusable when on a wireless network.
				
				
				Additionally, the <code>--x11</code> argument can be augmented in this fashion <code>--x11=[batch|first|last|all]</code> to the following effects:
				
				* <code>--x11=first</code> This is the default, and provides X11 forwarding to the first compute hosts allocated.
				* <code>--x11=last</code> This provides X11 forwarding to the last of the compute hosts allocated.
				* <code>--x11=all</code> This provides X11 forwarding from all allocated compute hosts, which can be quite resource heavy and is an extremely rare use-case.
				* <code>--x11=batch</code> This supports use in a batch job submission, and will provide X11 forwarding to the first node allocated to a batch job. 
				
				These options can be used and further tested using the above <code>display</code> OR $DISPLAY commands. 
				
	#scheduling-batch
		:markdown
			## [Batch Jobs (Script)](#scheduling-batch)
	
			As with <code>sbatch</code> under Slurm, the flags inside comments may be overridden by values on the <code>sbatch</code> command line.  The job script must:
	
			* use Unix-style newlines
			* have its executable bit set (e.g. using the <code>chmod u+x</code> command)
			* have the interpreting shell <a href="https://en.wikipedia.org/wiki/Shebang_(Unix)">shebang</a> present on its first line
	
			A collection of job script <a href="https://docs.hpc.udel.edu/technical/slurm/darwin/templates/start">templates</a> are maintained by the IT-HPC staff in the <code>/opt/shared/templates</code> directory on DARWIN.  All templates therein are written for the Bash shell (the default shell on Linux).
	
		
		#scheduling-batch-submitting
			:markdown
				### [Submitting the Job](#scheduling-batch-submitting)
		
				Batch jobs are submitted to the job scheduler using the <code>sbatch</code> command:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch job_script_01.qs </b>
				Submitted batch job 1146</pre>
				
				Notice that the job name defaults to being the name of the job script; as discussed in the previous section, a job name can also be explicitly provided
				
				<dl class="file">
				<dt>job_script_02.qs</dt>
				<dd><pre class="code file bash">#SBATCH --job-name=testing002
				#SBATCH --output=my_job_op%j.txt
				&nbsp;
				echo &quot;Hello, world.&quot;</pre>
				</dd></dl>
		
		
		#scheduling-batch-cli
			:markdown
				### [Specifying Options on the Command Line](#scheduling-batch-cli)
		
				It has already been demonstrated that command-line options to the <code>sbatch</code> command can be embedded in a job script.  Likewise, the options can be specified on the command line.  For example:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch --output 'output%j.txt' job_script_02.qs  //After entering into workgroup</b>
				Submitted batch job 1158</pre>
				
				The <code>--output</code> option was provided in the queue script <em class="u">and</em> on the command line itself:  Slurm will honor options from the command line in preference to those embedded in the script.  Thus, in this case the “<code>output%j.txt</code>” provided on the command line overrode the “<code>my_job_op%h.txt</code>” from the job script.
				
				The <code>sbatch</code> command has many options available, all of which are documented in its man page.  A few of the often-used options will be discussed here.
				
				
				<h4 id="default-options">Default Options</h4>
				
				There are several default options that are automatically added to every <code>sbatch</code> by Slurm as well as default resource requirements supplied, however an explanation of each is beyond the scope of this section.  Providing an alternate value for any of these arguments – in the job script or on the <code>sbatch</code> command line – overrides the default value.
				
				<h4 id="email-notifications">Email Notifications</h4>
				
				Since batch jobs can run unattended, the user may want to be notified of status changes for a job:  when the job begins executing; when the job finishes; or if the job was killed.  Slurm will deliver such notifications (as emails) to a job&#039;s owner if the owner requests them using the <code>--mail-user</code> option:
				
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th Option
				%th Description
			%tr
				%td <code>--mail-user=<em>&lt;email-address&gt;</em></code>
				%td deliver state-change notification emails to this address
			%tr
				%td <code>--mail-type=<em>&lt;state&gt;{,&lt;state&gt;..}</em></code>
				%td deliver notification emails when the job enters the state(s) indicated
			%tr
				%td <code>--requeue</code>
				%td if this job is preempted by a higher-priority job, automatically resubmit it to execute again using the same parameters and job script
			
		
			:markdown
				Consult the man page for the <code>sbatch</code> command for a deeper discussion of each of the <code>--mail-type</code> states.  Valid state names are NONE, BEGIN, END, FAIL, REQUEUE, ALL, TIME_LIMIT_50, TIME_LIMIT_80, TIME_LIMIT_90, TIME_LIMIT, ARRAY_TASKS.  The time limit states with numbers indicate a percentage of the full runtime:  so enabling TIME_LIMIT_50 will see an email notification being delivered once 50% of the job&#039;s maximum runtime has elapsed.
		
		
		#scheduling-batch-signals
			:markdown
				### [Handling System Signals aka Checkpointing](#scheduling-batch-signals)
		
				Generally, there are two possible cases when jobs are killed: (1) preemption and (2) walltime configured within the jobs script has elapsed. Checkpointing can be used to intercept and handle the system signals in each of these cases to write out a restart file, perform the cleanup or backup operations, or any other tasks before the job gets killed. Of course, this depends on whether or not the application or software you are using is checkpoint enabled.
				
				<p class="portlet-msg-alert">Please review the comments provided in the Slurm job script templates available in <code>/opt/shared/templates</code> that demonstrates the ways to trap these signals.
				
				
				“TERM” is the most common system signal that is triggered in both the above cases. However, there is a working logic behind the preemption of job which works as below.
				
				When a job gets submitted to a workgroup-specific partition and resources are tied up by jobs in the <code>idle</code> partition, the jobs in the <code>idle</code> partition will be preempted to make way.  Slurm sends a preemption signal to the job (SIGCONT followed by SIGTERM) then waits for a grace period (5 minutes) before signaling again (SIGCONT followed by SIGTERM) then killing it (SIGKILL).  However, if the job is able to simply be re-run as-is, the user can submit with <code>--requeue</code> to indicate that a <code>idle</code> job that was preempted should be rerun on the <code>idle</code> partition (possibly restarting immediately on different nodes, otherwise it will need to wait for resources to become available).
				
				For example, using the logic provided in one of the Slurm job script templates, one can catch these signals during the preemption and handle them by performing the cleanup or backing up the job results operations as follows. 
				
				<pre class="cmd-line">#SBATCH --partition=idle
				#SBATCH --job-name=&quot;atest&quot;
				#SBATCH --nodes=1
				#SBATCH --ntasks-per-node=8
				#SBATCH --time=00:02:00
				#SBATCH -o stdout.%j
				#SBATCH -e stderr.%j
				#SBATCH --export=ALL
				&nbsp;
				#
				# [EDIT] Define a Bash function and set this variable to its
				#        name if you want to have the function called when the
				#        job terminates (time limit reached or job preempted).
				#
				job_exit_handler&#40;&#41; &#123;
				  # Copy all our output files back to the original job directory:
				  cp * &quot;$SLURM_SUBMIT_DIR&quot;
				&nbsp;
				  # Don't call again on EXIT signal, please:
				  trap - EXIT
				  exit 0
				&#125;
				export UD_JOB_EXIT_FN=job_exit_handler
				&nbsp;
				&nbsp;
				#
				# [EDIT] By default, the function defined above is registered
				#        to respond to the SIGTERM signal that Slurm sends
				#        when jobs reach their runtime limit or are
				#        preempted.  You can override with your own signals
				#        list of signals using this variable -- as in this
				#        example, which registers for both SIGTERM and the
				#        EXIT pseudo-signal that Bash calls when the script
				#        ends.  In effect, no matter whether the job is
				#        terminated or completes, the UD_JOB_EXIT_FN will be
				#        called.
				#
				export UD_JOB_EXIT_FN_SIGNALS=&quot;SIGTERM EXIT&quot;
				&nbsp;
				#Do your normal work here
				UD_EXEC python test.py</pre>
				
				To <a href="https://docs.hpc.udel.edu/technical/slurm/darwin/templates/start#signal-handling">catch signals</a> asynchronously in Bash, you have to run commands in the background and “wait” for them to complete.  This is why the <a href="https://docs.hpc.udel.edu/technical/slurm/darwin/templates/start">templates</a> includes a shell function named <abbr title="University of Delaware">UD</abbr>_EXEC when you set <abbr title="University of Delaware">UD</abbr>_JOB_EXIT_FN to a trap function name. 
				
				If you implement the restart logic at the start of the script, then you can avoid the signal stuff entirely by using the <code>--requeue</code> option with <code>sbatch</code>. Using this option tells Slurm when the job is preempted, it will automatically be moved back into the queue to execute again.
				
				
		#scheduling-batch-output
			:markdown
				### [Job Output](#scheduling-batch-output)
		
				Equally as important as executing the job is capturing any output produced by the job.  By default, all the output(stdout and stderr) is sent to a single file that output file is named according to the formula
				
				<pre class="cmd-line">slurm-&#91;job id&#93;.out</pre>
				
				For the weather-processing example above, the output would be found in
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch process_weather.qs</b>
				Submitted batch job 1158
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ 
				#
				#   ... some time goes by ...
				#
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>ls *.o*</b>
				slurm-1158.out</pre>
				<p class="portlet-msg-info">In the job script itself it is often counterproductive to redirect a constituent command&#039;s output to a file.  Allowing all output to stdout/stderr to be directed to the file provided by Slurm automatically provides a degree of “versioning” of all runs of the job by way of the <code>-[job id]</code> suffix on the output file&#039;s name.
				
				The name of the output file can be overridden using the <code>–output</code> command-line option to <code>sbatch</code>.  The argument to this option is the name of the file, possibly containing special characters that will be replaced by the job id, job name, etc.  See the <code>sbatch</code> man page for a complete description.
				
				In order to redirect the error output to a separate file(by default stdout and stderr directed to the same file), <code>–error</code> option can be used and is then directed to a file named as per the naming convention provided. 
				
		
		#scheduling-batch-arrayjobs
			:markdown
				### [Array Jobs](#scheduling-batch-arrayjobs)
		
				An array job essentially runs the same job by generating a new repeated task many times. Each time, the environment variable <strong>SLURM_ARRAY_TASK_ID</strong> is set to a unique value and its value provides input to the job submission script.
				
				The <code>%A_%a</code> construct in the output and error file names is used to generate unique output and error files based on the master job ID (<code>%A</code>) and the array-tasks ID (<code>%a</code>). In this fashion, each array-tasks will be able to write to its own output and error file.
				
				Example: #SBATCH –output=arrayJob_%A_%a.out
				
				<p class="portlet-msg-info">The <code>SLURM_ARRAY_TASK_ID</code> is the key to make the array jobs useful.  Use it in your bash script, or pass it as a parameter so your program can decide how to complete the assigned task.
				
				For example, the <code>SLURM_ARRAY_TASK_ID</code> sequence values of 2, 4, 6, … , 5000 might be passed as an initial data value to 2500 repetitions of a simulation model. Alternatively, each iteration (task) of a job might use a different data file with filenames of <code>data$SLURM_ARRAY_TASK_ID</code> (i.e., data1, data2, data3, &#039;, data2000).
				
				
				The general form of the <strong>SBATCH</strong> option is:
				
				–array=   <em>start_value</em> - <em>stop_value</em> : <em>step_size</em>
				
				with a step size of 2. For example, the option would be:
				
				–array=1-7:2
				
				with index values of 1,2,5,19,27:
				
				–array=1,2,5,19,27
				
		
		#scheduling-batch-chaining
			:markdown
				### [Chaining Jobs](#scheduling-batch-chaining)
		
				If you have a multiple jobs where you want to automatically run other job(s) after the execution of another job, then you can use chaining. When you chain jobs, remember to check the status of the other job to determine if it successfully completed. This will prevent the system from flooding the scheduler with failed jobs.  Here is a simple chaining example with three job scripts <code>doThing1.qs</code>, <code>doThing2.qs</code> and <code>doThing3.qs</code>.
				
				The running of a job can be held until a particular job completes. This can be done so as to not to “hog” resources or because the output of one job is needed as input for the second. Job dependencies are used to defer the start of a job until the specified dependencies have been satisfied. They are specified with the <code>--dependency</code> option to <code>sbatch</code> in the format.
				
				The <code>--dependency</code> portion of <code>sbatch</code> man page lists the flags that are to be used to implement chain jobs. “type” in the below format indicates the flags to be used to establish dependency.
				
				<pre class="cmd-line">sbatch --dependency=&lt;type:job_id&#91;:job_id&#93;&#91;,type:job_id&#91;:job_id&#93;&#93;&gt; ...</pre>
				
				The following do1.qs script does 3 important things.
				
				* If first sleeps for 30 seconds. This gives us time to start dependent jobs.
				* Does an <code>ls</code> of a non existent file. There is a non-zero exit code for this command.
				* Runs the “hello world” program phostname
				
				<dl class="code">
				<dt>do1.qs</dt>
				<dd><pre class="code">#!/bin/bash
				#SBATCH --job-name=&quot;atest&quot;
				#SBATCH --nodes=1
				#SBATCH --ntasks-per-node=8
				#SBATCH --time=00:02:00
				#SBATCH -o stdout.%j
				#SBATCH -e stderr.%j
				#SBATCH --export=ALL
				
				#----------------------
				cd $SLURM_SUBMIT_DIR
				date
				srun -n 8 sleep 30
				date
				
				ls this_file_does_not_exist
				
				srun -n 8 /opt/utility/phostname -F</pre>
				</dd></dl>
				
				The same script can be run multiple times to demonstrate the dependency option. <code>afterok</code> and <code>afterany</code> options are used for this purpose to establish dependency.
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch -p debug do1.qs</b>
				Submitted batch job 36805
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch --dependency=afterany:36805 do1.qs </b>
				Submitted batch job 36806
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch --dependency=afterok:36805 do1.qs </b>
				Submitted batch job 36807</pre>
				
				Job 36806 will only start after the intial run i.e., 36805 has finished execution irrespective of its exit status. This is implemented using <code>afterany</code> flag in the <code>sbatch</code> command. In the other case, job 36807 will start only after the first run i.e., 36805 finishes successfully (runs to completion with an exit code of zero).
				
				The result of “ls” command will not affect the overall status of the job. So it might not always be sufficient to just use <code>afterok</code> in chaining jobs. The other option is that you can manually check the error status of individual commands within a script: The error status for a command is held in the variable $?. This can be checked and we can then force the script to exit. For example we can add the line
				
				<pre class="cmd-line">if &#91; $? -ne 0 &#93; ; then ; exit 1234 ;fi </pre>
				<dl class="code">
				<dt>do1.qs</dt>
				<dd><pre class="code">#!/bin/bash
				#SBATCH --job-name=&quot;atest&quot;
				#SBATCH --nodes=1
				#SBATCH --ntasks-per-node=8
				#SBATCH --time=00:02:00
				#SBATCH -o stdout.%j
				#SBATCH -e stderr.%j
				#SBATCH --export=ALL
				
				#----------------------
				cd $SLURM_SUBMIT_DIR
				date
				srun -n 8 sleep 30
				date
				
				ls this_file_does_not_exist
				if [ $? -ne 0 ] ; then ; exit 1234 ;fi
				
				srun -n 8 /opt/utility/phostname -F</pre>
				</dd></dl>
				
				Now, job 36807 will not run after submission as an initial run i.e., 36805 will now exit with a non-zero status because of the <code>if</code> condition included in the above script.
				
				This is how chain jobs can be implemented using <code>dependency</code> option.
			
	#scheduling-parallel
		:markdown
			## [Running Jobs with Parallelism](#scheduling-parallel)
			
			The interactive and batch jobs discussed thus far have all been <em>serial</em> in nature:  they exist as a sequence of instructions executed in order on a single CPU core.  Many problems solved on a computer can be solved more quickly by breaking the job into pieces that can be solved concurrently.  If one worker moves a pile of bricks from point A to point B in 30 minutes, then employing a second worker to carry bricks should see the job completed in just 15 minutes.  Adding a third worker should decrease the time to 10 minutes.  <em>Job parallelism</em> likewise coordinates between multiple serial workers to finish a computation more quickly than if it had been done by a single worker.  Parallelism can take many forms, the two most prevalent being threading and message passing.  Popular implementations of threading and message passing are the <a href="http://openmp.org/wp/">OpenMP</a> and <a href="http://www.mpi-forum.org/">MPI</a> standards.
			
			Sometimes a more loosely-coupled form of parallelism can be used by a job.  Suppose a user has a collection of 100 files, each containing the full text of a novel.  The user would like to run a program for each file that counts the number of gerunds occurring in the text.  The counting program is a simple serial program, but the task can be completed more quickly by analyzing many files concurrently.  This form of parallelism requires no threading or message passing, and in Slurm parlance is called an <em><a href="#array-jobs">array job</a></em>.
			
			Need help? See <a href="http://www.hpc.udel.edu/presentations/intro_to_slurm/">Introduction to Slurm</a> in <abbr title="University of Delaware">UD</abbr>&#039;s HPC community cluster environment.
			
		#scheduling-parallel-threads
			:markdown
				### [Threads](#scheduling-parallel-threads)
		
				Programs that use OpenMP or some other form of thread parallelism should use the “threads” parallel environment.  This environment logically limits jobs to run on a single node only, which in turn limits the maximum number of workers to be the CPU core count for a node.
		
				For more details, please look at the job script template <code>/opt/shared/templates/slurm/generic/thread.qs</code>.
		
		#scheduling-parallel-mpi
			:markdown
				### [MPI](#scheduling-parallel-mpi)
		
				It is the user&#039;s responsibility to setup the <abbr title="Message Passing Interface">MPI</abbr> environment before running the actual <abbr title="Message Passing Interface">MPI</abbr> job. The job script template found in <code>/opt/shared/templates/slurm/generic/mpi/mpi.qs</code> will setup your job requiring a generic <abbr title="Message Passing Interface">MPI</abbr> parallel environment.  This parallel environment spans multiple nodes and allocates workers by “filling-up” one node before moving on. Slurm looks for the <code>--ntasks-per-node</code> to restrict the allocations per node as part of the filling-up strategy. If it is not specified, then the default way of filling-up proceeds.  When a job starts an <abbr title="Message Passing Interface">MPI</abbr> “machines” file is automatically manufactured and placed in the job&#039;s temporary directory at <code>${TMPDIR}/machines</code>.  This file should be copied to a job&#039;s working directory or passed directly to the <code>mpirun</code>/<code>mpiexec</code> command used to execute the <abbr title="Message Passing Interface">MPI</abbr> program.
		
				<p class="portlet-msg-alert">Software that uses <abbr title="Message Passing Interface">MPI</abbr> but is not started using <code>mpirun</code> or <code>mpiexec</code> will often have arguments or environment variables which can be set to indicate on which hosts the job should run or what file to consult for that list.  Please consult software manuals and online support resources before contacting <abbr title="University of Delaware">UD</abbr>-IT for help determining how to pass this information to the program.
		
		#scheduling-parallel-submitting
			:markdown
				### [Submitting a Parallel Job](#scheduling-parallel-submitting)
		
				Like choosing the parallel environment in Grid Engine, choosing the appropriate number of tasks, threads, and CPUs required for the job is an important step in Slurm. A lot of information has been documented as comments in the template job scripts for your better understanding. In addition, below are few Slurm arguments that hold more weight while running a parallel job.
		
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th Options
				%th Description
			%tr
				%td <code>--nodes=<em>&lt;#&gt;</em></code>
				%td execute the command on this many distinct nodes
			%tr
				%td <code>--ntasks=<em>&lt;#&gt;</em></code>
				%td execute this many copies of the command
			%tr
				%td <code>--ntasks-per-node=<em>&lt;#&gt;</em></code>
				%td execute this many copies of the command on each distinct node
			%tr
				%td <code>--cpus-per-task=<em>&lt;#&gt;</em></code>
				%td each copy of the command should have this many CPU cores allocated to it
			%tr
				%td <code>--mem=<em>&lt;#&gt;</em></code>
				%td total amount of real memory to allocate to the job
			%tr
				%td <code>--mem-per-cpu=<em>&lt;#&gt;</em></code>
				%td amount of memory to allocate to each CPU core allocated to the job
		
			:markdown
		
				Understanding or having a clear picture of the differences between these arguments is necessary to freely work with parallel jobs.
				
				<p class="portlet-msg-info">Using <code>--nodes</code> option with <code>--tasks-per-node</code> will be equivalent to mentioning the  <code>--ntasks</code> as number of hosts * number of tasks per node will give the total number of tasks that the problem has been divided into.</p>
				
				When a parallel job executes, the following environment variables will be set by Slurm:
				
		%table(border="1" cellspacing="5" cellpadding="3")
			%tr
				%th Variable
				%th Description
			%tr
				%td <code>SLURM_CPUS_PER_TASK</code>
				%td The number of slots granted to the job.  OpenMP jobs should assign the value of <code>$SLURM_CPUS_PER_TASK</code> to the <code><abbr title="OpenMP">OMP</abbr>_NUM_THREADS</code> environment variable, for example.
			%tr
				%td <code>SLURM_JOB_NODELIST</code>
				%td List of nodes allocated to the job.
			%tr
				%td <code>SLURM_TASKS_PER_NODE</code>
				%td Number of tasks to be initiated on each node
					
			:markdown
				The mechanism by which you can spread your job across nodes is a bit more complex.  If your <abbr title="Message Passing Interface">MPI</abbr> job wants N CPUs and you&#039;re willing to have as few as M of them running per node, then the maximum node count is µ=⌈N/M⌉.
				
				<pre class="code">sbatch --nodes=1-&lt;µ&gt; --ntasks=&lt;N&gt; --cpus-per-task=1 ...</pre>
				
				Order is significant, so for N=20 and you are willing to run 6 or more per node, then use
				
				<pre class="code">sbatch --nodes=1-4 --ntasks=20 --cpus-per-task=1 ...</pre>
				
				Do not rely on the output of <code>scontrol show job</code> or <code>squeue</code> with regard to the node count while the job is pending; it will not be accurate.  Only once the job is scheduled will it show the actual value.
				
				For example,
				
				<pre class="code">    $ sbatch --nodes=3-40 --ntasks=80 --cpus-per-task=1
				    #!/bin/bash
				
				    env
				
				    Submitted batch job 701892
				
				    $ scontrol show job 701892
				    JobId=701892 JobName=sbatch
				       UserId=frey(1001) GroupId=everyone(900) MCS_label=N/A
				       Priority=5961 Nice=0 Account=it_nss QOS=normal
				       JobState=PENDING Reason=Resources Dependency=(null)
				         :
				       NumNodes=9-40 NumCPUs=80 NumTasks=80 CPUs/Task=1 ReqB:S:C:T=0:0:*:*
				
				    ....some time goes by....
				
				    $ scontrol show job 701892
				    JobId=701892 JobName=sbatch
				       UserId=frey(1001) GroupId=everyone(900) MCS_label=N/A
				       Priority=5961 Nice=0 Account=it_nss QOS=normal
				       JobState=COMPLETED Reason=None Dependency=(null)
				         :
				       NumNodes=5 NumCPUs=80 NumTasks=80 CPUs/Task=1 ReqB:S:C:T=0:0:*:*</pre>
				
				
				The scheduler found 5 nodes with 80 free CPUs (1@r00n17, 35@r01n03, 35@r01n12, 8@r01n16, 1@r01n50):
				
				<pre class="code">    SLURM_NTASKS=80
				    SLURM_TASKS_PER_NODE=1,35(x2),8,1
				    SLURM_NODELIST=r00n17,r01n[03,12,16,50]
				    SLURMD_NODENAME=r00n17</pre>
				
		#scheduling-parallel-templates
			:markdown
				### [Job Templates](#scheduling-parallel-templates)
		
				Detailed information pertaining to individual kinds of parallel jobs  are provided by <abbr title="University of Delaware">UD</abbr> IT in a collection of job template scripts on a per-cluster basis under the <code>/opt/shared/templates/slurm/generic</code> directory.  For example, on DARWIN this directory looks like:
				
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 generic&#93;$ <b>ls -l</b>
				total 31
				drwxr-sr-x 5 frey sysadmin    5 Sep 14 09:36 mpi
				-rwxr-xr-x 1 frey sysadmin 5016 Oct 29 10:06 serial.qs
				-rwxr-xr-x 1 frey sysadmin 5438 Jan 14 11:53 threads.qs</pre>
				
				The directory layout is self-explanatory:  script templates specific for all <abbr title="Message Passing Interface">MPI</abbr> jobs can be found in the <code>mpi</code> directory; Open <abbr title="Message Passing Interface">MPI</abbr> is in the <code>openmpi</code> directory, generic <abbr title="Message Passing Interface">MPI</abbr> in the <code>generic</code> directory, and MPICH can be found in the <code>mpich</code> directory (all under the <code>mpi</code> directory; a template for serial jobs is <code>serial.qs</code> and <code>threads.qs</code> should be used for OpenMP jobs. These scripts are heavily documented to aid in users&#039; choice of appropriate templates and are updated as we uncover best practices and performance issues.  Please copy a script templates for new projects rather than potentially using an older version from a previous project. See <a href="https://docs.hpc.udel.edu/technical/slurm/templates/start">DARWIN Slurm Job Script Templates</a> for more details.
				
				Need help? See <a href="http://www.hpc.udel.edu/presentations/intro_to_slurm/">Introduction to Slurm</a> in <abbr title="University of Delaware">UD</abbr>&#039;s HPC community cluster environment.
				
				
		#scheduling-parallel-arrayjobs
			:markdown
				### [Array Jobs](#scheduling-parallel-arrayjobs)
		
				Hearkening back to the text-processing example cited above, the analysis of each of the 100 files could be performed by submitting 100 separate jobs to Slurm, each modified to work on a different file.  Using an array job helps to automate this task:  each <em>sub-task</em> of the array job is gets assigned a unique integer identifier.  Each sub-task can find its sub-task identifier in the <code>SLURM_ARRAY_TASK_ID</code> environment variable.  
				
				Consider the following:
				
				<pre class="job-script">
				#!/bin/bash
				&nbsp;
				#SBATCH --job-name=arrayJob
				#SBATCH --output=arrayJob_%A_%a.out
				#SBATCH --error=arrayJob_%A_%a.err
				#SBATCH --array=1-16
				#SBATCH --time=01:00:00
				#SBATCH --ntasks=1
				&nbsp;
				######################
				# Begin work section #
				######################
				&nbsp;
				# Print this sub-job's task ID
				echo &quot;My Task ID is : &quot; $SLURM_ARRAY_TASK_ID
				&nbsp;
				# Do some work based on the SLURM_ARRAY_TASK_ID
				# For example: 
				# ./my_process $SLURM_ARRAY_TASK_ID
				# 
				# where my_process is your executable.</pre>
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>sbatch --array=1-14 array_demo.qs</b>
				Submitted batch job 1176
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>...time passes...</b>
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>ls -1 arrayJob_*</b>
				arrayJob_1176_1
				arrayJob_1176_2
				arrayJob_1176_3
				arrayJob_1176_4
				&#91;&#40;it_css:bjones&#41;@login00 it_css&#93;$ <b>cat arrayJob_1176_3</b>
				My Task ID is : 82709.3</pre>
				
				Four sub-tasks are executed, numbered from 1 through 4.  The starting index must be greater than zero, and the ending index must be greater than or equal to the starting index.  The <em>step size</em> going from one index to the next defaults to one, but can be any positive integer greater than zero.  A step size is appended to the sub-task range as in <code>2-20:2</code> – proceed from 2 up to 20 in steps of 2, e.g. 2, 4, 6, 8, 10, et al.
				
				<p class="portlet-msg-alert">The default <a href="https://docs.hpc.udel.edu/technical/slurm/arraysize-and-nodecounts#job-array-size-limits">job array size limits</a> for Slurm are used on DARWIN to avoid oversubscribing the scheduler node&#039;s own resource limits (causing scheduling to become sluggish or even unresponsive). 
				
				
		#scheduling-parallel-partitioning
			:markdown
				### [Partitioning Job Data](#scheduling-parallel-partitioning)
		
				There are essentially two methods for partitioning input data for array jobs.  Both methods make use of the sub-task identifier in locating the input for a particular sub-task.
				
				If 100 novels were in files with names fitting the pattern <code>novel_</code><code>sub-task-id</code><code>.txt</code> then the analysis could be performed with the following job script <code>gerund_array.qs</code> :
				
				<pre class="cmd-line">#!/bin/bash
				&nbsp;
				#SBATCH --job-name=gerunds
				#SBATCH --output=gerund_count_%a.out
				#SBATCH --time=01:00:00
				#SBATCH --ntasks=1
				&nbsp;
				######################
				# Begin work section #
				######################
				&nbsp;
				# Count gerunds in the file:
				./gerund_count &quot;novel_${SLURM_ARRAY_TASK_ID}.txt&quot;</pre>
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 novels&#93;$ <b>sbatch --array=1-100 gerund_array.qs</b>
				Submitted batch job 1176</pre>
				
				When complete, the job will produce 100 files named <code>gerund_count_</code><code>sub-task-id</code> where the <code>sub-task-id</code> collates the results to the input files.
				
				An alternate method of organizing the chaos associated with large array jobs is to partition the data in directories:  the sub-task identifier is not applied to the filenames but is used to set the working directory for each sub-task. With this kind of logic, the job script<code>gerund_arrays.qs</code> looks like:
				
				<pre class="cmd-line">#!/bin/bash
				&nbsp;
				#SBATCH --job-name=gerunds
				#SBATCH --output=gerund_count.out
				#SBATCH --time=01:00:00
				#SBATCH --ntasks=1
				&nbsp;
				######################
				# Begin work section #
				######################
				&nbsp;
				cd ${SLURM_ARRAY_TASK_ID}
				../gerund_count novel.txt &gt; gerund_count</pre>
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 novels&#93;$ <b>sbatch --array=1-100 gerund_array.qs</b>
				Submitted batch job 1177</pre>
				
				
				When complete, each directory will have a file named <code>gerund_count</code> containing the output of the <code>gerund_count</code> command.
				
				<h4 id="using-an-index-file">Using an Index File</h4>
				
				The partitioning scheme can be as complex as the user desires.  If the directories were not named “1”  through “100” but instead used the name of the novel contained within, an index file could be created containing the directory names, one per line:
				
				<pre class="code">Great_Expectations
				Atlas_Shrugged
				The_Great_Gatsby
				  :</pre>
				
				The job submission script <code>gerund_array.qs</code> might then look like:
				
				<pre class="cmd-line">#!/bin/bash
				&nbsp;
				#SBATCH --job-name=gerunds
				#SBATCH --output=gerund_count.out
				#SBATCH --time=01:00:00
				#SBATCH --ntasks=1
				&nbsp;
				######################
				# Begin work section #
				######################
				&nbsp;
				NOVEL_FOR_TASK=`sed -n ${SLURM_ARRAY_TASK_ID}p index.txt`
				cd $NOVEL_FOR_TASK
				../gerund_count novel.txt &gt; gerund_count</pre>
				<pre class="cmd-line">&#91;&#40;it_css:bjones&#41;@login00 novels&#93;$ <b>sbatch --array=1-100 gerund_array.qs</b>
				Submitted batch job 1178</pre>
				
				The <code>sed</code> command selects a single line of the <code>index.txt</code> file; for sub-task 1 the first line is selected, sub-task 2 the second line, etc.
				
