#status
	:markdown
		# [System Status](#status)

		There is no need for an opt-in node status notification service on DARWIN because there are no specific nodes assigned to a research workgroup partition for their jobs.  All nodes of a particular node type will be available to a workgroup partition, if the research group invested (purchased) that particular node type.  For example, say a research group purchased 1 standard node, 1 large memory node with 512 <abbr title="Gigabyte">GB</abbr> and 1 GPU node, then the workgroup partition for this research group would consist of all standard nodes, all nodes with 512 <abbr title="Gigabyte">GB</abbr> and all GPU nodes as the available resources to allocated for their jobs.

		**Machine Information**: <a href="http://www.hpc.udel.edu/systems/darwin">UD IT HPC</a> has DARWIN machine information: attributes including a database of node information, milestones, offline nodes and nodes disabled for maintenance.

		**Ganglia Cluster Monitoring**: <a href="http://ganglia.darwin.hpc.udel.edu/">Cluster monitoring</a> for DARWIN uses <a href="http://ganglia.sourceforge.net/">Ganglia</a> to monitor its hardware components.

