<span style="font-size:225%; font-weight:bold;">XSEDE Storage Resources</span><br>
<em>Last update: August 23, 2021</em>
%p
#top
	:markdown
		XSEDE offers storage to satisfy most users' practical needs. Several XSEDE service providers host storage platforms providing services such as data management, data collections hosting, and large-scale persistent storage. XSEDE provides storage allocations both in support of compute/visualization usage and storage independent of those compute/visualization allocations. Researchers may request data storage allocations for short- and long-term storage and for staging of data collections on disk. 

		You may request a storage allocation through the [XSEDE Resource Allocation System](https://portal.xsede.org/group/xup/submit-request) (XRAS), the same service used to request XSEDE compute, visualization and storage resources.

#storage-types
	:markdown
		# [Storage Types](storage-types)

		XSEDE users have access to three types of storage.

		1. **Archival Storage**: Archival storage on XSEDE systems is typically used for large-scale persistent storage requested in conjunction with compute and visualization resources. Archival storage is usually not backed up. Users will need to explicitly request these resources in their request as has been done for compute and visualization requests through XRAS.

		2. **Stand-alone Storage**: Stand-alone storage allows storage allocations independent of a compute/visualization allocation. Data hosting and data preservation projects may have stand-alone storage needs. PIs may request stand-alone storage on any of the XSEDE storage systems detailed in [Table 1](#table1) below.

		3. **Resource file system storage**: All XSEDE compute/visualization allocations include access to limited disk and scratch space on the compute/visualization resource file systems to accomplish project goals.

#storage-allocatable
	:markdown
		# [Archival and Stand-alone Storage](#storage-allocatable)

		The following table lists XSEDE allocatable archival and stand-alone storage systems available to XSEDE users. Storage on these systems must be requested along with compute and visualization requests through XRAS. Currently, the only stand-alone storage resource is the TACC Ranch storage resource.

		As with compute and visualization allocations, storage allocation durations will be one year with the option to renew for subsequent one-year periods. Data will be preserved for at least one quarter beyond the expiration of the storage allocation end date.

		Storage allocations will be provided on a per-project basis. PIs will manage their storage allocations via the XSEDE User Portal's account management feature. PIs will receive automatic notifications at pre-determined intervals as their storage usage approaches the awarded amount and as their allocation approaches its expiration date. PIs and users are responsible for correctly managing their storage allocations.

	#table1
		:markdown
			[Table 1. XSEDE Archival and Stand-alone Storage](#table1)

	%table(border="1" cellpadding="3")
		%thead
			%tr
				%th &nbsp;
				%th Expanse<br>(SDSC)
				%th <a target="_blank" href="https://www.psc.edu/resources/bridges-2/user-guide-2/#system-configuration">Ocean</a><br>(PSC)
				%th <a target="_blank" href="http://portal.xsede.org/tacc-ranch">Ranch</a><br>(TACC)
		%tbody
			%tr
				%th(align="right") System type
				%td Medium-term disk storage
				%td Persistent disk and tape hybrid storage
				%td Long-term tape archival storage
			%tr
				%th(align="right") Allows stand-alone storage?
				%td no
				%td no
				%td yes
			%tr
				%th(align="right") Companion HPC resource(s)
				%td <a href="https://portal.xsede.org/sdsc-expanse#storage">Expanse Storage</a>
				%td <a href="https://portal.xsede.org/psc-bridges-2#system-datamgmt">Bridges-2 Storage</a>
				%td <a href="https://portal.xsede.org/tacc-stampede2#overview-filesystems">Stampede2 Storage</a>
			%tr
				%th(align="right") File system type
				%td Lustre
				%td Lustre
				%td Lustre
			%tr
				%th(align="right") Default/Max storage space for XRAS request
				%td 500GB / 75TB
				%td 500 GB/None
				%td none / 1PB
			%tr
				%th(align="right") Data retention beyond allocation expiration
				%td 3 months
				%td 3 months
				%td 6 months

	#storage-resource
		:markdown
			## [Resource Filesystem Storage](#storage-resource)

			Consult the [XSEDE User Guides](/user-guides) for information on each resource's associated file systems and associated policies.  


#transferring
	:markdown
		# [Transferring Files](#transferring)

		Please refer to the [Data Transfers &amp; Management](/data-management) page in addition to each resource's [user guide](/user-guides) for recommended file transfer methods.


#policies
	:markdown
		#  <a href="#policies">Storage Policies</a>

	#policies-quotas
		:markdown
			##  <a href="#policies-quotas">Quotas</a>

			Service providers may place limits on users' disk space and the number of files owned. Any such quotas are noted in <a href="#table2">Table 2</a> above as well as in the individual resource <a href="/user-guides">user guides</a>.

			Users should be aware that attempting to write to a file system while over their quota may cause jobs to fail. Please check your quotas before submitting a job to ensure that the data generated by the job will fit within the quota, or that all job output is written to a file system without quotas.

			You may check your quota simply by issuing the eponymous command:

			<pre>$ <strong>quota</strong></pre>

	#policies-backups
		:markdown
			##  <a href="#policies-backups">Backups</a>

			Most <code>$HOME</code> file systems on XSEDE resources are backed up on a regular schedule, varying from nightly to weekly. For specifics of backup and restore policies and procedures, please consult each resource's <a href="/user-guides">user guide</a> for more information. Regardless of backup policies, users are strongly encouraged to create their own backups of all critical data on their own resources and/or on XSEDE Archive resources.

	#policies-purge
		:markdown
			##  <a href="#policies-purge">Purge</a>

			Many `$SCRATCH` and other large file systems on XSEDE resources are purged on a regular basis, meaning that older, unused data will be deleted. Most such file systems are not backed up. Please consult site- or system-specific documentation for details on these policies. Users should be aware that data stored on purged resources could be deleted, and should exercise care to ensure that important data is copied or moved to appropriate long-term storage resources promptly.

