<style type="text/css">
#sdltable{display:block;width:95%%}
#sdltable thead tr th{width:20%}
#sdltable tbody tr td{width:20%;word-break:break-word}
#sdltable tbody{display:block;height:512px;overflow-y:scroll;border:1px solid;overflow-x:hidden}
#sdltable thead{display:table;width:100%}
#sdltable thead>tr>th:nth-of-type(1){width:15%}
#sdltable thead>tr>th:nth-of-type(2){width:25%}
#sdltable thead>tr>th:nth-of-type(3){width:10%}
#sdltable thead>tr>th:nth-of-type(4){width:25%}
#sdltable thead>tr>th:nth-of-type(5){width:25%}
#sdltable tbody>tr>td:nth-of-type(1){width:15%;//text-transform:capitalize}
#sdltable tbody>tr>td:nth-of-type(2){width:25%;//text-transform:capitalize}
#sdltable tbody>tr>td:nth-of-type(3){width:10%}
#sdltable tbody>tr>td:nth-of-type(4){width:25%}
#sdltable tbody>tr>td:nth-of-type(5){width:25%}
</style>
