<!-- DON'T CHANGE ANYTHING EXCEPT TABLE ROWS -->
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("sdltable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<!-- Search box -->
<p><input id="myInput" onkeyup="myFunction()" placeholder="Search for names.." type="text" /></p>

<p>Click on each column's header to sort.</p>
<!-- Table header -->
<table id="sdltable">
	<thead>
		<tr>
			<th onclick="sortTable(0)">
				<strong>Term</strong></th>
			<th onclick="sortTable(1)">
				<strong>Replacement</strong></th>
			<th onclick="sortTable(2)">
				<strong>Bias</strong></th>
			<th onclick="sortTable(3)">
				<strong>Explanation</strong></th>
			<th onclick="sortTable(4)">
				<strong>Source</strong></th>
		</tr>
	</thead>
	<tbody>
<!-- insert table rows here -->


		<tr>
			<td>Abort (Context Dependent)</td>
			<td>cancel, end</td>
			<td>Gender Bias</td>
			<td>May evoke violent images, religious objections</td>
			<td><a target="_blank" href="https://www.bbc.com/worklife/article/20210330-the-harmful-ableist-language-you-unknowingly-use">Harmful ableist language you unknowingly use</a></td></tr>
		<tr>
			<td>American</td>
			<td>US Resident</td>
			<td>Implicit Bias</td>
			<td>When we talk about &quot;Americans&quot; in the United States, we&#39;re usually just referring to people from the United States. This erases other cultures and depicts the United States as the dominant American country.</td>
			<td><a target="_blank" href="https://collegian.com/wp-content/uploads/2018/11/Inclusive-Language-Guide_10_30_18.pdf">Inclusive Language Guide</a></td></tr>
		<tr>
			<td>Black Box</td>
			<td>opaque box</td>
			<td>Implicit Bias</td>
			<td>The phrases didn&#39;t originate in times of slavery, but the use of &quot;black&quot; to describe things is subconsciously racialized</td>
			<td><a target="_blank" href="https://www.cnn.com/2020/07/06/us/racism-words-phrases-slavery-trnd/index.html">CNN: Everyday words and phrases that have racist connotations</a></td></tr>
		<tr>
			<td>Black Mark</td>
			<td>demerit</td>
			<td>Implicit Bias</td>
			<td>Assigns negative connotations to the color black.The phrase didn&#39;t originate in slavery, but the use of black to describe value is subconsiously racialized</td>
			<td><a target="_blank" href="https://www.huffpost.com/entry/common-words-phrases-racist-origins-connotations_l_5efcfb63c5b6ca9709188c83">Huffington Post</a></td></tr>
		<tr>
			<td>Blackball</td>
			<td>deny</td>
			<td>Implicit Bias</td>
			<td>The term implies wrongdoing. If you bear a black mark, you&#39;ve done something that people hold against you.</td>
			<td><a target="_blank" href="https://www.cnn.com/2020/07/06/us/racism-words-phrases-slavery-trnd/index.html">CNN: Everyday words and phrases that have racist connotations</a></td></tr>
		<tr>
			<td>Blacklist(ed)</td>
			<td>disallowed, block list</td>
			<td>Implicit Bias</td>
			<td>The term implies wrongdoing.  If you&#39;ve been blackballed, you&#39;ve been banned from joining an organization because of something you&#39;ve done.</td>
			<td><a target="_blank" href="https://www.cnn.com/2020/07/06/us/racism-words-phrases-slavery-trnd/index.html">CNN: Everyday words and phrases that have racist connotations</a></td></tr>
		<tr>
			<td>Blind Review</td>
			<td>anonymous review, redacted review</td>
			<td>Disability Bias</td>
			<td>May be offensive to those with visual disabilities. When we use metaphors like “blind study,” we unintentionally perpetuate the abnormality and negativity of impairment, furthering an ableist culture.</td>
			<td><a target="_blank" href="https://blog.apaonline.org/2020/02/20/an-end-to-blind-review/">An End to “Blind Review”</a></td></tr>
		<tr>
			<td>Blind Study</td>
			<td>anonymous review, redacted review</td>
			<td>Disability Bias</td>
			<td>May be offensive to those with visual disabilities.  When we use metaphors like “blind review,” we unintentionally perpetuate the abnormality and negativity of impairment, furthering an ableist culture. </td>
			<td><a target="_blank" href="https://blog.apaonline.org/2020/02/20/an-end-to-blind-review/">An End to “Blind Review”</a></td></tr>
		<tr>
			<td>Brown Bag</td>
			<td>lunch and learn, tech talks</td>
			<td>Implicit Bias</td>
			<td>In terms of the seemingly innocent brown bag that has been used to pack lunches for decades, the term actually traces back to the “brown paper bag test,” which was traditionally used to judge skin color by certain African-American sororities and fraternities. Wikipedia explains that the color of the paper bag was the center marker of blackness – if your skin tone was darker than the paper bag you would not be let into the party. City leaders usually designate bring-your-own-lunch meetings as brown bag lunch meetings, but have decided that “lunch-and-learn” or “sack lunch” are more appropriate alternatives.</td>
			<td><a target="_blank" href="https://newsfeed.time.com/2013/08/06/dont-call-it-a-brown-bag-lunch-seattle-frowns-on-popular-term/">Don’t Call It a ‘Brown Bag Lunch’: Seattle Frowns on Popular Term</a></td></tr>
		<tr>
			<td>Chief</td>
			<td>Indigenous people/peoples, an individual’s Nation or community, e.g. “Cree”, “Musqueam”, “Mohawk”. </td>
			<td>Ethnic Slur</td>
			<td>Calling an Indigenous person &quot;chief&quot; is offensive. It&#39;s a nickname that reduces a person solely to race. </td>
			<td><a target="_blank" href="https://www.insider.com/native-american-offensive-racist-things-2020-1#stop-referring-to-people-as-chief-3">7 things you should never say to a Native American</a></td></tr>
		<tr>
			<td>Dumb</td>
			<td>nonsensical, person who cannot speak</td>
			<td>Disability Bias</td>
			<td>Once widely used to describe a person who could not speak and implied the person was incapable of expressing themselves</td>
			<td><a target="_blank" href="https://collegian.com/wp-content/uploads/2018/11/Inclusive-Language-Guide_10_30_18.pdf">Inclusive Language Guide</a></td></tr>
		<tr>
			<td>Dummy Value</td>
			<td>placeholder value, sample value</td>
			<td>Disability Bias</td>
			<td>Once widely used to describe a person who could not speak and implied the person was incapable of expressing themselves</td>
			<td><a target="_blank" href="https://www.newsweek.com/twitter-stops-using-computer-code-terms-master-slave-blacklist-inclusive-language-george-floyd-1515243">Twitter Stops Using Terms &#39;Master,&#39; &#39;Slave&#39; and &#39;Blacklist&#39;</a></td></tr>
		<tr>
			<td>First Class Citizens</td>
			<td>core feature, top level</td>
			<td>Implicit Bias</td>
			<td>Socially charged term </td>
			<td><a target="_blank" href="https://developers.google.com/style/inclusive-documentation">Google Developers</a></td></tr>
		<tr>
			<td>Flow Master (Kanban) </td>
			<td>flow manager</td>
			<td>Institutional Racism</td>
			<td>Use of master may convey a sense of superiority, and may have negative historical context </td>
			<td><a target="_blank" href="https://thenewstack.io/words-matter-finally-tech-looks-at-removing-exclusionary-language/">Words Matter: Finally, Tech Looks at Removing Exclusionary Language</a></td></tr>
		<tr>
			<td>Freshman</td>
			<td>first-year</td>
			<td>Gender Bias</td>
			<td>Reinforces a language that already privileges men</td>
			<td><a target="_blank" href="https://collegian.com/wp-content/uploads/2018/11/Inclusive-Language-Guide_10_30_18.pdf">Inclusive Language Guide</a></td></tr>
		<tr>
			<td>Gender Biased Terminology</td>
			<td>one ..., a person ..., </td>
			<td>Gender Bias</td>
			<td>Pronouns are an important part of how we identify that deserves to be respected. Assuming someone’s gender can be hurtful, especially to members of our community who are transgender, genderqueer, or non-binary.</td>
			<td><a target="_blank" href="https://www.businessinsider.in/science/health/news/what-you-should-know-about-gender-pronouns-how-to-use-them-and-why-its-important/articleshow/78793375.cms">Business Insider: What you should know about gender pronouns, how to use them, and why they&#39;re important</a></td></tr>
		<tr>
			<td>Gender Biased Terminology, pronouns etc</td>
			<td>they/them/theirs</td>
			<td>Gender Bias</td>
			<td>Pronouns are an important part of how we identify that deserves to be respected. Assuming someone’s gender can be hurtful, especially to members of our community who are transgender, genderqueer, or non-binary.</td>
			<td><a target="_blank" href="https://www.businessinsider.in/science/health/news/what-you-should-know-about-gender-pronouns-how-to-use-them-and-why-its-important/articleshow/78793375.cms">Business Insider: What you should know about gender pronouns, how to use them, and why they&#39;re important</a></td></tr>
		<tr>
			<td>Grandfathered in</td>
			<td>exempt, legacy status</td>
			<td>Institutional Racism</td>
			<td>Refers to the &quot;grandfather clause&quot; adopted by seven Southern states during the Reconstruction Era. This allowed those states to deny voting rights to blacks</td>
			<td><a target="_blank" href="https://www.npr.org/sections/codeswitch/2013/10/21/239081586/the-racial-history-of-the-grandfather-clause">NPR: The Racial History Of The &#39;Grandfather Clause&#39;</a></td></tr>
		<tr>
			<td>Gray Beard</td>
			<td>individual&#39;s name</td>
			<td>Ageism</td>
			<td>Older, more experienced IT or cybersecurity personality. One sought after for wisdom born from study and experience over a lifetime.</td>
			<td>none</td></tr>
		<tr>
			<td>Gray Hat Hacker</td>
			<td>hacktivist</td>
			<td>Ageism</td>
			<td>Older, more experienced IT or cybersecurity personality. One sought after for wisdom born from study and experience over a lifetime. </td>
			<td>none</td></tr>
		<tr>
			<td>Guys</td>
			<td>folks, people, all, you all, y&#39;all, everyone</td>
			<td>Gender Bias</td>
			<td>Reinforces a language that already privileges men</td>
			<td><a target="_blank" href="https://www.huffpost.com/entry/gendered-language-hey-guys_l_5f21b189c5b6b8cd63b0f331">Instead Of Saying &#39;Hey, Guys!&#39; At Work, Try These Gender-Neutral Alternatives</a></td></tr>
		<tr>
			<td>Illegal Immigrant/Alien</td>
			<td>undocumented immigrant</td>
			<td>Ethnic Slur</td>
			<td>Saying that a person is illegal dehumanizes them and implies that they are criminals without taking into account their status</td>
			<td><a target="_blank" href="https://collegian.com/wp-content/uploads/2018/11/Inclusive-Language-Guide_10_30_18.pdf">Inclusive Language Guide</a></td></tr>
		<tr>
			<td>Indian</td>
			<td>Indigenous people/peoples, an individual’s Nation or community, e.g. “Cree”, “Musqueam”, “Mohawk”. </td>
			<td>Ethnic Slur</td>
			<td>The term indian in the US is associated with Columbus, who mistakenly labeled the Indigenous people of the Americas as Indians.  It is considered an ethnic slur.</td>
			<td><a target="_blank" href="https://thetalon.ca/social-justice-synonyms-12-indigenous-identity-and-terminology/">Social Justice Synonyms #12: Indigenous Identity and Terminology</a></td></tr>
		<tr>
			<td>Male or Female connectors and fasteners</td>
			<td>plug/socket connectors<br></td>
			<td>Gender Bias</td>
			<td>References to Gender Bias </td>
			<td><a target="_blank" href="https://www.theregister.com/2020/07/23/vmware_offensive_terminology_style_guide/">The Register</a></td></tr>
		<tr>
			<td>Man Hours</td>
			<td>person hours, effort hours</td>
			<td>Gender Bias</td>
			<td>Reinforces a language that already privileges men</td>
			<td><a target="_blank" href="https://twitter.com/TwitterEng?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1278733305190342656%7Ctwgr%5E%7Ctwcon%5Es1_&amp;ref_url=https%3A%2F%2Fwww.zerohedge.com%2Fpolitical%2Ftwitter-ditches-offensive-non-inclusive-terms-such-whitelist-man-hours-an">Twitter Engineering</a></td></tr>
		<tr>
			<td>Master   </td>
			<td>manager, Primary (OpenMP)</td>
			<td>Institutional Racism</td>
			<td>References which have historical context regarding oppression of a group of people. Masters controlled those people and made them slaves, unable to exercise free will or be considered human</td>
			<td><a target="_blank" href="https://www.washingtonpost.com/opinions/2020/06/12/tech-industry-has-an-ugly-master-slave-problem/">Washington Post: Opinion: There’s an industry that talks daily about ‘masters’ and ‘slaves.’ It needs to stop.</a></td></tr>
		<tr>
			<td>Master / Slave </td>
			<td>Use the replacement term that the vendor or provider uses in their documentation</td>
			<td>Institutional Racism</td>
			<td>References which have historical context regarding oppression of a group of people. Masters controlled those people and made them slaves, unable to exercise free will or be considered human</td>
			<td><a target="_blank" href="https://www.washingtonpost.com/opinions/2020/06/12/tech-industry-has-an-ugly-master-slave-problem/">Washington Post: Opinion: There’s an industry that talks daily about ‘masters’ and ‘slaves.’ It needs to stop.</a></td></tr>
		<tr>
			<td>Master Branch</td>
			<td>main branch</td>
			<td>Institutional Racism</td>
			<td>References which have historical context regarding oppression of a group of people. Masters controlled those people and made them slaves, unable to exercise free will or be considered human</td>
			<td><a target="_blank" href="https://www.washingtonpost.com/opinions/2020/06/12/tech-industry-has-an-ugly-master-slave-problem/">Washington Post: Opinion: There’s an industry that talks daily about ‘masters’ and ‘slaves.’ It needs to stop.</a></td></tr>
		<tr>
			<td>Minority</td>
			<td>Native American, African American, a general term “people of color” when referring to racial or ethnic communities.<br></td>
			<td>Institutional Racism</td>
			<td>The term “minority” has come to be seen as a generalized term for “the other.” Also, the use of “minority” implies a “less than” attitude toward the community or communities being discussed. Instead, use either community-specific terms (e.g., “Native American,” “African American,” etc.) or the general term “people of color” when referring to racial or ethnic communities. </td>
			<td><a target="_blank" href="https://diversity.ncsu.edu/speaking-and-writing-about-diversity/">Speaking and Writing About Diversity</a></td></tr>
		<tr>
			<td>Mob or Mob programming</td>
			<td>team, swarm, troop</td>
			<td>Ethnic Bias</td>
			<td>Mobs originated as hordes of people, most always White, who&#39;d torture and kill Black people. Mob has also been linked to stereotypes regarding Italians.</td>
			<td><a target="_blank" href="https://www.cnn.com/2020/07/06/us/racism-words-phrases-slavery-trnd/index.html">CNN: Everyday words and phrases that have racist connotations</a></td></tr>
		<tr>
			<td>Native</td>
			<td>Indigenous people/peoples, an individual’s Nation or community, e.g. “Cree”, “Musqueam”, “Mohawk”. </td>
			<td>Ethnic Slur</td>
			<td>The use of these words to refer to an Indigenous person today reflects colonial and racist practices, as it invokes images of savagery and barbarism. </td>
			<td><a target="_blank" href="https://thetalon.ca/social-justice-synonyms-12-indigenous-identity-and-terminology/">Social Justice Synonyms #12: Indigenous Identity and Terminology</a></td></tr>
		<tr>
			<td>Native Feature</td>
			<td>built in</td>
			<td>Ethnic Bias</td>
			<td>The use of these words to refer to an Indigenous person today reflects colonial and racist practices, as it invokes images of savagery and barbarism. </td>
			<td><a target="_blank" href="https://developers.google.com/style/word-list#native">https://developers.google.com/style/word-list - native</a></td></tr>
		<tr>
			<td>Native Speaker/Non-Native Speaker</td>
			<td>English as a primary language, English as a secondary language (ESL)</td>
			<td>Ethnic Bias</td>
			<td>The use of these words to refer to an Indigenous person today reflects colonial and racist practices, as it invokes images of savagery and barbarism.</td>
			<td><a target="_blank" href="https://developers.google.com/style/word-list#native">https://developers.google.com/style/word-list - native</a></td></tr>
		<tr>
			<td>Red Team</td>
			<td>cyber offense</td>
			<td>Ethnic Bias</td>
			<td>The use of color to denote values may be offensive to some ethnic groups. </td>
			<td><a target="_blank" href="https://it.wisc.edu/cybersecurity/the-colors-of-cybersecurity/">The Colors Of Cybersecurity</a></td></tr>
		<tr>
			<td>Rule of Thumb</td>
			<td>standard or general rule</td>
			<td>Gender Bias</td>
			<td>The rule of thumb was believed to have been  derived from English law which allowed a man to beat his wife with a stick so long as it was no thicker than his thumb.  While not true, the perception has continued to persist in society.</td>
			<td><a target="_blank" href="https://collegian.com/wp-content/uploads/2018/11/Inclusive-Language-Guide_10_30_18.pdf">Inclusive Language Guide</a></td></tr>
		<tr>
			<td>Sanity Check</td>
			<td>Quick check, Confidence Check, Coherence Check</td>
			<td>Disability Bias</td>
			<td>May be offensive to those with mental health issues. </td>
			<td>Unconscious Bias in Computer Science</td></tr>
		<tr>
			<td>Scrum Master</td>
			<td>agile lead, agile program manager, agile coach, agile team facilitator, scrum coach, scrum teacher, scrum leader, scrum facilitator, scrum custodian</td>
			<td>Institutional Racism</td>
			<td>References which have historical context regarding oppression of a group of people. Masters controlled those people and made them slaves, unable to exercise free will or be considered human.</td>
			<td><a target="_blank" href="https://thenewstack.io/words-matter-finally-tech-looks-at-removing-exclusionary-language/">Words Matter: Finally, Tech Looks at Removing Exclusionary Language</a></td></tr>
		<tr>
			<td>Slave</td>
			<td>worker, Secondary (OpenMP)</td>
			<td>Institutional Racism</td>
			<td>Refers to a person being the legal property of another. This person has no legal rights other than those granted by the master.</td>
			<td><a target="_blank" href="https://www.washingtonpost.com/opinions/2020/06/12/tech-industry-has-an-ugly-master-slave-problem/">Washington Post</a></td></tr>
		<tr>
			<td>Submit (Context Dependent)</td>
			<td>process</td>
			<td>Implicit Bias</td>
			<td>The dictionary term means to give or offer something for a decision to be made by others.  However, due to some discussions within religious communities, submit can be taken in the context of allowing others to have power over you. Additionally, submission is a topic of discussion within some communities, resulting in a word that may have multiple meanings according to culture.</td>
			<td>User Ticket Submission</td></tr>
		<tr>
			<td>Tarball</td>
			<td>tar file, tar archive, tar bundle</td>
			<td>Ethnic Bias</td>
			<td>The use of the term tarball can have negative connotations to people of color who may be unaware of the acronym associated in computing context.</td>
			<td><a target="_blank" href="https://www.washingtonpost.com/news/the-fix/wp/2014/11/10/politicians-should-stop-using-the-phrase-tar-baby-like-now/">Politicians should stop using Tar Baby</a></td></tr>
		<tr>
			<td>Tone Deaf</td>
			<td>unenlightened</td>
			<td>Disability Bias</td>
			<td>May be offensive to those with hearing difficulties.</td>
			<td><a target="_blank" href="https://medium.com/slackjaw/please-stop-calling-people-tone-deaf-when-they-make-offensive-or-insensitive-comments-51428bc2a059#:~:text=If%20you&#39;ve%20ever%20used,an%20entire%20group%20of%20people.&amp;text=Tone%2Ddeaf%20means%20you%20can,about%20having%20a%20singing%20disorder.">medium.com</a></td></tr>
		<tr>
			<td>Tribal Knowledge</td>
			<td>institutional knowledge</td>
			<td>Ethnic Bias</td>
			<td>Cultural appropriation and disrespect of signs which carry religious signifcance to Indigenous Americans.</td>
			<td><a target="_blank" href="https://matadornetwork.com/read/indigenous-language-stop-appropriating/">Words and phrases that are offensive to indigenous peoples</a></td></tr>
		<tr>
			<td>User (context-dependent)<br></td>
			<td>customer</td>
			<td>Implicit Bias</td>
			<td>The phrase is criticised for its negative connotations and outdated use, and many argue that is has no place in a modern UX terminology or in broader business language.</td>
			<td><a target="_blank" href="https://www.parkersoftware.com/blog/ux-terminology-time-dropped-term-users/">UX terminology: Is it time we dropped the term ‘users’?</a></td></tr>
		<tr>
			<td>Webmaster, Web Master</td>
			<td>web product owner</td>
			<td>Institutional Racism</td>
			<td>Reference which has historical context regarding oppression of a group of people. Masters controlled those people and made them slaves, unable to exercise free will or be considered human.</td>
			<td>none</td></tr>
		<tr>
			<td>White Hat / Black Hat</td>
			<td>ethical actor / bad actor</td>
			<td>Implicit Bias</td>
			<td>Assigns value connotations based on color. The phrase didn&#39;t originate in slavery, but the use of color to describe value is subconsiously racialized.</td>
			<td><a target="_blank" href="https://insights.dice.com/2020/07/17/whitelist-blacklist-the-new-debate-over-security-terminology/">‘Whitelist,’ ‘Blacklist’: The New Debate Over Security Terminology</a></td></tr>
		<tr>
			<td>White Paper</td>
			<td>position paper, publication, report</td>
			<td>Implicit Bias</td>
			<td>Assigns value connotations based on color. The phrase didn&#39;t originate in slavery, but the use of color to describe value is subconsiously racialized.</td>
			<td><a target="_blank" href="https://insights.dice.com/2020/07/17/whitelist-blacklist-the-new-debate-over-security-terminology/">‘Whitelist,’ ‘Blacklist’: The New Debate Over Security Terminology</a></td></tr>
		<tr>
			<td>White Team</td>
			<td>cyber exercise cell</td>
			<td>Implicit Bias</td>
			<td>Assigns value connotations based on color. The phrase didn&#39;t originate in slavery, but the use of color to describe value is subconsiously racialized.</td>
			<td><a target="_blank" href="https://insights.dice.com/2020/07/17/whitelist-blacklist-the-new-debate-over-security-terminology/">‘Whitelist,’ ‘Blacklist’: The New Debate Over Security Terminology</a></td></tr>
		<tr>
			<td>Whitelist(ed)</td>
			<td>allowed</td>
			<td>Implicit Bias</td>
			<td>Assigns value connotations based on color. The phrase didn&#39;t originate in slavery, but the use of color to describe value is subconsiously racialized.</td>
			<td><a target="_blank" href="https://insights.dice.com/2020/07/17/whitelist-blacklist-the-new-debate-over-security-terminology/">‘Whitelist,’ ‘Blacklist’: The New Debate Over Security Terminology</a></td></tr>
		<tr>
			<td>Yellow Team</td>
			<td>DevSecOps team</td>
			<td>Implicit Bias</td>
			<td>Assigns value connotations based on color. The phrase didn&#39;t originate in slavery, but the use of color to describe value is subconsiously racialized and may be offensive to an East or Southeast Asian person.</td>
			<td><a target="_blank" href="https://it.wisc.edu/cybersecurity/the-colors-of-cybersecurity/">The Colors Of Cybersecurity</a></td></tr>

<!-- end insert table rows here -->
<!-- DON'T CHANGE ANYTHING BELOW -->
</table>


<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("sdltable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</script><script>
  $("document").ready(function() {
      setTimeout(function() {
        $(".termcol").trigger('click');
      },10);
    });</script>
