// Abstract section
<!-- Words matter!  XSEDE's commitment to fostering and promoting an inclusive environment for all users, staff, and the wider community extends to all language and terminology in all of our materials.  As a result of this commitment, XSEDE's Terminology Task Force (TTF) was formed to review, address, and define processes to eliminate offensive terms in our materials. -->

:markdown
	The TTF has compiled a living list of terms deemed inappropriate for use in our organizational areas. For each term we describe why it may be offensive, cite source materials in support, categorize the term by type of bias, and provide replacement suggestions.  

	It's important to understand why certain terms can be offensive in order to effectively find and replace offensive terms and clarify those that were used appropriately. Some terms should never be used, while others can be appropriate in the right context; in these cases, it helps to use precise language.

	## Terminology List

= File.read "table.html"

:markdown

	### Suggestion Form

	The Terminology List is very much an evolving document. We welcome andd encourage you to reach out to the <a target="_blank" href="mailto:terminology@xsede.org">XSEDE Terminology Task Force</a> with any feedback, recognizing that some third-party materials may be beyond our editorial control.

	<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdv97rohEzKSKc3YMhamDcvx-to3PGnx5K1Grhe_Z2pJ_B5Tw/viewform">XSEDE Terminology Suggestion Form</a>

	### Other Words

	The task force considered a wide-array of words and phrases and ultimately winnowed the list to include terms only relevant to the High Performance Computing  community. You may find it useful to examine the list of other terms that are <a target="_blank" a href="https://docs.google.com/spreadsheets/d/11LXL_TiuJJf6n-xODUhaxUm_2CdgNT-BxJfX6HdvpCI/edit#gid=0">considered inappropriate</a>, but not included above.

	### Search Your Sites

	We encourage you to begin searching your own public web materials for the terms included above using your preferred tools.  Contact [help@xsede.org](mailto:help@xsede.org) to request access to a Sitebulb search tool license.  Start with [this list of terms](https://www.xsede.org/documents/1477968/0/XSEDE+Terminology+Task+Force+-+content+search+terms/21fcc639-993b-49c5-9e0d-614f1f7faf3b) in your content search.

