<style>.help{box-sizing:border-box}.help *,.help *:before,.help *:after{box-sizing:inherit}.row{margin-bottom:10px;margin-left:-15px;margin-right:-15px}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}[class*="col-"]{box-sizing:border-box;float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-1-5{width:20%}.col-2-5{width:40%}.col-3-5{width:60%}.col-4-5{width:80%}.col-1-4{width:25%}.col-1-3{width:33.3%}.col-1-2,.col-2-4{width:50%}.col-2-3{width:66.7%}.col-3-4{width:75%}.col-1-1{width:100%}article.help{font-size:1.25em;line-height:1.2em}.text-center{text-align:center}figure{display:block;margin-bottom:20px;line-height:1.42857143;border:1px solid #ddd;border-radius:4px;padding:4px;text-align:center}figcaption{font-weight:bold}.lead{font-size:1.7em;line-height:1.4;font-weight:300}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}</style>

<span style="font-size:225%; font-weight:bold;">MACHINENAME User Guide</span><br>
<i>Last update: September 30, 2020</i> 


USE THE GOOGLE DOC INSTEAD OF THIS DOC: 
https://docs.google.com/document/d/1lyID5rVACtMQ2lSyF7oI9y9nz1s_gqli_aM9HnG3hVg/edit?usp=sharing

can probably delete this later 


#notices
	:markdown
		# [Status Updates and Notices](#notices)

		* Post any temporary notices and updates. 

#intro
	:markdown
		# [Introduction](#intro)

		A high level, **human-readable** paragraph (NOT a list of specs) describing what the machine is, the audience for this machine and what it is best used for.

		* Note any innovative components
		* award number
		* XSEDE hostname

#figure1
	:markdown
		<figure>Pretty picture of XSEDE Resource<figcaption>Figure 1. MACHINENAME System</figcaption></figure>


#admin
	:markdown
		# [Account Administration](#admin)

		* Setting up Your Account
		* Allocation Information
		* How to Access the System

#admin-account
	:markdown
		## [Configuring Your Account](#admin-account)

		* default shell, changing your shell, changing your password
		* environment variables
		* using Modules (or other environment manager)


#architecture
	:markdown
		# [System Architecture](#architecture)

		Describe system architecture, any innovative components.

	#architecture-computenodes
		:markdown
			## [Model Compute Nodes](#architecture-computenodes)

			Describe the system's compute nodes.

	#table1
		:markdown
			[Table. Compute Node Specifications](#table1)  

		%table(border="1" cellpadding="3")
			%tr
				%td(align="right") Model:&nbsp;
				%td For example: Intel Xeon Phi 7250 ("Knights Landing")
			%tr
				%td(nowrap align="right") Total cores per node:&nbsp; 
				%td XX cores on a single socket
			%tr
				%td(nowrap align="right") Hardware threads per core:&nbsp;
				%td 
			%tr
				%td(nowrap align="right") Hardware threads per node:&nbsp;
				%td XX x Y = XXY
			%tr
				%td(align="right") Clock rate:&nbsp;
				%td 1.XGHz
			%tr
				%td(align="right") RAM:&nbsp;
				%td --
			%tr
				%td(align="right") Cache:&nbsp;
				%td --
			%tr
				%td(align="right") Local storage:&nbsp; 
				%td --
	
	#architecture-loginnodes
		:markdown
			## [Login Nodes](#architecture-loginnodes)

			Describe login node/s.

	#architecture-specializednodes
		:markdown
			## [Specialized Nodes](#architecture-specializednodes)

			Describe any specialized nodes or other components, e.g. GPU nodes

	#architecture-network
		:markdown
			## [Network](#architecture-network)

			Describe external and internal networks.

	#architecture-filesystems
		:markdown
			## [File Systems](#architecture-filesystems)

	#filesystems
		:markdown
			[Table. MACHINENAME File Systems](#filesystems)

		%table(border=1 cellpadding="3")
			%tr
				%th File System
				%th Quota
				%th Key Features
			%tr
				%td <code>$HOME</code>
				%td 
				%td 
			%tr
				%td <code>$WORK</code>
				%td 
				%td 
			%tr
				%td <code>$SCRATCH</code>
				%td 
				%td 
	

#access
	:markdown
		# [Accessing the System](#access)

		Describe access to the system

		* hostname
		* multi-factor authentication enabled?
		* available via SSO hub

		List and detail methods (e.g., `ssh`, Globus, `gsissh`), providing command-line examples.

	#access-sso
		:markdown
			## [XSEDE Single Sign-On Hub](#access-sso)

			[XSEDE](http://www.xsede.org) users can also access MACHINENAME via the [XSEDE Single Sign-On Hub](https://portal.xsede.org/single-sign-on-hub).

			When reporting a problem to the help desk, please execute the `gsissh` command with the NOWRAP"`-vvv`" option and include the verbose output in your problem description.

#citizenship
	:markdown
		# [Citizenship](#citizenship)

		**You share MACHINENAME with thousands of other users**, and what you do on the system affects others. Exercise good citizenship to ensure that your activity does not adversely impact the system and the research community with whom you share it. Here are some rules of thumb.

		List any Best Practices or conversely, a list of don't's.  Some examples:

		* Don't run jobs on the login nodes
		* Don't stress filesystem
		* submit an informative help-desk ticket
		* don't stress the file system



#managing
	:markdown
		# [Managing and Transferring Files](#managing)

#managing-filesystems
	:markdown
		## [File Systems ](#managing-filesystems)

		* Tips on navigating any shared file systems
		* Detail any pertinent environment variables, e.g., `$HOME`, `$WORK`, and any built-in aliases.
		* Tips on backups/storage 

#managing-transferring
	:markdown
		## [Transferring your Files](#managing-transferring)

		* Discuss methods of transferring files and provide command-line examples
			* `scp`
			* `rsync`
			* Globus 

#managing-sharing
	:markdown
		## [Sharing Files with Collaborators](#managing-sharing)


#building
	:markdown
		# [Building Software](#building)

		Describe how to build software:

		* list compilers and recommendations
		* any architecture-specific flags
		* how to build 3rd party software in your account
		
#software
	:markdown
		# [Software](#software) 

		* How to search for/discover locally installed software
		* Include job scripts for commonly run software packages
		* describe procedures for any licenses

#launching
	:markdown
		# [Launching Applications](#launching)

		* Launching One Serial Application
		* Launching One Multi-Threaded Application
		* Launching One MPI Application
		* Launching One Hybrid (MPI+Threads) Application
		* More Than One Serial Application in the Same Job
		* MPI Applications One at a Time
		* More than One MPI Application Running Concurrently
		* More than One OpenMP Application Running Concurrently

#running
	:markdown
		# [Running Jobs](#running)

	#running-accounting
		:markdown
			## [Job Accounting](#running-accounting)

			Describe how jobs are charged:

			* Example from NCAR: 

			<blockquote>Cheyenne allocations are made in core-hours. The recommended method for estimating your resource needs for an allocation request is to perform benchmark runs. The core-hours used for a job are calculated by multiplying the number of processor cores used by the wall-clock duration in hours. Cheyenne core-hour calculations should assume that all jobs will run in the regular queue and that they are charged for use of all 36 cores on each node.</blockquote>

			* Stampede2 example: see <https://portal.tacc.utexas.edu/user-guides/stampede2#running-accounting>

	#running-computenodes
		:markdown
			## [Accessing the Compute Nodes](#running-computenodes)

			Describe how to run jobs

			* batch job
			* interactive sessions `idev`
			* `ssh` from a login node

	#running-jobscheduler
		:markdown
			## [Job Scheduler](#running-jobscheduler)

			Describe the job scheduler & scheduling algorithms 

			Most, if not all, XSEDE resources are running Slurm and this documentation already exists in some form.

	#running-queues
		:markdown
			## [Partitions (Queues)](#running-queues)

			Describe current partitions.

	#queues
		:markdown
			[Table. MACHINENAME Production Queues](#queues)

	%table(border="1" cellpadding="3")
		%tr(align="center")
			%th(align="center") Queue Name 
			%th(align="center") Node Type 
			%th(align="center") Max Nodes per Job<br /> (assoc'd cores)* 
			%th(align="center") Max Duration 
			%th(align="center") Max Jobs in Queue* 
			%th(align="center") Charge Rate<br /> (per node-hour) 
	
		%tr(align="center")
			%td  <code>development</code> 
			%td  NODE TYPE
			%td  16 nodes<br /> (1,088 cores)* 
			%td  2 hrs 
			%td  1* 
			%td  1 Service Unit (SU)
	
		%tr(align="center")
			%td  <code>normal</code> 
			%td  NODE TYPE
			%td  256 nodes<br /> (17,408 cores)* 
			%td  48 hrs 
			%td  50* 
			%td  1 SU
	

	#running-interactive
		:markdown
			## [Interactive Sessions](#running-interactive)

			Describe any tools for running interactive jobs on the compute nodes.

			* built-in tools for running interactive jobs, e.g. PSC's `interact`, TACC's `idev`

#jobscripts
	:markdown
		# [Sample Job Scripts](#jobscripts)

		**Sample job scripts are the most requested documentation.**

		Provide sample job scripts for common job type scenarios.

		* Serial jobs
		* MPI
		* OpenMP
		* Hybrid (MPI + OpenMP)
		* Parametric / Array / HTC jobs

#jobmanagement
	:markdown
		# [Job Management](#jobmanagement)

		Describe how to submit, manage, cancel jobs.  

		* Monitoring Queue Status 
		* Monitoring Job Status
		* Other Job Management Commands 
		* Dependent Jobs 

#vis
	:markdown
		# [Visualization](#vis) 

		IF APPLICABLE 

		* describe visualization capabilities & software.
		* how to establish VNC/DVC/remote desktop


#containers
	:markdown
		# [Containers](#containers)

		IF APPLICABLE 


#protecteddata
	:markdown
		# [Protected Data](#protecteddata) 

		IF APPLICABLE

		* Describe the system's capabilities for handling protected data.
		* Data Retention Policies
		* How to run jobs with protected data.
		* Describe any mandated workflows.

#help
	:markdown
		# [Help](#help)

		Describe how to get help. 

#refs
	:markdown
		# [References](#refs)

		List any supporting documentation resources


