:markdown
	### XSEDE File Manager

	<a href="https://www.xsede.org/downloads/XSEDEFileManager.jar"><img alt="" src="/image/image_gallery?uuid=3d783b85-29ef-489b-ac5f-0f16cc6b52fe&amp;groupId=10308&amp;t=1309888028124" style="width: 188px; height: 150px; float: right" /></a>
	
	The XSEDE File Manager is a java applet available in <a href="https://portal.xsede.org/group/xup/file-manager">browser</a> or for <a href="https://www.xsede.org/downloads/XSEDEFileManager.jar">download</a> through the XSEDE User Portal (XUP).  The File Manager enables access to desktop files, remote XSEDE systems, cloud storage systems (specifically Eucalyptus and Amazon's S3), and external systems defined by users. It supports third-party transfers, bookmarking, and remote searching. The XSEDE File Manager is designed to be a common, intuitive interface for both novice and expert users.

	* <a href="https://portal.xsede.org/group/xup/file-manager">Visit the File Manager in XUP</a>
	* <a href="https://www.xsede.org/downloads/XSEDEFileManager.jar" target="_blank">Download the Desktop File Manager</a>

	### Globus

	<a href="https://www.globus.org/xfer/StartTransfer"><img alt="" src="/image/image_gallery?uuid=57019352-b5ed-47fd-8f94-3ae89e596d9f&amp;groupId=10157&amp;t=1347670689239" style="width: 247px; height: 150px;  float: right" /></a> 

	Globus is a hosted file transfer service available to all XSEDE users at <a href="http://www.globus.org/researchers/" target="_blank">http://www.globus.org/researchers</a>. Globus enables users to easily move data between any two sites, whether they are XSEDE sites, other facilities, campus servers, or personal computers/laptops. Globus does not require advanced knowledge of GridFTP or any complex custom systems or installs. It automates very large transfers with auto-retry, auto-performance tuning, and monitoring.

	*Last update: July 7, 2014*
