<span style="font-size:225%; font-weight:bold;">Stampede2 User Guide</span><br>
<em>Last update: June 20, 2017</em>  

:markdown

	<p><span style="font-size:125%;">TACC's Stampede2 system has just entered early production and the new [Stampede2 User Guide](http://portal.tacc.utexas.edu/user-guides/stampede2) is now available on the TACC User Portal.</span>

	<span style="font-size:125%;">The <a href="http://portal.tacc.utexas.edu/documents/10157/1475729/Stampede+2+Transition+Guide/7e2319ba-8f5c-4599-bf38-fd45e1db2839">Stampede2 Transition Guide</a> is also available.  Users should begin planning their transition from Stampede1 to Stampede2.</span>


