:markdown
	XSEDE workforce development efforts are preparing and sustaining a larger, more diverse pool of undergraduate and graduate students to be future researchers and educators. Through training, internships, mentoring, and recognition activities, students from around the country are provided real-world research and development experience, and experiences that encourage advanced degrees and professional careers utilizing computational and data-enabled knowledge. The participation of women and underrepresented students is strongly encouraged. 

	In addition, faculty and staff at US institutions may request education allocations for coursework, workshops and training events to prepare students XSEDE computing resources.  For XSEDE education allocations see: <https://www.xsede.org/allocations>.

	## XSEDE Workforce Development Programs:

	* [XSEDE EMPOWER](http://computationalscience.org/xsede-empower) (Expert Mentoring Producing Opportunities for Work, Education, and Research) recruits and enables a diverse group of students who have the skills - or are interested in acquiring the skills - to participate in the work of XSEDE. XSEDE staff, researchers, and educators  are invited to recruit and mentor undergraduate students to engage in a variety of XSEDE research activities.
	* The annual [PEARC](https://www.pearc.org/) (Practice & Experience in Advanced Research Computing) Conference engages students in tutorials, poster sessions, a student modeling day, mentorship program and access to the technical program sessions. Limited travel awards are available each year. 
	* Student Champions encourages students to work alongside Campus Champions to motivate and excite researchers, educators and fellow students on their campus to take advantage of XSEDE resources and services. 
	* Advanced Computing for Social Change engages students in a week-long experience, using visualization and data analytics to increase awareness, interest, and ultimately inspire students to continue their path in advanced computing careers.

