<div class="page-title"><h1>XSEDE Hosted Data</h1></div>

:markdown
	<span style="font-size:14px;">XSEDE Service Providers (SPs) may acquire and install data collections on XSEDE allocated resources. These data collections can be made available to users who already have allocated access to these resources.</span>

	<span style="font-size:14px;">To discover and access XSEDE-hosted data collections visit the new <a href="https://software.xsede.org/data-discovery?affiliations[]=xsede.org">Data Discovery Portal</a>. If you are a Service Provider interested in posting data collections, contact the XCI team via <help@xsede.org>.</span>

	<a href="https://software.xsede.org/data-discovery?affiliations[]=xsede.org"><img alt="" src="/documents/10308/0/Screen+Shot+2021-02-14+at+9.22.25+AM.png/6652d7d2-032f-47d4-a04c-26a69ce93676?t=1613316425696" style="width: 700px; height: 530px; border-width: 1px; border-style: solid;" /></a><br>
	<span style="font-size:14px;">Figure 1. XSEDE Data Discovery Portal</span>
