<style>.help{box-sizing:border-box}.help *,.help *:before,.help *:after{box-sizing:inherit}.row{margin-bottom:10px;margin-left:-15px;margin-right:-15px}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}[class*="col-"]{box-sizing:border-box;float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-1-5{width:20%}.col-2-5{width:40%}.col-3-5{width:60%}.col-4-5{width:80%}.col-1-4{width:25%}.col-1-3{width:33.3%}.col-1-2,.col-2-4{width:50%}.col-2-3{width:66.7%}.col-3-4{width:75%}.col-1-1{width:100%}article.help{font-size:1.25em;line-height:1.2em}.text-center{text-align:center}figure{display:block;margin-bottom:20px;line-height:1.42857143;border:1px solid #ddd;border-radius:4px;padding:4px;text-align:center}figcaption{font-weight:bold}.lead{font-size:1.7em;line-height:1.4;font-weight:300}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}</style>

<p><span style="font-size:225%; font-weight:bold;">Data Management, Transfer &amp; Synchronization</span><br>
<i>Last update: March 6, 2022</i></p>

#top
#intro
	:markdown
		# [Introduction](#intro)

		Transferring data includes moving files from local machines to XSEDE, as well as transfers between XSEDE resources. This section gives a high level overview on the recommended XSEDE data transfer methods.

		There are a variety of methods for transferring files across XSEDE. XSEDE provides a Web Browser interface (easy to use, universally available), command-line interfaces (for casual use, scripting, and automation), and application programming interfaces (for developing applications). You may choose between Globus, `globus-url-copy` and `uberftp`, or `scp` and `sftp`. See [Table 1](#table1) below for details on each method.

#table1
	:markdown
		[Table 1. Data Transfer Methods](#table1)

	%table(border="1" cellpadding="3")
		%tr
			%th Usage Mode 
			%th Transfer Method 
			%th Things to know 
	
		%tr
			%th(valign="middle") Web Browser Interface 
			%td <a href="#globus-setup">Globus Web application</a> 
			%td easy-to-use web interface; uses XSEDE web single sign-on; desktop download available 
	
		%tr
			%th(valign="middle" rowspan="2") Command Line Interface 
			%td <a href="#globus-interface-cli">Globus Command Line Interface (CLI)</a> 
			%td managed, reliable, and auto-tuned transfer; supports scripting; uses XSEDE web single sign-on; requires command line/scripting skill; requires a Python installation 
	
	
		%tr
			%td <a href="#scp"><code>scp</code> &amp; <code>sftp</code></a> 
			%td easy, familiar interface; must use local (resource-specific) username and password; no automatic failure recovery 
	
		%tr
			%th(valign="middle" rowspan="2") Application Programming Interface 
			%td <a href="#globus-interface-sdk">Globus SDK for Python</a> 
			%td designed for application developers; popular Python language; simplifies code; use in Jupyter notebooks; requires Python programming skill; some advanced features are not exposed 
	
		%tr
			%td <a href="#globus-interface-rest">Globus REST API</a> 
			%td usable with most development environments; full access to all Globus service features; requires programming skill; requires familiarity with REST and OAuth 2.0 
	
#globus
	:markdown
		# [Globus Intro &amp; Setup](#globus)

		Designed specifically for researchers, Globus provides fast, reliable, and secure file transfer among XSEDE resources or between an XSEDE resource and another system (such as a campus cluster, lab server, or personal computer). Beyond file transfer, Globus allows researchers to securely share data with collaborators, and to publish data for broader access as required by many data management plans.

		Use Globus to:

		* Move data between any two systems: in XSEDE, at your campus or laboratory, or at your home. Easily move small numbers of very large files (even terabyte-sized) as well as large numbers of small files (thousands or more at a time).
		* Share data with your colleagues and collaborators, whether the data is stored at your laboratory on campus, your office, your home, or on selected XSEDE resources.

		With Globus:

		* You don't have to move your data to a public cloud service to share it. 
		* You have full control over what data is shared and with whom. 
		* You can share data with colleagues who aren't registered with XSEDE. 

		Globus services are available to everyone with an <a href="http://portal.xsede.org">XSEDE User Portal</a> account.

		* Use the Globus interfaces described below, including the Web interface (used by most people), the command-line interface (used by advanced users and developers), and the REST APIs (used by application developers).
		* Move files to and from any XSEDE resource on which you have a current allocation (permission to use).
		* Download and install the Globus Connect Personal software on your personal computer to transfer files between it and XSEDE or other systems.
		* Enable sharing on your Globus Connect Personal endpoints. (See below.)
		* Download and install the Globus Connect Server software on any of your personal or campus systems and use it to provide multi-user file transfer access on those systems. File sharing on multi-user systems is limited to XSEDE service providers and is otherwise available with a Globus subscription.

	#globus-setup
		:markdown
			## [Set Up Globus](#globus-setup)

		#globus-setup-step1
			:markdown
				### [1. Link your XSEDE Identity](#globus-setup-step1)

				Make sure that Globus knows you are registered with XSEDE. This will allow you to use any of the features listed above. First, open a web browser and navigate to the [Globus website](https://www.globus.org).
		
				a. Click the "Login" button at the top-right of the page.

					* If you've recently used Globus, you'll be automatically logged in. See [Add XSEDE to your Globus Profile](#globus-addxsede). 
		
					* If you haven't used Globus recently (or ever), you will be prompted to select an organization where you already have an account. Type or select "XSEDE" to specify that you want to use your XSEDE identity as in Figure 1. below. 

					<figure> <img alt="" src="/documents/10308/1899853/Figure+1.png/7990134b-effe-4d54-ab3a-0f2c3399c231?t=1628185447000" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 1. Use your XSEDE identity to log in to Globus</figcaption></figure>

				a. After clicking Continue, you will be asked to enter your XSEDE username and password. The web page will have the familiar XSEDE interface, will display the CILogon banner, and will have a web address beginning with "`idp.xsede.org`" as in Figure 2 below. 


					<figure> <img alt="" src="/documents/10308/1899853/Figure+2.png/6d8ecc75-656b-4beb-b502-ddf216c1c275?t=1628185429000" style="width: 600px; height: 345px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 2. Enter your XSEDE username and password at the XSEDE login page</figcaption></figure>

				a. Once you enter your XSEDE username and password, you will be asked to provide multi-factor authentication using XSEDE’s Duo service, as shown in Figure 3. (If you are not already enrolled with XSEDE’s Duo service, you will instead be asked to enroll with Duo. Follow the on-screen instructions to enroll with XSEDE’s Duo service.)

					<figure> <img alt="" src="/documents/10308/1899853/Figure+3.png/55fcaf83-9dc1-414e-bea9-f61dde7e50b5?t=1628185475000" style="width: 600px; height: 431px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 3. Multi-factor authentication with Duo</figcaption></figure>

				a. After you authenticate with XSEDE’s Duo, you will be logged into Globus and will see the File Manager page shown in Figure 4.

					<figure> <img alt="" src="/documents/10308/1899853/Figure+4.png/3800d311-2ee2-49c7-ba64-8b4a41a497b0?t=1628185578000" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 4. Successfully logged in to Globus</figcaption></figure>


		#globus-setup-step2
			:markdown
				### [2. Add XSEDE to your Profile](#globus-setup-step2)

				If you've used Globus before, then you already have a Globus profile. Add your XSEDE identity to your Globus profile to enable the XSEDE features described here.

				After you are logged into Globus, click the "Account" button on the left sidebar of the web page. You will see a list of the identities that Globus has associated with your profile. If XSEDE isn't already listed, click "Link Another Identity" on the right side of the web page. You will be asked to select an organization. Type or select "XSEDE" to specify that you want to use your XSEDE identity.


				<figure> <img alt="" src="/documents/10308/1899853/Figure+5.png/88712baa-d566-43ab-8b24-7d688a96dd07?t=1628185631000" style="width: 600px; height: 399px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 5. Link your XSEDE identity to an existing Globus profile</figcaption></figure>

				You'll be redirected to the XSEDE login page shown in Figure 2, where you can enter your XSEDE username and password and then give Globus permission to access your XSEDE identity information. Once you successfully authenticate to XSEDE, you will have access to all of XSEDE's Globus features as described below.

#globususing
	:markdown
		# [Using Globus](#globususing)

	#globus-move
		:markdown
			## [Move Files](#globus-move)

			Once you are logged in to Globus, the File Manager interface (see Figure 4) is self-explanatory and you will probably understand how to use it without further help. If you need some hints or further details, the Globus website provides an excellent Getting Started guide. The next few sections explain how to find XSEDE's systems within Globus so you can move data to and from them, how to upload and download files, and how to set up your local system (personal or campus computer) for larger transfers that run in the background.


	#globus-resources
		:markdown
			## [Find XSEDE Resources](#globus-resources)

			Globus lets you move files to and from collections. All XSEDE resources have Globus collections for the storage available to authorized researchers. All of XSEDE's collections have the word "XSEDE" in their names, making them easy to look up. Just click the Collection Search box at the top of the File Manager, type "XSEDE," and all of XSEDE’s collections will appear, as shown in Figure 6. (Make sure the collection you pick is "owned" by XSEDE and displays the green "Greek columns" icon that signifies the collection is owned by a Globus-supporting organization.) XSEDE keeps its collections up-to-date in Globus on a routine basis. If the resource you are looking for is especially new or is no longer online and you can't find it in the list, use the XSEDE Help Desk to inquire about its availability. Select the collection you want to move files to or from, and the File Manager will allow you to browse the files and folders there.

			<figure> <img alt="" src="/documents/10308/1899853/Figure+6.png/91808889-ee67-4431-b14a-094418b08a54?t=1628185685000" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 6. Type "XSEDE" to get a list of all of XSEDE's Globus Endpoints</figcaption></figure>


	#globus-local
		:markdown
			## [Find your Local Computers](#globus-local)

			You can easily create a Globus collection on your own computer so you can transfer lots of files or very large files to or from your computer in the background while you do other work. To do this, download and install the Globus Connect Personal software. (Globus Connect Personal is available for Windows, Mac, and Linux systems.) Globus Connect Personal runs as a background task, and you can start and stop it like any other application. While Globus Connect Personal is running, your system will be available in Globus's File Manager interface (but only to you!) and you will be able to start transfers between it and any other Globus collection, including XSEDE resources.

			You can start and stop Globus Connect Personal on your system whenever you need to, even shutting your system down, hibernating, and moving from one network to another. Globus will automatically find your system and continue any active transfers whenever you are connected to a network and have the tool running. Globus Connect Personal is designed to work with most firewalls and NAT devices. It does not require administrative privileges to run on your system.



	#globus-research
		:markdown
			## [Find Other Research Systems](#globus-research)

			Many colleges, universities, research institutions, and laboratories offer Globus collections for their systems. To find a collection provided by an organization, try typing the name of the organization in the Collection Search box at the top of the File Manager page. You may be surprised how many organizations are already listed and available. To confirm the organization that provides a collection, look for the green “Greek columns” icon that signifies the collection is owned by a Globus-supporting organization. Also check the “Owner” field in the listing. You’ll need to be authorized by the organization to access its collections. 

			Any Linux-based server system can host Globus collections by installing Globus Connect Server. On most servers, installing Globus Connect Server requires just a few commands. Once the software is installed, anyone with a local account on the server can move and share files between it and other Globus collections, including XSEDE resource collections. Information on Globus Connect Server is available on the [Globus website](https://docs.globus.org/globus-connect-server/).


	#globus-files
		:markdown
			## [Upload and Download Files](#globus-files)

			XSEDE resources with the latest version of Globus software allow you to upload or download files with your web browser. When viewing a folder on an XSEDE resource in the File Manager, the Upload icon will be active. (See Figure 7.)


			<figure> <img alt="" src="/documents/10308/1899853/Figure+7.png/842690ba-cf10-4420-8386-61cac8c4633e?t=1628185723000" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 7. The Upload button is active. You can upload files here.</figcaption></figure>

			Click the Upload button and your browser will open a file selection dialog to choose the file(s) you want to upload. You may select multiple files, but you may not select folders. Once you've selected the files to upload, Globus will upload the files to the folder you are viewing in the File Manager. See Figure 8.


			<figure> <img alt="" src="/documents/10308/1899853/Figure+8.png/2f6bad97-aa80-4fa1-a815-410098906eef?t=1628185759000" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 8. An upload progress indicator appears. When the upload completes, your file appears on the remote system.</figcaption></figure>

			You can also download files to your computer. When viewing a folder in the File Manager, select a single file by clicking its name. (Download is currently only available for single files.) The Download button will activate if this feature is available on this XSEDE server. See Figure 9. 


			<figure> <img alt="" src="/documents/10308/1899853/Figure+9.png/b542049d-2fd9-4bfe-a167-06dac4e3d930?t=1628185795000" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 9. Select a single file and the Download button will activate</figcaption></figure>

			When you click the Download button, you might need to re-authenticate. Follow the prompts, and your file will download to your computer as shown in Figure 10. You may then open it in any application.

			<figure> <img alt="" src="/documents/10308/1899853/Figure+10.png/9b66b7ba-386c-4a47-8be5-ac75d16fd2d8?t=1628185834000" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 10. You may need to re-authenticate to download, but the file will then download.</figcaption></figure>

			If the Upload and Download buttons do not activate as described above, the XSEDE resource you are using hasn’t been updated to the latest Globus software. You can use Globus Connect Personal to transfer files to/from this resource (see above "<a href="#globus-local">Find Your Local Computers</a>") or request an upgrade by submitting a support ticket to <help@xsede.org>. 

			You can share files from a Globus collection with your colleagues and collaborators. Your colleagues will receive an email message inviting them to login to Globus and access the files you've shared with them. You can give them read-only or both read and write access to your files. They can log into Globus using their campus credentials (with InCommon-participating campuses), their XSEDE account (if they have one), or a new Globus account.



	#globus-share
		:markdown
			## [Share Data](#globus-share)

			You can share files from a Globus endpoint with your colleagues and collaborators. Your collaborators will receive an email message from you inviting them to login to Globus and access the files you've shared with them. You can give them read-only or both read and write access to your files. They can log into Globus using their campus credentials (with InCommon-participating campuses), their XSEDE account (if they have one), or a new Globus account.

	#globus-share-personal
		:markdown
			## [Share your Personal Servers](#globus-share-personal)

			To enable sharing on your own system running Globus Connect Personal, join XSEDE's "XSEDE Globus Plus" group. When logged in to Globus, click the "Groups" button in the top bar and select "Search for Groups" as shown in Figure 6.

			<figure> <img alt="" src="/documents/10308/1899853/globus-fig-6.jpg/46e05241-ab81-4290-8c5f-f4d7d8ced1a3?t=1605732879000" style="width: 600px; height: 405px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 11. Search for the XSEDE Globus Plus group</figcaption></figure>

			You will be taken to a search page. Type "XSEDE Globus Plus" in the search box and press Enter. Click on the "XSEDE Globus Plus" group in the search results box, and you will be shown brief information about the group and given a button labeled "Join Group" on the right side of the page, as shown in Figure 7.

			<figure> <img alt="" src="/documents/10308/1899853/globus-fig-7.jpg/a92ec2c9-421c-4510-aaff-6bef492774ea?t=1605732903000" style="width: 600px; height: 405px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 12. Join the XSEDE Globus Plus group</figcaption></figure>

			When you click the "Join Group" button, you will be asked for some very brief information about yourself (name, email organization, etc.). The first question on the form is, "Select which username to join as." Click the pop-up list and select your XSEDE identity if it is available in the list. (If your XSEDE identity isn't in the list, you may use another identity to join.) Click the button "Submit Application to Join." You will receive an email message shortly (during normally staffed hours) letting you know that your request has been approved.

			Once Globus Plus has been enabled for your account, <a href="https://docs.globus.org/how-to/share-files/">follow Globus's instructions</a> for enabling sharing on your system and creating a Shared Endpoint.

	#globus-sharexsede
		:markdown
			## [Share Files Across XSEDE](#globus-sharexsede)

			Not all XSEDE resources support the sharing feature in Globus. As of March 2022, the San Diego Supercomputer Center's [Expanse](/sdsc-expanse) and Purdue University's [Anvil](/purdue-anvil) allow sharing on their endpoints. If you would like to use sharing on any other XSEDE endpoint, please contact the <a href="mailto:help@xsede.org">XSEDE Help Desk</a>.

			Globus will indicate that sharing is available when you are using the File Manager. Look for the Share button on the left side of the File Manager window. See Figure 13.

			<figure> <img alt="" src="/documents/10308/1899853/Figure+13.png/862c5a63-aabb-4b7e-b661-6486be0cfce9?t=1628453432557" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 13. The Share button is active. You can share this folder with your colleagues.</figcaption></figure>

	#globus-shareother
		:markdown
			## [Share Files on Other Systems](#globus-shareother)

			To enable sharing on any other multi-user system running Globus Connect Server (such as a shared campus system), you or your campus will need a <a href="https://www.globus.org/subscriptions">Globus subscription</a>. Many campuses have subscriptions already; enquire with your local staff to find out if your systems include Globus and sharing.

	#globus-interfaces
		:markdown
			## [Globus Interfaces](#globus-interfaces)

			You can access Globus features using the Web browser interface (described above), a command-line interface, a Python software development kit (SDK), or a Web-standard REST API for non-Python applications.

			If you use Globus's CLI, SDK, or REST APIs, you are encouraged to use the <a href="https://groups.google.com/a/globus.org/forum/#!forum/developer-discuss/home">developer mailing list</a> to engage directly with the Globus engineering team and other developers.

		#globus-interface-cli
			:markdown
				### [Command Line Interface (CLI)](#globus-interface-cli)

				You can use Globus's [command line interface (CLI)](https://docs.globus.org/cli/) to script, or automate, your use of Globus services. For example, you might write a script that automatically uploads the output data produced by an application when the application completes. 

				Follow Globus's CLI [installation instructions](https://docs.globus.org/cli/) to install the CLI on your system. Once installed, follow Globus's [CLI QuickStart](https://docs.globus.org/cli/quickstart/) guide to quickly become familiar with the CLI and how to use it in your work.


		#globus-interface-sdk
			:markdown
				### [Software Development Kit (SDK)](#globus-interface-sdk)

				Use the Globus [Software Development Kit](http://globus-sdk-python.readthedocs.io/en/stable/) (SDK) for Python to write applications that use Globus services. 

				Follow Globus's SDK installation instructions to install the SDK in your Python development environment, and then follow the SDK Tutorial to quickly become familiar with the SDK and how to use it. The full [SDK documentation](http://globus-sdk-python.readthedocs.io/en/stable/) includes complete reference information as well as helpful examples.

		#globus-interface-rest
			:markdown
				### [REST API](#globus-interface-rest)

				If you write applications in a language other than Python, or if you require advanced features that aren't provided in the SDK, Globus also provides Web-standard REST APIs with complete access to all Globus services. Access to Globus's REST APIs is controlled by OAuth 2.0 (OAuth2) access tokens, which are obtained by authenticating with Globus Auth, Globus's access management service.

				You are also encouraged to use the <a href="https://groups.google.com/a/globus.org/forum/#!forum/developer-discuss/home"> developer mailing list</a> to engage directly with the Globus engineering team and other developers.

	#globus-refs
		:markdown
			## [Globus References](#globus-refs)

			The Globus services are quite powerful and include many features not mentioned above. You can learn more using the following resources.
		
			* <a href="https://docs.globus.org/how-to/get-started/">Getting started with Globus file transfer</a> 
			* <a href="https://docs.globus.org/faq/">Frequently Asked Questions</a> 
			* <a href="https://docs.globus.org/how-to/share-files/">Sharing data using Globus</a> 
	
#scp
	:markdown
		# [`scp` &amp; `sftp`](#scp)

		You may also use one of these command-line tools to transfer small (&lt; 2 GB) files between XSEDE resources and/or your local machine. From Linux or Mac, you can run these commands directly from the terminal. From Windows, use your SSH client. Both `scp` and `sftp` are easy to use and secure.

#dataintegrity
	:markdown
		# [Data Integrity and Validation](#dataintegrity)

		Data protection mechanisms are incorporated into much of the infrastructure and software used in XSEDE, and in most cases users are not required to take any special steps to ensure the integrity of their data. However, there are situations in which a user may wish to check that a transferred file has been copied correctly to the new system, or check that a file has not been changed since it was originally created. In these situations, checksums may be used to generate a cryptographic hash of one or more files. Cryptographic hashes have the property that they always produce the same value when operating on the same input date, so they can be saved and then compared against a recomputed hash to verify that a file is exactly the same as it was when the original checksum was generated. Even a single bit change in a multi-terabyte file will produce a different checksum value, so a successful checksum comparison provides a strong guarantee that data has not been altered in any way.

		We recommend that users utilize the "`sha256sum`" command to create and check cryptographic hashes. This command should be available on most UNIX systems, as well as most XSEDE resources. To generate a checksum for a given file, run `sha256sum` with the name of the file (or files) you wish to check; the command will report the checksum of each file on a separate line, followed by the filename:

		<pre class="cmd-line">
		login1$ <b>sha256sum filename1 filename2</b>
		9db55391e52a4a84944c6c9817ab8d0445547e8934d88d26032cc4747e196039 &nbsp;filename1
		a6483e57971627e4e2403c6d3e38b205c70db2221f0b9fe46781e0af76192ef5 &nbsp;filename2</pre>

		To save the generated checksums for comparison, redirect the output to a file:

		<pre class="cmd-line">login1$ <b>sha256sum filename1 filename2 &gt; checksums.out</b></pre>

		You can then use the contents of this file to verify that the files are exactly the same on any given system, or on the same system at a later date, using the "`-c`" flag to `sha256sum`:

		<pre class="cmd-line">
		login1$ <b>sha256sum -c checksums.out</b>
		filename1: OK
		filename2: OK</pre>

		Wildcards can also be used with the `sha256sum` command. For example, a user could generate checksums for all the files in a directory using the command:

		<pre class="cmd-line">login1$ <b>sha256sum * &gt; checksums.out</b></pre>

		After transferring these files to another XSEDE resource, the user could verify that the data was transferred completely and correctly using the saved output file. If any of the files has been corrupted or incompletely transferred, the check will produce output like the following:

		<pre class="cmd-line">
		login1$ <b>sha256sum -c checksums.out</b>
		filename1: FAILED
		filename2: OK
		sha256sum: WARNING: 1 of 2 computed checksums did NOT match</pre>

		In this situation, the user should retransfer the files in question or restore from a backup copy of the data.

		<p class="portlet-msg-alert">In order to verify data integrity at a later date, you must have a record of the original checksum values to compare to the present value. Therefore, generate and save checksums when data is first created or before it is transferred into XSEDE, even if you do not immediately intend to perform verification against those checksums.</p>

	#dataintegrity-mechanisms
		:markdown
			## [Integrity and Transfer mechanisms](#dataintegrit-mechanisms)

			All Globus transfers between two servers (including a Globus Connect Personal server on your own computer) automatically use advanced checksums to verify file integrity during and after each transfer. If an integrity check fails, Globus will automatically re-transfer the file. You can disable this feature using the "Transfer &amp; Sync Options" interface (see Figure 14), but it is enabled by default. IMPORTANT: Browser uploads and downloads do not include integrity checks, so you should perform these yourself as described above.

			<figure> <img alt="" src="/documents/10308/1899853/Figure+14.png/ee6facb0-18ee-48e2-809c-ebba0d64992c?t=1628453477736" style="width: 600px; height: 371px; border-width: 1px; border-style: solid;" /> <figcaption>Figure 14. File integrity checks for Globus transfers are enabled by default.</figcaption></figure>

#datatransferperformance
	:markdown
		# [Data Transfer Performance](#datatransferperformance)

		The key principle to understand is that any given data transfer can only perform as well as the slowest component involved in the transfer. It may be a single slow network link, the disk drive on your laptop, or an overloaded file system on a supercomputer, but regardless, the overall transfer can perform no faster than the slowest component in the chain. It is important that you understand this when assessing data transfer performance.

		For example, for most transfers into an XSEDE system coming from a desktop or laptop system, the slowest component will be the disk drive on the desktop/laptop. Individual hard drives are often the "weak link" in this scenario, with maximum speeds under 100MB/sec either due to the drive itself or the interface to the drive. If you are transferring files from a desktop or laptop system you should not expect to see performance better than 100MB/sec, or even lower on a sustained basis. If you see significantly less than that you may wish to check the performance of the network to which your laptop or desktop is connected - there are many freely available bandwith-checking utilities on the web that can give you practical readings, and your local IT administrator can give you details of the maximum performance achievable on your local network.

		Note that the limitation on drive performance is inherent to the drives themselves. Some XSEDE sites and systems, such as [Wrangler](/tacc-wrangler), offer a "data dock" service allowing you to physically deliver drives to the site and have data loaded on-site. However, since the performance of the drives is the limiting factor in performance, it will rarely be the case that this is a time-efficient practice. It is most useful in situations where the data is located in a network-limited location or for reasons of security.

		To aid in understanding the potential bottlenecks for transfer performance, we have compiled the following table, which shows the network, storage, and measured performance peaks for most of the largest XSEDE sites and systems. The measured performance numbers represent the highest performance seen in real-world tests transferring large files, so they can be treated as roughly the highest level of performance you should expect if you have a source storage system and network that can provide that level of performance on a consistent basis. 

	#statistics
		:markdown
			## [XSEDE Site Data Transfer Statistics](#statistics)

		%table(border="1" cellpadding="3")
			%tr
				%td Site 
				%td	Resource 
				%td	Server Count 
				%td	Network Bandwidth/Node 
				%td	Storage Bandwidth/Node 
				%td	WAN Bandwidth 
				%td	Max Total Bandwidth 
				%td	Max Node Bandwidth 
				%td	Max Measured BW 

			%tr
				%td SDSC 
				%td	All 
				%td	5 
				%td	50 
				%td	50 
				%td	40 
				%td	40 
				%td	40 
				%td	5.576 
			%tr
				%td TACC 
				%td	Stampede2 
				%td	3 
				%td	20 
				%td	100 
				%td	100 
				%td	60 
				%td	20 
				%td	4.904 
			%tr
				%td TACC 
				%td	Ranch 
				%td	2 
				%td	40 
				%td	40 
				%td	100 
				%td	80 
				%td	40 
				%td	3.776 
			%tr
				%td PSC 
				%td	Bridges 
				%td	2 
				%td	40 
				%td	100 
				%td	30 
				%td	30 
				%td	30 
				%td	6.08 
			%tr
				%td NICS 
				%td	All 
				%td	8 
				%td	10 
				%td	40 
				%td	100 
				%td	80 
				%td	10 
				%td	3.178 

		:markdown
			All values are in Gigabits per second. Divide this value by eight to get the Gigabytes per second value. Since all sites have multiple Globus/GridFTP servers supporting each endpoint, we provide both the per-node network capacity and the total network capacity of the sites connection to the XSEDE/Internet2 network backbone. The maximum total and node bandwidth numbers represent the lowest value of the various inputs and thus show what the maximum possible performance is for a given endpoint.

			It is also important to remember that these are shared resources, so it will rarely be the case that your transfer has all of the capacity available to it. More usually your transfer will be sharing bandwidth with other users, other applications, and other systems. Of particular salience is that the file systems on all XSEDE resources are shared, and the total storage and network bandwidth will be utilized by both data transfer applications and active applications at almost all times.

			Beyond the capabilities of the network and storage systems involved, the single biggest factor in your transfer performance will be the size of the files being transferred, as there is time spent on the network setting up and tearing down the connection for each file transfer, and for high bandwidth networks like XSEDE this is relatively costly. For example, going from file sizes of 10MB to 1GB can improve your average transfer performance from a few MB/sec to over 1GB/sec. If you need to transfer a large number of files you will get the best performance by first bundling them into a single tar file and copying the single file.

#sync
	:markdown
		# [Data Synchronization](#sync)
	#sync-data
		:markdown
			## [Synchronize a data collection between campus and XSEDE](#sync-data)

			Some research projects—particularly those with team members at multiple campuses—need to maintain copies of the project’s data on a campus system and on an XSEDE system. Keeping these copies synchronized is important, but it shouldn’t be time-consuming. You can automate this synchronization using Globus. The steps to set this up are as follows.

			1. Confirm that you can transfer data between your campus and XSEDE.
			1. Determine the direction(s) in which synchronization must happen.
			1. Set up a repeating synchronization transfer task.
			1. Monitor the synchronization to confirm it’s working properly.

	#sync-campus
		:markdown
			### [Transferring data between your campus and XSEDE](#sync-campus)

			To synchronize data between your campus and XSEDE data storage, you first need to be able to transfer data between your project’s campus data storage and your project’s XSEDE data storage. XSEDE uses Globus for data transfers, and many research campuses also have Globus set up for research use. If your campus doesn’t already have Globus set up for your use, you can do it yourself.

			Follow the [instructions for transferring data with Globus](#globus), and make a copy of your project's data on your project's XSEDE storage (or on your campus storage, depending on where the data starts). Once you have a copy in both places, you're ready to set up synchronization.

	#sync-directions
		:markdown
			### [Synchronization direction(s)](#sync-directions)

			The manner in which your research project produces new data will determine how the data should be synchronized between campus and XSEDE.

			* If new data is produced only in one place (either on campus or on XSEDE) and you need it to automatically appear in the other place, you'll need synchronization in only one direction: either from campus to XSEDE, or from XSEDE to campus.
			* If new data is produced both on campus and on XSEDE, you'll need bi-directional synchronization.

			To synchronize in a single direction, you'll create a repeating task that synchronizes new data from the source to the destination. Your source is where new data is created, and your destination is where the copy is needed. For example, you can create a task that copies new data from your project’s campus storage to your project’s XSEDE storage every hour. The task will only transfer data that isn’t already on the XSEDE storage.

			For bi-directional synchronization, you’ll create two repeating tasks: one in each direction. Each task will only transfer data that appears on the source and isn’t already on the destination.

	#sync-setup
		:markdown
			### [Set up synchronization](#sync-setup)

			Assuming you've already used Globus to make a copy of your data, setting up a repeating synchronization task will be easy. The first step is exactly the same as for the first data transfer you performed. Login to the Globus web app, locate the data source and the destination. (The source is where new data will appear, and the destination is where the new data will be copied to.) Figure 15 shows the setup for synchronizing a folder called “sequencer-data” on campus storage to XSEDE’s Darwin resource at the University of Delaware.

			<figure><img alt="" src="/documents/10308/1899853/Figure+15.png/888b35a1-8c59-42d5-ba60-d380c212db9b?t=1643762935402" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 15. Setting up synchronization between campus and XSEDE. In this example, the folder to be synchronized is called "sequencer-data," and it will be synchronized from campus storage to XSEDE storage.</figcaption></figure>

			After you've located the data source and destination, and clicked to select the folder to be synchronized, click Transfer &amp; Timer Options between the two Start buttons. (The place to click is circled in red in Figure 15.) This will display the options for synchronization, task start time, and repeating, shown in Figures 2 and 3. __Please, always check the "sync" box!__ (If you don't check this box, every file will be transferred every time the task runs, even if it’s already on the destination.)

			<figure><img alt="" src="/documents/10308/1899853/Figure+16.png/e8361a74-66f9-4994-8499-f61a9d2744ed?t=1643762946897" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 16. Setting synchronization options to use file modification time</figcaption></figure>

			In the example in Figure 16, we set options to transfer new files and files with newer modification time on the source system, and to copy the modification time along with the file's contents. (You could instead transfer only new files, or new files plus files that have changed size, or new files plus files whose checksums at source and destination do not match.) We also set an option to terminate the transfer if a quota error is detected on the destination (i.e., you ran out of available storage).  (Without that option, Globus will continue attempting to transfer data until the quota is increased, you manually cancel the task, or several days pass without any improvement in the error.)

			<figure><img alt="" src="/documents/10308/1899853/Figure+17.png/c0bccf58-961c-45a4-b2cc-3561d4eb61c4?t=1643762954365" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 17. Setting options to repeat the synchronization every two hours until 11pm on November 19, 2022</figcaption></figure>

			In Figure 17, we show how to set options to repeat the synchronization every two hours, ending at 11pm on November 19, 2022. (That's when this particular research project's XSEDE allocation ends.) You could instead specify a number of times to repeat the task (e.g., once per day for 60 days) or make it continue indefinitely until you manually delete the timer. You may also set the time of the first synchronization if you don’t want it to begin immediately.

			When you're finished setting your synchronization and repeating options, scroll up to the top of the File Manager window and click the Start button. Figure 18 shows how Globus will let you know that your task has started.

			<figure><img alt="" src="/documents/10308/1899853/Figure+18.png/fb484cf7-d63a-44f9-a39d-f136a3d7c0ee?t=1643762969536" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 18. After clicking the Start button, Globus will confirm that the timer task was submitted successfully.</figcaption></figure>

			If you've determined that your data only needs to be synchronized in one direction, you're finished! You can move on to the next section on monitoring your synchronization. 

			If you've determined that you need bi-directional synchronization, you can repeat this process and create a second synchronization task in the other direction. The easiest way to do that is to remain on the File Manager screen, double-check that the Transfer &amp; Timer Options are still the way you need them, and click the other Start button (the one with the arrow in the other direction). This will create the exact same synchronization task with the Source and Destination swapped.

	#sync-monitor
		:markdown
			### [Monitoring synchronization](#sync-monitor)

			Your synchronization task will run according to the schedule you set. You’ll receive an email notification each time the task runs. Each notification contains a summary of what was transferred. You can also view the task history in the Globus web app. As shown in Figure 19, click the Activity icon in the left side of the Globus web app, and you'll see recent activity.

			<figure><img alt="" src="/documents/10308/1899853/Figure+19.png/f086f5e4-b565-408a-a1d8-ab3345ad4a8c?t=1643762974170" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 19. Click Activity to see recent Globus activity, including repeating synchronization tasks. Click the arrow to the right of any entry to see details.</figcaption></figure>

			Click the Timers tab at the top of the display, as shown in Figure 20, to view your active timers. Here, you can cancel a timer by clicking the trash can on the right side of the timer entry.

			<figure><img alt="" src="/documents/10308/1899853/Figure+20.png/07254791-4738-47a4-8389-aed6842f8380?t=1643762979308" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 20. View any timers you've created using the Timers tab on the Activity page.</figcaption></figure>

			Click the arrow on the right side of any entry in the Timers list to see details, as shown in Figure 21.

			<figure><img alt="" src="/documents/10308/1899853/Figure+21.png/2cdc386a-a0b7-4f53-83c5-5fc6d5382375?t=1643762985269" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 21. The details page shows everything about a repeating task, including synchronization options.</figcaption></figure>

			The Timer Log tab on the details page displays a list of every time the task has run so far, as shown in Figure 22. For each task execution, you can view a summary of what was transferred.

			<figure><img alt="" src="/documents/10308/1899853/Figure+22.png/3fc409ae-f1cc-49e2-913c-20071e9fd1d9?t=1643762990493" style="width: 600px; height: 453px; border-width: 1px; border-style: solid;" /><figcaption>Figure 22. The Timer Log tab displays a list of each time the task has run. Click “view task” to see details of a run.</figcaption></figure>

	#sync-conclusion
		:markdown
			### [Conclusion](#sync-conclusion)

			It's easy to maintain a synchronized copy of your project's data in two or more locations. This can enable collaboration with research partners, facilitate automated data processing, or gather data from sources at multiple campuses. If you can transfer data between two locations—such as your campus and XSEDE—you can also keep the copies synchronized with a repeating synchronization task. Once set up, the synchronization will happen automatically until your repeating schedule ends or you cancel the task.


