#admin
	:markdown
		#[Maintenance and Administration](#admin)

	#admin:adduser
		:markdown
			##[Add User to a VM](#admin:adduser)

	#admin:adduser-steps
		:markdown
			###[Step-by-step Guide](#admin:adduser-steps)

			These steps will let the user that you create ssh to a running instance using a password you set. The user can reset the password once they login and/or add their ssh keys.

			####Step-by-step guide

			All steps to be run as root or using sudo. <USERNAME> should be replaced with an actual username

			1. Sudo or otherwise become root: `sudo su -`
			1. Create the user: `adduser <username>`
			1. Assign a temporary password: `passwd <username>`

				As an optional step, you can add the user to any other groups as needed. We'll use the docker group as an example.

			1. Add the user to group "docker" : `usermod -a -G docker <username>`

	#admin:software
		:markdown
			##[Software](#admin:software)

	#admin:software-install
		:markdown
			###[Installing Software on Your VM](#admin:software-install)

			Coming Soon!

