#allocations
	:markdown
		#[Allocations](#allocations)

	#allocations:overview
		:markdown
			##[Allocations Overview](#allocations:overview)

			*Access to Jetstream2 is available solely through Xtreme Science and Engineering Discovery Environment (XSEDE) allocations. You must be on a valid allocation or the PI of a valid allocation to have access to Jetstream2.*

			Jetstream allocations are awarded exclusively through XSEDE. XSEDE provides XSEDE User Portal (XUP) accounts free of charge. XSEDE allocations require that the Principal Investigator (PI) be a US-based researcher.

			A guide with more detail on Jetstream allocations is available online at the [XSEDE Resource Information page](/allocations/resource-info).

			Allocation types:

			* [Trial allocation](#allocations:trial): Limited in hours and cores, non-renewable, meant to explore using Jetstream2
			* [Startup allocation](#allocations:startup): For smaller scale research or exploratory usage before applying for a larger research allocation. Not intended for any courses or workshops.
			* [Education allocation](#allocations:education): For workshops, tutorials, or courses. Startup limits may not apply.
			* [Research allocation](#allocations:research): Larger scale allocations intended for research. Limits are generally only in what the PI can justify requesting.

	#allocations:portal
		:markdown
			###[Portal Accounts](#allocations:portal)

			You'll need to have an XSEDE Portal account to request access to the Jetstream2 Trial Allocation, be added to a PI's allocation, or apply for an allocation.

			To create an XSEDE portal account if you do not have one:

			1. Go to https://portal.xsede.org/
			1. Click "Create Account" on the left side of your screen.
			1. Fill out the form and click Submit.
			1. Upon receipt of the email notification click the link in the email to verify your account and set your username and password. If the link doesn't work, go to https://portal.xsede.org/, click "Sign In" and then select "Verify Account" under "Other Sign In Options".
			1. Following account verification, if not already logged in, go to https://portal.xsede.org/, click "Sign In" and sign in with the username and password set in the verification step.
			1. You will be asked to read and accept the User Responsibilities form. This form outlines acceptable use to protect shared resources and intellectual property.

	#allocations:trial
		:markdown
			##[Trial Allocation](#allocations:trial)

			Trial allocations will be available after Jetstream2 is available for general use.

			This page will be updated with more information as we near that time.

	#allocations:startup
		:markdown
			##[Startup Allocations](#allocations:startup)

			Jetstream2 startup allocations are meant to be used for exploring the Jetstream2 system for research or research infrastructure purposes. They are not intended for teaching purposes. Please apply for an education allocation using the instructions here for any course, tutorial, or workshop needs.

			You'll need a copy of your CV, abstract, and description of your intended research in PDF format.

			You'll first need to create an XSEDE Portal Account if you do not already have one:

	#allocations:startup-xup
		:markdown
			###[Portal Accounts](#allocations:startup-xup)

			To create an XSEDE portal account if you do not have one:

			1. Go to https://portal.xsede.org/
			1. Click "Create Account" on the left side of your screen.
			1. Fill out the form and click Submit.
			1. Upon receipt of the email notification click the link in the email to verify your account and set your username and password. If the link doesn't work, go to https://portal.xsede.org/, click "Sign In" and then select "Verify Account" under the "Other Sign In Options".
			1. Following account verification, if not already logged in, go to https://portal.xsede.org/, click "Sign In" and sign in with the username and password set in the verification step.
			1. You will be asked to read and accept the User Responsibilities form. This form outlines acceptable use to protect shared resources and intellectual property.

	#allocations:startup-apply
		:markdown
			###[Apply for an XSEDE Startup Allocation](#allocations:startup-apply)

			1. Read the Startup Allocations Overview. There are sample allocation requests in the overview that you may find helpful.
			1. Go to the XSEDE Resource Allocation System page. On the Available Opportunities page, click "Start a New Submission" under "Startup". If you are not familiar with the process, select "Begin Guided Submission" for step-by-step instructions.

			__Before submitting an allocation request have the following information available:__

			<div class="portlet-msg-info">
			* XSEDE usersnams for PI (required), Co-PIs (optional), and Allocation Managers (optional)
			* Additional XSEDE user names to add so they may use your allocation time and resources (optional)
			* Title
			* Abstract (typically a paragraph or two for an Educational request will suffice)
			* Keywords
			* Field of science (secondary areas of science may be also be added)
			</div>

			1. Select your resources. You can have any combination of Jetstream2 CPU, Jetstream2 Large Memory, and Jetstream2 GPU, but you must justify Large Memory or GPU requests specifically.

			1. Select the appropriate resources(s) from the list.
				1. Enter the number of SUs you'll need. The [Virtual Machine Sizes and Configurations](#usage:vm) page can help you figure VM sizes needed.
				1. Fill in number of Virtual Machines needed (this is an estimate for planning purposes (there's no wrong answer) try to best guess at how many instances you'll run at one time)
				1. Fill in number of public IP addresses needed (same as above)
			1. If you need additional storage beyond the VM's root disks, select "Jetstream2 Storage".
				1. All allocations by default will receive 1TB of storage so if that covers your needs, you do NOT need to select Jetstream2 Storage
			1. Upload your supporting documents (PDF format required)
				1. PI CV (2 page limit)
				1. CoPI CV required for every CoPI added to request (2 page limit) (optional)
				1. Syllabus
				1. Resource Justification (see below)
				1. Supporting Grants (optional)
				1. Publications of previous/supporting work (optional)
			1. Submit allocation request. At this point, all entered information is validated, errors or omissions are flagged.

			__Allow 1-2 business days for your application to go through the approval process.__

			Detailed information about the allocation request process, with screenshots, is available in the [XRAS Submit Allocation Request Step-by-Step Guide](/allocation-request-steps).


	#allocations:education
		:markdown
			##[Education Allocations](#allocations:education)

			Jetstream2 Education Allocations

			Jetstream2 education allocations are meant to be used for teaching courses, workshops, or tutorials. They are not intended for research.

			You'll need a copy of your CV, the course syllabus, and a resource justification in PDF format. The latter is basically figuring the size of the VM your students will need, the number of weeks they'll need it, and the number of students. An example of the resource selection is below.

			You'll first need to create an XSEDE Portal Account if you do not already have one:
	#allocations:education-xup
		:markdown
			###[Portal Accounts](#allocations:education-xup)

			To create an XSEDE portal account if you do not have one:

			1. Go to <https://portal.xsede.org>
			1. Click "Create Account" on the left side of your screen.
			1. Fill out the form and click Submit.
			1. Upon receipt of the email notification click the link in the email to verify your account and set your username and password. If the link doesn't work, go to the portal, click "Sign In" and then select "Verify Account" under the "Other Sign In Options".
			1. Following account verification, if not already logged in, go to https://portal.xsede.org/, click "Sign In" and sign in with the username and password set in the verification step.
			1. You will be asked to read and accept the User Responsibilities form. This form outlines acceptable use to protect shared resources and intellectual property.

	#allocations:education-apply
		:markdown
			###[Apply for Education Allocation](#allocations:education-apply)

			1. Read the Education [Allocations Overview](#allocations:overview). There are sample allocation requests in the overview that you may find helpful.
			1. Go to the [Resource Allocation System](/submit-request) page. On the Available Opportunities page, click "Start a New Submission" under "Educational". If you are not familiar with the process, select "Begin Guided Submission" for step-by-step instructions.

				<pre>Before submitting an allocation request have the following information available:

				* XSEDE usersnams for PI (required), Co-PIs (optional), and Allocation Managers (optional)
				* Additional XSEDE user names to add so they may use your allocation time and resources (optional)
				* Title
				* Abstract (typically a paragraph or two for an Educational request will suffice)
				* Keywords
				* Field of science (secondary areas of science may be also be added)
				</pre>

			1. Select your [resources](#usage:resources); you can have any combination of Jetstream2 CPU, Jetstream2 Large Memory, and Jetstream2 GPU; but you must justify Large Memory or GPU requests specifically
			1. Select the appropriate resources(s) from the list.
				* Enter the number of SUs you'll need. The [Virtual Machine Sizes and Configurations](#info:vm-size) page can help you figure VM sizes needed. See the section below for a walkthrough of creating your resource justification.
				* Fill in number of Virtual Machines needed (this is an estimate for planning purposes, there's no wrong answer, try to best guess at how many instances you'll run at one time)
				* Fill in number of public IP addresses needed (same as above)
			1. If you need additional storage beyond the VM's root disks, select "Jetstream2 Storage".
				* All allocations by default will receive 1TB of storage so if that covers your needs, you do __NOT__ need to select Jetstream2 Storage
			1. Upload your supporting documents; PDF format required
				* PI CV (2 page limit)
				* CoPI CV required for every CoPI added to request (2 page limit), optional
				* Syllabus
				* Resource Justification (see below)
				* Supporting Grants, optional
				* Publications of previous/supporting work, optional
			1. Submit allocation request. At this point, all entered information is validated, errors or omissions are flagged.

			__Allow 3-5 business days for your application to go through the approval process.__

			Detailed information about the allocation request process, with screenshots, is available in the [XRAS Submit Allocation Request Step-by-Step Guide](/allocation-request-steps).

	#allocations:education-justify
		:markdown
			###[Writing Your Resource Justification](#allocations:education-justify)

			A resource justification is required for an Educational allocation. You'll need to explain how the resources will be used and for how long. A sample calculation for your SU request might be:

			<pre>16 week course
			20 students
			m1.medium instance size (8 vCPU)
			Planning for 24 hour/day usage
			
			8 vCPU (SUs) x 24 hours/day x 7 days x 16 weeks = 21,504 SUs/student x 20 students = 430,080 SUs</pre>

			It would be standard practice to round that to 450,000 SUs for development time for the instructors plus instructor VMs during the duration of the course.

			You'll also need to briefly explain why you chose the VM sizes that you did, what you expect each student to be running on those VMs. The Virtual Machine Sizes and Configurations page can help you figure VM sizes needed. A paragraph or two should suffice to cover this.

			If you have questions about the resource justification please do contact Jetstream Help via <help@xsede.org> and we can assist you.

	#allocations:research
		:markdown
			##[Research Allocations](#allocations:research)

			*Coming Soon!*

	#allocations:supplement
		:markdown
			##[Supplements (Storage/SUs)](#allocations:supplement)

	#allocations:supplements
		:markdown
			###[Jetstream2 Allocation Supplements](#allocations:supplements)

			If your allocation has been depleted, or you need to add SUs or storage for a Jetstream2 resource to your existing allocation, you may request a supplement.

			Detailed information about the supplement request process is available from the [Manage Allocations page](/allocations/managing#managealloc-supplements).

	#allocations:supplement-instructions
		:markdown
			###[Instructions for Supplement Requests](#allocations:supplement-instructions)

			* Login to portal.xsede.org
			* Go to the [Submit / Review Requests](/submit-request) page
				* (You can also mouse over the "Allocations tab" and then select "Submit/Review Request")
			* Find your allocation. Under the Action menu for your allocation, select "Supplement"
				* Note: If your allocation is going to expire in 30 days or less, you will not see the Supplement option. You should see the Extension option, though. Choose a 3 month extension and once it's approved, the supplement button should appear.
			* Choose "Start Supplement"
			* Select the appropriate Jetstream2 resources(s) from the list.
			* Once you have selected the resources you need, you'll need to fill in the values of your request. The SU request has the same options as when you got your allocation. You'll fill in the SUs needed, the number VMs and IPs you expect to use (for forecasting purposes), and any comments.
			* For storage requests, you'll fill in the value in gigabytes, e.g. 1000gb = 1TB.
			* For the number of SUs you'll need. The [Virtual Machine Sizes and Configurations](#usage:vm) page can help you estimage VM sizes needed and SUs that will consume.
			* For more information about the resources, please see the Jetstream2 Resources page
			* You will have to include a PDF "Progress Report", basically a paragraph or two on the need for the storage or SU request.
			* We do like to see any publications that have been published or submitted during your allocation period as part of this report.
			* Any other milestones or achievements would also be welcomed in the progress report along with user or job counts if it's a science gateway resource.
			* After you have added that, you may submit the request.

			__Requests are typically reviewed within 1 to 2 business days. You'll receive notification from XSEDE Allocations on the status of your request once it has been reviewed by all service providers on the request.__

	#allocations:extensions
		:markdown
			##[Extensions &amp; Renewals](#allocations:extensions)

	#allocations:extensions-renewals
		:markdown
			###[Allocation Extensions &amp; Renewals](#allocations:extensions-renewals)

			If your allocation is expired or close to expired and has adequate SUs remaining for the resource(s), you may request an extension if you need 3-6 months to complete your work or to prepare for a research allocation. If you are planning to continue your research for another year (or more), you should pursue a renewal of your allocation.

			Detailed information about the extension request process is available from the [Manage Allocations](/allocations/managing#managealloc-extensions) page.

			*Please note: Extensions are not a substitution for the renewal process.*

			If you have a startup allocation and you are planning to stay under the startup limits (as noted on the [Resources](#info:resources) page), you may continue to renew your startup and not have to enter the research allocations cycle. A renewal is __ALWAYS__ preferred over an extension. Please see below for information on renewing a startup allocation.

			* Research allocations may be extended once with adequate justification.
			* Research allocations are renewable on a quarterly basis. More information may be found on the [Research Allocations page](/allocations/research)

	#allocations:extensions-extension
		:markdown
			###[Instructions for Extension Request](#allocations:extensions-extension)

			* Login to portal.xsede.org
			* Go to the [Submit / Review Requests](/submit-request) page
				* (You can also mouse over the "Allocations tab" and then select "Submit/Review Request")
			* Find your allocation. Under the Action menu for your allocation, select "Extension"
				* *Note: You will not see the extension option until your allocation is within 90 days of expiring.*
			* Choose "Start Extension"
			* Select the duration from the list.
			* Enter all comments and justifications for the extension.
			* After you have added that, you may submit the request.

	#allocations:extensions-renewal
		:markdown
			###[Instructions for Renewal Request](#allocations:extensions-renewal)

			* Login to portal.xsede.org
			* You will need the same materials as a startup submission plus a progress report in PDF format with any pertinent information about the status of the project, including publications (preferably in bioliography form with DOIs or URLs), user and job counts for science gateways, and any other information you'd like to provide to XSEDE and the NSF.
			* Go to the [Submit / Review Requests](/submit-request) page
				* (You can also mouse over the "Allocations tab" and then select "Submit/Review Request")
			* Look on the __LEFT__ side of the page and scroll down to find your allocation.
				* *Note: You will not see the renewal option until your allocation is within 30 days of expiring.*
			* Choose "Start Renewal for *[Your allocation number]*"
			* Select the duration from the list.
			* Enter all comments and justifications for the extension.
			* After you have added that, you may submit the request.

			__Requests are typically reviewed within 1 to 2 business days. You'll receive notification from XSEDE Allocations on the status of your request once it has been reviewed by all service providers on the request.__

	#allocations:faq
		:markdown
			##[Allocations FAQ](#allocations:faq)

	#allocations:faq-1
		:markdown
			###[1. Is there an overview of the types of allocations available as well as any restrictions those allocations have?](#allocations:faq-1)

			The [Getting Started Guide](/documentation-overview) describes the process of getting onto XSEDE, applying for allocations and using XSEDE resources. To review the types of allocations XSEDE and the process to get an allocation, here are some links you might find useful:

			* [Allocations overview](/allocations/announcements)
			* [Types of allocations, eligibility, details](/documentation-overview#allocations-types)
			* [Allocation policies](/allocations/policies)
			* [Submit and manage allocation requests](/submit-request)
			* [Proposal deadlines](/allocations/research#schedule)

	#allocations:faq-2
		:markdown
			###[2. Is there a example or demonstration of how to get an allocation that I could follow?](#allocations:faq-2)

			There is a Cornell Virtual Workshop (CVW) on getting a Research Allocation for Jetstream here: <https://cvw.cac.cornell.edu/JetstreamReq>  UPDATE FOR JS2

	#allocations:faq-3
		:markdown
			###[3. How do I let other XSEDE accounts use my allocation?](#allocations:faq-3)

			You can add users to (or remove them from) your XSEDE allocation via the XSEDE User Portal. Users must have already created their XSEDE accounts before they can be added to an allocation.

			To add users to, or remove them from, an active Extreme Science and Engineering Discovery Environment (XSEDE) allocation, the principal investigator, co-principal investigator, or [allocation manager](/allocations/managing) can follow the instructions for:

			* [Adding &amp; Removing Users](/allocations/managing#manageusers).

			__Please note that it can take up to four hours for users added to an allocation to become active.__

	#allocations:faq-4
		:markdown
			###[4. How often can I get a startup allocation?](#allocations:faq-4)

			Applications for startup allocations will only be accepted once. If you have modest needs that are equal or less than startup values, you may renew your startup allocation. If you need a larger allocation, it is best to apply for a research allocation.

			Maximum Startup/Campus Champion Allocation values for each resource are:

			* Jetstream2 CPU: 200,000 SUs
			* Jetstream2 Large Memory: 400,000 SUs
			* Jetstream2 GPU: 600,000 SUs
			* Jetstream2 Storage: 1TB default*

			*Storage limits may be larger than 1TB per allocation for a startup if well-justified.

	#allocations:faq-5
		:markdown
			###[5. I'm running out of Service Units (SUs) or storage. How do I request more?](#allocations:faq-5)

			If you already have an XSEDE allocation and need to request additional service units (SUs), the PI, co-PI, or delegate may submit a request via the XSEDE User Portal. For instructions on how to submit the request, see [Requesting additional SUs, other Jetstream resources, or storage for Jetstream: Supplemental Allocations](#allocations:supplement).

	#allocations:faq-6
		:markdown
			###[6. I am at or exceeding the quota limits for my allocation.](#allocations:faq-6)

			How do I request additional resources such as CPUs and memory?

			You may contact <help@xsede.org> or <help@jetstream-cloud.org> with those requests.

			It's important to note that Jetstream Trial Allocation quotas are fixed and will __NOT__ be increased under any circumstances.

			For other allocation types, justification will be required and will be granted at the discretion of the Jetstream2 staff based on the justification and available resources. Please note that large memory and GPU resources are limited so requests for those will require strong justification for success or partial success. We strive to make resources available to all researchers that require them, so striking a balance between the needs of one versus many is often necessary.

	#allocations:faq-7
		:markdown
			###[7. Can you extend my allocation for me or give me access to my allocation for just a few days/weeks/months more?](#allocations:faq-7)

			If your allocation is expired or out of SUs, you may request an extension, renewal, or supplement. Please see one of the following links:

			* [Requesting additional SUs, other Jetstream resources, or storage for Jetstream: Supplemental Allocations](#allocations:supplement)
			* [Jetstream2 Allocation Extensions and Renewals](#allocations:extensions)

			Jetstream2 staff are unable to take these actions on your behalf.
