#cacao
	:markdown
		#[Cacao (fka Atmosphere2)](#cacao)

	#cacao:overview
		:markdown
			##[Overview](#cacao:overview)

			Everything you wanted to know about Cacao to do more research in Jetstream2

	#cacao:intro
		:markdown
			###[Intro to Cacao](#cacao:intro)

			* [What is Cacao](#cacao:whatis)
			* [Cacao glossary](#cacao:glossary)
			* [Cacao UI basics](#cacao:basics)

	#cacao:gettingstarted
		:markdown
			###[Getting started for new users](#cacao:gettingstarted)

			* [Getting started for new Cacao users](#cacao:newuser)

			###[Cacao 101](#cacao:101)

			* [Credentials](#cacao:credentials)
			* [Workspaces](#cacao:workspaces)
			* [Deployments](#cacao:deployments)
			* [Choosing your allocation](#cacao:allocations)
			* [Logging Into An Instance (coming soon!)](#cacao:login)
			* [Storage (coming soon!)](#cacao:storage)
			* [Providers (coming soon!)](#cacao:providers)
			* [Templates (coming soon!)](#cacao:templates)
			* [Your Account (coming soon!)](#cacao:account)

	#cacao:whatis
		:markdown
			##[What is Cacao?](#cacao:whatis)

			What is Cacao?

			Cacao is a multi-cloud orchestration service for researchers and educators that eliminates the complexity of using multiple clouds. By focusing on getting stuff done, Cacao helps transform research and education in a multi-cloud world.

			Cacao is built and maintained by <a target="_blank" href="https://www.cyverse.org">CyVerse</a>, the NSF research project that created Atmosphere.

			Why Cacao?

			Cacao helps you use clouds with ease of use, flexibility, and collaboration.

			__Ease of use__

			Cacao makes it convenient to use your XSEDE Jetstream 2 allocation on any Jetstream cloud. You can organize your Openstack resources -- servers, volumes, containers, and more -- into workspaces. At the basic level, you can use Cacao just as you did with Atmosphere on Jetstream 1: launch a vm with the tools you use, do your work, and shutdown when you're done.

			<img width="600" src="/documents/10308/2947537/cacao-intro-fig-2/a75ff9e7-aef0-473f-9ed1-353afeb33623?t=1648751648000"/>

			__Flexibility (coming soon!)__

			Cacao helps adapt the cloud to fit your needs. Under the hood, your cloud resources are created using pre-defined <a target="_blank" href="https://www.terraform.io/intro/index.html">Hashicorp Terraform templates</a>. If you don't know Terraform, don't worry -- you don't need to know Terraform to use Cacao. However, you can create your own Openstack Terraform templates if you wish to level-up your Cacao workflow game. Future features in Cacao will include support for AWS/GCP/Azure+Terraform as well as non-Terraform-based templates, such as Kubernetes and Argo templates.

			Cacao will also allow you to activate your resources when your data or workflow code changes and shutdown your resources after executing your workflow, in a <a target="_blank" href="https://github.com/greenelab/continuous_analysis">Continuous Analysis</a> way.

			__Collaboration (coming soon!)__

			Cacao makes collaboration in the cloud, less cloudy. You will be able share resources and workflows with the people you want.

			###[What next?](#cacao:whatnext)

			If you are a new user to Cacao, see [get started in using Cacao](#cacao:newuser).

	#cacao:glossary
		:markdown
			##[Glossary](#cacao:glossary)

			Cacao Glossary

			This glossary defines common terms you might see in Cacao.

	#cacao:glossary-a
		:markdown
			###[Application credential](#cacao:glossary-a)

			An application credential, specifically an <a target="_blank" href="https://docs.openstack.org/keystone/xena/user/application_credentials.html">Openstack application credential</a>, is a credential that allows a user to login to an Openstack cloud without the user's password.

	#cacao:glossary-c
		:markdown
			###[Continuous analysis](#cacao:glossary-c)

			Continuous analysis is the ability to execute workflows triggered by events, such as data changes or code changes.

	#cacao:glossary-d
		:markdown
			###[Deployment](#cacao:glossary-d)

			A deployment is one or more resources, such as instances, created on one or more clouds.

	#cacao:glossary-i
		:markdown
			###[Instance](#cacao:glossary-i)

			An instance is another name for a virtual machine or server (in Openstack).

	#cacao:glossary-m
		:markdown
			###[Meta cloud orchestration](#cacao:glossary-m)

			The ability to provision resources in different types of clouds

	#cacao:glossary-p
		:markdown
			###[Provider](#cacao:glossary-p)

			A provider is another name for cloud or cloud provider, where cloud resources are created.

	#cacao:glossary-r
		:markdown
			###[Resource](#cacao:glossary-r)

			A resource or cloud resource is a general term used for any object -- instance, volume, container -- in a cloud.

	#cacao:glossary-t
		:markdown
			###[Template](#cacao:glossary-t)

			A template refers to a set of instructions or description of what cloud resources to create on a cloud. A template in Cacao requires a template engine to process the hte instructions or description. Currently, Cacao's primary templates for OpenStack use Hashicorp Terraform.

	#cacao:glossary-w
		:markdown
			###[Workspace](#cacao:glossary-w)

			A workspace is a way to group one or more deployments.

	#cacao:basics
		:markdown
			##[UI Basics](#cacao:basics)

	#cacao:uibasics
		:markdown
			###[Cacao UI basics](#cacao:uibasics)

			Welcome to Cacao, a multi-cloud orchestration service. Cacao helps transform research and education in a multi-cloud world. This guide will cover how to navigate the user interface of Cacao.

	#cacao:uibasics-sidebar
		:markdown
			###[Sidebar](#cacao:uibasics-sidebar)

			The sidebar is the main navigation for the Cacao user interface.

			<img width="600" src="/documents/10308/2947537/cacao-basics-fig-1/a862e1a1-a19c-44fb-82f0-752f09c39d09?t=1648751212000"/>

			__Home__

			The Home view provides a dashboard for your account, including a summary of your providers, allocation, and resources used.

			<img width="600" src="/documents/10308/2947537/cacao-basics-fig-2/8af9f1c8-792b-42c2-88b7-cd0e1a11f962?t=1648751233000"/>

			__Deployments__

			Deployments displays your workspaces and deployemnts.

			<img width="600" src="/documents/10308/2947537/cacao-basics-fig-3/2d263c23-fbcb-45c0-89df-04e44907b7b0?t=1648751260000"/>

			__Credentials__

			Credentials provides access to your the various credentials used to access clouds and resources, including ssh key and openstack credentials.

			<img width="600" src="/documents/10308/2947537/cacao-basics-fig-4/45199509-3d38-412f-91f0-727d04078e59?t=1648751285000"/>

			__Storage (still baking)__

			Storage displays your storage resources

			__Providers (still baking)__

			Providers displays details about your clouds.

			__Templates (still baking)__

			Templates provides advanced users access to import or share templates they create.

	#cacao:uibasics-help
		:markdown
			###[Help](#cacao:uibasics-help)

			Help provides access to help resources.

	#cacao:uibasics-account
		:markdown
			###[Your Account](#cacao:uibasics-account)

			Your Account menu shows your account information and access to your settings and preferences.

	#cacao:newuser
		:markdown
			##[Getting Started for New Users](#cacao:newuser)

			Cacao is a space for you to organize and manage your Jetstream cloud resources. Once you obtain your Jetstream allocation, this guide will help you get started.

			1. Login to Cacao

				Cacao uses Globus XSEDE credentials for identity.

				1. In your browser, connect to https://cacao.jetstream-cloud.org
				1. Click "Sign-In".
				1. If you are not currently logged into globus, you should select XSEDE
				1. Enter your XSEDE login credentials
				1. You may need to authenticate with your two-factor

				<img width="600" src="/documents/10308/2947537/cacao-getting-started-fig-1/077c6948-8261-4380-96a6-01348577b83a?t=1648751392000"/>

			1. Add your Jetstream 2 credentials

				Access to any Jetstream 2 cloud will begin with adding your Openstack credentials, which may be different from your XSEDE credentials.

				1. Click on the Credentials menu
				1. Click on Add Credential button
				1. Select Jetstream Password Credential
				1. Select Cloud
				1. Enter Openstack Project Name; this is the default project to create resources
				1. Enter your Openstack Username
				1. Enter your Openstack Password
				1. Click on the Add button

				<img width="600" src="/documents/10308/2947537/cacao-getting-started-fig-2/a393c2ce-dd96-4339-8e53-b4fd7bd1869f?t=1648751423000"/>

			1. Add a Public SSH Key

				SSH Keys are used to login to virtual machines (sometimes called 'servers' or 'instances') after they are launched.

				1. Click on the Credentials menu
				1. Click on the Add Credential button
				1. Select Public SSH Key
				1. Enter a name for your public ssh key
				1. Paste in your public ssh key
				1. Click on the Add button

				<img width="600" src="/documents/10308/2947537/cacao-getting-started-fig-3/c789c8b3-0658-4080-a852-155eaf351681?t=1648751521000"/>

			1. Create your first workspace

				You can use Workspaces to organize your deployments.

				1. Click on the Deployments menu
				1. Click on the Add Workspace button
				1. Enter your Workspace name
				1. Enter a Description
				1. Enter a Default Cloud, which is used to deploy your resources
				1. Click on the Create Workspace Button

				<img width="600" src="/documents/10308/2947537/cacao-getting-started-fig-4/6a5acc45-ba27-4ba4-974c-e5dd66a111a7?t=1648751549000"/>

			1. Create your first deployment

				1. Click on the Deployments menu
				1. Click on the Add Deployment button
				1. Select Workspace, then Next button
				1. Select the "openstack-single-image-new" Template, then Next Button
				1. Select your Openstack credential, then wait a few seconds for the project list to be retrieved
				1. Select your Openstack project to launch your deployment
				1. Enter your deployment values A. Deployment name B. Select your image C. Number of instances D. Size (also called 'flavor')
				1. Click Next button
				1. Review the deployment settings, then click Submit button

				<img width="600" src="/documents/10308/2947537/cacao-getting-started-fig-5/23a4c8da-57b5-4f5b-b935-79428f4497fe?t=1648751579000"/>

			1. Learn about other Cacao features

	#cacao:credentials
		:markdown
			##[Credentials](#cacao:credentials)

			*Coming soon!*

			Cacao allows you to manage various types of cloud and access credentials. Some credentials are required before using a cloud, such as the Jetstream Password Credential or the Jetstream.

	#cacao:workspaces
		:markdown
			##[Workspaces](#cacao:workspaces)

			*Coming soon!*

	#cacao:deployments
		:markdown
			##[Deployments (Launching a VM)](#cacao:deployments)

			*Coming soon!*

	#cacao:allocation
		:markdown
			##[Choosing Your Allocation](#cacao:allocation)

			Your account should have an Openstack project for every active XSEDE project-allocation. Jetstream2 uses the Openstack project to launch and recognize utilization against your XSEDE project-allocation.

			Within Cacao, you can assign the XSEDE project-allocation in the deployment wizard when you select the appropriate credentials. Note, a Jetstream2 application credential will automatically assign the Openstack project, which is tied to the application credential. Jetstream password credentials allow you to change the XSEDE project-allocation.

			<img width="600" src="/documents/10308/2947537/cacao-alloc-fig-1/35756918-6229-407c-8d81-1392d2c7d23b?t=1648751181000"/>

			Now that you know how to choose your allocation, you can learn more about [Credentials](#cacao:credentials) and [Deployments](#cacao:deployments).

	#cacao:login
		:markdown
			##[Logging into an Instance](#cacao:login)

			Cacao provides easy access to your instance after it is launched as part of a deployment:
			* Command line access via SSH
			* Command line access using Web Shell
			* Web Desktop.

	#cacao:manageinst
		:markdown
			##[Instance Management](#cacao:manageinst)

			*Coming soon!*

	#cacao:storage
		:markdown
			##[Storage](#cacao:storage)

			*Coming soon!*

	#cacao:trouble
		:markdown
			##[Troubleshooting](#cacao:trouble)

			*Coming soon!*

