<span style="font-size:225%; font-weight:bold;">Jetstream2 User Guide</span><br />
<em>Last update: July 19, 2022</em></p>

:markdown
	### Jetstream2 is Here
	
	Indiana's Jetstream2, in collaboration with Arizona State, Cornell, Hawai'i and TACC, has entered into operations phase. Complete User Guide information is presented below. Please see <a target="_blank" rel="noopener" href="https://docs.jetstream-cloud.org">Jetstream2 Home</a> for the most recent changes, and subscribe to <a target="_blank" rel="noopener" href="/user-news">XSEDE User News</a> to receive direct announcements.

	__*As of July 19, Jetstream1 has TWELVE days of operation remaining.*__

	As noted in previous email contacts, Jetstream1 will be retired on July 31, 2022. For those of you that have already moved to Jetstream2, thank you for your efforts. 

	__*For those remaining, time is running short and there will be no extensions.*__

	If you have already moved your usage over to Jetstream2, we would ask that you delete any servers or volumes you no longer need on Jetstream1.

	Jetstream1 (JS1) will remain online through the end of July 2022. We are no longer accepting any new allocations on Jetstream1 as Jetstream2 (JS2) has entered operations phase. There will be no extension beyond July 31 for JS1. All allocations will be disabled and denied access at that time.

	We strongly recommend users migrate to JS2 as soon as possible. VMs on JS1 will continue running as long as you have a valid allocation there but only until it is decommissioned. The TACC cloud of JS1 will likely be taken down in stages prior to the IU cloud.
		
	* Information on the migration to JS2 may be found here: https://docs.jetstream-cloud.org/migration/migration_overview/
	* General How-To instructions may be found here: https://docs.jetstream-cloud.org/migration/how_to_migrate/

	__Please note that NO JS1 RESOURCES WILL BE TRANSFERRED TO JS2 BY DEFAULT.__

	All data will require your human interaction if you wish to save/migrate it.

	Please do feel free to contact us via our contact form at https://jetstream-cloud.org/contact/index.html for any questions not covered in the JS2 migration or general documentation.

