#containers
	:markdown
		#[Containers](#containers)

		Containers are isolated environments in which to run your applications. They created by objects called images. An image is defined as a read only template with instructions for creating a container. These instructions define everything a container needs; Software, dependencies, system libraries, environment variables, configuration files, etc.

	#containers:docker
		:markdown
			##[Docker](#containers:docker)

	#containers:docker-commands
		:markdown
			###[Some Basic Docker Commands](#containers:docker-commands)

			__Give the installed version of Docker.__

				docker -version

			__Download the image from dockerhub.__

				docker pull <image_name>

			__Run the image pulled from dockerhub to create a container.__ If you don't have a local copy of the image, the `run` command will pull and then run the image to create a container.

				docker run  <image_name>

			__Process status of containers.__ If no container is running, you get a blank line.

				docker ps

			__Process status of all containers.__

				docker ps -a

			__Run a command in the docker container.__ The `-it` flag provides an interactive tty (shell) within the container.

				docker exec -it <container_id> bash

			__Shut down a computer.__

				docker stop <container_id>

			__Build an image from the specified docker file.__

				docker build <path_to_docker_file>

			__Push an image to the docker hub repository.__

				docker push <docker_hub_username/image_name>

	#containers:k8s
		:markdown
			##[Kubernetes](#containers:k8s)

			Kubernetes (K8s) is an open-source system for automating deployment, scaling, and management of containerized applications.

			Here is some more <a target="_blank" href="A Pod is the smallest deployable unit of Kubernetes. A Pod can contain one or more containers on a single IP">information on Kubernetes</a>.

	#containers:k8s-basics
		:markdown
			###[Some K8s basics](#containers:k8s-basics)

			1. A __Pod__ is the smallest deployable unit of Kubernetes. A Pod can contain one or more containers on a single IP.
			1. A __Node__ is a physical or virtual machine and its components include kubelet, kube-proxy and Container run-time.
				* __Kubelet__ is the Node agent that manages containers created by Kubernetes.
				* __Kube-proxy__ is used by Service to run a network proxy on each Node.
				* __Container__ runtime is the software responsible for running containers. Ex: Docker, containerd, and CRI-O.
			1. __Service__ allows the use of a stable network address for an application, including a persistent ip address and a local DNS entry within the cluster. Service also acts as a load-balancer across all pods allowing the addition removal of pods from a deployment.
			1. __ReplicaSet__ is a convenient way to build multiple pods at once.
			1. __Deployment__ provides declarative updates for Pods and ReplicaSets (rolling updates).
			1. __Control Pane__ is a node that controls/manages worker nodes. The components of the Control Pane are the API Server, the cluster store, the controller manager, and the scheduler.

			* __API server__ All communication between the various Kubernetes components must go through the API server.
			* __Cluster Store__ or __etcd__ Persistently stores the cluster's configuration, state, and metadata.
			* The __Controller Manager__ runs controller processes that monitor and respond to controller events. Some examples of control loops include; node controller, job controller, end point controller, and replication controller.
			* The __Scheduler__ assigns pods to nodes.

	#containers:buildk8s
		:markdown
			##[Building a Kubernetes Cluster](#containers:buildk8s)

			A k8s cluster is a collection of nodes running containers. Each node is responsible for running containers that are on that specific node.

			In this example, we use the `kubeadm` tool to set up a cluster. Our cluster has 3 VMs:  1 control plane and 2 worker nodes.

	#containers:buildk8s-install
		:markdown
			###[Installation](#containers:buildk8s-install)

			Create three virtual machines and run the installation commands (1-16) on all three.

			1. __Create configuration file for containerd__

				<pre>
				</pre>

			1. __Load modules__

					sudo modprobe overlay
					sudo modprobe br_netfilter

			1. __Set networking configurations for K8s__

				<pre>
				</pre>

			1. __Apply new settings__

					sudo sysctl --system

			1. __Install containerd__

					sudo apt-get update && sudo apt-get install -y containerd

			1. __Create default configuration file for containerd__

					sudo mkdir -p /etc/containerd

			1. __Generate default containerd configuration and save to the newly created default file__

					sudo containerd config default | sudo tee /etc/containerd/config.toml

			1. __Restart containerd to ensure new configuration file usage__

					sudo systemctl restart containerd

			1. __Verify that containerd is running__

					sudo systemctl status containerd

			1. __Disable swap__

					sudo swapoff -a

			1. __Install dependency packages__

					sudo apt-get update && sudo apt-get install -y apt-transport-https curl

			1. __Download and add GPG key__

					curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

			1. __Add Kubernetes to repository list__

				<pre>
				</pre>

			1. __Update package listings__

					sudo apt-get update

			1. __Install Kubernetes packages__

					sudo apt-get install -y kubelet=1.22.0-00 kubeadm=1.22.0-00 kubectl=1.22.0-00

			1. __Turn off automatic updates__

					sudo apt-mark hold kubelet kubeadm kubectl

	#containers:buildk8s-initialize
		:markdown
			###[Initialize the Cluster](#containers:buildk8s-initialize)

			1. Before initializing the cluster, make sure the Cgroup driver is `systemd` on all three VMs. You can check that by running the following command: `docker info | grep Cgroup`

				To change the Cgroup drive to systemd you can do the following:

				<pre>
				</pre>

			1. __You will need to restart Docker and reset `kubeadm` for the change in the previous step to take effect.__

					sudo systemctl daemon-reload
					sudo systemctl restart docker
					sudo kubeadm reset

			1. __Initialize the Kubernetes cluster on the control plane node using kubeadm.__

					sudo kubeadm init --pod-network-cidr 192.168.0.0/16 --kubernetes-version 1.22.0

			1. __Set kubectl access on the control plane.__

					mkdir -p $HOME/.kube
					sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
					sudo chown $(id -u):$(id -g) $HOME/.kube/config

			1. __On the Control Plane Node, install Calico Networking.__

					kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml

			1. __Test access to cluster.__

					kubectl get nodes

	#containers:buildk8s-join
		:markdown
			###[Join Worker Nodes to the Cluster](#containers:buildk8s-join)

			1. __On the Control Plane Node, create the token and copy the kubeadm join command.__  (Note: The `join` command can also be found in the output from `kubeadm init` command).

					kubeadm token create --print-join-command

			1. __On the Worker Nodes, paste the kubeadm join command to join the cluster. Use sudo to run it as root.__

					sudo kubeadm join ...

			1. __On the Control Plane Node, view cluster status.__  (Note: You may have to wait a few moments to allow all nodes to become ready).

					kubectl get nodes

	#containers:buildk8s-cleanup
		:markdown
			###[Clean Up](#containers:buildk8s-cleanup)

			1. __On the Control Plabe Node, delete a resource using kubectl.__

				kubectl delete node <node name>

			__Note__

			Before using the cluster confirm that all pods in the kube-system are running.

				kubectl get pods -n kube-system -o wide

			This command will give you a list of pods in the kube-system namespace, the status of the pod, the node it is running on. If the status of a pod is not `Running`, you can check the logs for error messages.

				kubectl logs -n kube-system {name_of_your_pod}

	#containers:managek8s
		:markdown
			##[Managing Applications with Kubernetes](#containers:managek8s)

			To manage applications with Kubernetes we use the `apply` command. This command requires a file or directory of files. When run, the `apply` command makes the state of the Kubernetes cluster match the state defined in the file(s).

			Using the Kubernetes CLI, (Kubectl), we can create objects such as Pods, Deployments. etc. by providing a yaml file for that object.

	#containers:managek8s-pods
		:markdown
			###[Pods](#containers:managek8s-pods)

			A Pod represents a single instance of an app running in the cluster.

			Here's an example of a yaml file that defines a pod named, simple-pod.yaml The kind field describes the type of object you want to create. The pod spec must contain at least one container. Image specifies which image will be run in the pod. Finally, we list the port to expose from the container.

			yaml manifest:

			<pre>
			apiVersion: v1
			kind: Pod
			metadata:
			  name: nginx-deployment
			  label:
			  app: nginx  
			spec:
			  containers:
			  - name: nginx
			    image: nginx:1.14.2
			    ports:
			    - containerPort: 80
			</pre>

			To create the pod defined in the yaml file above, run the following command:

				kubectl apply -f simple-pod.yaml

			command line:

				kubectl run nginx-deployment --image=nginx --port=80

	#containers:managek8s-replicaset
		:markdown
			###[ReplicaSet](#containers:managek8s-replicaset)

			ReplicaSet adds or deletes pods as needed. Creating replicas of a pod scales an application horizontally. Replicas are usually created as part of a deployment. Here's a sample yaml file for creating 2 replicas, to create a ReplicaSet without a deployment.

			<pre>
			apiVersion: apps/v1
			kind: ReplicaSet
			metadata:
			  name: nginx-replicaset
			spec: 
			  replicas: 2
			  selector:
			    matchLabels:
			     app: nginx
			spec: 
			  containers:
			  - name: nginx
			    image: nginx:1.14.2
			    ports:
			    -containerPort: 80
			</pre>

			command line:

				kubectl scale --replicas=2 deployment nginx-deployment

	#containers:managek8s-deployment
		:markdown
			###[Deployment](#containers:managek8s-deployment)

			Deployment is an object that can provide updates to both pods and ReplicaSets. Deployment object allows you to do rolling updates of a pod, ReplicaSet object does not. A rolling update scales up the new version to the appropriate number of replicas and scales down the old version to zero.

			yaml manifest:

			<pre>
			apiVersion: apps/v1
			kind: Deployment
			metadata:
			  name: nginx-deployment
			spec: 
			  replicas: 3
			  selector:
			    matchLabels:
			     app: nginx
			spec: 
			  containers:
			  - name: nginx
			    image: nginx:1.14.2
			    ports:
			    -containerPort: 80
			</pre>

			command line:

				kubectl create deployment nginx-deployment --image=nginx

	#containers:managek8s-service
		:markdown
			###[Service](#containers:managek8s-service)

			Service enables network access from either within the cluster or between external processes.

			<pre>
			kind: Service
			metadata:
			  name: nginx-ingress
			spec:
			  type: NodePort
			  ports:
			  - port: 80
			    targetPort: 80
			    protocol: TCP
			    name: http
			  - port: 443
			    targetPort: 443
			    protocol: TCP
			    name: https
			  selector:
			    app: nginx
			</pre>

			command line:

				   kubectl create service nodeport nginx-deployment --tcp=80:80

	#containers:managek8s-autoscale
		:markdown
			###[Autoscaling](#containers:managek8s-autoscale)

			A Horizontal Pod Autoscaler (HPA) allows you to scale up or down depending on traffic. This can be configured by specifying the CPU or memory states. The master node periodically checks to see if the desired state is met and scales up or down as needed.

			One way to do this is to enable autoscaling in a yaml file:

			<pre>
			apiVersion: apps/v1
			kind: Deployment
			metadata:
			  name: nginx-deployment
			  namespace: default
			spec:
			  maxReplicas: 10
			  minReplicas: 5
			  scaleTargetRef: 
			    apiVersion: apps/v1
			    kind: Deployment
			    name: nginx-deployment
			   targetCPUUtilizationPercentage: 10
			...
			...
			</pre>

			command line:

				kubectl autoscale deploy nginx-deployment --min=5 --max=10 --cpu-percent=50

	#containers:persistk8s
		:markdown
			##[Persistent Volumes in Kubernetes](#containers:persistk8s)

			Container filesystems are ephemeral. One way to persist data beyond the lifetime of a pod is by using volumes. PersistentVolume is storage external to the Container but within the same Pod spec.

			Creating persistent storage requires the following definitions:

			* StorageClass
			* PersistentVolume
			* PersistentVolumeClaim
			* Pod that uses the PersistentVolumeClaim for storage

			Here are some sample definition files.

	#containers:persistk8s-storageclass
		:markdown
			###[StorageClass:](#containers:persistk8s-storageclass)

			<pre>
			apiVersion: storage.k8s.io/v1
			kind: StorageClass
			metadata:
			  name: localdisk
			provisioner: kubernetes.io/no-provisioner
			</pre>

	#containers:persistk8s-persistent
		:markdown
			###[PersistentVolume](#containers:persistk8s-persistent)

			<pre>
			apiVersion: v1
			kind: PersistentVolume
			metadata:
			  name: alpine-pv
			  namespace: default
			spec:
			  storageClassName: localdisk
			  capacity:
			    storage: 1Gi
			  accessModes:
			    - ReadWriteOnce
			  hostPath:
			    path: /var/output
			</pre>

	#containers:persistk8s-persistent-claim
		:markdown
			###[PersistentVolumeClaim](#containers:persistk8s-persistent-claim)

			<pre>
			apiVersion: v1
			kind: PersistentVolumeClaim
			metadata:
			  name: alpine-pv-claim
			spec:
			  storageClassName: localdisk
			  accessModes:
			    - ReadWriteOnce
			  resources:
			    requests:
			      storage: 100Mi
			</pre>

	#containers:persistk8s-pod
		:markdown
			###[Pod](#containers:persistk8s-pod)

			<pre>
			apiVersion: v1
			kind: Pod
			metadata:
			  name: alpine
			  namespace: default
			spec:
			  volumes:
			    - name: alpine-volume
			      persistentVolumeClaim:
			         claimName: alpine-pv-claim
			  containers:
			    - image: alpine:3.2
			      command: ['sh', '-c', 'while true; do echo This is a test! > /output/trial_run.txt; sleep 20; done']
			      imagePullPolicy: IfNotPresent
			      name: alpine
			      volumeMounts:
			         - name: alpine-volume
			           mountPath: /output
			</pre>

			The steps to create and use volumes are below:

			1. On the Control Plane, create the StorageClass, PersistentVolume, PersistentVolumeClaim, and Pod with the `kubectl create` command.
			1. Check if your pod is running and which worker node it is running on:

				The `-o wide` below list the node the pod is running on.

					kubectl get pods -o wide

			1. Log into the worker node and verify that `/var/output/trial_run.txt` exists and is populated.
			1. If you delete and recreate the pod, the volume will automatically bind to the new pod with the `trial_run.txt` file.

	#containers:minikube
		:markdown
			##[Minikube](#containers:minikube)

			Minikube allows you to run a Kubernetes cluster locally.

	#containers:minikube-install
		:markdown
			###[Installation](#containers:minikube-install)

			1. Install Minikube on your Virtual Machine:

				Note: If you have VirtualBox installed, you can specify vm-driver=VirtualBox

					curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
					sudo install minikube-linux-amd64 /usr/local/bin/minikube
					sudo minikube config set vm-driver none

			1. Install kubectl:

					curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
					chmod +x kubectl
					sudo mv ./kubectl /usr/local/bin/kubectl

			1. Start Minikube:

					minikube start

			1. You can check your kubectl installation running the following command:

					kubectl get pods --all-namespaces

				This should list all the kube-system pods currently running on the machine. 

			1. Create a Deployment

					kubectl create deployment --image nginx my-nginx
					kubectl expose deployment my-nginx --port=80 --type=NodePort
					kubectl get svc

			1. Start Dashboard

				To view your minikube dashboard, run the following command. 

					minikube dashboard --url &

				This might throw an error depending on what's installed on your machine. To access your dashboard you need to run Kubeproxy.

			1. Kubeproxy

					kubectl proxy --address=0.0.0.0 --accept-hosts='.*'

			1. View Minikube Dashboard

				To view your minikube dashboard from your web browser, run the following command (replace host_ip with the ip address of your VM):

					http://{host_ip}:8001/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/

			1. Delete Cluster

					minikube delete

