#faq
	:markdown
		#[Jetstream2 FAQ Home](#faq)

		For specific FAQs, see the following pages:

		* [Early Operations FAQ](#faq:earlyops)
		* [Allocations FAQ](#faq:allocs)
		* [Troubleshooting](#faq:trouble)
		* [Security FAQ](#faq:security)
		* [Software FAQ](#faq:software)

	#faq:general
		:markdown
			##[General FAQs](#faq:general)

	#faq:general-customize
		:markdown
			###[__I need a root disk larger than the maximum size for Jetstream2 instances. Can you create a custom flavor for me?__](#faq:general-customize)

			In OpenStack, flavors define the compute, memory, and storage capacity of instances. We may also refer to it in support tickets or documentation as the VM's size.

			We won't create custom flavors, but there are ways to get larger root disks. You can review the flavors and see if moving up from one of the smaller VMs to a slightly larger one would yield a larger root disk. The other option is to use a custom sized root disk using what Openstack calls "boot from volume", or a "volume-backed" instance. What this means is that instead of an ephemeral boot disk for the instance, a volume is used to be the root disk.

			There are several upsides to this:

			* You can have a root disk large enough to fit your needs
			* The disk becomes reusable as a volume if necessary
			* Shelving the instance is extremely fast compared to shelving a typical instance

			The downside is that using boot from volume will count against your Jetstream2-Storage allocation whereas root disks do not.

			Instructions for using boot from volume are here:

			* [Exosphere: Choose a Root Disk Size](#)
			* Cacao (link coming)
			* Horizon (link coming)
			* CLI (link coming)

	#faq:general-windows
		:markdown
			[__Will there be Microsoft Windows support on Jetstream2?__](#faq:general-windows)

			Microsoft Windows is not officially supported on Jetstream2. We will be making a limited number of images available for experimental use.

			It is not known at this time whether GPUs will work on Microsoft-based instances. We will test this as time permits.

			More information may be found on the [Microsoft Windows on Jetstream2](#policies:windows) page.

	#faq:general-sharevol
		:markdown
			[__How do I share a volume between virtual machines?__](#faq:general-sharevol)

			You can't easily share volumes in OpenStack without deploying a Shared File System service. However, the native Openstack Manila filesystems-as-a-service option is available.

			Instructions for using manila on Jetstream2 are at [Manila - Filesystems-as-a-service - on Jetstream2](#storage:manila-faas).

	#faq:general-password
		:markdown
			[__Can I set the password for a user on my virtual machine?__](#faq:general-password)

			We generally don't recommend using password authentication on Jetstream2, recommending that you use SSH keys for access. That said, if you need to set a password for console access or for some other reason, you can do it like this:

				sudo passwd *username*

	#faq:earlyops
		:markdown
			##[Early Operations FAQ](#faq:earlyops)

	#faq:trouble
		:markdown
			##[Troubleshooting](#faq:trouble)

			Jetstream2 requires that you be on a valid [XSEDE allocation](/allocations/startup). If you are having issues accessing the various Jetstream2 interfaces, please first verify that you're on a valid allocation via the [XSEDE User Portal](/).

	#faq:trouble-uis
		:markdown
			###[Troubleshooting Jetstream2 Interfaces](#faq:trouble-uis)


			* [Exosphere](#exo)
			* [Cacao](#cacao)
			* [Horizon](#horizon)
			* [CLI](#cli)

	#faq:trouble-general
		:markdown
			###[General Troubleshooting](#faq:trouble-general)

			* Topics will go here
	#faq:allocs
		:markdown
			##[Allocations FAQ](#faq:allocs)

			1. __Is there an overview of the types of allocations available as well as any restrictions those allocations have?__

				The [Getting Started guide](https://www.xsede.org/for-users/getting-started) describes the process of getting onto XSEDE, applying for allocations and using XSEDE resources. To review the types of allocations XSEDE and the process to get an allocation, here are some links you might find useful:

				* [Allocations overview](https://www.xsede.org/web/guest/allocations)
				* [Types of allocations, eligibility, details](https://www.xsede.org/web/xup/documentation-overview#allocations-types)
				* [Allocation policies](/allocations/policies)
				* [Submit and manage allocation requests](https://www.xsede.org/group/xup/submit-request)
				* [Proposal deadlines](/allocations/research#schedule)

			1. __Is there a example or demonstration of how to get an allocation that I could follow?__

				There is a Cornell Virtual Workshop (CVW) on <a target="_blank" href="https://cvw.cac.cornell.edu/JetstreamReq">Getting a Research Allocation for Jetstream</a>. UPDATE FOR JS2

			1. __How do I let other XSEDE accounts use my allocation?__

				You can add users to (or remove them from) your XSEDE allocation via the XSEDE User Portal. Users must have already created their XSEDE accounts before they can be added to an allocation.

				The principal investigator, co-principal investigator, or allocation manager can follow these instructions to [add users to, or remove them from](/allocations/managing), an active Extreme Science and Engineering Discovery Environment (XSEDE) allocation.

				*Please note that it can take up to four hours for users added to an allocation to become active.*

			1. __How often can I get a startup allocation?__

				Applications for startup allocations will only be accepted once. If you have modest needs that are equal or less than startup values, you may renew your startup allocation. If you need a larger allocation, it is best to apply for a research allocation.

				Maximum Startup/Campus Champion Allocation values for each resource are:

				* Jetstream2 CPU - 200,000 SUs
				* Jetstream2 Large Memory - 400,000 SUs
				* Jetstream2 GPU - 600,000 SUs
				* Jetstream2 Storage - 1TB default*

				<sup>*</sup> Storage limits may be larger than 1TB per allocation for a startup if well-justified.

			1. __I'm running out of Service Units (SUs) or storage. How do I request more?__

				If you already have an XSEDE allocation and need to request additional service units (SUs), the PI, co-PI, or delegate may submit a request via the XSEDE User Portal. For instructions on how to submit the request, see [Jetstream2 Allocation Supplements](#allocations:supplement).

			1. __I am at or exceeding the quota limits for my allocation.__

				 How do I request additional resources such as CPUs and memory?

				 You may contact <help@xsede.org> or <help@jetstream-cloud.org> with those requests.

				It is important to note that Jetstream Trial Allocation quotas are fixed and will NOT be increased under any circumstances.

				 For other allocation types, justification will be required and will be granted at the discretion of the Jetstream2 staff based on the justification and available resources. Please note that large memory and GPU resources are limited so requests for those will require strong justification for success or partial success. We strive to make resources available to all researchers that require them, so striking a balance between the needs of one versus many is often necessary.

	#faq:security
		:markdown
			##[Security FAQ](#faq:security)

			__Do I need to patch/update my VMs?__

			The featured images provided by the Jetstream team have unattended security updates enabled. Instances will not reboot, but they will apply any update marked as a security update. It's still a good idea to update your VM periodically.

			* CentOS 7: `sudo yum update`

			* Rocky 8: `sudo dnf update`

			* Ubuntu: `sudo apt-get update ; sudo apt-get upgrade`

			If the kernel or glibc/libc packages are being updated, rebooting is necessary to implement those updates

			Always run updates before taking snapshots so your new instances will have the latest patches in place.

			__Do I need to secure services running on my VMs?__

			If you have a public IP (also called a floating IP in OpenStack terminology), your instance may be exposed to the internet. While you can use security groups or host-based firewalls like iptables or UFW to limit access, it's best to take a posture of defense in depth and always secure any listening services.

			We recommend limiting access to any service ports via security group and/or firewall in addition to making sure any non-public services like databases have secure passwords for all accounts. If your service only needs to be accessible to the VM it's running on, check the documentation to see if it can be bound only to the localhost port. (Not all services have this ability.)

			__Do I need to run a firewall on my VM?__

			Jetstream2 staff encourages a defense-in-depth approach to security. This potentially involves several methods of restricting access and securing instances.

			Firewalls are not enabled by default on Jetstream2 instances. Depending on the user interface you launched your instance from, you may have different security groups established for your instance. (See [What is the default security profile for Jetstream2 VMs?](#faq:security) below for more information on that.)

			We encourage keeping your instances patched, rebooting as needed for any kernel or glibc patches, limiting access to all services as much as possible, utilizing security groups if your interface allows it, and running your own host-based firewall if you're comfortable administering it.

			Please refer to Jetstream2 Virtual Machine Firewalls for more information.

			__What is the default security profile for Jetstream2 VMs?__

			That depends on the interface.

			The CLI and Horizon by default allow egress only. You have to apply the appropriate security groups for ingress. Please refer to the [CLI](#cli) or [Horizon](#horizon) sections for more information on managing security groups in those interfaces.

			For Exosphere, the default security group allows all egress and inbound access.

			For CACAO, the default security group will be announced when it is available for general usage.

			__In Exosphere, there is a way to get a passphrase for any instance. Can I prevent other users on my allocation from accessing my instance(s)?__

			The way Jetstream2 is currently architected, all users on an allocation have access to all resources on the allocation. By default, Exosphere hides some resources created by other users, but this is only a convenience and it cannot assure separation of access.

			It is possible to make it less straightforward for another user on the same allocation to access your running instance. You can do this by changing the password for the default exouser account. Changing the password does not prevent any access, but makes it more difficult. (Note that currently, changing the exouser account password will break Web Shell, Web Desktop, and some other Exosphere-powered instance interactions. This may change in the future.)

			We note how to change a user password at [Can I set the password for a user on my virtual machine?](#faq:general-password).

			You can do:

				sudo passwd exouser

			and that solves the issue of them being able to access your instance using the credential listed on the Exosphere page. While you can use the console option still, we HIGHLY suggest utilizing ssh keys for your instances to ensure you have access. That's covered in [Creating an Instance with Exosphere](#exosphere:create) under the advanced options. You can also manually add your key to an already running instance.

	#faq:software
		:markdown
			##[Software FAQ](#faq:software)

			Jetstream2 provides some software packages for all researchers. The sheer number of available packages across all of the scientific disciplines makes it impossible to meet the desires of everyone in installing and maintaining software for research.

			__How can I see what software is maintained by the Jetstream2 staff?__

			See the [Software Collection](#usage:software) section.

			__How do I access the software in this collection?__

			This software store is mounted automatically when the instance is launched. Instructions for using it are in the [Software Collection](#usage:software) section.

			__Can I request to have other software packages added to the software collection?__

			You can request software using the <a target="_blank" href="https://jetstream-cloud.org/contact/index.html">contact form</a>.

			Please keep in mind that we cannot add and maintain all requested software packages. We will review any requests and track those requests.

			Since everyone on Jetstream2 allocations potentially has root access on their VMs, you can install any software you need. You can then snapshot and save your customized images.

