#home
	:markdown
		#[Jetstream2](#home)

		Jetstream2 is a user-friendly cloud computing environment for researchers and educators running on <a target="_blank" href="https://www.openstack.org">OpenStack</a> and featuring <a href="#exosphere">Exosphere</a> as the primary user interface and <a href="#cacao">Cacao</a> (formerly known as Atmosphere) as an additional graphical user interface. It is built on the successes of Jetstream1 and continues the main features of that system while extending to a broader range of hardware and services, including GPUs, large memory nodes, virtual clustering, programmable cyberinfrastructure with OpenStack Heat and Terraform, and many other features. It is designed to provide both infrastructure for gateways and other __always on__ services as well as giving researchers access to interactive computing and data analysis resources on demand.

		For a more in-depth description please see the [System Overview](#info).

	#home:review
		:markdown
			##[New users may wish to review:](#home:review)

			* [System Overview](#sysinfo)
			* [Acceptable Use Policies](#aup)
			* [Allocations Overview](#allocations:overview)
			* [Exosphere Overview](#exosphere:overview)

			Our [Troubleshooting and FAQ](#faq:trouble) may have helpful suggestions for common problems.

	#home:migrating
		:markdown
			##[Migrating from Jetstream1 to Jetstream2](#home:migrating)

			The team is actively working on a migration plan for allocations and resources on Jetstream1 but it is not publicly available at this time.

			Jetstream1 will remain online through the end of Q1 2022. We will stop accepting any new allocations on Jetstream1 as soon as Jetstream2 enters operations phase. That date is still yet to be determined.

			VMs on Jetstream1 will continue running as long as you have a valid allocation there and until it is decommissioned. The TACC cloud of Jetstream1 will likely be taken down in stages prior to the IU cloud, but those timelines are still up in the air, as well.

			Migration plans are still under development. We will provide instructions for moving your VMs and possibly have some tools to help facilitate that. It is also highly likely to NOT be an entirely automatic process. Volumes will not persist because they are completely separate systems and do not share storage. There will be migration information for that, as well.

			Please watch this space and XSEDE user news and mailing lists for announcements about Jetstream2 operations and migration. To ensure that you are receiving all updates to your inbox, login on the page above to manage your XSEDE User News subscriptions. All Jetstream2 users should be added when they are placed on an allocation, but you may wish to verify so that you don't miss any important migration updates.

	#home:cli-note
		:markdown
			###[Important note for CLI users](#home:cli-note)

			Jetstream2 uses application credentials for CLI access so CLI users can authenticate using XSEDE credentials. Please see [Setting up openrc.sh for the Jetstream2 CLI](#cli:openrc) for instructions on generating application credentials and an openrc for Jetstream2.

			__Updates will all be made here and shared via [XSEDE User News](/user-news)__.

	#home:earlyfaq
		:markdown
			##[Early Operations FAQ](#home:earlyfaq)

			Early operations has started on Jetstream2! Official start date is February 9, 2022. We will continue early operations until acceptance is complete by the National Science Foundation. We will post more complete timelines as we will post them here and all official announcements will be made via [XSEDE user news](/user-news).

			1. __When will Jetstream2 be available for XSEDE research allocations?__

			Jetstream2 is presently available only via the XSEDE Resource Allocation System for research allocation submissions. The system is still not available to researchers, educators, or students at this time. All research allocations successfully receiving a Jetstream2 research award will be amongst the first groups given access to Jetstream2.

			Please see the [XSEDE Research Allocations](/allocations/research) page for more information.

			2. __When will Jetstream2 be available for XSEDE startup and education allocations?__

			Until Jetstream2 completes National Science Foundation (NSF) acceptance testing, timelines remain uncertain. Once acceptance testing has been completed, documented, presented and approved by the NSF, we will be able to publish a more definitive timeline.

			Please watch this space and [XSEDE user news](/user-news) and mailing lists for announcements about Jetstream2 operations, access, and migration. To ensure that you are receiving all updates to your inbox, login on the page above to manage your XSEDE User News subscriptions. All Jetstream users should be added when they are placed on an allocation, but you may wish to verify so that you don't miss any important operations updates.

			For information about migrating from Jetstream1 to Jetstream2, you may want to also monitor Migrating from Jetstream1 to Jetstream2

			3. __When will Jetstream2 be available for Jetstream2 Trial allocations?__

			Jetstream2 Trial Allocations will be made available after Jetstream2 goes into production. They will likely not be available in early user operations.

			Until Jetstream2 completes National Science Foundation (NSF) acceptance testing, timelines remain uncertain. Once acceptance testing has been completed, documented, presented and approved by the NSF, we will be able to publish a more definitive timeline.

			Please watch this space and [XSEDE user news](/user-news) and mailing lists for announcements about Jetstream2 operations, access, and migration. To ensure that you are receiving all updates to your inbox, login on the page above to manage your XSEDE User News subscriptions. All Jetstream users should be added when they are placed on an allocation, but you may wish to verify so that you don't miss any important operations updates.

			4. __My research group wants to bring up a new gateway or infrastructure project, should I wait for Jetstream2?__

			Since the timelines for Jetstream2 are still uncertain at this time, we would recommend that your research group get a startup allocation now on Jetstream1 and get a supplement for JS2 when it becomes available. As we recommend the API side for gateways and infrastructure, migrating to JS2 will be reasonably easy.

			More information about getting <a target="_blank" href="https://iujetstream.atlassian.net/wiki/spaces/JWT/pages/49184781/Jetstream+Allocations">Jetstream1 startup allocations</a>

			More information about getting <a target="_blank" href="https://iujetstream.atlassian.net/wiki/spaces/JWT/pages/39682057/Using+the+Jetstream+API">Jetstream1 API access</a>

