#openstackcl
	:markdown
		#[Using Openstack command line](#openstackcl)

	#openstackcl:sshkeys
		:markdown
			##[Managing SSH Keys from the CLI](#openstackcl:sshkeys)

			Secure shell (SSH) keys are crucial to securely accessing your virtual machines. Jetstream2 only supports ssh key access to CLI and Horizon virtual machines.

			You can only add a key pair to an instance at the time of its creation, not afterwards, so it is important not to overlook this step. You'll want to have a key pair created before hand and uploaded to the Jetstream2 cloud.

			While several formats are supported, we recommend using RSA or ED25519 format keys.

			Source your openrc if you haven't already! Refer to [creating an openrc](#openrc) if you still need to create an openrc file for Jetstream2. We're assuming it is `openrc.sh` for this example.

				source openrc.sh

	#openstackcl:sshkeys
		:markdown
			###[Uploading an Existing Key](#openstackcl:sshkeys)

			If you have an existing SSH key, you can upload it to the Jetstream2 cloud (note: key filenames may vary - this example assumes id_rsa.pub):

				cd ~/.ssh
				openstack keypair create --public-key id_rsa.pub my-api-key

			Make sure to ONLY upload the public key! You can change the *my-api-key* to something more descriptive.

			####Create a new key and upload it

			If you don't have an SSH key, you'll want to create a new key and upload it.

			If you don't have the .ssh dir, you can create it:

				mkdir .ssh ; chmod 700 .ssh

			Then you can create your key

				ssh-keygen -b 2048 -t rsa -C "Identifying comment for this ssh key" -f ~/.ssh/id_rsa

			or

				ssh-keygen -o -a 100 -t ed25519 -C "Identifying comment for this ssh key" -f ~/.ssh/id_ed25519

			The first will create a 2048 bit RSA cryptography key with the comment you specify and the filename id_rsa (which is the default). The second will create an Ed25519 elliptical cryptography key. The comment is optional but we do recommend it to keep track of keys. *You only need to do one of these, though you can create both.*

			You may also leave off the -f file option and ssh-keygen will prompt you for the filename.

				openstack keypair create --public-key id_rsa.pub my-api-key

			or

				openstack keypair create --public-key id_ed25519.pub my-api-key

			Make sure to ONLY upload the public key! You should change the *my-api-key* to something more descriptive.

	#openstackcl:security
		:markdown
			##[Setting up a Security Group](#openstackcl:security)

			###Manage Security Groups in the CLI

			Security groups can be thought of like firewalls. They ultimately control inbound and outbound traffic to your virtual machines. Under the CLI and Horizon, access defaults to all outbound allowed and __NO__ inbound allowed.

			To allow access to your VM for things like SSH, you will need to create a security group and add rules to it.

			<div class="portlet-msg-info">You can reuse a security group many times, so a best practice is to create groups by related services. For instance, you might create a basic group for ssh and icmp (which is what we will show as an example) and then a separate security group for http and https access if you're running a web service on your instance.</div>

			###Create a security group that will enable inbound ping & SSH:

			This will walk you through creating a basic security group on the command line and adding a couple of simple access rules.

				openstack security group create --description "ssh and icmp enabled" my-username-ssh-and-icmp-access

			This creates the security group named my-username-ssh-and-icmp-access with the description noted above. It becomes the container for holding security group rules.

				openstack security group rule create --protocol tcp --dst-port 22:22 --remote-ip 0.0.0.0/0 my-username-ssh-and-icmp-access

			This creates an SSH access rule, allowing inbound TCP protocol to port 22 from any IP number.

				openstack security group rule create --protocol icmp my-username-ssh-and-icmp-access

			This creates an ICMP (most notably ping) access rule, allowing inbound ICMP protocol from any IP number.

			You can then add additional rules or additional security groups. This will allow the most basic of access to your VMs.

			<div class="portlet-msg-info">We do recommend limiting access as much as possible for best security practices.</div>

			Please refer to the <a target="_blank" href="https://docs.openstack.org/python-openstackclient/xena/cli/command-objects/security-group.html">Openstack Security Groups</a> documentation for more information.

			Also, as with all openstack CLI commands, you can type `openstack help item` to get more information on the options and syntax.

	#openstackcl:network
		:markdown
			##[Setting up a Network](#openstackcl:network)

	#openstackcl:network-create
		:markdown
			###[Create a network in the CLI](#openstackcl:network-create)

			<div class="portlet-msg-info">In Jetstream2, if you do not need multiple networks in your allocation, you can skip all of the steps below. However, if there's more than one network in your allocation already, you will either need to use one of those or create your own network using these steps.</div>

			This step creates a virtual network for your instances. You'll create a network, a subnet, and a router and then set the routing so your instances can talk outside of the Jetstream2 networks to the world. You can have multiple networks in an allocation or also multiple subnets on a single network. This effectively isolates instances from each other.

			If you do not give your instances a public IP address (also called a floating ip by Openstack), your instances will not be reachable from the internet. While this is not a substitute for proper [security groups](#openstackcl:security), it is another level of protection for VMs that may used internally only by your VMs (e.g. private database servers).

			1. Create a private network

				`openstack network create my-network-name`

			1. Verify that the private network was created

				`openstack network list`

			1. Create a subnet within the private network space

				`openstack subnet create --network my-network-name --subnet-range 10.0.0.0/24 my-subnet-name`

			1. Verify that subnet was created

				`openstack subnet list`

			1. Create a router

				`openstack router create my-router-name`

			1. Connect the newly created subnet to the router

				`openstack router add subnet my-router-name my-subnet-name`

			1. Connect the router to the gateway named "public"

				`openstack router set --external-gateway public my-router-name`

			1. Verify that the router has been connected to the gateway

				`openstack router show my-router-name`

	#openstackcl:vm
		:markdown
			##[Launching a Virtual Machine](#openstackcl:vm)

	#openstackcl:vm-create
		:markdown
			###[Creating a Virtual Machine](#openstackcl:vm-create)

			__See what flavors (sizes) are available__

				openstack flavor list

			__See what Images are available. The Jetstream team makes Featured-* images available from which to build.__

				openstack image list

			__Create and boot an instance__

			Please note:

			* Make sure your SSH keyname matches
			* *your-instance-name* is the name of the instance; make it something meaningful for you.
			* Choose an appropriate flavor from the list in the flavors list
			* Choose an appropriate image from the list in the images list

			Run the following command to create and boot an instance:

				openstack server create my-server-name --flavor FLAVOR --image IMAGE-NAME --key-name my-keypair-name --security-group my-security-group-name --wait

			__Optional: If you have multiple networks, you'll need to also include this line. See [Create a network in the CLI](#openstackcl:network) for more information.__

				--nic net-id=my-network-name

			__Create a public IP address for an instance__

				openstack floating ip create public

			__Add that public IP address with that instance__

				openstack server add floating ip my-server-name your.ip.number.here

	#openstackcl:vm-login
		:markdown
			###[Logging into Your Virtual Machine](#openstackcl:vm-login)

			Once your instance is up and has a floating IP, you are ready to ssh in and use it. If your ssh key is one of the default names (e.g. id_rsa or id_ed25519) and is in your ~/.ssh dir, you won't need to specify the location of the key. Otherwise, you'll need to use the ssh option -i path/key. For example:

				ssh -i ~/.ssh/my-custom-key-name user@ip.number

			Each distribution has a different default user. We will show examples for each without the -i path to your ssh key, assuming you have ~/.ssh/id_rsa or ~/.ssh/id_ed25519 as your default key.

			For Ubuntu 18 or 20:

				ssh ubuntu@your.ip.number.here

			For CentOS 7:

				ssh centos@your.ip.number.here

			For Rocky 8:

				ssh rocky@your.ip.number.here

			You should be able to access and use your VM now! Please see Instance Management Actions in the CLI for all instance management actions.

	#openstackcl:manage
		:markdown
			##[Instance Management](#openstackcl:manage)
			
			__Instance Management Actions in the CLI__

			Once you have an instance, you may need to stop, start, or do other actions with it. You may wish to review XSEDE Service Units and Jetstream2 for more information about the "costs" of the various states of Jetstream2 virtual machines.

	#openstackcl:manage-reboot
		:markdown
			###[Rebooting](#openstackcl:manage-reboot)

			If your instance is running and you need to reboot/restart it, you can do so from the instance itself by doing:

				sudo shutdown -r now

			You can also do it from the CLI with the command:

				openstack server reboot my-server-name-or-UUID
				openstack server reboot my-server-name-or-UUID --hard

	#openstackcl:manage-stopstart
		:markdown
			###[Stopping and starting](#openstackcl:manage-stopstart)

			Stopping an instance is equivalent to powering down your laptop. We recommend this as a means to conserve SUs when you are done working but plan to use your VM in the next day or two.

			You can stop the instance from it's own command line by doing

				sudo shutdown -h now

			You can accomplish the same thing from the CLI with:

				openstack server stop my-server-name-or-UUID

			and start it again with:

				openstack server start my-server-name-or-UUID

			Note that state is not retained and that resources are still reserved on the compute host so that when you decide restart the instance, resources are available to activate the instance.

	#openstackcl:manage-suspend
		:markdown
			###[Suspending and resuming](#openstackcl:manage-suspend)

			Another option for conserving some SUs is suspending your instance. Suspending is similar to closing the lid on your laptop. We generally do not recommend using suspend, but if you opt to use it, we would recommend only using it when you want to conserve some SUs but plan to come back to work with your VM very soon.

				openstack server suspend my-server-name-or-UUID

			and then resume it again with:

				openstack server resume my-server-name-or-UUID

			Note that resources are still reserved on the compute host for when you decide restart the instance.

	#openstackcl:manage-shelving
		:markdown
			###[Shelving and unshelving](#openstackcl:manage-shelving)

			The last management option is shelving. This shuts down the instance down and moves to storage. Memory state is not maintained. Contents of your root disk are maintained. This is the most economical state for an unused VM as there are no SU charges for shelved VMs since it removes the VM from the hypervisor entirely. We recommend using shelving when you are done with a VM for multiple days or weeks.

				openstack server shelve my-server-name-or-UUID

			and unshelve it with:

				openstack server unshelve my-server-name-or-UUID

	#openstackcl:infra
		:markdown
			##[Deleting Infrastructure in the CLI](#openstackcl:infra)

			When you're done with a VM, you'll want to remove the floating IP and return it to the pool if you aren't going to reuse it. Then you can delete an instance you no longer need.

			We're providing instructions for deleting routers, subnets, and networks, as well, though you can keep those and reuse them. Network infrastructure does not incur any SU charges to leave though it will count against Openstack resource quotas.

			<div class="portlet-msg-info">There are a very limited number of IPs available. Please return any you are not using!</div>

	#openstackcl:infra-instance
		:markdown
			###[Clean Up Instance](#openstackcl:infra-instance)

			__Remove the public IP address from the instance__

				openstack server remove floating ip your-unneeded-instance your.ip.number.here

			__Return the public IP address to the pool of IP numbers__

				openstack floating ip delete your.ip.number.here

			__Delete an instance__

				openstack server delete your-unneeded-instance

			__*Note:*__ You often want to create infrastructure such as networks, subnets, routers, security groups/rules, etc. only once and not delete them.

			These entities are reusable by all members of your project except for any keypairs you've created.

	#openstackcl:infra-network
		:markdown
			###[Deleting Network Infrastructure](#openstackcl:infra-network)

			__Disconnect the router from the gateway__

				openstack router unset --external-gateway my-router-name

			__Delete the subnet from the router__

				openstack router remove subnet my-router-name my-subnet-name

			__Delete the router__

				openstack router delete my-router-name

			__Delete the subnet__

				openstack subnet delete my-subnet-name

			__Delete the network__

				openstack network delete my-network-name

	#openstackcl:infra-security
		:markdown
			###[Deleting Security Infrastructure](#openstackcl:infra-security)

			__Delete a security group rule__

				openstack security group delete secgroup-rule-name

			__Delete a security group__

				openstack security group delete secgroup-name

	#openstackcl:infra-other
		:markdown
			###[Deleting Other Items](#openstackcl:infra-other)

			__Deleting a keypair__

				openstack keypair delete my-keypair-name

	#openstackcl:storage
		:markdown
			##[Storage](#openstackcl:storage)

	#openstackcl:storage-using
		:markdown
			###[Using Storage Under the CLI](#openstackcl:storage-using)

			All allocations receive 1 TB of storage alloation by default. You can use this storage quota in the form of volumes or manila shares. [MANILA LINK](#storage:manila)

			All of the commands below assume that you have an Openstack Client installed and a working openrc file.

			To view any volumes you might have:

				openstack volume list

			To create a 10 GB volume, you can do:

				openstack volume create --size 10 my-10GVolume

			Then you can attach it to an instance for use:

				openstack server add volume VM-Name-Or-UUID Volume-Name-Or-UUID

			While you can usually assume it will be the next mounted disk (root should be /dev/sdaX in all cases on Jetstream2), you can look on your instance to see where the volume attached by doing:

				dmesg | grep sd

			The output of that should usually look something like this:

			<pre class="cmd-line">
				[root@my-vm ~]# dmesg | grep sd
				[    1.715421] sd 2:0:0:0: [sda] 16777216 512-byte logical blocks: (8.58 GB/8.00 GiB)
				[    1.718439] sd 2:0:0:0: [sda] Write Protect is off
				[    1.720066] sd 2:0:0:0: [sda] Mode Sense: 63 00 00 08
				[    1.720455] sd 2:0:0:0: [sda] Write cache: enabled, read cache: enabled, doesn't support DPO or FUA
				[    1.725878]  sda: sda1
				[    1.727563] sd 2:0:0:0: [sda] Attached SCSI disk
				[    2.238056] XFS (sda1): Mounting V5 Filesystem
				[    2.410020] XFS (sda1): Ending clean mount
				[    7.997131] Installing knfsd (copyright (C) 1996 okir@monad.swb.de).
				[    8.539042] sd 2:0:0:0: Attached scsi generic sg0 type 0
				[    8.687877] fbcon: cirrusdrmfb (fb0) is primary device
				[    8.719492] cirrus 0000:00:02.0: fb0: cirrusdrmfb frame buffer device
				[  246.622485] sd 2:0:0:1: Attached scsi generic sg1 type 0
				[  246.633569] sd 2:0:0:1: [sdb] 20971520 512-byte logical blocks: (10.7 GB/10.0 GiB)
				[  246.667567] sd 2:0:0:1: [sdb] Write Protect is off
				[  246.667923] sd 2:0:0:1: [sdb] Mode Sense: 63 00 00 08
				[  246.678696] sd 2:0:0:1: [sdb] Write cache: enabled, read cache: enabled, doesn't support DPO or FUA
				[  246.793574] sd 2:0:0:1: [sdb] Attached SCSI disk</pre>

			From your instance, you can now create a mount point, view the device, and create the filesystem (using ext4 as the filesystem type for this example).

				mkdir /vol_b
				fdisk -l /dev/sdb
				mkfs.ext4 /dev/sdb

			If you get the following warning, it's safe to hit 'y' to proceed. 

				/dev/sdb is entire device, not just one partition!
				Proceed anyway? (y,n)

				mount -o noatime /dev/sdb /vol_b

			Assuming you didn't get any errors, `/dev/sdb` should now be mounted on /vol_b

			<div class="portlet-msg-info">Note: Linux has a special mount option for file systems called noatime. If this option is set for a file system in /etc/fstab, then reading accesses will no longer cause the atime information (last access time - don't mix this up with the last modified time - if a file is changed, the modification date will still be set) that is associated with a file to be updated (in reverse this means that if noatime is not set, each read access will also result in a write operation). Therefore, using noatime can lead to significant performance gains.</div>

			<pre class="cmd-line">
				[root@my-vm ~]# touch /vol_b/foo
				[root@my-vm ~]# ls -la /vol_b/
				total 24
				drwxr-xr-x   3 root root  4096 Jul 13 13:37 .
				dr-xr-xr-x. 18 root root  4096 Jul 13 11:50 ..
				-rw-r--r--   1 root root     0 Jul 13 13:37 foo
				drwx------   2 root root 16384 Jul 13 13:36 lost+found
				
				[root@my-vm ~]# df -h
				Filesystem      Size  Used Avail Use% Mounted on
				/dev/sda1       8.0G  2.4G  5.7G  30% /
				devtmpfs        902M     0  902M   0% /dev
				tmpfs           920M     0  920M   0% /dev/shm
				tmpfs           920M   17M  904M   2% /run
				tmpfs           920M     0  920M   0% /sys/fs/cgroup
				tmpfs           184M     0  184M   0% /run/user/0
				/dev/sdb        9.8G   37M  9.2G   1% /vol_b
			</pre>

			To make the volume mount persist, you can add an entry to `/etc/fstab` similar to this:

				/dev/sdb /vol_b ext4 defaults,noatime 0 0

			You would need to change as needed for a different device id, mount point, and file system type. We do recommend using the noatime option as shown in the example.

			Once you are done with your volume or want to use it with another VM, if you are not shutting down the VM, you'll need to unmount it. 

				umount /vol_b

			To detach it from the VM, you'll do:

				openstack server remove volume VM-Name-Or-UUID Volume-Name-Or-UUID

			Doing an openstack volume list now should show the volume as available:

			<pre class="cmd-line">
				+--------------------------------------+------------------+------------+------+------------------------------+
				|  ID                                  |   Display Name   |  Status    | Size | Attached to                  |
				+--------------------------------------+------------------+------------+------+------------------------------+
				| af59d4fa-ced2-4049-a062-7b2a15807b7f | my-10GVolume     | available  |  10  |                              |
				+--------------------------------------+------------------+------------+------+------------------------------+
			</pre>

			If you want to completely destroy a volume, you can do:

				openstack volume delete Volume-Name-Or-UUID

	#openstackcl:manila
		:markdown
			##[Manila Shares in the CLI](#openstackcl:manila)

			__To use Manila via Openstack CLI__

			On a terminal that has the Openstack Clients installed and the appropriate login credentials you can do the following:

	#openstackcl:manila-createshare
		:markdown
			###[1. Create a Share](#openstackcl:manila-createshare)

				openstack share create --name $manila-share-name cephfs $vol-size --os-share-api-version 2.63

			Example:

				openstack share create --name manila-share-cli cephfs 10 --os-share-api-version 2.63

			Metadata for the share created above: 

			<pre>
			+---------------------------------------+--------------------------------------+
			| Field                                 | Value                                |
			+---------------------------------------+--------------------------------------+
			| access_rules_status                   | active                               |
			| availability_zone                     | None                                 |
			| create_share_from_snapshot_support    | False                                |
			| created_at                            | 2022-03-01T03:40:48.468421           |
			| description                           | None                                 |
			| has_replicas                          | False                                |
			| id                                    | 23c511b2-66e7-4986-b6a6-231b490210d4 |
			| is_public                             | False                                |
			| metadata                              | {}                                   |
			| mount_snapshot_support                | False                                |
			| name                                  | manila-share-cli                     |
			| progress                              | None                                 |
			| project_id                            | 55d7efb46dd945a2b86f7ce8aa657e1a     |
			| replication_type                      | None                                 |
			| revert_to_snapshot_support            | False                                |
			| share_group_id                        | None                                 |
			| share_network_id                      | None                                 |
			| share_proto                           | CEPHFS                               |
			| share_type                            | de7b9e68-2357-4837-880f-858d7358b05c |
			| share_type_name                       | cephfsnativetype                     |
			| size                                  | 10                                   |
			| snapshot_id                           | None                                 |
			| snapshot_support                      | False                                |
			| source_share_group_snapshot_member_id | None                                 |
			| status                                | creating                             |
			| task_state                            | None                                 |
			| user_id                               | a9e55b395bcb494aaf5938f5f8382e71     |
			| volume_type                           | cephfsnativetype                     |
			+---------------------------------------+--------------------------------------+
			</pre>

			`id` is the share_id. You can use this to look up information about your share. See step 4.

	#openstackcl:manila-accessrule
		:markdown
			###[2. Create an Access Rule](#openstackcl:manila-accessrule)

				openstack share access create $manila-share-name cephx $anyName --os-share-api-version 2.63

			Example:

				openstack share access create manila-share-cli cephx manilaAccess --os-share-api-version 2.63

			Metadata for the access rule:

			<pre>
			+--------------+--------------------------------------+
			| Field        | Value                                |
			+--------------+--------------------------------------+
			| id           | 95067b4f-f77c-4b76-be12-ac5c3a8e8897 |
			| share_id     | 23c511b2-66e7-4986-b6a6-231b490210d4 |
			| access_level | rw                                   |
			| access_to    | manilaAccess                         |
			| access_type  | cephx                                |
			| state        | queued_to_apply                      |
			| access_key   | None                                 |
			| created_at   | 2022-03-01T13:41:09.984126           |
			| updated_at   | None                                 |
			| properties   |                                      |
			+--------------+--------------------------------------+
			</pre>

			Make a note of the `id` value. This is the `access rule id`. In the above example it is `95067b4f-f77c-4b76-be12-ac5c3a8e8897`. You can look up the `access rule id` in openstack to get your `access_key`. 

	#openstackcl:manila-accesskey
		:markdown
			###[3. Get Access Key](#openstackcl:manila-accesskey)

				openstack share access show $access-rule-id --os-share-api-version 2.63

			Example:

				openstack share access show 95067b4f-f77c-4b76-be12-ac5c3a8e8897 --os-share-api-version 2.63

			Metadata for the access rule:

			<pre>
			+--------------+------------------------------------------+
			| Field        | Value                                    |
			+--------------+------------------------------------------+
			| id           | 95067b4f-f77c-4b76-be12-ac5c3a8e8897     |
			| share_id     | 23c511b2-66e7-4986-b6a6-231b490210d4     |
			| access_level | rw                                       |
			| access_to    | manilaAccess                             |
			| access_type  | cephx                                    |
			| state        | active                                   |
			| access_key   | AQB2Ih5iyQKpChAAIKunDZ6Ztr1VfNn+AFxlGA== |
			| created_at   | 2022-03-01T13:41:09.984126               |
			| updated_at   | 2022-03-01T13:41:10.227543               |
			| properties   |                                          |
			+--------------+------------------------------------------+
			</pre>

			The access rule is active and you can use the `access_key` generated above. 

	#openstackcl:manila-viewshare
		:markdown
			###[4. View Share Information](#openstackcl:manila-viewshare)

				openstack share show $share_id --os-share-api-version 2.63

			Example:

				openstack share show 23c511b2-66e7-4986-b6a6-231b490210d4 --os-share-api-version 2.63

			Metadata for your share will now look a little different:

			<pre>
			+---------------------------------------+----------------------------------------------------------------------+
			| Field                                 | Value                                                                |                                                                 |
			+---------------------------------------+----------------------------------------------------------------------+
			| access_rules_status                   | active                                                               |
			| availability_zone                     | nova                                                                 |
			| create_share_from_snapshot_support    | False                                                                |
			| created_at                            | 2022-03-01T03:40:48.468421                                           |
			| description                           | None                                                                 |
			| export_locations                      |                                                                      |
			|                                       | id = 1138760f-2ba4-4d9f-ad8b-312d39c4e4b8                            |
			|                                       | path = 149.165.158.38:6789,149.165.158.22:6789,149.165.158.54:6789,  |
			|                                       | 149.165.158.70:6789,149.165.158.86:6789:/volumes/_nogroup/1ca2d54e-  |
			|                                       | 16a5-43b8-90de-75a91c1b96e9/fba3f935-5047-4eef-8b4d-3c27f356c2c7     |
			|                                       | preferred = False                                                    |
			| has_replicas                          | False                                                                |
			| id                                    | 23c511b2-66e7-4986-b6a6-231b490210d4                                 |
			| is_public                             | False                                                                |
			| mount_snapshot_support                | False                                                                |
			| name                                  | manila-share-cli                                                     |
			| progress                              | 100%                                                                 |
			| project_id                            | 55d7efb46dd945a2b86f7ce8aa657e1a                                     |
			| properties                            |                                                                      |
			| replication_type                      | None                                                                 |
			| revert_to_snapshot_support            | False                                                                |
			| share_group_id                        | None                                                                 |
			| share_network_id                      | None                                                                 |
			| share_proto                           | CEPHFS                                                               |
			| share_type                            | de7b9e68-2357-4837-880f-858d7358b05c                                 |
			| share_type_name                       | cephfsnativetype                                                     |
			| size                                  | 10                                                                   |
			| snapshot_id                           | None                                                                 |
			| snapshot_support                      | False                                                                |
			| source_share_group_snapshot_member_id | None                                                                 |
			| status                                | available                                                            |
			| task_state                            | None                                                                 |
			| user_id                               | a9e55b395bcb494aaf5938f5f8382e71                                     |
			| volume_type                           | cephfsnativetype                                                     |
			+---------------------------------------+----------------------------------------------------------------------+
			</pre>

			You will need the path of your `export_locations`. In the above example it is:

				149.165.158.38:6789,149.165.158.22:6789,149.165.158.54:6789,149.165.158.70:6789,149.165.158.86:6789:/volumes/_nogroup/1ca2d54e-16a5-43b8-90de-75a91c1b96e9/fba3f935-5047-4eef-8b4d-3c27f356c2c7

			Important things to note down:

			* Share id (Step 1)
			* Access rule id (Step 2)
			* Acccess key (Step 3)
			* Export location path (Step 4)

			This is the same whether you're using Horizon or the CLI. Please refer to [Configuring a VM to use Manila Shares](#storage:manila-share)

	#openstackcl:trouble
		:markdown
			##[CLI Troubleshooting](#openstackcl:trouble)

			__I get an error requesting scope when authenticating and doing openstack commands__

			If you source your openrc in a session that's had another openrc sourced from another cloud (inluding Jetstream1), you'll get an error like this:

				Error authenticating with application credential: Application credentials cannot request a scope. (HTTP 401) (Request-ID:

			Please make sure to source the new Jetstream2 openrc in a fresh terminal session.

			If you're feeling adventurous, you can do something like this to remove all previous OpenStack environment variables:

				while read -r varname; do unset "$varname"; done < <(env | grep ^OS_ | cut -d '=' -f1)

			Please do that at your own risk.

			__I get an error saying my request requires authentication after sourcing my application credential openrc.__

			If your application credential secret in the openrc contains some punctuation/special characters, you might see an error like this:

				The request you have made requires authentication. (HTTP 401) (Request-ID:

			For example, if you had an ampersand in your credential password, it may have gotten escaped to \&amp\; instead of just the ampersand character. The same could happen for less than or greater than signs and potentially other special characters. Double check the openrc to verify that that has not happened.


