#policies
	:markdown
		#[Policies and Best Practices](#policies)

	#policies:acceptable
		:markdown
			##[Acceptable Usage Policies](#policies:acceptable)

	#policies:acceptable-use
		:markdown
			###[Acceptable Use of Jetstream2](#policies:acceptable-use)

			Jetstream2 requires compliance with all XSEDE and Indiana University policies, including but not limited to:

			* [XSEDE Usage Policy](https://www.xsede.org/ecosystem/operations/usagepolicy)
			* Indiana University 
				* <a target="_blank" href="http://policies.iu.edu/policies/categories/information-it/it/IT-02.shtml">IT-02 Misuse and Abuse of Information Technology Resources</a>
				* <a target="_blank" href="http://policies.iu.edu/policies/categories/information-it/it/IT-12.shtml">IT-12 Security of Information Technology Resources</a>

			Regional clouds may have additional usage and security policies. If you are using one of the regional clouds, please check with your support team there for more information.

	#policies:acceptable-protected
		:markdown
			###[Protected Data and Jetstream2](#policies:acceptable-protected)

			__Jetstream2 researchers agree to:__

			* Ensure that data that must be protected by Federal security or privacy laws (e.g., HIPAA, FERPA, ITAR, classified information, export control, etc.) are not stored on this system unless such storage and usage is specifically authorized by the responsible University administrator and complies with any processes for management of access to such information. For export controlled information, including ITAR information, approval of the University Export Compliance Office is required prior to use of the Jetstream2 systems for storage/processing of export controlled data. The Jetstream2 system is not intended, by default, to meet the security requirements of these laws or regulations and specific usage related controls or restrictions may be required prior to authorization of the use of the Jetstream2 system for such purposes.

			* Ensure that the project does not violate any export control end use restrictions contained in <a target="_blank" href="https://www.bis.doc.gov/index.php/documents/regulations-docs/2343-part-744-control-policy-end-user-and-end-use-based-2/file">Part 744 of the EAR</a>.
			* Follow all US government guidance on export controls for research and research data. Please see [Jetstream2 Export Control Guidance](#policies:export) for more information.

	#policies:acceptable-protected
		:markdown
			###[Jetstream2 and General Research Policies](##policies:acceptable-protected)

			In general, fundamental, publishable research is permitted on Jetstream2 from any non-EAR sanctioned countries. Fundamental research is defined as:

			> "Fundamental research means basic and applied research in science and engineering, the results of which ordinarily are published and shared broadly within the scientific community, as distinguished from proprietary research and from Industrial development, design, production, and product utilization, the results of which ordinarily are restricted for proprietary or national security reason." *[National Security Decision Directive (NSDD) 189, National Policy on the Transfer of Scientific, Technical, and Engineering Information]*

			For anything other than fundamental, publishable research, you may wish to consult with your institution's export control office for any export/sharing restrictions.

	#policies:acceptable-specials
		:markdown
			###[Specialty System (GPU & Large Memory) Specific Policies](#policies:acceptable-specials)

			* Only g3.* flavors should be run on the Jetstream2-GPU resource
			* Only r3.* flavors should be run on the Jetstream2-LargeMemory resource
			* Running standard compute (m3.*) flavors on the specialty resources may result in those instances being deleted without warning

	#policies:acceptable-alloc
		:markdown
			###[Allocation Related Policies](#acceptable-alloc)

			Jetstream2 requires an active XSEDE allocation for access. If your allocation expires you will no longer be able to access Jetstream2 or your resources. Presently, XSEDE warns PIs monthly, starting at 3 months until allocation expiration, and at the time of expiration.

			Jetstream2 policy is that we will do the following when allocations expire:

			* At __expiration + 1 day__ - the allocation will be disabled on Jetstream2 and access is no longer possible to allocation users
			* If the allocation has not been renewed *(preferred)* or extended in __10 days__, all VMs on the allocation will be shelved and thus no longer accessible
			* If the allocation has not been renewed *(preferred)* or extended in __30 days__, all resources (VMs, volumes, shares, images, etc) on the allocation will be destroyed and *will not be recoverable*


	#policies:export
		:markdown
			##[Export Control Guidance](#policies:export)

	#policies:export-restrict
		:markdown
			###[Countries with Heightened Restrictions](#policies:export-restrict)

			Some countries have some heightened control over certain types of research and technology. Please consult with your institution's export control office to ensure that you are in full compliance with US regulations and institutional policies when working with countries under heightened controls and/or when working with research or information that may be limited by export control law.

			The US Department of Commerce, Bureau of Industrial Security (BIS) publishes a list of EAR Country Group designations. Country Group D (countries of national security concern to the United States) face these heightened control restrictions and are included in this <a target="_blank" href="https://www.bis.doc.gov/index.php/documents/regulation-docs/2255-supplement-no-1-to-part-740-country-groups-1/file">document of country groups</a>. (Please note that Country Group D begins on page 6 of this document.)

	#policies:export-sanctions
		:markdown
			###[Sanctioned Countries (not eligible to use Jetstream2)](#policies:export-sanctions)

			In accordance to federal guidelines, Jetstream2 will not be accessible to IP ranges from the following countries:

			* Cuba
			* Iran
			* North Korea
			* Syria
			* Crimea Region of the Ukraine

			The Bureau of Industry and Security (BIS) implements U.S. Government certain sanctions against these countries pursuant to the Export Administration Regulations (EAR), either unilaterally or to implement United Nations Security Council Resolutions.

			The US Department of Commerce, Bureau of Industrial Security (BIS) publishes a list of EAR Country Group designations. Country Groups E1 and E2 identify embargoed countries subject to comprehensive restrictions and are included in this <a target="_blank" href="https://www.bis.doc.gov/index.php/documents/regulation-docs/2255-supplement-no-1-to-part-740-country-groups-1/file">document of country groups</a>. (Please note that Country Group E begins on page 8 of this document.)


	#policies:gateways
		:markdown
			##[AUPs for Hosted Gateways](#policies:gateways)

			Gateways hosted on Jetstream2 agree to abide by the usage policies defined on [Policies: Acceptable Use](#policies:acceptable) and [Research and Export Control Guidance](#policies:export). We also recommend having an Acceptable Usage Policy (AUP) on your gateway.

			We recommend adding a statement to any acceptable use agreement that targets export control issues, such as the language below:

			* Ensure that data that must be protected by Federal security or privacy laws (e.g., HIPAA, FERPA, ITAR, classified information, export control, etc.) are not stored on this system unless such storage and usage is specifically authorized by the responsible University administrator and complies with any processes for management of access to such information. For export controlled information, including ITAR information, approval of the University Export Compliance Office is required prior to use of the [name of system] systems for storage/processing of export controlled data. The [name of system] system is not intended, by default, to meet the security requirements of these laws or regulations and specific usage related controls or restrictions may be required prior to authorization of the use of the [name of system] system for such purposes.

			* Ensure that the project does not violate any export control end use restrictions contained in Part 744 of the EAR.

			The <a target="_blank" href="https://www.trustedci.org">TrustedCI project</a> maintains a <a target="_blank" href="https://docs.google.com/document/d/1kZ2p5VjVGdi83_hlGWheUNspI7XPsoOYU3CNUNNs7uY/edit">sample AUP</a> that you may use to model your gateway's policy on.

	#policies:bestpractice
		:markdown
			##[Best Practices](#policies:bestpractice)

			* Update policies and tools
			* GPU 2-week policy

	#policies:windows
		:markdown
			##[Windows on Jetstream2](#policies:windows)

			Microsoft Windows is not officially supported on Jetstream2. We will be making a limited number of images available for experimental use.

			While these images will be created by one of the Jetstream2 parters in conjunction with Jetstream2 staff, it is NOT supported nor guaranteed to work. It is unlikely that the Jetstream2 staff will be able to do more than general VM troubleshooting as we do not have Windows expertise on staff. No license will be installed so you will need to bring your own license.

			It is not known at this time whether GPUs will work on Microsoft-based instances. We will test this as time permits.

