#software
	:markdown
		#[Software Collection](#software)

		Details on the Jetstream2 Software Collection will be forthcoming. At this time, we anticipate a shared disk that will be automatically mounted by instances. Researchers will then be able to use modules to load any combination of software they need, similar to how HPC systems do it.

		This list will be ever evolving, but at this time, pre-launch, we anticipate the following software on the shared software store:

		* Matlab
		* R / R Studio / Shiny
		* Intel Compiler
		* NVIDIA (formerly PGI) Compiler
		* AOCC Compiler
		* Anaconda
		* Databases (e.g. Mysql, Postgresql, Mongo)
		* Java
		* Jupyter/JupyterLab/JupyterHub

		Items like CUDA and the NVIDIA HPC SDK are not installed on the VMs or in the software collection. We recommend using the <a target="_blank" href="https://catalog.ngc.nvidia.com/containers">NVIDIA containers</a> for GPU-related software from NVIDIA as the ecosystem can often be problematic for individual local installations. The <a target="_blank" href="https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/overview.html">NVIDIA Container Toolkit</a> is installed on all featured images.

		<div class="portlet-msg-info">This is still an ongoing effort so this list will almost certainly change in coming weeks and months.</div>

	#software:collection
		:markdown
			##[Using the Jetstream2 Software Collection](#software:collection)

			Jetstream2 utilizes <a target="_blank" href="https://lmod.readthedocs.io">Lmod</a> to load and unload software you may need in your research or education pursuits. The software is served from a shared store utilizing Manila shares that are mounted automatically if you're using a Jetstream2 Featured Image.

			All of the instructions on listing, loading, and unloading modules/software packages assume you are using a Jetstream2 featured image created after April 9, 2022.

			###[Listing available software from the collection]

			You can use module avail to show available software packages. This may show multiple versions of the same package in the future, which will default to the latest version but allow you to load previous versions.

			<pre>
			[exouser@rocky-lmod-host ~]$ module avail
			
			---------------- /software/r8/modulefiles ------------------
			  R/4.1.2 (L)    intel-OneAPI/2022.1.2       matlab/R2021a
			
			---------------- /usr/share/lmod/lmod/modulefiles/Core -----
			  lmod    settarg
			
			  Where:
			  L:  Module is loaded
			</pre>

			###[Loading software from the collection]

			You can load software from the collection using `module load`.

				[exouser@rocky-lmod-host ~]$ module load R

			You can also explicitly load a version if there is more than one:

				[exouser@rocky-lmod-host ~]$ module load R/4.1.2

			###[See what modules are loaded]

			You can use module list to show what's loaded:

			<pre>[exouser@rocky-lmod-host ~]$ module list
			
			Currently Loaded Modules:
			  1) R/4.1.2   2) intel-OneAPI/2022.1.2
			</pre>

			###[Saving your loaded software from the collection]

			You can save the current loaded modules so it will automatically load every time you log in to your virtual machine by using `module save`. This will save to a file called `default` in an `~/.lmod.d` directory that Lmod will create the first time you save your loaded module list.

			You'll need to do this on any new virtual machine.

			###[Unloading software from the collection]

			You can also unload any loaded modules by using `module unload`.

			<pre>
			[exouser@rocky-lmod-host ~]$ module list
			
			Currently Loaded Modules:
			  1) R/4.1.2   2) intel-OneAPI/2022.1.2
			
			[exouser@rocky-lmod-host ~]$ module unload R
			
			[exouser@rocky-lmod-host ~]$ module list
			
			Currently Loaded Modules:
			  1) intel-OneAPI/2022.1.2
			
			[exouser@rocky-lmod-host ~]$
			</pre>

			###[Manually adding the software collection to a non-featured virtual machine]

			<div class="portlet-msg-info">This is an advanced topic for researchers and educators that are more comfortable with the system administration aspects of Linux. We generally advise using the Featured Images that have the mounts and Lmod already configured for you.</div>

			Do the following as the root user:

			Create the file `/etc/ceph.js2softwarero.secret` with the contents

				AQAYuStiw81/ABAAsvzI5h53WOC5K1vzmGB66g==

			Make the mount point you want to use (we highly suggest it be `/software`)

				mkdir /software

			Add the following entry to the end of your `/etc/fstab` (make sure the mountpoint you created in the last step matches)

				# JS2 Software Collection mount 149.165.158.38:6789,149.165.158.22:6789,149.165.158.54:6789,149.165.158.70:6789,149.165.158.86:6789:/volumes/_nogroup/b7112570-f7cb-4bd2-8c0e-39b08609b9fd/01aa9d72-69bf-4250-9245-2eaddcdb251d /software ceph name=js2softwarero,secretfile=/etc/ceph.js2softwarero.secret,x-systemd.device-timeout=31,x-systemd.mount-timeout=30,noatime,_netdev,ro 0

			Then mount the filesystem with

				mount -a

			If you then run a `df -h|grep vol` you should see something like this:

				149.165.158.38:6789,149.165.158.22:6789,149.165.158.54:6789,149.165.158.70:6789,149.165.158.86:6789:/volumes/_nogroup/fe4f8ad4-2877-4e23-b5d3-46eb8476750b/ab404bac-9584-45f4-8a34-92dfc61fbb98   1.8T  134G  1.7T   2% /mnt/ceph

			You'll also need to install Lmod on your VM. The major distributions include this either in default software repositories or in the Powertools repo for CentOS/Alma/Rocky8.

			You'll need to point your modulepath config to:

				/software/xx/modulefiles

			replacing the xx with u20, u18, r8, or c7 depending on the Linux variant you're using.

	#software:licenses
		:markdown
			##[Software Licenses](#software:licenses)

			Software licenses are generally __the responsibility of the user__ to obtain, coordinate, implement, and maintain.

			Some licenses may require users to coordinate with Jetstream staff to allow for proper configuration. Such coordination is handled on a case-by-base basis.

			Licensed software maintained by staff but available to users are listed below.

	#software:licenses-compilers
		:markdown
			###[Compilers and Parallel Libraries](#software:licenses-compilers)

			* The __Intel Compiler__ is covered on the primary cloud by a site license and has been configured to point to the proper license server.
			* All components of the Intel Parallel Studio are covered by the IU site license, including the MKL libraries. 

	#software:licenses-special
		:markdown
			###[Specialty Software](#software:licenses-special)
			
			* __MATLAB__ is covered on the primary cloud by a site license and has been configured to point to the proper license server.

			If you need licenses for any other software that is not provided through the Jetstream2 shared software store then you will have to provide your own license. Licenses on regional clouds may vary and will need to be discussed with the regional cloud provider.

			Please be aware that if you take an image or software from Jetstream and run it somewhere else then the license will not work. Jetstream license servers restrict access to only valid Jetstream IP addresses.

			*It is also the responsibility of the PI and those placed on each allocation to ensure that they are complying with the terms of any software license they are using on Jetstream2.*

