#storage
	:markdown
		#[Storage](#storage)

	#storage:manila
		:markdown
			##[Manila: Filesystems-as-a-Service on Jetstream2](#storage:manila)

			Manila is the file share service project for OpenStack. Manila provides the management of file shares, for example NFS and CIFS, as a core service to OpenStack. Manila works with a variety of proprietary backend storage arrays and appliances, with open source distributed filesystems, as well as with a base Linux NFS or Samba server. With Manila, you can have multiple instances on Jetstream2 share a filesystem.

			__Prereqs: Make sure you have these packages installed on your instance:__ `ceph-commons` and `ceph-fuse`

			Follow the links below to use:

			* [Manila via Horizon](#horizon:manila)
			* [Manila via Openstack CLI](#openstackcl:manila)

	#storage:manila-share
		:markdown
			##[Using Manila Share on a VM](#storage:manila-share)

			__Configuring a VM to Use Manila Shares__

	#storage:manila-share-config
		:markdown
			###[1. Create a mount point on your instance](#storage:manila-share-config)

				mkdir /mnt/ceph

	#storage:manila-share
		:markdown
			###[1. Configuring your Instance](#storage:manila-share)

			i. Create the file `/etc/ceph.$accessTo.secret` and add the `accessKey`

			Example:

			`/etc/ceph.manilashare.secret`

				AQAHfhZiwTf/NhAAT5ChE4tDXt3Nq1NyiURbMQ==

			ii. Edit /etc/fstab to include the following line:

			<pre>$path /mnt/ceph ceph name=$accessTo,secretfile=/etc/ceph.$accessTo.secret,x-systemd.device-timeout=30,x-systemd.mount-timeout=30,noatime,_netdev,rw 0   2</pre>

			`$path = ips:ports` followed by volume path (/volume/_no-group/...)

			Example:

				149.165.158.38:6789,149.165.158.22:6789,149.165.158.54:6789,149.165.158.70:6789,149.165.158.86:6789:/volumes/_nogroup/fe4f8ad4-2877-4e23-b5d3-46eb8476750b/ab404bac-9584-45f4-8a34-92dfc61fbb98 /mnt/ceph ceph name=manilashare,secretfile=/etc/ceph/ceph.manilashare.secret,x-systemd.device-timeout=30,x-systemd.mount-timeout=30,noatime,_netdev,rw 0   2

	#storage:manila-share-mount
		:markdown
			###[3. Mount the Share](#storage:manila-share-mount)

			Mount the manila share created with the following command: `mount -a`

			If you then run a `df -h|grep vol` you should see something like this:

				149.165.158.38:6789,149.165.158.22:6789,149.165.158.54:6789,149.165.158.70:6789,149.165.158.86:6789:/volumes/_nogroup/fe4f8ad4-2877-4e23-b5d3-46eb8476750b/ab404bac-9584-45f4-8a34-92dfc61fbb98    1.8T  134G  1.7T   2% /mnt/ceph

	#storage:objectstore
		:markdown
			##[Object Store](#storage:objectstore)

	#storage:objectstore-using
		:markdown
			###[Using the Object Store](#storage:objectstore-using)

			The object store is presently experimental. It WILL be a production service in coming weeks/months, but is under active development presently. The object store is only available via Horizon and the CLI presently.

			__Documentation will continue to evolve.__

			The Jetstream object store utilizes Openstack Swift and is S3 compatible. You can utilize it via Horizon or the command line interface (CLI). From the CLI, you can use the python-swiftclient or the aws s3api or compatible tools.

			*Horizon instructions will be coming soon. Though it does not appear that you can generate the EC2 credentials in Horizon.*

			####Prerequisites

			If the you want to use s3 compatibility, you'll need to generate EC2 credentials. This assumes you already have the python-openstackclient installed and have generated an application credential for the CLI.

			If you do not have an application credential openrc and CLI clients installed, please see these pages:

			* [Creating an application credential and openrc on Jetstream2](#cli:openrc)
			* [Installing Openstack Clients](#cli:openstack-install)

			Optionally, you'll want an AWS s3api client like the <a target="_blank" href="https://aws.amazon.com/cli">AWS command line interface reference client</a>.

			####Using the object store with s3api compatibility

			Once you have sourced your application credential based openrc and installed the python-openstack and python-swiftclient client you will need to generate your ec2-style credentials.

			The CLI command is:

				openstack ec2 credentials create

			You can save the creds in a config to use from the CLI/programatically. It's generally kept in the text file ~/.aws/credentials and looks like this:

				[default]
				region=RegionOne
				aws_access_key_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
				aws_secret_access_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

			For your `~/.aws/credentials`, make sure the value from the credential create under "Access" matches "aws_access_key_id" and the Secret matches "aws_secret_access_key".

			You can retrieve your ec2 credentials later, as well, by doing

				openstack ec2 credentials list
				openstack ec2 credentials show *access_key_value*

			The endpoint you'll need for S3 operations is `https://js2.jetstream-cloud.org:8001/`

			For s3 style operations, you'll want to use the s3api functions. Those are documented here: https://docs.aws.amazon.com/cli/latest/reference/s3api/

			Using the aws command line interface you can test operations.

				aws s3api --endpoint-url "https://js2.jetstream-cloud.org:8001/" create-bucket --bucket my-unique-bucket-name

			and to add a file to the bucket:

				aws s3api --endpoint-url "https://js2.jetstream-cloud.org:8001/" put_object --bucket my-unique-bucket-name --key my-file.zip --body my-file.zip

			and to see bucket contents:

				aws s3api --endpoint-url "https://js2.jetstream-cloud.org:8001/" list-objects --bucket my-unique-bucket-name

			####Trying the object store from the CLI using Swift

			To use the OpenStack CLI natively with the object store, you'll need the Swift client if you have not already installed it. You can install it by doing:

				pip install python-swiftclient

			Once you have the Swift client installed, you can test it by doing:

				swift post my-unique-bucket-name

			which will create a storage container called "my-unique-bucket-name". You can then list your buckets by doing:

				swift list

			If you want to delete the test bucket, you can do:

				swift delete my-unique-bucket-name

			As with all Openstack clients, you can see the full list of commands with

				swift help

			__You can also add, remove, and otherwise work with swift containers (buckets in the S3 vernacular) in Horizon on the Project -> Object Store -> Containers tab.__

	#storage:filetransfer
		:markdown
			##[File Transfer](#storage:filetransfer)

	#storage:filetransfer-files
		:markdown
			###[Transferring Files](#storage:filetransfer-files)

			Coming Soon!!!

