#terraform
	:markdown
		#[Terraform on Jetstream2](#terraform)

		Terraform is a open-source code as infrastructure tool that works with Jetstream2 and allows you to build and destroy infrastructure quickly and easily.

	#terraform:installing
		:markdown
			##[Installing Terraform](#terraform:installing)

			The documentation to install Terraform is located below. We have linked to the latest documentation from the Terraform team.

			<https://www.terraform.io/downloads>

	#terraform:operations
		:markdown
			##[Basic Operations](#terraform:operations)

			The basic setup is as follows:

			1. Git clone the terraform repo
			1. Download the openrc file into the repo
			1. Run source openrc.sh
			1. Initalize Terraform with terraform init
			1. See what changes Terraform wants to make to your infrastructure with terraform plan
			1. Apply the changes with terraform apply

	#terraform:operations-git
		:markdown
			###[Getting started with git](#terraform:operations-git)

			If you are unfamiliar with git, please see the <a target="_blank" href="https://git-scm.com/book/en/v2">git-scm documentation</a>.

			###[Git clone](#)

			Git clone allows you create a copy of a git repo that creates the directory and checks out the active branch.

				git clone git@github.iu.edu:wellsaar/terraform-jetstream.git

			This command creates a clone of the git repo that contains the code examples that we use below. The master branch of the git repo above should be a good starting point in developing your own terraform code.

	#terraform:run
		:markdown
			##[Running Terraform](#terraform:run)

			Make sure that you have setup and downloaded your openrc file. [Setting up the openrc.sh for the Jetstream2 CLI](#cli:openrc-setup).

			You will need to source the openrc file once you have downloaded it in order to setup the variables that Terraform will need to connect to Jetstream2.

	#terraform:run-init
		:markdown
			###[Terraform Init](#terraform:run-init)

				terraform init

			This is the first command that should be run after writing a new Terraform configuration or cloning an existing one. This command is used to initialize a working directory containing Terraform configuration files.

			Please see <a target="_blank" href="https://www.terraform.io/cli/commands/init">Terraform Init Documentation</a> for further information.

			*Example Terraform Init*

			<pre>
			terraform-jetstream git: (jetstream2) x terraform init
			Initializing the backend..
			Initializing provider plugins.
			
			- Reusing previous version of terraform-provider-openstack/openstack from the dependency lock file
			- Using previously-installed terraform-provider-openstack/openstackv1.42.0
			Terraform has been successfully initialized!
			* You may now begin working with Terraform. Try running
			"terraform plan" to see
			any changes that are required for your infrastructure. All Terraform commands
			should now work.
			* If you ever set or change modules or backend configuration for Terraform,
			rerun this command to reinitialize your working directory. If you forget, other
			commands will detect it and remind you to do so if necessary.
			</pre>

			In this example, we have already initialized Terraform in this directory, and Terraform is checking the dependency lock file for any updates. You will need to run Terraform init if you make any changes to providers.

	#terraform:plan
		:markdown
			##[Terraform Plan](#terraform:plan)

				terraform plan

			This command creates an execution plan which allows you to preview the changes that Terraform will change. The screenshot below is only a small section of output of a plan.

			Please see <a target="_blank" href="https://www.terraform.io/cli/commands/plan">Terraform Plan Documentation</a> for further information.

			*Example Terraform Plan*

			<pre>
			# openstack_networking_subnet_v2.terraform_subnet1 will be created
			+ resource "openstack_networking_subnet_v2" "terraform_subnet1" {
			    + all_tags          = (known after apply)
			    + cidr              = "192.168.0.0/24"
			    + enable_dhcp       = true
			    + gateway_ip        = (known after apply)
			    + id                = (known after apply)
			    + ip_version        = 4
			    + ipv6_address_mode = (known after apply)
			    + ipv6_ra_mode      = (known after apply)
			    + name              = "terraform_subnet1"
			    + network_id        = (known after apply)
			    + no_gateway        = false
			    + region            = (known after apply)
			    + tenant_id         = (known after apply)
			
			    + allocation_pool {
			        + end   = (known after apply)
			        + start = (known after apply)
			      }
			
			    + allocation_pools {
			        + end   = (known after apply)
			        + start = (known after apply)
			      }
			  }
			
			Plan: 8 to add, 0 to change, 0 to destroy.
			
			Changes to Outputs:
			+ floating_ip_ubuntu20 = [
			    + (known after apply),
			  ]
			
			────────────────────────────────────────────────────────────────────────────────────────────────────────────────

			Note: You didn't use the `-out` option to save this plan, so Terraform can't guarantee to take exactly these actions if you run `terraform apply` now.
			</pre>

			In this example, due to space issues only the networking section is shown. The resource section in the example lists how the resource will be configured, including any tags and the name of the resource.

			You can see on the Plan: line that 8 items will be added, 0 will be changed and 0 will be destroyed.

	#terraform:apply
		:markdown
			##[Terraform Apply](#terraform:apply)

				terraform apply

			This command makes changes based on what's defined in the Terraform files and what's existing in your infrastructure already.

			Please see <a target="_blank" href="https://www.terraform.io/cli/commands/apply">Terraform Apply Documentation</a> for further information.

			*Example Terraform Apply*

			<pre>
			# openstack_networking_subnet_v2.terraform_subnet1 will be created
			+ resource "openstack_networking_subnet_v2" "terraform_subnet1" {
			    + all_tags          = (known after apply)
			    + cidr              = "192.168.0.0/24"
			    + enable_dhcp       = true
			    + gateway_ip        = (known after apply)
			    + id                = (known after apply)
			    + ip_version        = 4
			    + ipv6_address_mode = (known after apply)
			    + ipv6_ra_mode      = (known after apply)
			    + name              = "terraform_subnet1"
			    + network_id        = (known after apply)
			    + no_gateway        = false
			    + region            = (known after apply)
			    + tenant_id         = (known after apply)
			
			    + allocation_pool {
			        + end   = (known after apply)
			        + start = (known after apply)
			      }
			
			    + allocation_pools {
			        + end   = (known after apply)
			        + start = (known after apply)
			      }
			  }
			
			Plan: 8 to add, 0 to change, 0 to destroy.
			
			Changes to Outputs:
			+ floating_ip_ubuntu20 = [
			    + (known after apply),
			  ]
			
			Do you want to perform these actions?
			Terraform will perform the actions described above.
			Only 'yes' will be accepted to approve.
			
			Enter a value: yes
			</pre>

	#terraform:yaml
		:markdown
			##[Writing and Validating YAML Files](#terraform:yaml)

			Terraform code is written in YAML (YAML Ain't Markup Language). Indentation matters with YAML so listed below are some free tools that will help you write in YAML.

			* <a target="_blank" href="http://www.yamllint.com">yamllint</a>

			* <a target="_blank" href="https://atom.io">atom.io</a>

