#usage
	:markdown
		#[General Usage Info](#usage)

	#usage:resources
		:markdown
			##[Jetstream2 Resources](#usage:resources)

			Jetstream2 consists of four distinct XSEDE-allocated resources. These resources are:

			* [Jetstream2 (CPU only)](#info:config-cloud-cpu)
			* [Jetstream2 Large Memory](#info:config-cloud-lm)
			* [Jetstream2 GPU](#info:config-cloud-gpu)
			* [Jetstream2 Storage](#usage:storage)

			The specifications for each are linked above.

			With the exception of Jetstream2 Storage, these resources may be allocated individually. Jetstream2 Storage requires the PI apply for or already have an allocation on one of the three compute resources.

	#usage:resources-startup
		:markdown
			###[Maximum Allocations](#usage:resources-startup)

			__Maximum Startup/Campus Champion Allocation values for each resource__

			* Jetstream2 CPU - 200,000 SUs
			* Jetstream2 Large Memory - 400,000 SUs
			* Jetstream2 GPU - 600,000 SUs
			* Jetstream2 Storage - 1TB default*\*

			*\*Storage limits may be larger than 1TB per allocation for a startup if well-justified.

	#usage:resources-limits
		:markdown
			###[Limits and important notes](#usage:resources-limits)

			* There are no request limits for Education or Research allocations. However, all requests must show the appropriate justification. Please refer to Jetstream2 Education Allocations or the [XSEDE Research Allocation page](/allocations/research) for additional information on how to create an appropriate Education or Research allocation request.
			* There are no restrictions on runtime for the Jetstream2 CPU resource. As long as you have an active allocation and SUs remaining, you may run your Jetstream2 CPU VM(s) continuously or on demand.
			* Jetstream2 GPU and Jetstream2 Large Memory may have runtime restriction placed at a future date. Present policy notes that Jetstream2 Staff may limit runtime on these resources to two weeks at a time. As long as resources are not in contention, we may opt to allow continuous running of VMs/services. Any change in resource limits will be noted via [XSEDE User News](/user-news).


	#usage:storage
		:markdown
			##[Jetstream2 Storage](#usage:storage)

			Jetstream2 storage is an allocated resource. All allocations will be given a default storage amount (as noted on the Jetstream2 [Resources](#) page).

			This storage is usable by all users on that allocation so the PI may want to institute per user quotas or discuss proper usage etiquette with the members of their allocation. Jetstream2 staff will not institute per user storage quotas, with the exception of the Jetstream2 Trial Allocation.

	#usage:storage-limits
		:markdown
			###[Limits on Jetstream2 Storage](#usage:storage-limits)

			* Startup allocations are generally limited to 5-10TB max
			* Education allocations are generally limited to 10TB max
			* Research allocations are genereally limited to 40TB max

			All are subject to proper justification in the [allocations](#usage:allocs) process. Maxmimum values may be adjusted with proper justification and if there are adequate resources available. This is entirely at the discretion of the Jetstream2 team.

			Please refer to the following pages for more information on using Jetstream2 storage under the various interfaces:

			* [Using Jetstream2 Storage Under Cacao](#uis:cacao-storage)
			* [Using Jetstream2 Storage Under Exosphere](#uis:exosphere-storage)
			* [Using Jetstream2 Storage Under Horizon](#uis:horizon-storage)
			* [Using Jetstream2 Storage Under the CLI](#cli:openstack-cl-storage)
			* [Using Jetstream2 Storage with Manila](#storage:manila)
			* [Using Jetstream2 Storage with Object Store](#storage:manila-objectstore)

	#usage:sus
		:markdown
			##[XSEDE Service Units](#usage:sus)

			Jetstream2 allocations are measured in XSEDE Service Units (SUs).

			SUs are consumed at a rate of:

			* Jetstream2 (CPU) - 1 SU per vCPU_core-hour (use of one virtual core of a CPU per hour)
			* Jetstream2-LM (Large Memory) - 2 SUs per vCPU_core-hour
			* Jetstream2-GPU - 4 SUs per vCPU_core-hour

			Please refer to [VM Sizes and configurations](#usage:vm) to see available VM flavors and per hour cost on Jetstream2.

			<hr />

			* _SUSPENDED_ instances will be charged .75 of their normal SU value. (75%)
			* _STOPPED_ instances will be charge 0.50 of their normal SU value. (50%)
			* _SHELVED_ instances will not be charged SUs. (0%)

			For Large Memory and GPU allocations, the vCPU core hour cost is 2x and 4x respectively as noted above.

			The reason for continuing to charge for VMs that are not in a usable state is that they still consume resorces if they are suspended or stopped. In those states, they still occupy allocable/usable space on the hypervisor, preventing other users from using those resources.

			For instructions on managing instances, please see:

			* [Cacao instance management actions](#uis:cacao-manageinst)
			* [Exosphere instance management actions](#uis:exosphere-manageinst)
			* [Horizon instance management actions](#uis:horizon-manageinst)
			* [Command line instance management actions](#cli:openstack-cl-manage)


	#usage:vm
		:markdown
			##[Virtual Machines (VMs)](#usage:vm)

	#usage:vm-sizes
		:markdown
			###[VM Sizes and Configurations](#usage:vm-sizes)

			Jetstream2 can be used in several different virtual machine (VM) sizes which are charged in service units (SUs) based on how much of the total system resource is used.

			The basic unit of VM allocation for Jetstream2 is based on a virtual CPU (vCPU) hour: *1 service unit (SU) is equivalent to 1 vCPU for 1 hour of wall clock time.* The table below outlines the VM sizes created for Jetstream2.

			<div class="portlet-msg-info">Please note that these are all separate resources. Jetstream2 CPU is the default resource. To use Large Memory or GPU resources, you must have an allocation for those resources.</div>

			While the root disk sizes here are fixed, there is an option called "boot from volume" that will allow you to specify a larger root disk using quota from your storage allocation. Instructions for that are in the user interface sections.

	#usage:vm-cpu
		:markdown
			####[Jetstream2 CPU](#usage:vm-cpu)

	%table(border="1" cellpadding="3")
		%caption Table 1. Jetstream2 CPU
		%thead
			%tr
				%th VM Size
				%th vCPUs
				%th RAM (GB)
				%th Local Storage (GB)
				%th SU cost per hour
		%tbody
			%tr
				%td m3.tiny
				%td 1
				%td 3
				%td 10
				%td 1
			%tr
				%td m3.small
				%td 2
				%td 6
				%td 20
				%td 2
			%tr
				%td m3.quad
				%td 4
				%td 15
				%td 20
				%td 4
			%tr
				%td m3.medium
				%td 8
				%td 30
				%td 60
				%td 8
			%tr
				%td m3.large
				%td 16
				%td 60
				%td 60
				%td 16
			%tr
				%td m3.xl
				%td 32
				%td 125
				%td 60
				%td 32
			%tr
				%td m3.2xl
				%td 64
				%td 250
				%td 60
				%td 64
			%tr
				%td m3.3xl*
				%td 128
				%td 500
				%td 60
				%td 128

	#usage:vm-cpu-t1
		:markdown
			*m3.3xl will not be available by default. It will only be available by request and with proper justification

	#usage:vm-lmem
		:markdown
			####[Jetstream2 Large Memory](#usage:vm-lmem)

	%table(border="1" cellpadding="3" style="caption-side: bottom")
		%caption Table 2. Jetstream2 Large Memory
		%thead
			%tr
				%th VM Size
				%th vCPUs
				%th RAM (GB)
				%th Local Storage (GB)
				%th SU cost per hour
		%tbody
			%tr
				%td r3.large
				%td 64
				%td 500
				%td 60
				%td 128
			%tr
				%td r3.xl
				%td 128
				%td 1000
				%td 60
				%td 256

	#usage:vm-lmem-t2

	#usage:vm-gpu
		:markdown
			####[Jetstream2 GPU](#usage:vm-gpu)

			Jetstream2 GPU nodes charge 4 SUs per vCPU hour or 4 SUs per core per hour. Additionally, there are four NVIDIA A100 GPUs on each node. These GPUs are subdivided using NVIDIA Multi-Instance GPU (MIG) into up to 7 slices to allow more researchers and students to make use of the GPU resource.

			*7 GPU slices = 1 NVIDIA 40GB Ampere A100 GPU*

	%table(border="1" cellpadding="3" style="caption-side: bottom")
		%caption Table 3. Jetstream2 GPU
		%thead
			%tr
				%th VM Size
				%th vCPUs
				%th RAM (GB)
				%th Local Storage (GB)
				%th GPU Slices/GPU RAM
				%th SU cost/hr
		%tbody
			%tr
				%td g3.small
				%td 4
				%td 15
				%td 120
				%td 1 slice/5GB RAM
				%td 16
			%tr
				%td g3.medium
				%td 8
				%td 30
				%td 120
				%td 2 slices/10GB RAM
				%td 32
			%tr
				%td g3.large
				%td 16
				%td 60
				%td 120
				%td 3 slices/20GB RAM
				%td 64
			%tr
				%td g3.xl
				%td 32
				%td 125
				%td 120
				%td 7 slices/40GB RAM
				%td 128

	#usage:vm-gpu-t3
		:markdown
			*This flavor information may be subject to changes in the future.*

	#usage:vm-estimates
		:markdown
			####[Example of SU estimation](#usage:vm-estimates)

			* First determine the VM resource appropriate to your needs (CPU only, large memory, GPU):
				* If your work requires 24 GB of RAM and 60 GB of local storage:
					* you would request 8 SUs per hour to cover a single m3.medium VM instance.
				* If your work requires 10 GB of local storage in 1 core using 3 GB of RAM:
					* you would request 2 SUs per hour for an m3.small VM instance.
				* If your work requires 1TB of RAM:
					* you would request 256 SUs per hour for an r3.xl instance on Jetstream2 Large Memory
				* If you work requires 20GB of GPU RAM:
					* you would request 64 SUs per hour for a g3.large instance on Jetstream2 GPU
			* You then would calculate for the appropriate resource (refer to the tables above):
				* For Jetstream2 CPU, you would then multiply by the number of hours you will use that size VM in the next year and multiply by the number of VMs you will need.
				* For Jetstream2 Large Memory and GPU, either refer to the SU cost per hour in the last column, or multiply hours times 2 for LM or 4 for GPU
			* To calculate the number of SUs you will need in the next year, first estimate the number of hours you expect to work on a particular project. For example, if you typically work 40 hours per week and expect to spend 25% of your time on this project that would be 10 hours per week.
			* Next, calculate the total number of hours per year for this project:
				* Total hours = 10 hours per week * 52 weeks per year
				* Total hours = 520
			* Finally, calculate the total SUs for the year for a single VM instance:
				* Total SUs = 520 hours per year * vCPUs
					* e.g. For a Medium VM instance: Total SUs = 520 hours per year * 8vCPUs
					* Total SUs = 4160
			* If your project requires more than 1 VM instance, multiply the total SUs by the number of VMs that you will need:
				* Total SUs needed for 3 medium size VMs = 3 * 4160
				* Total SUs = 12480

			The calculations above assume that your VM is shutdown properly. For instructions see:

			* [Cacao instance management actions](#uis:cacao-manageinst)
			* [Exosphere instance management actions](#uis:exosphere-manageinst)
			* [Horizon instance management actions](#uis:horizon-manageinst)
			* [Command line instance management actions](#cli:openstack-cl-manage)

	#usage:vm-estimate-on
		:markdown
			####[SU Estimation for Infrastructure or *Always On* allocations](#usage:vm-estimate-on)

			For jobs that may need to run for extended periods or as *always on* infrastructure, you can take this approach:

				VM cost (SUs) x 24 hours/day x 365 days = single VM cost per year

			or as an example for each resource, an m3.large, r3.large, and g3.large each running for a year:

				m3.large (16 cores) x 24 hours/day x 365 days = 140,160 SUs
				r3.large (64 cores x 2 SUs/hour) x 24 hours/day x 365 days = 1,121,280 SUs
				g3.large (16 cores x 4 SUs/hour) x 24 hours/day x 365 days = 560,640 SUs

			Startup allocations are subject to limitation. Please refer to the [Resources](#usage:resources-limits) section for Startup Allocation limits.

			For information on submitting a Research Allocation Request, please see [Submitting a Successful Allocation Request](/successful-requests). Note that all allocations above the startup level on Jetstream2 CPU require a strong justification for the time being requested.

	#usage:images
		:markdown
			##[Featured Images](#usage:images)

			Jetstream2 will have a limited set of featured images. These are images that the Jestream2 team curates and maintains.

			A key difference between Jetstream1 and Jetstream2 is that there will not be application-specific featured images. We will maintain a [software collection](#usage:software) that will be made available on every virtual machine at boot. Software will be loaded via <a target="_blank" href="https://lmod.readthedocs.io/en/latest/">Lmod Modules</a>.

			At this time, the featured images will be:

			* Ubuntu 20.04
			* Ubuntu 18.04
			* Rocky 8
			* CentOS 7

			These featured images will evolve over time. As distributions leave support (e.g Ubuntu 18 will end support in April 2023), we will replace them with newer, supported versions. NVIDIA drivers will be present on all featured images so any of the featured images will work with Jetstream2 GPUs.

			Our goal is to maintain a minimum of featured images but keep them updated via automated pipeline on a weekly basis.

	#usage:instancemgmt
		:markdown
			##[Instance Management Actions](#usage:instancemgmt)

			Please orient yourself to the following instance management actions. These will help you use Jetstream2 effectively and conserve your allocation.

			Each user interface for Jetstream2 has instance actions in a slightly different place. See guidance for [Exosphere](#uis:exosphere), [Cacao](#uis:cacao), [Horizon](#uis:horizon), and the [OpenStack CLI](#cli:openstack).

			__Basic Actions__

	#usage:instancemgmt-shelving
		:markdown
			###[Shelve and Unshelve](#usage:instancemgmt-shelving)

			__When your instance is not performing work or otherwise in active use, please *shelve* it.__ Shelving an instance shuts it down and frees up resources on the cloud for other users. It also conserves the SUs (service units) on your allocation.

			Shelving an instance shuts down its operating system. The instance's disk contents are preserved, but any running programs will exit, so please save any unfinished work before shelving.

			Shelving and unshelving each take a few minutes, so shelving doesn't make sense for very short periods of inactivity. In other words, shelve your instance when you're done for the day or the week, not merely for your lunch break.

			A shelved instance will not accept shell, SSH, or any other connections. So, if your instance runs a server that you want to provide others the ability to connect to at any time, you must leave it active. If this describes your instance, consider re-sizing it to the smallest flavor that will work for your server needs. This will conserve SUs on your allocation.

	#usage:instancemgmt-locking
		:markdown
			###[Lock and Unlock](#usage:instancemgmt-locking)

			Locking an instance helps prevent anyone from accidentally deleting or performing other actions on it, from Exosphere and all other Jetstream2 interfaces. If your instance is running an important job or used in "production" capacity, consider keeping it locked. You must unlock your instance again before performing other actions (such as shelving it). Locking and unlocking are non-disruptive actions; they do not affect a running instance.

			Be aware that locking an instance does not prevent:

			* another user on your allocation from unlocking it.
			* modifications to the instance's filesystem(s) or running software. For example, someone with access to the instance could still log in and delete files. Locking only prevents instance actions at the cloud (OpenStack) level.
			* the instance from shutting off when your allocation expires or is exhausted.

	#usage:instancemgmt-reboot
		:markdown
			###[Reboot](#usage:instancemgmt-reboot)

			Rebooting an instance is just like restarting a computer. The cloud will first attempt a graceful or "soft" reboot, where all of your programs are allowed to exit. If that fails then OpenStack will perform a "hard" reboot, which will lose any work that is not yet written to disk. If you cannot connect to your instance, rebooting is a good troubleshooting step before creating a support ticket.

			__Advanced Actions__

			The following actions are for more sophisticated use cases. If you're a new cloud user, it's okay to skip reading about these for now.

	#usage:instancemgmt-resize
		:markdown
			###[Resize](#usage:instancemgmt-resize)

			Resizing allows you to choose a different flavor for your instance. When you resize, your instance will shut down and then restart with the new flavor (so please save any work in progress first). You can now resize using Exosphere, Horizon, or the CLI.

			Consider resizing if you find yourself in one of these situations:

			* Your instance exhausts its compute resources, e.g. you run out of working memory (RAM) or you want it to process work faster.
			* Your instance's CPU is sitting idle most of the time, in which case a smaller flavor would burn your allocation more slowly.
				* Exosphere's instance resource usage graphs are a useful guide here.
			* You launched a GPU flavor, then later find that you no longer need the GPU, but want to keep using the instance.
			* You launched a non-GPU flavor, then later find that you want to use the same instance with a GPU.

			If your software stack sometimes needs a large flavor to run a compute-intensive job, but you can develop and tune it on a smaller flavor, consider resizing down to a small flavor for development work, and back up when you're ready to run it at a larger scale. This get you best performance when you need it, while conserving your allocation when you don't.

			Moving to a larger flavor is generally __not__ appropriate in these situations:

			* The speed of your workload is limited by a process that is single-threaded (not parallelized). If this process cannot be parallelized then resizing is unlikely to speed it up.
			* The speed of your workload is limited by disk or network transfer speed. Larger instances do not have faster storage or network connectivity.
			* Your instance is running out of storage. Instead, create a volume, attach it, and move your data to the volume. If you're installing a lot of software that is not easily moved to a volume, resizing may be appropriate. Please open a ticket and ask for advice.

			When resizing, you must select your desired new flavor. After the resize is complete, the instance will be in status "Resize verify". At that time, access the instance (e.g. using Web Shell or SSH) and confirm that it is working, then choose the "Confirm resize" action. If the resize process broke something and you need to return to the previous flavor, choose the "Revert resize" action.

	#usage:instancemgmt-image
		:markdown
			###[Image](#usage:instancemgmt-image)

			When you create an image, you capture the entire state of your instance's root disk. New instances can be launched from that image, which means that you can use an image to 'snapshot' and 'clone' an instance.

			After you specify the image name, it will take several minutes for the image to finish creating and become active.

			Consider creating an image in the following situations:

			* You want to create a new instance that is a clone of your existing instance. In this case, create an image of the existing instance and launch your clone(s) from that image.
			* You are about to perform a possibly destructive action on your instance (like installing, upgrading, or removing software), and you need the ability to go back and get to the prior disk state of the instance if something goes wrong.
			* You are building a software stack that other people will consume via their own instance (e.g. you are teaching a class). Providing an image can be an easy way for other people to get a new instance just like yours.

			Be aware that system images quickly fall behind on operating system updates. As more time passes since an image was created, the more software will need to be updated when a new instance is created for it. This can lead to excessively long instance lanuch times and other problems. For this reason, custom images are not the right tool for sharing software or workflows more than a few months into the future. If this describes your situation, please open a support ticket and ask for advice.

	#usage:instancemgmt-suspend
		:markdown
			###[Suspend and Resume](#usage:instancemgmt-suspend)

			Suspending an instance is like placing a computer on standby (a.k.a. sleep). When you resume the instance, all running programs will be in the state they were in prior to entering standby. (Still, it is wise to save any work in progress before suspending.)

			Please consider suspending instead of shelving *only* if you are running software that was complex or labor-intensive to start (not install), and you only need to leave it suspended for a relatively short time (e.g. a few days). Suspended instances still occupy resources on the cloud, and they continue to consume your allocation at a reduced rate.


	#usage:software
		:markdown
			##[Software Collection](#usage:software)

			Details on the Jetstream2 Software Collection will be forthcoming. At this time, we anticipate a shared disk that will be automatically mounted by instances. Researchers will then be able to use modules to load any combination of software they need, similar to how HPC systems do it.

			This list will be ever evolving, but at this time, pre-launch, we anticipate the following software on the shared software store:

			* Matlab
			* R / R Studio / Shiny
			* Intel Compiler
			* NVIDIA (formerly PGI) Compiler
			* AOCC Compiler
			* Anaconda (may live on image itself for simplicity)
			* Databases (e.g. Mysql, Postgresql, Mongo)
			* Java
			* Jupyter/JupyterLab/JupyterHub
			* WQ-Maker
			* Genemark
			* BLAT

			Items like CUDA and the NVIDIA HPC SDK are not installed on the VMs or in the software collection. We recommend using the <a target="_blank" href="https://catalog.ngc.nvidia.com/containers">NVIDIA containers</a> for GPU-related software from NVIDIA as the ecosystem can often be problematic for individual local installations. The <a target="_blank" href="https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/overview.html">NVIDIA Container Toolkit</a> is installed on all featured images.

			<div class="portlet-msg-info">This is still an ongoing effort so this list will almost certainly change in coming weeks and months.</div>

	#usage:licenses
		:markdown
			##[Software Licenses](#usage:licenses)

			Software licenses are generally __the responsibility of the user__ to obtain, coordinate, implement, and maintain.

			Some licenses may require users to coordinate with Jetstream staff to allow for proper configuration. Such coordination is handled on a case-by-base basis.

			Licensed software maintained by staff but available to users are listed below. 

	#usage:licenses-complib
		:markdown
			###[Compilers and Parallel Libraries](#usage:licenses-complib)

			* The Intel Compiler is covered on the primary cloud by a site license and has been configured to point to the proper license server.
			* All components of the Intel Parallel Studio are covered by the IU site license, including the MKL libraries. 

	#usage:licenses-specialty
		:markdown
			###[Specialty software](#usage:licenses-specialty)

			* __MATLAB__ is covered on the primary cloud by a site license and has been configured to point to the proper license server.

			If you need licenses for any other software that is not provided through the Jetstream2 shared software store then you will have to provide your own license. Licenses on regional clouds may vary and will need to be discussed with the regional cloud provider.

			* Please be aware that if you take an image or software from Jetstream and run it somewhere else then the license will not work. Jetstream license servers restrict access to only valid Jetstream IP addresses.

			*It is also the responsibility of the PI and those placed on each allocation to ensure that they are complying with the terms of any software license they are using on Jetstream2.*


