#vclusters
	:markdown
		#[Virtual Clusters on Jetstream2](#vclusters)

		A Virtual Cluster is a computer cluster that is made up of a single head node which runs the Slurm system, as well as a number of compute nodes. The head node is responsible for controlling the compute nodes. A large filesystem can be shared between all of the nodes. The head node is accessible to users via a public IP address and the compute nodes are created on-demand as jobs are submitted to the queue.

		<div class="portlet-msg-info">Slurm is a resource management system that helps organize and manage computer resources. It allocates resources to different tasks or jobs, making sure that everything runs as smoothly as possible.</div>

	#vclusters:options
		:markdown
			##[Options to Create Your Own Virtual Cluster on Jetstream2](#vclusters:options)

			* [Exosphere's push-button cluster feature](#exosphere:clusters) (easy, less configurable)
			* On the command-line, running shell scripts (trickier, more flexible). See the <a target="_blank" href="https://xcri-docs.readthedocs.io/en/latest/toolkits/vc-installation">XCRI Toolkit Docs</a> for more information.

	#vclusters:refs
		:markdown
			##[References](#vclusters:refs)

			* <a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/3355738.3355752">Virtual Clusters in the Jetstream Cloud: A story of elasticized HPC</a>
			* <a target="_blank" href="https://scholarworks.iu.edu/dspace/bitstream/handle/2022/24448/HARC19_Eric_Coulter.pdf">Presentation on Virtual Clusters</a>



