:markdown

	In order to facilitate compute intensive research at the University of Tennessee, Knoxville and its collaborating institutions, NICS has deployed a new supercomputer named Darter. Darter is named after a freshwater indigenous fish native to East Tennessee.

	Darter is a Cray XC30 system with an Aries interconnect and a Lustre storage system, that provide both high scalability and sustained performance. The Darter supercomputer has a peak performance of 240.9 Tflops (1012 floating point operations per second).

	See NICS' [Darter configuration](https://www.nics.tennessee.edu/computing-resources/xc30/configuration) page for more details.


%section#overview-configuration
	:markdown
		### [System Overview](#overview-configuration)
		* Cray XC30 (Cascade) supercomputer
		* Cray Linux Environment (CLE) 5.0 upo 3 _(based on SLES 11 update 2)_
		* 11,968 physical compute cores (23,936 logical cores with Hyper-Threading enabled)
		* 22.6 TB of compute memory
		* Peak performance of 240.9 Tflops
		* 1.3 PB parallel Lustre file system for scratch
		* Interconnect has a Dragonfly network topology with Cray Aries technology
		* 4 cabinets with up to 192 nodes
		* 724 compute nodes
		* 3 login nodes with 10GigE uplinks
		* Long term archival/storage available through HPSS


%section#overview-configuration-computenodes
	:markdown
		#### [Compute Node Details](#overview-configuration-computenodes)
		* Two 2.6 GHz 64bit Intel 8-core XEON E5-2600 _(Sandy Bridge)_ Series processors
		* 16 physical cores (32 logical cores if using Hyper-Threading)
		* 32 GB of memory
		* Connection via Cray Aries router with a bandwidth of 8GB/sec
		* Diskless nodes
		* Parallel Lustre scratch file system
		* Shared libraries access available via DVS service


%section#overview-configuration-loginnodes
	:markdown
		#### [Login Node Details](#overview-configuration-loginnodes)
		* Four 2.6 GHz 64bit Intel 8-core XEON E5-2600 _(Sandy Bridge)_ Series processors
		* 256 GB of memory
		* 10GigE connection to the Internet
		* Total of 4 login nodes
		* Two for OTP only access
		* Two for GSI and GridFTP access


%section#overview-filesystems
	:markdown
		### [File Systems](#overview-filesystems)

		Darter has access to two file systems:

		* [Network File System](#overview-filesystems-nfs) (NFS)
		* [Medusa File System](#overview-filesystems-lustre) (Lustre)


%section#overview-filesystems-nfs
	:markdown
		#### [Network File System](#overview-filesystems-nfs) (NFS)
		The Network File Service (NFS) server contains user's home directories, project directories, and software directories. Home and project directories can be used to store frequently used items such as source code, binaries and scripts. Both are accessible from all interactive NICS resources. For further information please follow this [link](https://www.nics.tennessee.edu/computing-resources/file-systems)


%section#overview-filesystems-lustre
	:markdown
		#### [Medusa File System](#overview-filesystems-lustre) (Lustre)
		All Darter users have access to the Medusa file system providing 1.3 PB of scratch space. This space can be accessed at:

		<pre>/lustre/medusa/$USER</pre>

		This space is intended for production work and not long-term storage. This space is temporary and subject to frequent purging to ensure the stability of the system for all users. Compute nodes do not have access to home and project directories on NFS. Compute nodes have access to the NFS and Lustre filesystem.

		Optimizing your IO performance will not only lessen the load on Lustre, it will save you compute time as well. Please consider reading the [Lustre Striping Guide](https://www.nics.tennessee.edu/computing-resources/file-systems/lustre-striping-guide). This guide will help you make the best use of the parallel Lustre filesystem and improve your application's I/O performance.

		* 1.3 PB of usable space
		* Lustre Parallel file system
		* Maximum aggregated bandwidth of 30. GB/sec with Lustre (10 GB/sec per SSU)
		* FDR Infiniband connection
		* Default stripping values:
			* Stripe count of 2
			* Stripe size of 1MB
		* Maximum stripe count of 90
		* 900 2 TB SATA disk drives (300 per SSU)
		* 8 LNET nodes
		* 30 OST's per Scalable Storage Units (SSU)
		* 12 OSS
		* 7-8 OST per OSS
		* 90 OSTS

 
%section#access
	:markdown
		## [System Access](#access)

%section#access-otp
	:markdown
		### [OTP](#access-otp)

		The first time a user `ssh`'s into a NICS system, you'll be asked to set a Personal Identification Number (PIN) and then it will ask you to repeat this number for verification. This will be your private 4 to 8 digit PIN. The next step will prompt you to enter in your PIN followed by the numbers on your OTP token. The numbers on your token will change every 30 seconds and you can view the time left on that passcode by the bar on the left hand side of the viewing window. For further information on this, please see <http://www.nics.tennessee.edu/user-support/activating-otp>.

		<p class="portal-msg-alert">If you've forgotten your PIN number, please email help@xsede.org.</p>

		Do not share your OTP or PIN with anyone. This will lead to immediate deactivation of your account. Citizenship has to be provided to use Darter.


%section#access-gsissh
	:markdown
		### [GSISSH Access](#access-gsissh)

		NICS also supports access using GSI-enabled SSH (`gsissh`). GSI (Grid Security Infrastructure) authentication relies on proxy certificates, which are managed using the Globus Toolkit. This method of access is used via the XSEDE User Portal and can be used from the command line using the Globus toolkit.

%section#access-sso
	:markdown
		### [Single Sign On Hub](#access-sso)

		[Single-Sign-On Hub](http://portal.xsede.org/web/xup/single-sign-on-hub) for GSI-enabled SSH access can be used.

		<pre>
		mylaptop% <b>ssh janeXUPuser@login.xsede.org</b>
		janeXUPuser@login.xsede.org's password:  
		... 
		Welcome to the XSEDE Single Sign-On (SSO) Hub! 
		... 
		[janeXUPuser@gw69 ~]% <b>gsissh darter.nics.xsede.org </b>
		... 
		Welcome to the Darter Supercomputer GSISSH via the Globus Toolkit</pre>

		For using `gsissh` from the command line, the Globus toolkit is required. On NICS and XSEDE resources, the Globus module should be loaded by default. If not, load it with:

		<pre>% <b>module load globus</b></pre>

		For other machines outside of XSEDE, see our [instructions on acquiring and configuring the Globus Toolkit](http://www.nics.tennessee.edu/globus-toolkit).

		To use `gsissh`, you must first acquire a proxy certificate with the `myproxy-logon` command. Certificates can be obtained from either NCSA's myproxy server (which requires your XSEDE username and password) of from NICS myproxy server (which requires your NICS username and passcode using OTP). Use the "`-s`" option with `myproxy-logon` to specify the server and the "`-l`" to specify username if needed:

		For XSEDE certificates:

		<pre>% <b>myproxy-logon -s myproxy.teragrid.org -l <i>XSEDE_username</i></b>
		Enter MyProxy pass phrase: [enter XSEDE password] </pre>

		For NICS certificates: 

		<pre>% <b>myproxy-logon -s myproxy.nics.utk.edu -l <i>NICS_username</i></b>
		Enter MyProxy pass phrase: [enter NICS passcode (pin + OTP token code)]</pre>

		You should receive a message like:

		<pre>A credential has been received for user <i>username</i> in /tmp/x509up_u000.</pre>

		Note: If using your own installation of the Globus Toolkit, you may need to use the "`-T`" option with `myproxy-logon` to install trusted certificates on your machine.

		Once your certificate is in place, you may use `gsissh` to log on to any of NICS resources without any further authentication. For example, to access Darter:

		<pre>% <b>gsissh gsissh.darter.nics.xsede.org</b></pre>

		Proxy certificates are valid for 12 hours by default. You may specify a longer time (in hours) with the -t option for myproxy-logon. The command `grid-proxy-info` will give information on any existing proxy certificates including remaining time limit.

		

%section#compenv
	:markdown
		## [Computing Environment](#compenv)
		The default account setup each user has is their home directory, Lustre scratch space, and project name (given by XSEDE).

%section#compenv-unix
	:markdown
		## [Unix shell](#compenv-unix)

		The command-line interpreter (a.k.a. shell) is the traditional Unix/Linux operating system. The default shell environment on Darter is bash. There are other shells available, such as sh, csh, tcsh, and zsh. Users may change their default shell in the [NICS User Portal](https://portal.nics.tennessee.edu/). To log into the portal, you need to use your RSA SecurID OTP token.

%section#compenv-envvars
	:markdown
		## [Environment Variables](#compenv-envvars)

		One can find the pre-set environment variables using the "`env`" command. In addition, there are pre-set modules loaded when one logs in. This includes the default Intel compiler, Moab, and Torque - one can view these by the module list command. Common environment variables include: `$HOME` (points to `/nics/[a-d]/home/$USER`) and `$SCRATCHDIR` (points to `/lustre/medusa/$USER`).

%section#compenv-modules
	:markdown
		## [Modules](#compenv-modules)

		The Modules software package allows you to dynamically modify your user environment by using modulefiles. Modules are very useful to compile and running on Darter. For a full list of Nautilus installed software, please see <http://www.nics.tennessee.edu/computing-resources/darter/software>.

		Modules can make your computing experience easy. The default compiler is on Darter is the Cray compiler. The compiler programming environment modules are denoted by PrgEnv-. It is recommended to switch to the compiling environment you want and then load the compiler version and other modules. Here is a short list and description of commonly used module commands. Note, if no version number is preceding the package name, it will use the default package.

		<pre>% <b>module list</b></pre>

		Shows all loaded modules.

		<pre>% <b>module swap <i>packageA</i> <i>packageB</i></b></pre>

		This will swap *packageB* for *packageA*. Useful to change PrgEnv modules to switch compilers and versions of other modules.

		<pre>% <b>module avail <i>package</i></b></pre>

		If no package is given, it will list all available modules. This command is useful to see which versions of particular software are installed. for example: 

		<pre>% <b>module avail namd</b></pre>

		<pre>% <b>module show <i>package</i></b></pre>

		This gives you the information concerning the installed software. One will see the `setenv` commands that will modify your environment if you decide to load that module. This is useful for two major reasons. First, you can make sure what executable you like to run- there might be a small difference of the executable name on Nautilus versus another machine. Here, you can perform a `ls` on the outputted bin directory. Secondly, some environment variables could be introduced. For instance, the FFTW module will provide an environment variable that points to the library and include directories- simply include this variable into your makefile versus including the full path.


%section#transferring
	:markdown
		## [Transferring Files to and from Darter](#transferring)
		NICS maintains high-speed network connections with the XSEDE network and Internet2.  The standard transfer utilities, `scp`, `sftp`, and `rsync` can be used to transfer files to and from NICS systems. These utilities are usually already installed on Linux/Unix machines, and there are many command and graphical clients available. Due to familiarity and ease, these may be the best choice for transferring scripts and small files, however, these options can be slow in comparison to `globus-url-copy`, and may be ill suited for transferring large amounts of data. More information on these utilities can be found on the [data transfer page](https://www.nics.tennessee.edu/computing-resources/data-transfer). You must have a NICS token in order for these file transfer methods to work.

		NICS currently maintains the following options for file transfer:

		* [`rsync`](#transferring-rsync)
		* [`scp`](#transferring-scp)
		* [`sftp`](#transferring-sftp)
		* [GridFTP and `globus-url-copy`](#transferring-gridftp)
		* [Globus](#transferring-globus)
		* [`bbcp`](#transferring-bbcp)
	

%section#transferring-rsync
	:markdown
		### [`rsync`](#transferring-rsync)

		`rsync` allows for synchronization between two sets of files across a network. It will only copy the data that is different between the two machines. It does not allow you to copy between two remote machines.

		<pre>rsync [options] [source] [destination]</pre>

		From remote host to local machine (there to here):

		<pre>% <b>rsync -avz -e ssh remoteuser@remotehost:/remote/dir /this/dir/</b></pre>

		For example:

		<pre>
		% <b>rsync -avz -e ssh janesmith@nautilus.nics.xsede.org:/lustre/medusa/janesmith/trash/</b>
		Enter PASSCODE:
		receiving incremental file list
		drwxr-xr-x        4096 2014/06/16 09:03:45 .
		-rw-r--r--   182005760 2014/06/16 09:04:26 dj_csci7350_final_proj.tar
		-rw-r--r--     5849796 2014/06/16 09:04:26 pargapmpi
		sent 11 bytes  received 104 bytes  8.52 bytes/sec
		total size is 187855556  speedup is 1633526.57</pre>

		From local machine to remote machine (here to there):

		<pre>% <b>rsync -avz -e ssh /this/dir/* remoteuser@remotehost:/remote/dir/</b></pre>

		For example:

		<pre>
		% <b>rsync -avz -e ssh ~/JUNK/* janesmith@beacon.nics.xsede.org:/lustre/medusa/janesmith/</b>
		Enter PASSCODE:
		sending incremental file list
		asker.tgz
		asker_2.tar
		sent 641134 bytes  received 1891 bytes  32975.64 bytes/sec
		total size is 634102  speedup is 0.99</pre>

		For more information, type "`man rsync`" at the command line.

		Some `rsync` options can be very resource intensive. Please do not run more than a single instance of `rsync` simultaneously on the same login node, and avoid using `rsync` on directories with very many files. Processes may be killed if they cause a node to become unresponsive.

%section#transferring-scp
	:markdown
		### [scp](#transferring-scp)

		`scp` allows you to copy between two machines over a network. It uses the SSH protocol to transfer the data, requiring authentication in order to proceed with the transfer. It will even allow you to transfer files between two remote machines.

		<pre>scp [options] [source] [destination]</pre>

		From remote machine to local machine (there to here):

		<pre>% <b>scp <i>your_username</i>@remotehost.edu:thisfile.txt /some/local/directory</b></pre>

		From the local machine to the remote machine (here to there):
		
		<pre>% <b>scp thisfile.txt your_username@remotehost.edu:/some/remote/directory</b></pre>

		For Example:

		<pre>% <b>scp gpuray-0.91.zip janesmith@keeneland.nics.xsede.org:/lustre/medusa/$USER</b>
		Enter PASSCODE:
		gpuray-0.91.zip                                         100%   35MB  34.7MB/s   00:00</pre>

		For more information, type "`man scp`" at the command line.

		In case you have shell commands in your shell initialization files, you will need to modify your files with code as follows, in order for `scp` to work.
		
		The following code is Bourne-shell compatible:

		<pre>
		TTY=`/usr/bin/tty`
		if [ $? = 0 ]; then
		/usr/bin/echo "interactive stuff goes here"
		fi</pre>


		The following code is C-shell compatible:

		<pre>
		( /usr/bin/tty ) > /dev/null
		if ( $status == 0 ) then
		/usr/bin/echo "interactive stuff goes here"
		endif</pre>

%section#transferring-sftp
	:markdown
		### [sftp](#transferring-sftp)

		`sftp` is an interactive file transfer program which, like "`scp`" and "`rsync -e ssh ...`", provides encrypted transfers between two machines over a network.

		Examples:

		Open a session:

		<pre>% <b>sftp your_username@remotehost.edu</b></pre>
		You will be asked to provide a NICS PASSCODE. Upon successful entry, you will see the `sftp` prompt:

		<pre>sftp></pre>
		To get a file from the remote machine and save it to your local machine:

		<pre>sftp> <b>get /some/remote/directory/file /some/local/directory/</b></pre>

		For example:

		<pre>% <b>sftp janesmith@nautilus.nics.xsede.org</b>
		Connecting to nautilus.nics.xsede.org...
		Enter PASSCODE:
		sftp> <b>get /lustre/medusa/janesmith/trash/* /nics/d/home/janesmith</b>
		Fetching /lustre/medusa/janesmith/trash/dj_csci7350_final_proj.tar to /nics/d/home/janesmith/dj_csci7350_final_proj.tar
		/lustre/medusa/janesmith/trash/dj_csci7350_final_proj.tar                                   100%  174MB  10.9MB/s   00:16   
		Fetching /lustre/medusa/janesmith/trash/pargapmpi to /nics/d/home/janesmith/pargapmpi
		/lustre/medusa/janesmith/trash/pargapmpi                                                    100% 5713KB   5.6MB/s   00:00</pre>


		To copy a file from the local machine into the remote machine:

		<pre>sftp> <b>get /some/remote/directory/file /some/local/directory/</b></pre>

		For example:

		<pre>sftp> <b>get /nics/d/home/janesmith/KeenelandGPUTest.sh /lustre/medusa/janesmith/DROP/</b>
		Fetching /nics/d/home/janesmith/KeenelandGPUTest.sh to /lustre/medusa/janesmith/DROP/KeenelandGPUTest.sh
		/nics/d/home/janesmith/KeenelandGPUTest.sh                                                  100% 2737     2.7KB/s   00:00</pre>

		To exit, type "`exit`". For more information, type "`man sftp`" at the command line.

%section#transferring-gridftp
	:markdown
		### [GridFTP and `globus-url-copy`](#transferring-gridftp)

		<pre>
		% <b>module load globus/5.0.4</b>
		% <b>myproxy-logon -T -l janesmith</b>
		Enter MyProxy pass phrase:  
		A credential has been received for user janesmith in /tmp/x509up_u974.  
		Trust roots have been installed in /nics/d/home/janesmith/.globus/certificates/.  
		% <b>globus-url-copy -vb \
			gsiftp://gridftp.darter.nics.utk.edu:2811/nics/d/home/janesmith/10MB.dat \
			gsiftp://gridftp.stampede.tacc.xsede.org:2811/home1/01084/janesmith/10MB.dat </b>
		Source: gsiftp://gridftp.darter.nics.utk.edu:2811/nics/d/home/janesmith/  
		Dest:   gsiftp://gridftp.stampede.tacc.xsede.org:2811/home1/01084/janesmith/  
		10MB.dat  
		10485760 bytes         1.59 MB/sec avg         3.85 MB/sec inst</pre>


%section#transferring-bbcp
	:markdown
		### [`bbcp`](#transferring-bbcp)

		If GridFTP is not available, the multi-streaming transfer utility BaBar CoPy (BBCP) may be used. The BBCP utility is capable of breaking up your transfer into multiple simultaneously transferring streams, thereby transferring data faster than single-streaming utilities such as SCP and SFTP. Use of BBCP requires the installation of BBCP on both host systems involved in the transfer. You must have a NICS token in order for this file transfer method to work.

		The basic syntax looks like:

		<pre>bbcp [-options] filename user_name@target_machine_name:filename</pre>

		This example shows a simple file transfer using the default parameters:

		<pre>% <b>bbcp /local/path/largefile.tar remotesystem:/remote/path/largefile.tar</b></pre>

		This example shows a file transfer with optimal transfer parameters to Sooner at OSCER, that uses six streams and a 10MB TCP window size:

		<pre>% <b>bbcp -s 6 -w 10M /local/path/largefile.tar remotesystem:/remote/path/largefile.tar</b></pre>

		This example shows a file transfer with optimal transfer parameters, that uses seven streams, a 12MB TCP window size, the capability to recover and prints an update every 2 seconds:

		<pre>% <b>bbcp -k -s 7 -w 12M -P 2 /local/path/largefile.tar remotesystem:/remote/path/largefile.tar</b></pre>

		For example:

		<pre>% <b>bbcp -k -s 7 -w 12M -P 2 gap4r7p2_2013_12_01-10_17.tar.gz nautilus.nics.utk.edu:/lustre/medusa/janesmith/DROP/gap4r7p2_2013_12_01-10_17.tar.gz</b>
		Enter PASSCODE:
		bbcp: Warning: darter1.nics.utk.edu is running a newer version of bbcp
		bbcp: Creating /lustre/medusa/janesmith/DROP/gap4r7p2_2013_12_01-10_17.tar.gz
		bbcp: 140625 15:23:04  23% done; 47.4 MB/s
		bbcp: 140625 15:23:06  87% done; 67.7 MB/s</pre>

		The following example shows how to transfer a directory to a system like Triton at SDSC where `bbcp` needs to be installed in a user home area. This transfer uses 10 parallel streams and 2MB TCP buffer sizes. It will do a recursive copy and allow for recovery from a failed previous transfer. Note that it is necessary to provide the full path to the `bbcp` executable.

		<pre>% <b>bbcp -a -k -r -P 2 -V -w 10m -s 16 -T 'ssh -x -a -oFallBackToRsh=no    \    
			%I -l %U %H /home/myhomearea/bin/bbcp' SourceFile account@:TargetFile</b></pre>

		Links to precompiled binaries and source code can be obtained from the projects main page: <http://www.slac.stanford.edu/~abh/bbcp/>

		Binaries can be obtained from: <http://www.slac.stanford.edu/~abh/bbcp/bin/>

		Source code can be obtained via GIT: 

		<pre>% <b>git clone http://www.slac.stanford.edu/~abh/bbcp/bbcp.git</b></pre>

%section#transferring-globus
	:markdown
		### [Globus](#transferring-globus)

		NICS users can use Globus to perform large file transfers, for "drag and drop archiving" to move data between its long-time archival storage and compute systems, making it quite easy to move, back up or restore relevant data using a visual interface. To get started visit: <http://www.globus.org/>.

		Recommendations: `scp` and `sftp` are commonly used to transfer data. Gridftp and `bbcp` make better usage of the network bandwidth; therefore, they are better for larger files. On the other hand, `rsync` processes can be very resource intensive, please avoid using `rsync` on directories with many files (it maybe killed to prevent a node from failing).

		If one has a lot of files they would like to transfer, they should be packed up in a tar file and then transferred.


%section#software
	:markdown
		## [Software and Tools](#software)
		NICS installs its third-party application packages for Darter in a directory named `/sw/xt`. Most packages have module files associated with them and users should use these modules to access the software packages.  The following module commands may be used to view loaded and available modules:

		<pre>module list
		module avail</pre>

		More information on modules may be found in the [NICS Modules page](https://www.nics.tennessee.edu/computing-resources/modules).

		Some packages are added by default to each user's environment upon login. This is accomplished by loading the `DefApps` module. This module may directly load third-party application modules, and in some cases, is used to set up programming environments.

%section#appdev
	:markdown
		## [Application Development](#appdev)

%section#appdev-compiling
	:markdown
		### [Compiling](#appdev-compiling)

		Cray provides a convenient set of compiler wrapper commands that should be used for compiling and linking programs to be run on the compute nodes. The wrapper invokes the corresponding compiler in the currently loaded programming environment. Invoking the wrappers will automatically:

		* Import the path for key header files like 'mpi.h' and other libraries
		* Link in the MPI and other Cray provided libraries
		* Specify the correct target processor arguments
		* Provides a common interface to all compilers.

		The following table lists the compiler wrappers available on the system:

	%table(border=1 cellpadding=3)
		%tr
			%th Compiler
			%th Wrapper
		%tr
			%th C
			%td cc
		%tr
			%th C++
			%td CC
		%tr
			%th Fortran
			%td ftn
	:markdown
		You can learn more about the wrappers from the man pages for `cc`, `CC` and `ftn`.

		Note: Do not invoke the Cray, GCC, or Intel C compiler directly to build code intended for compute nodes. You can invoke these compilers directly for programs to be executed on login or service nodes.

%section#appdev-progenv
	:markdown
		### [The Programming Environment](#appdev-progenv)

		All compilers on Darter, Cray, GNU and Intel, are provided via three programming environments that are accessed via the [modules software package](https://www.nics.tennessee.edu/computing-resources/kraken/modules). Each programming environment contains the full set of compatible compilers and libraries. To change from one compiler to the other, you need to change the programming environment via the "`module swap`" command.

		Here is an example on how to change from the default Cray compiler to the Intel compiler:

		<pre>% <b>module swap PrgEnv-cray PrgEnv-intel </b></pre>

%section#appdev-openmp
	:markdown
		### [OpenMP](#appdev-openmp)
		OpenMP is supported in all three programming environments available on Darter; however, each compiler suite has a different syntax for enabling OpenMP support at compile time:

	%table(border=1 cellpadding=3)
		%tr
			%th Compiler
			%th Option
		%tr
			%th Cray
			%td <code>-h omp</code> (on by default)
		%tr
			%th GNU
			%td <code>-openmp</code>
		%tr
			%th Intel
			%td <code>-fopenmp</code>


%section#appdev-examples
	:markdown
		### [Compiling Examples](#appdev-examples)

%section#appdev-examples-1
	:markdown
		#### [Example 1: Compiling a C program](#appdev-examples-1)

		The command compiles source code files "`progx.c`" and "`progy.c`" and links them with any required library functions, creating executable "`progxy`".

		<pre>% <b>cc -o progxy progx.c progy.c</b></pre>

%section#appdev-examples-2
	:markdown
		#### [Example 2: Compiling a Fortran program with the default Cray Compiler](#appdev-examples-2)

		This command compiles source code file "`himeno_BMTxpr.f`" and links it to any required library functions, creating executable "`himeno_orig`". The option "`-rm`" will produce a source listing file "`himenoBMTxpr.lst`" with loopmark information that can be used to understand what the Cray compiler did to improve performance, or, correlate with the output from CrayPAT when analyzing performance. Option "`-eF`" turns on the pre-processor before compiling the Fortran code.

		<pre>% <b>ftn -rm -eF himeno_BMTxpr.f -o himeno_orig </b></pre>

%section#appdev-examples-3
	:markdown
		#### [Example 3: Compiling a program with requiring libraries provided by module](#appdev-examples-3)
		Using compiler wrappers compiles source code and automatically include the header files and link against any necessary libraries loaded via [module](https://www.nics.tennessee.edu/computing-resources/modules). In the following example, HDF5 and METIS headers files and libraries are included and linked to the program automatically without the need for additional compile and linking flags:

		<pre>
		% <b>module load metis</b>
		% <b>module load cray-hdf </b>
		% <b>ftn -rm -eF himeno_BMTxpr.f -o himeno_orig </b>
		% <b>cc metis_hdf5_example.c -o metis_hdf5_example.exe</b>
		% <b>ftn metis_hdf5_example.f -o metis_hdf5_example.exe</b></pre>


%section#appdev-examples-4
	:markdown
		#### [Example 4: Compiling a Fortran program with the GNU compiler with optimization level O3](#appdev-examples-4)
		The command compiles source code file "`example.f90`" with optimization level "`O3`", then links it to any required library functions, creating executable "`example.x`".

		<pre>
		% <b>module swap PrgEnv-cray PrgEnv-gnu </b>
		% <b>ftn -O3 -o example.x example.f90</b></pre>


%section#appdev-examples-5
	:markdown
		#### [Example 5: Compiling a Fortran and a C program with the Intel compiler and the MKL library](#appdev-examples-5)
		The Intel Math Kernel Library (MKL) is available on Darter. This library offers both Fortran and C interfaces. The command compiles the source code file "`mycode.f`", links it to any required library function using the MKL library to resolve numerical function calls, creating the executable "`mycode`".

		<pre>
		% <b>module swap PrgEnv-cray PrgEnv-intel</b>
		% <b>module unload cray-libsci </b>
		% <b>ftn -o mycode  mycode.f -mkl</b>
		% <b>cc -o mycode mycode.c -mkl</b> </pre>

		The "`-mkl`" option is the same as "`-mkl=parallel`". But, this option can also be used as "`-mkl=cluster`". Read Intel's documentation for more information.

%section#appdev-examples-6
	:markdown
		#### [Example 6: Compiling a Coarray Fortran (CAF) program](#appdev-examples-6)
		You can use CoArrays only with the Cray Programming Environment. The command compiles the source code file "`CAFhello.f90`", then links it to any required library functions, creating executable "`CAFhello`".

		<pre>% <b>ftn -h caf -o CAFhello CAFhello.f90 </b></pre>

%section#appdev-examples-7
	:markdown
		#### [Example 7: Compiling a UPC program](#appdev-examples-7)
		You can use UPC only with the Cray Programming Environment. The command compiles the source code file "`UPCProg.c`", then links it to any required library functions, creating executable "`UPCProg`".

		<pre>% <b>cc -h upc -o UPCProg UPCProg.c</b></pre>

%section#appdev-examples-8
	:markdown
		#### [Example 8: Compiling a "HelloWorld.c" program](#appdev-examples-8)

		Click [here](https://www.nics.tennessee.edu/computing-resources/darter/example) for an example of Compiling and Running a Job on Darter.



%section#running
	:markdown
		## [Running Jobs](#running)

		When you log into Darter, you are placed on will be directed to one of the four login nodes. The login nodes should only be used for basic tasks such as file editing, code compilation, data backup, and job submission.

		The login nodes should not be used to run production jobs. Production work should be performed on the system's compute resources. The serial jobs (pre- and post-processing, etc.) may be run on the compute nodes as long as they are statically linked. For one or more single-processor jobs please refer to the [Job Execution](https://www.nics.tennessee.edu/computing-resources/xc30/running_jobs#job-execution) section for more information. Access to compute resources is managed by the Portable Batch System (PBS). Job scheduling is handled by Moab, which interacts with PBS and the XC30 system software.

		This page provides information for getting started with the batch facilities of PBS with Moab as well as basic job execution. Sometimes you may want to chain your submissions to complete a full simulation without the need to resubmit, you can read about this [here](https://www.nics.tennessee.edu/computing-resources/running-jobs/job-chaining) (Please read it carefully).

		Notes about running jobs on Darter:

		* The compute nodes have 16 physical cores.
		* You can run 2 threads or tasks per physical core through the Intel's Hyper-threading (HT) technology, which makes each physical core appear as two logical cores. Using HT provides users with 32 cores.
		* The size of allocated cores needs  The number of allocated cores must be a multiple to be a multiple of 16. This is because PBS expects the number of physical cores to use, and there are 16 physical cores per node.
		* Users are charged based on 32 cores/node.
		* Users should to use  "`-j 2`" option for the `aprun` command to enable HT and use all 32 cores. (e.g., "<code>aprun -j2 <i>options</i></code>")

%section#running-batch
	:markdown
		### [Batch Scripts](#running-batch)

		Batch scripts can be used to run a set of commands on a system's compute partition. Batch scripts allow users to run non-interactive batch jobs, which are useful for submitting a group of commands, allowing them to run through the queue, and then viewing the results. However it is sometimes useful to run a job interactively (primarily for debugging purposes). Please refer to the [Interactive Batch Jobs](#running-interactive) section for more information on how to run batch jobs interactively.

		All non-interactive jobs must be submitted on Darter using job scripts via the `qsub` command. The batch script is a shell script containing PBS flags and commands to be interpreted by a shell. The batch script is submitted to the batch manager, PBS, where it is parsed. Based on the parsed data, PBS places the script in the queue as a job. Once the job makes its way through the queue, the script will be executed on the head node of the allocated resources.

		All job scripts start with an Interpreter line, followed by a series of `#PBS `declarations that describe requirements of the job to the scheduler. The rest is a shell script, which sets up and runs the executable.

		Batch scripts are divided into the following three sections:

		1. Shell interpreter (first line)
		* The first line specifies the script's interpreter
		* This line is optional
		* If not used, the submitter's default shell will be used
		* The line uses the syntax `#!/path/to/shell`, where the path to the shell may be
			* `/usr/bin/csh`
			* `/usr/bin/ksh`
			* `/bin/bash`
			* `/bin/sh`

		2. PBS submission options
		* The PBS submission options are preceded by `#PBS`, making them appear as comments to a shell.
		* PBS will look for `#PBS` options in a batch script from the script's first line through the first non-comment line. A comment line begins with `#`.
		* `#PBS` options entered after the first non-comment line will not be read by PBS.

		3. Shell commands
		* The shell commands follow the last `#PBS` option and represent the executable content of the batch job.
		* If any `#PBS` lines follow executable statements, they will be treated as comments only. The exception to this rule is shell specification on the first line of the script.
		* The execution section of a script will be interpreted by a shell and can contain multiple lines of executables, shell commands, and comments.
		* During normal execution, the batch script will end and exit the queue after the last line of the script.

		The following example shows a typical job script that includes the minimal requirements to submit a parallel job that executes `./a.out` on 96 cores, charged to the fictitious account `UT-NTNL0121` with a wall clock limit of one hour and 35 minutes:


		<pre>
		#!/bin/bash 
		#PBS -A UT-NTNL0121 
		#PBS -l size=96,walltime=01:35:00  
		cd $PBS_O_WORKDIR aprun -n 96 ./a.out </pre>


		Jobs should be submitted from within a directory in the Lustre file system. It is best to always execute `cd $PBS_O_WORKDIR` as the first command. Please refer to the [PBS Environment Variables](#running-pbsenvvars) section for further details.

		On Darter you must request `size=`cores to be a multiple of 16 - since there are 16 physical cores per node and it is not possible to allocate less than 16 cores even if planning to use less. If you want to run only on 8 cores ("`-n 8`"), for example, you still need to request 16 cores ("`#PBS -l size=16`") otherwise you will receive the following error:

		<pre>Notice: Your job was NOT submitted. 
		Core requests on Darter must be a multiple of 16.  You have requested an invalid number of cores (8). 
		Please resubmit the job requesting an appropriate number of cores. </pre>

		There is an online documentation that describes the [PBS options](#running-pbsoptions) that can be used for more complex job scripts.

		Unless otherwise specified your default shell interpreter will be used to execute shell commands in job scripts. In some cases it may even try to guess what interpreter to use. If the job script should use a different interpreter, then specify the correct interpreter using:

		<pre>#PBS -S /bin/XXXX</pre>


%section#running-jobcontrol
	:markdown
		### [Job Control](#running-jobcontrol)

		This section shows how to remove or modify batch jobs.

%section#running-jobcontrol-qdel
	:markdown
		#### [Remove Batch Job from the Queue](#running-jobcontrol-qdel)
		Jobs in the queue in any state can be stopped and removed from the queue using the command `qdel`.

		For example, to remove a job with a PBS ID of 1234, use the following command:

		<pre>% <b>qdel 1234</b></pre>

		More details on the `qdel` utility can be found on the `qdel` man page.


%section#running-jobcontrol-qhold
	:markdown
		#### [Hold Queued Job](#running-jobcontrol-qhold)
		Jobs in the queue in a non-running state may be placed on hold using the `qhold` command. Jobs placed on hold will not be removed from the queue, but they will not be eligible for execution.

		For example, to move a currently queued job with a PBS ID of 1234 to a hold state, use the following command:

		<pre>% <b>qhold 1234</b></pre>

		More details on the `qhold` utility can be found on the `qhold` man page.

%section#running-jobcontrol-qrls
	:markdown
		#### [Release Held Job with `qrls`](#running-jobcontrol-qrls)
		Once on hold the job will not be eligible to run until it is released to return to a queued state. The `qrls` command can be used to remove a job from the held state.

		For example, to release job 1234 from a held state, use the following command:

		<pre>% <b>qrls 1234</b></pre>

		More details on the `qrls` utility can be found on the `qrls` man page.

%section#running-jobcontrol-qalter
	:markdown
		#### [Modify Jobs with `qalter`](#running-jobcontrol-qalter)
		Jobs that are not running (or on hold) can only be modified with the "`qalter`" PBS command. For example, this command can be used to:

		Modify the job's name:

		<pre>% <b>qalter -N <i>newname</i> <i>jobid</i></b></pre>

		Modify the number of requested cores:

		<pre>% <b>qalter -l size=<i>NumCores</i> <i>jobid</i></b></pre>

		Modify the job's wall time:

		<pre>% <b>qalter -l walltime=<i>hh:mm:ss</i> <i>jobid</i></b></pre>

		Set a job's dependencies:

		<pre>% <b>qalter -W  depend=<i>type</i>:<i>argument</i> <i>jobid</i></b></pre>

		Remove a job's dependency (omit _:argument_):

		<pre>% <b>qalter -W  depend=<i>type</i> <i>jobid</i></b></pre>


		**Notes:**

		* Use "`qstat -f jobid`" to gather all the information about a job, including job dependencies.
		* Use "`qstat -a jobid`" to verify the changes afterward.
		* Users cannot specify a new walltime for their job that exceeds the maximum walltime of the queue where your job is.
		* If you need to modify a **running** job, please contact us. Certain alterations can only be performed by NICS staff.

%section#running-interactive
	:markdown
		### [Interactive Batch Jobs](#running-interactive)

		Interactive batch jobs give users interactive access to compute resources. A common use for interactive batch jobs is debugging. This section demonstrates how to run interactive jobs through the batch system and provides common usage tips.

		Users are not allowed to run interactive jobs on compute resources from the login nodes. Running a batch-interactive PBS job is done by using the `-I `option with qsub. After the interactive job starts, the user should run the computationally intense applications on the lustre scratch space, and place the executable name after the `aprun` command. The aprun command will send the application to the compute nodes to run.

%section#running-interactive-example
	:markdown
		#### [Interactive Batch Example](#running-interactive-example)
		For interactive batch jobs, PBS options are passed through `qsub` on the command line. Refer to the following example:

		<pre>% <b>qsub -I -A UT-NTNL0121 -X -l size=16,walltime=1:00:00</b></pre>

	%table(border=1 cellpadding=3)
		%tr
			%th Option
			%th Description
		%tr
			%td <code>-I</code>
			%td Start an interactive session
		%tr
			%td <code>-A</code>
			%td Charge to the "UT-NTNL0121" project
		%tr
			%td <code>-X</code>
			%td Enables X11 forwarding which is necessary for interactive GUIs. Note that you must have [X11 forwarding](https://www.nics.tennessee.edu/x11_forwarding) enabled when you log in to Darter
		%tr
			%td <code>-l size=16,walltime=1:00:00</code>
			%td Request 16 physical compute cores for one hour

	:markdown

		After running this command, you will have to wait until enough compute nodes are available, just as in any other batch job. However, once the job starts, the standard input and standard output of this terminal will be linked directly to the head node of our allocated resource. The executable name should be placed on the same line after the `aprun` command, just like it is in the batch script.

		<pre>
		% <b>cd /lustre/medusa/$USER</b>   
		% <b>aprun -n 16 ./a.out</b></pre>

		Issuing the `exit` command will end the interactive job. From here commands may be executed directly instead of through a batch script.

%section#running-interactive-debugging
	:markdown
		#### [Using Interactive Batch Jobs to Debug](#running-interactive-debugging)
		A common use of interactive batch jobs is debugging. The tips below may be useful while interactively debugging the code through PBS. To help a job run quickly rather than sit in the queue it is important to choose the job size appropriately. You can use the `showbf `command (for "**sh****ow** **b**ack **f**ill) to see immediately available resources that would allow your job to be backfilled (and thus started) by the scheduler.  For example, the snapshot below shows 9 nodes available, so a job requesting 2 compute nodes would run immediately.

		<pre>
		% <b>showbf -p darter </b>
		Partition     Tasks  Nodes      Duration   StartOffset       StartDate 
		---------     -----  -----  ------------  ------------  -------------- 
		darter         192       9      1:49:03      00:00:00   15:35:20_07/18
		darter          64       1      INFINITY     00:00:00    15:35:20_07/18</pre>

		The following command would then take advantage of this window for an interactive session:

		<pre>% <b>qsub -I -A UT-NTNL0121 -X -l size=32,walltime=1:00:00</b></pre>

		See `showbf -help` for additional options. For more information, see the online user guide for the Moab Workload Manager.


%section#running-pbsoptions
	:markdown
		### [PBS Options](#running-pbsoptions)

	<p><u>Necessary PBS Options</u></p>

	%table(border=1 cellpadding=3)
		%tr
			%th Option
			%th Use
			%th Description
		%tr
			%td <code>-A</code>
			%td <code>#PBS -A <account></code>
			%td Causes the job time to be charged to <i>account</i>. The account string UT-NTNL0121 is typically composed of three letters followed by three digits and optionally followed by a subproject identifier. The <code>showusage</code> utility can be used to list your valid assigned project ID(s). This is the only option required by all jobs.
		%tr
			%td <code>-l</code>
			%td <code>#PBS -l size=<cores></code>
			%td Number of physical logical cores. Must request entire nodes (multiples of 16).
		%tr
			%td  
			%td <code>#PBS -l walltime=<i>time</i></code>
			%td Maximum wall-clock time. <i>time</i> is in the format HH:MM:SS. Default is 1 hour.


	<p><u>Other PBS Options</u></p>

	%table(border=1 cellpadding=3)
		%tr
			%th Option
			%th Use
			%th Description
		%tr
			%td <code>o</code>
			%td <code>#PBS -o <i>name</i></code>
			%td Writes standard output to <i>name</i> instead of <code><i>job script</i>.o$PBS_JOBID</code>. <code>PBS_JOBID</code> is an environment variable created by PBS that contains the PBS job identifier.
		%tr
			%td <code>e</code>
			%td <code>#PBS -e <i>name</i></code>
			%td Writes standard error to <i>name</i> instead of <code><i>job script</i>.e$PBS_JOBID</code>.
		%tr
			%td <code>j</code>
			%td <code>#PBS -j {oe,eo}</code>
			%td Combines standard output and standard error into the standard error file (<code>eo</code>) or the standard out file (<code>oe</code>).
		%tr
			%td(rowspan=3) <code>m</code>
			%td <code>#PBS -m a</code>
			%td Sends email to the submitter when the job aborts.
		%tr
			%td <code>#PBS -m b</code>
			%td Sends email to the submitter when the job begins.
		%tr
			%td <code>#PBS -m e</code>
			%td Sends email to the submitter when the job ends.
		%tr
			%td <code>M</code>
			%td <code>#PBS -M <address></code>
			%td Specifies email address to use with <code>-m</code> options.
		%tr
			%td <code>N</code>
			%td <code>#PBS -N <i>name</i></code>
			%td Sets the job name to <i>name</i> instead of the name of the job script.
		%tr
			%td <code>S</code>
			%td <code>#PBS -S <i>shell</i></code>
			%td Sets the shell to interpret the job script.
		%tr
			%td <code>q</code>
			%td <code>#PBS -q <i>queue</i></code>
			%td Directs the job to the specified queue. This option is not required to run in the general production queue.

	:markdown

		**Note:**  Please do not use the "`PBS -V`" option. This can propagate large numbers of environment variable settings from the submitting shell into a job that may cause problems for the batch environment. Instead of using PBS -V, please pass only necessary environment variables using -v <comma_separated_list_of_ needed_envars>. You can also include module load statements in the job script.

		<pre>#PBS -v PATH,LD_LIBRARY_PATH,PV_NCPUS,PV_LOGIN,PV_LOGIN_PORT</pre>

		Further details and other PBS options may be found using the `man qsub` command.


%section#running-pbsenvvars
	:markdown
		### [PBS Environment Variables](#running-pbsenvvars)

		This section gives a quick overview of useful environment variable sets within PBS jobs.

		`PBS_O_WORKDIR`

		PBS sets the environment variable `PBS_O_WORKDIR` to the directory from which the batch job was submitted.

		By default, a job starts in your home directory. Often, you would want to do `cd $PBS_O_WORKDIR` to move back to the directory you were in. The current working directory when you start `aprun` should be on [Lustre Scratch Space](https://www.nics.tennessee.edu/computing-resources/file-systems).

		Include the following command in your script if you want it to start in the submission directory:

		<pre>cd $PBS_O_WORKDIR</pre>

		`PBS_JOBID`

		PBS sets the environment variable `PBS_JOBID` to the job's ID.

		A common use for `PBS_JOBID` is to append the job's ID to the standard output and error file(s).

		Include the following command in your script to append the job's ID to the standard output and error file(s)

		<pre>#PBS -o scriptname.o$PBS_JOBID</pre>

		`PBS_NNODES`

		PBS sets the environment variable `PBS_NNODES` to the number of logical cores requested (not nodes). Given that Darter has 16 physical cores per node, the number of nodes would be given by `$PBS_NNODES/16`.

		For example, a standard MPI program is generally started with `aprun -n $PBS_NNODES./a.out`. See the [Job Execution](#running-jobexecution) section for more details.

%section#running-monitoring
	:markdown
		### [Monitoring Job Status](#running-monitoring)

		This page lists some ways to monitor jobs in the batch queue. PBS and Moab provide multiple tools to view the Darter [queues](#running-queues), system, and job status. Below are the most common and useful ones of these tools.

%section#running-monitoring-qstat
	:markdown
		#### [`qstat`](#running-monitoring-qstat)
		Use `qstat -a` to check the status of submitted jobs.

		<pre>
		% <b>qstat -a</b>
		sdb-darter:  
		Job ID               Username    Queue    Jobname          SessID NDS   TSK    Memory   Time   S   Time 
		-------------------- ----------- -------- ---------------- ------ ----- ------ ------ -------- - -------- 
		102903.sdb-darte     lucio       batch    STDIN              9317   --      16    --  01:00:00 C 00:06:17 
		102904.sdb-darte     lucio       batch    STDIN              9590   --      16    --  01:00:00 R      -- 
		</pre>

		This `qstat` output shows the following:


	%table(border=1 cellpadding=3)
		%tr
			%th Job ID
			%td PBS-assigned job ID
		%tr
			%th Username
			%td submitting user's login name.
		%tr
			%th Queue
			%td queue into which the job has been submitted.
		%tr
			%th Jobname
			%td PBS job name. This is specified by the PBS "<code>-n</code>" option in the PBS batch script. Or, if the "<code>-n</code>" option is not used, PBS will use the name of the batch script.
		%tr
			%th SessID
			%td associated session ID.
		%tr
			%th NDS
			%td PBS node count. Not accurate; will be one.
		%tr
			%th Tasks
			%td number of logical cores requested by the job's <code>-size</code> option.
		%tr
			%th Req'd Memory
			%td job's requested memory.
		%tr
			%th Req'd Time
			%td job's requested wall time.
		%tr
			%th S
			%td job's current status. See the table directly below for more on this field.
		%tr
			%th Elap Time
			%td job's time spent in a running status. If a job is not currently or has not been in a run state, the field will be blank.

	:markdown

		The job's current status is reported by the `qstat` command. The possible values are listed in the table below.

	%table(border=1 cellpadding=3)
		%tr
			%th Status value
			%th Meaning
		%tr
			%td E
			%td Exiting after having run
		%tr
			%td H
			%td Held
		%tr
			%td Q
			%td Queued
		%tr
			%td R
			%td Running
		%tr
			%td S
			%td Suspended
		%tr
			%td T
			%td Being moved to new location
		%tr
			%td W
			%td Waiting for its execution time
		%tr
			%td C
			%td Recently completed (within the last 5 minutes)

%section#running-monitoring-showq
	:markdown
		#### [`showq`](#running-monitoring-showq)
		The Moab `showq` utility gives a different view of jobs in the queue. The utility will show jobs in the following states:

	%table(border=1 cellpadding=3)
		%tr
			%th Active
			%td These jobs are currently running.
		%tr
			%th Eligible
			%td These jobs are currently queued awaiting resources. A user is allowed five jobs in the eligible state.
		%tr
			%th Blocked
			%td These jobs are currently queued but are not eligible to run. Common reasons for jobs in this state are jobs on hold and the owner currently having five jobs in the eligible state.


%section#running-monitoring-checkjob
	:markdown
		#### [`checkjob`](#running-monitoring-checkjob)
		The Moab `checkjob` utility can be used to view details of a job in the queue. For example, if job 736 is currently in a blocked state, the following can be used to view the reason:

		<pre>% <b>checkjob 736</b></pre>

		The output may contain a line similar to the following:

		<pre>BLOCK MSG: job 736 violates idle HARD MAXIJOB limit of 5 for user <i>your_username</i> partition ALL (Req: 1  InUse: 5)</pre>

		This indicates the job is in the blocked state because the owner has reached the limit of five jobs currently in the eligible state.

%section#running-monitoring-showstart
	:markdown
		#### [`showstart`](#running-monitoring-showstart)
		The Moab `showstart` utility gives an estimate of when the job will start.

		<pre>% showstart 100315 
		job 100315 requires 16384 procs for 00:40:00  Estimated Rsv based start in 15:26:41 on Fri Sep 26 23:41:12 Estimated Rsv based completion in 16:06:41 on Sat Sep 27 00:21:12 </pre>

		The start time may change dramatically as new jobs with higher priority are submitted, so you need to periodically rerun the command.

%section#running-monitoring-showbf
	:markdown
		#### [`showbf`](#running-monitoring-showbf)
		The Moab `showbf` utility gives the current backfill. This can help you create a job that can be backfilled immediately. As such, it is primarily useful for short jobs.

%section#running-monitoring-xtnodestat
	:markdown
		#### [`xtnodestat`](#running-monitoring-xtnodestat)
		The utility `xtnodestat` can be used to see which jobs are currently running and which cabinets, nodes, and processors they are running on.

%section#running-jobscheduling
	:markdown
		### [Job Scheduling](#running-jobscheduling)

		Darter uses [TORQUE](http://www.adaptivecomputing.com/products/open-source/torque/) and [Moab](http://www.adaptivecomputing.com/products/hpc-products/moab-hpc-basic-edition/) to schedule jobs. NICS is constantly reviewing the scheduling policies in order to adapt and better serve users.

		The scheduler gives preference to large core count jobs. Moab is configured to do "first fit" backfill. Backfilling allows smaller, shorter jobs to use otherwise idle resources.

		Users can [alter](#running-jobcontrol-qalter) certain attributes of queued jobs until they start running. The order in which jobs are run depends on the following factors:

		* number of cores requested - jobs that request more cores get a higher priority.
		* queue wait time - a job's priority increases as the time it waits to run.
		* account balance - jobs that use an account with a negative balance will have significantly lowered priority.
		* number of jobs - a maximum of five jobs per user, at a time, will be eligible to start. The rest will be blocked.

		In certain special cases, the priority of a job may be manually increased upon request. To request priority change you may contact NICS User Support. NICS will need the job ID and reason to submit the request.

%section#running-queues
	:markdown
		### [Queues](#running-queues)
		The queues are used by the batch scheduler to aid in organizing the execution of jobs running on the system. This section lists the available queues on Darter. An individual user may have up to 5 jobs eligible to start at any one time (regardless of how many jobs may already be running), while a project may have a total of 10 jobs eligible to run across all the users charging against that project. Jobs in excess of these limits will not be considered for execution. Additionally, users are limited to 25 simultaneous running jobs and projects are limited to 40 simultaneous running jobs.

		For example, if you submit 12 jobs, 5 would be eligible, and 7 would be blocked (with an "Idle" state). If three of the jobs run, some blocked jobs will be released so that there are still 5 eligible jobs, and 4 blocked jobs. This continues until all jobs are run. This is done to make it easier to schedule the jobs (there are fewer jobs to consider), and to prevent a single user from dominating the system with many small jobs.

		Job priority on Darter is based on the number of cores and wall clock time requested. Jobs with large core counts intentionally get the highest priority. Jobs with smaller core counts do run effectively on Darter as backfill. While the scheduler is collecting nodes for larger jobs, those with short wall clock limits and small core counts may use those nodes temporarily without delaying the start time of the larger job.

		Jobs on Darter are sorted into queues based on size and walltime.

	%table(border=1 cellpadding=3)
		%tr
			%th Darter Queue
			%th Min Size
			%th Max Size
			%th Max Wall Clock Limit
		%tr
			%td login
			%td 0
			%td 128
			%td 24 hours
		%tr
			%td batch
			%td 16
			%td 11,968
			%td 24 hours

	:markdown
		Requests for number of cores on Darter must be in multiples of 16. For example, the smallest job possible on Darter would request 16 (physical) cores.

%section#running-jobexecution
	:markdown
		### [Job Execution](#running-jobexecution)
		Once the access to compute resources has been allocated through the batch system, users have the ability to execute jobs on the allocated resources. This section gives examples of job execution and provides common tips.

		The PBS script is executed on the aprun node (or login node for interactive jobs). All execution calls made directly to programs (eg `./a.out`), they will be executed on the service node. This may be useful for records keeping, staging data, etc. Any memory- or computationally-intensive programs should be run using `aprun`, otherwise it bogs down the node, and may cause system problems. You may run non-MPI programs on a compute node using `aprun`, see the [Single-Processor (Serial) jobs](https://www.nics.tennessee.edu/computing-resources/xc30/running_jobs#single-processor) and [Multiple Single-Processor Programs](#running-jobexecution-highthroughput) sections below.

		To launch parallel jobs on one or more compute nodes, use the `aprun `command. System specifications for Darter should be kept in mind when running a job using `aprun`. A Darter XC30 node consists of two sockets, each with 8 physical cores (16 logical cores if using Hyper-threading), so there are 16 physical cores per node (32 if using HT). The PBS `size` option requests physical compute cores, not logical cores. This is not necessarily the number of cores that will be used, but rather the number of physical cores that will be made available for your job (idle cores are still inaccessible to other users). The easiest way to determine this number may be by calculating the number of nodes that will be occupied (with or without Hyper-threading) and multiplying that number by 16 physical cores/node.

		The following options are commonly used with `aprun`:

	%table(border=1 cellpadding=3)
		%tr
			%th(colspan=2) Commonly used options for <code>aprun</code>
		%tr
			%td <code>-n</code>
			%td Total number of MPI processes (default: 1)
		%tr
			%td <code>-N</code>
			%td Number of MPI processes per node (1-16)
		%tr
			%td <code>-S</code>
			%td Number of MPI processes per socket (1-8)
		%tr
			%td <code>-d</code>
			%td Specifies number of cores per MPI process (for use with OpenMP, 1-16)
		%tr
			%td <code>-j 1</code>
			%td Turns off Hyper-threading on the processor (by default is always on) and indicates to allocate one processes per physical core

	:markdown
		The best way to understand the effects of these options is to try them yourself. Please see our [tutorial](https://www.nics.tennessee.edu/tutorials/HybridHello) on the subject.

%section#running-jobexecution-mpi
	:markdown
		#### [MPI examples](#running-jobexecution-mpi)

		<pre>% <b>aprun -n $PBS_NNODES ./a.out</b></pre>

		This uses all physical cores, one MPI process on each core. The environmental variable `PBS_NNODES` is the number of cores requested at the top of the PBS script. In most cases, it is unnecessary to do anything beyond this.

		<pre>% <b>aprun -n 25 ./a.out</b></pre>

		If for some reason you want to use a number of cores that is not a multiple of 16, that is valid. Round up to the next multiple of 16 for the resource request, the extra cores will remain idle. This example would require `#PBS -l size=32`.

		<pre>% <b>aprun -n 12 -N 6 ./a.out</b></pre>

		This will make the XC30 to emulate the 6 cores/socket layout of the XT5: there will be six MPI processes per node, all on one socket. This example would require you to request 32 physical cores on the XC30.

		<pre>% <b>aprun -n 8 -S 2 ./a.out</b></pre>

		On the XC30, this is similar to the previous example, running 4 MPI processes per node. However, now they are running two on each socket. This ensures that both sockets are used, and that the memory is evenly distributed among the sockets. This ensures even distribution of L3 cache, and memory (a process can access memory on the other socket, but not as quickly as its own memory).

		<pre>% <b>aprun -n 32 -j 2 ./a.out</b></pre>

		On the XC30, there will be 32 running MPI processes on the same node running one MPI rank per logical core by exploiting hyper-threading.

%section#running-jobexecution-mpiopenmp
	:markdown
		#### [MPI/OpenMP](#running-jobexecution-mpiopenmp)
		Darter supports threaded programming within a node. The "`aprun -d`" flag is used to specify the number of cores per MPI process, so with OpenMP, `aprun -d $OMP_NUM_THREADS` uses one thread per core. When using every core, this would require at least `n*d` cores to be requested, the following examples assume that three nodes have been requested - `#PBS -l size=48`.

		<pre>
		% <b>export OMP_NUM_THREADS=2</b>
		% <b>aprun -n24 -N8 -S4 -d2 ./a.out</b></pre>

		Here, each MPI process has two OpenMP threads, filling three whole nodes. For some codes, two OpenMP threads per MPI process may be optimal. If the reason for using OpenMP is instead to increase the available memory, you may want to use 8 or even 16 threads per MPI process instead, though there is some performance penalty for using OpenMP across sockets in XC30's current configuration (using QPI QuickPath Interconnect).

		<pre>
		% <b>export OMP_NUM_THREADS=7</b>
		% <b>aprun -n6 -N2 -S1 -d7 ./a.out</b></pre>

		The `-d` flag specifies the depth, or number of cores to assign to each MPI process (when the MPI process spawns an OpenMP thread, it has a dedicated core to put it on). The `-S` option causes the second process to be put all on the second socket, rather than filling out the first socket first.


%section#running-jobexecution-serial
	:markdown
		#### [Single-Processor (Serial) Jobs](#running-jobexecution-serial)
		Serial programs which are memory or computationally intensive should never be run on the service nodes (anything outside of `aprun`). Service nodes have limited resources shared by all users, and when they run out, system problems may take place. To run serial programs on the compute nodes, the program must be compiled with the compiler wrappers (`cc`, `CC` or `ftn`). You would then request one node (16 cores) with PBS (`#PBS -l size=16`). Use the following line to run a serial executable on a compute node:

		<pre>% <b>aprun -n 1 ./a.out</b></pre>

%section#running-jobexecution-highthroughput
	:markdown
		#### [Running Multiple Single-Processor Programs on a Compute Node](#running-jobexecution-highthroughput)
		The following batch script shows how to run multiple copies of a serial program on a compute node:

		<pre>
		#!/bin/csh 
		#PBS -A TG-XXXXXXXXX 
		#PBS -N run_serial 
		#PBS -l walltime=00:30:00,size=16 
		#PBS -j oe  
		set echo 
		cd /lustre/medusa/$USER/serial_job 
		# Use aprun to start a shell script which runs 16 copies of the 
		# same executable on a compute node 
		# Note: all aprun options specified below are required 
		#  -n 1   
		# run on a single node 
		#  -d 12  
		# allows the script to access all the cores on a node 
		#  -cc none  
		# allows each serial process to run on its own core 
		#  -a xt  
		# required by aprun to run a script instead of a program  
		aprun -n 1 -d 16 -cc none -a xt ./run_serial </pre>


		The "`run_serial`" script looks like this:

		<pre>
		#!/bin/sh   
		# This must be /bin/sh (other shells do not work)  
		# Run 16 copies of serial_code in the background 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code & 
		./serial_code &  
		# Wait until all copies of serial_code have finished 
		wait </pre>

%section#running-jobaccounting
	:markdown
		### [Job Accounting](#running-jobaccounting)

		Projects are charged based on usage of compute resources. This section gives details on how each job's usage is calculated. PBS allocates cores to batch jobs in units of the number of cores available per node. A node cannot be allocated to multiple jobs, so a job is charged for the entire node whether or not it uses all its cores. The PBS `-l size` option specifies the number of cores to allocate to a job. For example on Darter a multiple of 16 must be requested.


%section#running-jobaccounting-getinfo
	:markdown
		#### [Getting Accounting Information](#running-jobaccounting-getinfo)
		This section illustrates the usage of two commonly used utilities for obtaining accounting information, "`showusage`" and "`glsjob`".

		The `showusage` utility can be used to view your project allocation and overall usage through the last job accounting posting (usually the previous night).

		<pre>% <b>showusage</b></pre>

		More detailed accounting information can be obtained using the `glsjob` command:

		Prints current accounting information for a particular user:

		<pre>% <b>glsjob -u <i>username</i></b></pre>

		Can be used to find information for a particular job:

		<pre>% <b>glsjob -J <i>jobid</i>.darter</b></pre>

		Print current accounting information for all jobs charged to a particular project account:

		<pre>% <b>glsjob -p <i>project</i></b></pre>

		Display documentation for `glsjob`:

		<pre>% <b>glsjob -man</b></pre>

		Users can `grep` the particular information from the output as needed.

		On Darter the Service Unit charge for each job is:

		<pre>32 x walltime x number_of_nodes</pre>

		where:
		
		* `walltime` is the number of wall clock hours used by the job; 
		* `number_of_nodes` is PBS size/16 



%section#running-jobaccounting-refunds
	:markdown
		#### [Job Refund Policy](#running-jobaccounting-refunds)
		NICS will provide refunds for user jobs that are adversely impacted by system issues beyond the control of the user. Refund requests must be made within two calendar weeks of a job's completion date by submitting a ticket to [help@xsede.org](mailto:help@xsede.org). Please provide: username, machine name, jobID, reason for refund request.

		Examples of refund requests that will not be approved include: jobs run on projects that have a negative balance, jobs that started and completed after the project's end date, and jobs that failed because they reached the user-specified wallclock limit.

		NICS strongly encourages the use of application checkpoint restart files. Users should only request refunds from the time of the last successful checkpoint. The refund limit for eligible jobs is six hours. Exceptions to the maximum refund will only be considered for cases where appropriate checkpointing cannot effectively mitigate loss due to the nature of the underlying machine problem.


		*Last update: June 5, 2014*
