<div class="user-guide-container">
	<div class="user-guide-sidebar">
		<ul class="user-guide-nav nav nav-list" id="user-guide-nav">
			<li><a href="#overview">System Overview</a>
			<li><a href="#access">System Access</a>
			<li><a href="#compenv">Computing Environment</a> 
			<li><a href="#transferring">Transferring Files</a>
			<li><a href="#software">Software and Tools</a>
			<li><a href="#appdev">Application Development</a>
			<li><a href="#running">Running Applications</a>
		</ul>
	</div>
	<!-- user guide begins here -->
	<div class="user-guide">
