#availablesus
	:markdown
		# [Estimated Available Service Units](#availablesus)

		This table displays the estimated available Services Units per resource available for the [upcoming quarterly](#xracquarterly) XRAC meeting.

	%table(border=1 cellpadding=3)
		%tr
			%th Resource Name
			%th Component
			%th Service Units available
		%tr
			%td(rowspan="4") Jetstream2<br>Indiana University
			%td CPU
			%td TBA
		%tr
			%td GPU 
			%td TBA
		%tr
			%td Large Memory 
			%td TBA
		%tr
			%td Storage 
			%td TBA
		%tr
			%td(rowspan="3") Rockfish<br>Johns Hopkins
			%td Regular Memory
			%td 7,500,000 
		%tr
			%td Large Memory
			%td 200,000
		%tr
			%td GPU 
			%td TBA
		%tr
			%td(rowspan="3") Delta<br>NCSA
			%td CPU 
			%td TBA
		%tr
			%td GPU 
			%td TBA
		%tr
			%td Storage 
			%td TBA
		%tr
			%td(colspan="2") Open Science Grid (OSG) 
			%td 2,000,000
		%tr
			%td(colspan="2") Open Storage Network (OSN) 
			%td TBA
		%tr
			%td(rowspan="5") Bridges-2<br>PSC
			%td Regular Memory<br>Bridges-2 RM 
			%td 127,000,000
		%tr
			%td Extreme Memory<br>Bridges-2 EM
			%td 400,000
		%tr
			%td GPU<br>Bridges-2 GPU 
			%td 189,000
		%tr
			%td AI<br>Bridges GPU-AI 
			%td 363,000
		%tr
			%td Storage<br>Bridges-2 Ocean 
			%td TBA
		%tr
			%td(rowspan="2") Anvil<br>Purdue University
			%td CPU 
			%td TBA
		%tr
			%td GPU 
			%td TBA
		%tr
			%td(rowspan="3") Expanse<br>SDSC
			%td CPU 
			%td 170,000,000
		%tr
			%td GPU 
			%td 350,000
		%tr
			%td Storage 
			%td TBA
		%tr
			%td(colspan="2") Stampede2<br>TACC<br>Dell/Intel Knight's Landing System  
			%td 8,500,000 node hours
		%tr
			%td(colspan="2") Ranch<br>TACC<br>Long-term tape Archival Storage
			%td 2,000,000
		%tr
			%td(rowspan="3") DARWIN<br>University of Delaware
			%td CPU
			%td 5,000,000
		%tr
			%td GPU
			%td 19,000
		%tr
			%td Storage
			%td TBA
		%tr
			%td(colspan="2") KyRIC<br>University of Kentucky 
			%td 400,000

