#allocationawardschedule
	:markdown
		[XSEDE Allocation Award Schedule](#allocationawardschedule)

	%table(border="1" cellpadding="3")
		%tr
			%th Type       
			%th Intended Use    
			%th Reviewed       
			%th Limits
		%tr
			%td Trial      
			%td Rapid eval      
			%td Continuously   
			%td 1000 core hours (Comet only)
		%tr
			%td Champion   
			%td Rapid eval      
			%td Continuously   
			%td 1000 SU
		%tr
			%td Startup    
			%td proof of concept for research allocations
			%td Continuously   
			%td 200K SU (plus per resource limits)
		%tr
			%td Education  
			%td Education & Training Classes         
			%td Continuously   
			%td 200K SU (plus per resource limits)
		%tr
			%td Research   
			%td research projects
			%td Quarterly      
			%td None
 
