#sulimits
	:markdown
		# [Startup Allocation Limits](#sulimits)

		This table displays the Startup allocations limits request per resource.

	%table(border=1 cellpadding=3)
		%tr
			%th Resource
			%th Service Units Limit
		%tr
			%td Anvil-CPU (Purdue)
			%td 100,000 core-hours
		%tr
			%td Anvil-GPU (Purdue)
			%td 1,000 GPU-hours
		%tr
			%td Bridges-2 Regular Memory (PSC)
			%td 50,000 core-hours
		%tr
			%td Bridges-2 Extreme Memory (PSC)
			%td 1,000 core-hours
		%tr
			%td Bridges-2 GPU (PSC)
			%td 2,500 GPU-hours
		%tr
			%td Bridges GPU-AI (PSC)
			%td 1,500 GPU-hours
		%tr
			%td DARWIN CPU (Univ. of Delaware)
			%td 20,000 core-hours
		%tr
			%td DARWIN GPU (Univ. of Delaware)
			%td 400 GPU-hours
		%tr
			%td DARWIN Storage (Univ. of Delaware)
			%td 1,000 GB
		%tr
			%td Expanse (SDSC)
			%td 50,000 core-hours
		%tr
			%td Expanse GPU (SDSC)
			%td 2,500 GPU-hours
		%tr
			%td Jetstream (IU/TACC)
			%td 50,000 Virtual CPU Hours
		%tr
			%td KyRIC (Univ. of Kentucky)
			%td 1,000 core-hours
		%tr
			%td Open Science Grid
			%td 200,000 CPU-hours
		%tr
			%td Open Storage Network
			%td 10TB
		%tr
			%td Rockfish Regular memory
			%td 20,000 core-hours
		%tr
			%td Rockfish Large Memory 
			%td 1,000 core-hours
		%tr
			%td Rockfish GPU 
			%td 500 GPU-hours
		%tr
			%td Stampede2 (TACC)
			%td 1,600 node-hours
