#xracquarterly
	:markdown
		[Table 2. Research Allocation Submission Schedule](#xracquarterly)

	%table(border="1" cellpadding="3")
		%tr
			%th Submission Period
			%th Meeting Date
			%th Users Notified
			%th Allocation Begin Date 
		%tr
			%td Dec 15 thru Jan 15
			%td Early March
			%td March 15
			%td April 1
		%tr
			%td Mar 15 thru Apr 15
			%td Early June
			%td June 15
			%td Jul 1
		%tr
			%td Jun 15 thru Jul 15
			%td Late August/Early September
			%td September 15
			%td Oct 1
		%tr
			%td Sep 15 thru Oct 15
			%td Early December
			%td December 15
			%td Jan 1
