<span style="font-size:235%; font-weight:bold;">About XRAS</span><br>
<span style="font-size:95%;"><i>Last update: June 1, 2021</i></span>
<div>&nbsp;</div>

#top 
	:markdown
		To manage allocations processes, XSEDE has developed the **X**SEDE **R**esource **A**llocations **S**ystem (XRAS). With XRAS, XSEDE handles more than 200 allocation requests at each of its quarterly allocation meetings along with more than 200 Startup, Education, and other requests received continually each quarter.

		XRAS was developed as a software-as-a-service (SaaS) tool with the goal of allowing other organizations to leverage XSEDE's investment for the national research computing infrastructure. Since being deployed for XSEDE in 2014, XRAS has been adopted by half a dozen organizations. Most recently, XSEDE leveraged XRAS to support the review of requests being submitted to the [COVID-19 HPC Consortium](https://www.xsede.org/covid19-hpc-consortium).

#video
	:markdown
		# [Exploring XRAS - A Video](#video) 

		See XSEDE's new video, [Exploring XRAS](https://www.youtube.com/watch?v=zekbBygt81Q), on [XSEDE's YouTube channel](https://www.youtube.com/channel/UC6ulv87KV32afXMLv6uWTWg).

		<img alt="" src="/documents/10308/1285745/About+XRAS+YouTube.png/0016e9a2-e25b-4fd3-bed8-86044dfec9f0?t=1543262948024" style="width: 400px; height: 225px; border-width: 1px; border-style: solid;" />

#clients
	:markdown
		# [Current XRAS Clients](#clients)

		In addition to XSEDE, XRAS is now provided via service agreements to three clients, and more clients are ramping up.

		* The [Texas Advanced Computing Center (TACC)](https://frontera-portal.tacc.utexas.edu/allocations/) is using XRAS to manage allocation requests for the Frontera system.

		* <a href="http://www.psc.edu/resources/computing/anton">The Pittsburgh Supercomputing Center (PSC)</a> has begun managing allocation requests for its Anton 2 system via XRAS.

		* The National Center for Supercomputing Allocations (NCSA) is in the process of deploying XRAS to support its non-XSEDE allocation processes.

		* XRAS is used to support allocation requests for advanced user support collaborations spanning [XSEDE](https://www.xsede.org/news/user-news/-/news/item/12048), [PRACE](https://www.xsede.org/news/user-news/-/news/item/12048), and [RIST](https://www.xsede.org/news/user-news/-/news/item/12048).

		* <a href="https://www.eol.ucar.edu/request-lower-atmosphere-observing-facilities"> NCAR's Earth Observing Lab</a> is using XRAS to manage requests for the NSF-supported Lower Atmosphere Observing Facilities.

		* <a href="https://www2.cisl.ucar.edu/user-support/allocations">NCAR's Computational and Information Systems Lab</a> uses XRAS to manage its university community allocations.

#orcid
	:markdown
		# [ORCID for Resources Integration](#orcid)

<div><a href="https://info.orcid.org/orcid-certified-service-providers-list/"><img alt="" src="/documents/10308/0/ORCID_Cert_Service_Provider_logo.png/7819f43a-a09c-4fe3-b958-04e815e89251?t=1622594333269" style="width: 200px; height: 67px; float: right; margin: 0.3rem 0.5rem;" /></a><b>XRAS is now an ORCID Certified Service Provider!</b> XRAS supports the ability for ORCID member institutions to post information about allocated projects to your users' ORCID profiles via integration with <a href="https://orcid.org/organizations/research-orgs/resources" target="_blank">ORCID for Research Resources</a>. Project metadata includes user, resource, and project details. Through this integration, as the ORCID site notes, "Research resources ... and sponsoring organizations stand to benefit from improved acknowledgement of resource use and a better understanding of the impact of the work undertaken by researchers using them. Resource-hosting organizations can make the reporting process more straightforward and reliable by embedding identifiers in the application process, and by creating and sharing connections between users and resources."</p>

<p>To take advantage of this feature, XRAS clients must also be ORCID members. Beyond that, XRAS provides a turnkey solution that can link ORCID IDs, collect ORCID permissions, and post Research Resources entries.</p>

</div>

#pilot
	:markdown
		# [Ready for Campus Pilot Projects](#pilot)

		To continue improving the system to support the needs of advanced research computing at universities and elsewhere, XSEDE is seeking a small number of campuses interested in piloting an XRAS deployment for their user communities. The pilot effort is designed to support the allocation needs of the campus while helping the XSEDE team understand needs and requirements for new XRAS client organizations.

		For a demonstration or to discuss how XRAS might work in your environment, contact [Nathan Tolbert](mailto:tolbert@illinois.edu) at NCSA or [David Hart](mailto:dhart@ucar.edu) at NCAR.

#features
	:markdown
		# [XRAS Features](#features)
		XRAS provides interfaces and components to support the submission, review, and administration of allocation requests. A variety of submission requirements and policies can be supported by the rules engine. The review component enforces conflicts of interest and allows allocation panel members to view requests, download documents, and enter their reviews. The administrative system provides panel management, tools for meeting logistics and review assignments, email notification capabilities, and award entry and processing functions.

		Sites with lightweight allocation procedures can choose not to use the review and panel management features, instead focusing on using XRAS for allocation tracking and basic administration.

#future
	:markdown
		# [Future Development](#future)
		A number of features are currently in development to improve the XRAS service for non-XSEDE clients. These features include customizable submission interfaces, integrated reporting capabilities for allocations staff, and a streamlined allocations workflow.

#reqs
	:markdown
		# [XRAS Site Requirements](#reqs)
		To use XRAS, your site needs to meet only minimal technical requirements. Primarily, the resources to be allocated by your site must be entered into the XSEDE Resource Description Repository (RDR) and your site must be a member of the XSEDE SP Forum at Level 3 or higher. (The main integration requirement for becoming a Level 3 Service Provider is listing your primary resources in the RDR.) XRAS also supports optional integration with your local identity management and authentication system and your local accounting system; XRAS clients also have the option of developing custom submission user interfaces, tailored to their needs and embedded with their organization’s web or portal sites.

