<span style="font-size:235%; font-weight:bold;">Allocations Announcements</span><br>
<span style="font-size:95%;"><i>Last update: July 28, 2022</i></span></p>


#latest
	:markdown
		<!-- # [Latest](#latest) -->

		<!-- p class="portlet-msg-alert">XSEDE is now accepting <a href="http://portal.xsede.org/allocations/research">Research Allocation Requests</a> for the allocation period beginning July 1, 2022 and ending June 30, 2023. <br><br><b>This submission period runs for one month from March 15, 2022 through April 15, 2022</b>.</p -->

		<!-- Review the [new XSEDE resources](#new) and information below prior to submitting your allocation request through the XSEDE User Portal. Also, consult the [Estimated Resource Amounts Available](https://portal.xsede.org/allocations/research#availablesus) for the current XRAC meeting on the [Research](https://portal.xsede.org/allocations/research) allocations page. -->

		<!-- p class="portlet-msg-alert"> The next <a href="https://portal.xsede.org/allocations/research#xracquarterly">Research allocation submission period</a> is March 15, 2021 - April 15, 2022. The year-long allocation begin date will be July 1, 2022.</p --> 

		<!-- **First time here?** Check out the [Resource Info](http://portal.xsede.org/allocations/resource-info) page to learn about the resources available, and then visit the [Startup](http://portal.xsede.org/allocations/startup) page to get going!  [Startup](http://portal.xsede.org/allocations/startup), [Campus Champions](http://portal.xsede.org/allocations/startup#campuschampions), and [Education](http://portal.xsede.org/allocations/education) Allocation requests may be [submitted](http://portal.xsede.org/submit-request) at any time throughout the year. -->

#access
	:markdown
		# [Transitioning to ACCESS](#access)

		<p class="portlet-msg-alert"><span style="font-size:110%;">While the NSF XSEDE project will be ending on August 31, the transition to the new **ACCESS** project for managing HPC resource allocations - **A**dvanced **C**yberinfrastructure **C**oordination **E**cosystem: **S**ervices &amp; **S**upport - is well underway.</span></p>

	
	#access-dates
		:markdown
			## [Key Dates](#access-dates)

			Except for a short break in the second half of August, researchers will be able to submit allocation requests following a familiar process for the largest allocations or using new, easier routes for smaller resource needs.

			* **August 16**: The Resource Allocation Service (RAS) will stop accepting allocation requests and management actions to allow time for them to be reviewed and resolved by August 30. This includes Startup and Education requests as well as Extensions, Transfers, Supplements, Advances and Add User requests. 

			* **August 22**: The final XSEDE Resource Allocation Committee (XRAC) meeting will be held. As before, researchers will be notified of outcomes prior to September 15.

			* **September 1**: The ACCESS Resource Allocations Marketplace and Platform Services (RAMPS) team will assume management of the allocations process.

			Researchers who have current project allocations that were awarded via XSEDE-including projects awarded at the August 22 XRAC meeting-should notice no changes to their resource access after August 31. For projects that expire on December 31, the ACCESS team recommends planning to submit a proposal during the usual September 15 to October 15 submission window under the existing XRAC guidelines.

			Researchers whose needs are at the smaller end of the scale should review the new [ACCESS Allocations Marketplace](https://www.xsede.org/web/advancetoaccess/-/allocations-through-access-what-you-need-to-know-now) information that is previewed on the XSEDE site pending the launch of the ACCESS site.

#autofill
	:markdown
		<!-- font color="red"><b>New!</b></font> <b>Autofill Your NSF Award Information </b>: The XRAS submission interface can now autofill supporting grant information for NSF awards. Enter the 7-digit grant number in the Grant Number field and click the autofill button. XRAS will populate the first seven fields, although you will still need to select a field of science and enter the percentage support value. -->

	<p class="portlet-msg-info">See the <a href="https://portal.xsede.org/web/guest/resources/overview">XSEDE Resources Catalog</a> for a complete list of XSEDE compute, visualization and storage resources, and more details on the new systems. </p>


#new
	:markdown
		# [New Ecosystem Resources](#new)

		The end of XSEDE has been marked by a significant number of new resources entering the ecosystem. These and the other existing resources will continue to be available to researchers as XSEDE ends on August 31, 2022, and the ACCESS program takes on its responsibilities.

		If you have an allocation awarded by XSEDE that continues into the ACCESS period, you will be able to continue using those allocations without interruption until they expire.


		* [Indiana University's Jetstream2 ](#new-jetstream2)
		* [National Center for Supercomputing Applications (NCSA) Delta](#new-delta)
		* [Purdue University's Anvil](#new-anvil)
		* [University of Delaware's DARWIN](#new-darwin)

	#new-jetstream2
		:markdown
			## [Indiana University's Jetstream2 ](#new-jetstream2)

			**Jetstream2**, the latest NSF-supported hybrid-cloud platform, will expand the availability of flexible, on-demand, programmable cyberinfrastructure tools. Jetstream2 features a core cloud computing platform at Indiana University with a mix of more than 500 CPU (AMD EPYC 3rd generation), GPU (NVIDIA A100), and 1TiB large-memory nodes paired to a 14PB hybrid storage environment. The project also includes four regional partners with single-rack systems at Arizona State University, Cornell University, the University of Hawai'i, and the Texas Advanced Computing Center. Jetstream2, available to the US research community in Q42021, is configured to allow all users AI accessibility through virtual GPU (vGPU) capabilities as well as pre-built containers that include machine learning (ML) and deep learning (DL) tools. Jetstream2's prioritization of flexible user experience and programmatic interfaces will ease cross-disciplinary collaborations, cross-platform workflows, and workforce development.

			As a novel resource in the XSEDE infrastructure, the code performance and scaling for Jetstream2 may require taking a different approach. The Jetstream2 staff will consult with any PIs that may have questions about what is appropriate for their code and scaling submissions. Please contact <help@jetstream-cloud.org> if you have such questions.

			Jetstream2 will consist of the following allocatable components:

			* **CPU** 

				The primary/default resource for Jetstream2, is CPU-only virtual machine services. There are 384 nodes with AMD 7713 (Milan) CPUs featuring 128 cores and 512GB of ram available. Virtual machine sizes will range from a single core to the entire node with no hyperthreading to oversubscribe floating point operators. Virtual machines on Jetstream2 CPU have no time limitations outside of allocation length and can run without worry of preemption or wait times as long as the allocation is active and SUs are available. 

			* **GPU** 

				The GPU resource of Jetstream2, will have 90 nodes of AMD 7713 (Milan) CPUs with 64 cores available, 512GB of RAM, and 4 NVIDIA A100 GPUs per node for a total of 360 GPUs. The GPU nodes will utilize NVIDIA's multi-instance GPU (MIG) feature to allow GPUs to be subdivided to be accessible to more researchers, educators, and students. 

			* **Large Memory** 

				The large memory resource of Jetstream2, will feature 32 GPU-ready nodes with 128 AMD 7713 (Milan) cores and 1TB of available RAM. Virtual machine sizes will range from 64 cores to the entire node with no hyperthreading to oversubscribe floating point operators. Access to this resource will be limited to those who justify the need for the larger RAM quantities. 

			* **Storage** 

				The Jetstream2, Storage resource is a Ceph-backed storage system featuring both flash and traditional disk totaling approximately 14PB of total space. Jetstream2, storage is only available with one or more of the Jetstream2 compute resources and may not be requested without a compute resource. 


	#new-delta
		:markdown
			## [NCSA Delta](#new-delta)

			The National Center for Supercomputing applications (NCSA) is pleased to announce the availability of its newest resource, Delta, which is designed to deliver a highly capable GPU-focused compute environment for GPU and CPU workloads. Delta will provide three new resources for allocation, as specified below:

			* **Delta CPU**

				The Delta CPU resource will support general purpose computation across a broad range of domains able to benefit from the scalar and multi-core performance provided by the CPUs such as appropriately scaled weather and climate, hydrodynamics, astrophysics, and engineering modeling and simulation, and other domains that have algorithms that have not yet moved to the GPU.  Delta also supports domains that employ data analysis, data analytics or other data-centric methods. Delta will feature a rich base of preinstalled applications, based on user demand.  The system will be optimized for capacity computing, with rapid turnaround for small to modest scale jobs, and will feature support for shared-node usage.  Local SSD storage on each compute node will benefit applications with random access data patterns or require fast access to significant amounts of compute-node local scratch space.
			* **Delta GPU**

				The Delta GPU resource will support accelerated computation across a broad range of domains such as soft-matter physics,  molecular dynamics, replica-exchange molecular dynamics, machine learning, deep learning, natural language processing, textual analysis, visualization, ray tracing, and accelerated analysis of very large in-memory datasets. Delta is designed to support the transition of applications from CPU-only to using the GPU or hybrid CPU-GPU models. Delta will feature a rich base of preinstalled applications, based on user demand.  The system will be optimized for capacity computing, with rapid turnaround for small to modest scale jobs, and will feature support for shared-node usage.  Local SSD storage on each compute node will benefit applications with random access data patterns or require fast access to significant amounts of compute-node local scratch space.

			* **Delta Projects Storage**

				The Delta Storage resource provides storage allocations for allocated projects using the Delta CPU and Delta GPU resources. Unpurged storage is available for the duration of the allocation period.

	#new-anvil
		:markdown
			## [Purdue University's Anvil](#new-anvil)

			Purdue University is pleased to announce the availability of the **Anvil** supercomputer to the science and engineering community. Anvil, funded by the National Science Foundation (NSF) through award OAC-2005632, is a supercomputer built and operated by Purdue University through a partnership with Dell and AMD. Anvil integrates a large capacity HPC computing cluster with a comprehensive set of software services for interactive computing to aid users transitioning from familiar desktop to unfamiliar HPC environments. Anvil features the third generation AMD EPYC processors and is designed for high throughput moderate scale jobs, will provide fast turnaround for large volumes of work, and will complement leadership class XSEDE systems such as Frontera. Anvil compute nodes provide high core counts (128 cores/node), as well as improved memory bandwidth and I/O, and will support both traditional HPC and data analytics applications and enable integrative long-tail science workflows. A set of 16 GPU nodes and 32 large memory nodes will enable modern machine learning applications. In addition, a composable sub-system provides the ability to deploy science gateway components, long running processing pipelines, and data analytics applications via a developer-friendly Rancher Kubernetes cluster manager.

			* **Anvil CPU**

				The CPU portion of Anvil features 3rd generation AMD EPYC processors (Milan). There are 1000 compute nodes, each with two 64-core AMD EPYC 7763 processors for a total of 128,000 cores in the full system. Each compute node also features 256GB of DRAM per node, and PCIe Gen4 interfaces. In addition, Anvil has 32 1 TB large memory nodes.

			* **Anvil GPU**

				The GPU component of Anvil has 16 GPU nodes each containing four NVIDIA A100s (40 GB HBM2) and dual 64-core AMD EPYC 7763 CPU. Each GPU node has 256GB of DRAM per node and HDR100 connectivity.

			All Anvil nodes, as well as the scratch storage system, will be interconnected by an oversubscribed (3:1 fat tree) HDR InfiniBand interconnect. Full bisection bandwidth will be available at the rack level (56 nodes) with HDR100 connectivity to each node. The scratch storage system is a high-performance, internally resilient Lustre parallel filesystem with 10 PB of usable capacity, configured to deliver up to 150 GB/s bandwidth. Default shared project space through Purdue's existing GPFS Research Data Depot system and archive storage space on Purdue's Fortress system will be provided to each allocation. PIs requiring additional storage may contact the Anvil team with their needs.

			Since AMD Milan CPUs are currently not widely available, PIs should use performance data on Rome CPUs (available on Expanse, Bridges2) as an estimate in their benchmarking and scaling section. The time requested should be in Rome CPU core hours. 

			For the Anvil GPU nodes, PIs can use performance information on A100 GPUs (if available). If not, PIs should use V100 GPU performance as an estimate. The time requested must be in GPU hours for the same GPU utilized for benchmarking.

			PIs requesting allocations should consult the [Anvil website](https://www.rcac.purdue.edu/anvil) for additional details and the most current information. PIs who are not able to conduct benchmarking on these recommended systems (Rome, A100 or V100) should contact the Anvil team (anvil@purdue.edu).


	#new-darwin
		:markdown
			## [University of Delaware's DARWIN](#new-darwin)

			The University of Delaware is pleased to announce the availability of **DARWIN (Delaware Advanced Research Workforce and Innovation Network)**.  DARWIN is a big data and high performance computing system designed to catalyze research and education in the Delaware region.

			The DARWIN computing system provides the user community access to an array of technologies designed to meet the growing needs within the data sciences community.  The system is based on AMD Epyc™ 7502 processors with three main memory sizes to support different workload requirements (512 GiB, 1024 GiB, 2048 GiB).  All compute nodes have two AMD EPYC™ 7502 processors (32 cores each).  The compute portion of the cluster consists of 92 nodes:

			* 48 standard nodes with 512 GiB RAM
			* 32 large-memory nodes with 1024 GiB RAM
			* 11 xlarge-memory nodes with 2048 GiB RAM, and
			* 1 lg-swap node with 1024 GiB RAM + 2.73 TiB Intel Optane NVMe         swap

			Additionally, the system provides access to three GPU architectures to facilitate Artificial Intelligence (AI) research in the data sciences domains.  The GPU portion of the cluster consists of 13 nodes:

			* 3 nodes with two Intel® Xeon® Platinum 8260 processors (24 cores each), 768 GiB RAM, and 4 NVIDIA Tesla V100 32GB GPUs connected via NVLINK™ 
			* 9 nodes with two AMD EPYC™ 7502 processors (32 cores each), 512 GiB RAM, and a single NVIDIA Tesla T4 GPU, and
			* 1 node with two AMD EPYC™ 7502 processors (32 cores each), 512 GiB RAM, and a single AMD Radeon Instinct MI50 GPU

			The cluster provides more than 1 PiB usable, shared storage via a dedicated Lustre parallel file system to support large, data sciences workloads.  The Mellanox HDR 200Gbps InfiniBand network provides near-full bisectional bandwidth at 100 Gbps per node.

			The XSEDE allocation of DARWIN is intended, in this order of priority, for researchers in the Delaware region, for users in EPSCoR states, and for general XSEDE users with a maximum of 20% of the available resources awarded each year.  Approximately 5,000,000 core hours and 19,000 GPU hours will be available during each allocation period.  More information about DARWIN can be found at <http://docs.hpc.udel.edu/>,

