:markdown
	XSEDE and Service Provider sites have legal and other obligations to protect shared resources as well as the intellectual property of users. Users share this responsibility by observing the rules of acceptable use that are outlined in this document.

	# How to Accept Your Responsibility Form

	When XSEDE approves your request for resources, you must digitally sign the XSEDE Acceptable Use Policy the first time you log into the XSEDE User Portal at the beginning of each allocation. You must do this within 30 days of the approval of your allocation, or your account will be deactivated.

	Your on-line acceptance is your acknowledgment that you have read and understand your responsibilities as a user. If you have questions, please contact the [XSEDE Help Desk](mailto:help@xsede.org).

	# XSEDE Acceptable Use Policy

	When you first create your XSEDE User Portal login and every 12 months thereafter, you will be asked to accept and re-acknowledge your responsibilities as an XSEDE user.  

	XSEDE and all affiliated Service Providers have legal and other obligations to protect shared services and resources as well as the intellectual property of users. Users share this responsibility by observing the rules of acceptable use that are outlined in this document.

	Your on-line assent to this Acceptable Use Policy is your acknowledgment that you have read and understand your responsibilities as a user of XSEDE services and any Service Provider resources, if applicable. If you have questions, please contact the [XSEDE Help Desk](mailto:help@xsede.org).

	By using XSEDE-managed services and/or Service Provider resources associated with an XSEDE allocation (hereafter, "XSEDE services and allocated resources"), you agree to comply with the following conditions of use:

	1.	You will protect any access credentials (e.g., private keys, tokens & passwords) that are issued for your sole use. This includes:

		a.	Using a unique password for your XSEDE User Portal account

		a.	Only entering your XSEDE credentials into xsede.org sites

		a.	Not knowingly allowing any other person to impersonate your XSEDE user identity

	1.	You will have only one XSEDE User Portal account and will keep your profile information up-to-date. If multiple identities are discovered for the same individual, those accounts and profiles will be merged at XSEDE's discretion.

	1.	You will not use XSEDE services or allocated resources for unauthorized financial gain or any unlawful purpose, nor attempt to breach or circumvent any XSEDE or Service Provider administrative or security controls. You will comply with all applicable laws and relevant regulations, such as export control law or HIPAA.

	1.	You will immediately report any known or suspected security breach or misuse of XSEDE access credentials to the XSEDE Help Desk (<help@xsede.org>; <https://portal.xsede.org/help-desk>; or 1-866-907-2383).

	1.	Use of XSEDE services and allocated resources is at your own risk. There are no guarantees that resources and services will be available, that they will suit every purpose, or that data will never be lost or corrupted. Users are responsible for backing up critical data.

	1.	Logged information, including information provided by you for registration purposes, is used for administrative, operational, accounting, monitoring and security purposes. This information may be disclosed, via secured mechanisms, only for the same purposes and only as far as necessary to other organizations cooperating with XSEDE.

	1.	Violations of **either** XSEDE or Service Provider acceptable use and other policies may result in loss of access to **both** XSEDE services and Service Provider resources. Activities in violation of any laws will be reported to the proper authorities for investigation and prosecution.

	1.	You will acknowledge XSEDE services contributing to research results&mdash;including the Extended Collaborative Support Service&mdash;and use of specific Service Provider resource(s) in manuscripts submitted for publication and any other citable works. (See <http://portal.xsede.org/acknowledge>.)

	1.	XSEDE uses Globus services for data transfer and other purposes. You agree to the Globus Terms of Service (<https://www.globus.org/legal/terms>).


	The following user responsibilities apply more specifically to Service Provider-managed resources and services, including those allocated through XSEDE processes and any ancillary services to which access is authorized as part of an XSEDE-allocated project:

	1.	You will protect any access credentials (e.g., private keys, tokens & passwords) that are issued for your sole use by any Service Providers and not knowingly allow any other person to impersonate or share any of your Service Provider identities.

	1.	You will only use Service Provider resources to perform work consistent with the stated allocation request goals and conditions of use as defined by your approved XSEDE project, this XSEDE Acceptable Use Policy, and any local Service Provider policies.

	1.	Access-granting organizations, your allocation's Principal Investigator (PI), and Service Providers are entitled to regulate, suspend or terminate your access, and you will immediately comply with their instructions.

	1.	PIs are responsible for properly vetting users on their allocations and by doing so they are attesting that the XSEDE User Portal username belongs to the intended person. PIs will also ensure that users who have access to Service Provider resources on the PI's XSEDE allocation adhere to this AUP.

	1.	Allocations on Service Provider resources are awarded for open research intended for publication. You will respect all applicable intellectual property rights and observe confidentiality agreements.

	1.	You are responsible for working with your home institution and the relevant Service Providers utilized to determine what constraints may be placed on you by any relevant regulations such as export control law or HIPAA.


	Version 2.0 (Feb 1, 2018)

