<span style="font-size:235%; font-weight:bold;">Education Allocations</span><br>
<span style="font-size:95%;"><i>Last update: July 29, 2022</i></span></p>

#top
	:markdown
		<p class="portlet-msg-alert"><span style="font-size:110%;">The NSF XSEDE project will be ending on August 31, 2022 and the new ACCESS project will begin September 1, 2022.  Consult [Allocation Announcements](https://portal.xsede.org/allocations/announcements) for key dates related to the XSEDE to ACCESS transition. See [Advance to ACCESS](https://www.xsede.org/web/advancetoaccess/-/allocations-through-access-what-you-need-to-know-now) for additional information about the new project.</span></p>

		Education allocations are for academic courses or training activities that have specific begin and end dates. Instructors may request a single resource or a combination of resources. Education requests have the same allocation size limits as [Startup](http://portal.xsede.org/allocations/startup) requests; per resource limits are in the [Startup Limits](http://portal.xsede.org/allocations/startup#sulimits) table. As with Startup requests, Educational requests are limited to no more than three separate computational resources, unless the abstract explicitly justifies the need for each resource to the reviewers' satisfaction.

		Education allocations last for the duration of the semester or training course period; you may request a brief period (usually two weeks or less) after the semester or training course to allow completion of some activities. NOTE: You can renew an Educational project for the same course in a subsequent semester or academic year. For consecutive semester requests, be sure your requested end date for the first semester does not overlap the second semester.

		A Principal Investigator (PI) may request separate Educational projects for different courses happening at the same time.

		Education requests require an abstract, instructor's CV, a course syllabus, and a brief justification for the resources requested.  See below for [requirement details](#requiredcomponents) and [example education requests](#examples).

		After receiving notice of the Education allocation approval, PIs can request accounts for their students on this allocation. See [Managing Allocations](#managing).


#schedule
	:markdown
		# [Submission Schedule](#schedule)

		Education allocation requests are evaluated continuously throughout the year. [Click here](http://portal.xsede.org/submit-request/#) to submit your Education request. Education requests are typically reviewed and awarded within two weeks.

#eligibility
	:markdown
		# [Eligibility](#eligibility)

		Education allocations are available to faculty members and instructors, including K-12 teachers, at U.S.-based institutions. Eligible institutions include federal research labs or commercial organizations; however, special rules may apply if your institution is not a university or a two- or four-year college. Investigators with support from any funding source, not just NSF, are encouraged to apply.


#requiredcomponents
	:markdown
		# [Required Components](#requiredcomponents)

		Your Education request should include the following elements:  

		* **Project Abstract**: Typically this is the description from the university course catalog.
		* **CVs**: Education requests require a curriculum vitae (CV) for the PI and for any listed co-PI. CVs should be in standard, two-page NSF or NIH format. 
		* **Syllabus**: Education requests also require a syllabus to be uploaded in the Documents section. The syllabus should outline the topics to be covered in the course.
		* **Resource Justification**: The Resource Justification should estimate the resource need based on the amount of work students will perform in the course. The request should indicate the number of students and describe the computational resource requirements for each course project. This information should be used to calculate approximate resource needs for the class as a whole. If in doubt, instructors may request for the full Startup allocation amount. However, you should describe the student projects to be conducted in sufficient detail to allow a reviewer to verify that the work is appropriate for the requested resource and of reasonable scale for the allocation.
		* **NEW! Requested End Date**: The allocation period for Education projects should be aligned with the semester or training course duration covered by the request. On the Title/Abstract screen/section in the submission form, provide an end date that is within two weeks of the end of the semester or training course. If you will have the same course in consecutive semesters, make sure that your requested end date will not overlap the following semester!

#examples
	:markdown
		# [Example Education Requests](#examples)

		The examples below are provided to demonstrate the information and level of detail expected for Education requests.

		* [Sample Educational Request](/documents/10308/29438/Successful+Educational+Request.pdf)
		* [Course Description and Resource Justification](/documents/10308/29438/Jetstream+Education+Allocation+request+-+Sample/28517ffe-79fa-4e3f-98c9-b64f126a1e6b)
