<style>.help{box-sizing:border-box}.help *,.help *:before,.help *:after{box-sizing:inherit}.row{margin-bottom:10px;margin-left:-15px;margin-right:-15px}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}[class*="col-"]{box-sizing:border-box;float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-1-5{width:20%}.col-2-5{width:40%}.col-3-5{width:60%}.col-4-5{width:80%}.col-1-4{width:25%}.col-1-3{width:33.3%}.col-1-2,.col-2-4{width:50%}.col-2-3{width:66.7%}.col-3-4{width:75%}.col-1-1{width:100%}article.help{font-size:1.25em;line-height:1.2em}.text-center{text-align:center}figure{display:block;margin-bottom:20px;line-height:1.42857143;border:1px solid #ddd;border-radius:4px;padding:4px;text-align:center}figcaption{font-weight:bold}.lead{font-size:1.7em;line-height:1.4;font-weight:300}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}</style>

<span style="font-size:225%; font-weight:bold;">Getting Started with XSEDE</span><br>
<i>Last update: May 19, 2022</i>

#top
	:markdown
		# [What is XSEDE?](#top)

		The Extreme Science and Engineering Discovery Environment (XSEDE) is a virtual collaboration funded by the National Science Foundation that facilitates free, customized access to advanced digital resources, consulting, training, and mentorship. XSEDE helps the nation’s most creative minds discover breakthroughs and solutions for some of the world’s greatest scientific challenges. 

		XSEDE's virtual cyberinfrastructure allows scientists to interactively share computing resources, data, and expertise. XSEDE resources may be broadly categorized as follows: High Performance Computing, High Throughput Computing, Visualization, Storage, and Data Services. Many resources provide overlapping functionality across categories.  

		Take a look at this brief introductory video "What is XSEDE?".

		<iframe src="https://www.youtube.com/embed/NSKzR0P52gw" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	#discover-newusertraining
		:markdown
			## [XSEDE New User Webinar](#discover-newusertraining)

			This recently recorded webinar presentation provides an overview of XSEDE and it's services and capabilities. The second half of the presentation details each of XSEDE's <a href="https://www.xsede.org/high-performance-computing" target="_blank">compute resources</a>.

	%table(border="1" cellpadding="5")
		%tr
			<!-- %td <a href="NEWUSERLINK" target="_blank"><img alt="" src="/image/image_gallery?uuid=8083f7bb-116d-4d21-9f86-2e78ba1fd52e&amp;groupId=10746&amp;t=1380241138701" style="width: 35px; height: 35px;" /></a> -->
			%td NEWUSERLINK
			%td(nowrap) XSEDE New User Training<br>Recorded: NEWUSERDATE<br>Run time: NEWUSERRT
 
	#discover-explore
		:markdown
			## [Explore XSEDE Resources](#discover-explore)

			<a href="https://www.xsede.org/resources/overview"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330628225886" style="width: 16px; height: 16px;" />&nbsp;View the XSEDE Resource Catalog</a>

	#discover-campuschampions
		:markdown
			## [Find your Campus Champion](#discover-campuschampions)

			Your Campus Champion is your local source of knowledge about high-performance computing opportunities and resources. Your Campus Champion can direct researchers and educators to national high-performance computing resources and services that are available to you and that will help you to advance scientific discovery.

		%table(border="0" cellpadding="5")
			%tr
				%td <a href="https://www.xsede.org/current-champions" style="background-color: rgb(249, 249, 249);" target="_blank"><img alt="" src="https://portal.xsede.org/image/image_gallery?uuid=103189e4-aa93-4a37-8728-06300d263215&amp;groupId=10308&amp;t=1380771835415" style="width: 50px; height: 61px;" /></a>
				%td <strong>Get to know your campus representative!</strong><br><a href="https://www.xsede.org/current-champions" style="background-color: rgb(249, 249, 249);" target="_blank">Search the campus champions directory to find your local Campus Champion</a>

		:markdown
			Your Campus Champions representative will:
	
			* Provide you with information about high-performance computing resources to researchers and educators, including resources available from XSEDE
			* Assist you to quickly get access to allocations of high-performance computing resources
			* Facilitate awareness and training workshops about the use of high-performance computing resources and services
			* Provide you with contacts within the high-performance computing community for quick problem resolution
			* Provide you with timely information on new resources, services, and offerings


#portal
	:markdown
		# [Create a User Portal Account](#portal)

		<a href="https://portal.xsede.org"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" /> Visit XSEDE User Portal at https://portal.xsede.org</a>

		In order to get access to XSEDE resources you must create an XSEDE User Portal (XUP) account. The XSEDE User Portal (XUP) is a web-based, single point-of-entry to the XSEDE system providing:

		* Allocation request submission capability
		* Access to all your XSEDE accounts and allocated resources
		* Up-to-date information on your accounts and and allocation usage
		* Interfaces for data transfers, data collections, and other user tasks and resources
		* Subscriptions to user news &amp; announcements
		* Training class registration and schedule
		* Access to the XSEDE Help Desk and User Forums

		See the CyberInfrastructure Tutor's video "[Using the XSEDE User Portal](https://www.citutor.org/login.php?course=76)" for a tour of capabilities.

		<a href="https://portal.xsede.org"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" />Log in to XSEDE User Portal and accept your user responsibility</a>


		<p class="portlet-msg-alert">You are responsible for your account and for protecting your passwords.</p>

		This means:

		* Do not share passwords, do not write passwords down where they can be easily found, and do not use tools that expose passwords on the network. This includes private keys: make sure they are password-protected.
		* Close SSH terminals and log out of the XSEDE User Portal when finished
		* Report Suspicious Activity. If you have **any** suspicion that your account or personal computer has been compromised, email <a class="email_link email" href="mailto:help@xsede.org">help@xsede.org</a> or call, 24/7, 1-866-907-2383 immediately.

	#portal-othersigninoptions	
		:markdown
			## [Other Sign-In Options](#portal-othersigninoptions)

			After creating your XSEDE User Portal (XUP) account and logging in to accept the User Responsibilities, you have the choice of logging in with your XUP credentials, or you may use other login credentials such as your university credentials. Click on the blue "Other Sign In Options" button to link your XSEDE account with other identity providers.

/ Managing Identities in User Profile
/ link and unlink identities - 
/ link to training video https://www.citutor.org/login.php?course=76

#profile
	:markdown
		# [Manage Your XSEDE Profile](#profile)

		It is important that you manage your [XSEDE User Profile](https://portal.xsede.org/profile) and publicatons to keep your contact information up to date and account information accurate. This can all be done by managing your user profile in XSEDE. Initially your profile information will include the information you supplied when creating your account.

		To view and manage your profile please visit [My XSEDE -> Profile](https://portal.xsede.org/profile) or click on the "Edit Profile" link under the avatar. 

		Your profile information includes basic information such as email address, organization, mailing address and more. If you would like to share more information about yourself you also have the option to include information such as twitter username, facebook URL, LinkedIn URL, biography and interests. You also have the option to upload an image of yourself. You can also set privacy settings on your personal information. To do this click edit profile and proceed to the privacy setting tab and click save.

		You can also manage your user news subscriptions, view your public profile, [manage DNs](#profile-dns) and [manage publications](#manage-pubs).

	#profile-dns
		:markdown
			## [Manage your Distinguished Names](#profile-dns)

			Users can also view their Distinguished Names (DNs) and add/remove new DNs. By default each user will receive three DNs associated with their accounts (NCSA, PSC, NICS). Additional DNs can be added as long as they are from the following providers:

				/C=SE/O=AddTrust AB/*
				/DC=ch/DC=cern/*
				/C=ch/O=CERN/*
				/C=GB/ST=Greater Manchester/*
				/C=DE/O=DFN-Verein/*
				/C=US/O=DigiCert Inc/*
				/DC=com/DC=DigiCert-Grid/*
				/C=US/O=DigiCert Grid/*
				/C=IT/O=INFN/CN=INFN CA*
				/C=US/O=Internet2/OU=InCommon/*
				/C=US/O=National Center for Supercomputing Applications/*
				/DC=net/DC=ES/*
				/C=US/O=Pittsburgh Supercomputing Center/*
				/C=UK/O=eScienceCA/*
				/C=UK/O=eScienceRoot/*
				/DC=org/DC=cilogon/*
				/DC=es/DC=irisgrid/*

			To add a DN please visit your profile and click "Manage DN" button which will bring up your existing registered DNs and the ability to add a DN subject. Paste your Certificate Subject into the text box, then click the "Add DN" button. This will register your certificate with XSEDE. (Note: It may take up to one business day for XSEDE service providers to process your registration.) 

			To remove a DN please click on the trash icon next to the DN you wish to remove. You cannot remove the default DNs associated with your account.

	#manage-pubs
		:markdown
			## [Add Publications](#manage-pubs)

			Users can add publications to their XSEDE profile and associate them with their XSEDE projects. Users can also view all publications entered into the publication service.
 
			This will greatly simplify keeping user profiles up to date, and will make it easier when applying for renewal allocations (which require such information from prior allocations). By having these publications readily available in user profiles, it may also stimulate collaborations among current XSEDE users. This helps users keep track of the impact XSEDE services are having on their science by keeping an up to date their list of publications. You can also tag a publication with an SP site, specific resource and other general tags such as training and ECSS.

			To add a publication to your profile visit [My XSEDE -&gt; Profile](https://portal.xsede.org/group/xup/profile) and click on [Add a New Publication](https://portal.xsede.org/group/xup/publications/submit/-/pubs-submit/). This link is also readily available on the welcome page when you login.

			The XUP now also includes publication-discovery feature enabling users to easily add publications in the NSF publication database to their XUP Profile. This feature will greatly simplify keeping user profiles up to date and will make it easier for PIs when applying for renewal allocations, which require publication information. If you have publications in the NSF database A "New Publications Found" flag will appear above the profile publication section. Users will be presented with their list of publications and will have the option of:

			* Adding the publication to their profile 
			* Declining to add the publication to their profile 
			* Skipping the publication if it's already included in their profile


#allocations
	:markdown
		# [Get an Allocation](#allocations)

		<a href="https://portal.xsede.org/allocations-overview"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" /> Learn about requesting an allocation</a><br>
		<a href="/web/xup/allocations/research#examples"><img alt="research allocation request examples" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" /><a href="/web/xup/allocations/research#examples"> View sample allocation requests</a>

		Compute time on XSEDE resources is granted via the allocations process. You may apply for a new allocation or get added to an existing allocation. Please consult the detailed information in the [XSEDE User Portal](http://portal.xsede.org) in the [Allocations](http://portal.xsede.org/allocations) section.   

	#allocations-types
		:markdown
			## [Allocation types](#allocations-types)

			A user may apply for one of the following allocation types:

			* **[Trial](/web/xup/allocations/startup#rapidaccess-trial)**: Some resources offer trial allocations.
			* **[Startup](/web/xup/allocations/startup)**: The fastest way to get started on XSEDE, Startup allocations require minimum documentation, are reviewed all year long, and are valid for one year.
			* **[Multi-year Startup Allocations](/web/xup/allocations/startup#multiyear)**: Startup allocations up to three years may be available.

			* **[Education](/web/xup/allocations/education)**: Also lasting one year, an Education allocation provides time for academic or training classes.
			* **[Research](/web/xup/allocations/research)**: Research allocation requests are reviewed quarterly and require more formal documentation. Research allocations will be granted for one year and may be renewed or extended.

			In addition to requesting a new allocation, a Principal Investigator (PI) may add users to an existing allocation through the portal. Click "Add User" under the "My XSEDE" tab. Once your Startup or Education allocation is submitted, you should hear back from the Allocations committee within two weeks.

	#allocations-webinar
		:markdown
			## [How to Write an XSEDE Proposal](#allocations-webinar)

			This recently recorded presentation details all the steps and requirements needed for [successful research allocation requests](/web/xup/allocations/research#examples). Topics covered include Computation Methodologies, Justification for SUs requested and many others. 


	%table(border="1" cellpadding="5")
		%tr
			<!-- %td <a href="XPROPLINK"><img alt="" src="/image/image_gallery?uuid=8083f7bb-116d-4d21-9f86-2e78ba1fd52e&amp;groupId=10746&amp;t=1380241138701" style="width: 35px; height: 35px;" /></a> -->
			%td XPROPLINK
			%td(align="left" valign="middle") Writing and Submitting a Successful XSEDE Proposal<br>Recorded: XPROPDATE <br>Run time: XPROPRT  

		:markdown
			XSEDE offers an array of computing resources including both HPC and high throughput (data intensive) machines. We also offer visualization resources and XSEDE has the expertise to help you set up tiled clusters. Please peruse the resource <a href="https://portal.xsede.org/user-guides">user guides</a> to obtain specific system information. If you already have an allocation, then skip to <a href="#access">step 5</a> to start using XSEDE.

			Some documentation and preliminary questions to help determine which resource is for you:

			<p style="margin-left: 40px;"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" />How does your software/code function? Serial or parallel? How well does it scale? Are there specific hardware, OS or memory architecture requirements?</p>
			<p style="margin-left: 40px;"><a href="https://portal.xsede.org/user-guides"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" />Read the XSEDE user guides</a> - learn more about our XSEDE resources</p>
			<p style="margin-left: 40px;"><a href="https://portal.xsede.org/software"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" /></a><a href="https://portal.xsede.org/software">View the XSEDE Software Search</a> - What software do you need? Check to see if it's already installed on an XSEDE system using our <a href="https://portal.xsede.org/software">Software Search</a></p>
			<p style="margin-left: 40px;"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" />What are your typical job characteristics? Running time? Total number of jobs? Disk space required for I/O?</p>


			We realize selecting the optimum resource can be daunting. We are here to help! Submit a ticket to the XSEDE help desk to ask for help selecting which resource(s) to use for best performance.

#access
	:markdown
		# [Login to your Allocated Resources](#access)

		Once an allocation has been granted, user accounts are usually created within 24 hours on the allocated resource. Users may login to their accounts in one of two ways: The [XSEDE Single Sign On Hub](#access-sso) allows access to all your allocated resources using just your XUP username and password created in [Step 2.](#portal) while [direct access via SSH](#access-ssh) requires a resource-specific password. Both methods require an SSH client. Linux and Unix users may use the built-in Unix `ssh` command. Windows users may download one of many SSH clients, free ones include "[PuTTY](http://www.putty.org)".

	#access-sso
		:markdown
			## [Single Sign On via SSH Login Hub](#access-sso)

			XSEDE's Single Sign On Login Hub is the easiest way to access all your accounts. The hub provides a single point of entry to all your allocated XSEDE resources. Login to the hub at <strong style="letter-spacing: 0.4px;">login.xsede.org</strong> with your XUP username and password, using your favorite SSH client. Once logged in to the hub, use `gsissh` to login to XSEDE resources. Globus' GSI-OpenSSH protocol implementation, `gsissh`, is a modified version of OpenSSH adding support for [Grid Security Infrastructure](https://en.wikipedia.org/wiki/Grid_Security_Infrastructure) authentication and credential forwarding.  

			Please read more and see sample sessions on the <a href="/web/xup/single-sign-on-hub">XSEDE Single Sign On Login Hub</a> page.

	#access-ssh
		:markdown
			## [Direct login access via command line](#access-ssh)

			Users may also bypass the hub and login directly to XSEDE resources via SSH. This will require a resource-specific password. Look up your local username in the [XUP](https://portal.xsede.org) under My XSEDE->Accounts then submit a <a href="https://portal.xsede.org/help-desk">Help Desk Ticket</a> requesting a local password for the specific resource provider. 

			Once you have your resource-specific password, `ssh` directly to a resource like so:

			<pre class="cmd-line">mylaptop$ <b>ssh -l <i>username</i> <i>machinename</i></b></pre>
			e.g.
			<pre class="cmd-line">mylaptop$ <b>ssh -l slindsey stampede2.tacc.utexas.edu</b></pre>


#management
	:markdown
		# [Data Management & Analysis](#management)

		<a href="https://portal.xsede.org"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" /></a> [Learn to transfer your files using XSEDE Data Management services](https://portal.xsede.org/data-management).

		<a href="https://portal.xsede.org"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" /></a> [Access XSEDE's Data Analysis resources](https://portal.xsede.org/data-analysis).

	#transferring
		:markdown
			## [Transferring Your Files](#transferring)

			Once your accounts are set up, you'll probably want to start transferring your project files to your allocated resource. XSEDE offers several easy, reliable file transfer mechanisms briefly detailed below. For more in depth information please consult the [XSEDE Data Transfers &amp; Management](https://portal.xsede.org/data-management)</a> page.

			<p style="margin-left: 40px;"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" /><a href="#transferring-globus">Globus</a></p>

			<p style="margin-left: 40px;"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" /><a href="#transferring-globus-url-copy">`globus-url-copy`, `uberftp`</a></p>

			<p style="margin-left: 40px;"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" /><a href="#transferring-scp">`scp`, `sftp`</a></p>

	#transferring-globus
		:markdown
			## [Globus](#transferring-globus)

			Globus is a web client that implements the GridFTP protocol, providing reliable data movement service between resources. Researchers with no IT background can easily move large quantities of files, or move files of large size, using the [Globus](https://www.globus.org) clients, and developers who want to automate workflows can use the [Globus command-line interface](https://docs.globus.org/cli/using-the-cli/) (GO CLI).

			Consult the [Globus](/web/xup/data-management#globus) section in XSEDE's [Data Management](/web/xup/data-management) page for complete instructions on how to use this service.

	#transferring-globus-url-copy
		:markdown
			## [`globus-url-copy`](#transferring-globus-url-copy)

			`globus-url-copy` is a command-line implementations of the GridFTP protocol which underlies all XSEDE transfer mechanisms. Use these commands to transfer large files.

			Here's a sample transfer from PSC's Bridges to TACC's Stampede2 optimized for large files:
			<pre class="cmd-line">
			login1$ <b>globus-url-copy -stripe -tcp-bs 8388608 \
				gsiftp:// gridftp.bridges.psc.xsede.org/scratcha/joeuser/file \
				gsiftp:// gridftp.stampede2.tacc.xsede.org/scratch/joeuser</b></pre>

			Visit the [Data Transfers &amp; Management](/web/xup/data-management#gridftpendpoints) page to get the GridFTP endpoints for each site.

	#transferring-scp
		:markdown
			You may also use the `scp` and `sftp` command-line utilities to transfer files between XSEDE resources and/or your local machine. From Linux or Mac, you can run these commands directly from the terminal. From Windows, use your ssh client ("[PuTTY](http://www.putty.org)" is freely available). Both `scp` and `sftp` are easy to use and secure.

#compenv
	:markdown
		# [Computing Environment](#compenv)

		A computing environment refers to the components of a compute resource such as the operating system, basic hardware infrastructure, and software characteristics.

	#compenv-filesystems
		:markdown
			## [File Systems](#compenv-filesystems)

			<a href="https://portal.xsede.org" style="color: rgb(35, 121, 191); outline-width: 0px; outline-style: none; outline-color: initial; text-decoration: underline; "><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; width: 16px; height: 16px; " /></a><a href="https://portal.xsede.org/storage" style="color: rgb(35, 121, 191); outline-width: 0px; outline-style: none; outline-color: initial; text-decoration: underline; ">Learn about XSEDE File Systems &amp; Storage options</a>

			Where your data resides on XSEDE and the appropriate storage is your responsibility. In general, all resources provide the following file systems:

			1. **HOME**: Permanent space, but small. A good choice for building software and working file collections of small to medium sized files, where a medium sized file is less than 50 MB.
			1. **SCRATCH**: More space, but temporary; use while you are running your jobs. Scratch space is temporary; it is not backed up and has limited redundancy, and is periodically purged of old files!
			1. **Archival Storage**: Long term storage of large amounts of data (often tape); slower access, accessible from all sites.

			For more detailed information on file systems and storage please consult the user guide and the XSEDE <a href="https://portal.xsede.org/storage">Storage</a> page.

	#compenv-modules
		:markdown
			## [Modules](#compenv-modules)

			<!-- a href="https://portal.xsede.org"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="width: 16px; height: 16px;" /></a><a href="https://www.xsede.org/software-environments">Learn about Software Environments</a -->

			The environment management package, Modules, is a command-line interface providing commands for setting and modifying shell environment variables. These environment variables define values used by the shell (e.g., bash, tcsh,...) and by programs that you execute on the shell command line. For example, the PATH environment variable commonly defines a list of directories that the shell should search to find an executable program that you have referred to on the command line - this allows you to execute that program without having to type out the entire directory path to the executable file for that program. Modules makes it easier for you to manage collections of environment variables associated with various software packages, and to automatically modify environment variables as needed when switching between software packages.

			<!-- Go <a href="https://www.xsede.org/software-environments">here</a> for further information on the XSEDE software environment. -->

		#compenv-modules-modulecommands
			:markdown
				### [Simple Modules Commands](#compenv-modules-modulecommands)

				* `module avail` - lists available modules
				* `module list` - lists currently loaded modules
				* `module help foo` - help on module `foo`
				* `module whatis foo` - brief description of module `foo`
				* `module display foo` - displays the changes that are made to the environment by loading module foo without actually loading it.
				* `module load foo` - load module `foo`
				* `module unload foo` - unloads module `foo` and removes all changes that it made in the environment

	#compenv-jobs
		:markdown
			## [Running jobs](#compenv-jobs)

			<a href="https://www.xsede.org/web/guest/user-guides"><font class="Apple-style-span" color="#2379bf"><u><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330626971983" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; width: 16px; height: 16px; " /></u></font>&nbsp;View XSEDE User Guides for job submission capabilities on XSEDE resources</a>

			All XSEDE resources employ a job scheduler (sometimes called "batch" scheduler), software that monitors and runs programs in the background, ideally achieving optimum utilization of that resource, including processors, memory, and disk space. All schedulers basically work the same way:

			1. specify number/type of nodes you need
			1. specify how long you need to run
			1. specify where your output files go
			1. submit the job script containing these specifications

			Check each resource's user guide for exact information needed such as production queues, node types, modules and job launch mechanisms. A typical job script will look similar to the following:

			For the most part, XSEDE systems use the [Simple Linux Utility for Resource Management](https://en.wikipedia.org/wiki/Slurm_Workload_Manager) (Slurm) job scheduler. Each resource will have one or more queues, each with a pool of jobs waiting to run. A user submits jobs to a queue via job scheduler commands. Some common Slurm commands are listed below.

			* <code>sbatch <i>myjobscript</i></code> - submit the file 'myjobscript' to start a job
			* <code>squeue -u <i>username</i></code> - display the status of all your jobs
			* <code>scancel <i>jobid</i></code> - delete the job from the queue using the jobid
			
	#jobscript
		:markdown
			## [Sample Job Script](#jobscript)

			<pre class="job-script">
			#SBATCH -J myjob          # Job name
			#SBATCH -o myjob.%j.out   # define stdout filename; %j expands to jobid
			#SBATCH -e myjob.%j.err   # define stderr filename; skip to combine stdout and stderr

			#SBATCH --mail-user=bjones@tacc.utexas.edu
			#SBATCH --mail-type=ALL
			#SBATCH -A TG-01234       # specify the project or allocation number

			#SBATCH -p normal         # specify queue
			#SBATCH -N 2              # Number of nodes, not cores (16 cores/node)
			#SBATCH -n 32             # Total number of MPI tasks (if omitted, n=N)
			#SBATCH -t 00:30:00       # set maximum run time of 30 minutes

			module load fftw3         # Load any necessary modules (these are examples)
			mpirun ./myprogram        # TACC systems use "ibrun", not "mpirun"
			</pre>

#training
	:markdown
		# [Sign Up for Training](#training)

		<a href="https://www.xsede.org/resources/overview"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330628225886" style="width: 16px; height: 16px;" /></a><a href="https://www.xsede.org/resources/overview"> </a><a href="https://portal.xsede.org/training/overview">Learn about in person, online and webcast training courses</a>

		XSEDE offers unparalleled training on a huge variety of topics such as programming, visualization &amp; code improvement. You may enroll in <a href="https://www.xsede.org/web/xup/online-training">online training classes</a> or attend classes <a href="https://www.xsede.org/web/xup/course-calendar">in person</a>.

#help
	:markdown
		# [Get Help](#help)

		We realize this is a lot to take in, so XSEDE has lots of help options. You might begin by [searching for your XSEDE Campus Champion](https://www.xsede.org/community-engagement/campus-champions/current). Your local champion can direct to the staff or resources you need. This robust community of research computing professionals is spread out over 300 member institutions.  

		Still not sure if XSEDE is right for you? The XSEDE Help Desk staff will answer your question or put you in touch with the experts who can. XSEDE has numerous ways to search for information and get help on a variety of topics. Our staff can help with problems such as choosing a platform or resource, choosing a software package, improving file transfer performance, and help with visualization. Send your questions to <help@xsede.org>.


		Additional help resources:

		<p style="margin-left: 40px;"> <img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" /><a href="https://www.xsede.org/web/guest/news">User News</a> - keep up to date with what is happening with XSEDE and the services you use. XSEDE staff regularly sends announcements, machine status notices, notifications of upcoming training classes and more. Please login to XSEDE User Portal to manage your subscriptions <a href="https://www.xsede.org/news/-/news/manage-subscription">here</a>.</p>
		<p style="margin-left: 40px;"><img alt="" src="/image/image_gallery?uuid=ab52ef93-bcd2-4a3f-ac6f-b789460010cb&amp;groupId=10746&amp;t=1330628908808" style="width: 16px; height: 16px;" /><a href="https://www.xsede.org/web/xup/forums">User Forums</a> - ask questions and interact with other users on the user forums available within the XSEDE User portal.</p>


#ecss
	:markdown
		# [Extended Collaborative Support](#ecss)

		<a href="https://www.xsede.org/resources/overview"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330628225886" style="width: 16px; height: 16px;" /> </a><a href="https://www.xsede.org/ecss">Want more help? Learn about Extended Collaborative Support</a>

		Extended Collaborative Support (ECSS) is available to all XSEDE users. You may request XSEDE's advanced ECSS support at any time though the Allocations tab in the XSEDE User Portal. ECSS requires written justification and a project plan. Our highly experienced staff can help with:

		* porting applications to new resources
		* providing help for portal and gateway development
		* implementing algorithmic enhancements
		* implementing parallel math libraries
		* improving scalability of codes to higher processor counts
		* optimizing codes to efficiently utilize specific resources
		* assisting with visualization, workflow, data analysis, and data transfer
		* performance analysis

		Need additional info? Visit <a href="https://www.xsede.org/ecss">XSEDE Extended Collaborative Support</a>.

#mobile
	:markdown
	/	# [The Mobile User Portal](#mobile)
	/	<img alt="XSEDE Mobile User Portal" src="/documents/10746/252255/xupmobile/3de880e5-17a2-4c3c-b32f-533364aa1efa?t=1405108878000" style="float: right; width: 200px; height: 413px;" />


	/	<a href="https://www.xsede.org/resources/overview"><img alt="" src="/image/image_gallery?uuid=41bba003-2b3d-4abc-9f1b-d65c8ceed747&amp;groupId=10746&amp;t=1330628225886" style="width: 16px; height: 16px;" /> Access XSEDE anywhere with </a><a href="https://mobile.xsede.org">XUP Mobile (https://mobile.xsede.org</a>)

	/	XSEDE also provides a mobile interface to access XSEDE services and information from the convenience of your mobile device. The XSEDE User Portal mobile interface offers both public content and select user information and service via a new and improved XSEDE Mobile Web site.

	/	* Browse all XSEDE systems
	/	* View and subscribe to user news
	/	* View and register for training courses
	/	* View your allocations and account information
	/	* Monitor XSEDE resources and job status
	/	* Receive consulting support by viewing and submitting helpdesk tickets

	/	Check out <a href="https://mobile.xsede.org">XSEDE Mobile User Portal</a> from the convenience of your mobile device anytime and anywhere.

#refs
	:markdown
	/ # [Reference](#refs)

	/ * [XSEDE Single Sign On Hub](https://portal.xsede.org/web/xup/single-sign-on-hub)
	/ * [Environment Modules](http://modules.sourceforge.net/)

