<span style="font-size:235%; font-weight:bold;">Manage Allocations</span><br>
<span style="font-size:95%;"><i>Last update: July 29, 2022</i></span>
<div>&nbsp;</div>

:markdown
	<p class="portlet-msg-alert"><span style="font-size:110%;">The NSF XSEDE project will be ending on August 31, 2022 and the new ACCESS project will begin September 1, 2022.  Consult [Allocation Announcements](https://portal.xsede.org/allocations/announcements) for key dates related to the XSEDE to ACCESS transition. See [Advance to ACCESS](https://www.xsede.org/web/advancetoaccess/-/allocations-through-access-what-you-need-to-know-now) for additional information about the new project.</span></p>

	Once your project has received its allocation/s, XSEDE gives the Principal Investigator (PI), co-PIs, and Allocation Managers a number of options to ensure the flexibility needed to complete their research objectives. The following options and actions are available to PIs, co-PIs and Allocation Managers via the XRAS system. Some allocation options or actions may not always be available, depending on current policies or timelines.

#approved
	:markdown
		# [Request Was Approved. Now What?](#approved)

		If you have been awarded an allocation, it should appear on the awarded system(s) within a few days. For XRAC-reviewed Research projects, you will be able to use the allocations on the award start date in your notification email.

		We strongly recommend looking at the following pages for a getting started guide, a review of your responsibilities as a user, resource user guides, where to get help, and how to acknowledge the use of XSEDE in your research.

		**Getting Started**: The "[Getting Started with XSEDE Guide](https://portal.xsede.org/documentation-overview)" is a great resource for new and returning users. Since you've already received your allocation award, you can jump ahead to the section on "[Logging into Your Allocated Resources](https://portal.xsede.org/documentation-overview#access)".

		**User Responsibilities**: Remember that you and any users you add to your project must comply with the [XSEDE Acceptable Use Policy](https://portal.xsede.org/web/xup/usage-policy). Keep your account safe, do not share accounts, and use the resources only for the intended purposes. Further, all users are expected to abide by the [XSEDE Code of Conduct](https://www.xsede.org/codeofconduct) in any interactions with XSEDE or Service Provider staff, and should expect similar conduct from XSEDE or Service Provider staff.

		You can help us improve our reporting by keeping your XSEDE user profile up to date and completing the [demographic fields](https://portal.xsede.org/group/xup/profile/).

		**Adding Users**: If any part of your project's allocation is on a new system (for whatever reason), you will need to add your team's users to the new system. See the instructions for [Adding & Removing Users](https://portal.xsede.org/allocations/managing#manageusers) below. 

		**Appeals**: Should you wish to address review issues or concerns, you may submit an appeal within four weeks of being notified of your allocation award. Submit your appeal as [described below](https://portal.xsede.org/allocations/managing#managealloc-appeals). Note that appeals are not a mechanism for resubmitting a rejected proposal or for having a proposal reconsidered after being rejected.

		**Acknowledge XSEDE**: In exchange for access to the XSEDE ecosystem, we ask that all users let us know what XSEDE has helped you achieve. For all publications that benefit from XSEDE or XSEDE-allocated resources, please [acknowledge XSEDE support](https://www.xsede.org/for-users/acknowledgement) and add your publications to your user profile in the portal.

#rejected
	:markdown
		# [Request was Rejected. Now What?](#rejected)

		If your request was rejected, don't despair. XSEDE wants to help you succeed. 

		Your first step should be to read your email notification carefully. Comments from the XSEDE Allocations Coordinator and from the reviewers should point you in the right direction and help you to prepare a proposal that is more likely to succeed.

		Depending on your situation, you can take advantage of the following resources to improve your proposal and submit it to the next available opportunity:

		* If you don't have a Startup project, you should [request one](https://portal.xsede.org/allocations/startup). The Startup can be used to gain access to the desired resources and conduct benchmark runs for your Code Performance and Scaling document.
		* View the latest recorded XSEDE webinar: [How to Write a Successful XSEDE Proposal](https://portal.xsede.org/allocations/research#webinar) or attend one of the upcoming webinars to have your questions answered directly.
		* Review the [examples of Research requests](https://portal.xsede.org/allocations/research#examples) that the XRAC has deemed worthy of emulating.
		* Check out the detailed guidance for [preparing your main proposal document](https://portal.xsede.org/allocations/research#detailed).

		If none of these solutions address your situation, please email <help@xsede.org> and we'll do our best to help you.


#manageusers
	:markdown
		# [Adding & Removing Users](#manageusers)

		PIs may share their allocation/s by adding and removing users to and from their respective project/s for any number of collaborators. Research collaborators may include graduate and undergraduate students, as well as colleagues based outside of the U.S.  

		* To add users to a project, go to ["My XSEDE->Add User"](/group/xup/add-remove-user) page.   

		* To designate an Allocation Manager, go to your [Allocations/Usage](/group/xup/allocations/usage) page and select the "Manage Users" button for the appropriate project. Designating an Allocation Manager grants that user the ability and authority to manage the allocation on behalf of the PI. Allocation Managers can add users, request extensions, ask for transfers, and related tasks.

		* To remove users from your allocation, go to your [Allocations/Usage](/group/xup/allocations/usage) page and select the "Manage Users" button for the appropriate project. 

		<p class="portlet-msg-info">Only Principal Investigators (PIs), co-PIs, or their Allocation Managers may add and/or remove users to and from their respective allocations, and may do so at will.</p>
 
		If you do not see the controls for adding or removing users, it's because you are not a designated PI or Allocation Manager. Contact the XSEDE help desk if you believe this is in error.

		PIs on [Education](http://portal.xsede.org/allocations/education) allocations may contact the [XSEDE Help Desk](http://portal.xsede.org/help-desk) for assistance in establishing accounts for large groups of students under their allocated project.

#reverify
	:markdown
		# [Reverify Users for Renewals](#reverify)

		As allocations near their expiration date, PIs who have requested Renewals have a two week period to decide whether or not to continue each user into the new allocation period — that is, "reverify" their users. PI's will receive several email reminders as your allocation nears its end. PIs (or their co-PIs or Allocation Managers) can go to "My XSEDE->Allocations Usage", click on "Verify Users To Retain" and select which users to retain and automatically continue on the upcoming allocations. Those accounts that are not re-verified will no longer be authorized to use the poroject's allocated resources once the current allocation ends. PIs can always add or remove users via the "Manage Users" button for the respective allocations.

		IMPORTANT: If you add a brand new user to your project during the two-week re-verification period, you will also need to re-verify that user prior to the allocation end date. 



#usage
	:markdown
		# [Monitoring Allocation Usage](#usage)

		To keep tabs on how your allocations are being consumed by your project team, log into the XSEDE User Portal and select "My XSEDE" -> Allocations/Usage to list all your projects and corresponding resource allocations.

		For each project listed, authorized users can view project usage, monitoring storage, SUs used, and the SU burn rate. PIs and allocation managers can also view usage per project member and can download this information in graphical or CSV format.

#renewing
	:markdown
		# [Renewing Allocations](#renewing) (Renewals)

		XSEDE allocations are typically made for one year. To continue using XSEDE-allocated resources beyond that year, you must submit a "Renewal" request. You should time your request properly to ensure continuous access from your current allocation period into the renewal period.

		**Research**: Research allocations may be renewed each year, usually on the anniversary of the submission of your prior request. See the [Research Allocation Submission Schedule](http://portal.xsede.org/allocations/research#xracquarterly) to plan your submission. Submit your renewal during the appropriate window to ensure your renewal begins on the desired date. Instructions for Renewals are the same as for New requests, with the addition of a progress report and publications resulting from the current or prior allocation periods. XSEDE allows Renewals up to two years after expiration of the original allocation. 

		**Startups**: If your resource requirements fall within the [Startup Limits](https://portal.xsede.org/allocations/startup#sulimits) you may request a renewal of your allocation in subsequent years. As a reminder, all actions (renewals, supplements, extensions, transfers, etc.) are subject to review by site representatives and guidance may be prescribed on a case-by-case basis.

		**Education**: Education requests can be renewed anytime within 90 days of expiration. 

		Note: For all allocation types, you can submit an [Extension request](#extension) for up to six months of additional calendar time, but no additional allocation units.


#manageallocations
	:markdown
		# [Managing Allocations](#manageallocations)

		Actions on an allocation:

		* [Advances](#managealloc-advances)
		* [Extension](#managealloc-extensions)
		* [Transfer between resources](#managealloc-transfers)
		* [Supplements](#managealloc-supplements)
		* [Appeal](#managealloc-appeal)

	#managealloc-advances
		:markdown
			## [Advances](#managealloc-advances)

			Once you have finalized your Research request, you can request an advance of up to 10% of your requested allocation in anticipation of a favorable review. Usage against this advance will be deducted from your eventual allocation award. 

			Approval of the advance is subject to review by the Service Provider and the availability of sufficient Service Units on the selected resource(s).

			Advances are not accepted within three weeks of the next Research allocation start date (January 1, April 1, July 1, or October 1).

	#managealloc-extensions
		:markdown
			## [Extensions](#managealloc-extensions)

			Projects that encounter problems, such as unexpected staffing changes, in consuming their allocations within the initial 12-month period can request an extension to their allocation end date. The most important consideration for PIs is whether they wish to continue computing after the expiration of their current allocation period.

			For a given allocation, PIs may request a single extension, extending the expiration date by up to six months. The PI will be asked to specify the project number and the length of the extension (1-6 months), along with a brief reason for the extension. Extensions do not require other formal documentation. If you plan to follow the extended allocation with the submission of a Research request, you should align the duration of the extension request with the timeline for Research awards.

			Extensions apply to all current resource allocations on the same project. PIs cannot extend some allocations and submit overlapping Renewal requests for other resources.

			After an project has been extended six months, you must submit a Renewal request to continue your XSEDE project, even if the project still has unused allocation units. The Renewal request should explain the reasons for the unused allocation.

	#managealloc-transfers
		:markdown
			## [Transfers](#managealloc-transfers)

			PIs, co-PIs, or Allocation Managers, can request that allocated time be transferred from one platform to another, subject to resource availability on the target resource. No formal documentation is required. For Research projects, such transfers are subject to conversion of units according to established weighting factors. On Startup allocations, transfers are subject to the size restrictions for the target resource. 

			At this time, it is not possible to convert allocable units on one resource type to units on another resource type. For example, storage allocations cannot be converted to compute allocations.

	#managealloc-converting
		:markdown
			## [Converting Service Units Between Resources](#managealloc-converting)

			The most common situation is a transfer of SUs from one compute resource to another. When transferring allocated units from one compute resource to another, a conversion is applied to normalize the relative computational power of the two resources. 

			The default conversion is based on a formula derived from the resource's performance on the HPL benchmark. Users can review the standard conversions using the SU Conversion Calculator below.

			Alternate conversion rates. If a PI has performance results of relevant codes on the source and target resources in a transfer request, the PI can request a conversion factor based on that code's performance be applied. The alternate conversion rate should be documented and noted in the transfer request.


	#managealloc-supplements
		:markdown
			## [Supplements](#managealloc-supplements)

			**Supplement awards depend upon availability of resources and are severely limited when allocation awards at the previous XRAC meeting were reduced to eliminate oversubscriptions.**

			A supplement is a request for additional resources during an existing allocation's one-year time frame. Its purpose is to support changes in the original computational research plan that are required to achieve the scientific goals of the project. This may include altered or new projects or support for projects proceeding more rapidly than anticipated or that require more resources than anticipated. Supplements are not a mechanism to acquire additional resources for awards that were recommended for less than the amount originally requested (see [Appeals](#managealloc-appeals)).

			Supplement Requests are accepted at any time. Smaller requests are generally considered within three weeks of submission. Large supplement requests are reviewed by the XRAC along with new and renewal Research requests at the next meeting. 

			Supplemental allocation requests for [Startup](http://portal.xsede.org/allocations/startup) and [Education](http://portal.xsede.org/allocations/education) projects are capped at the Startup limit for the particular resource. Supplement requests for Research projects have no limit.

			In practice, to ensure a group can continue computing without an interruption, a PI should not wait until an allocation is completely spent before submitting a Supplement request. 

		#managealloc-supplements-preparing
			:markdown
				### [Preparing a Supplement Request](#managealloc-supplements-preparing)

				Information required for a Supplement is similar to that required for a New or Renewal request of the same type. The submission form should pre-populate many fields based on the original request; please correct any information that has changed.

				As with new or Renewal requests, all publications or other citable outcomes resulting from the current allocation should be added to the PIs or users' XUP profiles prior to submitting the Supplement request and linked to the submission where requested.

		#managealloc-supplements-documents
			:markdown
				### [Required Documents](#managealloc-supplements-documents)

				* **Main Document**: The Main Document of a Supplement to a Research project is limited to five pages and should contain the following: Minimal information about the science and methodologies concerning the supplement; a description of new projects or why more resources are needed to complete the project in progress; a work justification that details the new resource requirements; and any new efficiencies in codes or methods.

					Do not upload the Main Document of the original request. A Supplement request should only addresses the concerns of the additional allocation. 

				* **Progress Report**: A Progress Report is required and should contain any new scientific discoveries from the current allocation, any computational accomplishments of the previous computational work plan (including the associated allocation amounts used), and any contributions to other research efforts and fields of science.

	#managealloc-appeals
		:markdown
			## [Appeals](#managealloc-appeals)

			**Awards from Appeals depend upon availability of resources and are severely limited when allocation awards at the previous XRAC meeting were reduced to eliminate oversubscriptions.**

			If the XRAC has requested that the PI give more details or justification before the project can be allocated additional time, the PI should submit an appeal. Also, a PI may submit a rebuttal on a review criticism as an appeal. The appeal submission should specifically address information that the reviewers have requested or have criticized. 

			Appeals for Research requests are accepted in XRAS for four weeks after the outcomes of the XRAC meeting are posted. Due to high demand for allocated resources, large allocations resulting from appeals may not be awarded until the next XRAC meeting.

			Appeals are not accepted for rejected proposals; PIs should submit an improved request during the next Research opportunity.

			Appeals are also not accepted for rejected Startup or Education requests. In the case of a rejection, PIs for those types should submit a revised Startup or Education request. 

			To appeal the decision on your Research award, select Allocations-&gt;Submit/Review Request. Find your request on the right side (under the Approved tab) and select Appeal from the Actions menu. The appeal (Main Document) should contain a rebuttal and/or additional documentation addressing specific reviewer comments and requests, nothing more. Once submitted, your appeal will be assigned to XRAC committee members for review.


#finalreports
	:markdown
		# [Final Reports](#finalreports)

		XRAS now provides a place for allocated PIs to submit their Final Reports. Once a project's allocations have expired, the option to submit a Final Report appears as one of the Actions available for Approved projects.

		To submit a Final Report, you should first prepare a brief abstract and document (three pages maximum) describing the outcomes of the allocated project, highlighting scientific findings as appropriate. For some projects, such as Startups that were used to collect benchmark and scaling data for a subsequent Research request, you can briefly describe that activity in your document.

		Next, you should [add any relevant publications](/group/xup/publications/submit/-/pubs-submit/) to the XSEDE User Portal profiles for the project's users.

		Then, in the XSEDE User Portal, select "Submit/Review Request" from the Allocations tab menu. Under Requests, select "Approved" to see your current and expired projects. Select "Actions" for the relevant project to see if a Final Report can be submitted.

		The submission form for Final Reports requires three elements:

		1. Abstract/summary. A brief text summary of the outcomes, suitable for public consumption.
		1. Attach relevant publications (previously added as above).
		1. Attach your Final Report document.


