<span style="font-size:235%; font-weight:bold;">XSEDE Allocations Info &amp; Policies</span><br>
<span style="font-size:95%;"><em>Last update: July 29, 2022</em></span>
<div>&nbsp;</div>

:markdown
	<p class="portlet-msg-alert"><span style="font-size:110%;">The NSF XSEDE project will be ending on August 31, 2022 and the new ACCESS project will begin September 1, 2022.  Consult [Allocation Announcements](https://portal.xsede.org/allocations/announcements) for key dates related to the XSEDE to ACCESS transition. See [Advance to ACCESS](https://www.xsede.org/web/advancetoaccess/-/allocations-through-access-what-you-need-to-know-now) for additional information about the new project.</span></p>

	XSEDE receives more than 200 [Research Allocation](/allocations/research) requests at each quarterly meeting of the XSEDE Resource Allocation Committee (XRAC). For the past decade, those requests have far outstripped the resources (SUs) available to allocate. In addition, several hundred requests for [Startup](/allocations/startup) and [Educational](/allocations/education) projects, as well as a continual stream of extension, transfer, supplement, and advance requests, are submitted throughout the year.


#procedures:process
	:markdown
		# [The Review Process](#procedures:process)

	#procedures:process-pracs-procs
		:markdown
			## [Practices and Procedures](#procedures:process-pracs-procs)

			To increase transparency around how requests become allocated projects, how the steady stream of requests are managed, and why a Research award may be smaller than requested or recommended by XRAC, XSEDE published <a target="_blank" rel="noopener" href="https://hdl.handle.net/2142/105489">XSEDE Allocations Practices and Procedures</a>. The document describes the tasks and activities required to administer the XSEDE allocations process. It details the tasks and efforts required by XSEDE staff to translate, interpret and implement the allocation policies providing researchers with allocations on resources that will help them accomplish their science objectives.  

	#procedures:process-xracmanual
		:markdown
			## [XRAC Reviewer Manual](#procedures:process-xracmanual)

			For those who want to learn more about how the XSEDE Resource Allocation Committee (XRAC) functions, we have compiled an <a target="_blank" rel="noopener" href="https://hdl.handle.net/2142/104685"> XRAC Reviewer Manual</a> that walks through the essential policies, processes, context, and code of conduct related to serving on the XRAC and contributing to the allocations process. While primarily intended to help XRAC members understand their role within XSEDE and within the broader allocation process, it is open to all members of the user community to improve general understanding of the allocations process.


#procedures:intro
	:markdown
		# [Introduction](#procedures:intro)

		The XSEDE allocations policies and processes exist to support and advance the XSEDE mission to &quot;substantially enhance the productivity of a growing community of scholars, researchers, and engineers through access to advanced digital services that support open research; and to coordinate and add significant value to the leading cyberinfrastructure resources funded by the NSF and other agencies.&quot;

		The allocations process opens the door for the community of researchers who come to XSEDE to deepen and extend their use of the advanced digital research services ecosystem. The allocations process helps sustain this ecosystem by coordinating and adding value to requests for access to XSEDE cyberinfrastructure resources. XSEDE welcomes requests not just for traditional high-performance computing activities, but for any work that can benefit from resources in the ecosystem, including machine learning, data science, science gateways, software development, and more. The policies and their associated practices and procedures provide consistent and well-defined approaches, using merit-review principles consistent with the spirit of the NSF Proposal &amp; Award Policies &amp; Procedures Guide (PAPPG), to ensure the most efficient and effective use of these limited resources.

		XSEDE uses its allocations policies to balance users' research and education demands against the supply of available resources. These policies are guided by XSEDE's goals to:

		* Support merit-reviewed science and scholarship, as demonstrated by supporting grants or based on a review of the proposed work by XSEDE or panel experts;
		* Make effective use of limited resources, based on assessments against [four primary review criteria](#reviewcriteria);
		* Encourage new researchers, particularly those from disciplines new to advanced digital research services;
		* Ensure equitable consideration of requests from all disciplines, with no predetermined allocation among disciplines, but rather as a result of the requests from researchers.

		Documentation on how to apply for allocations can be found under the [Allocations tab of the XSEDE User Portal](/allocations) (login required). Applicants are strongly encouraged to read the allocations documentation in the portal or attend a &quot;How to Write a Successful XSEDE Proposal&quot; webinar to maximize their success.

		In support of these policies, XSEDE has also published documentation about its <a target="_blank" rel="noopener" href="https://hdl.handle.net/2142/105489">allocation practices and procedures</a>, which implement these policies, as well as a <a target="_blank" rel="noopener" href="https://hdl.handle.net/2142/104685">manual for the reviewers of allocation requests</a>. These additional published documents are designed to help researchers understand how the process works and to ensure consistent practices for the reviewers and service providers.

		These policies are maintained and updated by XSEDE management with input from the XSEDE Advisory Board (XAB), the XSEDE User Advisory Committee (UAC), the Service Providers, members of the XSEDE Resource Allocation Committee (XRAC), and the National Science Foundation (NSF). The policies and procedures are approved by NSF and XSEDE senior management. The allocations procedures and processes are managed and implemented through the XSEDE Allocations Policies and Procedures group; the leader of this group is also referred to as the XSEDE Allocations Coordinator.

		Any feedback or questions regarding these policies or the associated allocation processes should be directed to the <a href="/help-desk">XSEDE Help Desk</a> or email <help@xsede.org>.

#procedures:elig
	:markdown
		# [Eligibility](#procedures:elig)

		XSEDE considers the allocation requester, the nature of the work to be conducted, the sources of support, and the type of research activity, in determining the eligibility of an allocation request.

	#procedures:elig-requester
		:markdown
			## [Eligibility of Allocation Requesters](#elig-requester)

			XSEDE allocations are available to any researcher or educator at a U.S. academic, non-profit research, or educational institution. A U.S.-based researcher, engineer, or scholar who has a joint appointment with a university or non-profit research institution may submit a request using that affiliation. The appointment may be adjunct, instructional, or any other official position. A postdoctoral researcher is eligible to be an allocation Principal Investigator (PI).

			Research staff from federal and state agencies or federally funded research and development centers (FFRDCs) can apply for an XSEDE allocation if their agency or center does not typically provide research staff with access to advanced digital resources of adequate scope for the planned research.

			The two most common classes of ineligible PIs are (a) students and (b) researchers or scholars based outside of the United States. In the case of high school, undergraduate, and most graduate students, a qualified advisor &mdash; e.g., a faculty member or high school teacher &mdash; must serve as PI. In the case of international researchers or scholars, XSEDE supports collaborations with foreign colleagues, but an eligible U.S.&ndash;based researcher must serve as the PI on XSEDE requests and allocations.

			For more details on individual eligibility, including exceptions for NSF Graduate Research Fellows, foreign collaborators, and researchers from other types of institutions, please see the [appendix](#procedures:appendix-elig) for further details on eligibility.

	#procedures:elig-fields
		:markdown
			## [Eligible fields of study](#elig-fields)

			XSEDE welcomes allocation requests from throughout the research, education, and scholarly community. Work from [any field of study](/allocations/fos) is eligible to be considered for an XSEDE allocation. XSEDE supports work in the physical sciences, life sciences, engineering, social sciences, the humanities, and the arts.

			The primary eligibility consideration is that the work is intended for publication or other appropriate forms of scholarly dissemination. Proprietary or confidential work is not supported via XSEDE allocations.

	#procedures:elig-sources
		:markdown
			## [Eligible sources of support](#elig-sources)

			Eligible requests may have support from any funding agency or funding source. Furthermore, while most requests do have merit-reviewed funding awards, a PI need not have any external or merit-reviewed support to submit a request or receive an allocation. However, requests without merit-reviewed funding will be evaluated on their intellectual merit as part of the review process. See Review Criteria (below).

	#procedures:elig-categories
		:markdown
			## [Eligible categories of research activity](#elig-categories)

			Within their broad scope, XSEDE allocations support various categories of research groups and services. In general, the following categories of research activity are eligible to apply via the XSEDE allocations process:

			__Single Investigator:__ Most allocated projects support a single PI with a small research group pursuing a common line of investigation and often co-authoring papers.

			__Multi-PI Collaboration:__ These activities are characterized by a large group of closely collaborating investigators, each working on sub-projects within the overall collaboration. The collaborators may be supported by a single funding award or set of related &quot;collaborative research&quot; awards. One of the collaborators is designated to represent the entire collaboration as PI for a single allocated project. The management of the allocated resources is left to the discretion of the principals on the request.

			__Gateways or Community Service:__ These projects provide services to a large community of users who are typically not directly collaborating with the PI. An example of such a project would be a science gateway or application portal providing access to software and computer time to a community of domain researchers via a web-based interface.

#reviewcriteria
	:markdown
		# [Review Criteria](#reviewcriteria)

		In addition to basic user eligibility rules, all XSEDE allocation requests are reviewed against common criteria to determine the appropriateness of work for XSEDE resources. These criteria apply to all requests, regardless of the types of resources, the size of the request, or the domain of inquiry, with the level of scrutiny rising with the scale of the requested resources. PIs must provide justification for these criteria suitable to the nature of the request, and reviewers shall apply the criteria in the context of the request.

		__*Appropriateness of Methodology:*__ Does the request describe appropriate tools, methods, and approaches for addressing the research objectives? These methodologies may be community codes or models, data analysis methods, or algorithmic formulations expressed in user-developed scripts or tools.

		__*Appropriateness of Research Plan:*__ Does the request describe necessary and sufficient computational experiments to answer the research questions posed? In some cases, the research plan may be more reasonably expressed as estimates of resource use, supported by past or early experience. Serious concerns about the research plan will be documented in reviews and may lead to reduced allocation awards.

		__*Efficient Use of Resources:*__ Has the request identified appropriate resources for undertaking the research plan with the proposed methodology? Will those resources be used as efficiently as is reasonably possible and in accordance with the recommended use guidelines of those resources?

		__*Supporting Grant Alignment:*__ Is the proposed work supported by a grant or grants that have undergone separate merit review? If so, is the allocation request consistent with the objectives of the supporting grants and is the scale of resource use commensurate with the level and purpose of support? Does the identified support provide necessary and sufficient human resources to complete the proposed work? When a request is supported by merit-reviewed supporting grants, the intellectual component is not subject to further review by the XSEDE process. However, if a request is not supported by a merit-review award, reviewers will assess the intellectual merit of the proposed work in a manner consistent with the NSF's intellectual merit criteria and factor that into their overall recommendation.</p>

		In applying these criteria, investigator productivity and scholarly outcomes are the end goals. If the reviewers conclude that the request is more appropriate on XSEDE resources other than those requested, they may recommend an allocation on other resources instead. On the other hand, if adapting to better architectures or algorithms requires a significant learning curve for the proposer, reviewers may suggest alternatives, but nevertheless grant the requested resources. At the other extreme, if the reviewers conclude that the proposed methods or research plans would be an inappropriate or inefficient use of resources, requests may not be approved until the reviewers' concerns are addressed.

#procedures:policies
	:markdown
		# [General Allocation Policies](#procedures:policies)

		All XSEDE allocation requests are subject to a common, basic set of policies and procedures, which are summarized in this section.

	#procedures:policies-project-types
		:markdown
			## [Project Types](#procedures:policies:project-types)

			In general, XSEDE allocations support projects that allow individuals or groups to pursue their research objectives; permit researchers to get started in the XSEDE environment, develop or port codes, or evaluate XSEDE capabilities; and support educational objectives from classroom instruction to training courses. To support these activities, XSEDE defines three generally available types of projects: Startup, Education, and Research.

			__Startup:__ Startup projects are intended for investigators who are new to XSEDE-allocated resources, who plan to submit more substantial requests in the future, who are developing codes or applications, or who have modest resource requirements that, nevertheless, cannot be satisfied by their campus resources.

			__Education:__ Education projects allow faculty or instructors to use XSEDE-allocated resources for classroom instruction or training courses related to the use of advanced cyberinfrastructure technologies or domain research software and workflows.

			__Research:__ Research projects support activities that have progressed beyond the startup phase and are pursuing their research objectives via production usage of XSEDE-allocated resources.

	#procedures:policies:one-pi
		:markdown
			## [One Project per PI](#procedures:policies:one-pi)

			In general, each PI will have only one project for their research activities. The one&ndash;project rule minimizes the effort required by PIs to submit Research requests and the overhead in reviewing those requests. If a single PI has several funded grants that require computational support, these lines of work should normally be combined in a single request. Allocation-size limits apply to the aggregate request.

			Similarly, closely collaborating researchers should submit a single collaborative request rather than several individual requests. For example, a PI and associated postdoctoral researchers; investigators supported by the same funding grant; and researchers in the same lab group should submit a single request describing and justifying the various sub-activities. One of the collaborators should be designated as the PI, and others can be designated as co-PIs.

			However, the one-project-per-PI rule has several exceptions:

			* A PI may submit a Research request at any time during an active Startup allocation. A successful Research allocation will supersede any Startup allocations and start a new 12-month allocation period.
			* If a PI has research activities in significantly different fields of science (e.g., physics and economics) that cannot be reviewed by the same set of reviewers, multiple project requests will be considered.
			* If a PI is leading both a single-investigator activity and a multi-PI collaboration, consortium activity, or gateway service, separate requests for these distinct activities will be considered.
			* A PI with active Startup or Research projects may submit requests for any number of Education projects to keep classroom and training activities and users separate from research activities.
			* A PI has received guidance from the review panel via the XSEDE Allocations Coordinator that the panel will consider multiple requests from the PI based on the lines of work discussed in a prior proposal. The requests should be divided as described in the panel's guidance.

			PIs should contact <help@xsede.org> to confirm that one of these exceptions applies in their case before submitting more than one Research request.

			The one project per PI rule and its exceptions determines whether a PI should submit a New or Renewal submission.

			__New:__ A submission should be submitted as &quot;New&quot; if __*any*__ of the following conditions are met:

			* The PI is making their first submission to XSEDE,
			* The PI is making their first request for a particular project type (Startup, Education, or Research),
			* The request is in a completely different area of science than a PI's previously submitted requests, or
			* Two years or more have passed since a PI's most recent prior XSEDE project has expired.

			__Renewal:__ A submission should be submitted as a &quot;Renewal&quot; to an existing project if a PI meets __*all*__ of the following conditions:

			* The PI has had a project of the same request type and that project was active within the past two years,
			* The PI is continuing the same or similar line of research, and
			* The request is for work in the same field of science.

			A renewal request must address the progress of the research supported by the prior allocation.

	#procedures:policies:xsede-resources
		:markdown
			## [XSEDE-allocated Resources](#procedures:policies:xsede-resources)

			XSEDE manages the allocation requests and awards for a specific set of NSF cyberinfrastructure (CI) resources. A full listing of allocated resources, architectural details, allocation units, and statements of recommended use is provided by the [XSEDE Resource Selector](/allocations/resource-info). A single allocation request and resulting project may, and often does, combine requests and allocations for multiple resources.

			Each allocated resource has a defined allocation unit and guidelines for how to calculate allocation amounts. In addition, each allocated resource has a statement of recommended use that describes the Service Provider's policies, any usage models that may be emphasized or not permitted, and any limits on requests. PIs are advised to review these resource details and guidelines before submitting requests for specific resources.

			A PI's allocation request must justify the requested allocation amounts for each resource as well as describe how the project's research objectives require the special capabilities of particular resources and how the computational needs fall within the recommended uses for those resources.

	#procedures:policies:alloc-duration
		:markdown
			## [Allocation Duration](#procedures:policies:alloc-duration)

			Startup allocations are typically made for a 12&ndash;month period. However, Startup allocations supported by a merit&ndash;reviewed funding award can be requested for and awarded up to three years or the duration of the supporting grant, whichever is shorter.

			Education allocation periods align with the length of each instance of the educational or training course (e.g., a semester). The instructor may request that the allocation extend slightly beyond the end of the course, with suitable justification.

			Research allocations for XSEDE resources are typically made for a 12&ndash;month period; shorter periods may be recommended by the review panel to ask for clarifications from a PI while allowing meritorious research to begin. With a brief explanation, a PI can request up to a six&ndash;month extension. PIs can continue their activities in subsequent years through annual renewal requests.

	#procedures:policies:unused-allocs
		:markdown
			## [Forfeiture of Unused Allocation Units](#procedures:policies:unused-allocs)

			At the end of an allocation period, projects forfeit any unused allocation units on resources for which accounting charges are applied. Significant unused allocations may contribute to a reduced allocation from the review panel in subsequent reviews. For resources without accounting charges, a PI must describe how the resources were used effectively and justify any continued need for resources in subsequent years or risk a reduced or declined allocation.

	#procedures:policies:confidentiality
		:markdown
			## [Confidentiality of Requests and Reviews](#procedures:policies:confidentiality)

			All XSEDE allocation requests, request documents, and reviewer comments are considered confidential and are only made available to:

			* the PI and co-PIs of the submitted request;
			* members of the review panels without a conflict of interest;
			* XSEDE staff, including relevant allocations and user support staff members;
			* XD Service Provider representatives; and
			* NSF staff.

			Confidential information can be released with permission from the PI. Information about approved XSEDE allocation awards and descriptive project information (PI name and institution, title, and abstract) are not considered to be confidential and shall be publicly available through XSEDE services. This policy is consistent with NSF practice of publishing award abstracts and funding amounts.

	#procedures:policies:ack-support
		:markdown
			## [Acknowledging Support](#procedures:policies:ack-support)

			An acknowledgement of support from the appropriate service provider and XSEDE should appear in any publication of material, whether copyrighted or not, that describes work which benefited from access to XSEDE cyberinfrastructure resources. For suggested language, see <a href="https://www.xsede.org/how-to-acknowledge-xsede">How to Acknowledge XSEDE</a>.

			PIs should report all articles or other citable works that benefited from support by XSEDE-allocated resources. These research products can be reported via the user's profile in the XSEDE User Portal and as part of a PI's Progress Reports and Final Reports.

	#procedures:policies:final-report
		:markdown
			## [Final Reports](#procedures:policies:final-report)

			Upon the completion of any project that the PI does not intend to renew and continue, the PI must submit a Final Report that summarizes the work accomplished with the awarded allocations and report any publications or citable works resulting from the allocations.


#procedures:startup-education
	:markdown
		# [Startup and Education Projects](#procedures:startup-education)

		Startup and Education requests are XSEDE's small-scale project types, and the submission and review policies are designed to minimize effort while ensuring a good fit between the project and the resources. These requests require a project abstract that encompasses a brief resource justification and information to verify the PI's eligibility; Education requests also require a course syllabus.

		For Startup and Education projects, the amount requested for a single resource must usually be no greater than the Startup limit for that resource. Startup and Education requests are further limited to no more than three separate computational resources, unless the abstract explicitly justifies the need for each resource to the reviewers' satisfaction. The Startup allocation limit is posted in the [XSEDE Resource Selector](/allocations/resource-info) for each resource. Exceptions to this rule may be granted, with suitable justification, to Education requests in support of very large class sizes.

		XSEDE accepts Startup and Education requests at any time, and the requests are reviewed and processed continually. These requests are typically reviewed and processed within two weeks of submission. PIs for Startup and Education requests are notified by email when the request is approved or rejected.

		In general, Startup allocations are presumed to be for one allocation period only. In most cases, researchers should submit Research project requests to continue their work. However, renewals are permitted with appropriate justification, subject to XSEDE reviewer approval. Valid rationales for renewing Startup projects include, for example, work that has proceeded more slowly than anticipated; lack of access to specialized or sufficiently large resources on the PI's campus for the research activities being proposed, even at the scale of XSEDE Startup allocations; or work continuing at a scale equal to or smaller than a Startup amount.

		Education projects can be renewed indefinitely as long as the education activity-for example, a class repeated each academic year-is continued.

		Each Startup and Education request is reviewed by at least one XSEDE or Service Provider staff member, and if the first review rejects the request, a second review will automatically be conducted.

#procedures:projects
	:markdown
		# [Research Projects](#procedures:projects)

		For projects that have progressed beyond the Startup phase, either in purpose or scale of computational activities, a Research request is appropriate. XSEDE does not place an upper limit on the size of allocations that can be requested or awarded to Research projects; however, SPs may have limits on allocation amounts for specific resources. In aggregate, Research proposals for allocations represent a significant investment of the NSF. The review process therefore strives to be as rigorous as for equivalent NSF proposals.

		The submission requirements for Research requests are detailed in [XSEDE's allocations documentation](/allocations/research). The requirements may evolve over time to ensure that the reviewers have adequate information to assess submissions and ensure efficient and effective use of the allocated resources.

		The reviewers evaluate the merits of each request according to the [XSEDE allocation review criteria](#reviewcriteria) (above); the actual availability of resources (i.e., quantity) is not considered in the review. Necessary reductions due to insufficient resources are made after the merit review, under NSF guidelines, as described below.

	#procedures:projects-reviews-awards
		:markdown
			## [Reviews and Awards](#procedures:projects-reviews-awards)

			Research requests are accepted, reviewed, and awarded quarterly. The XSEDE Resource Allocations Committee (XRAC) is convened each quarter to review requests and recommend allocation amounts. The XSEDE Allocation Coordinator may determine that some smaller-scale Research requests can be processed via review by XSEDE staff only.

			Research requests are assigned to reviewers based on their expertise and the field of science for each request. External reviewers may be sought to provide comments if no XRAC members have sufficient expertise. The reviewers consider each request in the context of the Review Criteria and recommend allocation amounts for each request based on its merits. The availability of resources is not considered in the panel review. After reviewers have been given time to assess their assigned requests, Research submissions are discussed in a quarterly face-to-face meeting of the full review panel. After the discussion of each request, the panel recommends an allocation amount for each request, or declines to support the request.

			After all requests are considered at the XRAC meeting, the total of all recommended units is compared to the total amount available to allocate across all resources (of the same type). In consultations between the XRAC, XSEDE staff, and SP staff, recommended allocations may be transferred to other resources for projects that are better suited for or that can take advantage of other resources, to help balance the load and maximize final awards. Consideration will be given to the impact of a resource transfer on the continuity of the research, if a researcher has been computing on a specific resource.

			When the recommended levels considerably exceed the total amount available to allocate, a formulaic &quot;reconciliation&quot; process adjusts all recommended allocations to remove oversubscription. This reconciliation process reduces large allocations more than small ones and prioritizes projects supported in full or in part by NSF grants. Under the direction of NSF, additional adjustments may be made to achieve a balanced portfolio of awards to diverse communities, geographic areas, and scientific domains.

			All funding used to support the work proposed in a Research request must be reported in the submission process. Reviewers use this information to assess whether the PI has enough support to complete the work, analyze data, prepare publications, etc. The XRAC assessment is blind to the type of funding support. For reconciliation, funding information is used to provide priority to the NSF funding portion of a request.

	#procedures:projects-xrac
		:markdown
			## [XSEDE Resource Allocations Committee (XRAC)](#procedures:projects-xrac)

			The XRAC is the committee convened to review Research requests submitted to XSEDE. The XRAC consists of volunteer experts from the faculty and staff of U.S. universities, laboratories, and other non-profit and commercial research organizations. All committee members have expertise in at least one area of computational science or engineering and serve a term of approximately three years, with a possibility of a one-time renewal. PI and co-PIs of XSEDE allocation awards may serve on the XRAC.

			The XRAC ensures that:

			* Requests for resources that a threshold level determined by XSEDE are peer-reviewed. 
			* Written reviews of the resource requests are completed in a timely manner and made available to the requesters and XSEDE.
			* Recommendations to XSEDE for the allocation of resources based on the requests, reviews, and the available resources are developed and documented.
			* The environment for this process is consistent with the conflict-of-interest policy and confidentiality of requesters and their reviews is maintained. 

	#procedures:projects-awards-coi
		:markdown
			## [Conflicts of Interest](#procedures:projects-awards-coi)

			Every effort is made to avoid conflicts of interest between reviewers and requests. XRAC members are not allowed to review or be present for the discussion of requests from their home institution, former students, postdocs, advisors, or current and recent collaborators. In addition, XRAC members who are also PIs or co-PIs on larger-scale Research requests do not review requests for or otherwise participate in the XRAC meeting to which they submit their requests. For smaller-scale requests (i.e., those small enough to be reviewed by XSEDE staff), the PI may participate in the meeting, since their request will not be discussed at the meeting. 

			If, in the opinion of a PI, a certain individual has a conflict of interest, the PI may request that the individual not act as reviewer on their request or potential subsequent appeal. Such a request should be included as part of a PI's submission in the Special Requirements document.

			The complete [Conflict of Interest Policy](#procedures:appendix-coi) for XSEDE is included as an appendix. 

	#procedures:projects-awards-appeal
		:markdown
			## [Appeal Process](#procedures:projects-awards-appeal)

			PIs who wish to appeal the outcomes of the XRAC process may do so by submitting an appeal. An appeal should be submitted within four weeks of the date when the PI is notified of the review results. 

			An appeal may be used to supply additional information or clarification requested by the reviewers to make a final recommendation. A PI may also use an appeal to specify, in the PI's opinion, why the reviews of the original request and the resulting allocation were incorrect or unfair. An appeal can be used only to supply requested information or to provide a rebuttal for a reduced allocation. It may not be used to resubmit a rejected request. In the case of a rejection, the PI should submit a revised request in the next submission period. 

			If possible, the XRAC members who reviewed the original proposal will consider the appeal. Reviewers are expected to respond within two weeks; the XSEDE Allocations Coordinator will determine if any increase will be made to the initial allocation. For large requests, at least one favorable review is required before the Allocations Coordinator may make an assessment for an allocation. If the amounts to be allocated are not available on the desired resource, the allocation may be made on another resource. When the reconciliation process has been used to reduce requests, appeals may not be considered until the next meeting of the XRAC.


#procedures:alloc-mgmt
	:markdown
		# [Allocation Management](#procedures:alloc-mgmt)

		Once a project has received its allocation, XSEDE gives the PI a number of options to ensure the flexibility needed to complete their research objectives.

	#procedures:alloc-mgmt-continuation
		:markdown
			## [Project Continuation](#procedures:alloc-mgmt-continuation)

			The most important consideration for PIs is whether they wish to continue computing after the expiration of their current allocation period.

			[As described above](#procedures:startup-education), Startup allocations are generally not eligible for renewal; PIs are expected to submit Research requests to a XRAC meeting during their Startup allocation period to continue pursuing their research objectives. For cases where an exception applies, PIs should submit their renewal request at least two weeks prior to their allocations expiring to avoid interruptions to their allocations.

			Educational allocations can be renewed in some circumstances, such as the same course being repeated over several semesters or years. In general, a renewal should be submitted each time the roster of students for the course changes.

			For single-year Research awards, the PI should submit a Renewal request to the XRAC for consideration. In most cases, they should submit this request approximately one year after their initial request submission, so that it can be reviewed and awarded to avoid any interruption. In general, the appropriate submission period is the one approximately three months prior to the expiration of their allocation.

	#procedures:alloc-mgmt-addusers
		:markdown
			## [Additional Users](#procedures:alloc-mgmt-addusers)

			A PI may share his/her allocation by establishing user accounts under the allocation with any number of collaborators, including graduate or undergraduate students. Research collaborators may include colleagues based outside of the U.S. PIs on Education allocations can contact the XSEDE Help Desk for assistance in establishing accounts for large groups of students under their allocated project.

	#procedures:alloc-mgmt-supplemental
		:markdown
			## [Supplement Requests](#procedures:alloc-mgmt-supplemental)

			During an allocation award period, a PI may request additional resources via a Supplement request. Supplement Requests are accepted at any time and are generally considered within two to three weeks of submission. Generally, Supplement requests for Startup awards are capped at the Startup award limits for the particular resource. Research supplement requests have no limit, although SPs may limit supplement awards based on resource availability.

			A Supplement request is appropriate when the originally proposed work has proceeded faster than anticipated, has proved *more costly* than initially calculated, or early findings from the originally proposed work have suggested a new line of inquiry. The Supplement request should describe why more resources are needed to complete the work in progress and justify those additional resources according to the review criteria.

			Supplements are awarded based on the availability of resources. During periods of high resource demand, supplement requests may be declined or held for review by the panel at the next XRAC meeting.

	#procedures:alloc-mgmt-advances
		:markdown
			## [Advances](#procedures:alloc-mgmt-advances)

			Upon submitting a new or renewal Research request, PIs are allowed to ask for a one-time advance of up to 10% of the resources requested in anticipation of a favorable review. The amount awarded in advance will depend on current availability on the target resource and staff review. Any usage of this advance will be debited against the eventual allocation. Advances are accepted up to three weeks before the upcoming allocation period.

	#procedures:alloc-mgmt-transfers
		:markdown
			## [Transfers](#procedures:alloc-mgmt-transfers)

			PIs can request that allocated time be transferred from one platform to another, subject to resource availability on the target resource. On Research allocations, such transfers are subject to conversion of units according to established weighting factors. On Startup allocations, transfers are subject to the size restrictions for the target resource.

	#procedures:alloc-mgmt-extensions
		:markdown
			## [Extensions](#procedures:alloc-mgmt-extensions)

			Projects that encounter problems in consuming their allocations, such as unexpected staffing changes, can request an extension to their allocation end date. In such instances, PIs may make a one-time request to extend the expiration date by a maximum of six months. 

			Note that Extensions apply to all current resource allocations on the same project; PIs cannot extend some allocations and submit overlapping Renewal requests for other resources.

			If a project still has unused allocation units at the end of the extended allocation period, the PI must submit a Renewal request to continue their XSEDE project; the request should explain the reasons for the unused allocation.


#procedures:appendix-elig
	:markdown
		# [Appendix: Eligibility Details](#procedures:appendix-elig)

		A PI who applies for an XSEDE resource allocation is usually a researcher or educator at a U.S. academic or research institution. A postdoc is eligible to serve as a PI, but most graduate students and all undergraduate students are not eligible to be PIs. This section clarifies and makes explicit the eligibility rules that apply to specific classes of researchers and educators.

	#procedures:appendix-elig-nsf
		:markdown
			## [NSF Graduate Student Fellows and Honorable Mentions](#procedures:appendix-nsf)

			Per arrangement with NSF, an exception is made for NSF Graduate Student Fellows and Honorable Mention recipients. Recipients of these NSF awards can serve as PIs in requests for Startup allocations. Graduate students without such support, undergraduate students, and high school students are ineligible to be PI of an allocation request; a qualified advisor must serve in this capacity.

	#procedures:appendix-elig-federal
		:markdown
			## [Other Federal Agencies](#procedures:appendix-federal)

			Research staff employed by federal agencies or non-NSF FFRDCs are eligible to apply for an XSEDE allocation if their agency or center does not typically provide research staff with access to non-XSEDE resources of adequate scope for the planned research.

	#procedures:appendix-elig-military
		:markdown
			## [Military Service Academies](#procedures:appendix-military)

			For eligibility purposes, military service academies are treated as academic institutions. Allocation requests submitted by faculty members at the military service academies, including the U.S. Military Academy, the U.S. Naval Academy, the U.S. Air Force Academy, the U.S. Coast Guard Academy, the U.S. Naval Postgraduate School, and the Uniformed University of the Health Sciences, will be accepted and reviewed on the same basis as requests from other academic institutions.

	#procedures:appendix-elig-local
		:markdown
			## [State and Local Governments and K-12 Schools](#procedures:appendix-local)

			Research staff from state and local government agencies can apply for an XSEDE allocation if their agency does not typically provide research staff with access to advanced digital resources of adequate scope for the planned research.

			A teacher or educator at an accredited public or private K-12 school or state educational office is eligible to apply for an Education allocation. These requests should be intended to broaden the impact, accelerate the pace, and increase the effectiveness of science, mathematics, and engineering education at the K-12 level. 


	#procedures:appendix-elig-nonprofit
		:markdown
			## [Non-Profit, Non-Academic Organizations](#procedures:appendix-nonprofit)

			Independent museums, observatories, libraries, research laboratories, professional societies and similar organizations in the United States that are directly associated with educational or research activities are eligible.

	#procedures:appendix-elig-unaffiliated
		:markdown
			### [Unaffiliated or Self-employed Individuals](#procedures:appendix-unaffiliated)

			Scientists, engineers, scholars, or educators located within the U.S. may be eligible for support, even if the individual is not employed by or affiliated with an eligible organization.

			A person is eligible provided that (a) the project is sufficiently meritorious and otherwise complies with the conditions of any allocation request; and (b) the requester has demonstrated the capability to carry out the project. Unaffiliated or self-employed individuals should contact the XSEDE Help Desk <help@xsede.org> before preparing a request for submission.

	#procedures:appendix-elig-intl-branch
		:markdown
			## [International Branch Campuses of U.S. Academic Institutions](#procedures:appendix-intl-branch)

			In general, consistent with the guidance in the [NSF PAPPG I.E.1](https://www.nsf.gov/pubs/policydocs/pappg18_1/pappg_1.jsp), if the PI is at an international branch campus of a U.S. institution of higher education, an allocation submission must describe the substantive U.S.-based collaborative involvement in the project, explain the benefit(s) to the project of having the PI at the international branch campus, and justify why the project activities cannot be led by a researcher at the US campus. Activities involving only faculty, researchers, and students from the international branch campus are not eligible for XSEDE allocations.

	#procedures:appendix-elig-foreign
		:markdown
			## [Foreign Collaborations](#procedures:appendix-foreign)

			Collaborative projects involving non-U.S. researchers are encouraged as long as they include substantive intellectual participation by U.S. researchers. Allocation requests with "foreign components" must be made by an eligible U.S.-based PI with a substantive role in the allocated activities. A foreign component is defined as the performance of any part of the project outside the U.S. either by the PI or a researcher, or researchers employed by a foreign institution. Foreign collaborators are eligible to make use of that allocation in a manner consistent with the request.

			XSEDE will not provide an allocation to a PI that does not have a substantive role in the project; that is the PI may not simply serve as a proxy for a foreign researcher.

	#procedures:appendix-elig-forprofit
		:markdown
			## [For-Profit Organizations](#procedures:appendix-forprofit)

			A researcher from a U.S. commercial organization may apply for an allocation as the PI. In particular, small businesses with strong capabilities in scientific or engineering research or education, such as SBIR or STTR grants from NSF or other agencies, are usually eligible. NSF is also interested in supporting projects that couple commercial research resources and perspectives with those of universities; therefore, XSEDE especially welcomes requests from cooperative projects involving both universities and the private sector.

			To be eligible, projects from the private sector must intend to and be permitted to submit their work in an open forum and make the work readily available to the public. In this case, "open" means that the organization has funding or an agreement with another eligible institution to do research that is guaranteed to be accessible and submitted to an open organization or journal for merit-reviewed dissemination of the results. A submission through a private sector organization is subject to additional screening to verify the openness of the proposed work.

			In addition to supporting scientific research by commercial organizations under the terms described above using the normal XSEDE allocation process, many of the XSEDE-affiliated Service Providers have active industrial partnership programs, including funded access to resources without the restrictions associated with free allocations. Interested persons should contact the Service Providers directly.


#procedures:appendix-coi
	:markdown
		# [Appendix: Conflict of Interest Policy](#procedures:appendix-coi)

		To ensure the integrity of the allocations process, XSEDE has defined a conflict of interest policy, closely aligned with NSF's approach to managing conflicts of interest in reviewing its own proposals.

	#procedures:appendix-coi-purpose
		:markdown
			## [Purpose](#procedures:appendix-coi-purpose)

			The XRAC procedures for evaluating resource allocation requests must be fair and equitable to all requesters and protect the integrity of the research, science, the NSF, XSEDE, and the Service Providers. Recommendations are to be based on objective judgments of merit without regard to personal biases. Individuals involved with XRAC activities shall act impartially and not give preferential treatment to any individual or organization and may not use their position on the XRAC or knowledge gained through XRAC activities to obtain a personal advantage either for themselves or for any other person or entity with whom or in which they have a financial or other vested interest.

			A conflict of interest (COI) is a contention between an individual's concern for the public interest or the best interest of XSEDE and his or her private interests or allegiances. COIs also compromise the decision-making process by biasing its effectiveness. Both actual and perceived conflicts of interest may compromise XSEDE's integrity and standing in the research community, its sponsors, and the professional reputations of individuals. As such, actual and perceived conflicts of interest must be scrupulously managed or avoided.

			The guidelines and ethical standards presented here provide a framework by which COI situations can be identified and resolved, thus minimizing the level of personal bias in the provision of cyberinfrastructure resources to the national academic community. 

			Conflicts of interest are common and sometimes inevitable, and thus a disqualification to review should be understood to be a positive solution and in no way a reproach. Whether particular circumstances create an appearance that the standards outlined in this document have been violated shall be determined from the perspective of a reasonable person with knowledge of the relevant facts. 

			XRAC participants are encouraged to seek guidance on these COI guidelines at any time from the Allocation Coordinator. 

	#procedures:appendix-coi-nsf
		:markdown
			## [Relevant NSF COI Policy and Practice](#procedures:appendix-coi-nsf)

			The XRAC COI Policy is based on and informed by NSF COI policies and practices, including the following documents. NSF COI guidance can be found at

			* [Panelist Conflict of Interest Training](https://www.nsf.gov/od/ogc/panelist_coi.jsp) from NSF's Office of General Counsel,
			* [Conflict of Interest Policies from Chapter IX - Grantee Standards](https://www.nsf.gov/pubs/policydocs/pappg18_1/pappg_9.jsp#IXA) in the NSF Proposal & Award Policies and Procedures Guide (PAPPG),
			* [Exhibit II-2: Potentially Disqualifying Conflicts of Interest](https://www.nsf.gov/pubs/policydocs/pappg17_1/pappg_2.jsp#2ex2) from the PAPPG, and
			* [Collaborators and Other Affiliations Information](https://www.nsf.gov/pubs/policydocs/pappg18_1/pappg_2.jsp#IIC1e) in the PAPPG, which clarifies the collaborations that may be considered COIs.

			If not explicitly mentioned below, you should also consider a COI defined by the preceding NSF practices to be a COI for review of an XSEDE allocation request.

	#procedures:appendix-coi-situations
		:markdown
			## [Presumptive COI Situations](#procedures:appendix-coi-situations)

			Appointment as a XRAC member requires awareness of COI situations that may arise during the evaluation of resource requests. A COI presumptively exists for an XRAC member due to any of the following relationships:

			__Direct involvement in the request__

			* Principal Investigator (PI), Co-Principal Investigator (Co-PI), or other direct participation on the allocation request or project.
			* Direct involvement on any of the funding awards supporting the request.

			__Affiliations with a requester's institution__

			* Current employment (formal or informal) within the same institution.
			* Any affiliation with the requester institution including, but not limited to, current membership on a visiting committee or similar body at the requester's institution, holder of any office, governing board membership, or relevant committee chairpersonship in the requester's institution.
			* Currently seeking employment with the institution.

			__Relationships with an Investigator or other person who has a personal, academic and/or financial interest in the resource request__

			* Known family or marriage relationship.
			* Business or commercial partnership.
			* Present association as primary thesis advisor or thesis student or past association in such a capacity over the last ten years.
			* Professional collaboration involving research and publication over the past four years or as a collaborator on a separate, current resource request or allocated project.

			__Other relationships with the requester or the request__

			The interests of the following persons are treated as if they were the panel member's own:

			* Any relationship, such as close personal friendship, that might affect the member's judgments or be seen as doing so by a reasonable person familiar with the relationship.
			* The resource request lists the reviewer as a person who should not review the resource request.
			* Any other conflicts known to the panel member that would prevent him/her from reviewing a project in a non-biased, fair, and objective way.

			Less common conflicts of interest may arise in situations including but not limited to professional and personal relationship with a requester or requester's department; use of inside information or access to such information; financial, investment, or other ownership interests; use of confidential information; subcontracts with employees their immediate families and their business associates; work with XSEDE contractors; involvement in legal actions against the Federal government and other sponsors; improper use of the XSEDE name or affiliation; and improper use of XSEDE facilities and resources.

	#procedures:appendix-coi-xrac-resp
		:markdown
			## [COI Responsibilities of XRAC Members](#procedures:appendix-coi-xrac-resp)

			The responsibilities of XRAC members and procedures followed with regards to COIs in XRAC activities are those of Disclosure, Avoidance, and Removal. 

			__Disclosure.__ Prior to the assignment of reviewers, the XSEDE Allocation Coordinator will identify and record all known COIs between current resource requests and current XRAC members. In some instances, a COI is known only to the individual panel member. Upon receiving review assignments, each panel member is responsible for immediately declaring any COI, bringing the matter promptly to the attention of the Allocation Coordinator. The Allocation Coordinator-as an objective, disinterested third party-determines how the matter should be handled and what additional steps, if any, to take. All reported COIs for each meeting are recorded.

			__Avoidance.__ Members should avoid all actual and perceived COIs. In the course of their duties with the XRAC, members should avoid situations in which they can influence or appear to influence a decision or course of action, as well as any actions that may give monetary gain or personal benefit to themselves or to those with whom they are associated professionally and personally, as covered under the relationships discussed herein.

			XRAC members are not permitted to view submission details or reviews for any requests with which they have reported COIs. In listing the submitted requests, reviewers can only see that such requests exist and that they have a COI; this display helps each member know when they need to step outside during a review meeting.

			__Removal.__ When an XRAC member is a Principal Investigator (PI) or Co-Principal Investigator (Co-PI) on a resource request to be discussed at the current panel meeting, or a PI or Co-PI on any funding award(s) supporting the resource request, the conflicted member will not participate as a reviewer for that meeting. The conflicted panel member shall neither attend the XRAC meeting to which the resource request was submitted nor review other resource requests submitted to the same meeting.

			When an XRAC member's resource request is below the threshold for requests to be discussed at the meeting, the COI is considered addressed since the request will not be discussed in-person at the meeting. The member may still attend and review requests for the meeting.

			When the Allocation Coordinator has judged that another type of COI exists for a XRAC member, the conflicted panel member shall not have access to the resource request, shall not be assigned as reviewer to the request, and shall leave the room during discussion of the resource request. 

			While most COIs should be identified before the meeting and before review assignments are made, potential COI questions may be raised during the meeting. In such a case, if the Allocations Coordinator and the Chair judge it to be a conflict, the COI will be recorded and the panelist will leave the room. Otherwise, the panelist may continue to participate in the discussions.

	#procedures:appendix-coi-staff-resp
		:markdown
			## [Responsibilities of XSEDE Staff and SP Representatives](#procedures:appendix-coi-staff-resp)

			The XSEDE Allocation Coordinator and supporting XSEDE allocations staff members are required to ensure the smooth functioning of the XRAC meetings and are presumed to be disinterested third parties with respect to all allocation requests. 

			Additional XSEDE staff and SP representatives are permitted to attend and observe XRAC deliberations in a non-reviewer capacity to support those deliberations when requested by XRAC members. In general, one representative from each SP can be designated an "allocation officer," and SP allocation officers are generally exempt from COI policies, unless the individual is directly involved in a resource request. Otherwise, XSEDE and SP staff in attendance must be aware of COI situations and are subject to the same COI rules as XRAC members.

			Active participation by non-reviewers in the deliberations or recommendations of the panel can disrupt the integrity of the impartial review process and must therefore be treated in the same manner as a COI. The meeting or session Chair is responsible for monitoring XSEDE and SP participation and if the XRAC Chair judges that a COI exists for a XSEDE or SP representative or that the representative is actively participating in XRAC deliberations, the conflicted representative shall be asked to leave the room during discussion of the resource request. The meeting Chair can bring conflicted XSEDE or SP staff back into the room to solicit input as needed.


#procedures:appendix-summary
	:markdown
		# [Appendix: Summary of Key Changes](#procedures:appendix-summary)

		Here, we summarize the significant changes from the prior version of the allocation policies. The prior version was last significantly update at some point prior to 2016. The original publication date and history of minor changes were not recorded.

		* __Eligible Categories of Research Activity.__ The eligibility for consortium, aka &quot;block grant,&quot; allocations was removed due to lack of use and lack of appropriate review criteria via these policies. Such requests are now expected to be handled out of the regular review policies via discussion between the consortium, SPs, and NSF.
		* __Review Criteria.__ The Review Criteria have been made more prominent in their own section earlier in the policies (compared to being part of &quot;Preparing Successful [Research] Requests,&quot; Section 7.2, currently. Furthermore, &quot;Supporting Grant Alignment&quot; has been elevated to a formal criterion rather than an additional review consideration.
		* __Project per PI.__ The language regarding this constraint has been clarified to be &quot;should submit&quot; rather than &quot;should consider submitting.&quot; Policy now also explicitly allows XRAC to recommend that a PI split a request into multiple future submissions.
		* __Duration.__ While 12 months remains the default in most cases, Startup projects may have a duration of more than one year, with appropriate grant support, and the allocation period for Education awards now aligns with the associated course or training opportunity. Research projects may be awarded for less than 12 months, if recommended by the XRAC.
		* __Final Reports.__ The requirement to submit a final report is now stated in the policies. (Submission is now implemented via XRAS.)
		* __Startup Projects.__ While noting a &quot;presumption&quot; of a one-time allocation, renewals are explicitly permitted in some situations.
		* __Research Projects.__ The section on Research Projects is considerably shortened, with instructions for writing and preparing documentation moved to the allocations documentation rather than embedded in the policies. Focus is now on intent and general scope of this project type, along with the associated review process.
		* __XRAC Conflicts of Interest.__ The full, formal Conflict of Interest (COI) policy for the review process is now included as an appendix.
		* __Advances.__ Inserted language that advances are a &quot;one-time&quot; option per renewal request.
		* __Eligibility for International Branch Campuses.__ The eligibility text has been updated to address the eligibility of researchers from international branch campuses of US universities, using language consistent with the NSF PAPPG.

