<span style="font-size:235%; font-weight:bold;">Startup Allocations</span><br>
<span style="font-size:95%;"><i>Last update: July 29, 2022</i></span></p>

#top
	:markdown
		<p class="portlet-msg-alert"><span style="font-size:110%;">The NSF XSEDE project will be ending on August 31, 2022 and the new ACCESS project will begin September 1, 2022.  Consult [Allocation Announcements](https://portal.xsede.org/allocations/announcements) for key dates related to the XSEDE to ACCESS transition. See [Advance to ACCESS](https://www.xsede.org/web/advancetoaccess/-/allocations-through-access-what-you-need-to-know-now) for additional information about the new project.</span></p>

		Startup allocations, along with [Campus Champion](#campuschampions) and [Trial](#trial) allocations, are one of the fastest ways to gain access to and start using XSEDE-allocated resources. We recommend that all new XSEDE users begin by requesting Startup allocation.

		Appropriate uses for Startup allocations include:

		* Small-scale computational activities that require the unique capabilities of resources allocated through XSEDE
		* Application development by researchers and research teams
		* Benchmarking, evaluation and experimentation on the various resources
		* Developing a science gateway or other infrastructure software components

		Users may request a single resource or a combination of resources. Each request is subject to [Startup Limits](#sulimits) for each resource, shown in the Startup Request Resource Limits table below. Startup requests are further limited to no more than three separate computational resources, unless the abstract explicitly justifies the need for each resource to the reviewers' satisfaction.

		New or Renewal Startup requests supported by merit-reviewed grants can now ask for allocations to last longer than one year - see below for information on Multi-Year Startup Allocations. In other cases, Startup allocations will continue to be awarded for one year.

		A Principal Investigator (PI) may be awarded only one active Startup project at a time. NOTE: If you have an existing Research or Startup allocation, and would like a Startup-scale allocation on a new resource for the purposes described here, please request a Supplement to your existing project.


		Startup requests require minimal documentation: the project's abstract and the PI's CV.  See below for [requirement details](#requiredcomponents) and [example Startup requests](#examples).  You must have an [XSEDE User Portal](http://portal.xsede.org) account in order to [submit](http://portal.xsede.org/submit-request) requests.

		Upon approval of the Startup allocation request, PIs can request that other users be given accounts to use the allocation. See [Managing Allocations](http://portal.xsede.org/allocations/managing).

#schedule
	:markdown
		# [Submission Schedule](#schedule)

		<p class="portlet-msg-info">Startup allocation requests are evaluated continuously throughout the year.<br><a href="http://portal.xsede.org/submit-request">Click here to submit your Startup request</a>.</p>

		Startup requests are typically reviewed and awarded within two weeks.

#eligibility
	:markdown
		# [Eligibility](#eligibility)

		Startup allocations are available to faculty members and researchers, including postdoctoral researchers, at a U.S.-based institution. Eligible institutions include federal research labs or commercial organizations; however, special rules may apply if your institution is not a university or a two- or four-year college. Investigators with support from any funding source, not just NSF, are encouraged to apply.

#requiredcomponents
	:markdown
		# [Required Components](#requiredcomponents)

		Startup requests require the following elements:

		* **Project Abstract**: The Project Abstract is the most important part of the submission. An ideal abstract will not only describe the research objectives of the project, but also explain briefly why the project needs access to XSEDE resources, state how the requested amounts were estimated, and note why the requested resources were selected.
		* **CVs (2 pages per CV)**: Startup requests require a curriculum vitae (CV) for the PI and for any listed co-PI. CVs should be two pages maximum, in standard NSF or NIH format. The Documents upload section will require a CV upload for the PI and each co-PI entered in the Co-PI information area. 
		* **NSF Fellowship award letter** (if applicable): Graduate students with NSF Fellowship or Honorable Mention awards are eligible to be PIs on a Startup allocation request. Enter your award information in the Supporting Grant section and attach a copy of your NSF award letter to their request. 

#renewals
	:markdown
		# [Renewals](#renewals)
 
		Projects that require computational resources beyond the scale of what a startup allocation can provide in a calendar year are expected to submit a [Research](/allocations/research) request. If your preliminary work indicates an ongoing need for low-level resource requirements, startup renewals are encouraged to be submitted.
 
		The requirements for a renewal startup submission are the same as a new submission with the addition of a required [Progress Report document]() that details the work explored and completed since receiving the initial (or previous renewal) allocation.
 
		PIs with an NSF GRFP award or honorable mention are encouraged to submit renewals to their allocation, as needed. If the allocation requirements of the graduate student grow beyond the level that a startup allocation can provide, they are urged to prepare a Research submission with their advisor (or another eligible person) as PI.
 
= File.read "include/startupsus.html"

#multiyear
	:markdown
		# [Multi-year Startup Allocations](#multiyear)

		XSEDE is now permitting PIs on some Startup requests to ask for their allocations to last up to three years instead of the 12-month default. To request a longer allocation period, select a date on the Title/Abstract screen or section in the submissions form.

		As we roll-out this process, we are only accepting requests for multi-year Startup allocations for submissions that have a supporting science grant that extends longer than 12 months. The Startup allocation can be requested for the duration of the supporting grant.

		For now, the Startup allocation limits are not affected by a multi-year request. As stated above, the request is subject to the Startup Limits for each resource and further limited to no more than three separate computational resources, unless the abstract explicitly justifies the need for each resource to the reviewers' satisfaction.

#examples
	:markdown
		# [Example Startup Requests](#examples)

		* <a href="/documents/10308/29438/Successful+Startup+Request1.pdf">Startup Request - Genetics</a>
		* <a href="/documents/10308/29438/Successful+Startup+Request2.pdf">Startup Request - Volcanology</a>

#rapidaccess
	:markdown
		# [Other Rapid Access Options](#rapidaccess)
 
		In addition to startup allocations, other mechanisms for expedited access to XSEDE resources exist through potential Campus Champions at your institution, or by individual site providers on specific XSEDE-allocated resources.
 

	#rapidaccess-campuschampions
		:markdown
			## [Campus Champion Allocations](#rapidaccess-campuschampions)

			Nearly 200 campuses across the country have designated "Campus Champions" to facilitate and support use of XSEDE-allocated resources by researchers, educators, and students on their campuses. Most Campus Champions have established projects on XSEDE resources, which campus users can access to evaluate systems, conduct benchmark runs, or carry out small-scale research projects.

			[Contact your Campus Champion](https://www.xsede.org/web/guest/current-champions) for fast and easy access to XSEDE-allocated resources or to get help submitting your own allocation request. 

			Please consult the [Campus Champions](https://www.xsede.org/campus-champions) page for more on the program.

	#rapidaccess-trial
		:markdown
			## [Trial Allocations](#rapidaccess-trial)

			XSEDE offers Trial Allocations on some of its major resources.

		#rapidaccess-trial-expanse
			:markdown
				### [Expanse Trial Allocations](#rapidaccess-trial-expanse)

				SDSC now offers Trial Allocations on its Expanse cluster. Trial Allocations are designed to give potential users rapid but limited access to the Expanse resource. Trial allocations are for 1,000 CPU core-hours and/or 100 GPU hours for 6 months. This is sufficient for initial resource evaluation, giving new users the ability to compile and run software and evaluate results. Within one business day, users will be able to log on and evaluate the Expanse system prior to requesting a larger Startup or Research allocation as discussed above.

				To apply for a Trial Allocation on Expanse, create an [XSEDE User Portal](XSEDEUSERPORTAL) (XUP) account. Once you have your XUP account, please [submit a ticket](XSEDEUSERPORTAL/help-desk) to the XSEDE Help Desk.

		#rapidaccess-trial-jetstream
			:markdown

				### [Jetstream Trial Allocations](#rapidaccess-trial-jetstream)

				XSEDE offers [Trial Access Allocations](https://portal.xsede.org/group/xup/jetstream-rapid-access) to Jetstream. These are designed to give potential users simpler but limited access to Jetstream.

				Jetstream Trial Access allocations include:

				* 1000 Service Units
				* 1 small (2-core) Virtual Machine (VM) instance per cloud at a time
				* 1 VM backup snapshot per instance
				* 1 small 10 GB disk external storage volume
				This is enough power to give new users an experience with virtual computing and try some "cloud-native" work, but is not a substantial usage of the system.

				The Trial Access (aka Easy Button) is for exploratory purposes only and currently the limits are hard-wired into the allocation. The additional limits placed on a Trial Access account are not present for Startup and Full allocations. See <a href="http://wiki.jetstream-cloud.org/Jetstream+Trial+Access+Allocation" target="_blank">Jetstream Trial Access Allocations</a> for more information.

				XSEDE currently has quite a rapid turn around on Startup allocations, often less than a week (excluding holidays).

