<div class="page-title"><h1>XSEDE Resource User Guides</h1></div>
:markdown
	<p>Below are links to each resource's user guide. Each guide provides information and instructions on system access, computing environment and running jobs specific to that resource. Resources are listed alphabetically within each resource type: [High Performance Computing](#hpc), [High Throughput Computing](#htc),  [Scientific Visualization](#viz) and [Storage Systems](#storage).</p> <!-- [Special Purpose](#special) systems, [Testbeds](#testbeds) and [Software](#software) -->


<table border="0" cellpadding="5">
<tbody>
<tr>
<td valign="top">
<h4> <a name="hpc"></a>High Performance Computing</h4>


<p><a href="https://portal.xsede.org/purdue-anvil">Anvil</a> (Purdue University) <font color="green"><b>New!</b></font></p>
<p><a href="https://portal.xsede.org/psc-bridges-2">Bridges-2</a> (PSC) 
<!-- p> <a href="https://portal.xsede.org/sdsc-comet">Comet</a> (SDSC) <font color="red"><b>Decommissioned July 2021</b></font></p -->
<p> <a href="https://portal.xsede.org/delaware-darwin">DARWIN</a> (University of Delaware) <font color="green"><b>New!</b></font></p>
<p> <a href="https://portal.xsede.org/ncsa-delta">Delta</a> (NCSA) <font color="green"><i>Coming Q3 2022</i></font></p>
<p><a href="https://portal.xsede.org/sdsc-expanse">Expanse</a> (SDSC)</p>
<p><a href="https://portal.xsede.org/tamu-faster">FASTER</a> (Texas A&M) <font color="green"><i>Production early 2022</i></font></p>
<!-- p> <a href="https://portal.xsede.org/jetstream">Jetstream</a> (IU/TACC) <font color="red"><i>Decommissioning Spring 2022</i></font></p -->
<p> <a href="https://portal.xsede.org/jetstream2">Jetstream2</a> (IU) <font color="green"><i>Production Spring 2022</i></font></p>
<p><a href="https://portal.xsede.org/stonybrook-ookami">Ookami</a> (Stony Brook University) <font color="green"><b>New!</b></font></p>
<p> <a href="https://portal.xsede.org/kentucky-kyric">KyRIC</a> (Univerity of Kentucky) </p>
<p> <a href="https://portal.xsede.org/jhu-rockfish">Rockfish</a> (Johns Hopkins) </p>
<p> <a href="https://portal.xsede.org/tacc-stampede2">Stampede2</a> (TACC) 

</td>
<td width="150">&nbsp;&nbsp;</td>
<td valign="top">
<h4> <a name="storage"></a>Storage Systems</h4>
<p> <a href="https://portal.xsede.org/psc-bridges-2">Ocean</a> (PSC)</p>
<p> <a href="https://portal.xsede.org/osn-user-guide">Open Storage Network</a> <font color="green"><b>New!</b></font></p>
<p> <a href="https://portal.xsede.org/sdsc-expanse#storage">Expanse Storage</a> (SDSC) </p>
<!--<p> <a href="https://portal.xsede.org/sdsc-dataoasis">Data Oasis</a> (SDSC) </p>-->
<p> <a href="https://portal.xsede.org/tacc-ranch">Ranch</a> (TACC)</p>


<h4> <a name="htc"></a>High Throughput Computing</h4>
<p> <a href="https://portal.xsede.org/OSG-User-Guide">Open Science Grid</a></p>

<h4> <a name="viz"></a>Scientific Visualization</h4>
<p> <a href="https://vis.tacc.utexas.edu">TACC Visualization Portal</a> (TACC)<br><style="font-size:90%"><i>available to TACC users</i></span></p>

</td>
</tr>
</tbody>
</table>

:markdown
	XSEDE is committed to providing quality, useful documentation to its users. Please feel free to leave your suggestions and comments at the bottom of each user guide.

	*Last update: August 03, 2022*

