<span style="font-size:225%; font-weight:bold;">Data Oasis User Guide</span><br>
<em>Last update: March 22, 2021</em></p>

<p><span style="font-size:125%; color:red; font-weight:bold;">Data Oasis is no longer available for allocations and will be decommissioned on July 31, 2021.</span>
<hr>

#overview
	%h1 
		%a(href="#overview") System Overview

	%p SDSC Data Oasis is an on-line, high-performance, Lustre-based storage resource with a 5 PB capacity that is available to all users of SDSC Comet. It was designed to meet the needs of data-intensive research by providing easy-to-use, high capacity, short- to medium-term storage with useable bandwidth on the order of 100 GB/s and latencies that are far lower than near-line and tape-based storage systems. However, it is not an archival system and stored data is single-copy and not backed up.
	%p Data Oasis is divided into several file systems, including local scratch spaces for Comet and a shared, persistent 2.5 PB Project space that is available to users with an allocation. All projects on Comet receive a default allocation of 500 GB.

/	#overview:config
/		%h2 
/			%a(href="#overview:config")System Configuration
/
/		%p Data Oasis consists of 64 Object Storage Servers (OSSs) each contributing 72 TB of capacity and connected to two Arista 7508 switches via 2&#215;10GigE links.
/		%p On Gordon, the Data Oasis Project Storage is mounted via 64 I/O nodes which act also as routers. The Gordon compute nodes are connected using QDR Infiniband to the I/O nodes, and each I/O node is connected to Data Oasis's Arista 7508 switches via 2&#215;10GigE links.

/ the test here shows that indenting is not necessary for levels below the first
/ it also shows that 2nd level toc items are bolded when 3rd level is present
/ it also shows that all 2nd level items are bolded, even if only some of them have 3rd levels
/	#overview:config-test
/		%h3 
/			%a(href="#overview:config-test")Test Paragraph
/
/	%p Here is a test paragraph.


#access
	%h1 
		%a(href="#access")System Access

	#access:allocations
		%h2 
			%a(href="#access:allocations")Allocations
		%p The default allocation is 500 GB of Project Storage to be shared among all users of a project. Projects that require more than 500 GB of Project Storage must request additional space by sending an email to help@xsede.org. This e-mail from the project PI should provide a 500 words-or-less justification that includes:
		%ol 
			%li Amount of storage being requested
			%li How the storage will be used
			%li How this augments other non-SDSC storage resources available to the project

		%p The projects storage requests will be reviewed by SDSC staff, and a decision will be made within 5 business days.

	#access:methods
		%h2 
			%a(href="#access:methods")Methods of Access
		%p The Data Oasis Project Storage space is mounted on Comet and can be accessed as a filesystem on all login and compute nodes. Each user's personal space can be found in 
		%pre /oasis/projects/nsf/<strong><em>allocationname</em></strong>/<strong><em>username</em></strong>
		%p where <em><code>allocationname</code></em> is the project's six-character allocation name (found by running the <code>show_accounts</code> command) and <code><em>username</em></code> is the user's local login name.
		%p Since Data Oasis is mounted as a standard filesystem, UNIX file transfer utilities such as <code>scp</code>, <code>sftp</code>, and <code>rsync</code> can be used for transfers of modest size or scale. To enable the efficient transfer of larger amounts of data, Data Oasis is also mounted on the SDSC data mover servers:
		%ul
			%li <code>oasis-dm.sdsc.edu</code> (for users with accounts on Comet)
		%p These data movers can be used in conjunction with Globus Online and GridFTP, which are discussed in the <a href="#transferring:methods">Data Transfer Methods</a> section below and the XSEDE <a href="https://www.xsede.org/data-management">Data Transfers &amp; Management</a> page.

	#access:quota
		%h2 
			%a(href="#access:quota")Checking your Quota
		%p You can review your group's project storage utilization with the following command:
		<pre>$ lfs quota -g <project> /oasis/projects/nsf</pre>


#transferring
	%h1 
		%a(href="#transferring")Data Transfer on Data Oasis

	#transferring:methods
		%h2 
			%a(href="#transferring:methods")Data Transfer Methods

		%p While using the standard UNIX file transfer tools (<code>scp</code>, <code>sftp</code>, <code>rsync</code>) is acceptable for simple and small file transfers (&lt; 1 GB) to and from Data Oasis, they cannot realize the maximum performance of the Data Oasis storage resource because of their limited internal buffers and inability to stripe transfers across multiple data mover servers. The preferred method for transferring big data (both large file sizes and large numbers of files) is using GridFTP (a part of the Globus Toolkit). Keep in mind that attempting to transfer large numbers of small files will result in poor performance. Whenever possible, create archives of directories with large file counts before initiating the data transfers.

		%p The XSEDE <a href="https://www.xsede.org/data-management">Data Transfers &amp; Management</a> page provides a detailed explanation of how to use GridFTP and its associated GUI- and terminal-based tools in XSEDE. To facilitate GridFTP with SDSC Data Oasis, the following data mover has Data Oasis mounted under <code>/oasis/projects/nsf</code>:
		%ul
			%li Comet: <code>gsiftp://oasis-dm.sdsc.edu:2811/</code> (XUP File Manager/globus-url-copy) or xsede#comet (Globus)
		%p The data movers are load-balanced in a round-robin fashion, but advanced users may wish to access the individual data movers explicitly via oasis-dm1, oasis-dm2, oasis-dm3 and oasis-dm4.

	#transferring:examples
		%h2 
			%a(href="#transferring:examples")Examples

		%p globus-url-copy provides the greatest flexibility for optimizing transfers between XSEDE resources. To transfer a file from another XSEDE resource (e.g., TACC Stampede) to SDSC Comet,
		<pre>
		$ <strong>module load globus</strong>
		$ <strong>myproxy-login -l <em>xsedeusername</em></strong></pre>
		
		%p This will load the commands to use GridFTP and generate the GSI credential needed to access <em>xsedeusername</em>'s accounts across XSEDE Resources. Then,
		<pre>
		$ <strong>globus-url-copy -vb -stripe -tcp-bs 8m -p 4 \
		&nbsp;&nbsp;&nbsp;&nbsp;gsiftp://data1.stampede.tacc.utexas.edu:2811///home1/02255/<em>username</em>/somefile.bin \
		&nbsp;&nbsp;&nbsp;&nbsp;gsiftp://oasis-dm.sdsc.xsede.org:2811///oasis/projects/nsf/<em>allocation</em>/<em>username</em>/somefile.bin</strong></pre>
		
		%p where
		%ul
			%li &quot;<code>-vb</code>&quot; enables verbosity (report transfer rate, among other things)
			%li &quot;<code>-stripe</code>&quot; enables striped transfers
			%li &quot;<code>-tcp-bs 8m</code>&quot; specifies a 8 megabyte TCP buffer. The optimal value for this will vary; Globus provides a way to <a href="http://toolkit.globus.org/toolkit/docs/5.0/5.0.2/data/gridftp/user/#globus-url-copy-tcpbuffervalue">estimate the optimal tcp-bs value</a> in its documentation
			%li &quot;<code>-p 4</code>&quot; indicates that four parallel data connections should be used
		
		%p By comparison, the equivalent transfer using <code>scp</code> would be:

		<pre>
		$ <strong>scp login1.stampede.tacc.utexas.edu:/home1/02255/<em>username</em>/somefile.bin \
		&nbsp;&nbsp;&nbsp;&nbsp;/oasis/projects/nsf/<em>allocation</em>/<em>username</em>/</strong></pre>
		
		%p In the case of a 341 MB file transfer test case, GridFTP achieved an average 171 MB/s while <code>scp</code> achieved only 34.1 MB/s. When transferring terabytes of data, GridFTP is clearly preferable. 

	#transferring-caveats
		%h2 
			%a(href="#transferring-caveats")Caveats to Users

		%p This resource is based on a Lustre filesystem which has some limitations. A comprehensive list of Lustre best-practices is beyond the scope of this guide, but it is important to minimize unnecessary access of file metadata. For example,
		%ul
			%li avoid performing many small file operations: opens/closes, random reads/writes
			%li avoid putting too many (e.g., more than several hundred) files in one directory
			%li avoid using &quot;<code>ls -l</code>&quot; unnecessarily, and consider using &quot;<code>ls --color=no -U</code>&quot; when navigating Data Oasis
			%li limit unnecessary use of wildcards on the command line
			%li avoid using the &quot;<code>find</code>&quot; and &quot;<code>du</code>&quot; commands. Use &quot;<code>lfs find</code>&quot; and &quot;<code>lfs du</code>&quot; instead

		%p The &quot;<code>lfs</code>&quot; command can be enabled by running &quot;<code>module load lustre</code>&quot; on Comet.

	#transferring-troubleshooting
		%h2 
			%a(href="#transferring-troubleshooting")Troubleshooting / Common Errors

		%ul
			%li <strong>Problem:</strong> Any attempts to access files on Data Oasis just hang OR access is extremely sluggish/unresponsive<br><strong>Solution:</strong> This can occur on both login nodes and compute nodes and typically results from Data Oasis being overloaded. These conditions typically "un-hang" within a few minutes; if they persist for longer, contact <a href="mailto:help@xsede.org">help@xsede.org</a> with the system (or specific compute nodes) on which this is occurring.
			%p
			%li <strong>Problem:</strong> <code>/oasis/projects/nsf</code> exists but is empty<br><strong>Solution:</strong> This problem is infrequent and should be reported to <a href="mailto:help@xsede.org">the XSEDE helpdesk</a> with the system (or specific compute nodes) on which this is occurring.

#refs
	%h1 
		%a(href="#refs")Reference
	%ul
		%li 
			%a(href="http://toolkit.globus.org/toolkit/docs/5.0/5.0.2/user/#gtuser-data")Globus Toolkit User Guide: Data Management
		%li 
			%a(href="http://www.citutor.org/login.php?course=61")Using the Lustre File System

#policies
	%h1 
		%a(href="#policies")Policies
	%p SDSC Data Oasis Projects Storage is provided on a per-project basis and is available for the duration of the associated compute allocation period. Data will be retained for three months beyond the end of the project, by which time the data must be migrated elsewhere.
	%p Data Oasis Projects Storage is <em>not</em> subject to automatic purges, but be aware that the data stored there is single-copy and not backed up! Users are responsible for ensuring that critical data are duplicated elsewhere. Data accidentally deleted from Data Oasis cannot be recovered.

