:markdown

	## A. Introduction
	XSEDE has identified over 60 user facing use cases that document specific ways users need to use XSEDE's infrastructure. From those user facing use cases XSEDE distilled 12 canonical use cases that document the core (common) system functions needed by user facing use cases.
 
	XSEDE has delivered production components supporting almost all the core (common) system functions in the canonical use cases and many of the 60 user facing use cases, thus enabling users to perform some (but not all) of the functions in those use cases.
 
	This page documents XSEDE production components that have APIs and provides pointers to API documentation and client coding examples that software and service developers, such as Science Gateways developers, can reference.

%hr

:markdown
	## B. Security: Authentication, Authorization, and Identity Management

	### Relevant Use Cases

	* Authenticate to one or more SP resources, SP services, and XSEDE central services ([UCCAN 6.0](https://www.ideals.illinois.edu/handle/2142/88830))
	* Use Identity and Access Management ([UCCAN 9.0](https://www.ideals.illinois.edu/handle/2142/73214))

	### Globus Identity Management

%dl
	%dt
		%b Synopsis
	%dd Globus Auth is a foundational identity and access management (IAM) platform service, used for brokering authentication and authorization interactions between end-users, identity providers, resource servers (services), and clients (including web, mobile, desktop, and command line applications, and other services).  <p>Globus Auth is compliant with the OAuth2 and OpenID Connect standards, but extends them to support use cases that are beyond the scope of those standards.
	%dt
		%b Documentation
	%dd <a href="https://globus-sdk-python.readthedocs.io/en/stable/">Globus SDK for Python</a>
	%dd <a href="https://docs.globus.org/api/auth/">https://docs.globus.org/api/auth/</a>
	%dd <a href="http://software.xsede.org/development/xsede-identity-management/2-legged_Java/">http://software.xsede.org/development/xsede-identity-management/2-legged_Java/</a> (2-legged Java client example)
	

:markdown
	### MyProxy

%dl
	%dt
		%b Synopsis
	%dd Integrating MyProxy clients into your application allows you to authenticate and obtain X.509 certificates for your users. Using the MyProxy client API with the myproxy.xsede.org server allows applications to verify XSEDE Kerberos passwords and obtain short-lived XSEDE-accepted certificates.
	%dt
		%b Documentation
	%dd <a href="http://grid.ncsa.illinois.edu/myproxy/devguide.html">http://grid.ncsa.illinois.edu/myproxy/devguide.html</a>
	

:markdown
	### MyProxy OAuth

%dl
	%dt
		%b Synopsis
	%dd The MyProxy OAuth API allows clients to authenticate users and obtain X.509 certificates for users. It is compliant with OAuth 1.0a, OAuth 2.0, and OpenID Connect. Using the MyProxy OAuth API with the oa4mp.xsede.org server allows clients to authenticate XSEDE users and obtain XSEDE-accepted short-lived certificates.
	%dt
		%b Documentation
	%dd <a href="http://grid.ncsa.illinois.edu/myproxy/oauth/client/manuals/api-reference.xhtml">http://grid.ncsa.illinois.edu/myproxy/oauth/client/manuals/api-reference.xhtml</a>
	

:markdown
	### CILogon

%dl
	%dt
		%b Synopsis
	%dd CILogon provides a standards-compliant OpenID Connect (OAuth 2.0) interface to federated authentication. Clients can use this interface to authenticate users via their home campus identity providers (e.g., via InCommon SAML authentication) and optionally obtain short-lived X.509 certificates for users.
	%dt
		%b Documentation
	%dd <a href="http://www.cilogon.org/oidc">http://www.cilogon.org/oidc</a>
	

:markdown
	### Genesis II WS-STS

%dl
	%dt
		%b Synopsis
	%dd Implements WS-Trust standard for Secure Token Service (STS), with variants for GFFS grid user, Kerberos and Globus Auth authentication processes.
	%dt
		%b Documentation
	%dd <a href="https://drive.google.com/open?id=0Bw2MSQzDg55bdmNYZGtGNmJkZGs">https://drive.google.com/open?id=0Bw2MSQzDg55bdmNYZGtGNmJkZGs</a>
	%dt
		%b Client Examples
	%dd <a href="https://drive.google.com/open?id=0Bw2MSQzDg55bUXYwaVlSWDVHRkk</a">https://drive.google.com/open?id=0Bw2MSQzDg55bUXYwaVlSWDVHRkk</a>
	


%hr
:markdown
	## C. Data: Movement and Management

	### Relevant Use Cases

	* Managed File Transfer ([UCCAN 2.0](https://www.ideals.illinois.edu/handle/2142/48673))
	* Remote File Access ([UCCAN 3.0](https://www.ideals.illinois.edu/handle/2142/45687))

	### Globus Transfer

%dl
	%dt
		%b Synopsis
	%dd Globus' transfer service is software-as-a-service for file transfer and sharing. Designed specifically for researchers, Globus provides fast, reliable, and secure file transfer among XSEDE resources or between an XSEDE resource and another machine (such as a campus cluster, lab server, or personal computer). Globus is core campus bridging technology that enables researchers to scale their computational research from the desktop, across campus, and to national cyberinfrastructure. Beyond file transfer, Globus allows researchers to securely share data with collaborators directly from existing systems, without investing in additional campus or cloud storage just for the purposes of sharing.
	%dt
		%b Documentation
	%dd <a href="https://portal.xsede.org/software/globus">https://portal.xsede.org/software/globus</a>
	

:markdown
	### GridFTP

%dl
	%dt
		%b Synopsis
	%dd GridFTP is a high-performance, secure, reliable data transfer protocol optimized for high-bandwidth wide-area networks. In the XSEDE system architecture, GridFTP is a service-layer interface for data transfer. (The higher-level, access-layer interface is Globus transfer, see above.) The GridFTP protocol is based on FTP, the highly-popular Internet file transfer protocol. We have selected a set of protocol features and extensions defined already in IETF RFCs and added a few additional features to meet requirements from current data grid projects.
	%dt
		%b Documentation
	%dd <a href="http://toolkit.globus.org/toolkit/docs/latest-stable/gridftp/developer/index.html">http://toolkit.globus.org/toolkit/docs/latest-stable/gridftp/developer/index.html</a>
	

:markdown
	### Genesis II GFFS

%dl
	%dt
		%b Synopsis
	%dd Provides global file system for researcher data sharing and job submission.
	%dt
		%b Documentation
	%dd <a href="https://drive.google.com/open?id=0Bw2MSQzDg55bdmNYZGtGNmJkZGs">https://drive.google.com/open?id=0Bw2MSQzDg55bdmNYZGtGNmJkZGs</a>
	%dt
		%b Client Examples
	%dd <a href="https://drive.google.com/open?id=0Bw2MSQzDg55bUXYwaVlSWDVHRkk">https://drive.google.com/open?id=0Bw2MSQzDg55bUXYwaVlSWDVHRkk</a>


%hr
:markdown
	## D. Execution: Job Execution and Management

	### Relevant Use Cases

	* Run a Remote Job ([UCCAN 1.0](https://www.ideals.illinois.edu/handle/2142/45685))
	
	### UNICORE / Execution Management Service

%dl
	%dt
		%b Synopsis
	%dd UNICORE is a Grid middleware offering services for program execution and data movement on remote computers via the internet. It specializes on massively parallel applications typically running on large computing clusters and supercomputers utilizing their resource management systems (job schedulers and batch systems) to distribute work efficiently.
	%dt
		%b Documentation
	%dd
		%ul
			%li <a href="https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial/">https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial/</a>
			%li <a href="https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Jobs/">https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Jobs/</a>
			%li <a href="https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Security/">https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Security/</a>
	

:markdown
	### GSI OpenSSH

%dl
	%dt
		%b Synopsis
	%dd Enables remote login and shell access using X.509 credentials
	%dt
		%b Documentation
	%dd Programs can fork/exec the GSI OpenSSH client and send shell commands to be executed on the remote machine.  <a href="http://www.openssh.com/manual.html">http://www.openssh.com/manual.html</a>

%hr
:markdown
	## E. Information: Publishing and Discovery

	### Relevant Use Cases

	* Subscribe for Resource Information ([UCCAN 7.0](https://www.ideals.illinois.edu/handle/2142/48902))
	* Search for Resource Information ([UCCAN 8.0](https://www.ideals.illinois.edu/handle/2142/48903))
	* Publish Resource Information ([UCCAN 11.0](https://www.ideals.illinois.edu/handle/2142/48904))
	* Update Resource Information ([UCCAN 12.0](https://www.ideals.illinois.edu/handle/2142/48905))

	### AMQP Publishing and Subscribe

%dl
	%dt
		%b Synopsis
	%dd Enables asynchronous publishing of and subscription to XSEDE resource information.
	%dt
		%b Documentation
	%dd
		%ul
			%li <a href="http://software.xsede.org/production/documentation/XSEDE_AMQP_UserGuide-v20150127.pdf">http://software.xsede.org/production/documentation/XSEDE_AMQP_UserGuide-v20150127.pdf</a>
			%li <a href="http://software.xsede.org/production/documentation/XSEDE_AMQP_Design-v20140516.pdf">http://software.xsede.org/production/documentation/XSEDE_AMQP_Design-v20140516.pdf</a>
			%li <a href="http://amqp.readthedocs.org/">http://amqp.readthedocs.org/</a>
	

:markdown
	### REST API Publish and Query
%dl
	%dt
		%b Synopsis
	%dd Enables synchronous publishing and query based discovery of XSEDE infrastructure resource information.
	%dt
		%b Documentation
	%dd <a href="https://info1.dyn.xsede.org/wh1/api-docs/">https://info1.dyn.xsede.org/wh1/api-docs/</a>
	

:markdown
	### UNICORE Registry

%dl
	%dt
		%b Synopsis
	%dd Enables synchronous publishing and query based discovery of XSEDE UNICORE infrastructure resource information.
	%dt
		%b Documentation
	%dd
		%ul
			%li <a href="https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial/">https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial/</a>
			%li <a href="https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Registry/">https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Registry/</a>
			%li <a href="https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Security/">https://sourceforge.net/p/unicore/wiki/BasicClientCodeTutorial_Security/</a>


:markdown
	*Last update: July 07, 2018* 
