:markdown

	Through the Extended Collaborative Support Service (ECSS) program researchers can request XSEDE computing, storage, and visualization resources through a peer-reviewed allocations process.  Researchers can also request to be paired with expert staff members for an extended period (weeks up to a year). ECSS staff provide expertise in many areas of advanced cyberinfrastructure and can work with a research team to advance their work through that knowledge.

	ECSS services and capabilities can best be described by our Mission Statement:

	> Improve the productivity of the XSEDE user community through both successful, meaningful collaborations and well-planned training activities in order to optimize their applications, improve their work and data flows, and increase their effective use of the XSEDE digital infrastructure; engage with members of underrepresented demographic communities and in underrepresented domain areas to broadly expand the XSEDE user base.

	Expertise is available in a wide range of areas, from performance analysis, petascale optimization, efficient use of accelerators, I/O optimization, data analytics and visualization to the development of community gateways and work and data flow systems. Particular areas of focus in ECSS include an emphasis on Novel and Innovative Projects (NIP). In NIP, candidate research problems are actively solicited from domains, institutions and communities that can exploit advanced computing capabilities but have not traditionally made use of these facilities.


	ECSS staff also provide support for community codes, both by optimizing codes brought to the program by the user community and by proactive involvement with NSF-funded software programs. Staff experts support XSEDE's training, education, and outreach activities to foster integration of research and education and can travel to any campus that demonstrates strong demand by working with the [XSEDE Campus Champions](https://www.xsede.org/campus-champions) program.

	The XSEDE Champions Fellows program selects Champions who work as part of an ECSS project team alongside ECSS experts and the researchers they assist. This enables Champions to learn ECSS techniques and bring them back to their campuses..

	A request for extended support to enhance the effectiveness and productivity of work can accompany any application for an allocation including Startups, or it can be submitted stand-alone as a Supplement to an active allocation. After a successful review and assessment, ECSS staff will be assigned to the project and a workplan developed in collaboration with the requesting researcher.

	Requests must address these five questions:

	<p style="margin-left:19.5pt;">
	1.&nbsp;&nbsp;&nbsp;&nbsp;What do you want to accomplish with the help of expert staff? Have you already done any work on this aspect of your software?
	<p style="margin-left:19.5pt;">
	2.&nbsp;&nbsp;&nbsp;&nbsp;How would the success of this collaboration benefit your project?
	<p style="margin-left:19.5pt;">
	3.&nbsp;&nbsp;&nbsp;&nbsp;Which member(s) of your team would collaborate with ECSS staff?
	<p style="margin-left:19.5pt;">
	4.&nbsp;&nbsp;&nbsp;&nbsp;Have you had significant interaction on previous projects related to your current proposal or discussed your extended support needs with any XSEDE staff? If so, please indicate with whom.
	<p style="margin-left:19.5pt;">
	5.&nbsp;&nbsp;&nbsp;&nbsp;Have you received XSEDE advanced support in the past? If so, please indicate the time period, and how the support you received then relates to the support you request now.

	For a sample request please view the [ECSS Justification Page](https://portal.xsede.org/ecss-justification).

	For a list of current and past projects please view the [ECSS Project Page](https://www.xsede.org/web/guest/ecss-projects).

	*Last update: April 4, 2014*
